[2020-07-21 07:55] Amplifiyer opened #5 "[RFC]: Amplify Flutter"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding support for Amplify library in Flutter platform.  Please feel free to post comments or questions here._

## Purpose
Currently there is no official support for integrating with Amplify libraries in Flutter apps. This RFC goes over a proposal to build and release Amplify libraries in pub.dev that can b

[2020-08-19 15:27] justinfargnoli opened #62 "Setting up a Flutter project"
**Which Category is your question related to?**
CLI (`amplify init`)

**Amplify CLI Version**
4.27.2

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
![Screen Shot 2020-08-19 at 11 21 22 AM](https://user-images.githubusercontent.com/34139864/90654174-17817100-e20e-11ea-9a36-49d0dba3fc35.png)
(There are no other options below javascript in the dro

[2020-08-19 18:38] andyfurniss4 commented on #5
Glad to hear that Amplify support is coming.

Can I please request that this supports custom authentication flows?

The current Amplify documentation pages for [Android](https://docs.amplify.aws/sdk/auth/custom-auth-flow/q/platform/android#custom-authentication-in-amplify) and [iOS](https://docs.amplify.aws/sdk/auth/custom-auth-flow/q/platform/ios#custom-authentication-in-amplify) suggest initiati

[2020-08-19 19:38] haverchuck commented on #62
@justinfargnoli The README in our Github repo pointed users to the instructions for the stable install of the CLI, instead of the Flutter preview.  We have corrected the issue.  As noted above, you need to run `npm install -g @aws-amplify/cli@flutter-preview`.

[2020-08-19 19:39] #62 closed

[2020-08-20 15:13] haverchuck commented on #5
@andyfurniss4 Thanks for your feedback - we will definetely investigate this feature request!

[2020-08-20 15:17] PiotrWpl opened #67 "Authenticate via social media"
Hi,

is there any way to use this package for authentication via Facebook/Google/Apple?

BTW: I'm really glad that we will finally have an official amplify-flutter package! Fingers crossed

[2020-08-20 17:31] haverchuck commented on #67
@PiotrWpl Social sign-in is not currently available, but it is on the roadmap!

[2020-08-20 18:34] PiotrWpl commented on #67
It would be great to have this working out of the box. Because currently, it's the most painful task for us in integration with Cognito from our Flutter app.

Can't wait for that!

[2020-08-20 18:45] hpoul commented on #5
Are there any plans to actually implement the client libraries in native dart code? Would be nice not to rely on platform messages to just bridge everything to the android/iOS libraries, this would make it work on all platforms (ie. also on desktop platforms macos, windows, linux). It gets really great when you can use the same code for mobile and desktop ;-)

[2020-08-20 19:20] Salakar opened #71 "[off-topic] monorepo tooling"
Off topic a bit but wondering if you've considered using some tooling to help manage this monorepo and all the packages?

We built Melos for this purpose; https://github.com/invertase/melos - and might be useful :) we built this to help manage over 40 packages on the FlutterFire repo; https://github.com/FirebaseExtended/flutterfire/blob/master/melos.yaml - definitely helps to have all the packages

[2020-08-20 19:29] haverchuck commented on #71
@Salakar Thanks for your post - we will definitely take a look at this.

[2020-08-20 19:29] #71 closed

[2020-08-20 19:35] haverchuck commented on #67
@PiotrWpl Moving this issue over to 'discussions'.

[2020-08-20 19:35] #67 closed

[2020-08-20 20:01] Rayv1 opened #73 "Amplify-CLI not working (amplify add auth)"
**Describe the bug**
I installed the latest Version of ampliy-cli for flutter and i could run amplify-init and so on. But when i try to add auth "amplify add auth" and select something, the cli instantly exit. This also happens when i try to add storage and the cli asks then for auth.

**To Reproduce**
On Windows 10, install the Version 4.26.1-flutter-preview.0 and run "amplify add auth"

**Expect

[2020-08-20 20:12] haverchuck commented on #73
@Rayv1 We will take a look at this behavior.  In the meantime, [our documentation shows the expected structure of the config](https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter).

[2020-08-20 20:45] haverchuck commented on #73
@Rayv1 I've confirmed the functionality on a Windows machine; when you ran into this issue, the CLI crashed after the question `How do you want users to be able to sign in? (Use arrow keys)`?

[2020-08-21 01:33] fjnoyp opened #77 "Amplify Auth - Example App - Android Exceptions"
**Describe the bug**

When running the example app within the Amplify Auth category of this repo, when clicking on the "configure" "get user details" and "sign out" buttons, etc. within an Android Emulator device, I get Android Exceptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Auth category's example app
2. Run the example app
3. Click on the configure button and other button

[2020-08-21 01:38] fjnoyp commented on #77
This issue does not happen on the example app ... So it might be a configuration issue I made on my machine or something specific to just this auth example app as well

[2020-08-21 07:55] Rayv1 commented on #73
@haverchuck yes exactly. I started my Command Line from vscode and it exits when i select one of the first three. When i click on "i want to learn more" its not exiting.

[2020-08-21 08:24] vmadupu9 commented on #5
In future can we expect Amazon SNS wrapper as part this package ?  This will give us the ecosystem of various AWS features in single package.

[2020-08-21 17:50] magicmass opened #80 "No implementation found for method configure on channel com.amazonaws.amplify/core"
**Describe the bug**
When running the example app and viewing the loading page to the it will show a Missing plugin exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the example app
2. Run the example app
3. See error

**Expected behavior**
No exceptions thrown
**Screenshots**
Exception which i receive:

[ERROR:flutter/lib/ui/ui_dart_state.cc(167)] Unhandled Exception: Missing

[2020-08-21 20:01] fjnoyp opened #81 "Example App - CLI Getting Started - Android - AMPLIFY_SIGNUP_FAILED - NullPointerException, CognitoUserPool"
I've run into a similar issue. I can also confirm that used `flutter pub get` to pull the packages in, and used amplify cli to initialise auth and analytics.
One thing to note tho that the analytics seem to work fine, and it's only the Auth that fails.

Error:

`E/amplify:flutter:auth_cognito(11377): AMPLIFY_SIGNUP_FAILED
E/amplify:flutter:auth_cognito(11377): AmplifyException {message=Sign up fai

[2020-08-23 17:30] haverchuck commented on #5
@Dedecube OAuth authentication is definitely on the roadmap!

[2020-08-24 15:56] haverchuck commented on #80
@magicmass Which flutter sdk version are you using?

[2020-08-24 16:07] iso57 opened #82 "For datastore aws"
Hi,

Datastore with Flutter for when ?

[2020-08-24 16:25] jamesonwilliams commented on #82
@iso57 requested [in the RFC as well](https://github.com/aws-amplify/amplify-flutter/issues/5#issuecomment-678649987)

[2020-08-24 16:27] #82 closed

[2020-08-26 04:49] mattRiddoch opened #86 "Platform exception when initializing"
**Describe the bug**
When running the app
`await amplifyInstance.configure(amplifyconfig);`
raises this error:
`PlatformException (PlatformException(AmplifyException, Failed to Configure Amplify, The operation couldn’t be completed. (Amplify.PluginError error 2.), null))
`
**To Reproduce**
Steps to reproduce the behavior:
1. Follow docs starting here: https://docs.amplify.aws/lib/project-setup/cre

[2020-08-26 16:09] Ashish-Nanda commented on #86
Hi @mattRiddoch

Could you try removing the storage dependency you have in your pubspec.yaml?

It is possible the `configure` call is failing since you do not have any storage config in your `amplifyconfiguration.dart`.
That is also where your code differs from the docs setup steps.

Please run a `flutter clean` and then `flutter run` after as well.

[2020-08-26 16:25] mattRiddoch commented on #86
Yeah removing the storage dependency did the trick!  I will take the liberty of closing this out.

[2020-08-26 16:25] #86 closed

[2020-08-26 17:01] #81 closed

[2020-08-26 18:14] fjnoyp commented on #77
Related to my local configuration of locally hosted pub dependencies and local file pub dependencies causing conflicts when running the example apps.

[2020-08-26 18:14] #77 closed

[2020-08-27 02:26] mattRiddoch opened #87 "Fatal error when trying to upload image to s3 bucket"
**Describe the bug**
Unexpectedly found nil while implicitly unwrapping an Optional value: file..../ios/Pods/AmplifyPlugins/AmplifyPlugins/Storage/AWSS3StoragePlugin/AWSS3StoragePlugin+ClientBehavior.swift, line 157
passing the file from the imagepicker
upload snippet:
[code]
crashing swift snippet (crashes on storageService):
[code]
I have an authenticated user.

**To Reproduce**
Steps to reprodu

[2020-08-27 03:42] danielvtan opened #88 "iOS: Fatal error: Unexpectedly found nil while unwrapping an Optional value: file Pods/AWSMobileClient/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift, line 211"
**Describe the bug**
iOS app crash when logging in

**Expected behavior**
Should be able to login

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducable in (check all that apply):
[] Android
[X] iOS

**Smartphone (please complete the following information):**
 - Device: iPhone 8
 - OS: iOS 13.3

**Additional context**
Add any other context about the problem her

[2020-08-27 10:57] danielvtan commented on #88
Issue was. we had a third party flutter cognito plugin installed. removing it resolved the issue

[2020-08-27 10:57] #88 closed

[2020-08-27 16:18] danielvtan opened #89 "Build failed: can't run example project in ios"
**Describe the bug**
Cant run example project in ios. build failed
**Note: project is running in android. able to login and s3 is working.**

**To Reproduce**
Steps to reproduce the behavior:
1. use example project
2. add amplifyconfiguration.json manually
3. remove pinpoint (also commented all pinpoint code). pub get. flutter clean
4.  pod install. flutter clean
5. run in ios simulator

**Expecte

[2020-08-27 19:04] mlabieniec commented on #89
@danielvtan have you tried regenerating the podfile via the instructions in the log and:

[code]

Then modify the ios/Podfile and replace the second line with: platform :ios, '11.0'.

[2020-08-27 19:14] Ashish-Nanda commented on #89
@danielvtan which version of Xcode are you using?

Could you try with > 11.4 and let us know if that works.

[2020-08-27 22:14] shravyamachanna opened #90 "amplify-flutter upload to s3 fails on both iOS and android"
I used the below s3 upload code to try uploading the file to our **public** bucket but I get an exception on iOS and android.

[code]
Exception on Android :

[code]
Exception on iOS :
[code]
I also get the below error sometimes
[code]
 This issue is reproducible in :
 Android
 iOS

[2020-08-27 23:06] kjones commented on #80
I am seeing something similar.
1. On Android, run the example app
1. When the LandingPage is shown with the "Sign In" and "Sign Up" buttons, hit the back button until the Android home screen is displayed.
1. Hit the Android app switcher button (rightmost) and return to the example app. App stays on the LoadingPage.

[2020-08-28 00:00] Ashish-Nanda commented on #90
@shravyamachanna

Did you set up your backend with the CLI? Have you enabled access for guest users?
If not you may need to log in before uploading.

[2020-08-28 08:12] danielvtan commented on #89
@Ashish-Nanda Updated to Xcode 11.6 from 11.3 and it now works! It took me a little bit time as i need to update to macos catalina. Shoud you add this in the requirement list. or i just missed  it. Thanks anyway!

[2020-08-28 08:12] #89 closed

[2020-08-28 13:22] danielvtan opened #93 "Signing in without calling signing out does not work in ios but works in android"
**Describe the bug**
Should work or should not work for both android and ios to maintain uniformity

**To Reproduce**
Steps to reproduce the behavior:
1. run example in android and ios
2. remove `Amplify.Auth.signOut` code before `Amplify.Auth.signIn`. run (will work in android. will fail in ios)
3. See error

**Expected behavior**
Should work/not work in both android and ios

**Platform**
Amplify

[2020-08-28 15:35] shravyamachanna commented on #90
@Ashish-Nanda

I used existing AWS resources. I haven't used CLI to set it up.

Our use case is to make authenticated users upload to a bucket with their identityId.. as it isn't working either. I have tried the Cognito auth user who is logged In to upload image to the public bucket.

amplifyconfiguration.dart :
[code]

[2020-08-28 17:08] Ashish-Nanda commented on #93
@danielvtan We are aware about this issue and are looking into it.
@haverchuck Do you have some additional context?

[2020-08-28 21:38] Ashish-Nanda commented on #90
@shravyamachanna, the terminology `public` can be confusing sometimes. I suspect you have a `public` folder in the bucket but the bucket is not truly `public` allowing anyone to upload/read from it as that would not be a good practice from a security standpoint, and we recommend you scope down the permissions.

Since you have set up your Cognito resources manually and not using the CLI, looking at

[2020-08-28 22:12] shravyamachanna commented on #90
@Ashish-Nanda

Previously I used to upload using the same credentials on iOS and Android and it used to work fine(IAM roles are exactly the same now). I used to use flutter platform channel to call AWS SDK for iOS and Android. Now I'm migrating to flutter Amplify.

Bucket properties haven't changed as it is still working fine when I upload it using iOS or Android AWS SDK.

As far as the public goe

[2020-08-28 22:15] Ashish-Nanda commented on #87
@mattRiddoch can you confirm that value.path is indeed a valid file path before passing it to the uploadFile() API? I suspect it may be `null`

[2020-08-28 22:31] mattRiddoch commented on #87
@Ashish-Nanda Here is what the path looks like:
`/Users/mattriddoch/Library/Developer/CoreSimulator/Devices/F694C06D-4AEA-490F-BE99-CB8635D94192/data/Containers/Data/Application/2F52DFEB-FD29-4F4E-A364-EEB065717896/tmp/image_picker_26878D92-6B72-499F-BB77-8DE1FFF011FC-52750-0000DACF01486E63.jpg`
The image is coming from the library via `image_picker: ^0.6.7+4` in the simulator.

[2020-08-31 19:22] Rayv1 opened #94 ""Hot restart" is causing a subsequent call to `Amplify.configure`"
**Describe the bug**
PlatformException (PlatformException(AmplifyException, The client issued a subsequent call to `Amplify.configure` after the first had already succeeded., {cause: null, recoverySuggestion: Be sure to only call Amplify.configure once}))

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reprodu

[2020-08-31 19:53] fjnoyp commented on #94
Hi @Rayv1 thanks for bringing this issue to our attention.

Our Amplify Flutter framework currently supports hot reloading but not hot restarting.

For now, we recommend hot reloading or stopping and starting the the app in VSCode.  Please let us know if that would be a major problem for you and your workflow.

We will look into how we might fix this issue in the future.

[2020-08-31 22:13] fjnoyp commented on #90
Hi @shravyamachanna thanks for providing those extra details.

Strange how native iOS and Android was working for you before.  Can you provide the Android storage upload code you used?  Also, can you provide the amplifyConfiguration file for Android native, perhaps we can compare the differences between that and the one used in your flutter project.

[2020-08-31 22:32] fjnoyp commented on #87
Hi @mattRiddoch

I think the issue is likely coming from the `image_picker` library you're using.  I've tried reproducing your error (using a different picker library) and have no issues uploading image files from my gallery on a iPhone SE emulator.

Could you try using the `file_picker: ^1.8.0+1` in your pubspec.yaml instead to see if that works for you?  We use that in our example app for pickin

[2020-08-31 22:45] shravyamachanna commented on #90
Hi @fjnoyp,

Thank you for looking into the issue. Below are the awsconfiguration.json and android code which we are using with flutter platform channels.

awsconfiguration.json
[code]
Android storage upload code

[code]

[2020-08-31 23:03] fjnoyp commented on #80
Thanks @kjones for that very helpful snippet.  We are now able to reproduce the issue and are looking into it now.

[2020-08-31 23:26] fjnoyp commented on #90
Hi @shravyamachanna

I thought you were using Amplify Android Storage (https://docs.amplify.aws/lib/storage/upload/q/platform/android) via the method channel before.  I'm not too sure what AWSHelper is.

I've been looking through your dart code and it looks correct - it appears you are using the code in the sample app which should be working either way.

Based on the information you've provided it

[2020-09-01 01:38] shravyamachanna commented on #90
Thanks, @Ashish-Nanda, and @fjnoyp. I figured it out our bucket policy doesn't have a prefix(public/protected/private) previously. I added them and it worked.

[2020-09-01 01:53] Ashish-Nanda commented on #90
Thats great @shravyamachanna!

The error messages implied there was something missing in the policies configured manually as compared to how the Amplify CLI sets them up. Glad that you were able to figure it out!

Will go ahead and close out the issue now that it's resolved.

[2020-09-01 01:53] #90 closed

[2020-09-01 02:00] Ashish-Nanda commented on #87
@mattRiddoch

The path of the file you provided seems fine, so not sure why you are getting the error. I tried a clean setup today and can confirm upload is working as expected. We are using the file_picker library @fjnoyp mentioned above. Could you give that a try based on the code in our sample app?

Let us know if you still face issues.

[2020-09-01 07:22] hsiehro opened #95 "Unable to sign-in user. MFAMethodNotFoundException was raised."
**Describe the bug**
Able to sign-up user, but unable to sign-in.  MFAMethodNotFoundException was raised after submission, but no MFA message received. Check user pool, user account status is 'Confirmed' and 'Enabled' with email verified set 'true', and SMS MFA Status - 'Disabled'

**To Reproduce**
Steps to reproduce the behavior:
1. Sign-up user with basic info (name, email, password)
2. User ema

[2020-09-01 09:28] Rayv1 commented on #94
Hi @fjnoyp its okay for now. i just comment it out, when using hot restart.

[2020-09-01 09:28] #94 closed

[2020-09-01 16:07] Rayv1 opened #97 "resendSignUpCode throws Error but sends Code"
**Describe the bug**
I used the resendSignUpCode function from Amplify.Auth, then it throws an Error, but i receive an E-Mail with a new Verification Link.
Exception:
[code]

MyCode:
[code]

**Expected behavior**
Not throwing an Error, if there is none

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducable in (check all that apply):
[x] Android
[] iOS

[2020-09-01 17:47] mlabieniec opened #98 "Redeclaration: AuthCognito Error when implementing Storage"
Added the following code to a working app with Auth/Storage/Analytics configured in `main.dart`. Have a `camera.dart` stateless widget that displays a photo taken with the camera. Then an upload button to upload the file (code pulled from docs). Receiving an error on compilation `flutter run` now:

[code]

Code that was added that caused the error to `camera.dart` file (Amplify is configured in `m

[2020-09-01 18:10] fjnoyp commented on #97
Hi @rayv1 thanks for sharing this issue with us.  We'll look into reproducing this problem on our side and get back to you with what we find.

[2020-09-01 18:14] fjnoyp commented on #95
Hi @hsiehro thanks for sharing this issue with us.  Have you tried setting up your Amplify Flutter project again to use phone numbers during user sign up?  I think the insight that you provided in "additional context" is probably correct.  Cognito is failing with MFAMethodNotFoundException because MFA with phone number can't be enabled if the user isn't providing any phone numbers to begin with :)

[2020-09-01 18:37] mlabieniec commented on #98
running `flutter clean` solved this build issue.

[2020-09-01 18:37] #98 closed

[2020-09-01 20:57] fjnoyp commented on #97
Hi @Rayv1 we're able to reproduce the error on our side.  An error is being thrown yet the code is being sent still.  Thank you very much for bringing this to our attention.  We'll look into fixing the issue.

[2020-09-02 00:41] fjnoyp opened #99 "No implementation found for method configure on channel com.amazonaws.amplify/core - on Android back button click"
1. On Android, run the example app
1. When the LandingPage is shown with the "Sign In" and "Sign Up" buttons, hit the back button until the Android home screen is displayed.
1. Hit the Android app switcher button (rightmost) and return to the example app. App stays on the LoadingPage.
Console log shows:
E/flutter (31034): [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: MissingPlu

[2020-09-02 00:43] fjnoyp commented on #99
This issue does not happen when the app is backgrounded using the other Android bottom bar buttons.

To reproduce, the Android **back** button must be pressed.  The app is still backgrounded but the issue occurs afterwards.

[2020-09-02 00:43] fjnoyp commented on #99
Looking at Flutter logs, one can see an inconsistency from Flutter in how the app is "backgrounded".  If the app is backgrounded using the other Android bottom bar buttons the following lifecycle events occur:

D/AutoSessionTracker( 8274): Activity paused: MainActivity
D/AutoSessionTracker( 8274): Activity stopped: MainActivity
D/AutoSessionTracker( 8274): Activity state saved: MainActivity
D/Auto

[2020-09-02 00:44] fjnoyp commented on #99
However, when pressing the back button, the destroy lifecycle events occurs.  At this point app state is lost and the crash will occur in the logs.  Our Flutter app is now in an inconsistent state and probably not recoverable ...

D/AutoSessionTracker( 8274): Activity paused: MainActivity
D/AutoSessionTracker( 8274): Activity stopped: MainActivity
**D/AutoSessionTracker( 8274): Activity destroyed

[2020-09-02 00:48] fjnoyp commented on #80
@kjones thanks for the additional context.  I believe this is a separate error that needs additional investigation, please see issue: https://github.com/aws-amplify/amplify-flutter/issues/99

@magicmass  if you are getting the issue you mentioned when the app is first starting up and no interaction has occurred with the app, then the likely problem has to do with flutter.  At this point, we recomm

[2020-09-02 03:19] hsiehro commented on #95
Hi @fjnoyp Kyle,

Thanks for the prompt reply. I haven't tried the phone number scenario during sign-up. Will give it a try later or consider reset the project without the SMS authentication during initial setup for now.  Since the exception root cause is confirmed, I will close this issue.

Again, thanks for your great support.

BR/Roger

[2020-09-02 03:19] #95 closed

[2020-09-02 06:41] horgag opened #100 "Failed to Configure Amplify"
**Describe the bug**
Hi, I'm using existing resources (user pools and identity pools) for my amplifyconfiguration.dart. But I'm unable to configure amplify.

[code]
**To Reproduce**

I presume this is a problem with my amplifyconfiguration.dart file. So I'll post it here and see if you can see anything wrong...
I'm finding it hard to debug the problem so any debugging advice would be great!

[code

[2020-09-02 13:14] fjnoyp commented on #100
Hi @horgag

Make sure to follow the exact setup provided in our documentation: https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter

If you compare what you have with the example online, you'll see that you're missing a `"AppClientSecret": "[COGNITO USER POOL APP CLIENT SECRET]"` under CognitoUserPool / Default.

[2020-09-02 16:46] mattRiddoch commented on #87
OK! I brought in the `file_picker` library and am using the following uploading snippet from the example code:
[code]
Upon picking an asset I get the following error:
`UploadFile Err: RangeError (index): Invalid value: Valid value range is empty: 0`
I did set a breakpoint prior to the upload attempt and can confirm that a valid file is being passed in?

[2020-09-02 16:47] haverchuck commented on #97
@Rayv1 Thanks for submitting this issue; I've created a [PR to fix it.](https://github.com/aws-amplify/amplify-flutter/pull/101)

[2020-09-02 17:20] horgag commented on #100
The AppClientSecret is optional

[2020-09-02 20:34] fjnoyp commented on #100
Thanks for the followup @horgag
Yes if you include an Amplify Flutter library such as Analytics, you will need to provide the necessary resources for that library to function within the amplifyConfiguration.dart either manually or by using the Amplify CLI.

We will update our documentation to clarify this point for future users - we really appreciate that you brought this to our attention.

[2020-09-03 10:34] thomas-stockx opened #103 "[Analytics] Recorded events not showing in Pinpoint"
**Describe the bug**
Hi, I've implemented Amplify Analytics next to the Firebase Analytics already in place in my current app.
Everything compiles and seems to work as expected on the mobile devices (both iOS and Android), but the analytics events recorded do not end up in the Pinpoint Console after waiting for > 12 hours, even when forcing a flush - again on both platforms.

I also don't seen any

[2020-09-03 18:29] fjnoyp commented on #80
Closing issue as no further details have been provided.

@magicmass if you are still facing this problem please feel free to provide more information and reopen the issue.

[2020-09-03 18:29] #80 closed

[2020-09-04 10:12] thomas-stockx commented on #103
Hi again,

I've now tried to implement Amplify Auth, and I get errors in this flow:

[code]

It seems like even though I added the Auth plugin, it did not seem to register correctly. I suspect a similar issue might be affecting my Analytics setup, which is what probably causes my originally reported issue.

Any idea what could cause something like this, especially since the plugin list seems to be

[2020-09-04 10:23] #103 closed

[2020-09-04 18:21] fjnoyp commented on #87
Hi @mattRiddoch it's strange the example code isn't working for you now as well.  We've validated this code works so this issue could be related to your configuration.

Have you tried running the Amplify CLI to create a s3 bucket and performed an upload.  Can you provide details on how you've generated your amplifyconfiguration.dart file?

[2020-09-05 07:48] #100 closed

[2020-09-05 08:17] horgag opened #105 "How to get the JWT token to use with appSync?"

[2020-09-07 14:26] adasiewiczr opened #106 "Unhandled Exception: MissingPluginException(No implementation found for method configure on channel com.amazonaws.amplify/core)"
**Describe the bug**
Application crashes on Android when trying to configure `Amplify` with the following error:

E/flutter (15062): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:159:7)
E/flutter (15062): <asynchronous suspension>
E/flutter (15062): #1      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:334:12)
E/flutter (15

[2020-09-07 15:23] fjnoyp commented on #105
Hi @horgag, that is currently not supported.  We'll discuss internally about this feature.

[2020-09-07 15:29] fjnoyp commented on #106
Hi @adasiewiczr did you setup Auth with the Amplify CLI?

[2020-09-07 15:55] adasiewiczr commented on #106
@fjnoyp I've provided configuration manually. It seems that for some reason plugin isn't registered

[2020-09-07 17:31] fjnoyp commented on #106
Hi @adasiewiczr

If you add a plugin (like Auth) without configuring it properly in amplifyconfiguration.dart, the configure step can cause crashes like in your case.

When creating your amplifyconfiguration.dart file, did you follow the instructions here?
https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter

Also, can you do a "flutter clean" before rerunning your application?

[2020-09-07 18:11] horgag commented on #105
The token needed can be got by:
[code]

This token can be passed to `AuthLink` with graphql flutter plugin and used to query AppSync
 https://github.com/zino-app/graphql-flutter/issues/209#issuecomment-598835690

[2020-09-08 05:07] adamfillion opened #107 "Amplify Pinpoint Event Type - Not appearing in pinpoint console"
**Describe the bug**
I have an app that is configured with both AWS Cognito and Pinpoint. When I create new AnalyticsEvents (with a non-auth'ed user), the events are logged in the console numerically, but the 'event-type' drop-down never changes to accommodate the new events that I have added.

For example, if I create a new analytics event of type 'example' and create 10 events and then flush, I

[2020-09-08 10:18] adasiewiczr commented on #106
Hi @fjnoyp
yes, I followed those instructions and I tried to run `flutter clean` before rerunning the app and it doesn't change anything :(
Here you can find my config file:

  "auth": {
      "plugins": {
          "awsCognitoAuthPlugin": {
              "IdentityManager": {
                  "Default": {}
              },
              "CognitoUserPool": {
                  "Default": {

[2020-09-08 10:49] SahajRana opened #108 "How to use S3 upload without auth through Cognito?"
Hi Aws team, thanks for bringing an official lib for Flutter!

How can we use S3 (upload) without auth through Cognito?

[2020-09-08 12:08] Ashish-Nanda commented on #105
@horgag, looks like you were able to get the JWT from the AuthSession.

This information can also be found in the documentation [here](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter)

I'll go ahead and close this issue since your question is now resolved. If you have further issues let us know and we can look into it.

[2020-09-08 12:08] #105 closed

[2020-09-08 12:15] Ashish-Nanda commented on #87
@mattRiddoch can you share you amplifyconfiguration.dart file?

[2020-09-08 13:07] horgag commented on #105
Important to point out that you you have to cast your result with `CognitoAuthSession` and not `AuthSession` as is in the link you provided.

[2020-09-08 14:26] pierre-gancel opened #109 "why should I use Amplify instead of Firebase ?"
Sneaky issue I know,
But apart from having all the code gathered in AWS,
Why build on a blooming repo instead of a mature firebase/google analytics ?

[2020-09-08 14:43] adasiewiczr commented on #106
@fjnoyp I've resolved the problem so the issue can be closed. I found out that my project was using an old Android wrapper and I had to migrate it to the newer version - https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects

[2020-09-08 15:07] adamfillion commented on #107
Alright, so I just woke up after working on this last night, and it seems to be a latency issue. All of the event types that I submitted are now visible.

I assume this is just a feature of the platform and has nothing to do with Amplify Flutter - so this ticket can probably be closed.

[2020-09-08 15:52] mattRiddoch commented on #87
Sure thing @Ashish-Nanda
[code]

[2020-09-08 15:53] fjnoyp commented on #106
Hi @adasiewiczr thanks for sharing that with us.  We'll update our documentation to help other users that might encounter this problem as well.

[2020-09-08 15:53] #106 closed

[2020-09-08 15:55] fjnoyp commented on #107
Hi @adamfillion thanks for posting the question and the result :)

I'll close the ticket for now then.

[2020-09-08 15:55] #107 closed

[2020-09-08 18:12] adamfillion commented on #87
I am having an issue identical to this one - I am configured using the example Storage application and upon uploading I also get `UploadFile Err: RangeError (index): Invalid value: Valid value range is empty: 0`

[2020-09-08 19:04] #109 closed

[2020-09-09 05:02] Amplifiyer commented on #99
This seems like an issue where the back button causes the FlutterActivity to be destroyed in Android instead of sending it to background. There are some workarounds mentioned here https://stackoverflow.com/questions/55539302/sending-your-application-to-background-when-back-button-is-pressed-in-flutter that can be used by the applications such as
* https://medium.com/stuart-engineering/%EF%B8%8F-th

[2020-09-09 05:19] Amplifiyer commented on #108
@SahajRana currently it's not possible to use S3 plugin without Cognito as it is used to sign the S3 requests. You can enable guest access while configuring Auth through CLI such that your app's users wouldn't have to sign in to use S3 resources (by using the guest access)

[2020-09-09 10:50] SahajRana commented on #108
I will give `guest access` a try. Thanks.

[2020-09-09 10:50] #108 closed

[2020-09-09 21:09] pal commented on #88
I get this same error in iOS and only have these deps:
[code]

This is the stock todo-app, but with the addition of sign-in code:
[code]

Any ideas?

[2020-09-10 10:26] danielvtan opened #110 "How to handle CONFIRM_SIGN_IN_WITH_NEW_PASSWORD after authentication"
**Describe the bug**
How to handle CONFIRM_SIGN_IN_WITH_NEW_PASSWORD after authentication

**To Reproduce**
Steps to reproduce the behavior:
1. Register new user in cognito
2. Login new user in app
3. Will not be able to login with result of res.nextStep.signInStep "CONFIRM_SIGN_IN_WITH_NEW_PASSWORD"
4. See error

**Expected behavior**
Cant seem to find this feature in docs

**Platform**
Amplify F

[2020-09-10 10:30] danielvtan commented on #88
Have you tried running
[code]
this usually solve dependency issues if your pubspec is correct

[2020-09-10 18:49] adamfillion opened #112 "Question about Database Support"
Hey guys,

I have received a few questions regarding database support for Amplify Flutter (eg. what is the equivalent to Firestore?).

What are the future plans for integrating some of AWS database solutions with Flutter?

Thanks a lot,

Adam

[2020-09-10 19:59] Ashish-Nanda commented on #112
Hi @adamfillion

We are currently working on adding support for data related categories like API (Rest & GraphQL) and DataStore.

DataStore is what I believe you are looking for, as it provides a programming model for leveraging shared and distributed data and supports real-time and offline scenarios. Amplify JavaScript, iOS & Android already support this and you can learn more about it in our [do

[2020-09-10 20:00] adamfillion commented on #112
Perfect, I will definitely check it out. Thank you for the prompt reply.

[2020-09-10 20:00] #112 closed

[2020-09-11 06:04] danielvtan commented on #110
This is blocking for us in our development progress. do you have any idea when will this be available? Can you point where this issue is, maybe we can help?

thank you!

[2020-09-11 11:24] danielvtan commented on #110
We made a temporary solution thru our backend. We automatically verify our users using adminInitiateAuth and adminRespondToAuthChallenge right after cognito registration.

Thanks!

[2020-09-11 19:00] devcshort commented on #5
DataStore and API would be great to have

[2020-09-12 15:59] lukaselmer commented on #94
Hi @fjnoyp,

This is a major problem for my workflow - not having the option to hot restart slows me down substantially.

What is the behavior if the app is already configured (in Kotlin / Android), and then the Dart VM is restarted? Do I have to configure it again, or will it work with the previous configuration? Would it be possible to add a separate method [here](https://github.com/aws-amplify/

[2020-09-12 22:21] m11gt commented on #5
DataStore and API (Rest and GraphQL) asap please. I am in love with flutter and want to use AWS as my backend for the project I am designing. I don't want to give in and use firebase. Any idea what the timeline will look like. Even preview will work!

[2020-09-13 12:27] dariotrombello commented on #5
Agree. Can't wait to switch from firebase to amplify.

[2020-09-13 16:25] rlee1990 commented on #5
DataStore and API (Rest and GraphQL) are definitely a big need. Is there a time table for when we can see these added?

[2020-09-13 16:43] guoguoguilai commented on #5
We need AppSync!

[2020-09-15 15:40] joekendal commented on #5
As you can see, we're all pretty desperate for DataStore. If we could do anything to help I would gladly open pull requests but is there a list of things TODO ? 🥴

[2020-09-15 18:29] Amplifiyer commented on #5
Hi all, we are currently working on the design for the datastore and will put it here or in another RFC to gather feedback. Please stay tuned.

[2020-09-15 18:48] sadhushehjar opened #114 "[Feedback]FEEDBACK_TITLE_HERE"
**Page**: [`/start/getting-started/add-api/q/integration/flutter`](https://docs.amplify.aws/start/getting-started/add-api/q/integration/flutter)

**Feedback**:

I am using AWS Educate an account and the AWS PinPoint service is not freely accessible for that account. Can you provide suggestions or alternatives for other services that users can use for Analytics purposes using flutter dev + amplify?

[2020-09-15 20:07] #114 closed

[2020-09-17 19:06] dineshkumar02 opened #117 "Signin after an immediate password reset is accepting anypassword"
**Describe the bug**
I am able to do the password reset, where cognito send me the confirmation code.
I am also able to reset the password, but after resetting the password, I tried to login with the old password(any text),
and it's accepting the sign. Is this an expected behavior ? Do we need to do additional cleanup like removing any internal tokens, which were stored on device ?

Here is the lo

[2020-09-17 19:16] dineshkumar02 commented on #117
There is a problem with signin itself. It's accepting everything as password. Let me fix it, and then will raise it once I see the problem again.

[2020-09-17 19:16] #117 closed

[2020-09-17 19:27] dineshkumar02 opened #118 "Able to sign in, after deleting the user from aws cognito console"
After completing the signup, and sing in, I deleted the user from cognito console. And tried to sign in from the device, which is still working.

**To Reproduce**
Steps to reproduce the behavior:
1. Do signup
2. Do signin
3. Delete the user from aws cognito console (Web UI)
4. Try sign in again from the code.

**Expected behavior**
User should not sign in

**Log message**

D/AWSMobileClient(19143)

[2020-09-17 22:57] kjones commented on #5
If you are impatient like I am 😏, or your product release schedule can't be adapted to wait for DataStore support in this library, then you can write your own Flutter DataStore platform plugin that lives alongside this library.

I've created an example Flutter plugin and app to demonstrate a way to do this. That code can be found here: https://github.com/kjones/flutter-datastore-example

This is n

[2020-09-17 23:37] haverchuck commented on #118
@dineshkumar02 Does this happen in both Android and iOS?

[2020-09-17 23:52] haverchuck commented on #118
https://github.com/aws-amplify/amplify-flutter/issues/93

[2020-09-18 06:15] dineshkumar02 commented on #118
Hi @haverchuck

I tested only on Android and did not get chance to test it in IOS.

After sign out, when I try to sign in back, then it is not accepting the deleted user details.
The behavior is, once is user is signed in, then the subsequent sign in with any password is working.

I think, there is a kind of token which is getting created while the user sign in, and until the token expires, this a

[2020-09-19 14:04] dineshkumar02 opened #119 "Documentation Fix - Amplify Storage Section"
Hi Team,

The Amplify Storage Section, Which covers uploading files to S3 is not working due the `FilePicker `package.
https://docs.amplify.aws/lib/storage/getting-started/q/platform/flutter#uploading-data-to-your-bucket

It seems, in the latest version of FilePicker's library, there is no `getFile` method.

--Dinesh

[2020-09-20 13:11] jherjati opened #120 "Invalid JWT Signature using Cognito JWK"
**Describe the bug**
If we do _amplify add auth_ and do sign in using our flutter app as described in [this official AWS tutorial](https://docs.amplify.aws/lib/auth/signin/q/platform/flutter), we can then get our idToken from _CognitoAuthSession.userPoolTokens_ . The problem is, when i try to verify the token using Cognito JWK as described in [this official AWS docs](https://docs.aws.amazon.com/co

[2020-09-21 13:14] Ashish-Nanda commented on #119
Thanks for letting us know @dineshkumar02.
Will update the docs and also example apps to use the new version of `FilePicker` and corresponding APIs.

[2020-09-21 21:47] Shrey29ansh commented on #87
You can try first getting a path of the file and store that in some variable then pass that value in uploadFile function like this
![image](https://user-images.githubusercontent.com/47782066/93825026-1666b800-fc82-11ea-80f7-d4b1b98440fe.png)

Hope it helps!

[2020-09-21 22:10] mattRiddoch commented on #87
@Shrey29ansh I will give this a try soon. I have gotten a little sidetracked with other features but this is still very much an issue for me.  Much appreciated.

[2020-09-23 15:59] matthickey709 commented on #5
Is there a timeline for supporting Flutter Web with AWS? I can get it working great on the iOS simulator but it can't configure amplify when running on web. Would be great to have the web app running too!

[2020-09-24 07:30] horgag opened #121 "Unsupported value: org.json.JSONException: No value for region)"
**Describe the bug**
Amplify.configure() doesn't work. Problem loading `amplifyconfig` string. Seems to be a parsing problem.

**Expected behavior**
config file should load

here is the file:

[code]

**Platform**
Android

**Additional context**
was working before. Not that I think it matters but I updated amplify cli.

[2020-09-24 18:18] bwhiteTP commented on #94
@Rayv1 Not sure why this was closed, this is a major problem for us, please reopen.

[2020-09-24 22:14] lukaselmer opened #122 ""Hot restart" is causing a subsequent call to `Amplify.configure`"
See https://github.com/aws-amplify/amplify-flutter/issues/94, which was closed by the author of the issue.

**Describe the bug**

PlatformException (PlatformException(AmplifyException, The client issued a subsequent call to Amplify.configure after the first had already succeeded., {cause: null, recoverySuggestion: Be sure to only call Amplify.configure once}))

**To Reproduce**

Steps to reproduce

[2020-09-24 22:58] haverchuck commented on #122
@lukaselmer We have an open PR to address this: https://github.com/aws-amplify/amplify-flutter/pull/113
It will be included in an upcoming release.

[2020-09-25 05:33] Rayv1 commented on #94
I put it in a try catch Block, so iam still calling it, but when an error appears, iam doing nothing. The authentication Plugin ist ein still working with this work around.

[2020-09-26 16:25] martunta commented on #120
can you paste code of your jwk2pem.js ? I just followed your steps and it all worked perfectly.

btw, thanks for the tip about `CognitoAuthSession` - before this issue I coulnd't find a way how to get the token, as that was missing in the tutorial!

[2020-09-28 05:25] simonmahns commented on #5
hate to ask a question like this, but I am wondering about the timeline for "production-grade" authentication. Currently, I am working on a big project with about a year-long timeline.  Our stack is built primarily with flutter and aws services and we have tested "hello world" auth via amplify and it works great. However, because these features are labeled as "previews" and explicitly recommended

[2020-09-28 06:42] ininmm opened #124 "Can not distinguish Amplify is already configured"
**Describe the bug**
Amplify has prevented configuration be initiated twice, but there is still no way for programmers to distinguish whether the
configs has been initialed.

**Expected behavior**
I've noticed that Amplify has handled a flag `_isConfigured` in the [core](https://github.com/aws-amplify/amplify-flutter/blob/master/packages/amplify_core/lib/amplify_core.dart) class, maybe we could pr

[2020-09-29 07:01] jherjati commented on #120
`var jwkToPem = require("jwk-to-pem");`
`var jwt = require("jsonwebtoken");`

`var jwk = {
    alg: "RS256",
    e: "AQAB",
    kid: "KynZimFU3MxozCoO2i+W6mdnXIQ+QVzP/pwyAx3khfg=",
    kty: "RSA",
    n:
      "hLGfa089DWIs2PG4z47WFKTiOHTptANOniK4jp0RstGRjuy8muaECu6YsyN8mFSYfWNIXpJRgRONE39-7LvthVrtH3T_Cj3jxbyaccYPLPn16svyDxphmRNmKyYahomadA9NU59M3uxvjJXUIMKKvuSz1J2ALSuNEjBFTqQK_-TS7TOnL86shCMvRuMdS

[2020-09-29 09:24] martunta commented on #120
I don't get your pem definition. anyway here is my version, that is working for me:

[code]

[2020-09-29 15:30] aaronsamkennedy commented on #105
Using the exact example in the documentation and trying both CognitroAuthSession and AuthSession I keep getting the following error and exceptions `AMPLIFY_FETCH_SESSION_FAILED [UNRECOGNIZED EXCEPTION, PLATFORM_EXCEPTIONS]` are there any recommendations for debugging this?

[2020-09-29 21:42] horgag commented on #105
Has the auth plugin being added successfully to amplify?

[2020-09-30 17:40] fjnoyp commented on #124
Hi @ininmm thanks for bringing this to our attention.

Currently, you can have the following code to easily track if Amplify is configured:

[code]

What additional benefits do you think you'll have if you can access this as a field in your code?

[2020-09-30 17:43] fjnoyp commented on #121
HI @horgag sorry to hear you're having this issue.  We'll need more information before to help you resolve this issue.

Can you provide more information such as the console output when running your application?

Also could you provide the Amplify CLI version number (in console type "amplify -v").  Lastly, can you provide what Amplify Flutter plugins you have included in your pubspec.yaml?

[2020-09-30 17:44] fjnoyp commented on #121
Based on your title, have you tried manually changing your region to something like:

                    "region": "us-east-1"

[2020-10-01 11:30] JamesMcIntosh opened #126 "Amplify CLI installation instructions"
The setup instructions should say that you need the flutter preview version of the CLI else you can't setup the app as when you run `amplify init` there is no Flutter option for `Choose the type of app that you're building`

`npm install -g @aws-amplify/cli@flutter-preview`

[2020-10-01 18:51] haverchuck commented on #126
@JamesMcIntosh - Thanks for submitting this issue.  Our [getting started tutorial ](https://docs.amplify.aws/start/getting-started/setup/q/integration/flutter#prerequisites) and our[ project setup docs](https://docs.amplify.aws/lib/project-setup/prereq/q/platform/flutter#option-2-follow-the-instructions) both reference the command you've included to install the flutter preview.  Can you point us t

[2020-10-01 20:23] joekendal commented on #5
@simonmahns I hear if you email your concerns to jeff@amazon.com enough times he forwards it to the right person to resolve 😅

[2020-10-01 20:32] JamesMcIntosh commented on #126
@haverchuck In the README.md Flutter Development Guide section - step 3
https://github.com/aws-amplify/amplify-flutter/blob/master/README.md#flutter-development-guide

It has `See Amplify CLI Installation` which links to https://github.com/aws-amplify/amplify-cli#install-the-cli

It should probably be linking to the same link earlier in the document for `Install the Amplify CLI`.
https://docs.ampl

[2020-10-01 22:25] fjnoyp opened #128 "[RFC]: Amplify Rest API"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding support for Amplify library in Flutter platform. Please feel free to post comments or questions here._

## Purpose
We are developing the Flutter plugin category for Rest API: https://docs.amplify.aws/lib/restapi/getting-started and would like to get your comments on how this API should behave.

## Fl

[2020-10-01 23:01] aaronsamkennedy commented on #105
I thought so because it appeared that the getUser code was returning my cognitoId but I suppose that I don't know how to test whether everything was configured properly or not. I tried to connect it to my current cognito userpool from an existing project instead of running it through the cli fully. Any recommendations on how to test that to see if I can determine if this is a real issue or not?

[2020-10-02 00:56] #126 closed

[2020-10-02 07:12] Rayv1 commented on #128
Definitely option 1 for exactly the reason you mentioned. I don't want to take care of the CancelToken myself and simply feel better having one object per single request.

[2020-10-02 19:13] gusdoe opened #129 "Essential method not implemented yet"
In cognito, getting Id_token and user_token is essential to make this package useful and valuable. But this part is not even in the developer preview version yet. Should be in high priority of TODOS

[2020-10-02 19:15] fjnoyp commented on #120
Hi @jherjati have you been able to resolve your problem?

[2020-10-02 19:17] gusdoe commented on #129
In cognito, getting Id_token and user_token is essential to make this package useful and valuable. But this part is not even in developer preview version yet. Should be in high priority of TODOS.

[2020-10-02 19:19] fjnoyp commented on #87
Hey @mattRiddoch have you been able to resolve this issue?

[2020-10-02 19:21] fjnoyp commented on #118
Hi @dineshkumar02 thanks for brining this issue to our attention.  We are looking into it.

[2020-10-02 19:22] fjnoyp commented on #110
Hi @danielvtan thanks for explaining the issue and your subsequent workaround.  We are aware of this issue and will look into it.

[2020-10-02 23:13] lukaselmer opened #130 "Amplify push not working with flutter when using a REST api?"
**Describe the bug**

`amplify push` cannot publish an api when using flutter, it seems

[code]

**Amplify CLI Version**

4.29.4

**To Reproduce**

* install experimental flutter cli
* create s3 storage
* create a python function
* create a rest api to execute the python function
* `amplify push --yes` runs, and in the end fails with the error described above

**Desktop (please complete the follow

[2020-10-03 00:39] fjnoyp commented on #129
Hi @gusdoe thanks for bringing this issue to our attention.  You should be able to get these tokens via:

CognitoAuthSession res = await Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true));
      FutureOr token = res.userPoolTokens.idToken;

We will update our documentation to make this clearer in the future:
https://github.com/aws-amplify/docs/pull/2373

[2020-10-03 00:42] #130 closed

[2020-10-03 01:20] ArcezD opened #131 "iOS isn't throwing an AuthError when the user is not confirmed"
**Describe the bug**
When trying to authenticate using a user with "Account status" "UNCONFIRMED" on iOS the library doesn't throw an Error. While in Android the library throws an AuthError with the details of the Error showing that the user is not confirmed.

**To Reproduce**
Steps to reproduce the behavior:
1. execute `Amplify.Auth.signUp` to create a new user, but don't call `Amplify.Auth.confi

[2020-10-03 03:08] gusdoe commented on #129
Thank you fjnoyp!

Finding idToken makes it worth to try this for me.

[2020-10-03 03:08] #129 closed

[2020-10-03 04:57] kjones commented on #131
I'm seeing the same thing. Example code with comment about iOS and current temporary workaround:
[code]

[2020-10-03 16:56] fjnoyp commented on #131
Hi @ArcezD thanks for pointing out this issue to us,
And to @kjones for the temporary workaround.

We'll discuss this issue internally.

[2020-10-03 17:26] rmelian opened #132 "Simplify amplifyconfiguration.dart"
Hello guys, thank you for putting together amplify for flutter.

After playing with the project I noticed if you want to use another tool like CDK to generate aws resources is a little cumbersome to edit the amplifyconfiguration.dart file. I have used before the amplify Auth lib and I don't remember it been that complicated.

In simple words the file amplifyconfiguration.dart is not easy to edit b

[2020-10-04 06:51] jherjati commented on #120
Yes, i did the same, only hiding the axios part, i directly copied the jwk from my browser. Still facing the same issue.

@martunta Did you generate your token in flutter? Did you do some additional AWS Cognito config? Thank you..
@fjnoyp Not yet, unfortunately

[2020-10-04 12:55] martunta commented on #120
@jherjati yes, I copied access and id tokens from the flutter debug log. AWS Cognito I configured both in auto-generated way with amplify cli and also manually, it worked in both ways. Maybe try to start from beginning, create new cognito with amplify cli and try to avoid any extra manual configs. I am not sure what else to suggest. good luck.

[2020-10-04 19:45] lukaselmer commented on #130
@Ashish-Nanda I'm developing an app which consists of a android (flutter) app, some lambda functions, a rest api, and a react frontend for the desktop. I know that the rest api is not available in flutter, but I'd like to use it in the react app, so I'd like to deploy it. How do you suggest I can solve that? In general I'm quite frustrated using amplify, and wish I would have used firebase instead

[2020-10-05 16:42] Ashish-Nanda commented on #130
@lukaselmer Could you let us know what are some of the specific pain points you are facing with Amplify, so that we can work on addressing them and improving the experience further. At this time Amplify Flutter is still in preview, and a lot of additional features and improvements are coming in the upcoming weeks and months.

With regards to deploying a REST API, since you plan to integrate it in

[2020-10-06 02:52] jeffglaum opened #133 "Desktop Support for amplify-flutter"
It's great to see Amplify brought to Flutter.  The attractiveness of the framework is the ability to run almost anywhere.  When might we see amplify-flutter working on desktop (Ubuntu and macOS)?

[2020-10-06 08:35] mizzb opened #135 "amplifyconfiguration without CognitoIdentity"
I want to configure cognito auth without CognitoIdentity.
Is there anyway to do it?

[2020-10-06 11:25] JamesMcIntosh opened #136 "Missing Signup options cause NoSuchMethodError"
**Describe the bug**
`AuthCategory.signUp()` parameter named `options` is treated as mandatory but is not a required field.

**To Reproduce**
Execute the following code and
[code]
`SignUpRequest` is created within the `signUp` method which has mandatory parameter named `options` (which is null set to null). This causes the exception

```NoSuchMethodError: The method 'serializeAsMap' was called on

[2020-10-06 22:08] aaronsamkennedy commented on #105
Just as a follow up I made sure that the plugging is correctly configured. I'm still getting the same error but I am able to pull some information from Cognito when signing in with getUser. I'm using the plugin inside of a provider, could that be messing up the state of the configuration?

[2020-10-06 23:24] rlee1990 commented on #5
Is there a weekly or bi-weekly progress report so we can know what to expect?

[2020-10-07 22:44] JamesMcIntosh opened #139 "Uploading using the S3 storage plugin gives a cryptic error message if file does not exist"
**Describe the bug**
When uploading a file which doesn't exist using the S3 Storage Plugin an exception is thrown.

The error message gives no indication that the file does not exist on the device and is a very cumbersome to figure out what went wrong.

**To Reproduce**
[code]

Exception in the Dart stack
[code]
I couldn't see any additional information or Exceptions in the stack trace on the Dart

[2020-10-07 22:52] haverchuck commented on #136
@JamesMcIntosh We can't make the options field required at this time, but we ARE implementing a fix to serializeAsMap call as you suggested. The result will be a response from the platform code indicating that this request is malformed, which should hopefull be more helpful.

[2020-10-07 23:02] JamesMcIntosh commented on #136
@haverchuck Sounds good as long as the platform code error explains that it's the option field missing

[2020-10-07 23:22] haverchuck commented on #133
@jeffglaum We don't have specific dates on desktop or web support, but we are definitely aware that there is demand for this!

[2020-10-08 04:12] JamesMcIntosh opened #140 "S3 download failure crashes app"
**Describe the bug**
When a download operation is failing the App is crashing because the a message reply has already been sent.

**To Reproduce**

[code]

[code]

To see this in action put attach the Android debugger with a breakpoint in error closure for
[downloadFile()](https://github.com/aws-amplify/amplify-flutter/blob/5a5cef48784884c6fc57d48675af69c0566e9cab/packages/amplify_storage_s3/andro

[2020-10-08 04:37] JamesMcIntosh commented on #139
@Ashish-Nanda I looked a little bit more into it and the TransferUtility:564 is correctly throwing an `IllegalArgumentException` when the file does not exist, so the behaviour is consistent. I guess the main problem is that when an error is encountered all that happens is the prepareError message is being called with the following

``` prepareError(flutterResult, FlutterStorageErrorMessage.LIST_OP

[2020-10-08 09:02] dineshkumar02 commented on #121
I am facing the similar problem.

pubspec.yaml file I've this

  amplify_core: '<1.0.0'
  amplify_auth_cognito: '<1.0.0'
  amplify_analytics_pinpoint: '<1.0.0'
  amplify_storage_s3: '<1.0.0'

Amplify version is
amplify -v
4.26.1-flutter-preview.0

[2020-10-08 10:51] dineshkumar02 commented on #121
I am able to fix it.

In my case, I mentioned 'amplify_storage' in pubspec.yaml file, **but I am not actually using any storage related stuff**.
Removed it from pubspec.yaml and it worked. I also did **flutter clean** before building the application(which is not required I think).

@horgag ,
See if this is the same situation in your case.

[2020-10-08 17:54] Ashish-Nanda commented on #139
@JamesMcIntosh Thanks for your detailed report on the issue. I'm looking into this today. I'll make sure to add the `error.cause` for the exception raised in the Android platform code.
However, I agree with your initial suggestion of failing fast in the dart layer itself by checking for the existence of the file using `file.existsSync()`

Will post an update once I make the change and validate the

[2020-10-08 19:44] Ashish-Nanda commented on #136
@JamesMcIntosh A fix for this bug was released today in version `0.0.1-dev.3`, so will go ahead and close it out. Please give it a try and let us know if you are still facing issues, and we can look into it.

[2020-10-08 19:44] #136 closed

[2020-10-08 19:47] Ashish-Nanda commented on #131
@kjones, @ArcezD  Closing this out as a fix for this bug was released today in version `0.0.1-dev.3`. Please give it a try and let us know if you are still facing issues, and we can look into it.

[2020-10-08 19:47] #131 closed

[2020-10-08 19:48] haverchuck commented on #136
@JamesMcIntosh I don't think we are currently surfacing the specific fields that are missing, but we are looking at large, general improvement to our error handling, so please be patient.  We are aware that this (and other) error visibility issues exist.

[2020-10-08 21:48] #97 closed

[2020-10-09 01:14] deimantasa opened #142 "AmplifyException, Error casting configuration map, Unsupported value: org.json.JSONException: No value for pinpointAnalytics, null"
**Describe the bug**
After trying to call `configure`, app crashes with exception.

**To Reproduce**
`init` block
[code]
1. Run the code upon app startup;
2. It will throw
[code]

**Expected behavior**
App should be launched and configured properly.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current supports iOS and Android.  This is

[2020-10-09 01:16] deimantasa opened #143 "Running app second time, cannot configure amplify (User-Agent is configured internally during Amplify configuration. This method should not be called externally)"
**Describe the bug**
Running app second time, it throws exception

**To Reproduce**
1. Launch the app first time - error received here https://github.com/aws-amplify/amplify-flutter/issues/142
2. Launch app second time - another error is visible
[code]

**Expected behavior**
App should be launched without any issues

**Screenshots**
If applicable, add screenshots to help explain your problem.

**P

[2020-10-09 01:20] deimantasa opened #144 "Cannot SignUp (AMPLIFY_SIGNUP_FAILED)"
**Describe the bug**
After running into issues in #142 and #143, trying to SignUp and receiving null-pointer.

**To Reproduce**
1. Run the app;
2. Execute SignUp
3. Receive error
[code]

**Expected behavior**
There shouldn't be an exception.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is r

[2020-10-09 01:29] deimantasa opened #145 "Feature Request: Handling different environments/multiple user-pools"
Hello guys, I'm trying out AWS Amplify at the moment and I've stumbled around issue, that I couldn't see how could one handle different environments or multiple user-pools.

Currently, we have `amplifyconfiguration.dart` autogenerated and for initialisation we use `await amplify.configure(amplifyconfig);` . `amplifyconfig` is the constant `String` in `amplifyconfiguration.dart`.

However, what if

[2020-10-09 04:06] deimantasa opened #146 "Feature Request: Possible to run cognito without configuring it via amplify"
Currently, Amplify has quite some limitations. For example: There is no way to allow users to sign-in via main option and toggle additional options if project is initialised via amplify CLI.
Example `Username +
Also allow sign in with verified email address +
Also allow sign in with verified phone number`.
![image](https://user-images.githubusercontent.com/12739071/95531104-ec472100-0a09-11eb-970b

[2020-10-09 10:42] Rayv1 commented on #146
Yes it is possible to run cognito without configuring it via Amplify. Just create it in your own Way and integrate it.
https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter

[2020-10-09 10:57] deimantasa commented on #146
Hello Ray,
Thank you for your response.

Could you provide step-by-step guidance for that? I've tried running it without amplify - however it started to complain, that project is not setup in amplify. Would love to explore this possibility.

[2020-10-09 13:25] horgag opened #147 "Release bundle containing Amplify plugins tries to build for architecture iOS-armv7 (unsuccessfully)"
**Describe the bug**
Can't make a release build because of Amplify plugins. Tries to build for architecture iOS-armv7 (unsuccessfully)
**To Reproduce**
Build release bundle

**Expected behavior**
Successfully build

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**

[] iOS

**Additional context**
Can't get my App on Testflight!
<img width="620" alt="Screens

[2020-10-09 15:58] haverchuck commented on #146
Hi @deimantasa - This is covered in our documentation [here](https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter).

[2020-10-09 16:00] haverchuck commented on #146
@deimantasa

What exactly do you mean by "running it without amplify"?  A little more detail would be helpful for troubleshooting your use case.

[2020-10-09 16:04] haverchuck commented on #142
@deimantasa Does your amplifyconfiguration.dart file have the values defined [here](https://docs.amplify.aws/lib/analytics/existing-resources/q/platform/flutter)?

[2020-10-09 16:07] haverchuck commented on #145
@deimantasa We don't currently support multiple user pools within a single environment, but the amplify-cli can help you manage multiple environments.  It should automatically update the amplifyconfiguration.dart file when you switch environments.

See the docs here: https://docs.amplify.aws/cli/teams/overview

[2020-10-10 00:43] deimantasa commented on #146
Thank you for chipping in, @haverchuck !

Current case - we're using Cognito for quite a while with Flutter and we're doing it on Flutter via https://pub.dev/packages/amazon_cognito_identity_dart_2 plugin. We can directly set-up Cognito in AWS without any Amplify interference.

What I'm asking is - to be able to use it with official `AWS` support in Flutter. Currently it's only possible via `ampli

[2020-10-10 00:51] deimantasa commented on #145
Thank you for your response.

If I understood correctly, it's possible to switch environments, but it's possible to do only via `amplify` itself? There is no way to switch Environment via runtime in Flutter?  Therefore there is only one config available at all times?

Simple use-case in Flutter by using Flavours or other configurations to run build environment in the app - https://medium.com/@matt

[2020-10-10 01:01] deimantasa commented on #142
Great spot. No, it didn't have. However, I've changed initialisation by removing analytics.
[code]

I received exactly same error. That was the case I've added it in the first place.

[2020-10-11 09:42] fpabl0 opened #148 "Cannot get Cognito User Pool Tokens"
**Describe the bug**
My project only uses Cognito User Pools, no IdentityPools, and I want to get cognito user pool tokens using:
[code]
But got error:
`{localizedErrorMessage: Could not fetch identity Id, AWS Cognito Identity Pool is not configured, recoverySuggestion: Follow the steps to configure AWS Cognito Identity Pool and try again, platform: iOS}
`

**To Reproduce**
Steps to reproduce the

[2020-10-11 18:36] horgag commented on #148
try casting with `CognitoAuthSession`. ..

`CognitoAuthSession  res = await Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true));`

[2020-10-11 19:32] fpabl0 commented on #148
Hi, thanks, but that is not solution the function:
`Amplify.Auth.fetchAuthSession`
Throws always this error:
`{localizedErrorMessage: Could not fetch identity Id, AWS Cognito Identity Pool is not configured, recoverySuggestion: Follow the steps to configure AWS Cognito Identity Pool and try again, platform: iOS}`

[2020-10-11 21:27] moioo91120 commented on #133
+1 for web plz :)

[2020-10-11 21:38] JamesMcIntosh commented on #124
@fjnoyp `isConfigured()` is a good idea in that it stop you making every developer have to write the same code to store/check the state of the configuration. It is bad in that it makes `isConfigured()` part of the API.

You could also take a different approach and be a little bit more permissive by only throwing the error if the config you are trying to use the second time is different from the or

[2020-10-12 06:49] tyrone-ligph opened #150 "PlatformException(AmplifyException, Failed to Configure Amplify, The operation couldn’t be completed. (Amplify.PluginError error 2.), null)"
I have setup amplify for flutter. its currently working for Android but for iOS it just fails to configure.
In android I can already use SignIn, SignUp, Signout, etc..
however in iOS, it just logs in this error.

`flutter: PlatformException(AmplifyException, Failed to Configure Amplify, The operation couldn’t be completed. (Amplify.PluginError error 2.), null)
`

**To Reproduce**
Just configure AW

[2020-10-12 11:00] horgag opened #151 "Can't do an archive/release build because of module amplify_auth_cognito"
**Describe the bug**
Trying to do a release build. Fails to build because `Module 'amplify_auth_cognito' not found` in the GeneratedPluginRegistrant.m file

**To Reproduce**
run `flutter build iOS`
Initially you might a get build fail with `Please specify a platform for this target in your Podfile`

This can be resolved by uncommenting this line in your Podfile `# platform :ios, '9.0'`

I changed

[2020-10-12 14:14] horgag commented on #151
I've also tried to do a release build with your sample app. And I've got the same error. Please let me know what you think.
<img width="667" alt="Screenshot 2020-10-12 at 15 12 43" src="https://user-images.githubusercontent.com/1724108/95756408-a904e080-0c9d-11eb-8cc7-8926bab1ddf0.png">

[2020-10-12 15:02] Ashish-Nanda commented on #151
Hi @horgag thanks for reporting this, we'll look into creating a release build to try and root cause the problem.

I saw you also created https://github.com/aws-amplify/amplify-flutter/issues/147

Is that still an issue for you, or were you able to resolve it?

[2020-10-12 15:45] horgag commented on #151
Thanks for you speedy response! I'll close #147 but it might be related.

[2020-10-12 15:49] horgag commented on #147
I'm closing this and referencing #151 because I think it might be related ..

[2020-10-12 15:49] #147 closed

[2020-10-12 16:47] haverchuck commented on #142
@deimantasa Could you please post your amplifyconfiguration.dart contents (with actual values removed/obscured)?

[2020-10-12 16:51] jamesdixon commented on #5
@Amplifiyer thanks for the update on DataStore. If there's any update, would love to hear it. Also, more than happy to help alpha test anything :)

[2020-10-12 18:53] haverchuck commented on #151
@horgag I think this is a documentation miss on our part, which we will work to correct ASAP. The issue is that, as you have probably guessed, certain minimum platform versions are required for certain categories.  I was able to reproduce this issue locally, and solved it by:

1. Changing the `platform :ios `value in the Podfile to at least `11` (which you've done)
2. Similarly changing the deploy

[2020-10-12 18:55] haverchuck commented on #150
Hi @tyrone-ligph -  Which ios platform version are you using, and which amplify-flutter plugins are you adding?

[2020-10-12 19:16] haverchuck commented on #148
@fpabl0 @horgag  Thank you - this appears to be a bug.  We will try to prioritize a fix.  Please stay tuned.

[2020-10-12 21:33] horgag commented on #151
@haverchuck thanks for getting back so quickly and giving a solution which works. I'm now able to build in release mode. I'm closing the issue. Cheers.

[2020-10-12 21:33] #151 closed

[2020-10-13 04:30] ittsgit commented on #142
hi, execute
$amplify add analytics

? Select an Analytics provider (Use arrow keys)
    `Amazon Pinpoint`
? Provide your pinpoint resource name:
    `yourPinpointResourceName`
? Apps need authorization to send analytics events. Do you want to allow guests and unauthenticated users to send analytics events? (we recommend you allow this when getting started)
    `Yes`

amplify push

--
source
https:

[2020-10-13 04:39] deimantasa commented on #142
Hello both,

My team decided not to proceed further with this plugin, as there are too many issues and uncertainties at this point. Apologies.

Will close my threads for now. If someone is facing similar issues - happy to open it again.

[2020-10-13 04:39] #142 closed

[2020-10-13 04:39] #146 closed

[2020-10-13 04:40] #145 closed

[2020-10-13 04:40] #144 closed

[2020-10-13 04:40] #143 closed

[2020-10-13 04:40] cvalab opened #153 "PlatformException(AmplifyException, Failed to Configure Amplify, The operation couldn’t be completed."
PlatformException(AmplifyException, Failed to Configure Amplify, The operation couldn’t be completed. (Amplify.PluginError error 2.), null)
[VERBOSE-2:profiler_metrics_ios.mm(184)] Error retrieving thread information: (ipc/send) invalid destination port
Fatal error: Analytics category is not configured. Call Amplify.configure() before using any methods on the category.: file /Users/av/StudioProjec

[2020-10-13 04:48] cvalab commented on #153
<img width="802" alt="Снимок экрана 2020-10-13 в 07 46 16" src="https://user-images.githubusercontent.com/68106574/95816712-6b00ce80-0d28-11eb-8fb9-8c5b29ce8c9c.png">

[2020-10-13 06:55] Amplifiyer commented on #5
@jamesdixon, we had been designing the datastore category for flutter and starting the implementation now. Stay Tuned!. I'll be putting up an RFC soon on this repo for visibility.

[2020-10-13 07:58] joekendal commented on #5
<img src="https://user-images.githubusercontent.com/13680617/95832227-ee72ed80-0d31-11eb-9795-36278847a200.jpg" width="350">

[2020-10-13 08:22] fransiskapw commented on #81
Hello, I'm encountering the same error right now and can't seem to find a workaround

I use the code sample from getting started doc:
[code]

The error is below (no additional detail, not sure how to find more info):
[code]

I already made sure that:
- Command `amplify add auth` is run,
- The Cognito User Pool is created in AWS Console

I even tried to run `amplify remove auth` and then added it a

[2020-10-13 08:35] #150 closed

[2020-10-13 15:42] haverchuck commented on #153
@cvalab Does your amplifyconfiguration.dart file have blocks for all three categories that you are adding (most importantly analytics, which is where the error is originating)?

[2020-10-13 17:01] Ashish-Nanda commented on #150
Hi @tyrone-ligph were you able to get this working?

[2020-10-14 13:12] cvalab commented on #153
`// ignore: leading_newlines_in_multiline_strings
const amplifyconfig = '''  {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "api": {
                    "endpointType": "GraphQL",
                    "endpoint": "https://lesql3sdsjhmvp5qqjtujty2du.appsync-api.eu-west-2.amazonaws.com/graphql",

[2020-10-14 13:12] cvalab commented on #153
// ignore: leading_newlines_in_multiline_strings
const amplifyconfig = '''  {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "api": {
                    "endpointType": "GraphQL",
                    "endpoint": "https://lesql3sdsjhmvp5qqjtujty2du.appsync-api.eu-west-2.amazonaws.com/graphql",

[2020-10-15 08:39] horgag commented on #90
@shravyamachanna could you expand a bit more on your solution. I have the same problem... Is it something I have to do with the configuration file?

[2020-10-15 12:21] Ashish-Nanda commented on #153
@cvalab The configuration does not seem to be generated by the CLI but rather hand written, is that correct?
I'm not sure about why Android did not throw an error, but I think your config is missing some attributes such as `pinpointTargeting`

I've provided a sample configuration file for Auth, Storage and Analytics with using a default setup, which you can try and emulate and see if you don't get

[2020-10-15 13:27] danielblignaut commented on #153
hi all,

I work with @cvalab on the same project, I'm the backend developer. We are using a hand written config as our backend is deployed with CDK instead of amplify. Our goal is for the 2 items to work:

1. integrate Cognito user pools with AWS pinpoint
2. Generally get AWS pinpoint analytics working so that we can log analytics events.

After some thorough digging, I've found the following (som

[2020-10-15 13:56] horgag opened #155 "How to manually add S3 bucket"
**Describe the bug**
Docs showing how to add S3 bucket manually.

**To Reproduce**
here is the link to add S3 [manually](https://docs.amplify.aws/lib/storage/existing-resources/q/platform/flutter)
Incomplete docs.

**Expected behavior**
How to add S3 bucket manually

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current supports iOS and

[2020-10-15 13:58] ibadaboom commented on #150
Would be nice, if you post a solution instead of just closing it.

[2020-10-15 15:09] horgag commented on #155
Solved this by adding a bucket policy to the bucket in aws console. I used the policy generator. Here is a sample file for public access

[code]
Grants read-only permissions to everyone (*).

closing issue.

[2020-10-15 15:10] #155 closed

[2020-10-15 15:29] Ashish-Nanda commented on #153
@danielblignaut Thank you for the feedback and also for providing so much detail on your issue integrating Cognito and Pinpoint.

I'm glad that adding the `pinpointTargeting` attribute to your config and updating your permissions in the policy got you past the exception that was being thrown, and you have use-case 2 (Generally get AWS pinpoint analytics working so that we can log analytics events)

[2020-10-15 17:00] shravyamachanna commented on #90
@horgag ... Our issue was with the bucket policy, previously our bucket policy didn't allow uploads to the buckets with the prefix(public/protected/private). After allowing the object to be uploaded with prefix in bucket policy, it worked.

[2020-10-15 17:53] jamesonwilliams commented on #150
Hi @ibadaboom! Even as authors, we often don't have a complete understanding of the software. This is, in its essence, the nature of bugs. In order to reproduce issues, and while also working on other responsibilities, we need a solid set of repro steps. You can help us by providing more information as @Ashish-Nanda & @haverchuck have requested. Thank you!

[2020-10-16 00:11] sbutlerjr commented on #5
+1 desperate for DataStore.

[2020-10-16 06:54] ibadaboom commented on #150
I'm trying to use an existing configuration of the user pool. More information I can't give you too, because the stacktrace of the error is null. Are all the informations in amplifyconfiguration.dart needed for your plugin to work? For now, I just used https://pub.dev/packages/flutter_aws_amplify_cognito plugin, which worked without any more information, then printed below:

`{
    "IdentityManage

[2020-10-16 10:08] Rayv1 opened #156 "NoSuchMethodError: NoSuchMethodError: The method 'forEach' was called on null."
Hi,

Note: these bugs are not happening, when running in debug Mode or release Mode on a  Software / Hardware Device. Its atm only happening when building an APK  / AppBundle File for Android with release flag

First, when i try to Login a User, the App is complete crushing. i have no clue how to get logs or a stracktrace from it, as its not happening in debug  mode.

Second Error happens when try

[2020-10-16 11:03] Rayv1 commented on #156
okay it seems to be fixed when running:
flutter build apk --release **--no-shrink**

Maybe this is something you should know.

[2020-10-16 14:54] haverchuck commented on #156
@Rayv1 It is good to hear you are unblocked, and yes this is definitely something we should look into. Thanks for posting this issue.

[2020-10-17 08:41] arealguru opened #157 "PlatformException - Cognito"
**Bug Description**
I'm trying to set up just the `AmplifyAuthCognito()` plugin, but I'm having difficulty as a PlatformException (most likely a bad `amplifyconfiguration.dart` was keeping me from getting anywhere. I looked at issues #100 and #153 (#100 was much closer to my situation), and I wasn't able to replicate the fixes from those configurations in mine.

**To Reproduce**
I used the Amplify

[2020-10-21 06:16] Amplifiyer opened #160 "[RFC]: DataStore category for Amplify Flutter"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding support for Amplify library in Flutter platform.  Please feel free to post comments or questions here._

## Purpose
This RFC is in continuation of [this](https://github.com/aws-amplify/amplify-flutter/issues/5) and expands on DataStore category and discusses few approaches being proposed.

## Propose

[2020-10-21 09:25] danielblignaut commented on #153
hey @Ashish-Nanda ,

are there any updates on this?

[2020-10-21 17:57] Ashish-Nanda commented on #5
Hi all,

We just posted an RFC for DataStore. Please take a look and give us your feedback: https://github.com/aws-amplify/amplify-flutter/issues/160

[2020-10-22 12:40] Tapasm1212 commented on #120
I am getting the same Invalid JWT Signature in Cognito token. I am using flutter SDK "amplify_auth_cognito" in pubspecs.yml file but it's not working.

[2020-10-22 13:40] KrisWozy commented on #120
Had this issue, was copying the jwt from flutter debug log in vscode and it was chopping off the last 2 characters of the code giving it an invalid signature when testing the copied token. Could be the same for others.

[2020-10-22 21:59] andruco3 commented on #5
Hello

I would like to know when amplify will be ready for use in production in the authentication package and if it is working in the rememberDevice function as it is in android

[2020-10-23 16:56] haverchuck commented on #157
@arealguru I'm unable to reproduce this issue, but we are continuing to investigate.

[2020-10-24 00:13] fjnoyp opened #162 "Amplify Analytics - Backfill Missing Unit Tests"
Problem Statement:
The current unit tests for Analytics do not fully cover all cases and platforms.

1) Expand dart unit tests to test the serialization of input data types. Test using "expect" that these input data types are serialized correctly when being sent over the method channel.

2) Add iOS unit tests.

These new tests should follow the implementation of unit tests for the Datastore Query

[2020-10-24 02:15] willstepp opened #163 "Getting AMPLIFY_FETCH_SESSION_FAILED exception when fetching AWS session credentials"
**Describe the bug**

I've been working my way through the documentation at https://docs.amplify.aws/lib/auth/getting-started/q/platform/flutter to set up a Flutter application that will use the AWS Amplify Auth library to authenticate my calls to API Gateway endpoints. Since the Amplify Flutter library does not yet provide functionality for calling API Gateway, I intend to fetch the AWS Credentia

[2020-10-24 22:22] habupagas commented on #93
flutter: Instance of 'AuthError'
flutter: AMPLIFY_SIGNIN_FAILED
flutter: PLATFORM_EXCEPTIONS
flutter: INVALID_STATE

[2020-10-25 04:14] haverchuck commented on #163
@willstepp Is this happening for you on Android as well?

[2020-10-25 14:00] willstepp commented on #163
@haverchuck I have since figured this out. There was additional information in the exception for AMPLIFY_FETCH_SESSION_FAILED, which said I had not yet configured an identity pool. Digging into that I learned the option I chose during setup "User Sign-Up & Sign-In only (Best used with a cloud API only)", which I had thought was the correct one for my use case (calling into API Gateway) does not go

[2020-10-25 21:34] aaronsamkennedy commented on #163
I have the same issue, even though the isSignedIn is true in responding from Amplify. I also looked into the e.details and it just said 'See logs for details.' would this be in the flutter logs in AWS? I didn't see anything in cognito or cloudwatch.

[2020-10-26 19:40] haverchuck commented on #163
@aaronsamkennedy - Thanks for noting the ambiguity with the logs.  These should be logs in the actual application, not AWS.  This should definitely be clarified.

[2020-10-26 20:30] haverchuck commented on #163
@willstepp Can you please post your amplifyconfiguration.dart (with values removed/redacted)?

[2020-10-26 22:51] willstepp commented on #163
@haverchuck here is what I **think** it looked like originally, following the setup for "User Sign-Up & Sign-In only (Best used with a cloud API only)". Basically no section for CredentialsManager/CognitoIdentity:

[code]

[2020-10-27 18:48] bcrisostomo commented on #148
@haverchuck Also need this for Third Party Social Sign in. Having the same issue, is there an update on this?

[2020-10-27 22:24] Macacoazul01 opened #165 "Integration with databases - Dynamo"
It would be nice to have also the functions for saving/updating and getting data from dynamoDB, like firebase.

[2020-10-28 02:56] scdplzop commented on #157
Hi, yesterday got the same exception on Android side. Found some mistakes in the amplifyconfig file but iOS didn't show up this exception, which is weird. Our team created the config file manually. The detailed message indicates the user agent has been set, and Oauth related error. If one has the exception above I suggest look at the official [config](https://docs.amplify.aws/lib/auth/existing-res

[2020-10-28 07:48] arealguru commented on #157
Thanks for the suggestion @scdplzop, I have removed the UserAgent and Version in the awsCognitoAuthPlugin, and I never had the OAuth block in. Unfortunately it is still not working for me.

@haverchuck Here are the package versions I am using related to Amplify. I just tested it on Android and it works fine -- doesn't work on my emulator, though.

[code]

Is it possible that it may be something re

[2020-10-29 00:30] fjnoyp commented on #165
Hi @Macacoazul01 we are currently working on including DataStore.

We have a RFC open for the work we plan to do:
https://github.com/aws-amplify/amplify-flutter/issues/160

[2020-10-29 16:44] monishkumar-sivakumar opened #166 "Error when uploading video using S3 Plugin"
I setup amplify on my flutter project using the guides, but when I try to upload a video onto S3 from my Samsung Galaxy s9 I get this error message:

[code]
Here is my amplifyconfig file (I have taken out the keys and PoolID):
[code]

[2020-10-30 17:11] Rayv1 opened #168 "extending FlutterFragmentActivity crashes App on reopen"
Hi,

iam using the [local_auth](https://pub.dev/packages/local_auth) Plugin from flutter Team, which requires FlutterFragmentActivity instead of FlutterActivity in the MainAcitivity.kt File. When extending this Class the first Open of the App works fine.
When putting the app in the Background (not full close) and reopen it, its crashing with the following Error:
[code]

This Bug happens not if usi

[2020-10-30 18:33] Rayv1 commented on #168
My MainActivity.kt:

[code]

[2020-10-30 18:50] monishkumar-sivakumar opened #169 "Error when uploading video using S3 Plugin"
I setup Amplify in my Flutter project using the guides. When I try to upload a vide to S3 from my Samsung Galaxy S9, I get this error message:

[code]
Here is my `amplifyconfig.dart` file:

[code]

[2020-10-30 18:50] #169 closed

[2020-10-30 18:58] jamesonwilliams commented on #169
@monishkumar-sivakumar No need, @jpignata has re-assigned the issue for you.

[2020-10-30 20:16] Ashish-Nanda commented on #165
@Macacoazul01 I'm going to go ahead and close out this issue as it is already tracked in the RFC #160 and we are actively working on it. We encourage you to share any feedback or comments there.

[2020-10-30 20:16] #165 closed

[2020-10-30 20:59] fjnoyp commented on #166
Hi @monishkumar-sivakumar can you provide the code you use to configure Amplify and to upload the video?  Did you use Amplify CLI to setup your project?

Our example app has a working file upload function as well ([here](https://github.com/aws-amplify/amplify-flutter/tree/master/example)). I'm wondering if you would get the same error running that project as well.

[2020-10-30 21:09] fjnoyp commented on #168
Hi @Rayv1 it looks like the exception is caused by calling Amplify.configure a second time.  Can you try adding a boolean "isInitialized" that is set to true once you call configure, this way your code shouldn't call it a second time and trigger the exception.

[2020-10-30 21:44] jamesonwilliams commented on #166
Duplicated of https://github.com/aws-amplify/amplify-flutter/issues/169, which has been formatted.

[2020-11-02 02:23] gaurav618618 commented on #156
I am also getting the same issue when i build apk through android studio and deploy it . I am facing issues with only **Signup** function and everything else in **Auth** is working fine for me . **Signup** works fine in debug mode that's why i was so confused . After deploying apk through android studio i got the following error in logcat when apk calls signup fucntion.

[code]

[2020-11-02 10:43] Rayv1 commented on #168
@fjnoyp i will check it later and give you a short Feedback

[2020-11-02 19:03] jamesonwilliams commented on #156
See @gaurav618618's related StackOverflow post, here:

https://stackoverflow.com/questions/64565537/aws-amplify-flutters-auth-signup-function-is-not-working-when-deployed-via-andr

[2020-11-02 21:59] darmoz commented on #166
I have experinced same issue with image uploader
Code:
[code]
and amplify config:
`const amplifyconfig = ''' {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "auth": {
        "plugins": {
            "awsCognitoAuthPlugin": {
                "UserAgent": "aws-amplify-cli/0.1.0",
                "Version": "0.1.0",
                "IdentityManager": {
                    "Defaul

[2020-11-03 11:44] cvalab opened #172 "Adding endpoints from Flutter Amplify"
I have configured Push notifications in Pinpoint
project. Test messages are successfully sent by specifying the Firebase token. How can I register an FCM token in Pinpoint? How do I add Adding endpoints from Flutter Amplify I'm trying to do it this way, but obviously it's not the right way.

`@override
  Future<void> upDateFcmToken(
      {@required String token, @required String userId}) async {

[2020-11-03 19:07] darmoz commented on #169
I have similar problem with amplify-flutter when attepmt to upload image file to s3 please se below:
'''
void _upload() async {
    try {
      print('In upload');
      File local = await getImageFileFromAssets(images.first);
      local.existsSync();
      print('Path: '+local.path);
      final key = 'key';
      Map<String, String> metadata = <String, String>{};
      metadata['category'] = 'c

[2020-11-04 12:37] albemala commented on #128
I vote for option 1

Is there a timeline for when the Amplify Rest API will be implemented?

[2020-11-04 21:06] monishkumar-sivakumar commented on #166
Hi @fjnoyp I used the amplify cli to configure amplify.  here my code:

  void configureAmplify() async {
    // First add plugins (Amplify native requirements)
    AmplifyStorageS3 storage = new AmplifyStorageS3();
    AmplifyAuthCognito auth = new AmplifyAuthCognito();
    amplify.addPlugin(authPlugins: [auth], storagePlugins: [storage]);

    // Configure
    await amplify.configure(amplifyconf

[2020-11-07 09:06] Rayv1 opened #178 "[iOS] Amplify.Auth.fetchAuthSession() sessionToken is null"
Hi,

my code to get the session:

[code]
The returned CognitoAuthSession has a valid awsAccess & SecretKey but the sessionToken is just null. On Android its working fine. Is this just not implemented, is it a bug or is there an option for getting the sessionToken on iOS?

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[] Androi

[2020-11-08 08:28] mundhrakeshav opened #179 "[HELP] how to check is a user is already registered/signedUp?"

[2020-11-08 08:31] Josiah-Turnquist commented on #157
I've had this problem for days except it says plugin error 2 instead of 0. I put endless hours into this and finally fixed it by deleting the auth and analytics folders in pods.

[2020-11-08 16:59] vuchau opened #180 "[HELP] how to get userSub after signedUp?"
Hi,
 I need get userSub after signup to create new user profile on database, but I can't see any properties to do it

[code]

**Platform**
[x] Android
[] iOS

**Smartphone**
 - Device: Pixel 2
 - OS:  Android 9

Pubspec.yaml dependencies only contains:
amplify_core: ^0.0.1-dev.3
amplify_auth_cognito: ^0.0.1-dev.3

[2020-11-09 13:08] Rayv1 commented on #168
Yep, i checked if amplify is already configured and the error is gone

[2020-11-09 13:08] #168 closed

[2020-11-10 03:08] fpabl0 commented on #148
@haverchuck any updates on this issue?

[2020-11-10 18:25] KaliTHB opened #182 "how to login using facebook , Google , Twitter ?"
i want to login using identity pools

[2020-11-10 20:40] haverchuck commented on #182
@KaliTHB - We plan to support an OAuth flow with Cognito Hosted UI (User Pools) soon, but we do not currently have identity pool federation planned. I'll mark this as a feature request.

[2020-11-11 20:48] fryette commented on #182
Must have feature, will wait...

[2020-11-13 05:16] FirdousNath opened #186 "How to refresh the token ?"
Whenever I am using rest Api it works fine for certain time period but after that it gives
` {"message":"The security token included in the request is expired"}`
I need to manually logout from app and re-login back. Then it works again but is there any way to refresh token automatically ?

[2020-11-13 16:50] haverchuck commented on #186
@FirdousNath You are using the Amplify.Auth category for flutter to manage authentication?  Which platform are you seeing this behavior on?

[2020-11-13 17:16] Rayv1 commented on #186
@FirdousNath i had the same Issue and and since then, iam doing
[code]
before every API call. The Issue is fixed with it.

@haverchuck is this the right "workflow" to refresh a Session?

[2020-11-13 17:17] Rayv1 commented on #178
Any Updates on this? Is the behaviour reproducible?

[2020-11-13 17:26] haverchuck commented on #180
@vuchau I've added this as a feature request that will be discussed.  For the time being, have you looked into using Cognito Lambda Triggers?  To be clear, I can't remember off the top of my head if the userSub is available in the trigger, but I suspect that it is.  This might actually be a good option for your use case regardless of whether this feature request gets built.

[2020-11-13 17:59] vvjathavadekar opened #188 "Uploading file S3 bucket works on debug but crash on prod"
I have tested many times but app works properly on debug mode but when I generate prod build for flutter, then while testing app keeps crashing as I tries to upload new file!

I m using this fun to upload

 `void _upload(BuildContext context) async {
try {
      ProgressDialog.showProgressDialog(context);
      print('In upload');
      // Uploading the file with options
      File local = File(wi

[2020-11-14 09:10] FirdousNath commented on #186
Yes & this is seen on both  Android emulator and physical devices

[2020-11-14 11:20] FirdousNath commented on #186
Thanks alot , this trick works for me too. But I am only doing `Amplify.Auth.fetchAuthSession` when actually token get expired. So its saves time & network usage.

[2020-11-14 17:30] cnttechio commented on #182
I'm waitting this feature.

[2020-11-15 13:11] rish07 commented on #182
Hey @haverchuck, is anyone working on this feature request? I would like to contribute by adding this feature. I am an MLH fellow.

[2020-11-15 15:43] vuchau commented on #180
I haven't used Cognito Lambda Trigger for this yet, I have looked through the Pre Sign-up Lambda Trigger but still can't see the userSub (userId) attribute.
My data flow as below:
When the user registers to the system, I will create a user profile with the primary key is **userSub** (userId) from Cognito and the status **INACTIVE** and will switch to **ACTIVE** after the user has confirmed the cod

[2020-11-15 21:51] jcblancomartinez commented on #182
Hi,
I'm interested in enabling external federated identity providers (i.e. Google, Facebook) in Cognito's user pool with Flutter. I would like the flexibility to own the UI to support multiple languages. Is there any issue I can track or you recommend me creating one?

Thanks.

[2020-11-16 17:39] rubana28 commented on #166
File local = await getImageFileFromAssets(images.first); here for using  getImageFileFromAssets(images.first) this, do i have to use any package or anything ?

[2020-11-16 22:43] jcblancomartinez opened #192 "Support to collect metrics from Cognito into Amazon Pinpoint"
Hi,

Adding support for passing AnalyticsMetadata request parameter to multiple operations (InitiateAuth, RespondToAuthChallenge, SignUp, ConfirmSignUp, ForgotPassword, ConfirmForgotPassword)

https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html#CognitoUserPools-InitiateAuth-request-AnalyticsMetadata

Thanks.

Best Regards.

[2020-11-16 22:51] jcblancomartinez opened #193 "Support for UpdateUserAttributes operation"
Hi,

Support to invoke UpdateUserAttributes operation.

https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_UpdateUserAttributes.html

Thanks.

Regards.

[2020-11-18 09:21] SailorMobile commented on #148
What is the current status with this bug...?

[2020-11-19 08:28] sabin26 opened #199 "[HELP] How to send custom challenge answer ?"
I have my user pool set up with lambda triggers for custom authentication. OTP is sent to user's phone and is working as expected. But, I am stuck going forward from here.

I tried the following but it didn't work for sending answer in CUSTOM_FLOW method:

`await Amplify.Auth.confirmSignIn(confirmationValue: code);`

How to send custom challenge answer ?

[2020-11-19 08:38] sabin26 commented on #199
If we could do something like this:  `await Amplify.Auth.sendCustomChallengeAnswer(answer: code);`

It would be very useful.

[2020-11-19 16:46] aymane6 opened #200 "[ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: PlatformException(AmplifyException, User-Agent was already configured successfully., {cause: null, recoverySuggestion: User-Agent is configured internally during Amplify configuration. This method should not be called externally.}, null)"
**Describe the bug**
I can't configure the Amplify with a basic configuration. I copy / paste and follow all steps in the official documentation.
I add the auth module, but i am not able to go throw this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/aymane6/AmplifyTestApp.git'
2. Click on 'Run the project TWICE'
4. See error
`E/flutter (17468): [ERROR:flutt

[2020-11-19 18:52] Ashish-Nanda commented on #163
Hi @willstepp @aaronsamkennedy we are working on a fix for this and hope to release it next week.

[2020-11-19 19:16] aymane6 commented on #200
Finally i close the application and i restarted the project to make the error disappear
Thanks

[2020-11-19 19:17] #200 closed

[2020-11-20 01:45] kjones opened #201 "Amplify.Auth.getCurrentUser() return different platform results when using email based auth"
When adding Cognito auth to a project, if email based sign-in is chosen (might apply to phone number also) then `Amplify.Auth.getCurrentUser()` return different `AuthUser` results between Android and iOS. Android returns with `AuthUser.username` set to the email address but iOS appears to return the Cognito userSub value.

**To Reproduce**
1. Configure Amplify Auth (`amplify add auth`) to use emai

[2020-11-20 03:32] kjones commented on #201
Current workaround to get email on both platforms.
[code]
`_parseJwt()` borrowed from here: https://stackoverflow.com/a/52021206/2929266

[2020-11-20 11:48] rlee1990 commented on #5
Any new updates?

[2020-11-20 17:26] aymane6 opened #202 "is Amplify analytics mandatory ? Because i can't create project with auth only"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'init amplify, add auth with default config and run empty flutter project '
2. Click on '....'
3. Scroll down to '....'
4. See error

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'...
F/crash_dump32(13915): c

[2020-11-20 20:15] pkhivesara opened #203 "Unhandled Exception: PlatformException(AmplifyException, Error casting configuration map, Unsupported value: org.json.JSONException: No value for pinpointAnalytics, null)"
**Describe the bug**
Integrating Auth module causes crash

**To Reproduce**
Steps to reproduce the behavior:
1. Add Amplify via CLI
2. Add auth plugin
3. Launch App
4. See error

**Expected behavior**
App should run fine

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check

[2020-11-20 21:23] pkhivesara commented on #142
Having similar issue

[2020-11-20 23:44] #203 closed

[2020-11-21 17:42] #202 closed

[2020-11-22 23:54] haverchuck commented on #178
@Rayv1 Do you have an identity pool configured?

[2020-11-22 23:56] haverchuck commented on #148
@SailorMobile @fpabl0 @bcrisostomo We are opening a PR to address this.

[2020-11-23 05:35] srimajji commented on #201
@kjones I noticed this as well and thank you for the workaround!

[2020-11-25 08:51] wasitu opened #213 "SystemNavigator.pop() causes Amplify exception"
**Describe the bug**
Flutter's SystemNavigator.pop() causes Amplify exception by starting app again.
(Using android's back button for closing app causes the same problem)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Amplify like
[code]
2. Use `SystemNavigator.pop()` for close app on root page (or press android's back button)
3. Start app again
4. You can see error on logcat

**P

[2020-11-25 09:10] Dedecube commented on #182
I'm waiting this feature too. Now I'm using other library that isn't supported anymore. I want to add Google, Facebook, ... sign in with my own UI. Please let we know any plan about this feature request.

[2020-11-25 11:23] manjunathpm commented on #151
I am facing same issue on android.

`FAILURE: Build failed with an exception.

* What went wrong:
Task 'assembleAarRelease' not found in root project 'amplify_auth_cognito'.

* Try:
Run gradlew tasks to get a list of available tasks. Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help

[2020-11-25 13:40] brunovsiqueira commented on #135
Hello guys. I have the same issue. Can you guys help me please?

[2020-11-25 13:41] brunovsiqueira commented on #163
Hi guys. When the solution is going to be released? Needing it a lot.

[2020-11-25 18:40] Ashish-Nanda commented on #163
Hi @brunovsiqueira

We plan to merge the fix this week and do a release early next week.

[2020-11-25 22:20] JamesMcIntosh commented on #140
@Ashish-Nanda Any chance of getting this fixed as it is still a problem and the solution is pretty simple?

[2020-11-26 01:34] JamesMcIntosh commented on #140
@Ashish-Nanda Using a var to store the state of the response such as this does work to solve the problem, I have taken to just logging the error message for failed result/error messages. Is this solution suitable?
[code]

[2020-11-26 22:38] fjnoyp commented on #213
Hi @wasitu thanks for bringing this issue to our attention.  We'll discuss this issue and take a look.

[2020-11-27 01:57] wasitu commented on #213
@fjnoyp
Thanks for your reply.

Yeah, I saw those workaround but I think its not that.
Because If I remove Amplify, Everything fine. (Behavior seems to be restarted all and can use other libraries.)

[2020-11-27 03:42] rubana28 commented on #90
@shravyamachanna  how did you allow the object to be uploaded with prefix in bucket policy ? it will be very helpful if you share the solution more briefly as I am facing almost the same problem

[2020-11-27 03:43] rubana28 commented on #90
@shravyamachanna  this is my problem right now

`D/FilePickerDelegate(16243): Selected type */*
W/utter_analytic(16243): Verification of androidx.arch.core.internal.SafeIterableMap$Entry androidx.arch.core.internal.SafeIterableMap$ListIterator.backward(androidx.arch.core.internal.SafeIterableMap$Entry) took 464.219ms
I/utter_analytic(16243): Background concurrent copying GC freed 1530(191KB) Alloc

[2020-11-27 16:47] fpabl0 commented on #201
@kjones yes, you are right. However, it seems to be problem of the native libraries, they have different implementation on that part. Just to note, iOS implementation is correct as the username has to be different from the email, the mistake is on the Android native library.

[2020-11-30 20:44] fjnoyp commented on #213
Ah I see.  Could you provide the full error log you're getting here?  Does keeping a `bool isConfigured` and only calling configure() if it's false fix your problem?

[2020-12-01 16:55] lanouvelleecole opened #220 ""amplify init" command fails with an error "init failed Error: Failed to zip code. at WriteStream.<anonymous>....""
**Describe the bug**

On Windows 10, the command 'amplify init' starts good, but then fails,
with this error message:

init failed Error: Failed to zip code.
at WriteStream.<anonymous>
(C:\Users\jeanetpatrick\AppData\Roaming\npm\node_modules\@aws-amplify\cli\node_modules\amplify-provider-awscloudformation\src\utils\archiver.js:18:14)
at WriteStream.emit (events.js:327:22)
at WriteStream.EventEmitt

[2020-12-01 23:09] brunovsiqueira commented on #163
Hi @Ashish-Nanda. Looking forward for this fix. Any news?

[2020-12-02 05:05] fjnoyp opened #223 "Minor Code Changes"
Several minor code changes to improve code readability and functionality:

- Allow comparison of the modelOperation array in modelSchema for Android (for now unit tests in Android ignore the operation of the AuthRule)

- Remove testEnum in codegen folder or add in the AllTypeModel

- onConfigureModelProvider of SwiftAmplifyDatastorePlugin.swift does not throw an error if the args["modelSchemas"] i

[2020-12-02 07:28] wasitu commented on #213
@fjnoyp
Here's log
[code]

`bool isConfigured` can't fix problem. Since Dart seems to be reset, it's always false.
As log said, Automatically registration plugins failed with amplify one.

[2020-12-02 10:16] wasitu commented on #213
I fixed it temporally like this.
https://github.com/wasitu/amplify-flutter/commit/80e9eb6ef058e2d8e49ea2b093c489c8739e90fc

But I dont have much time (and smart brain) to test and think if it's ok or not. Just working for me.

[2020-12-02 15:25] Ashish-Nanda commented on #5
@rlee1990

The team has been working hard on building DataStore, and we will share some bigger updates related to that pretty soon.

[2020-12-02 15:36] Ashish-Nanda commented on #163
@brunovsiqueira We plan to release the fix this week. I'll update this thread as soon as the release with the fix is out.

[2020-12-03 20:12] mdridley commented on #178
I am having the same issue. Possible that some of the PRs will fix... but even though they are merged, we are two months since the last push.

[2020-12-03 21:06] Amplifiyer opened #230 "[DataStore] Add custom conflict resolution handling"

[2020-12-03 21:37] mdridley opened #231 "Amplify.Auth.fetchSession returning 403"
**Describe the bug**
Confirmed that Amplify.Auth.getCurrentUser() is showing my user.
But getting exception when I call Amplify.Auth.fetchSession()

`403 - {message: Authorization header requires 'Credential' parameter. Authorization header requires 'Signature' parameter. Authorization header requires 'SignedHeaders' parameter. Authorization header requires existence of either a 'X-Amz-Date' or a

[2020-12-03 23:00] Ashish-Nanda commented on #163
@brunovsiqueira The fix has been released! Please let us know if you still face the issue.

[2020-12-03 23:30] mdridley commented on #231
Still is an issue after updating to 0.0.1-dev.4

[2020-12-03 23:32] mdridley commented on #178
Latest update still has the issue?

[2020-12-04 00:04] Amplifiyer commented on #5
Thank you for your patience with us. DataStore for flutter is [now available](https://pub.dev/packages/amplify_datastore) as a developer preview. Get started [here](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter)

[2020-12-04 00:04] Amplifiyer commented on #160
Thank you for your patience with us. DataStore for flutter is [now available](https://pub.dev/packages/amplify_datastore) as a developer preview. Get started [here](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter)

[2020-12-04 04:54] mdridley commented on #231
Update - tried a full Amplify init process with a new user pool. Looks like the main difference between the two was that it created a Client Secret. Current user pool does not have it, so was not passing that param (Passing empty string also does not work). With that change, it worked. We are looking at being able to add a secret for this user pool since others use it, but I am guessing the issue

[2020-12-04 05:30] mdridley commented on #231
Seems even with a Client Secret, it does the same error. Is there something else done during the Amplify CLI process that needs to be done (IAM set up?), not seeing any other real configuration differences between the two user pools

[2020-12-04 05:32] mdridley commented on #231
Adding a client secret did indeed work on the original user pool.

[2020-12-04 05:52] jamesonwilliams commented on #231
Sorry about the trouble, @mdridley! The CLI briefly stopped generated pools with a client secret, even though the clients still used one. The change was reverted. There are some details in https://github.com/aws-amplify/amplify-cli/issues/5976.

[2020-12-04 08:54] NimaSoroush commented on #160
I started integrating **Amplify DataStore** to my flutter project but there is a mismatch between what version of CLI for codegen

[Flutter preview](https://docs.amplify.aws/lib/project-setup/prereq/q/platform/flutter#option-2-follow-the-instructions) suggests to use `npm install -g @aws-amplify/cli@flutter-preview`

But

`amplify codegen models` is only available on `npm install -g @aws-amplify/c

[2020-12-04 09:29] FadilaNuzha opened #234 "Web support for amplify-flutter"
**Bug Description**
I created a simple web app to connect to AWS amplify.

![image](https://user-images.githubusercontent.com/13960624/101145867-5c57d900-3640-11eb-90f1-0c63cec931b7.png)

But it's throwing the below error.

![image](https://user-images.githubusercontent.com/13960624/101146030-890bf080-3640-11eb-9f17-9b19c1d1058d.png)

I have tried 'flutter clear', 'pub get' and creating a whole ne

[2020-12-04 13:44] Rayv1 opened #235 "0.0.1-dev.4 not working on iOS Simulator"
Hi,

updated from 0.0.1-dev.3 to 0.0.1-dev.4 and iOS is no longer working.
When i try to run my app on iOS Simulator with 'flutter run --verbose' it stucks at:

[   +7 ms] Waiting for observatory port to be available...

I can see, that the App is starting but immediately exits.

When trying to run it with xcode (12.2) i got:
[code]

Its working on Android without an Issue. If i switch back to  0.

[2020-12-04 13:55] Ashish-Nanda commented on #160
@NimaSoroush you do not need the preview tag any more. You can go ahead and use `@latest`:

`npm install -g @aws-amplify/cli`

I'll make a PR to update the docs. Thanks for catching this!

[2020-12-04 14:38] Ashish-Nanda commented on #235
@Rayv1 what plugins are you using? Can you share your `pubspec.yaml` file?

I think this might be related to this issue related to an Amplify iOS dependency: https://github.com/aws-amplify/amplify-ios/issues/797

Do you not see this issue once you switch back to `0.0.1-dev.3`?

[2020-12-04 16:53] haverchuck commented on #148
@SailorMobile @fpabl0 @bcrisostomo  - We have included a fix for this in [our most recent release](https://pub.dev/packages/amplify_auth_cognito).

@bcrisostomo As you can see from [this PR](https://github.com/aws-amplify/amplify-flutter/pull/154), we are actively working on OAuth flows (social sign-in) with Cognito Hosted UI.  It may be some time before this PR is merged and release.

[2020-12-04 17:03] haverchuck commented on #234
Hi @FadilaNuzha - We don't support Flutter web yet, but we know that this (as well as desktop support) is something that is desired. I'm marking this issue as a feature request.

[2020-12-04 17:15] haverchuck commented on #178
@mdridley  - What is the result you are seeing from the fetch session request (please redact sensitve information)?

[2020-12-04 17:47] Rayv1 commented on #235
@Ashish-Nanda sure!

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons:
  carousel_slider:
  amazon_cognito_identity_dart_2:
  shared_preferences: ^0.5.12+4
  cached_network_image: ^2.3.3
  intl:
  percent_indicator:
  flutter_svg:
  image_picker:
  permission_

[2020-12-04 17:48] jamesonwilliams commented on #133
Thanks, @moioo91120! We're tracking support for Flutter web in https://github.com/aws-amplify/amplify-flutter/issues/234.

Please 👍 on #234 for [Flutter Web](https://flutter.dev/web).
Please 👍 on this current #133 for [Flutter Desktop](https://flutter.dev/desktop).

[2020-12-04 17:50] jamesonwilliams commented on #234
(For those who are interested, support for Flutter Desktop is being tracked separately, in #234.)

[2020-12-04 18:08] Rayv1 commented on #235
Yep, its the [connectivity](https://pub.dev/packages/connectivity) Package from flutter.dev

Does that mean I cannot use the two packages together?

[2020-12-04 18:29] Ashish-Nanda commented on #235
@Rayv1

We have communicated the issue with the Amplify iOS team and they are looking into it. In the meanwhile can you continue with `0.0.1-dev.3`?

[2020-12-04 19:16] willstepp commented on #163
Thank you for the fix and response. I have a workaround in place for this, so it's not easy for me to verify atm.

[2020-12-04 20:00] haverchuck commented on #235
https://github.com/aws-amplify/amplify-ios/issues/797

[2020-12-04 22:01] haverchuck commented on #178
@Rayv1 Have you been able to test the new version?

[2020-12-05 07:38] fpabl0 commented on #148
I have just tested. It works great, thanks. I think you must update the documentation as I have realized that now the library needs minSdkVersion 21 for android.

[2020-12-05 19:43] jamesonwilliams commented on #148
@fpabl0 Did you find some documentation that indicates otherwise? Can you please include a link? Will update. Thanks!

[2020-12-05 19:44] NimaSoroush commented on #160
I'm trying to use `amplify_datastore` alongside `amplify_auth_cognito` and `amplify_core` but as soon as I put them all in pubspec.yaml file I get

[code]

Using `amplify_datastore` alone works fine.

[code]

[code]

[2020-12-05 19:47] jamesonwilliams commented on #160
@NimaSoroush Can you please create a separate bug report for that issue, and remove it from this RFC? This is more discussing roadmap.

[2020-12-05 19:50] fpabl0 commented on #148
@jamesonwilliams Not in fact, unless I have not read carefully, in the documentation there is nothing about this requirement in Android (documentation only says iOS development target must be 11, but nothing about Android sdk version). However before the current release, I could build a project with sdkVersion 16, but now I can't, because now the libraries have the minSdkVersion set to 21.

[2020-12-05 19:53] NimaSoroush opened #239 "Using amplify_datastore alongside amplify_auth_cognito and amplify_core"
**Describe the bug**
I'm trying to use amplify_datastore alongside amplify_auth_cognito and amplify_core but as soon as I put them all in pubspec.yaml file I get

[code]

Using `amplify_datastore` alone works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'pubspec.yaml'
2. add amplify_datastore, amplify_auth_cognito and amplify_core as dependency
3. Run the project
4. See error

[2020-12-05 20:19] jamesonwilliams commented on #148
@fpabl0 Gotcha. This requirement was recently added in our public docs, [here](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter#prerequisites). Formerly, I think the API level was undocumented as you say, and there was no public contract around it.

[2020-12-05 23:26] fpabl0 commented on #148
@jamesonwilliams I see. However I think, it must be clearer if [here](https://docs.amplify.aws/lib/project-setup/prereq/q/platform/flutter) says it too and also [here](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/flutter).

[2020-12-06 01:22] jamesonwilliams commented on #148
Cool, thanks. Will update.

[2020-12-06 08:11] bjoern-from-kopply commented on #182
Sign in with Apple and Google would be very much appreciated and it's critical as it increases user signup dramatically.
Would also prefer an own UI and use the ``Auth. federatedSignIn`` command to login.

[2020-12-06 18:06] andruco3 opened #240 "minSdkVersion 21 in library [:amplify_auth_cognito]"
Hi,

I implemented amplify_auth_cognito and everything worked perfect for me. But today I updated and got Pubsec.yaml and started with the following error:

uses-sdk: minSdkVersion 18 cannot be less than version 21 declared in library [: amplify_auth_cognito]

Obviously you changed the minsdk of the amplify_auth_cognito library.

What will be the mindk for this library? The documentation talks abo

[2020-12-06 21:55] NimaSoroush commented on #240
in your `android/app/build.gradle` change minSdkVersion to 21

[2020-12-06 23:42] kjones opened #241 "DataStore CodeGen - Amplify CLI - Enum field problems."
**Describe the bug**
There are a few problems with the code generated by Amplify CLI codegen for Flutter DataStore models.
1. Nullable enums aren't serialized/deserialized correctly when null and are rejected when sent to AppSync.
1. Lists of enums generate models that won't compile.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following schema.graphql file on a Flutter DataStore

[2020-12-07 01:18] kjones commented on #241
I am finding other problems with the dart model codgen. For now I'll list them here but if you would like separate issues opened I can do that.

**Incorrect generation of `@required` parameters**
The following schema.graphql file:
[code]
Generates the following TestModel factory:
[code]
Looks like `copyWith()` also has this problem. This will get a lot easier when we can just use nullsafety... `Li

[2020-12-07 07:10] FadilaNuzha commented on #234
Hi @haverchuck, I tried this in an Android device and the emulator as well. Still I'm unable to configure Amplify. So I'll rename the issue. Am I missing something in the process?

[2020-12-07 07:32] FadilaNuzha commented on #234
Actually it started working with the emulator, so I guess it's a web issue.

[2020-12-07 15:49] NimaSoroush commented on #235
`amplify_datastore` needs `amplify_core: 0.0.1-dev.4` at least

[2020-12-07 16:02] Ashish-Nanda commented on #235
@NimaSoroush
Thats correct, however from the `pubspec.yaml` provided above it seems @Rayv1 is not using amplify_datastore and can downgrade until we have the fix.

Are you having this issue ?

[2020-12-07 16:14] Rayv1 commented on #178
@haverchuck yep, its fixed! Thanks!

[2020-12-07 16:14] #178 closed

[2020-12-07 16:20] Rayv1 commented on #235
@Ashish-Nanda  downgrade is not possible, because there is a SessionToken Bug dev-3 which returns null for iOS. Iam using the Connectivity Package for the offline sync with Dynamodb via Appsync, which was now introduced with dev-4. As my App is still in Beta, i try to switch to datastore module. But i think its a big Issue, as the Connectivity Plugin is one of the most popular Flutter plugin.

[2020-12-07 16:46] Ashish-Nanda commented on #235
@Rayv1
Thank you for the additional details. I definitely agree this is an issue, and have communicated this to the iOS team internally. They are looking into it, and I will post an update as soon as we have something.

[2020-12-07 16:56] fpabl0 commented on #148
Thanks  👍

[2020-12-07 17:01] haverchuck commented on #240
@andruco3 This was a problem in our docs - we are correcting ASAP.  Thanks for logging this issue.  The minSDK version is 21.

[2020-12-07 17:10] haverchuck commented on #148
@fpabl0 We have [a PR open](https://github.com/aws-amplify/docs/pull/2752) to fix the issue in the Project Setup section. I am going to close this issue since it appears the fix for the original problem is working for you.  Thanks for posting this.

[2020-12-07 17:10] #148 closed

[2020-12-07 17:20] Ashish-Nanda commented on #239
@NimaSoroush are you still facing this issue? I see your deployment target is set to `8.0`, can you increase it to `13.0` or higher?

[2020-12-07 17:23] haverchuck commented on #241
@kjones Individual GH issues for each identified problem would be  much appreciated!

[2020-12-07 17:39] brunovsiqueira commented on #163
Hi @Ashish-Nanda. I haven't done all tests I want to but it seems to be working properly.

The only problem is that when I call the Amplify.Auth.signIn method the following exception is raised, even everything seeming to work well (I can get session, tokens, etc):

`[+13605 ms] W/CognitoUserSession(12969): CognitoUserSession is not valid because idToken is null.
[   +3 ms] D/AWSMobileClient(12969)

[2020-12-07 17:53] psandell2020 commented on #5
What is the backend database for the datastore?

[2020-12-07 18:15] brunovsiqueira commented on #213
I'm having the exact same issue mentioned by @wasitu.

[2020-12-07 18:48] kjones opened #242 "DataStore CodeGen - Incorrect generation of `@required` parameters"
**Describe the bug**
Amplify CLI codegen for Flutter DataStore models does not correctly generate `@required` parameter metadata tags.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following schema.graphql file on a Flutter DataStore project.
[code]
2. Run `amplify codegen models` which produces a model with the following factory:
[code]
Looks like `copyWith()` also has this proble

[2020-12-07 18:49] jamesonwilliams commented on #5
DynamoDB, via AppSync.

[2020-12-07 18:50] jamesdixon commented on #5
What's the local database implementation?

[2020-12-07 19:04] kjones opened #243 "DataStore CodeGen - Amplify CLI - `@copyWith()` shouldn't have required fields."
**Describe the bug**
`copyWith()` shouldn't have required fields on models generated by `amplify codegen models`.

**Expected behavior**
The whole point of a `copyWith()` method is that you only have to specify the fields that change.

**Wish List**
Also wished it acted more like [copyWith() from freezed](https://github.com/rrousselGit/freezed) which supports setting a member to null when making a

[2020-12-07 19:26] Amplifiyer commented on #5
Amplify DataStore for flutter uses [amplify-android](https://github.com/aws-amplify/amplify-android) and [amplify-ios](https://github.com/aws-amplify/amplify-ios/) as platform plugin providers and both of them use SQLite for their local database implementation.

[2020-12-07 20:09] haverchuck commented on #239
@NimaSoroush Could you try updating your pods (assuming there is no reason on your end why doing this isn't possible)?

[code]
From XCode:
Xcode->Product->Clean Build Folder

[2020-12-08 02:38] Amplifiyer commented on #243
Thanks @kjones for helping us test the datastore category and creating issues. I've communicated these issues with Amplify CLI team and will be fixing them on priority!

[2020-12-08 03:30] kjones commented on #243
@Amplifiyer - Good to hear.

I've been using my [own hacked version](https://github.com/kjones/flutter-datastore-example) of a Flutter DataStore plugin for several months now and it's been working great but a bit of a pain to use every time I changed the schema.

I was hoping to switch over to the official AWS Flutter DataStore SDK but ran into several problems. Pretty much all related to model ge

[2020-12-08 09:46] Tapasm1212 opened #244 "Flutter AWS Cognito Token showing invalid signature"
I am stared developing a flutter project with AWS Cognito login features. In flutter, AWS Cognito login was working fine and I am getting the access token but when checking that in API or JWT its shows the error "Invalid Signature".

<img width="1677" alt="Screenshot 2020-12-07 at 11 32 04 AM" src="https://user-images.githubusercontent.com/14312152/101467239-119fcf00-3968-11eb-9f89-3b07ebca2818.pn

[2020-12-08 14:27] gatanaso commented on #110
Hi @danielvtan,

What worked in our case is that after step 2 (when we receive the `CONFIRM_SIGN_IN_WITH_NEW_PASSWORD`), we call `Amplify.Auth.confirmSignIn(confirmationValue: password)`  where `password` is the user's new password value which they enter in a text field.

Not sure if this is the "correct" way to handle this sign in step, but after the call to `confirmSignIn` the user is also marke

[2020-12-08 14:54] haverchuck commented on #244
@Tapasm1212 - Is this happening with the token on both Android and iOS devices?

[2020-12-08 16:29] Ashish-Nanda commented on #163
@haverchuck are you able to reproduce this?

[2020-12-08 20:17] rubana28 commented on #144
@deimantasa  hey! do you have any update on this issue? have you found out the reason behind this issue and the solution ? kindly can you share with me?

[2020-12-08 23:13] deimantasa commented on #144
Hello @rubana28 , no, unfortunately. We've decided to drop AWS Amplify as it was not up-to our expectation.

[2020-12-09 07:03] Tapasm1212 commented on #244
I have created this project only for Android. I have done this iOS project in native Xcode as I am very familiar with iOS mobile app development.  In the iOS project, I have to use the same AWS Credential and I get the proper access token but with that same AWS Credential in the flutter android project, I am not getting the proper access token.

I am not able to understand why this token issue ari

[2020-12-09 23:48] kjones opened #245 "Question: Will the DataStore start()/stop() API be exposed in Flutter?"
https://docs.amplify.aws/lib/datastore/other-methods/q/platform/android
https://docs.amplify.aws/lib/datastore/other-methods/q/platform/ios

I guess I could perform a throw-away query to emulate start(). Is there something equivalent to stop() that doesn't discard all local data like clear() does?

[2020-12-09 23:54] jamesonwilliams commented on #245
Good callout @kjones, yes, we should add these.

[2020-12-10 15:50] mattburnsidemagenic commented on #5
Hi folks! Any idea of the timeline on oAuth / Federated login support for the social providers supported by Cognito? Thanks.

[2020-12-10 17:29] haverchuck commented on #245
@kjones Thanks for mentioning this.  I'm labeling the issue as a feature request.

[2020-12-11 09:05] qodzero opened #248 "Retrieve Cognito User Attributes"
**Describe the bug**
I'm unable To Retrieve User Attributes For An Authenticated User

**To Reproduce**
Steps to reproduce the behavior:
1. Authenticate A User
2. Try to get the user attributes

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current sup

[2020-12-11 17:03] haverchuck commented on #248
@qodzero I'm assuming you are referring to a method [analagous to this](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/android#fetch-the-current-users-attributes)? If so, we definitely have it in our backlog. I'll mark this as a feature request.

[2020-12-11 17:45] haverchuck commented on #244
@Tapasm1212
1. Is this happening with a newly-created user, immediately after signin?
2. Have you previously signed in another use without calling signout?  Could you try calling signout be signin, and then try the tokens?

[2020-12-11 18:11] qodzero commented on #248
That's exactly it

[2020-12-12 21:29] prerakkumar commented on #121
@dineshkumar02  thank you so much bro.it worked

[2020-12-13 04:13] TseWong1 commented on #182
Hi Everyone, My flutter app is already authenticated using google sign-in/firebase Auth.  I would like to know if there is a way to pass the certificate/Token to Cognito/Single Sign On to access AWS backend resources (API GW, Lambda, S3 and Dynamo).

Many thanks,

Tse

[2020-12-13 09:47] #239 closed

[2020-12-13 09:47] NimaSoroush commented on #239
Hi @haverchuck , thank, that solved my problem

[2020-12-13 17:48] kjones opened #249 "DataStore - Unable to set nullable field to null on Android"
**Describe the bug**
When a field is defined as nullable in the GraphQL schema, once it has been set, setting it back to null does not update the backend DDB table. This only happens on Android, iOS appears to work fine.

**To Reproduce**
A test app can be found here: https://github.com/kjones/datastore_test
It can be deployed on both Android and iOS. When you hit the `+` button, fields in the `Te

[2020-12-14 07:56] PandukaNandara opened #251 "User-Agent was already configured successfully. User-Agent is configured internally during Amplify configuration. This method should not be called externally."
I am using Amplify with flutter and I got the following error when I initializing the configuration.

Here's my code as in the [doc.amplify.aws](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/flutter#n3-provision-the-backend-with-amplify-cli).
[code]
The error I get,
[code]
Even though I skip initializing ```amplifyconfig``` and try to use any Amplify service. I get error

[2020-12-14 11:54] vuchau opened #252 "DataStore - App crash when lost internet connection"
**Describe the bug**
When I have established a connection to the cloud, if I disable internet connection then the application crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure internet is connected
2. Make established  a connection to the cloud
3. Disable internet connection.
4. See error

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproduc

[2020-12-14 18:57] Ashish-Nanda commented on #235
@Rayv1 do you have a sample app we can use to reproduce the issue? The iOS team is working on the fix right now and we would like to validate it.

[2020-12-14 20:10] Rayv1 commented on #235
@Ashish-Nanda create a new Flutter project and import:
  connectivity: ^2.0.2
  amplify_core: ^0.0.1-dev.4
  amplify_auth_cognito: ^0.0.1-dev.4

in the pubspec yaml file.

Cheers

[2020-12-14 20:41] alexgrusu opened #253 "View class androidx.appcompat.widget.AppCompatTextView is an AppCompat widget that can only be used with a Theme.AppCompat theme"
**Describe the bug**

I'm facing a problem that was widely discussed in here https://stackoverflow.com/questions/21814825/.

My style.xml file consists the following configuration.

[code]
I already tried various themes: Theme.AppCompat.Light, Theme.AppCompat, Theme.AppCompat.Light, Theme.AppCompat.NoActionBar, Theme.AppCompat.Light.NoActionBar, but without any effect.

Finally, I determined what

[2020-12-14 21:22] Amplifiyer commented on #252
Duplicate of https://github.com/aws-amplify/amplify-android/issues/541 and https://github.com/aws-amplify/amplify-android/issues/1022

[2020-12-14 23:53] Amplifiyer commented on #249
Thanks @kjones for your continued efforts and testing. This seems like an android bug. I'll create a bug in the amplify-android library based on my investigations.

[2020-12-15 00:55] Amplifiyer commented on #251
@PandukaNandara are you getting this error on the very first application load or any subsequent hot reloads/restarts?

[2020-12-15 00:59] Amplifiyer commented on #253
@alexgrusu can you share your code snippet on how you are calling configure, your pubspec.yaml or better if you have a reproduction repository where we can reproduce this bug?

[2020-12-15 03:50] PandukaNandara commented on #251
This error occurs every time I run configuration.

[2020-12-15 03:55] PandukaNandara commented on #251
Anyway, yesterday I figured out what caused the error.  I added a flutter plug-in `amplify_analytics_pinpoint` which I don't use at all.  I fixed it by removing all the unwanted dependencies.

[2020-12-15 03:55] #251 closed

[2020-12-15 04:40] alexgrusu commented on #253
`import 'package:firebase_core/firebase_core.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:wakelock/wakelock.dart';
import 'package:amplify_core/amplify_core.dart';
import 'package:amplify_auth_cognito/amplify_auth_cognito.dart';
import 'amplifyconfiguration.dart';
import 'screens/login.dart';

void main() async {
  WidgetsFlutterBinding.ens

[2020-12-15 07:30] alexgrusu commented on #253
I think I figured out something. It could be dependent of calling unfocus and restore in GestureDetector.
[code]
I added a protection based on a keyboard listener.
Looks like it doesn't happen anymore.
[code]
I will continue the tests and coming back with a feedback.

[2020-12-15 11:43] alexgrusu commented on #253
Still occurs, but I can't figure out the cause or how to reproduce it..

[2020-12-15 13:57] alexgrusu commented on #253
This time I removed the amplify configuration.
I tried the same scenario, taping the text-field and canceling the keyboard, the errors are not shown anymore.
I still think that the errors are related to something that happen when I enable amplify configuration.

[2020-12-15 22:58] pkhivesara opened #255 "DataStore - Unable to run add api command"
**Describe the bug**
Unable to run add api command on existing project

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. Type in amplify add api
3. See error: ``Cannot read property 'includes' of undefined``

**Expected behavior**
DataStore should be added successfully

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all th

[2020-12-16 03:04] jaavant commented on #5
I noticed [functions](https://docs.amplify.aws/cli/function) was not listed in the categories expected to be supported. Obviously it has dependent on API, but is this also being considered?

[2020-12-16 11:59] Rayv1 commented on #213
Hi guys,
i had the same Problem and i had to implement the "check-if-amplify-configured"-Fix and the from @fjnoyp mentioned FlutterActivity Workaround from [StackOverflow ](https://stackoverflow.com/questions/55539302/sending-your-application-to-background-when-back-button-is-pressed-in-flutter)

Its working now independently from how the app is closed.

[2020-12-16 20:41] rubana28 opened #258 "Failed to upload csv/json file to aws s3 through flutter app"
So, I am developing an app using flutter sdk in android studio which will capture the motion sensor data and geolocator data. These data will be stored into a file (csv/ json/ bin) and that file will be uploaded into that specific bucket every 1 hour through my flutter app.

I have tried to upload data into S3 bucket using http class but this is not working. Again, everywhere there are many resour

[2020-12-16 21:05] Rayv1 commented on #258
@rubana28 check out [amplify_storage_s3 ](https://pub.dev/packages/amplify_storage_s3/example) There is an upload Example with a "File".

[2020-12-16 23:33] rubana28 commented on #258
@Rayv1  According to the documentation, I can upload any file which is already inside my mobile. But what I am doing in my app is I am capturing the motion sensor's data, then storing them into a list and finally, after converting them into multipartFile, I am uploading the file into S3 bucket  according to the following line.

    ` Uri uri = Uri.parse("Bucket Adress");

    http.MultipartRequest

[2020-12-16 23:56] kjones commented on #258
Is this a bucket managed by Amplify or is the bucket created and managed externally? If you are managing the bucket using Amplify then @Rayv1's suggestion and [using the Flutter AWS SDK](https://docs.amplify.aws/lib/storage/getting-started/q/platform/flutter) is the way to go.

Otherwise, [S3 does support a REST API](https://docs.aws.amazon.com/AmazonS3/latest/API/Welcome.html) but you'll have to

[2020-12-17 01:24] rubana28 commented on #258
My bucket is managed by Amplify.
Thank you for the clarification.

[2020-12-17 01:52] kjones commented on #258
It does look like you will have to write your csvContent to a local file before using the Amplify Flutter SDK to upload it.
https://flutter.dev/docs/cookbook/persistence/reading-writing-files

[2020-12-17 02:00] rubana28 commented on #258
@kjones  and then the local file has to be uploaded according to https://pub.dev/packages/amplify_storage_s3/example  example?

[2020-12-17 03:41] kjones commented on #258
That is correct. A smaller snippet from the Amplify docs:
https://docs.amplify.aws/lib/storage/upload/q/platform/flutter

[2020-12-17 03:53] kjones opened #260 "DataStore - Nested types are not supported"
An example would be the following:
[code]
This schema currently results in a `SubSelectionRequired` response error from AppSync when establishing subscriptions.

[2020-12-17 12:17] MichalBaranMiquido commented on #5
@Amplifiyer @haverchuck
When do you expect Third-Party Sign-Ups (Google, Apple, Facebook) to be implemented?

Things described here: https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/android#add-response-handler

[2020-12-17 15:45] brunovsiqueira commented on #163
Hi guys. Any updates?

[2020-12-17 15:54] BaranMichal25 commented on #5
@Amplifiyer @haverchuck
When do you expect Third-Party Sign-Ups (Google, Apple, Facebook) to be implemented?

Things described here: https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/android#add-response-handler

[2020-12-17 19:00] rubana28 commented on #258
Thank you @kjones for the clarification.

[2020-12-17 19:56] haverchuck commented on #255
@pkhivesara Can you please provide more detail on how you initiated the Amplify CLI project?

[2020-12-17 22:38] brunovsiqueira commented on #213
@Rayv1 I found different solutions in the link you provided. Which solution worked for you?

[2020-12-17 23:32] Amplifiyer opened #263 "[RFC]: Amplify core refactor"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding support for Amplify library in Flutter platform.  Please feel free to post comments or questions here._

## Purpose
Currently `amplify-flutter` library has a package [`amplify-core`](https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_core) which customers use to import top le

[2020-12-17 23:44] Ashish-Nanda commented on #5
Hi all, we just posted this RFC regarding a refactor that could impact the way you use the library. Please take a look and let us know your feedback and opinions: https://github.com/aws-amplify/amplify-flutter/issues/263

[2020-12-20 18:26] NimaSoroush opened #264 "Datastore many to many Relations"
**Describe the bug**
Unable to query many-to-many relations

**To Reproduce**
Having this models

[code]
When I query using datastore I always get null for many-to-many connection

[code]
When I check the local sqlite db I can see that `User`, `ContentCategory` and `UserContentCategory` tables are properly populated with data.
Also when I check the models locally using `Amplify mock api` the query

[2020-12-20 23:41] ps0296 commented on #120
I had same issue, spent hours. It's likely b/c of copy & paste, debug log truncates last few characters.

try checking this way
[code]

make sure all the characters are there before you copy token

[2020-12-20 23:58] pkhivesara commented on #255
@haverchuck  Was able to get it working. Thank you! I shall close the issue.

[2020-12-20 23:58] #255 closed

[2020-12-21 00:35] pkhivesara opened #265 "DataStore plugin not found on existing Amplify project"
**Describe the bug**
Amplify DataStore plugin not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Add ``amplify_datastore: '<1.0.0'`` to ``pubspec.yaml`` file
2. Run ``flutter packages get``
3. Execute ``amplify pull`` to download existing Amplify backend
4. Execute ``amplify update api``
5. Run ``amplify codegen models`` to generate the models.
6. Add the following to initialization

[2020-12-21 02:18] jamesonwilliams commented on #265
Hi @pkhivesara! Did you go through all of the [project setup steps in the guide](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/flutter#project-setup)?

What's the full contents of your `pubpec.yaml`?

What output do you see when you run `flutter pub get  --verbose`? Any errors/warning/hints?

[2020-12-21 09:25] gazreese commented on #235
I'm also running into the issue

[2020-12-21 12:17] pkhivesara commented on #265
Hi @jamesonwilliams
The pubspec file:

[code]

And I dont see any warnings as such. Though I do see a bunch of ``SVLR`` after running ``flutter pub get --verbose``

[code]

[2020-12-21 13:50] pkhivesara commented on #265
@jamesonwilliams I did a restart on AS and it worked magically. 😖 Sorry about the confusion. Shall close the ticket, thanks!

[2020-12-21 13:50] #265 closed

[2020-12-22 01:39] #258 closed

[2020-12-22 19:44] imrikim commented on #163
hello @Ashish-Nanda , any updates are available ? please specify the version number :)

[2020-12-22 23:44] jamesonwilliams commented on #264
Hey @NimaSoroush! This is the expected current behavior on iOS, Android, JavaScript and Flutter. Namely, if you have a 1:n or m:n relationship, the children won't get loaded during a query, when you query a given parent. We are working on an improvement to this, called "lazy loading." It will be released early next year.

We have workaround for this, but IMO they aren't well documented. So I've ad

[2020-12-23 01:24] naoyashiga commented on #87
I also got this error.

[code]
Now I have solved this error.

The reason was that the list "plugins" in the StorageCategory class was empty.

The problem is probably in the initial configuration of the plugins.

Here is the code before the fix.

[code]

Here is the code after the fix.
[code]

[2020-12-23 03:31] Miamoto-Musashi commented on #5
this is not the path I would have expected
`we will not be implementing a Dart aws-sdk right away as AWS service calls will be made by Amplify Android/iOS libraries`

I think the other way around would make more sense since with flutter you get Android, iOS, Web, Desktop support with a single codebase.
No way to beat Firebase and GCP without full dart-sdk, IMHO.

[2020-12-23 10:49] rosmu opened #271 "AmplifyException {message=Confirm sign in failed, cause=java.lang.IllegalStateException: confirmSignIn called on unsupported operation, please file a feature request, recoverySuggestion=See attached exception for more details}"
**Describe the bug**
Customer is experiencing an issue when they signIn with OTP MFA enabled. As soon they call below code it returns an error stating "AmplifyException {message=Confirm sign in failed, cause=java.lang.IllegalStateException: confirmSignIn called on unsupported operation, please file a feature request, recoverySuggestion=See attached exception for more details}". This only happens i

[2020-12-23 12:17] NimaSoroush commented on #264
@jamesonwilliams : Thanks for clarifying this. The workaround should work but the only caveat is that `UserContentCategory` model has `@model(queries: null)` which is the way it is suggested to be done in https://docs.amplify.aws/lib/datastore/relational/q/platform/flutter#many-to-many docs.

[2020-12-23 19:19] jamesonwilliams commented on #264
Excellent point @NimaSoroush! We definitely need to improve this experience and these docs. Many-to-many feels a little half-baked right now, which isn't what we're going for. :-)

[2020-12-23 22:32] Amplifiyer opened #274 "Upcoming breaking changes for amplify flutter repository."
Hi all,

We have a few breaking changes coming up in our next release as detailed below. Please upgrade your apps appropriately when you upgrade amplify_flutter.

1. **[Released in 0.0.2-dev.1]**  Package amplify_core will be renamed to amplify_flutter and amplify_core will only contain base types and core utils.
For more details, see this RFC https://github.com/aws-amplify/amplify-flutter/issues/

[2020-12-23 22:56] Ashish-Nanda commented on #263
Closing as we have picked option 1, and have an issue describing the upcoming breaking changes: https://github.com/aws-amplify/amplify-flutter/issues/274

[2020-12-23 22:56] #263 closed

[2020-12-25 10:17] bostaginting opened #276 ""confirmSignIn called on unsupported operation" when using Custom Challenge (amplify_auth_cognito For Flutter)"
**Describe the bug**
When we try to call confirmSignIn using CONFIRM_SIGN_IN_WITH_CUSTOM_CHALLENGE, it returns an error stating "AmplifyException {message=Confirm sign in failed, cause=java.lang.IllegalStateException: confirmSignIn called on unsupported operation, please file a feature request, recoverySuggestion=See attached exception for more details}". This only happens in the Android build fro

[2020-12-26 02:31] varun-esotec commented on #235
👋🏽 - Hi guys.

Wondering if updating your dependency to https://github.com/aws-amplify/amplify-ios/releases/tag/1.5.2 will help resolve the issue.

🤞🏽 Hoping y'all will cut a new release with `1.5.2` so that I can mess around with GraphQL + AppSync

[2020-12-26 10:07] CrayTexas2018 opened #277 "Unable To Get Credentials For Unauthenticated Users"
**Issue:**
Unable to get credentials for unauthenticated users after configuring Amplify.

Amplify.Auth.fetchAuthSession(); returns null credentials and identityId
Amplify.Auth.getCurrentUser(); throws AuthError

**Expected Result:**
Amplify.Auth.fetchAuthSession(); should return non null credentials and identityId
Amplify.Auth.getCurrentUser(); should return AuthUser

[2020-12-26 17:20] LaTrita97 opened #278 "amplify_core not work if IOS platform target is 11.0"
I've followed all the steps to set up AWS Amplify on Flutter, but if I set the platform target to 11.0, I get a series of errors that won't allow me to complete the build.

Here is my output:

[code]

--------------------------------------------------------------------------------------------------------------------

The libraries I added are:

[code]

---------------------------------------------

[2020-12-27 02:19] jamesonwilliams commented on #278
@LaTrita97 You can wrap your technical content (logs, code, etc.) in ["fenced" code blocks.](https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/creating-and-highlighting-code-blocks#fenced-code-blocks) They'll be more readable.
[code]

[2020-12-27 03:26] LaTrita97 commented on #278
@jamesonwilliams Now it is more readable you are right, sorry but this is the first time I write on GitHub, thanks for the advice.

[2020-12-27 06:17] jamesonwilliams commented on #278
That's awesome, welcome to GitHub, @LaTrita97! Formatting looks great. [According to the Amplify iOS documentation, iOS 11 _is supported_](https://github.com/aws-amplify/amplify-ios#platform-support). Flutter team should be back from the holidays early next week.

[2020-12-27 17:22] #277 closed

[2020-12-28 03:47] offlineprogrammer commented on #157
I am getting error 2 ...deleting the folders didn't fix my issue

[2020-12-28 18:29] Amplifiyer commented on #278
@LaTrita97 Welcome to github and Amplify!

Can you try setting your iOS Deployment target to 11.0 as well in xCode and then in your iOS folder of flutter app, run

[code]

[2020-12-28 18:51] LaTrita97 commented on #278
I've tried this, but not works.

I've also tried to create a new project, only adding ```
amplify_core
``` library and changing the target platform IOS from ```
9.0
``` to ```
11.0
[code]

[2020-12-28 20:21] durannumit commented on #182
Any update? I'm waiting for Sign in with Apple and Google.

[2020-12-28 21:37] pkhivesara opened #279 "Sync to cloud not working"
**Describe the bug**
Sync to cloud for Amplify Flutter does not work

**To Reproduce**
Follow the below steps:
https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter#setup-cloud-sync

**Expected behavior**
``Amplify.DataStore.save()`` should update Dynamo DB as well.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[x] A

[2020-12-28 21:44] Amplifiyer commented on #278
@LaTrita97, how are you changing the deployment target for your application? In file `Runner.xcodeproj/pbxproj` what are the several values for key `IPHONEOS_DEPLOYMENT_TARGET`

[2020-12-28 22:53] Amplifiyer commented on #279
Hi @pkhivesara, to help me troubleshoot, can you post your `amplifyconfiguration.dart` file contents here as well as your app code where you call `save` and `query`? Even better if you have a reproducible app in a github repo that I can pull down to reproduce this issue.

[2020-12-28 23:08] pkhivesara commented on #279
Hi @Amplifiyer, the dart file is pasted below:

[code]

Would the ``ClientDatabasePrefix`` be the root cause of the issue?

The ``query`` method:

[code]

[2020-12-28 23:19] jamesonwilliams commented on #279
The `save` and `query` operations are against the local store. If you can't query back a value, then it likely means the `save` has failed, itself. Do either of these operations throw an error? In your code above, you're catching query errors, and printing them out. If you do that with the `save`, instead, what does it print out?

[2020-12-28 23:23] haverchuck commented on #271
@rosmu Is this being attempting with a Cognito Lambda Trigger?  If so, can you please provide more details about it?  If not, how exactly are you sending the one time password?

[2020-12-28 23:54] pkhivesara commented on #279
@jamesonwilliams Correct. I am currently doing a ``Amplify.DataStore.clear()`` before each ``query()`` to test if the AppSync works.
If the ``clear()`` method is commented out, I do see the existing data within the app on relaunch, which proves that the local ``save`` is working fine ( I suppose).

I am making an assumption that ``clear()`` method would force a sync against the backend, is that ri

[2020-12-29 00:33] haverchuck commented on #276
#https://github.com/aws-amplify/amplify-android/issues/805

[2020-12-29 02:07] Amplifiyer commented on #279
@pkhivesara, I tried using cognito user pools as authentication mechanism for graphql API and couldn't reproduce your issue. Can you confirm that you are signed in to your app which is required for subscriptions and sync to work for cognito user pool authentication.

[2020-12-29 03:10] LaTrita97 commented on #278
I uncomment the second line in ```
ios/Podfile``` and I changed the values of the dropdown on ```Xcode``` in ```Runner``` and ```Pod```.

Excuse me but I don't have a background in ```IOS```, I'll also try to find something on the web, I see that someone has changed the value even in the pod install script inside an ```ios/Podfile```.

In otherwise you have tips for me on how to change right the m

[2020-12-29 04:10] pkhivesara commented on #279
@Amplifiyer Yes, I am indeed signed into the app via user pool auth. Is there any specific setup on the admin UI side that needs to be done?

[2020-12-29 04:13] LaTrita97 commented on #278
@Amplifiyer I've managed to start the app, I followed these [steps](https://stackoverflow.com/questions/63973136/the-ios-deployment-target-iphoneos-deployment-target-is-set-to-8-0-in-flutter/64072195) (I followed the first response and not the second), and I even following your advice to check ```IPHONEOS_DEPLOYMENT_TARGET``` in ```Runner.xcodeproj/pbxproj``` and there the ```IPHONEOS_DEPLOYMENT_T

[2020-12-29 04:31] #278 closed

[2020-12-29 18:37] Amplifiyer commented on #279
@pkhivesara, I have been using @amplify/cli only to provision the backend and hadn't enabled the admin UI for my app. Can you post detailed reproduction steps including how you provisioned your resources and your minimal app code that I can use to reproduce?

[2020-12-29 18:55] kenspy commented on #234
:+1:
I came across the same issue while migrating my Flutter PWA application to Amplify, I'm glad someone (@haverchuck ) is working on it.

[2020-12-29 20:07] Amplifiyer commented on #279
I tested with creating an app in Admin UI as well and everything worked as expected. Do you see any error logs that can be helpful to debug?

[2020-12-29 20:42] pkhivesara commented on #279
@Amplifiyer Pkease find the logs attached along here.

[code]

[2020-12-29 20:54] Amplifiyer commented on #279
Please provide this when you can

Also logs from iOS will be helpful as well.

[2020-12-29 21:22] pkhivesara commented on #279
@Amplifiyer Yes, the team is offline for the week. I shall provide the backend resources next week.
iOS logs:

[code]

[2020-12-30 04:12] jamesonwilliams commented on #279
[code]

Looks like you a model named `Test`, and subscriptions are failing to setup this type. Check the AppSync Console. Does your AppSync API **think** it supports models named `Test`?

[2020-12-30 13:41] pkhivesara commented on #279
@jamesonwilliams  Shall verify this. Shouldn't the Android logs have the same error, if there is indeed a subscription issue?

And yes, I did try to do a sync, but the model seems to be the same.

[2020-12-30 19:56] raywhiteside commented on #124
While I agree it's not difficult to track the state of Amplify independently, if Amplify has the requirement that it should not be re-configured it seems reasonable for Amplify to expose its state.

Regarding additional benefits, hot restart (not reload) seems like it would benefit from this change. Currently I have the configuration status stored in state that is reset on hot restart, but Amplify

[2020-12-30 19:59] jamesonwilliams commented on #124
While reviewing some of the open PRs (and I forget which specifically) I also noticed that _we, internally_end up having to track this state with a boolean.

I agree that `Amplify.isConfigured()` is a reasonable API to add to the library, in a first-class way.

[2020-12-30 20:10] rayhaanq opened #280 "Is it safe for the client secret to be stored on the frontend?"
I'm working through the amplify docs for configuring for flutter. After running the CLI commands to create the `amplifyconfiguration.dart` file I noticed that the client secret is stored in the file too. Is this safe? My understanding was that client secrets should only be kept in the backend. I'm familiar with using amplify-js for most of my other projects. I only create an app client without the

[2020-12-30 23:43] Amplifiyer commented on #280
@rayhaanq, `amplifyconfiguration.dart` is equivalent to `amplify_exports.js` file generated in amplify-js library. It only contains end points configuration and no secrets. Can you expand on which key in the json you feel is sensitive and shouldn't be included?

[2020-12-31 09:21] jcblancomartinez opened #331 "Amplify Flutter's UploadFile operation doesn't return versionId"
Hi,

I've enabled versioning in my S3 bucket. Every time I upload a file, I want to get versionId to be able to store a URL (including versionId) to the S3 object.

However, [UploadFileResult](https://github.com/aws-amplify/amplify-flutter/blob/master/packages/amplify_storage_plugin_interface/lib/src/UploadFile/UploadFileResult.dart#L19) only contains S3 object key.

Could you please add versionId

[2020-12-31 09:23] rayhaanq commented on #280
I've stopped using amplify-flutter but the generated `amplifyconfiguration.dart` file contained the ClientSecret under ClientId

[2020-12-31 18:28] jamesonwilliams commented on #280
Thanks, @rayhaanq you for reporting your concern. This question looks similar to https://github.com/aws-amplify/docs/issues/2021. For a public app, the usage of the app client with a secret doesn’t present a security issue. An app client created with or without a secret provides the same level of access.

[2020-12-31 20:24] palpatim commented on #124
I'm OK with this proposal. It would be nice to make `Amplify.configure()` idempotent, but we didn't want to incorrectly give the impression that it was possible to override already-applied configurations. In iOS, we'd likely expose this as a property getter `public static var isConfigured: Bool { get }`. Android would presumably expose `public static Boolean isConfigured()` (or maybe `boolean`? I'

[2021-01-01 15:14] WingCH opened #285 "[android] cannot build in 0.0.1-dev.5"
android is normal in `^0.0.1-dev.4`, but `^0.0.1-dev.5` have error

[code]

[code]

[code]

[2021-01-01 23:23] nithin-seenivasan commented on #5
What is Datastore's current support for synchronization? Is sync control in the pipeline for flutter?

It currently syncs from client to DynamoDB table almost instantly, but the other way around (DynamoDB to Client) doesn't happen unless I clear local storage, run the query again, which pulls all data back from the cloud. Since my app users only periodically need their data from the DynamoDB table

[2021-01-02 05:56] jpascoe commented on #142
I was having the same issue as above but got past issue. Now its reporting the region as missing.

Unhandled Exception: PlatformException(AmplifyException, Error casting configuration map, Unsupported value: org.json.JSONException: No value for region, null)

    "analytics": {
        "plugins": {
            "awsPinpointAnalyticsPlugin": {
                "pinpointAnalytics": {

[2021-01-02 07:30] momo1 opened #286 "UserPoolTokens are null when in running in release"
The `CognitoAuthSession.userPoolTokens` are not populated when the APK is built in release mode. It works fine when built with debug or profile modes.

**To Reproduce**
[code]
Build and install: `flutter build apk --release && adb install build/app/outputs/flutter-apk/app-release.apk`

**Expected behavior**
I would expect it to work in release just like it does in debug and profile modes which out

[2021-01-02 14:44] wer32 commented on #279
Hi there, I have absolutely the same issue with my API. I found that if I specify a model with enum param but it will be null. Then swift code serializes enum into an empty string instead of nil. In this case, any sync up stops. When I specify a nonnull value in my code sync up magically starts working.
The most annoying part that neither flutter nor swift responds with exceptions.
That is an anti

[2021-01-02 15:39] raywhiteside commented on #260
To expound upon a major aspect of the issue here, I'm not seeing NestedType have a class generated for it. While the NestedType is not defined as a @model, it does cause a NestedType.dart file to be generated in lib/models. However this is the entirety of the generated file:

[code]

Not even a constructor is generated. This class seems to be correctly referenced in the generated TestModel.dart, t

[2021-01-02 16:31] raywhiteside opened #287 "Exception for DataStore Hub Event subscriptionDataProcessed"
**Describe the bug**
When using a basic DataStore setup and listening to the DataStore event stream, this exception is all over the logs:

[code]

Many other events seem to be parsed just fine, this is the only one I see this error for.

I'm not sure which logs this is referring to look in for further details, if you point me to those logs I can provide them.

**To Reproduce**
This exception is th

[2021-01-02 17:15] kjones commented on #260
There are a bunch of problems with the Amplify CLI when generating Flutter models so to produce the `SubSelectionRequired` error, I was experimenting with rolling my own definitions for the nested types. While doing that I discovered that nested type support in the Flutter model schema definitions was [left out on purpose](https://github.com/aws-amplify/amplify-flutter/blob/45c506d1f842ffe89d3e8a0

[2021-01-02 17:42] kjones commented on #287
What version of the Flutter SDK are you using?

I think `0.0.1-dev5` may include a fix for this from [this Andriod 1.6.8 SDK PR](https://github.com/aws-amplify/amplify-android/pull/1052).

[2021-01-02 17:48] raywhiteside commented on #287
Ah I'm on dev4, I'll try dev5 and update in the next day or two.

[2021-01-02 19:28] kjones commented on #285
In the amplify-flutter SDK downloaded to my local .pub-cache, if I comment out the following line I can get it to build.
[code]
Looks like there are [6 files](https://github.com/aws-amplify/amplify-flutter/search?q=apply+from+coverage.gradle&type=code) that need to be updated.

[2021-01-02 20:14] jamesonwilliams commented on #287
Hi @kjones -- your PR updated the [`OutboxMutationProcessed` event](https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/android#outboxmutationprocessed).

`SubscriptionDataProcessed` is an undocumented event that is published by Android but not iOS. The Flutter project should not be logging a warning when it sees this event type, since it is an expected system behavior. The Flutter

[2021-01-02 20:33] jamesonwilliams commented on #286
`NoSuchMethodError` is different than a regular `NullPointerException`. One thing to look for: perhaps the R8 shrinker is removing something that it shouldn't be. Can probably be fixed an update to the ProGuard rules file. Without having access to the rest of your error log, maybe `com.amazonaws.mobile.client.results.Tokens` or `com.amplifyframework.auth.cognito.AWSCognitoUserPoolTokens` is absent

[2021-01-02 20:37] kjones commented on #287
Ah yes. I didn't read @raywhiteside's description close enough. I was assuming the exception was causing an app crash.

[2021-01-02 23:53] momo1 commented on #286
Thanks! It was indeed R8. I made a proguard file with `-printusage` and found that R8 is removing a ton of stuff from `com.amplifyframework.api.aws`. I now have a `proguard-rules.pro` file that looks like this:

[code]
The `-keep class com.amazonaws.** { *; }` is probably not needed but I added it to be on the safe side. It barely makes a dent in the overall app size.

[2021-01-02 23:53] #286 closed

[2021-01-03 03:22] rodrigobastosv opened #288 "cannot run amplify codegen"
**Describe the bug**
I'm following the https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter docs to implement DataStore on my flutter app. Doing Auth and Storage was just a breeze. But when trying to implement the DataStore i got an error on the codegen step

After creating a new graphql api and try to run `amplify codegen models` i got this error:

[code]

After some digging

[2021-01-03 07:15] jamesonwilliams commented on #288
My guess is that you need to update your CLI. Codegen for Dart was only recently added to the CLI.

What version are you using? The latest version is 4.41.0.
[code]

[2021-01-03 09:26] rodrigobastosv commented on #288
Thanks @jamesonwilliams , that works!

[2021-01-03 17:53] raywhiteside opened #289 "DataStore GraphQL Type with Array Fails to Save"
**Describe the bug**
When saving a model with an array element Datastore throws an uncaught exception.

Error:
[code]

**To Reproduce**

Example model:
[code]

The same model without the array works, as soon as I add the array it fails. When changing to an array clearly I could be making a mistake in instantiating the UserModel generated class, but the issue is not in the data being incorrect. Dat

[2021-01-03 19:36] jamesonwilliams commented on #289
Thanks for the report @raywhiteside. You've marked Android, but _not_ iOS. Is that because you tested iOS and it works? Or because you only tested Android?

[2021-01-03 19:39] raywhiteside commented on #289
Only tested on Android.

[2021-01-03 19:58] jamesonwilliams commented on #285
Amplify Flutter added coverage for Dart, Kotlin, and Swift in https://github.com/aws-amplify/amplify-flutter/pull/247. As @kjones notes, it looks like the paths are not working when the artifacts are published to the local package cache. These references should be updated so that:
1. they coverage script is published to the cache, too, or
2. it is conditionally applied, so that it doesn't take eff

[2021-01-03 20:09] jamesonwilliams commented on #279
[code]

The model names being used in your Android project are the not the same as in your iOS project, apparently. Your Android project is using a model named `joynReadingHotstageTest`, but your iOS project uses a model named `Test`.

Try running `amplify pull` in both projects, so that you're referencing the same system state. If you run `amplify push` from one, be sure to run `amplify pull` in

[2021-01-03 20:17] jamesonwilliams commented on #253
Related: https://github.com/aws-amplify/amplify-flutter/pull/266 which disables the Android Developer Menu from Flutter.

[2021-01-03 20:18] liamross commented on #288
I'm still having this issue:

[code]

[code]

[code]

[code]

[2021-01-03 20:32] pkhivesara commented on #279
@jamesonwilliams  I tried with ``joynReadingHotstageTest`` on both platforms as well, and the results are the same. Sync fails but only iOS logs the failure, Android does not log any errors

[2021-01-03 20:44] jamesonwilliams commented on #220
What version of the Amplify CLI was this?

[code]

Please try again with the latest version.

This issue should be transferred to the Amplify CLI project, cc: @aws-amplify/amplify-flutter

[2021-01-03 20:50] jamesonwilliams commented on #199
This looks like a duplicate of https://github.com/aws-amplify/amplify-flutter/issues/276, possibly also https://github.com/aws-amplify/amplify-flutter/issues/271.

[2021-01-03 20:53] jamesonwilliams commented on #193
This functionality will be added soon. This issue should be marked as a feature request.

The other platforms have an `updateUserAttributes(...)` method. There is [a placeholder for this functionality in the Amplify Flutter documentation](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#update-user-attribute).

[2021-01-03 20:55] jamesonwilliams commented on #192
Should be marked as a feature request. There are no plans to add this right now. Please add a 👍 on the issue if it effects you, so that we can prioritize.

[2021-01-03 20:59] jamesonwilliams commented on #188
If your app is crashing, that will definitely show up in the device logs. Look closer, and please include the logs from the crash.

Was this on Android or iOS? Whenever there is an issue like this, where a debug build is functioning, but a prod build does not, Android's R8 shrinker could be to blame. Update your ProGuard rules configuration file, so that the needed components aren't being stripped

[2021-01-03 21:01] jamesonwilliams commented on #186
The intended behavior for Amplify Auth is to automatically handle token refreshes. Calling `Amplify.Auth.fetchAuthSession(...)` is a work-around for a bug in Amplify Android. It should not be included in the documentation, Amplify Android should fix the bug.

[2021-01-03 21:15] jamesonwilliams commented on #156
I think one of two things is happening here:
1. R8 is stripping out something it shouldn't be. You need to update ProGuard rules configuration. R8 is usually only run on release builds, so that would explain the difference between the debug/release.
2. (Less likely) You're running this on an older API level, where `forEach` isn't available. `forEach` is only available from API 24+.

[2021-01-03 21:17] jamesonwilliams commented on #132
Thanks @rmelian for the feedback. We'll take this into account as we plan future revisions to the configuration file structure.

[2021-01-03 21:21] jamesonwilliams commented on #128
@albemala We just did an initial release of Flutter REST API support in 0.0.1-dev.5. https://pub.dev/packages/amplify_api/install. Documentation is not live at time of writing, but it will be here soon: https://docs.amplify.aws/lib/restapi/getting-started/q/platform/flutter

[2021-01-03 21:45] jamesonwilliams commented on #279
What do you mean by "tried"?

Do you get the same error, or a different one? Before, your client thought the model was named just `Test`.

I'm guessing that the backend is configured with a `joynReadingHotstageTest`, and so Android is able to successfully setup the subscriptions?

[2021-01-03 21:51] pkhivesara commented on #279
@jamesonwilliams same error. And in case subscription was a success, sync should work, correct?
But sync is failing on both platforms.
I shall check if I can provide a zip file of a sample app.

[2021-01-04 09:24] naoyashiga opened #290 "After I've authenticated with Google, but Amplify Flutter recognized me as guest user."
**Describe the bug**
I've authenticated with Google, but Amplify Flutter treats it as guest authentication.

Log said this.

[code]

**Current status**

・Google authentication was possible via Host UI
(Google authentication was also possible by directly sending a request to the authorization endpoint).

・As a result of the federation, I was able to get the authorization code.

・I was able to obtai

[2021-01-04 13:50] markpearl opened #291 "Amplify Configure Not Working"
**Amplify Configure Method Not working**
I've setup Amplify and created basic authentication with Facebook and Signup. In addition, I've setup some basline data models in the Amplify Admin UI, which in turn created the GraphQL api configuration. So the two services I have now are the auth and api.

I've been following this tutorial to setup authentication via amplify:
https://aws.amazon.com/gettin

[2021-01-04 14:49] LeFrosch opened #292 "Empty CognitoSignUpOptions are required when using the Amplify.Auth.signUp()"
Only the username and password are marked with required for Amplify.Auth.signUp, but when I don’t pass an empty instance SignUpOptions I get the following error.

Invocation:
[code]
Error:
[code]

I personally don’t think the error message conveys that the SignUpOptions are missing and additionally the options are not marked as required. To fix this error I created an empty map and passed it to th

[2021-01-04 16:24] haverchuck commented on #290
@naoyashiga We do not yet officially support Hosted UI login in amplify-flutter, but it is very high on our priority list!

[2021-01-04 21:08] haverchuck commented on #287
@raywhiteside @kjones We will be changing how these Hub events work in a subsequent release, so that they are actually instantiated into dart types with typed payloads when applicable.  As part of this, we will be less intrusive with our error handling and will not throw errors in this manner.

[2021-01-04 21:11] Amplifiyer commented on #285
Thanks for creating the issue. We have a fix out, will update when a new release is out.

[2021-01-04 21:30] brunovsiqueira opened #295 "Amplify Auth methods possible exceptions"
Hey there.

I noticed a lack of documentation in getting the possible exceptions for each authentication method.

For example, when I call "Amplify.Auth.signIn" method, I need to deal with AuthError exception. By inspecting AuthError, I saw it has an exceptionList that is nothing more that a list of strings. I would like to handle this exceptions better to provide a better experience to the users

[2021-01-04 21:50] Ashish-Nanda commented on #279
@pkhivesara
Could you please share the sample app if possible?

[2021-01-04 22:04] haverchuck commented on #285
@WingCH @kjones A fix has been released!  Please let us know if the issue persists.

[2021-01-04 22:06] haverchuck commented on #295
@brunovsiqueira We are actively working on improving these exceptions across the entire Amplify library.  I am marking this as a feature request for now - please stay tuned.

[2021-01-04 23:49] brunovsiqueira commented on #295
Thanks @haverchuck. Looking forward for this feature.

[2021-01-05 01:14] baldfatchris commented on #285
In pubspec.yaml replace the dependency

  amplify_core: '<1.0.0'

 with:

  amplify_core: ^0.0.1-dev.6

[2021-01-05 02:29] WingCH commented on #285
tested and passed in android 10 and ios 14.3

thanks your quick help!

[2021-01-05 02:29] #285 closed

[2021-01-05 06:38] bostaginting commented on #276
Hi, any solution for this problem? thank you.

[2021-01-05 13:17] marwfair commented on #235
I'm having the same issue.

[2021-01-05 15:05] marwfair commented on #235
@Rayv1 Yes. I updated the dependencies to `0.0.1-dev.6`, but still having the issue.

[2021-01-05 15:05] Rayv1 commented on #213
This Solution worked:
var _androidAppRetain = MethodChannel("android_app_retain");

[code]
The code in the MainActivity() should look like this:

[code]

[2021-01-05 15:11] Rayv1 commented on #156
@jamesonwilliams can u provide those ProGuard Rules for amplify?

[2021-01-05 15:18] Rayv1 commented on #235
@marwfair okay, thanks for sharing with me. Then i dont have to update :)

[2021-01-05 17:29] brunovsiqueira opened #296 "Amplify.Auth.resetPassword not detecting failure"
Hey there.

I was testing the Amplify resetPassword method and I noticed that when you send an incorrect and a correct username it responds the same way. When an nonexistent username is unputed, no exception is thrown nor does the ResetPasswordResult object differs.

However, I would like to let my user know when he inputed the wrong username. Is there anyway to achieve this?

[2021-01-05 17:50] jamesonwilliams commented on #156
Haven't had time to look at this in depth, but here's something to unblock you. Credit to @momo1:

https://github.com/aws-amplify/amplify-flutter/issues/286#issuecomment-753545450

[code]

[2021-01-06 17:03] albemala commented on #128
Awesome, thank you for letting me know and for your hard work! I'll check it out.

[2021-01-06 19:31] Amplifiyer commented on #241
@kjones the fixes have been released, can you try with the latest amplify cli version (`npm i -g @aws-amplify/cli`) and latest amplify-flutter library. If you are working in an old amplify workspace, please also update the `cli.json` file in the amplify folder to set the flag `useAppSyncModelgenPlugin` to `true`

[code]

[2021-01-06 19:32] Amplifiyer commented on #242
Fix has been released. please see https://github.com/aws-amplify/amplify-flutter/issues/241#issuecomment-755565445

[2021-01-06 19:33] Amplifiyer commented on #243
Fix has been released. please see https://github.com/aws-amplify/amplify-flutter/issues/241#issuecomment-755565445

[2021-01-06 19:37] Amplifiyer commented on #5
@nithin-seenivasan sync from (DynamoDB to Client) should work without issues, can you create a new issue with reproduction steps? Selective sync though is slightly different and is currently not implemented in amplify-flutter. Please create a feature request issue for that as well.

[2021-01-07 04:45] wer32 commented on #279
@Ashish-Nanda @Amplifiyer
Here is an source code that reproduce the issue. I have exactly the same as @pkhivesara
[test_model_amplify.zip](https://github.com/aws-amplify/amplify-flutter/files/5779613/test_model_amplify.zip)

I belive the root cause in the serialization mechanizm. Any null value for enum fields sends as empty string "". The problem that Java ans Swift swallow it silently.

In order

[2021-01-07 04:58] wer32 commented on #279
Please note that it doesn't work even if I make this field as optional.

[2021-01-07 11:51] nithin-seenivasan opened #297 "Datastore - Sync from DynamoDB to Client - Issue"
**Describe the bug**

DynamoDB to Client sync is not happening unless local storage is cleared first.

Usage scenario:
1. Client uploads data into DynamoDB from Client manually:
- Data is written to local storage by passing an instance of the model to `Amplify.DataStore.save()` (WORKS)
- Data is immediately synced by the datastore sync engine to the DynamoDB table (WORKS)

2. Client uploads data i

[2021-01-07 12:03] nithin-seenivasan opened #298 "Datastore - Selective Sync"
Would be great to have selective sync for Flutter, similar to what exists in Amplify JS. [https://docs.amplify.aws/lib/datastore/sync/q/platform/js#selectively-syncing-a-subset-of-your-data](url)

I would ideally like to have a proper control over the syncing process. Ideas could include:
1.  Configure a time interval for a sync to happen
2.   The client can trigger a sync operation
~~3. The sync

[2021-01-07 14:40] kjones commented on #297
Not an AWS dev but thought I would comment... DataStore client sync is built on top of AppSync subscription. Writing directly to a DynamoDB table bypasses AppSync. You should be able to make updates using AppSync GraphQL API requests and the clients will sync the new data. https://docs.amplify.aws/guides/functions/graphql-from-lambda/q/platform/js

[2021-01-07 15:09] kjones commented on #242
Looks good with cli 4.41.0 and `"useAppSyncModelgenPlugin": true`.

[2021-01-07 15:09] #242 closed

[2021-01-07 15:11] kjones commented on #243
Looks good with cli 4.41.0 and `"useAppSyncModelgenPlugin": true`.

[2021-01-07 15:11] #243 closed

[2021-01-07 16:26] rayhaanq commented on #280
ah, okay cool. Thanks

[2021-01-07 16:26] #280 closed

[2021-01-07 16:34] rayhaanq opened #299 "Force token refresh"
I noticed this piece of functionality is not yet implemented.

`AuthSessionOutput.dart`
`  // TODO: Implement force refresh when/if amplify-libraries support it`

I have a use case where the user logs in for the first time and they fill in their profile info. A profile is created and the `profileId` is added as an attribute to the user. Api calls made after this require the `profileId` attribute t

[2021-01-07 18:20] Amplifiyer commented on #297
Hi @nithin-seenivasan, @kjones is right, DataStore works with graphql and writing directly to the dynamoDB table bypasses it. It's not a recommended flow as well since client side DataStore manages the version numbers for a variety of use cases and writing directly to dynamodb will mess with the versioning and corrupt the data.

[2021-01-07 18:40] graphicbeacon opened #300 ""Auth plugin was not added" exception upon returning to screen where Amplify Auth plugin was initialised"
**Describe the bug**
Thanks for the work you guys are doing here! I am getting an "**_Auth plugin was not added_**" exception upon returning to the screen where I initialised the Amplify Auth plugin. This is happening on `0.0.1-dev.6`

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the initial screen where amplify auth plugin is configured.
2. Visit another screen
3. Return to the init

[2021-01-07 18:43] graphicbeacon commented on #124
To be able to tell Amplify is already configured will be perfect! For now I've implemented this extension method as a temporary workaround:

[code]

[2021-01-07 21:53] Amplifiyer commented on #279
I was able to reproduce this, thank you @pkhivesara for you assistance in helping to reproduce it. The issue here is that the query/save APIs on DataStore are called before the sync engine has finished the first full sync. This results in the app trying to create a new record with Id "ID1" (since the query returned 0 results for this Id because sync engine didn't pull down the server records) and

[2021-01-07 21:55] Amplifiyer commented on #279
@wer32 I'm able to reproduce your issue, and it's different than the one mentioned here. The op here doesn't have any enums. I'm working to debug your issue and will report back my findings.

[2021-01-07 22:09] nithin-seenivasan commented on #297
I suspected as much, thank you @kjones and @Amplifiyer for that. So can we conclude that the only way (currently) to trigger a sync on the Client side is by clearing local storage?

[2021-01-07 22:44] kjones commented on #279
Curious if there is any way to determine the state?

In my app, I implemented a "loading" screen that performs the above. However, I now have a use case where I need to return to the loading screen but the DataStore hub events aren't fired since it is DataStore is already up and running. I can move the HubEvent listener lifecycle from being tied to the screen to a global singleton but just being l

[2021-01-07 22:48] Amplifiyer commented on #279
That's probably the right way to go for your use case. When you say you are returning to the loading screen, are you also clearing the datastore? The `ready` state will only be fired for the first time sync engine finishes, or after clearing the datastore.

Currently it's not possible to determine the state from just the APIs of DataStore.

[2021-01-07 22:54] kjones commented on #279
I've just run into this also, nullable enums send an empty string to AppSync and AppSync rejects the mutation. Changing the model generated code as follows at least gets AppSync to accept the mutation.
[code]
There is still [this upcoming change](https://github.com/aws-amplify/amplify-android/pull/1091) in Android that hopefully fixes the actual removal of the field when sent to AppSync.

[2021-01-07 23:54] Amplifiyer commented on #300
hi @graphicbeacon, you are right, currently neither `Amplify.addPlugin` or `Amplify.configure` is idempotent and fails on calling them again after first successful `configure()`. There is currently a limitation that all plugins must be added before calling configure, such that once amplify is configured, no new plugins can be added. With this restriction and is we expose `Amplify.isConfigured()` d

[2021-01-08 00:04] Amplifiyer commented on #297
We don't recommend updating DDB directly and using the same tables with DataStore. As you pointed out, calling `clear()` will clear the local datastore and start a full sync with the DDB table fetching all the records in it.

[2021-01-08 00:04] #297 closed

[2021-01-08 02:09] kjones commented on #241
Alright, I'm going to say this is fixed with caveats.
- Setting fields to null requires #301 and an update to use Amplify Android SDK [with this nullable fix](https://github.com/aws-amplify/amplify-android/pull/1091).
- GraphQL schema definitions with arrays are [completely broken](#289) at the moment. [iOS only for me](https://github.com/aws-amplify/amplify-flutter/issues/289#issuecomment-7559754

[2021-01-08 02:10] #241 closed

[2021-01-08 07:15] FlutterEngineer opened #302 "Unhandled Exception: Amplify plugin was not added"
I am using this code

[code]
when in run _configureAmplify() it showing <br>I/flutter (24087): ```
Auth plugin was not added
<br>E/flutter (24087): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: Amplify plugin was not added

[code]

[2021-01-08 11:32] jobypthomas commented on #5
Any plan on adding push notification support like the firebase does with **firebase_messaging** that would integrate with SNS?

[2021-01-08 14:45] graphicbeacon commented on #300
@Amplifiyer Yeah that works for me 👍

[2021-01-08 17:37] Ashish-Nanda commented on #5
@jobypthomas This is definitely something we are planning to add to our roadmap for this year. Please go ahead and open up a feature request with what you would like to see supported for notifications. This would help other customers upvote/contribute as well.

[2021-01-08 18:33] Amplifiyer commented on #302
@FlutterEngineer, is there any chance your Amplify initialization gets called multiple times? Currently `addPlugin` is not allowed to be called multiple times for the same plugin or after a configure has been called. Can you change your code to the following for now and see if that helps

[code]

[2021-01-08 20:21] Amplifiyer commented on #300
Thanks @graphicbeacon for confirming. I have a PR out to add `isConfigured` and will be hopefully available in the next release. Looking forward for your tutorial :)

[2021-01-08 23:42] #124 closed

[2021-01-08 23:42] #300 closed

[2021-01-10 18:41] uttusharma commented on #142
Hi, I am having a similar issue.

this is how I  am configuring.
[code]
**Reproduce**
1. Code to execute
[code]
2. Works when apk run with

3. Doesn't work when

-  flutter build apk --release
-  Generate Signed APK (Android Studio)

**Error**

[code]
**Package Version** :
[code]

**amplifyconfiguration.dart**
xxxxx = Obscure

[code]

Please help with the issues.

[2021-01-10 19:05] uttusharma opened #305 "SignUp/SignIn Fails in Release build apk: com.amazonaws.amplify/auth_cognito: Failed to handle method call g.i: null cannot be cast to non-null type java.lang.reflect.Method"
**Bug**
Amplify fails to signup/sign-in on release build apk.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Amplify like this
[code]
2. Code to execute
[code]

3. Now run ```flutter build apk --release``` or Generate Signed Release build apk.  **Note:** Don't run ``` flutter run --release``` as it works fine with that.
4. Now run the release apk on the device and in the adb logca

[2021-01-11 13:18] joelJohanssonT commented on #142
Same problem here!

[2021-01-11 14:15] uttusharma commented on #305
### Update
If this official guide is followed [Signing APK -Flutter](https://flutter.dev/docs/deployment/android#signing-the-app)
and then If you run `flutter build apk --release`
Then the above issue occurs at the time of Sign up with cognito.

**Workaround**

1. Open android module in android studio.
2. Set build variant to release
3. Goto `Build > Generate signed bundle/Apk `
4. Select option `

[2021-01-12 14:49] satyasrikantmantha commented on #276
Hi,

I am also experiencing the same issue with Android whereas with iOS emulators it works well. Any ideas how can we resolve this issue quickly. This is a showstopper for us.

[2021-01-13 05:16] #199 closed

[2021-01-13 05:21] wer32 opened #306 "Sync up issue for iOS with nullable field and enabled secondary index"
**Describe the bug**
DataStore sync up doesn't work with iOS if the field is null in case of a secondary index is created.
[code]

in case if you send a Task with parentID field with some values the sync up works. If you send null it won't work and requires a restart of an application. I was able to reproduce the issue on iOS devices only.

**To Reproduce**
1) unpack the archive
2) setup the envir

[2021-01-13 10:18] joelJohanssonT commented on #142
Works if you skip 'await'

change
await amplify.configure(amplifyconfig);
to
amplify.configure(amplifyconfig);

[2021-01-14 00:21] NimaSoroush commented on #235
Any update on this?

[2021-01-14 13:01] SatyamKr07 commented on #5
Is phone authentication using otp supported in amplify flutter as of now?

[2021-01-14 19:44] haverchuck commented on #5
@SatyamKr07 By 'otp support', do you mean two-factor authentication, or do you mean passwordless login?  If the latter, are you assuming that you'd use a custom auth flow with lambda triggers?

[2021-01-15 01:46] fjnoyp opened #308 "Amplify API: Model based APIs and OIDC support"
The current version of Amplify API has some features that will be supported in the future:

1) OIDC support : https://docs.amplify.aws/lib/restapi/authz/q/platform/android#cognito-user-pool-authorization

2) GraphQL Request Helpers that automatically generate GraphQL requests for you.  Instead, you need to create the GraphQL request document yourself when calling the API.
(ie. only Advanced Workfl

[2021-01-15 04:42] SatyamKr07 commented on #5
Passwordless login where user inputs phone(mobile) number, receives otp via SMS, click on verify otp, and if otp entered is correct, user is logged in. So is this possible amplify flutter plugin as I could not find any resource?

[2021-01-15 06:04] dondragon2 commented on #182
Any updated on authentication with identity pool federation?

[2021-01-15 10:17] Rayv1 commented on #235
@Ashish-Nanda do you know when this will be fixed for amplify flutter?

[2021-01-15 15:25] Ashish-Nanda commented on #235
@Rayv1 What version of Amplify iOS dependencies do you have locally? We should be using the latest version now which has the fix that went into version `1.5.2` of Amplify iOS

Can you do the following:
[code]
Then do
[code]
Let us know if you still face the issue.

[2021-01-17 15:12] jobypthomas commented on #5
I tried to follow "https://github.com/aws-amplify/amplify-flutter" and use local clone of "amplify-flutter" instead of the pub.dev amplify_core library, but "Amplify()" class is not recognized. Am I missing anything?

[2021-01-17 16:45] Rayv1 commented on #235
Okay, i can confirm that it works for me with version `0.0.1-dev.6` .  I did exactly what @Ashish-Nanda wrote.

[2021-01-17 16:45] Rayv1 commented on #235
this can be closed

[2021-01-17 16:45] #235 closed

[2021-01-18 02:04] jamesonwilliams commented on #5
Some breaking changes went into mainline, recently. Please see https://github.com/aws-amplify/amplify-flutter/issues/263 and https://github.com/aws-amplify/amplify-flutter/pull/273.

TLDR: `Amplify()` doesn't get instantiated, anymore. Now, you do `Amplify.configure(...)`, etc.

[2021-01-19 15:03] graphicbeacon opened #311 "iOS returns UUID string instead of username when retrieving `AuthUser().username`"
**Describe the bug**
The `username` field on the `AuthUser` object returns a UUID string on iOS instead of the expected username.

**To Reproduce**
Sign in a user and print out the `username` field on `AuthUser` object:

[code]

**Expected behavior**
It should log out the correct username, in this case `testamp2@mailinator.com`

**Screenshots**
**Android**
<img src="https://user-images.githubuserc

[2021-01-19 15:04] alextekartik opened #312 "Cognito Error during Android plugin registration: The client tried to add a plugin after calling configure."
**Describe the bug**

In some specific Android restart scenario AuthCognito plugin fails to register (typically the second time).

**To Reproduce**

Unfortunately I don't a small project to reproduce. But basically, there is a crash when:
- Having amplify_auth_cognito 0.0.1-dev.6
- Launch and login using AWS Cognito and flutter example
- exiting the Android application using Back (not killing the

[2021-01-19 15:24] graphicbeacon opened #313 "iOS error: "There is already a user which is signed in. Please log out the user before calling showSignIn""
**Describe the bug**
I'm getting the following exception whenever I stop a running iOS app with a signed in user and attempt signing in with the same user:

[code]

Not sure if this is expected functionality, however I thought I'd report it since it doesn't happen on Android.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Flutter app in debug mode (Android Studio)
2. Sign in the user

[2021-01-19 18:06] Amplifiyer commented on #5
@jobypthomas please see this [new docs](https://github.com/aws-amplify/docs/pull/2851) if you are running the repo's main branch to access Amplify object.

[2021-01-19 19:37] brunovsiqueira commented on #213
Hi guys. I tried the above solution and it seems to work in the back pressed case but it still causes crashes on Crashlytics.

@Amplifiyer is there any schedule to have this bug fixed? In my opinion it is a really important bug because it crashes the app.

[2021-01-19 22:10] rvit34 commented on #200
@aymane6  I think you closed the issue early. After each change in configuration, we need to restart the app completely. It's not convenient. It should work after each hot restart.

[2021-01-20 01:42] fjnoyp commented on #291
Hey @markpearl apologies for the delayed response to your issue here - were you able to resolve your issue in the end?

Within your AmplifyConfiguration file it looks like you have keys for API Plugin but in your initialization dart code, you only added the AuthCognito plugin.  Could you try adding our API plugin as well and see if that fixes your issue?

[2021-01-20 01:53] markpearl commented on #291
Hey,

Yes this can be closed !

Thanks,

Mark

On Tue., Jan. 19, 2021, 20:42 Kyle, <notifications@github.com> wrote:

[2021-01-20 02:13] #291 closed

[2021-01-20 02:56] fjnoyp commented on #276
Hi @bostaginting @satyasrikantmantha sorry you've been having issues with this.  Our Dart Library is built on top of the native Android/iOS Amplify libraries which is where this issue is originating from.  They resolved the issue on native Android by using an escapeHatch (https://github.com/aws-amplify/amplify-android/issues/805).  We are looking into adding support for escapeHatch possibly in the

[2021-01-20 03:07] fjnoyp commented on #312
Hi @alextekartik please see this issue: https://github.com/aws-amplify/amplify-flutter/issues/99

[2021-01-20 08:30] alextekartik commented on #312
Thanks @fjnoyp for the info.

Pressing back is a common task, and killing the FlutterActivity can happen in low memory situation (which is hard to reproduce so pressing back is a way to mimic what would happen). Other plugins deal with the situation on the native side (i.e. the issue only happens with the cognito plugin for the 10+ plugins I have). If you get a Missing plugin exception on issue #9

[2021-01-20 08:35] alextekartik commented on #99
In my experiment, this happens because cognito flutter registration fails (yes it can be called twice in this situation, see #312). Other plugins (I know for having dealing with this in my sqflite plugin) such a firebase handles this case gracefully.

[2021-01-20 15:48] joekendal opened #315 "[Critical] Missing implementation in Core"
**Describe the bug**
For some reason, the Amplify Core throws a MissingPluginException as a result of this block of code
[code]
You'd think this wouldn't be the case as how could any of the plugins be working for others if there is an incomplete implementation of the core. This is the `dev` channel as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [Getting Started tutorial]

[2021-01-20 15:54] joekendal commented on #315
Issue related to https://github.com/aws-amplify/amplify-flutter/issues/274

TODO:
- [ ] Update documentation

[2021-01-20 16:49] Ashish-Nanda commented on #315
@joekendal  what version of Amplify flutter are you using? Are you using the package locally or the published versions?

#274 talks about upcoming breaking changes, but that has not been published yet.

Can you share your app code where you are adding the plugins and calling configure? Also share your `amplifyconfiguration.dart` file please.

[2021-01-20 17:06] Ashish-Nanda commented on #313
Thanks @graphicbeacon, this is actually due to differing behavior in the underlying Amplify iOS and Android libraries.

We are looking into getting it resolved.

[2021-01-20 17:20] joekendal commented on #315
@Ashish-Nanda

Version: `0.0.1-dev.6` from the published version

The code is the same as the tutorial:
### main.dart
[code]

### amplifyconfiguration.dart
[code]

[2021-01-20 17:27] Ashish-Nanda commented on #315
@joekendal could you make just a single call to `amplifyInstance.addPlugin()` like so:
[code]
I think calling it multiple times is the issue. Let me know if that works.

[2021-01-20 17:29] joekendal commented on #315
@Ashish-Nanda no, same issue :(

[2021-01-20 18:54] haverchuck commented on #311
@graphicbeacon This is an inconsistency between android and iOS which, I believe, only manifests when using an email/phone number as a username. We will begin investigating a solution.

[2021-01-20 19:14] fjnoyp commented on #315
@joekendal why did you add `if (!mounted) return;` to your `_configureAmplify`?

Have you been able to debug your `_configureAmplify` method and verify that that configuration code is running?

[2021-01-20 19:25] haverchuck commented on #311
https://github.com/aws-amplify/amplify-ios/issues/1029

[2021-01-20 22:18] fjnoyp commented on #312
Thanks for that insight @alextekartik I'll investigate what you said.

[2021-01-20 22:51] kjones commented on #311
Related: #201

[2021-01-20 22:56] fjnoyp commented on #315
Hey @joekendal I'm looking to reproduce your issue on my machine.  Could you provide your pubspec.yaml as well?  I'm assuming it's just this:

[code]

[2021-01-20 23:12] fjnoyp commented on #315
Hi @joekendal I've recreated your project copy pasting what was provided and using the above imports in pubspec.yaml

I was not able to reproduce your error, the config works fine and I'm able to send events.

Could you try running: `flutter clean build`?

Also, what platforms did you test on?
Are you using an emulator or a physical device?

[2021-01-20 23:43] fjnoyp commented on #306
Hi @wer32 thanks for your detailed explanation and the issue.

Could you clarify : If you send null it won't work and requires a restart of an application.

From what I read it sounds like the item is not being saved, but you're not getting any exception at all.  Is that the case or is the application freezing and becoming unresponsive?  Why do you have to restart the application?

[2021-01-20 23:58] joekendal commented on #315
@fjnoyp this seems to be an issue on desktop. shouldn't flutter packages be compatible with any flutter runtime environment? Where do I need to look in the code to fix this? Happy to try and open a PR to address if someone can give me a clue

[2021-01-20 23:58] #315 closed

[2021-01-20 23:59] Amplifiyer commented on #315
@joekendal, amplify-flutter currently only supports android and iOS environments. +1 here https://github.com/aws-amplify/amplify-flutter/issues/133 for Desktop support.

[2021-01-21 00:00] joekendal commented on #315
@Amplifiyer clever bot this is

[2021-01-21 00:07] joekendal commented on #133
This may seem counterintuitive to the ethos of Flutter - which is designed to support packages in a platform-independent way. There doesn't seem to be a checklist of things to do and I need to implement this and open a PR if not.

I'm not sure why it's not supported by default. Is this to do with not having a Dart implementation of any of the modules and instead having a wrapper around the origina

[2021-01-21 00:34] joekendal commented on #5
This has been completely overlooked by Amazon. Google Cloud has Firestore SDKs for Dart, Swift, Java, Python, Node.js, Go, PHP, C#, and Ruby.

The simplest workaround would be to take amplify-js and use it with React for Desktop & Web. Would be problematic to have to learn a new framework but you will probably not get this team to write a Dart SDK from scratch. It's unfortunate but sadly that's yo

[2021-01-21 02:42] wer32 commented on #306
Hi @fjnoyp
When I send a Task with parentID = null it was saved in local DataStore but wasn't pushed to DynamoDB.
UI and etc wasn't frozen and all worked as expected except data pushing.
Please not if remove the index `@key(name: "parent-id-index", fields: ["parentID"])` the syncup will work with both null and non null values.
If you see reproduced steps you can notice that I send Task with nonnul

[2021-01-21 11:49] mufeedamhdali opened #317 "amplify Sign up function not working while running flutter release build"
I have configured a flutter project with amplify authentication. Authentication process works fine when I debug through USB. When I installed the release apk on my android device, authentication process does not work.

I want to go to my home page of the app when I sign in/sign up

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):

[2021-01-21 12:27] talamaska commented on #133
Not to be picky, but there is already web implementation for amplify. Yes it doesn't follow the same API probably, but still, a thin dart wrapper arround it should make it usable in flutter, It is already usable, but you need to play with js interop.
@joekendal right, but Amplify Mobile SDK and Web SDK exist from some time ago. Desktop never existed, and it should be written on c/c++ in order to m

[2021-01-21 16:22] Ashish-Nanda commented on #317
@mufeedamhdali could you share your steps for creating the release apk so we can replicate exactly?

Also could you elaborate on what happens when you say `authentication process does not work`. Does it result in an error? Could you share the stacktrace or logs?

[2021-01-21 20:00] BerndWessels commented on #182
I believe this whole cognito user pools and federated identities signup situation is extremely limited by the currently exposed SDK.

See this for details [medium article](https://medium.com/@wesselsbernd/some-aws-cognito-appsync-details-as-of-may-2019-247c8531f600)

@haverchuck
Please AWS address this, otherwise we cannot use Amplify and AppSync at all for apps targeting a "social" audience :( Wi

[2021-01-22 10:53] DanielChuDC commented on #5
Hi if nobody created this feature request, I will create a feature request on the push notification support describe according to @jobypthomas. I am working on a project in amplify and required push notification. Looking forward to see how amplify can enable this feature.

[2021-01-22 12:37] jobypthomas opened #319 "AWS Amplify - AWS Push Notification for Flutter"
This is a feature request for adding Push Notification Service for Flutter like we have it for React/iOS/Android.

[2021-01-22 12:38] jobypthomas commented on #319
@danielchu Please upvote.

[2021-01-22 13:16] DanielChuDC commented on #319
Key capabilities:
1. Send notification messages or data messages
2. Versatile message targeting
3. Send messages from client apps

[2021-01-22 16:31] hiashutoshsingh opened #320 "How to read pdf/img file?"
I have url for the file but it is private and also have access and secret key for s3 bucket.

Now how can i can render this file in dart/flutter ?

[2021-01-23 01:24] DanielChuDC commented on #319
We can discuss alternative temporarily  solution before the official plugin come out.

I am aware that [amplify android push notification](https://docs.amplify.aws/lib/push-notifications/getting-started/q/platform/js#setup-for-android) and [amplify ios push notification ](https://docs.amplify.aws/lib/push-notifications/getting-started/q/platform/js#setup-for-ios). will it works if we configure it