[2022-03-04 18:06] dnys1 commented on #1391
When the app wakes up and you perform an API call, are you getting an error? Can you provide logs for that error?

[2022-03-04 22:27] HuiSF commented on #306
Amplify CLI opened an issue for looking for a solution https://github.com/aws-amplify/amplify-cli/issues/9915

[2022-03-05 01:38] edzon commented on #234
+1

[2022-03-05 05:56] djsjr opened #1434 "add support for conflict resolution to GraphQL API ModelMutations.update"
### Description

ModelMutations.update fails to update an entry. With Automerge, the update is treated as an older entry than the entry on the server. Version number increased (seen from DynamoDB), lists concatenate, and other changes are rejected. With Optimistic Concurrency, changes are rejected, version number increases.

I would not expect conflict resolution to work with the API plugin, but t

[2022-03-05 06:40] raphire08 commented on #1391
No error for the ApI calls, they are successful

[2022-03-05 11:53] guplem commented on #1427
Thanks for the clear answers!

I created this issue (https://github.com/aws-amplify/amplify-adminui/issues/497) in the Amplify Admin UI (which, I believe, is the repository for Amplify Studio).
Probably this should be fixed there... Maybe allowing the automatic application of mutations to previously existing data to fit the new model?

[2022-03-05 12:32] zamargab commented on #1434
I think I'm having a similar issue, being struggling with this since yesterday, been trying to update an entry on the DynamoDb, the action completes but it returns the previous data without actually updating the db

  updateDB() async {
    String userID =
        Nuscription.sharedPreferences!.getString(Nuscription.userID).toString();

[code]

[2022-03-05 13:55] zamargab commented on #1434
Hello.... any help?

[2022-03-05 13:55] zamargab commented on #1425
Hello... any help?

[2022-03-05 14:02] zamargab commented on #1431
I have tried but it is still not updating, it doesn't return any error, it completes normally but does not update

[code]

[2022-03-05 20:29] dnys1 commented on #1391
Can you tell me how you know the DataStore subscription does not recover when you wake up the app? From my testing so far, even if there is an error when the app closes, it will recover when the app wakes up again.

[2022-03-05 20:31] dnys1 commented on #1427
I agree - this could definitely be an enhancement of the DataStore category and the Studio UI! Thanks for creating that ticket.

I will close this one for now in favor of that one. Please feel free to re-open or create another ticket here if you continue to experience challenges.

[2022-03-05 20:31] #1427 closed

[2022-03-05 23:04] ken-ng-esotec opened #1436 "GraphQL Requests do not show in network tab"
### Description

We are using Amplify API to talk to AppSync/Lambda functions. Normal HTTP requests/image assets downloads show automatically in the Flutter Inspector Network tab, but we have never been able to see Amplify API requests here.

Why is this?

The below screenshot shows images, a websocket connection and some text from a HTTP request - no Amplify requests/data is showing here.

<img w

[2022-03-06 13:58] willianmascimiano opened #1437 "@hasMany on Flutter returns relationship null"
### Description

My comments relationship from post model is returning null.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

When I call postById I get results from the post, but comments not.

![image](https://user-images.githubusercontent.com/19466705/156926349-dad861b0-88c0-4d14-a4ce-8e04

[2022-03-06 14:04] willianmascimiano commented on #1437
![image](https://user-images.githubusercontent.com/19466705/156926637-c1741638-7135-4b9f-a25e-e2713316632e.png)

[2022-03-06 16:04] dnys1 commented on #1436
Hi @ken-ng-esotec - the reason for this is that Amplify Flutter uses iOS/Android libraries for sending HTTP requests and only requests sent from Dart will show in the inspector. The inspector is unable to see requests sent from native iOS/Android code.

[2022-03-06 16:06] dnys1 commented on #1437
Hi @willianmascimiano - can you provide the code you're using to retrieve the post?

[2022-03-06 17:22] Rayv1 commented on #319
@abdallahshaban557 Push Notifications are a key element in mobile apps and a essential success factor. Notifying customers is not an optional thing, its a must have and should be implemented ASAP as its a big gab and makes firebase much more attractive.
Use-Case:

- Send Notifications as reminder (Appointments)
- Send Notifications about new functionality
- Send Notifications about new Content
- m

[2022-03-06 18:55] willianmascimiano commented on #1437
findById method.

`import 'package:agroeti/models/Affiliates.dart';
import 'package:agroeti/models/CommunityType.dart';
import 'package:agroeti/models/ModelProvider.dart';
import 'package:agroeti/models/Post.dart';
import 'package:amplify_api/amplify_api.dart';
import 'package:amplify_api/model_mutations.dart';
import 'package:amplify_api/model_queries.dart';
import 'package:amplify_flutter/amplif

[2022-03-07 03:12] jack24254029 opened #1438 "[Auth] Fetch Auth Session fail after relogin"
### Description

When call `fetchAuthSession` fail first time, the app will call signout and signin then call `fetchAuthSession` again, but it still fail.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

User DON'T refresh token after a week or more maybe can reproduce this behavior.

### Scr

[2022-03-07 03:22] Jordan-Nelson commented on #1438
Hi @jack24254029 - Can you confirm you have seen this on both iOS and Android?

[2022-03-07 03:52] jack24254029 commented on #1438
Hi @Jordan-Nelson
According to my log, I search these user's device platform is iOS and device follow below list:
- iPhone Xʀ / 14.7.1
- iPhone X / 14.6
- iPhone 13 / 15.1.1

[2022-03-07 04:09] jack24254029 commented on #1438
I don't see this on Android, but I will keep observe it.

[2022-03-07 07:05] arunwij commented on #410
If I authenticate this with Cognito REST API, can I still use amplify client library to handle other API calls?

[2022-03-07 08:26] Kakukaho commented on #234
+1

[2022-03-07 12:29] Jordan-Nelson commented on #1438
@jack24254029 Okay, thanks for that info.

Are you able to reproduce this behavior, or have you only been able to observe it via the logs?

[2022-03-07 13:39] NepipenkoIgor opened #1439 "Expose federatedSignIn APIs from mobile client"
### Description

Hi All currently  i trying to implement  federation sign in with web ui
 by doc https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter/.  Should say that regular sign in , reset password ..... works awesome . But when i try to call `Amplify.Auth.signInWithWebUI(provider:  AuthProvider.apple);`, not mater which provider i get an error `AWSMobileClient/AWSMobileClient.sw

[2022-03-07 13:46] Jordan-Nelson commented on #1439
Hello @NepipenkoIgor - Can you confirm you have gone through all the steps listed [here](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/flutter/#setup-your-auth-provider) to set up apple as an auth provider?

[2022-03-07 13:53] NepipenkoIgor commented on #1439
Hi @Jordan-Nelson . No . But for goggle and another providers a have the same errors .
Should i create configuration for all providers ?
And short question by my business needs i need Azure provider . We implemented successfully  federation sign in with Angular
`this.amplifyService.auth().federatedSignIn(customerProvider);`
But i didn't find any information about federatedSignIn in flutter and how

[2022-03-07 14:38] dnys1 commented on #1436
For debugging purposes, you can consider using a proxy like [Charles](https://www.charlesproxy.com/) to intercept these requests.

Closing this issue for now, but please feel free to re-open if you continue to experience difficulties.

[2022-03-07 14:38] #1436 closed

[2022-03-07 17:54] abdallahshaban557 commented on #319
@Rayv1  - thank you for the feedback, we are most definitely aware of how important notifications are to our developers, and are currently working on our plans to support it in the future. We appreciate you sharing the use cases you have.

[2022-03-07 19:47] Jordan-Nelson commented on #1438
Okay. What is the implementation of `signIn()`, which is referenced in the line `final bool isSignIn = await signIn();`? Is the prompting the user to sign back in with username / password?

[2022-03-07 21:15] Jordan-Nelson commented on #1439
@NepipenkoIgor - Have you tried calling signInWithWebUI() without a provider? It should open the web UI with the option to choose between all the configured providers. If you have configured Azure as a provider for your Cognito backend already (following steps similar to [this](https://aws.amazon.com/blogs/security/how-to-set-up-amazon-cognito-for-federated-authentication-using-azure-ad/), for exa

[2022-03-08 01:04] d95sld95 opened #1440 "DataStore - Offline Mode - Sync successful only after Airplane mode, not Wifi or Cellular"
### Description

Flutter Amplify DataStore sync's correctly after being offline in Airplane mode. But if you disable WIFI and Cellular and come back online DataStore does not sync data and the data only remains on the original device that was offline. I have tried to stop and start the DataStore, but nothing will make the data sync again.

Seems to be an issue on any version since 0.3.0 all the wa

[2022-03-08 01:44] jack24254029 commented on #1438
No, we use a rule to generate password.
[code]

[2022-03-08 06:58] AldrinMathew opened #1441 "`Amplify.Storage.getUrl` stuck in the future - Does not return anything"
### Description

This happens only on iOS, Android works perfectly.
Calling `Amplify.Storage.getUrl` does not return anything.
When it is `await`ed, it never returns the awaited value, when it is used as a `Future`, there never is any data returned, when `then` is used for the future, the execution never reaches that block of code.
One factor that might make our use case different from most might

[2022-03-08 07:56] ebo8 commented on #1370
@HuiSF is there any timeline on this? Looking forward to try this out :)
https://github.com/aws-amplify/amplify-android/releases/tag/release_v1.32.1

[2022-03-08 08:53] NepipenkoIgor commented on #1439
Hi @Jordan-Nelson  . Just given 👍 for feature request .
tried calling signInWithWebUI()  but get the same result
Error
[code]
I recheck all steps from doc
1) Added to all. Info.plist, Info-Debug.plist, Info-Release.plist
[code]
 2)  tried calling signInWithWebUI()

 I tired to use the same configuration that we use for web ( for web everything good). I get this config dynamically from REST and the

[2022-03-08 10:29] irisk29 opened #1442 "Can't save One to Many Models Using Data Store"
### Description

Hello,
I'm trying to save via Data Store Product that is connected to Store (one Store has many Products).
The store is saved successfully (I can see it in the content section in AWS amplify studio) but not the product.
I have tried in many ways -
1. first save the product than the store
2. first save the store then the product
3. save just the product without/with the store id

b

[2022-03-08 11:03] Sunsiha commented on #1368
any update?

[2022-03-08 11:06] Sunsiha commented on #1368
[code]

Still getting the same error.

[2022-03-08 11:19] Sunsiha commented on #502
@agordeev any update on this.

[2022-03-08 11:56] alrashedf opened #1443 "GraphQLResponseException when observing changes in table using API GraphQL"
### Description

When subscribing to `Orders` table changes using `observeQuery` and an item is changed on another device, API sync fails with the following message (from Android flutter app log). The same happens in iOS but less verbose.
[code]

To see the errors neatly:
[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [x] DataStore
- [

[2022-03-08 13:16] Jordan-Nelson commented on #1443
Hello @alrashedf - When you observed this issue, were you testing the sync between and Android and iOS device (opposed to two iOS devices, or two Android devices)?

[2022-03-08 13:26] Jordan-Nelson commented on #1443
This may be related to https://github.com/aws-amplify/amplify-flutter/issues/663.

If you are seeing when testing with an iOS device and an Android device, would you be able to attempt to reproduce this between two iOS devices or two Android devices? If it is only reproducible across Android/iOS, I think the root cause is likely the same as #663.

[2022-03-08 15:26] Jordan-Nelson commented on #944
@lawmicha Has this been finalized across iOS/Android and codegen?

[2022-03-08 15:42] Jordan-Nelson commented on #933
@ADLsourceCode - There was a similar issue (https://github.com/aws-amplify/amplify-js/issues/3862) opened in Amplify JS that seemed to be caused by the user entering emails with whitespace at the end. Are you trimming the user input to remove whitespace?

@Sunsiha That appears to be a different issue. It looks like you are trying to reset the password for a user that doesn't have a phone number or

[2022-03-08 15:44] Jordan-Nelson commented on #1091
@bhautikcoretus - If you are still experiencing this issue, please provide the info requested above. Thanks.

[2022-03-08 15:50] haverchuck commented on #1368
@Sunsiha

Are you saying that this happens after the user's email address is changed?

If so, how are you going about changing the email address?

[2022-03-08 17:07] #1431 closed

[2022-03-08 17:10] willianmascimiano commented on #1437
OK, i will check and answer this night.

Thanks.

[2022-03-08 17:53] HuiSF commented on #1440
Hi @d95sld95 Thanks for the detailed reproducing steps.

Did you do this after the 7th step?

The new record created in iPhone 11 when the device is disconnected, never been synced to DynamoDB table?

[2022-03-08 18:32] Jordan-Nelson commented on #118
It looks like this was marked as a bug that requires a fix in Amplify-Android, but no Amplify-Android issue was linked. I'm marking this as pending triage until we track down what fix is required from Amplify-Android.

[2022-03-08 19:24] ragingsquirrel3 commented on #1434
@djsjr using Graphql model helpers like `ModelMutations.update()` is not supported with conflict resolution. I'm going to label this issue as a feature request. A similar feature request is open in the Amplify ios library https://github.com/aws-amplify/amplify-ios/issues/1615. There is a verbose workaround available I will describe, in case it's helpful.

Because mutation requests with conflict re

[2022-03-08 19:35] Jordan-Nelson commented on #1265
Hello - Sorry for the delay on an update. This looks like it could be related to https://github.com/aws-amplify/amplify-android/issues/1587, an underlying issue that was addressed in Amplify-Android. That fix would have been available starting in 0.3.2 of Amplify-Flutter. If you are still experiencing this issue with 0.3.2 or later, please let me know.

I also just want to note that the original i

[2022-03-08 19:51] Jordan-Nelson commented on #1090
@rahul-insight - Have you had a chance to attempt upgrading to the latest CLI version and regenerating the `amplifyconfiguration.dart` file?

[2022-03-08 19:52] ragingsquirrel3 commented on #1425
@zamargab this appears to be an issue with the Amplify CLI as the graphql model helpers are tightly coupled with expected graphql transformation logic. Do you mind putting the contents of your amplify/cli.json file here as it might contain some helpful information? If I'm not able to help with that info, we can create an issue in https://github.com/aws-amplify/amplify-cli to see if people there ca

[2022-03-08 19:57] Jordan-Nelson commented on #1082
@latheeshvmv - It looks like this fell off of our radar after it was closed. If you are still facing this issue, can you please let us know? Thanks.

[2022-03-08 20:09] Jordan-Nelson commented on #1042
@hpop - are you able to consistently reproduce this, or is it also intermittent for you?

@brunovsiqueira - The "Submit new issue" button will be disabled if all the required fields are not filled in. Have you filled in all the required fields?

[2022-03-08 20:18] Jordan-Nelson commented on #977
@fdarsot - This appears to be the same issue as #1042. Since that issue has had more discussion, I would like to use it to track this issue. I know you have already commented on that issue, but please feel free to give it a 👍 as well. It helps us to quickly get an idea of how many people are facing an issue.

Please let me know if you think there is any reason to keep this issue open, otherwise I

[2022-03-08 20:32] Jordan-Nelson commented on #760
Hello all - Apologies for the late update. It looks like this fell off our radar. It sounds like Auth APIs are throwing SessionExpiredException when there is not network, even if the session has not actually expired. I can attempt to reproduce this.

Are you seeing this on both iOS and Android, or just on one particular platform?

[2022-03-08 20:34] Jordan-Nelson commented on #747
@androidshivam - If you are still facing this issue after trying the solution above, please let us know. Otherwise we will close it out. Thanks.

[2022-03-08 20:48] Jordan-Nelson commented on #494
@Lorenzohidalgo it looks like the underlying issue in Amplify-Android has been resolved, and would have been available since Amplify-flutter 0.3.2. It is possible there is some work required to consume this fix in Amplify-Flutter though. Have you attempted this with Amplify-flutter 0.3.2 or later?

[2022-03-09 02:15] dorontal opened #1445 "Seemingly valid GraphQL API query returns null when data is expected"
### Description

A GraphQL API query, specifically this code
[code]
where `id` is the ID you get from the user model instance in the DB and `doc` contains the query below, returns `response.data == null`, i.e. it returns a `null` user instance result, even though `id` is verified to be correct by looking at the DB.

The query in `doc` is:
[code]

Here is the user model that caused the null result,

[2022-03-09 04:35] This-Is-Not-Brad commented on #234
+1 - Really need Auth and API support.

[2022-03-09 06:27] alrashedf commented on #1443
It was between a react web app that changes states (PLACED to ACCEPTED to READY to COMPLETE) as Orders progress and Android app (and the iOS app too)

[2022-03-09 06:35] alrashedf commented on #1443
It seems that #663 is a bug with *nested* models. Orders table is flat in the schema. Moreover, what is causing the issue are createdAt/updatedAt which are not part of the my model but *compiled into* graphql. It seems that Amplify codegen is producing code that doesn't account for mutations that have null values for createdAt/updatedAt (I'm just guessing here).

[2022-03-09 06:39] #747 closed

[2022-03-09 09:19] gianmarcocalbi commented on #760
### Android
`SessionExpiredException`

### iOS
[code]

[2022-03-09 14:46] Lorenzohidalgo commented on #494
@Jordan-Nelson I stopped using DataStore for my application. I'm not able to test it with the newer versions.

[2022-03-09 16:08] Jordan-Nelson commented on #1439
@NepipenkoIgor - Can you share the config you are using (with sensitive info removed/masked)? If it was set up for web, it is possible it is missing something that is required for mobile.

[2022-03-09 16:11] Jordan-Nelson commented on #494
Okay. No worries. We can attempt to reproduce this with 0.3.2.

I am going to label this as `to-be-reproduced` and `pending-triage` so that it gets in our list of issues to reproduce.

[2022-03-09 16:24] Jordan-Nelson commented on #1341
@DenisVillalta @ramiromoctezuma - I am going to close this issue since we have not heard back on the info request above. If you are still facing this issue, please feel free to open a new issue.

[2022-03-09 16:24] #1341 closed

[2022-03-09 16:42] mcksolutions commented on #234
+1

[2022-03-09 17:03] HuiSF commented on #1443
Hi @alrashedf thanks for following up with great details.

Do you use the DataStore plugin as well from amplify-js updating the state of `Orders`?

Could you try this:
Run your web app, open dev tool to inspect the network traffic. Make a model update, and look for the corresponding `/graphql` network request. Could you paste the network request payload here?

Also could you paste the generated mo

[2022-03-09 17:12] ragingsquirrel3 commented on #1445
@dorontal this looks similar to an issue that was closed a while back https://github.com/aws-amplify/amplify-flutter/issues/1175 . While I think that should be fixed with the version you are using, I wonder if there might be other special characters in the request that are causing issues with Android? Or maybe that fix isn't working as expected?

One thing that helped to debug the other issue was

[2022-03-09 17:16] abdallahshaban557 commented on #414
OIDC is now supported! Thank you for opening this feature request!

[2022-03-09 17:16] #414 closed

[2022-03-09 18:11] dorontal commented on #1445
Hi @ragingsquirrel3 - thanks for responding to this bug. I don't believe there are any special characters in `doc` in the code above, i.e. in the GraphQL document that gets submitted in the query.

Regarding the simpler test case reproductions, sure, but that's easy to do: one just has to use the model I provided as a starting point then take out parts of it one by one, until the bug no longer sho

[2022-03-09 18:45] HuiSF commented on #1370
Hi @ebo8 thanks for following up, we are going to bump the version of amplify-android soon and arrange a release. Thanks for your patience.

[2022-03-09 18:55] Jordan-Nelson commented on #180
@WathikAhmed - userSub will not be reassigned. See https://forums.aws.amazon.com/thread.jspa?threadID=243796 for a similar question/answer.

@vuchau - An auth trigger is definitely the way I would recommend achieving the functionality you are looking for. Creating a user in a database is a great example of what an auth trigger can be used for actually. Having this run in an auth trigger has the be

[2022-03-09 19:08] dorontal commented on #1445
Yup, just checked and removed all carriage return and any possible other special characters in that query document, with spaces being the only non alphanumeric character in the document, but the same issue remains.

[2022-03-09 19:43] Jordan-Nelson commented on #299
@erfactor - I don't have an update for this at the moment.

@rayhaanq - When you say, "A profile is created and the profileId is added as an attribute to the user," are you using the Auth user attribute APIs (`Amplify.Auth.updateUserAttribute()`) to do this?

This issue has received a fair amount of 👍 s. I would like to make sure we understand the various use cases for forcing a token refresh. If

[2022-03-09 19:54] Jordan-Nelson commented on #510
I don't have an update on this issue, but if it is a feature you would like to see implemented, please give the issue a 👍 . It helps us to quickly gauge how much interest a feature request has.

[2022-03-09 20:46] Jordan-Nelson commented on #760
@gianmarcocalbi - can you share the code that results in those errors as well as any steps to reproduce them?

I am not able to reproduce this with the following code:

[code]

I have attempted the following:
- Sign in
- Turn network off
- fetch session - works as expected (on both iOS and Android)
- wait until session token expires
- fetch session
  - On Android: I am not seeing an exception. The

[2022-03-09 23:58] ragingsquirrel3 commented on #1445
@dorontal one more question: Does your `GraphqlResponse` have any errors in `response.errors`?

[2022-03-10 00:18] dorontal commented on #1445
@ragingsquirrel3  yes - just checked and there were errors in `response.errors` - in from the VSCode debug console, screenshot:
![response_errors](https://user-images.githubusercontent.com/5935957/157560926-0e7ac363-c5d6-419b-833b-c18abc59548c.png)

It looks like an unauthorized exception.  I have a version of the same app but in Angular / Javascript - I believe it did not get an unauthorized exce

[2022-03-10 11:21] gianmarcocalbi commented on #760
I have tried to replicate using the v0.4.1 and following your steps and
* for Android I get no exception and null tokens like you
* for iOS (**I am using a Simulator**) I still get the `UnknownException`:
   1. I do SignIn
   2. fetchAuthSession to check that is works, and it does work
   3. close the app
   4. wait 6min (on cognito I have set ID token and Access token expiration = 5min)
   5. tur

[2022-03-10 13:05] gianmarcocalbi commented on #760
Now, After 1h, I have just launched the app, and fetchAuthSession gave me `SessionExpiredException`

[code]

[2022-03-10 14:04] d95sld95 commented on #1440
@Jordan-Nelson

Yes, I basically added a Stop and Start button (Amplify.Datastore.start() / Amplify.Datastore.stop()

No, I also check to see if the data made it to DynamoDB.

[2022-03-10 14:08] d95sld95 commented on #1440
@Jordan-Nelson

Another development, in our Prod environment, with a much more advanced application we now have it sync'ing using 0.3.0.

But, it always skips the first item created offline (like it skips index 0 in the queue).

**Steps:**

Offline (1): Add item 1, 2, 3
Online (1): Item 2 and 3 sync's, but NOT 1
Offline (2): Add item 4, 5, 6
Online (2): Item 1, 5, 6 sync, but NOT 4 and notice 1 su

[2022-03-10 15:40] Jordan-Nelson commented on #760
I agree, we can mark this as a bug for a) the inconsistency, and b) the generic error opposed to a specific and helpful error

What is your refresh token expiration? I believe the lowest Cognito allows is 60 minutes. If you happen to have it set to 60 minutes, I think this would be expected since at this point your session and refresh token would have expired. If your refresh token is much higher,

[2022-03-10 16:05] Jordan-Nelson commented on #1439
Assuming you want to redirect the user back to the mobile app after authentication, it should match the value you added for `CFBundleURLSchemes` to your project's info.plist. You can use something more specific than `myapp`. That is just for example in the docs.

Before we close out this issue, I want to make sure #438 would meet your use case. After looking at #438 again, I think the main piece o

[2022-03-10 17:03] Jordan-Nelson commented on #1442
Hello @irisk29 - Thanks for opening the issue. A few questions:

1. Are you seeing any errors when saving the models?
2. Have you attempted to query the models from your app after saving them? Are they getting saved to the local device at least?

[2022-03-10 17:06] Jordan-Nelson commented on #1441
Hello @AldrinMathew - Can you provide some more info on your auth setup so that we can attempt to reproduce this?

[2022-03-10 17:09] HuiSF opened #1449 "Better experience on operating nested/associated models"
### Description

This issue is to track the progress on providing functionality and better experience on the following

* query nested/associated model
* query with nested predicates
* lazing loading of nested/associated model
* cascade save and delete
* ...

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps

[2022-03-10 17:10] HuiSF commented on #1373
Closing this issue in favor of https://github.com/aws-amplify/amplify-flutter/issues/1449
The progress will be updated in the linked issue. Thanks!

[2022-03-10 17:10] #1373 closed

[2022-03-10 17:11] HuiSF commented on #264
Closing this issue in favor of https://github.com/aws-amplify/amplify-flutter/issues/1449
Will update the progress in the linked issue. Thanks!

[2022-03-10 17:11] #264 closed

[2022-03-10 17:15] #818 closed

[2022-03-10 17:23] Jordan-Nelson commented on #1438
@jack24254029 Is it possible that this is also happening after an initial log in as well (do you have logs in that scenario), or does it only occur in the scenario you have above? It could help to know if this is only happening after the initial session expires, or it it can be observed in other scenarios.

[2022-03-10 17:47] HuiSF commented on #830
Above described root cause should've been fixed. Will verify and enable corresponding integration tests.

[2022-03-10 18:12] HuiSF commented on #898
As above described workaround has resolved the original problem, I'm closing this issue.
We will update advance use cases on using API to operate with DataStore in this feature request tracking issue: https://github.com/aws-amplify/amplify-flutter/issues/1129

[2022-03-10 18:12] #898 closed

[2022-03-10 18:28] HuiSF commented on #1300
Hi @dnys1 thanks for merge the change. Is the linked PR. Since we have released this change, is it enough to fix this issue?

[2022-03-10 18:45] HuiSF commented on #1290
Confirmed that amplify-flutter supports sync expression re-evaluate. Corresponding [documentation](https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter/#reevaluate-expressions-at-runtime) has been updated.

I'm closing this issue. Please feel free to follow up if anything. Thanks!

[2022-03-10 18:45] #1290 closed

[2022-03-10 18:52] HuiSF commented on #1390
Hi @alrashedf a quick follow up

Was the updated triggered by a mutation made by using the `API` category, or `DataStore` category?

[2022-03-10 18:59] dnys1 commented on #1300
Yes, this issue should be resolved now.

[2022-03-10 18:59] #1300 closed

[2022-03-10 19:05] HuiSF commented on #534
Hello sorry for the super late follow up. This underlying issue in amplify-android should have been fixed with version [`1.29.1`](https://github.com/aws-amplify/amplify-android/releases/tag/release_v1.29.1). amplify-flutter has integrated this fix since version 0.3.2. Closing this issue. Please feel free to follow up if anything. Thanks!

[2022-03-10 19:05] #534 closed

[2022-03-10 19:11] HuiSF commented on #1239
Hi @nimisharanipabacancy sorry for the delayed follow up, is this issue still happening to you?

[2022-03-10 19:43] ragingsquirrel3 commented on #1445
@dorontal thanks for the information. It looks like your schema requires multiple authorization modes and cognito user pool mode to be used for this request as it is reading owner-only fields. Have you enabled multiple authorization modes from the CLI for this app? What is the current auth mode for your backend? The behavior you are seeing looks consistent with attempting the request with IAM auth

[2022-03-10 19:57] irisk29 commented on #1442
Hello @Jordan-Nelson,
I believe the problem was caused by the relation of the product to the shoppingBag.
Only when I had a shopping bag connected to the product, I could save it.
The question is why?
I defined this field(the shopping bag id) as not required, to simulate 0..1 relation with the product (product can have 0 or 1 shopping bag) but still could not save the product without the shopping

[2022-03-10 21:02] Jordan-Nelson commented on #1442
What was happening when you attempted to save without a shopping bag connected to the product? Was there an exception thrown?

[2022-03-10 21:03] dorontal commented on #1445
@ragingsquirrel3 thank you for this documentation link! I've been searching for multi-auth related documentation and how to switch auth modes. I just checked and indeed the `amplifyconfiguration.dart` is set up for `IAM` - this explains the "unauthorized" errors, because the query asks for some fields that only the owner (== Cognito mode) is allowed to see. I will try to change to using Cognito mo

[2022-03-10 21:08] irisk29 commented on #1442
No exception was thrown, nothing happened. The state of the information in the cloud was like in the pictures attached.

[2022-03-10 21:23] dorontal commented on #1445
@ragingsquirrel3  yup - as soon as I switched over to using the correct authorization model (Cognito user pools) via the link that you sent, everything works and there are no longer any authorization errors.

Thank you very much for sending the link on how to switch modes - this revelation is a total breakthrough for us here!

As far as I'm concerned this issue is completely solved and not an issu

[2022-03-10 21:50] ragingsquirrel3 commented on #1445
@dorontal glad you got this resolved! Will close this issue.

[2022-03-10 21:50] #1445 closed

[2022-03-11 00:42] WalterWoshid opened #1451 "Relation cannot be saved by model, only by ID"
### Description

Trying to save a model with a relationship only works when saving by ID like this

[code]

Expected behaviour, like in the docs:
[code]

No error is returned, it just doesn't save the relation

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_N

[2022-03-11 00:50] Jordan-Nelson commented on #1451
Hi @WalterWoshid - Can you share your schema? Or at least a subset that includes the user/wallet models. Thanks.

[2022-03-11 00:52] WalterWoshid commented on #1451
Hi @Jordan-Nelson

here you go:
[code]

[2022-03-11 01:36] jack24254029 commented on #1438
I don't have log after the initial session, but I can add it.
I think relogin is same with initial sign in.

[2022-03-11 07:12] alrashedf commented on #1390
It is triggered by calling `Amplify.DataStore.Save()`. So, `DataStore` category.

[2022-03-11 10:33] NepipenkoIgor opened #1452 "Unexpected behaviour during Amplify.Auth.signOut() after Amplify.Auth.signInWithWebUI()"
### Description

I need call signOut twice because  first time a see web page without actions .
<img width="442" alt="Screenshot 2022-03-11 at 12 29 48" src="https://user-images.githubusercontent.com/7725146/157850169-791905d4-488f-4903-ab5e-26d9d7d1fda7.png">
I can click only  cancel and after this i got an error
[code]
then i try call again  signOut and everything will be ok

### Categories

- [

[2022-03-11 10:56] Jordan-Nelson commented on #1452
Hi @NepipenkoIgor - Are you seeing this with any other auth providers besides Microsoft/Azure?

[2022-03-11 11:07] NepipenkoIgor commented on #1452
@Jordan-Nelson  Can't answer very fast. Currently i don't have any another providers . I will be able to check in next days when backend team will create additional configuration to another provider

[2022-03-11 14:23] Jordan-Nelson commented on #1451
In backend/api/app/schema.graphql does `User` have a connection to `Wallet`?

[2022-03-11 14:36] Jordan-Nelson commented on #823
@HuiSF - This is still a bug in my opinion.

Was there a reason for not wanting change the behavior? I know that by default a SQL query such as `where foo != "someValue"` will not return rows where foo is null, but the underlying SQL query is an implementation detail. And that implementation is incorrect IMO. The fact that SQL/SQLite is used at all is an implementation detail.

We should aim to pr

[2022-03-11 14:42] Jordan-Nelson commented on #1452
Okay. If you are seeing this for other auth providers (google, apple), I would guess that something isn't configured correctly. We can attempt to reproduce this, but it may take a bit since it will require setting up a new auth provider.

Let me know if you end up seeing this for other providers.

[2022-03-11 14:45] OLTApp commented on #319
We need it where notification needs to be sent for new posts, comments, replies for improving user engagement.

[2022-03-11 14:48] Jordan-Nelson commented on #1439
Okay. For now I am going to mark this as a separate feature request to expose the federatedSignIn APIs from the mobile clients. It is possible that this feature request will have some overlap with #438, but I think this is really a different request.

[2022-03-11 14:55] Jordan-Nelson commented on #1442
Do you mind explaining what you mean by this? Were you able to get this to work by changing either your schema, or the code being run?

[2022-03-11 15:19] Jordan-Nelson commented on #1438
@jack24254029 do you have an idea of how frequently you see this happen? Roughly what percentage of the `Try to fetch auth session` logs are followed by `fetch auth session fail again`?

[2022-03-11 15:27] Jordan-Nelson commented on #1289
Marking as a documentation issue. We should add the client meta data option to https://github.com/aws-amplify/docs

[2022-03-11 15:37] Jordan-Nelson commented on #1141
@bobekos - The issue in Amplify-iOS was resolved and should be available in Amplify-Flutter 0.3.2. Can you please let me know if this issue is resolved for you in v0.3.2 or later?

[2022-03-11 15:41] Jordan-Nelson commented on #546
@thomasaab @wattanakorn495 @ken-ng-esotec - Please let us know if you are still facing this issue.

[2022-03-11 15:42] jack24254029 commented on #1438
Fetch auth session fail first time about two or three users pre day.
In these users have zero or one user fetch auth session fail second times.

[2022-03-11 15:46] Jordan-Nelson commented on #465
@mclark4386 can you share the code that resulted in this exception? Thanks.

[2022-03-11 15:46] jack24254029 commented on #1438
Active users of day in my app about thirty (Android and iOS)

[2022-03-11 16:08] Jordan-Nelson commented on #1335
Closing this issue out as it was resolved in 0.4.0. You can see [this comment](https://github.com/aws-amplify/amplify-flutter/issues/1335#issuecomment-1030709770) for a work around that doesn't require upgrading to 0.4.0.

[2022-03-11 16:08] #1335 closed

[2022-03-11 16:33] Jordan-Nelson commented on #1309
The PRs above have been merged into flutter main, and in flutter 2.10.3 the message is more helpful.

[code]

This message could still be a little confusing to a user on Amplify-Flutter, but don't think it is worth trying to catch this just to throw an error with a slightly different message.

Closing this out.

[2022-03-11 16:33] #1309 closed

[2022-03-11 16:40] HuiSF commented on #1451
FWIW, this is a limitation for hasOne relationship cross Amplify libraries, that when associate the model for hasOne relationship, would need to assign the connection ID filed directly (what shown in your first code sample).

I think this limitation will be removed along with the initiative of https://github.com/aws-amplify/amplify-flutter/issues/1449 - better experience on cascade save and delete

[2022-03-11 17:56] willianmascimiano opened #1453 "Amplify Models with two fields."
### Description

I have an schema, and this schema generate a model with Models.

For each @hasOne models the file create two fields, one of them is the Object, and other is a Reference for the same object, but its ID.

_cor and _veiculoCorId / _departamento and _veiculoDepartamentoId / _marca and _veiculoMarcaId .

Have a way to use one field, instead Two?

Other think is, why I cannot insert dat

[2022-03-11 18:14] NepipenkoIgor commented on #1452
@Jordan-Nelson  Hi again. Just checked with google provider everything good . No such behaviour that i described  for Azure.

[2022-03-11 18:30] NepipenkoIgor commented on #1452
@Jordan-Nelson  Also short question for IOS  when i call Amplify.Auth.signInWithWebUI() i always have this confirmation window
<img width="378" alt="Screenshot 2022-03-11 at 20 28 29" src="https://user-images.githubusercontent.com/7725146/157929717-3b3976ce-0c80-4d09-8532-2a2ab6180802.png">

For android no confirm window and this is what i am expect . Could i skip this confirmation for IOS. Maybe

[2022-03-11 20:22] stouvoli opened #1455 "Missing concrete implementations of 'ModelProviderInterface.getModelTypeByModelName'"
### Description

Hello,

How can I solve this issue. I got the error message:

error: Missing concrete implementations of 'ModelProviderInterface.getModelTypeByModelName', 'getter ModelProviderInterface.customTypeSchemas', and 'setter ModelProviderInterface.customTypeSchemas'. (non_abstract_class_inherits_abstract_member at [numappdemo11032022] lib\models\ModelProvider.dart:21)

### Categories

-

[2022-03-11 20:54] Jordan-Nelson commented on #1452
@NepipenkoIgor - You can use [isPreferPrivateSession](https://pub.dev/documentation/amplify_auth_cognito/latest/amplify_auth_cognito/CognitoSignInWithWebUIOptions/isPreferPrivateSession.html) to remove it. Setting this to true will set [prefersEphemeralWebBrowserSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/3237231-prefersephemeralwebbrowserse

[2022-03-11 21:09] Jordan-Nelson commented on #1438
@jack24254029 is `error.message` always the same in the code snippet below? The issue description says, "but sometimes had a exception, like Your session has expired. or Session expired could not fetch user sub".

Are those two separate errors you have seen, and are those the exact messages? Have you seen any others?

[code]

[2022-03-11 21:24] HuiSF commented on #830
Integration tests now runs query predicate with float/double values.

[2022-03-11 21:24] #830 closed

[2022-03-11 21:24] irisk29 commented on #1442
I had to change the code being run. I needed to create the ShoppingBagModel, save it, and then connect the ID of it to the product of the store I wanted to create.
Even though, my intention was to be able to create a product for a store without necessarily creating a shopping bag for the product (for which it needs to belong).

[2022-03-11 21:36] ragingsquirrel3 commented on #1455
@stouvoli I have seen a similar issue related to codegen, especially with older versions of CLI. Do you mind sharing the code for your ModelProvider.dart after having run `amplify codegen models`? From your description seems like you have done this, but double-checking that you ran the codegen command with latest version of the amplify CLI and having successfully run `flutter pub get` in your proj

[2022-03-11 21:53] Jordan-Nelson commented on #1421
@localsecurity-emily - The web app is using Amplify-JS, correct? Did you have to customize Authorization header in the web app similar to what is show here: https://github.com/aws-amplify/amplify-js/issues/4751#issuecomment-613717344?

[2022-03-11 22:12] localsecurity-emily commented on #1421
@Jordan-Nelson, yes, we are using Amplify's Angular library for our web app.
On the web app site of things we do:

[code]

[2022-03-11 22:20] HuiSF commented on #823
OK, thanks for the feedback.
I agree, it's better to make the abstraction not to be leaky (using DataStore has to know about SQLite). I'll see what we can do.

[2022-03-11 23:29] Jordan-Nelson commented on #1421
@localsecurity-emily - Thanks for confirming. I believe you will have to set a similar custom header to get this to work. Adding custom headers to graphql requests is not currently supported by amplify-flutter. There is an open feature request for it. You can give that feature a 👍 to express your interest.

I am going to mark this a feature request for custom claims. I am not sure if other work wi

[2022-03-12 02:15] jack24254029 commented on #1438
I only saw two errors on fetch fail first time and one error on fetch fail second times

[code]

[code]

[2022-03-12 07:12] NepipenkoIgor commented on #1452
@Jordan-Nelson  `isPreferPrivateSession` woks as expected . Thank you.

Also i will wait your feedback about provider signOut behaviour .

[2022-03-12 10:28] stouvoli commented on #1455
C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\numappdemo11032022>aws --version
aws-cli/2.2.18 Python/3.8.8 Windows/10 exe/AMD64 prompt/off

--------------------------------
C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\numappdemo11032022>amplify codegen models

The following types do not have '@auth' enabled. Consider using @auth with @model
         - Todo
Learn

[2022-03-12 12:04] ThewyRogue99 opened #1457 "'ModelSchemaDefinition.addField' function doesn't add fields generated by 'ModelFieldDefinition.hasMany'"
### Description

Schema:

[code]

In this schema i have multiple Vehicles connected to a Controller model. I use `amplify codegen models --maxDepth 5` command to generate models.

Inside Controller class:

[code]
'vehicles' field is added as shown above in Controller class but when i try to create a list query with `ModelQueries.list(Controller.classType)` created document doesn't have 'vehicles'

[2022-03-12 17:36] WalterWoshid commented on #1451
@Jordan-Nelson It does not seem like it. The only `ModelWalletConnection` is for `listWallets` and `syncWallets` in `type Query {}`

@HuiSF Looking forward for the new update :)

[2022-03-12 17:58] mclark4386 commented on #465
It's been ages, but IIRC you basically just use the demo code, but don't add the permissions to the plist.

[2022-03-13 08:56] gianmarcocalbi commented on #760
For the test I did:
[code]

[2022-03-13 10:54] WathikAhmed commented on #180
@Jordan-Nelson Thanks for the answer and the link to the forum 👍

[2022-03-14 09:54] may215 opened #1458 "Ios Amplify.Storage.getUrl Get a presigned URL of a stored file"
### Discussed in https://github.com/aws-amplify/amplify-flutter/discussions/1447

<div type='discussions-op-text'>

<sup>Originally posted by **may215** March  9, 2022</sup>
Hi,
Do you have support presigned URL on ios? On the docs I only see it for javascript.
If so, can you please elaborate?

Thanks</div>

[2022-03-14 13:28] Jordan-Nelson commented on #760
@gianmarcocalbi - Okay, I am not sure what would be different between 5+ minutes and 1 hour. I'll see if I can reproduce this.

[2022-03-14 13:33] Jordan-Nelson commented on #1442
@irisk29 - The schema that you shared only has `ProductModel` and `OnlineStoreModel`. Can you share the schema for `ShoppingBagModel` as well?

[2022-03-14 13:37] irisk29 commented on #1442
[code]

[2022-03-14 13:39] Jordan-Nelson commented on #465
@mclark4386 - What was the auth configuration being used? Were you using Cognito?

[2022-03-14 13:41] #977 closed, assigned to nobody

[2022-03-14 13:46] Jordan-Nelson commented on #933
@ADLsourceCode - Let us know if you have attempted the solution above and are still facing this issue. Thanks.

[2022-03-14 13:47] Jordan-Nelson commented on #1265
@rahul-insight @quirkeer @Sunsiha - Please let us know if you are still experiencing this with amplify-flutter 0.3.2+. Thanks.

[2022-03-14 14:00] Simon-PumpAndUp commented on #410
Hi Folks, I'm strugging implementing a sign up using only the phone number. The following quote from is only about signing in.

I found this method https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cognito-idp/sign-up.html.

So what I understand is that I could use Amplify to create a user, then using cognito API to log in my user. No idea how nor how I should configure my pool fo

[2022-03-14 15:54] Jordan-Nelson commented on #723
Marking this as pending triage because it needs a link to an issue in amplify-ios

[2022-03-14 16:05] Jordan-Nelson commented on #1442
@HuiSF - This looks similar to https://github.com/aws-amplify/amplify-flutter/issues/1451. Does this look like the same issue to you?

[2022-03-14 16:41] HuiSF commented on #1455
- Run `amplify --version` to double check which version was installed
- Run `amplify uninstall -g @aws-amplify/cli` before install the latest version
- Make sure you don't have multiple versions of Amplify CLI installed in your system (e.g. global installation vs project installation)
- Run `npm list -g --depth=1` check the version of amplify-codegen it should be `2.28.0`

[2022-03-14 16:52] HuiSF commented on #1458
Hi @may215 sorry missed your question in the Discussions.
I believe `getUrl` API returns presigned URL of a s3 object. Details please see the discussion in this thread https://github.com/aws-amplify/amplify-flutter/issues/983.

I'm closing this issue, and will follow up in your [Discussion thread](https://github.com/aws-amplify/amplify-flutter/discussions/1447) if you have further questions. Thank

[2022-03-14 16:52] #1458 closed

[2022-03-14 17:39] Jordan-Nelson commented on #441
Hello - It looks like this was addressed in 0.3.0. If you are still facing this issue, please let us know. Otherwise we will close this out.

[2022-03-14 17:58] tegaologe opened #1459 "The tag present in the reparse point buffer is invalid"
### Description

I cannot build, I keep getting - \debug\color: The tag present in the reparse point buffer is invalid.

Does  any have a solution?

Launching lib\main.dart on SM A530W in debug mode...
lib\main.dart:1

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':amplify_auth_cognito:mergeDebugResources'.

/***********************************************

[2022-03-14 18:20] HuiSF commented on #1451
amplify-ios team is looking into a solution as well - https://github.com/aws-amplify/amplify-ios/pull/1676

[2022-03-14 18:53] Jordan-Nelson commented on #845
@fpabl0 - I think this request is similar to #593. It would help to track this request under a single issue. If you feel that this request is different than #593, please let me know. Otherwise, feel free to give 593 a 👍 and leave a comment with your use case. If I do not hear back, I will close this out as a duplicate and use 593 to track this.

[2022-03-14 19:07] stouvoli commented on #1455
C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\numappdemo11032022>amplify --version
7.6.23
The size of this file is suspect, 729MB!
I have run a search on my PC there is only one amplify.exe file.

![image](https://user-images.githubusercontent.com/7300563/158241816-4a56a7d6-fd8f-45d2-bc04-a6173ccc77fb.png)

C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\numappdemo1

[2022-03-14 19:17] HuiSF commented on #1442
Thanks @Jordan-Nelson for the initial triaging.
Hello @irisk29 for reporting this issue. This is actually [a known issue](https://github.com/aws-amplify/amplify-flutter/issues/306) happening in the AppSync transformer:

When a field is used as a Global Secondary Index -
* This field is not used as connection field (like in your schema, `shoppingbagmodelID` is not actually associating the `Bag` mod

[2022-03-14 19:17] #1442 closed

[2022-03-14 19:24] Jordan-Nelson commented on #609
For anyone facing this issue, the current workaround is to ignore `isUpdated`, and use `nextStep` instead. This value will be consistent across platforms.

[2022-03-14 19:31] fpabl0 commented on #845
Hello @Jordan-Nelson, yes, you are right, they are the same. Then, I will close this in favor of #593.

[2022-03-14 19:31] #845 closed

[2022-03-14 19:39] fpabl0 commented on #593
Hello, we are developing an application that also needs this feature, as our application (apart from the normal cognito auth flow) uses other kind of login that is performed in a backend using the cognito admin sdk that returns the cognito access tokens.

`amplify-js` has a function called `setSignInUserSession` that allow to solve this use case, however `amplify-flutter` does not have it. I have

[2022-03-14 19:44] stouvoli commented on #1455
npm uninstall -g @aws-amplify/cli
Is working, unisntall in progress.

[2022-03-14 20:25] Jordan-Nelson commented on #413
@SalahAdDin if you are seeing that in the following assignment
[code]

I believe you just need to cast it to a `CognitoAuthSession` as `fetchAuthSession` returns `AuthSession`.

[code]

The [documentation](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter/) shows this cast as well. I am not sure if this changed at some point in time. Apologies if it did.

[2022-03-14 21:29] stouvoli commented on #1455
amplify uninstalled and reinstalled.
A new project created. I still have the same error message.

`error: Missing concrete implementations of 'ModelProviderInterface.getModelTypeByModelName', 'getter ModelProviderInterface.customTypeSchemas', and 'setter ModelProviderInterface.customTypeSchemas'. (non_abstract_class_inherits_abstract_member at [test14032022] lib\models\ModelProvider.dart:21)`

C:\

[2022-03-14 21:30] Jordan-Nelson commented on #1459
@tegaologe - Do you use OneDrive? This error message was unfamiliar to me, but it appears to be a somewhat common OneDrive error. Here is a thread explaining some possible solutions - https://answers.microsoft.com/en-us/msoffice/forum/all/error-0x80071129-the-tag-present-in-the-reparse/b8011cee-98c5-4c33-ba99-d0eec7c535a0

[2022-03-15 00:47] fjnoyp commented on #1457
Hi @ThewyRogue99 thanks for reaching out to us.

Can you clarify what you said:

So when you run:

[code]

What is the contents of the res object?

[2022-03-15 00:55] fjnoyp commented on #1455
Hi @stouvali sorry you're having these issues.

**tl;dr**

So please do the following:

1) Delete your existing `ModelProvider.dart` file
2) Run amplify codegen models

**Context:**

The `ModelProvider.dart` file you've provided is simply missing implementations for the `customTypeSchemas` field which means your `amplify-codegen` was out of date.

Based on what you've said above it seems you've un

[2022-03-15 01:12] fjnoyp commented on #1453
Hi @williammasciminao

Is there a problem because there are 2 fields instead of one?

When Datastore retrieves your data, nested models are not always included.  So with the "id" field you are able to make a query for the nested model.  The actual type field might not be populated.

For setting the id on aws.com, you should not be manually setting that field - it is auto set via the Amplify client

[2022-03-15 01:36] fjnoyp commented on #1441
Hi @AldrinMathew how are you calling getUrl with `StorageAccessLevel.guest`?

Can you rewrite your code to match the example code we have here - make sure to pass in the `S3GetUrlOptions` with guest access as shown below.
[code]

[2022-03-15 06:52] stouvoli commented on #1455
Hello @fjnoyp

File ModelProvider.dart deleted and amplify codegen models run.
Still the same error message.

C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\test14032022>amplify codegen models

The following types do not have '@auth' enabled. Consider using @auth with @model
         - Todo
Learn more about @auth here: https://docs.amplify.aws/cli-legacy/graphql-transformer/auth

G

[2022-03-15 07:41] willianmascimiano commented on #1453
It's not a problem, but why I cannot insert this value on amplify content manager?

[2022-03-15 09:18] rabi-palmtree commented on #1428
Sorry for the delayed response.

@dnys1 You are right that these calls were being completed successfully.
Our debugging  showed  auto login was going through successfully,
**but as soon as  user attributes were accessed, the device hung.**

For a workaround now,  on iOS only we are forcing User to login every session, and that works.
(On App start we are forcing Amplify.Auth.signOut(), and User  h

[2022-03-15 13:21] Jordan-Nelson commented on #1438
@jack24254029 I am unable to reproduce this. I have run an automated test that attempts to call fetchAuthSession every 5 minutes. If fetchAuthSession fails, sign out / sign in is called, and then fetchAuthSession is called again. All failures of fetchAuthSession are logged. The app I am testing with has session token expiration set to 5 minutes and refresh token expiration set to 60 minutes. I con

[2022-03-15 13:38] jack24254029 commented on #1438
Our case is that when a user had login the app, and did not open the app more than seven days.

[2022-03-15 14:10] Jordan-Nelson commented on #1438
What is the refresh token expiration set to?

[2022-03-15 14:24] ThewyRogue99 commented on #1457
I can clarify it with an example:
[code]
Output:
[code]
As you can see above, `request.document` doesn't contain the field 'vehicles' so when i request data from graphql api, the res object that you asked for its contents contains a Controller object (No errors too) but its 'vehicles' field is set to null so if i try to access it i get `AmplifyCodeGenModelException`.

This is the output that i wan

[2022-03-15 14:52] JoakimMellonn opened #1460 "App crashing when logging in"
### Description

App crashing when signing in with Auth, but only with TestFlight build (not when debugging).

The app is crashing with this error: `AmplifyPlugins: SQLiteStorageEngineAdapter.exists(_:withId:predicate:) + 1140`

I don't have much more to go on, since I can't get this to happen when I'm debugging.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [

[2022-03-15 15:49] stouvoli commented on #1455
I have created another project and this time have followed this other tutorial https://docs.amplify.aws/start/getting-started/generate-model/q/integration/flutter/.

There is no error with the model created, when using "amplify pull --sandboxId ...".

It seems to be a problem with the command "amplify codegen models".

C:\Users\stouvoli\data\Trainings\Exercices\AWS_Amplify\Flutter\numapptest150320

[2022-03-15 15:59] bobekos commented on #1141
Fixed! Thanks

[2022-03-15 16:54] HuiSF commented on #1460
This exception should be thrown from DataStore at a glance.

[2022-03-15 17:41] JoakimMellonn commented on #1460
I have now removed all the DataStore code that is run when signing in, because it was unnecessary. I will see if this continues to be an issue.

[2022-03-15 17:41] #1460 closed

[2022-03-15 18:44] Jordan-Nelson commented on #1440
I'm having a hard time finding the root cause as I cannot reproduce this on a simulator and the debugging session on a physical device will disconnect when wifi is disconnected. I have been able to reproduce this though, so I am going to mark it as a bug.

As a next step, we could look into reproducing this in a native iOS app using amplify-iOS to see if this is an issue with Amplify-iOS.

[2022-03-15 20:54] brunovsiqueira commented on #1271
Just an update: it's happening in both iOS and Android. Also, it is happening a lot. Seems that even reinstalling the app the SessionExpiredException keep being thrown right after signIn.
This issue is highly critical and I think it must be given the properly urgency.

[2022-03-15 21:00] brunovsiqueira commented on #1438
I think the issue my users are having is the same. Seems that it happens in both login/relogin and also in both platforms (Android and iOS).
By looking at out logs, it is happening with several users.
These are the exceptions I see this users are getting:

[code]

[2022-03-15 21:18] vhlnd commented on #410
Hi, @Simon-PumpAndUp, maybe this might help, here is a link to a guide on how to setup backend for phone/sms password-less authentication:  https://itnext.io/passwordless-sms-authentication-backend-9932391c49dc
So for example with the code above, once the backend has been setup, to sign up a user its the same as sign in, since its password-less, only need an email or phone Number to receive OTP, y

[2022-03-15 22:00] brunovsiqueira commented on #1438
Looking at an iOS user specific behavior:
1- User is logging in normally and using our app (I can see by his logs)
2- Following method is called and returns true because SessionExpiredException is thrown:
[code]
3- By determining that session is expired, we call: "await Amplify.Auth.signOut()"  in order to try to signout an user which his session expired.
4- After it user signs in "normally" (with

[2022-03-15 22:12] brunovsiqueira commented on #1271
I think the issue my users are having is the same. Seems that it happens in both login/relogin and also in both platforms (Android and iOS).
By looking at out logs, it is happening with several users.
These are the exceptions I see this users are getting:

[code]

[2022-03-15 22:13] brunovsiqueira commented on #1271
Looking at an iOS user specific behavior:
1- User is logging in normally and using our app (I can see by his logs)
2- Following method is called and returns true because SessionExpiredException is thrown:

[code]
3- By determining that session is expired, we call: "await Amplify.Auth.signOut()" in order to try to signout an user which his session expired.
4- After it user signs in "normally" (with

[2022-03-15 22:15] brunovsiqueira commented on #1438
In android, the behavior changes depending on the user. One thing never changes: user gets SessionExpiredException right after signIn (on iOS seems that he get SignedOutException).
We have some users who got SessionExpiredException even in their first signIn attempts which is really sad.

[2022-03-15 22:15] brunovsiqueira commented on #1271
In android, the behavior changes depending on the user. One thing never changes: user gets SessionExpiredException right after signIn (on iOS seems that he get SignedOutException).
We have some users who got SessionExpiredException even in their first signIn attempts which is really sad.

[2022-03-15 23:33] fjnoyp commented on #1457
Hi @ThewyRogue99 at the moment ModelQuery helper does not load nested data (vehicles within controller in this case)

You can instead create the graphql request as a string and pass it to our API like in the example here:

https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/flutter/#nested-data

[2022-03-15 23:36] fjnoyp commented on #1455
Hmm that is quite strange.  It appears that your `amplify codegen models` command is still generating an old version of the `ModelProvider` class without the required methods.

It sounds like it's working for you now though? @stouvoli

[2022-03-15 23:37] fjnoyp commented on #1453
Inserting an id value manually could cause issues as deduplication logic is based on the id's and certain codeflows run with the assumption that the id field is being set on the client side at a certain point. @willianmascimiano

[2022-03-15 23:54] fjnoyp commented on #1457
Unfortunately for list requests, you'll need to manually decode the response from JSON at the moment.
There is a fix for this that will be included in our next release:  https://github.com/aws-amplify/amplify-flutter/pull/1420

[2022-03-16 00:03] AllenKaplan commented on #299
In our use case, we have the user create an account, and the next screen is to add an invite code

adding the invite code should add them to the `invited` group

but then the next screen needs them to be `invited`, yet they have an old token

since we can't refresh our token, our options are to
1. force user sign out
2. use an alternative method of validating invited

both these options are bad as

[2022-03-16 00:36] willianmascimiano commented on #1453
Fine, was my mistake.

Thanks for the help.

[2022-03-16 01:44] jack24254029 commented on #1438
![image](https://user-images.githubusercontent.com/13265628/158500065-8dd1d0de-9336-4259-a19e-7e2a0970f0a6.png)

[2022-03-16 06:41] ThewyRogue99 commented on #1457
@fjnoyp Thank you for your response, i will pass my own query and decode it for now. I hope it gets fixed in the next release.

[2022-03-16 08:33] stouvoli commented on #1455
Yes I'll move forward without using the command `amplify codegen models`.

[2022-03-16 08:33] #1455 closed

[2022-03-16 09:28] jack24254029 commented on #1438
I add the `Recovery Suggestion` into my log
[code]

[2022-03-16 12:31] brunovsiqueira commented on #1271
Digging deep into the problem, I found out a pattern. The users' devices who gets this problem right after signIn are not being listed in "Device tracking log" even though their events are shown as "Sign-in passed" in "User event history". Look at this user:
![MicrosoftTeams-image (32)](https://user-images.githubusercontent.com/18200284/158589821-edffcfde-fbd1-4600-a012-50bc78bbb716.png)

If you s

[2022-03-16 12:34] brunovsiqueira commented on #1438
Digging deep into the problem, I found out a pattern. The users' devices who gets this problem right after signIn are not being listed in "Device tracking log" even though their events are shown as "Sign-in passed" in "User event history". Look at this user:
![MicrosoftTeams-image (32)](https://user-images.githubusercontent.com/18200284/158590957-e708bb93-84d9-4d00-a1ea-28c6fcea9dad.png)

If you s

[2022-03-16 12:56] Simon-PumpAndUp commented on #410
Thx for your answer @vhlnd ! I deleted my post as I figure it out and then saw you answered it..

Anyway, I can now connect an user and retrieve its accessToken. Is there a way from the token to link it back to the amplify auth library? So when I do Amplify.Auth.fetchAuthSession() I get the user that signed in.

Maybe I don't need to do this. I'm trying to call lambda functions and appsync in my u

[2022-03-16 14:03] Jordan-Nelson commented on #1459
@tegaologe - Let me know if you have had a chance to look at the link above. This error message is not coming from Amplify or Flutter. I think this is a OneDrive issue. Thanks.

[2022-03-16 14:06] tegaologe commented on #1459
Thank you, it was OneDrive causing the issue.

[2022-03-16 14:06] #1459 closed

[2022-03-16 15:08] duck-dev-go commented on #234
+1

[2022-03-16 17:53] brunovsiqueira commented on #1271
Look at a normal user behavior (my user):
![MicrosoftTeams-image (35)](https://user-images.githubusercontent.com/18200284/158654689-2faf1e94-5bbf-4ab0-8fbd-d95b7bb609f4.png)
If you see, every time I make a successful signIn after reinstalling the app, he register my device in the "Device tracking log".

Now look at this user behavior. He said he always uninstall apps for security reasons. He used

[2022-03-16 18:00] dnys1 commented on #1438
Thanks for diving deep, @brunovsiqueira - I will try to reproduce the problem using this information. Apologies for the delay in resolving this issue.

@jack24254029 - does the info @brunovsiqueira shared provide any insight into your problem?

[2022-03-16 18:36] willianmascimiano commented on #1437
After check the documentation I've seen just a sample to the Single Nested Data, its correct?

How can I perform a query with my model list type?

Once I've already load the first data I whant in the same communication retrieve all data I need.

Thanks.

[2022-03-16 19:00] dnys1 commented on #1438
@brunovsiqueira - Can you share your settings for this section?

<img width="1082" alt="Screen Shot 2022-03-16 at 11 59 58 AM" src="https://user-images.githubusercontent.com/24740863/158666704-625050cf-a6c3-461c-baad-269933d8b955.png">

[2022-03-16 19:43] mjwood7 commented on #234
the same old developer life story:
- finally find a worthy solution for cross platform (web, ios, android) development (flutter),
- do a couple flutter hello worlds to gain an understanding
- look for backends to easily integrate flutter application with, delighted to see that amplify has flutter support and tutorials since i'm most familiar with AWS!
- Be delighted that the amplify/flutter tutori

[2022-03-16 19:54] abdallahshaban557 commented on #234
@mjwood7  - We sincerely apologize for any tears shed, we are working on supporting web, and we do not believe it will be years! This is one of our biggest priorities for this year. We definitely feel your frustration, and we cannot wait to turn that frown upside down!

[2022-03-16 20:18] fjnoyp commented on #1457
Thanks for your understanding.  I will update this issue once we release with that fix.

[2022-03-16 20:18] fjnoyp commented on #1441
Hi @AldrinMathew any updates on this new attempt?

[2022-03-16 21:39] djsjr commented on #319
Is anyone finding success with a workaround that's not too difficult to implement as we await this feature? Would like to get push notifications working right away, with the intention of switching to the plugin once it's available.

[2022-03-16 22:19] Sunsiha opened #1461 "How can I avoid app open with option?"
I have two application with same cognito user pool. For example App A is for client and App B is for users. Both have installed on device. So when am trying to login it's showing open with options like the following;
<img width="321" alt="Screenshot 2022-03-15 at 3 48 59 PM" src="https://user-images.githubusercontent.com/27992382/158700079-45e4c0f0-2624-4524-ad5c-13d8d277e120.png">

1. How can I a

[2022-03-17 02:02] jack24254029 commented on #1438
Our case doesn't enable `Device tracking`
![image](https://user-images.githubusercontent.com/13265628/158721740-ecd26fae-2845-4be3-94ef-ae076bb8b302.png)

[2022-03-17 08:27] AldrinMathew commented on #1441
@fjnoyp
We were passing `GetUrlOptions` to get the URL. With an `expires` value of 7200 in some cases and `null` in other cases.
Does the `expires` value should be in seconds or minutes?
Also why is there a `GetUrlOptions` and an `S3GetUrlOptions`?

[2022-03-17 09:03] jack24254029 commented on #1438
New log on Android
[code]

[2022-03-17 16:28] AldrinMathew commented on #1441
@fjnoyp
Just made another deployment with the provided code sample, and the issue persists

[2022-03-17 18:23] brunovsiqueira commented on #1438
@dnys1 here it goes:

![MicrosoftTeams-image (37)](https://user-images.githubusercontent.com/18200284/158864529-582da6d3-551f-4219-b0bf-dd633efb8f25.png)

[2022-03-17 20:47] fisforfaheem commented on #234
Please tell when can we host a flutter web app to was amplfy

[2022-03-18 11:12] rabi-palmtree commented on #1428
We removed the iOS Workaround for forcing Amplify.Aunth.SignOut, and  tried a varity of  login/auto login scenarios, all of which are  currently working.

One difference is that when we faced this issue, we had  a broken APNS2 push notification feature on iOS and now that has fixed.

For now you can close this issue, and we will inform you if this come up again.

[2022-03-18 11:12] #1428 closed

[2022-03-18 14:09] dnys1 commented on #1428
Hi @rabi-palmtree, thanks for letting me know. Please feel free to re-open if you continue to experience the issue.

[2022-03-18 18:11] abdallahshaban557 commented on #319
Hello everyone! The Amplify Flutter team is working on enabling push Notifications, and we are thinking of using AWS Pinpoint. Are there any concerns that you would have with using Pinpoint rather than SNS?

[2022-03-18 18:40] fjnoyp commented on #1461
Hi @Sunsiha can you clarify what you are doing to login - so you're saying by running await `Amplify.Auth.signIn(` you get this "open with" options popup?

Can you share the code for your question 2?  Why are you calling sign out before calling sign in?  For first sign in is this an issue still?

[2022-03-18 18:53] Sunsiha commented on #1461
@fjnoyp If i installed both app in my ph means i will get open with.

If i don't logout before signin sometimes it is showing the following error

[code]

[2022-03-18 19:08] fjnoyp commented on #1441
Hi @AldrinMathew the value is in seconds for expires.
There are 2 options for making our library more flexible.  `S3GetUrlOptions` are Amazon S3 specific options.  Our framework could feasibly work with another cloud provider that isn't S3 which would extend from the base `GetUrlOptions`.

Your issue is quite strange.  As you don't have any log output for iOS it's hard to know what the issue is.

[2022-03-18 19:16] latheeshvmv commented on #319
@abdallahshaban557 Yes, AWS has provided some helpful videos to handle email bounce and complaints with SNS. But there is literally zero documentation on handling these in pinpoint. Just because of this we had to go with SNS. Not sure if relevant. We really liked Pinpoint. Are there any docs? With relevance to flutter apps, for sending transactional emails.

[2022-03-18 19:52] fjnoyp commented on #1461
Hi can you clarify what you were doing before in the UI to get the open
with?

If you get that error a user might be logged in still.  When you get that
error what do you get when you print get current Auth user?

On Fri, Mar 18, 2022 at 7:53 PM Sunisha ***@***.***> wrote:

[2022-03-18 20:25] abdallahshaban557 commented on #319
@latheeshvmv  - that is great to know. Can you please elaborate on email bounce please? We are also considering how email can be used with pinpoint as a channel of communication. Can you also elaborate on transactional emails here?

[2022-03-18 22:08] IreneCoburn commented on #234
Spent days working on integrating amplify into flutter web. Configured amplify, works well. Got 'amplify plugin amplifyauthocognito was not added' exception. Finally found this thread. :(

[2022-03-18 22:37] abdallahshaban557 commented on #234
@fisforfaheem  - we do not have exact timelines yet - but we will communicate them on this issue when we are ready. What are the use cases you are trying to enable for Flutter Web?

@IreneCoburn - we are definitely working on enabling web support! What are the use cases that you are wanting to use from Amplify?

[2022-03-19 00:10] mjwood7 commented on #234
@abdallahshaban557  - mainly looking for cognito for user login and the datastore graphql stuff for storing and retrieving data

[2022-03-19 08:36] ArrowBrown commented on #1371
Hey, I'm also seeing this same error

**Error**
`An error occurred while configuring Amplify: AmplifyException(message: Amplify plugin AmplifyAuthCognito was not added successfully., recoverySuggestion: We currently don't have a recovery suggestion for this exception., underlyingException: MissingPluginException(No implementation found for method addPlugin on channel com.amazonaws.amplify[/auth_co

[2022-03-19 09:54] ArrowBrown commented on #1371
After upgrading the issues looks as if its fixed.

**Amplify Version**
amplify_flutter: ^0.4.1
amplify_auth_cognito: ^0.4.1

[2022-03-19 20:02] Simon-PumpAndUp commented on #410
Yes! Here is how I did this:

Create a user using [this endpoint](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cognito-idp/sign-up.html). Keep the password.

After you verified your user with the OTP, [log it out](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cognito-idp/global-sign-out.html).

Then use Amplify.Auth and the password you used for the user

[2022-03-19 21:54] irisk29 opened #1462 "DataStore locally sync"
### Description

Hello,
I'm developing an app with social login.
When the user is first logged in, I save it in the data store, and want to save only one instance of it.
for that I have the following code:
`List<UserModel> users = await Amplify.DataStore.query(UserModel.classType, where: UserModel.EMAIL.eq(email));

if (users.isEmpty){.....}`

The problem is, when I use a real phone, an iPhone, lo

[2022-03-20 06:00] alrashedf commented on #1443
Request:
[code]

Response:
[code]

[2022-03-20 12:03] mostafasany opened #1463 "Swift Compiler Error (Xcode): Underlying Objective-C module 'amplify_core' not found"
### Description

I've followed all the steps to set up AWS Amplify on Flutter,  I get a series of errors that won't allow me to complete the build on IOS.

Output
[code]

### Categories

- [X] Analytics
- [X] API (REST)
- [X] API (GraphQL)
- [X] Auth
- [X] Authenticator
- [X] DataStore
- [X] Storage

### Steps to Reproduce

1. run `flutter create flutter_first_app`
2. uncomment  ` platform :ios, '

[2022-03-20 20:54] Sunsiha commented on #1461
@fjnoyp Hi can you clarify what you were doing before in the UI to get the open
with? I didn't get this point.

[2022-03-21 01:47] fjnoyp commented on #1462
Hi @irisk29 why does your query call have a queryPredicate `UserModel.EMAIL.eq(email))`?

What is the value of `email` that you are using?

`List users = await Amplify.DataStore.query(UserModel.classType, where: UserModel.EMAIL.eq(email));

[2022-03-21 09:16] irisk29 commented on #1462
Hello @fjnoyp, The users in my system are unique via email (abc@gmail.com for example)

[2022-03-21 10:49] julius-stuemmler commented on #1461
The error message overall can be fixed with checking `(await Amplify.Auth.fetchAuthSession()).isSignedIn`. If you check this condition before trying to sign in, you can handle if the user is still logged in or not. If he is signedIn, you can fetch the user (`await Amplify.Auth.getCurrentUser();`). Otherwise you can try to signin the user again.

Unfortunately for your other problem I cannot help y

[2022-03-21 15:03] janmiderback opened #1464 "Amplify.Auth.fetchAuthSession() should throw SessionUnavailableOfflineException?"
### Description

https://github.com/aws-amplify/amplify-flutter/blob/main/packages/auth/amplify_auth_cognito_android/android/src/main/kotlin/com/amazonaws/amplify/amplify_auth_cognito/AuthErrorHandler.kt

states,
[code]

Why is not `SessionUnavailableOfflineException` handed back to the Flutter side?
In our app, we have a valid refresh token, but expired access and id tokens. When the device is of

[2022-03-21 16:02] abdallahshaban557 commented on #1371
Perfect! Thank you for the confirmation @ArrowBrown.

@michaeljajou - we will close this issue for now!

[2022-03-21 16:02] #1371 closed

[2022-03-21 18:05] abdallahshaban557 commented on #319
@julius-stuemmler  - thank you for the details on your use case! What are examples of custom content that you would like to use? And understood on the multiple-triggers and linking them!

[2022-03-21 19:06] Jordan-Nelson commented on #441
Closing the issue out. Feel free to open another issue if you are still facing a problem.

[2022-03-21 19:06] #441 closed

[2022-03-21 19:06] Jordan-Nelson commented on #180
Closing this out. If you feel like there is a use case for this, please feel free to open another issue.

[2022-03-21 19:06] #180 closed

[2022-03-21 19:07] Jordan-Nelson commented on #546
Closing out the issue. Feel free to open a new issue if you are still facing this.

[2022-03-21 19:07] #546 closed

[2022-03-21 19:07] Jordan-Nelson commented on #933
@ADLsourceCode - I am going to close this out. If you are still facing this issue, please feel free to open a new issue.

[2022-03-21 19:07] #933 closed

[2022-03-21 19:08] Jordan-Nelson commented on #1090
@rahul-insight - I am going to close this out since we have not heard back for some time. Please feel free to open a new issue if you are still facing this.

[2022-03-21 19:08] #1090 closed

[2022-03-21 19:09] #1091 closed

[2022-03-21 19:51] julius-stuemmler commented on #319
@abdallahshaban557 e.g. it could be images, personalized messages (including name, dates etc.).
additionally templates would be great. So just create a kind of template with some predefined content (e.g.) and customize with data like mentioned. Specific use-case for that would be: I want to wish my user a happy birthday. The notification should contain message "Hey Abdallah, happy birthday! Have a

[2022-03-21 19:57] Jordan-Nelson commented on #1464
@janmiderback - Thanks for taking the time to open the issue. Can you take a look at https://github.com/aws-amplify/amplify-flutter/issues/760 and let me know if the behavior described is the same/similar to the behavior you are seeing? This sounds like it may be a duplicate of that issue.

[2022-03-21 21:52] fjnoyp commented on #1463
Hi @mostafasany can you try running `flutter clean` and then deploying again to iOS?

I am unable to reproduce your issue.

Out of curiosity, if you start a blank flutter project and pull in those same dependencies - do you get the same Swift compiler error?

[2022-03-21 22:09] HuiSF commented on #936
Hi @martinzuccotti you can safely ignore this error.
Thanks!

[2022-03-21 22:18] mostafasany commented on #1463
@fjnoyp  I tried flutter clean and doesn't help, the project was newly created
I attached the sample project, it contains nothing except adding amplify dependencies
[code]
[flutter_first_app.zip](https://github.com/aws-amplify/amplify-flutter/files/8319533/flutter_first_app.zip)

[2022-03-21 22:59] HuiSF commented on #848
Fix has been released, need to verify if still reproducible.

[2022-03-21 23:00] fjnoyp commented on #1461
Thank you @julius-struemmler for your solution to the error message.  @sunsiha does his solution fix your issue?

Regarding the open with window, what are you doing on your phone (what buttons are you clicking on which app do you have open etc) to get that screen you mentioned:

![image](https://user-images.githubusercontent.com/11478656/159376883-1d9a07c1-2be2-4e6b-b7eb-63061b769d70.png)

[2022-03-21 23:07] fjnoyp commented on #1462
Okay, thanks @irisk29 why does your query call have a queryPredicate: `UserModel.EMAIL.eq(email))?`

If you are deleting the app, how is this email field being stored and retrieved then?

In more detail:

Then when I delete the app and run it again on my phone, this code detects that there are 0 users in the data store and therefore, inserts the user again.

Your code uses a queryPredicate for ema

[2022-03-21 23:27] abdallahshaban557 commented on #319
@julius-stuemmler  - That makes a ton of sense, and that is a feature we are considering - that is why I wanted to dig in a bit on your use case! We do not have an exact timeline yet, but we will communicate it here when it is possible to do so.

@djsjr - Got it! We are also exploring segmentation with Notifications - we believe it is extremely critical for personalizing your notifications!

[2022-03-21 23:29] fjnoyp commented on #1463
Hi @mostafasany I think you had an old iPhone deployment target that was not compatible with certain parts of the iOS code.
Deleting your `Podfile.lock` and then deleting the following line of code in your Podfile fixed the issue for me:

![image](https://user-images.githubusercontent.com/11478656/159379426-376e5be9-44af-490f-89c6-056a84c8ed61.png)

[2022-03-21 23:30] fjnoyp commented on #1463
@mostafasany I assume this was added automatically for you?  Can you tell me how you created the project - did you just follow standard creation procedures?

[2022-03-22 00:12] Sunsiha commented on #1461
I need to try this solution. Will let you know.
Regarding the open with window, This is happening only in Android.  When I click on signin in button am getting this. I have two apps with same cognito aws configuration. But both is using for different purpose. If I installed both the application in my device am getting such kind of window. Like after hitting the signin in api.

Is it is happening b

[2022-03-22 07:31] janmiderback commented on #1464
@Jordan-Nelson - Thanks for the quick response. Yes, it seems to be a duplicate. I guess the key here is that there is valid refresh token available but no network to actually refresh the access/id tokens. Cheers.

[2022-03-22 08:00] irisk29 commented on #1462
After deleting the app in the phone for a fresh run (but the user data is still in the DataStore),
When a user logs in to the app, I retrieve the user’a information using the query I specified before
`List users = await Amplify.DataStore.query(UserModel.classType, where: UserModel.EMAIL.eq(email)); `

when email is it’s login email (using social login)
When the app is deleted the local data is del

[2022-03-22 09:10] nguyenthangngoc opened #1466 "Unable to sync gradle project"
### Description

I tried to sync gradle project but it show error like below:
[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [ ] Android

### Environment

[code]

### Dependencies

[code]

### Device

Android S

[2022-03-22 14:10] brunovsiqueira commented on #1438
@dnys1 any updates on this?

[2022-03-22 15:00] dnys1 commented on #1438
Hi @brunovsiqueira - I haven't been able to reproduce it yet. I've tried to trigger this using Android and iOS emulators and physical devices, signing in, signing out, reinstalling the app, etc. Everything has been working correctly so far - devices are re-registered on reinstall and no sign in attempts have been blocked yet.

[2022-03-22 15:01] dnys1 commented on #1438
One thing I noticed is that your user has sign ins from Web - does that mean you are using Amplify JS in a web app as well?

[2022-03-22 16:41] zamar3 opened #1467 "Amplify Api does not return all query results (GraphQL)"
### Description

I am accessing my database via API and I have noticed that when I query the database from my flutter app, I don't get all the desired query results. When I try to query with same parameters on the Amplify Admin console, I get all results. I have also tried to access data through datastore and it comes out fine. I only have issue when I decide to use API. There is a particular quer

[2022-03-22 16:43] IreneCoburn commented on #234
@abdallahshaban557 we need social sign up / sign in; also we have already registered users, they also should be able to sign in. We have AWS already, it would be great to implement the sign in functionality with cognito. Amplify cognito is our choice #1: it is elegant, easy to use, etc. The only problem is it doesn't support web, and our app must work on web and mobile; web is #1 priority.

[2022-03-22 16:55] abdallahshaban557 commented on #234
@IreneCoburn  - understood! That is excellent to hear! Auth is our shortest term goal for supporting Flutter Web! Are you using any other categories from Amplify?

[2022-03-22 17:18] IreneCoburn commented on #234
@abdallahshaban557 not yet, but we will if the feature will work for us. I am from Aira, we are working directly with (probably) your team. When are you planing to implement auth for web with amplify?

[2022-03-22 17:26] nthyssen commented on #1391
i am having the same error and  has observed the samme issue that is, when the phone screen is locked or the app is in the background. Any updates on it?

flutter: ApiException(message: Subscription item event failed with error, recoverySuggestion: , underlyingException: The operation couldn’t be completed. (AppSyncRealTimeClient.ConnectionProviderError error 3.))

[2022-03-22 18:03] cshfang commented on #1467
Hi @zamar3. Thanks for reporting this and sharing some of this initial context. Would it be possible for you to share with us a minimal set of model schemas in which this behavior is reproducible? Without knowing more about your use case, I think it will be really difficult to replicate on our end with more-or-less "happy-case" models.

One of the things that jumps out at me is perhaps somehow dif

[2022-03-22 18:12] cshfang commented on #1466
Hi @nguyenthangngoc, thanks for reporting this and sharing some initial context. When running `flutter doctor` at the command prompt, are there any reported issues?

It appears that you are running into this fairly early on in your workflow but it would be helpful to know exactly what steps are leading to it. Could you please share some minimal reproduction steps for this issue if possible?

[2022-03-22 18:47] abdallahshaban557 commented on #234
@IreneCoburn  - I believe you are working with another team. I will reach out to setup sometime to understand your use case a bit more! We do not have solid timelines to share yet, but we will communicate them here when we do!

@vgribok  - are you using any other Amplify categories?

[2022-03-22 19:20] vgribok commented on #234
I use Amplify Auth.

[2022-03-22 19:23] IreneCoburn commented on #234
@abdallahshaban557 Thank you! We can schedule a meeting any time that works for you.

[2022-03-22 19:39] djorgji opened #1470 "Amplify Datastore clear not working in iOS"
### Description

Data not clearing when running `clear()` on Datastore. The authenticator properly shows the login screen again on logout, however login again, if a different users still shows old users data, based on sync expressions the new users data is the only data syncing the old users data stays stale.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Au

[2022-03-22 19:48] HuiSF commented on #1470
Hello @djorgji thank for opening this issue.

**TL;DR**

If you are going to invoke `Amplify.DataStore.clear()`, you don't need to invoke `Amplify.DataStore.stop()` before that.

**Context**

There is a known issue that `Amplify.DataStore.clear` doesn't actually work when the underlying DataStore sync engine is stopped (could be stopped by invoking `Amplify.DataStore.stop()`) in amplify-ios. Ampli

[2022-03-22 20:20] djorgji commented on #1470
Workaround worked, thanks!

[2022-03-22 20:20] #1470 closed

[2022-03-22 21:01] zamar3 commented on #1467
[code]

Above is the affected model schema

[2022-03-22 21:05] zamar3 commented on #1467
[code]

amplifyconfiguration.dart

[2022-03-23 00:45] #1464 closed

[2022-03-23 00:47] fjnoyp commented on #1462
How are you able to retrieve the user's data in DataStore if you are using a queryPredicate though?  In your code you use `where: UserModel.Email.eq(email)`

List users = await Amplify.DataStore.query(UserModel.classType, where: UserModel.EMAIL.eq(email));

[2022-03-23 00:59] abdallahshaban557 commented on #234
@IreneCoburn  - can you please me email me at awshaban@amazon.com so that we can coordinate a time for our conversation?

[2022-03-23 06:05] mithunkavullakandiyil opened #1472 "Auth Get Device Details API"
Currently, in Amplify Auth Library, three APIs available which are related to devices. ((void)rememberDevice, (void)forgetDevice and (list)fetchDevices).
There is no way to identify the current device from the devices list returned by fetchDevices API method.

Need a API to get the current device.

[2022-03-23 16:59] abdallahshaban557 commented on #1472
Hi @mithunkavullakandiyil  - thank you for submitting this feature request! Can you please elaborate a bit more on this use case?

[2022-03-23 17:14] irisk29 commented on #1462
using this query `List users = await Amplify.DataStore.query(UserModel.classType, where: UserModel.EMAIL.eq(email));`
I'm retrieving all the users (there should be only 1) that have the given email. I'm retrieving a list of User Model which contains all the user's data that is stores.

[2022-03-23 18:37] stevegaunt opened #1473 "amplify storage upload/download can cause this exception erminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Sending a message before the FlutterEngine has been run"
### Description

It has been seen uploading a file to s3 via amplify storage can cause this exception

Incident Identifier: EA26800D-025C-403D-A6B3-1CDCA002D01C
CrashReporter Key:   e31e65e22bf98b6dc89ec45d77604dbf4933a50a
Hardware Model:      iPhone12,5
Process:         Yepic [22843]
Path:            /private/var/containers/Bundle/Application/D1618E93-2CAD-46A2-954D-2D6A0A8FE109/Yepic.app/Yepic
I

[2022-03-23 19:13] irisk29 commented on #1462
Also, I thought maybe to use this  [https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/flutter/#outboxmutationprocessed](url) but the HubEventPayload does not contain any fields.
For example, in the link, we have the `hubEvent.payload.active` example, this line does not complie.

[2022-03-23 19:54] filippomenchini commented on #1419
Hi! Do you have an idea on when this fix should be released? Thanks!

[2022-03-23 20:19] brunovsiqueira commented on #1438
That's correct: we have a Flutter App and a React web App.

@dnys1 can you try change you client and refresh token to the minimum available and try to reproduce again?

[2022-03-23 22:45] cshfang commented on #1467
Hi @zamar3 I was able to create a project with the model in question and add them via a sample Flutter application e.g.
[code]
as well as list them via my sample app
[code]
or through AWS AppSync:
[code]
At this time, I think the straight forward path appears to be in working order

[2022-03-24 06:15] fdarsot commented on #1206
@HuiSF @offlineprogrammer hi there, was wondering if there was any progress to this feature request? any timelines, etc. thank you

[2022-03-24 10:21] zamar3 commented on #1467
[code]

Above is the code for building query. I added the data with the code below.

[code]

[2022-03-24 12:59] AldrinMathew commented on #1441
@fjnoyp
### 1
[code]

### 2
Yes, the `AmplifyAuthCognito` and `AmplifyStorageS3` plugins are already added before configuration

### 3
Why should it conflict to begin with? These are entirely different packages and services. Also, why is it conflicting only on iOS devices?

**I think there might be a dependency for the iOS libraries for the Amplify package that is causing the issue. Also does the

[2022-03-24 14:50] dnys1 commented on #1438
Yeah, lemme try that. Thanks 👍

[2022-03-24 17:00] androidshashi opened #1475 "Getting SessionExpiredException as soon as user sign in. fetchAuthSession is throuwing SessionExpiredException in iOS only."
### Description

When trying to fetch auth session, using Amplify.Auth.fetchAuthSession method throwing SessionExpiredException.

Access token has 1 day and Refresh token has 30 day validity.

Here is the snippet:
Future<CognitoAuthSession?> fetchAuthSession() async {
    print('Calling fetchAuthSession');
    try {
      CognitoAuthSession res = await (Amplify.Auth.fetchAuthSession(
          opt

[2022-03-24 17:04] androidshashi commented on #1475
Hi @androidshivam could you please let use know how you fixed SessionExpiredException. A little help is also appreciated. Thanks in advance.

[2022-03-24 17:48] abdallahshaban557 commented on #1206
Hi @fdarsot , we are not prioritizing this feature request in the short term, and we do not currently have timelines to share. Did you try the recommendation provided above by @HuiSF ?

[2022-03-24 18:47] ragingsquirrel3 commented on #1419
Just released w 0.4.2

[2022-03-24 18:47] #1419 closed

[2022-03-24 18:47] HuiSF commented on #1370
The fix for this issue has been release with version [0.4.2](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.4.2).

I'm closing this issue now, please feel free to follow up if anything. Thanks!

[2022-03-24 18:47] #1370 closed

[2022-03-24 18:49] HuiSF commented on #1470
With the latest release of [0.4.2](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.4.2), consecutively calling `DataStore.stop()`, `DataStore.clear()` in iOS, the clear functionality should work as expected.

But still, no need to call `DataStore.stop()`, `DataStore.clear()` is going to be called.

[2022-03-24 19:15] cshfang commented on #1467
Hmm, I tried the snippet provided for creation mutations and was able to add 40 `IndividualRecipee` entries with a hardcoded `mealTemplateIDNumber` as `"c5224c80-a9ef-11ec-a382-5fff6fdaeeae"`
[code]
Then, using the snipped provided for querying, I was able to list them out with the predicate
[code]
as my `where` clause.
[code]
I apologize for the churn but so far, everything seems pretty straightf

[2022-03-24 21:13] cshfang commented on #1475
@androidshashi thanks for reporting this. Can please help me with a few things to start with?
1. Can please clarify for me that you've confirmed this does not happen with Android?
2. Did you create your Cognito backend resources via the Amplify CLI (i.e. `$ amplify add auth`)?
3. Would it be possible to share with me a bit more of your code snippet above to include the sign in which is happening j

[2022-03-24 23:29] ragingsquirrel3 commented on #816
While this issue is not technically resolved, there is a change in 0.4.2 that should help. While model helpers like `ModelQueries.list()` pre-generate a list request with no children, you can include some metadata on a custom list request (even one that's deeply nested) and the result will be correctly typed with children so you don't need to touch the `fromJson()` at all. Here is an example with

[2022-03-25 00:29] dnys1 commented on #1438
You mention reducing the refresh token duration as well - how low have you set it? If the refresh token expires, then the expected behavior is to expire the session completely, which I've been able to reproduce. In the case where just the access token has expired, I haven't yet been able to reproduce it.

[2022-03-25 03:49] OLTApp commented on #816
Thanks ! this helps a lot to keep the original model, now I can use both DataStore.Subscription and API. Once we have the nested model support for hasMany, hasOne etc, data store will be in a solid position for lot of use cases.

[2022-03-25 07:51] androidshashi commented on #1475
1. Can please clarify for me that you've confirmed this does not happen with Android?
Yes, this is not happening with android. Its working fine in android.

Did you create your Cognito backend resources via the Amplify CLI (i.e. $ amplify add auth)?
aws-cli/2.3.6

3. Would it be possible to share with me a bit more of your code snippet above to include the sign in which is happening just before th

[2022-03-25 12:04] fjnoyp commented on #1457
Hi @ThewyRogue99 we made a new release `0.4.2` which contains this fix.

[2022-03-25 12:05] #1457 closed

[2022-03-25 12:56] Jordan-Nelson commented on #1475
@cshfang fyi this looks similar to https://github.com/aws-amplify/amplify-flutter/issues/1438

[2022-03-25 14:10] brunovsiqueira commented on #1438
I have set to the minimum possible: access 10 min, refresh 1 hours. When these were my app client configurations, this error was happening a lot.

Then I reverted it app client tokens configurations to access 1 hour and refresh 24 hours and it seems to be gone or happening a lot less.

When I was investigating it I found out a big delay (more than 10 minutes, my access token expiration) between th

[2022-03-25 16:52] brunovsiqueira commented on #1438
Yeah, that's totally true. What I think is strange is the fact that user just signed in and in his first try to refresh its access token (I deduced it is first try because it happens right  -sequentially- after  signIn) gets SessionExpired.

[2022-03-25 19:31] mclark4386 commented on #465
IIRC, yes, I was using Cognito. Sorry I can't give more info. Was almost a full year ago.

[2022-03-25 19:37] teddyfl commented on #234
@abdallahshaban557 I'm Teddy from Weev Energy. We also cant wait for Amplify Auth integration with Flutter Web. Any ETA?

[2022-03-25 20:13] abdallahshaban557 commented on #234
Hi @teddyfl ! We do not have exact timelines yet - but I would love to get a better understanding of your use case, and what other features you are using from Amplify. Can you email me at awshaban@amazon.com so that we can coordinate time to chat?

[2022-03-25 20:14] teddyfl commented on #234
Already did :-)

On Fri, 25 Mar 2022 at 11:13 PM Abdallah Shaban ***@***.***>
wrote:

--
*Teddy Flatau*
CEO, Weev Energy
+972-54-7769449 | ***@***.***

[2022-03-25 22:11] ragingsquirrel3 commented on #1473
I had a look at this and still haven't found root cause. I also could not reproduce it. I looked a similar issues in other repos, like this one in flutter https://github.com/flutter/flutter/issues/96901 which seem to suggest the app might be in the background or somehow inactive so that flutter engine was not running when the transfer progress events hit an error. Some of the stack trace mentions

[2022-03-25 23:23] ragingsquirrel3 commented on #1437
I posted some info about that on another thread https://github.com/aws-amplify/amplify-flutter/issues/816#issuecomment-1078480074, and there is some more documentation on paginated results on https://docs.amplify.aws/lib/graphqlapi/query-data/q/platform/flutter/#list-items. I hope this helps, going to close this issue as I believe it's working as expected.

[2022-03-25 23:23] #1437 closed

[2022-03-26 03:44] androidshashi commented on #1475
@Jordan-Nelson the error is similar but in #1438 the user is able to sign in and able to use that app while in my case(iOS only) user gets sign out as soon as he/she signs in.

[2022-03-27 07:50] ken-ng-esotec commented on #401
To overcome this issue, do global sign out so that the browser redirect is skipped.

      final SignOutResult res = await Amplify.Auth.signOut(
        options: const SignOutOptions(globalSignOut: true),
      );

[2022-03-27 09:21] Rayv1 opened #1479 "DataStore.stop or DataStore.clear may interrupt DataStore.start"
### Description

Hi,

iam trying to use datastore but cant get **Selective Sync** to work.
I want to change my userId / sub to logged-in users id. Additionally if would add an updateAt Sort Key, which is not inside Code yet.

  Here is my Code:

[code]

I Checked my Appsync Cloudwatch Logs and cant see any new sync or query action after my changeSync Method. I guess iam just missing some code or s

[2022-03-27 14:23] mostafasany commented on #1463
@fjnoyp  it turns out a conflicting problem with other dependency `quickblox_sdk`, for some reason each dependency works only without the other, I will close because it doesn't seem problem in amplify-sdk , mean while if you would like to check the conflicting issue just  add `quickblox_sdk: ^0.6.5-beta` to dependencies and if you found out a solution please let me know

[2022-03-27 14:23] #1463 closed

[2022-03-28 13:44] guplem opened #1480 "Generated model doesn't allow setting null value with copyWith constructor"
### Description

I have optional fields in my Amplify's tables.

They start as null. And I can set a value using my Android app.

However, I cannot update/remove that value to become null again after it has been set to a non-null value.
Instead, it simply won't change.

This is pretty annoying... and broke some of my design...

You can see what, I think, is the same issue in Amplify's Android SDK:

[2022-03-28 14:10] julius-stuemmler opened #1481 "Flutter Amplify Storage FILE UPLOAD does not work - Upload never completes, no output, no error message"
### Description

Hey guys, I want to use Amplify for my app, but the problem is, that I cannot upload any file to amplify s3 storage.
I can get a public url etc., but only uploading is not working.

I'm using the default example from amplify docs: [example](https://pastebin.com/XfKjH0S2)

Not working means, that the future never completes. If I execute the upload, the future never finishes, so I'm

[2022-03-28 14:58] OLTApp opened #1482 "GraphQL API Subscription onCreate with Filter option"
Use case :  Able to filter the subscription for onCreate mutation.

Example: I would like subscription to fire for onCreate only if the user id matches the current app user. In my case the subscription is for in app notification based on the other user actions. But only when that action make sense to the current user, the app needs to respond. With out the filter option for all create mutation for

[2022-03-28 17:01] HuiSF commented on #1479
Hi @Rayv1 thanks for reporting this issue.

Regarding your `changeSync` function implementation -
You invoked query right after `Amplify.DataStore.start()`. At this moment, the data sync may be in still progress, where the `query` may return empty result as the data hasn't been written into local DB. To get around of this you have two options:

* Start querying when Amplify Hub emits DataStore `re

[2022-03-28 17:05] HuiSF commented on #1480
Hey @guplem thanks for reporting this issue.
Can you share the model schema that contains the nullable/optional field you mentioned?

[2022-03-28 17:10] HuiSF commented on #1481
Hi @julius-stuemmler thanks for reporting this issue.
Were you able to collect Android logs around when you were calling the `uploadFile` API to help triaging this issue?

[2022-03-28 17:15] julius-stuemmler commented on #1481
@HuiSF Hey, Do you have any resource, to see how can I do that? Thanks

[2022-03-28 17:17] HuiSF commented on #1481
You can use [Android Studio](https://developer.android.com/studio/debug) to run the App, and view logs in the debug view.

[2022-03-28 17:36] julius-stuemmler commented on #1481
Ah I see, here are the logs, if I push the button: https://pastebin.com/GKLnvu2x
Messages from Debug window, when I restart the app: https://pastebin.com/qMppNUe3

So new question is, why does it say, that the Plugin is not configured?

[2022-03-28 17:42] julius-stuemmler commented on #1481
Ah I see, here are the logs, if I push the button: https://pastebin.com/GKLnvu2x
Full log (incl. pushing a button): https://pastebin.com/P9U4EBKY
Messages from Debug window, when I do a hotrestart: https://pastebin.com/qMppNUe3

So new question is, why does it say, that the Plugin is not configured?

[2022-03-28 19:37] HuiSF commented on #1481
Can you paste the code snippet to add and configure Amplify plugins? Did you `await` for `Amplify.addPlugin` and `Amplify.configure` before invoke Storage plugin APIs?

[2022-03-28 21:08] HuiSF commented on #1480
Hi @guplem thanks for providing the info. I built a minimal App in Android platform to replicate similar situation using below schema

[code]

Dart code
[code]

After execution, the final update that resetting `description` to `null` was working as expected.

The underlying GraphQL network request and response looked correct as well.
<img width="501" alt="image" src="https://user-images.githubuser

[2022-03-28 21:37] HuiSF commented on #1479
Update re:

I created an App to replicate @Rayv1 provide steps.
I noticed that **consecutively** invoking `DataStore.clear()` and `DataStore.start()`, may cause an issue.

* `DataStore.clear()` starts DataStore clearing process, this process is asynchronous
* `DataStore.start()` instructs DataStore to start API sync, and this process is asynchronous

It may happen that, when the sync engine starts

[2022-03-28 22:29] HuiSF commented on #1479
Did a thorough testing in both Android and iOS platforms.  Above mentioned issue is not reproducible in iOS. Looking at the source code of amplify-android of the [`stop` API](https://github.com/aws-amplify/amplify-android/blob/main/aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java#L310-L318) and [`clear` API](https://github.com/aws-amplify/amplify-android/blob/main

[2022-03-28 22:36] HuiSF commented on #1481
And regarding the exception in the 3rd link, please take a look at this [document](https://docs.amplify.aws/start/getting-started/integrate/q/integration/flutter/#using-flutter-hot-reload-and-hot-restart) regarding how to use Amplify with Flutter hot reload and hot restart.

[2022-03-29 06:41] julius-stuemmler commented on #1481
https://pastebin.com/iXbABGDS

[2022-03-29 06:45] Rayv1 commented on #1479
HI @HuiSF

thanks for your research on my issue.

Thats exactly what i saw on my Tests and thought its an issue on my site.

A brief feedback for Datastore:
It seems like there is still much work to do on Amplify datastore and not useful for my app or larger apps. I plan with ~15000 Entries in Datastore , consisting of 15 different types / models and for me it seems that datastore is not ready for

[2022-03-29 09:51] adamjramirez opened #1483 "Custom Authorization with GraphQL"
I have followed the docs for using a 3rd party OIDC provider for GraphQL authorization.

My function successfully returns me my token
[code]
on `configureAmplify` I've added the the custom authProvider like so:

[code]

I've added this when configuring Amplify and can confirm that the custom `getLatestAuthToken` function it is being hit while debugging.

Once I have the token, I proceed to execute

[2022-03-29 10:53] adamjramirez commented on #1483
I'm just seeing that the `AuthTokenURLRequestInterceptor` is being called.
My goal is to pass in the authToken via `getLatestAuthToken`.

I have switched the authorizationType in my amplifyConfiguration to `NONE` but now it doesn't try to get the token from `getLatestAuthToken`

How can I bypass the `AuthTokenURLRequestInterceptor`?

[2022-03-29 13:11] pieterbergmans commented on #234
@abdallahshaban557 Desperately wanting Amplify Auth integration with Flutter Web. Any ETA? Even a rough estimate would be great: Q2, 2022....Q3, 2022, etc.

[2022-03-29 13:16] pieterbergmans commented on #133
Desperately wanting Amplify Auth integration with Flutter Desktop (Windows, Mac). Any ETA? Even a rough estimate would be great: Q2, 2022....Q3, 2022, etc.

[2022-03-29 15:19] abdallahshaban557 commented on #234
Hi @pieterbergmans  - We do not have an exact timeline, but when we do, we will provide an update on this ticket!

[2022-03-29 16:00] HuiSF commented on #1479
Thanks for the write up @Rayv1 with details and your thoughts.

Unfortunenatly, this is not currently supported by DataStore, you are welcome to open a feature request for this.
There is a workaround is that to use the `delete` API to delete the record that you want to clear.

The `syncExpression` is being re-evaluated every time when DataStore subscription event comes. Which will behave as a clie

[2022-03-29 16:12] dnys1 commented on #1483
Also, there are currently issues with using Cognito as an OIDC provider, unfortunately. So even if you're able to get this part working, you may run into troubles beyond that:

- https://github.com/aws-amplify/amplify-ios/issues/1467
- https://github.com/aws-amplify/amplify-android/issues/1535

[2022-03-29 21:34] tejatummuru opened #1484 "error running amplify codegen models (issue with schema.graphql hasmany?)"
### Description

running `amplify codegen models` gets me this error

[code]

my schema.graphql looks like
[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

1. run `amplify codegen models`

### Screenshots

![image](https://user-images.githubusercontent.com/73395626/160709850-f8a01112-7

[2022-03-29 22:07] HuiSF commented on #1484
This is an amplify-codegen issue, I will transfer to [amplify-codegen](https://github.com/aws-amplify/amplify-codegen/) for further triaging.

[2022-03-30 06:31] Washoo commented on #530
Using the sign in with  social identity providers keeps showing the pop-up.

[2022-03-30 07:46] adamjramirez commented on #1483
@dnys1 Adding in a print statement confirms that the token is in fact available in my custom `getLatestAuthToken` function. Not null and no exceptions. However, I can't trace that return back to the parent (the getter for `authToken` in `auth_token.dart`).

[code]

Since I can't see the token output there, I'm assuming there is an exception though not visible in the custom `getLatestAuthToken`

I

[2022-03-30 08:26] tr-asimpson opened #1486 "ModelMutation.delete not working for custom primary keys"
### Description

Hi,

I am attempting to delete an item using the GraphQL helpers as below. It seems this was previously working in 4.0.0

[code]

This is the response

[code]

This is the model

[code]

I have attached the compiled schema.

[schema.zip](https://github.com/aws-amplify/amplify-flutter/files/8376687/schema.zip)

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
-

[2022-03-30 10:14] julius-stuemmler commented on #1481
main.dart: testbase: https://pastebin.com/d1YvAVCM
debug log: https://pastebin.com/grzxiWLZ

[2022-03-30 12:02] inv-sarathk opened #1487 "Custom header not reaching the gateway"
### Description

When I try to add a header authorization through amplify api package i am getting an error response 401 with a message unauthorized on the api call. When I checked on the backend the header is not reaching there.
This is the code I tried :

`try {
      RestOptions options =
          const RestOptions(path: '/test', headers: {'Authorization': 'token'});
      RestOperation restOp

[2022-03-30 15:47] HuiSF commented on #1486
Thanks @tr-asimpson  for reporting this issue.

Observing the attached compiled GraphQL schema, we can see this input type:

[code]

The CLI GraphQL transformer seems honor the custom PK settings `@key(fields: ["key"])`, where the `id` fields is not the primary key.

Currently amplify-codegen and amplify-flutter don't fully support custom primary key. I will investigate this feature gap, and also

[2022-03-30 15:53] ragingsquirrel3 commented on #1482
I believe this is possible currently using a custom subscription. There are some amplify documents about it, although we do not currently have a flutter example available https://docs.amplify.aws/guides/api-graphql/subscriptions-by-id/q/platform/android/.

[2022-03-30 17:45] HuiSF commented on #1486
Hi @tr-asimpson I did some digging, unfortunately, that should be case that amplify-codegen and amplify-flutter (amplify-ios and amplify-flutter, the dependencies of amplify-fluter) have never fully supported custom primary key.

With the current implementation of all platform libraries, it always assumes `id` field is the primary key, therefore when you do
[code]
It internally generates a GraphQL

[2022-03-30 17:55] HuiSF commented on #1487
Hello @Sarath222K thanks for reporting this issue.

A quick follow up here, can you share the `awsAPIPlugin` section in `amplifyconfiguration.dart`?

[2022-03-30 18:04] HuiSF commented on #1451
This is a known feature gap between model relationship support, which will be resolved with https://github.com/aws-amplify/amplify-flutter/issues/1449.
Closing this issue as a duplicate and we will post updates in the linked issue. Please feel free to follow up on the main feature request issue. Thanks.

[2022-03-30 18:04] #1451 closed

[2022-03-30 21:44] cshfang commented on #1467
Hi @zamar3 - Just wanted to check in with you on this. Are you still experiencing this issue?

[2022-03-30 22:42] tr-asimpson commented on #1486
Thankyou @HuiSF I have implemented the manual GraphQL doc for now.

Appreciate the help and all the work you and the team put into this amazing plugin!

Thanks.

[2022-03-30 22:49] HuiSF commented on #1486
Glad to hear @tr-asimpson
I'm going to close this issue in favor of https://github.com/aws-amplify/amplify-flutter/issues/1426 please feel free to follow up, and if you have any specific use cases with custom primary key, please post in the linked issue. Thanks!

[2022-03-30 22:49] #1486 closed

[2022-03-31 00:30] tr-asimpson commented on #1426
Use case for using Custom PK.

We have a BLE device that has its own identifier which cannot be changed for security reasons. This along with some other information is sent to a Lambda function which then searches for the device "key" in DynamoDB and updates via AppSync.

I did not want to have to send the generated "ID" as this means id have to then store it on flash (Limited space) and add it to

[2022-03-31 04:03] Sarath222K commented on #1487
Yeah sure,

`const amplifyconfig = ''' {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                “Test”: {
                    "endpointType": "GraphQL",
                    "endpoint": "https://XXXXXXXXXXXXXX.appsync-api.ap-northeast-1.amazonaws.com/graphql",
                    "region": "ap-northeast-1",

[2022-03-31 11:09] sstadtl opened #1489 "Documentation wrong: Auth User attributes userAttributeKey"
The docs here are wrong:
[https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter/#update-user-attribute](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter/#update-user-attribute)
"AuthUserAttribute(userAttributeKey:" does not accept a String, but "CognitoUserAttributeKey" static members

[code]

[2022-03-31 11:30] androidshashi commented on #1475
This was only occurring on iOS simulators that comes with xcode bydefault. When tested on browser stack it worked like charm. I guess some issue was there with iOS simulators. Thanks.

[2022-03-31 11:30] #1475 closed

[2022-03-31 12:13] JoakimMellonn commented on #1350
I have finally come around to update my backend, to use AppSync and Graphql to update the elements. But even after this, it isn't updated in the frontend without using DataStore.clear()...
Right now I'm lost for ideas as to why this happens.

I'm using the AWSAppSyncClient inside a Lambda function to update the element, and I can see in real time that it's working. To see that it's working, I'm bo

[2022-03-31 14:16] hnguyenworkstation opened #1490 "DataStore - Relational Models Data are not synced to the Cloud (DynamoDB)"
### Description

I have an issue when saving data of a relational model is not synced to the cloud. All the data appears to be saved/worked as expected locally, but not synced to the cloud (doesn't appear in the DynamoDB table nor Content Tab in Amplify Studio)

The relation I have is:

[code]

The code executed:

[code]

After this point, there is a profile object saved without any exception and

[2022-03-31 16:42] dfourcfive commented on #898
@HuiSF  i have relational models exmaple user have many pets and pet belongs to user
so if i try to return all fields i'll end up in unlimited cycle , i have tried to not do that but it doesn't work
it only works in simple use cases , please investigate more

[2022-03-31 17:23] HuiSF commented on #898
Hi @dfourcfive you mean you have to list all fields in the selection set as an infinite cycle?
In general you don't need to list nested fields for `@hasOne` and `@hasMany` nested model fields, but only `@belongsTo`.

E.g. this schema

[code]

When mutate post. the selection set should be
[code]
Note that in the `blog` section, you don't need to include `posts`.

[2022-03-31 17:23] HuiSF commented on #1350
Hi @JoakimMellonn there is a known issue cross Amplify platform libraries, that GraphQL subscription and mutation selection set is incompatible cross platform. Hence, in most cases, iOS cannot receive real time update via GraphQL subscription internally maintained by DataStore from events triggered by mutations made with other platform libraries.

I think your workaround may resolve this issue whi

[2022-03-31 17:37] dfourcfive commented on #898
@HuiSF [HuiSF](https://github.com/HuiSF) my mutation works but in the event gets treated as Unhandled DataStoreHubEvent

[2022-03-31 17:39] HuiSF commented on #1490
Hi @hnguyenworkstation thanks for opening this issue.
Your schema looks good to me, and I can't think of a reason the save wouldn't work.

I may need some help from you to triage this issue.

1. Using Xcode to open your Flutter/ios project, you can do this by open the `Runner.xcworkspace` file
2. Run the App in Xcode and watch the logs to observe if the API sync is correctly started (otherwise Dat

[2022-03-31 17:50] dfourcfive commented on #898
in the mobile side (flutter android) I am observing a user model  (using the observe method)
and i have a django app which trigger an update mutation , the mutation works
when i do mutation on simple model and return all fields i get the event but now since my model have relations (hasMany and hasOne) it doesn't get received in with the observe method
[code]

[2022-03-31 18:19] HuiSF commented on #1487
Hi @Sarath222K thanks for provide the info.

Looking at your amplify configuration, your REST API uses `IAM` as authorization strategy.

[code]

According to the [document](https://docs.amplify.aws/lib/restapi/authz/q/platform/flutter/#:~:text=you%20can%20use.-,IAM%20Authorization,-By%20default%2C%20the) when using `IAM` the credential should be automatically attached to request headers according

[2022-03-31 18:26] HuiSF commented on #898
You can ignore
[code]
When this event gets emitted, it means the DataStore has received a subscription event, and correctly reconsolidate the remote data into the local DB.

Looking at the logs, you should be testing in Android? When you mutate models with associated models, you don't see `subscriptionDataProcessed` at all? Do you see any error logs?

[2022-03-31 18:31] HuiSF commented on #1350
Yes @JoakimMellonn that's correct, glad you find this information. `_version` is required as when an API is used for DataStore, `_version` is a required field of a model.

What I meant is that if you have doubt, you can always check what fields are require in AppSync console by viewing the schema, e.g.

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/10602282/161125265

[2022-03-31 18:37] JoakimMellonn commented on #1350
Okay, then I understand! The reason then for my to run into this problem, was that I used the "Queries" tab to make the mutation model. In there the only one that is required (indicated by the *), is the id field. That is a little unintuitive, but it doesn't matter for me now, I found the solution quite quickly!
Anyways, thank you for the help, I will be looking forward to a fix to my other proble

[2022-03-31 18:41] HuiSF commented on #1350
Glad to hear @JoakimMellonn . I will close this issue as a duplicate of #663 Please feel free to follow up if anything! Thanks.

[2022-03-31 18:41] #1350 closed

[2022-03-31 18:50] hnguyenworkstation commented on #1490
Hey @HuiSF, Thanks for your response. I was able to capture the following logs, this sequence happens right after the `await` is completed.

[code]

[2022-03-31 18:52] HuiSF commented on #1490
Ok, hum so the API sync is working correctly.
@hnguyenworkstation can you paste the full logs around executing `await Amplify.DataStore.save(profile);`?

[2022-03-31 18:55] hnguyenworkstation commented on #1490
Sure, the future is

[code]

and the only log I got was

[code]

[2022-03-31 19:02] HuiSF commented on #1489
Thanks for reporting this issue.
The fix has been merged, and the documentation should be updated momentarily.

[2022-03-31 19:42] bhargavAtgithub opened #1491 "NotAuthorizedException after submitting OTP"
### Description

Using Amplify-Flutter to create OTP authentication flow.

Generate amplifyConfiguration.dart file
Wrote 4 lambdas
- Pre sign up
- Create Challenge
- Define Challenge
- Verify Auth challenge

Successfully I was able to send OTP using Amplify.Auth.signUp with a phone number and dummy password, triggers pre-signUp lambda which auto confirms user, email and phone number.
Then by using

[2022-03-31 20:11] HuiSF commented on #1490
Hi @hnguyenworkstation  so I created a small sample App using the schema you provided, I can save a new `Profile` model (with the relationship) and the data was synced to cloud without issues.

Looking at your previous comments, you haven't seen `[RemoteSyncEngine] Successfully finished sync` in the logs? That implies there might be something went wrong during the base sync.

Looking at you `Vehic

[2022-03-31 20:51] HuiSF commented on #898
Hey @dfourcfive why don't you open a new issue attaching your model schema, code example, and description what you are trying to achieve. I have a hard time to visualize your use case. Thanks :)

[2022-03-31 21:07] dfourcfive opened #1492 "Observe or Observe Query don't receive live events on a model"
### Description

i'm trying to listen to changes on the user model whenever it gets changed from another client app(django) using an update mutation , this is the observe function in my flutter app
[code]
 and this is the mutation that trigger from the Django app

[code]

this is my schema
[code]

when i do mutation on simple model and return all fields i get the event but now since my model have

[2022-03-31 21:29] HuiSF commented on #1492
Thanks @dfourcfive for opening this issue.

Could you also provide below info?

* the compiled GraphQL schema (you can find this file under `<your-flutter-project-root>/amplify/backend/api/<your-api-name/build/schema.graphql>`)

[2022-03-31 21:52] hnguyenworkstation commented on #1490
I don't think so, the fact that I was never able to create a profile with relations so the vehicle associated with it never get pushed into the Database as well, and it works locally as well. Let me try deleting the table and creating again by `amplify push`, that might be something messing in the DynamoDB

[2022-03-31 22:35] HuiSF commented on #1492
I noticed you defined custom subscription in the schema. And this piece of information got picked up by AppSync GraphQL transformer and correctly deployed to the cloud. I believe you will see some similar as below in your AppSync schema:

[code]

In your code example you are invoking `mutation onUpdateUserPublic`.

However, DataStore currently supports only subscriptions that are directly derived

[2022-03-31 22:42] HuiSF commented on #1490
Better to use Amplify CLI operating the resources.
You can try to save the schema, and delete the `api` and re-add it.

[2022-03-31 22:55] hnguyenworkstation commented on #1490
@HuiSF  it works now 👍  Yup, that's what I did.

[code]

I think it was the database was having some issues, It would still be great to discover what went wrong with the database before because dropping a database is expensive. Probably more exceptions if the `primary/foreignKey` does not match, but that's out of scope for this ticket. Thanks for debugging to help me.

[2022-03-31 22:55] #1490 closed

[2022-03-31 23:03] HuiSF commented on #1462
Hello @irisk29 I'm trying to follow up on this issue, and understand your use case.

From what I read, you are trying to achieve this:
1. Install the App, sign in, write a `UserModel` into DataStore, and sync it to cloud
2. Delete the App and reinstall the App
3. You are expecting DataStore syncs the models that were created and synced in step 1 to be in the local DB, so you can check against the

[2022-04-01 08:42] guplem commented on #1480
Okay, I did some further testing. I do not understand why it works for you but not for me.

I managed to reset a String to "null".

First, I tried this (didn't work):

`  Future<void> _saveSettings() async {
    if (userData == null) {
      return;
    }

    String username = _usernameController.text;

    try {
      UserData newUserData = userData!.copyWith(username: username.isNotEmpty ? user

[2022-04-01 08:44] Sarath222K commented on #1487
we have configured our backend rest api with "authorizationType": "AMAZON_COGNITO_USER_POOLS", but our configuration(amplifyconfiguration.dart) file is not getting updated even after 'amplify pull', the authorizarion type is still IAM user as above

[2022-04-01 08:53] guplem commented on #1480
Can you try fetching the data before reuploading it by restarting the app?

I can reproduce the issue following these steps:
1. Open app
2. Fetch username (should be null, 1st time)
3. Upload something as username (this should work)
4. Close app
5. Open app
6. Fetch username (now it should have some value)
7. Try to save a null value as username modifying (data.copyWith) the fetched data
8. The va

[2022-04-01 09:15] jack24254029 commented on #416
How can I get file without prefix?

[2022-04-01 10:25] dfourcfive commented on #1492
i should note that i have tried also the default onUpdateUser and got the same result

the compiled GraphQL schema

[code]

[2022-04-01 10:33] #1492 closed

[2022-04-01 11:02] KolesnikValentine commented on #1391
Same issue here, can trigger it by backgrounding the app for 30-60 seconds, or simply by turning off connection (I get the exception when I turn it back on). After that onData of the subscription never fires, unless I resubscribe.

Tested on:
iOS 15.4
amplify_api: 0.4.2

[2022-04-01 15:13] HuiSF commented on #1487
[The document](https://docs.amplify.aws/lib/restapi/authz/q/platform/flutter/#cognito-user-pool-authorization) suggests that a manual change is required to apply cognito user pool auth to REST API. Have you tried these steps?

[2022-04-01 15:44] HuiSF commented on #1480
Hi @guplem appreciate the details. And you are right, setting `null` to a field has had non-null value is impossible with the `copyWith` named constructor due to the implementation:

[code]
It always ignore `null` value, if the copy source object has non-null value for a field.
Considering `description` is nullable defined in schema, I think we can tweak the implementation. I will sync up with amp

[2022-04-01 17:21] HuiSF commented on #1440
Hi @d95sld95 sorry for the delayed follow up.

I did some testing following your steps, here are my observations:

**Scenario 1**
* Condition
  - Run App with DataStore when the device was online
  - Then turn off next work
  - Save 3 models say Todo1, Todo2 and Todo3
* Observation
  - DataStore saved all 3 models into local DB
  - DataStore pushed all 3 models into mutationOutBox
  - DataStore in

[2022-04-01 18:42] brunovsiqueira commented on #1042
No, I haven't been able to reproduce it and it's been a longe time since I saw the last log with this Exception. If it happens again I'll let you guys know.

[2022-04-02 00:30] ugill123 commented on #1239
Hi, @HuiSF I am facing this issue on the oppo f1s(API 22) physical device.
I tested my app on Samsung s21(in released mode)  and Nexus 5 emulator and it works fine.
dependencies I am using:
  amplify_flutter: ^0.4.0
  amplify_datastore: ^0.4.0
  amplify_api: ^0.4.0
  amplify_auth_cognito: ^0.4.0

[2022-04-03 03:56] skim037 opened #1497 "GraphQL mutation from Lambda doesn't trigger StreamSubscription event"
### Description

I have a Lambda trigger setup to trigger lambda when new `Work` item is added in DDB.

I have a workflow like this.
1. MyApp subscribes to `WorkInProgress` DDB stream
[code]
[code]
2. MyApp writes `WorkInProgress` record in DDB.  `itemStream.listen` properly catches this update and processes it.
[code]
3. MyApp writes a Work record in DDB which triggers lambda properly.
4. Lambda

[2022-04-03 05:03] skim037 commented on #1497
I found that I have to update mutation statements to return all fields.

[2022-04-03 05:03] #1497 closed

[2022-04-04 05:33] kaushal-simplify-tech commented on #1449
@HuiSF any update on this issue. have you got any solutions?

[2022-04-04 13:07] ahmad-olu commented on #295
@Amplifiyer the link does not exist anymore.

[2022-04-04 13:56] Jordan-Nelson commented on #1438
@jack24254029 - Are you able to tell if the user attempted to sign in after this? Since the refresh token is set to 30 days, the user will have to re-authenticate with a username and password after 30 days. So in this case, this may be expected behavior.

[2022-04-04 16:09] cshfang commented on #1467
Going to close this issue as it was not readily reproducible with a new app created with the provided info. Please feel free to reopen this issue with new information if it persists.

[2022-04-04 16:09] #1467 closed

[2022-04-04 20:52] ugill123 commented on #1239
yes, I tested my app on Samsung s21 in release mode and Nexus 5 emulator in debug mode, and it works fine. In the case of Oppo f1s(API 22), the app is crashed in both debug and release mode.

[2022-04-04 22:49] dnys1 commented on #815
This feature is available in preview as `0.4.4-rc.1`. To make use of it, pass in `authModeStrategy: AuthModeStrategy.multiAuth` to the constructor of the DataStore plugin.

[2022-04-04 23:46] dnys1 commented on #1042
Thanks for the update @brunovsiqueira. I'm closing this ticket for the time being as we're unable to reproduce it and don't have enough context to investigate further. Please feel free to re-open as needed.

[2022-04-04 23:46] #1042 closed

[2022-04-05 00:32] HuiSF commented on #1239
Hello @ugill123 @nimisharanipabacancy

Sorry for the delayed response. I think I've identified the root cause that the DataStore implementation of amplify-android uses a few APIs that are only available on Android API 24+. E.g. [the spot](https://github.com/aws-amplify/amplify-android/blob/880a182814514f9bce2c914ced44756f8af52f40/aws-datastore/src/main/java/com/amplifyframework/datastore/syncengin

[2022-04-05 00:51] HuiSF commented on #1443
Hi @alrashedf sorry for the delayed response.

Looking at the compiled GraphQL schema for the model `Order`:

[code]

both timestamp fields `createdAt` and `updatedAt` are required. You may need to include these two fields in the selection set as well if you want to deliver subscription events to DataStore from mutation made by API. e.g.

[code]

To sum up, at present, using API to operate on Data

[2022-04-05 12:28] smvicky opened #1501 "DataStoreException{message=Initial sync during DataStore initialization failed., cause=io.reactivex.rxjava3.exceptions.CompositeException: 2 exceptions occurred."
### Description

Getting following Exception on Amplify.Datastore.Start()

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [X] Android

### Environment

[code]

### Dependencies

[code]

### Device

All Android

[2022-04-05 14:30] irisk29 commented on #1462
Hello @HuiSF ,
Thank you very much for your detailed answer, that helped me a lot!

[2022-04-05 14:36] haverchuck commented on #1491
Issue resolved via Discord.

[2022-04-05 14:36] #1491 closed

[2022-04-05 15:13] Jordan-Nelson opened #1502 "Support passing the correct type to the `.contains()` Query Predicate for List types"
### Description
The `.contains()` Query Predicate fully supports types `String` and `List<String>`. See examples below.

[code]

The `.contains()` predicate sort of supports other List types, although the API is a bit odd and it is not really clear if this should work. The `.contains()` operator requires a `String`, even for Lists that contain non-string types.  See examples below.

[code]

A more

[2022-04-05 19:58] crawford-jake opened #1504 "FlutterJNI was detached from native C++"
### Description

When I configure Amplify using a custom FunctionAuthProvider, the method channel fails to call getLatestAuthToken when the app state changes. This does not occur for api authorizations that do not use the FunctionAuthProvider class. Seemingly because the method channel call in FlutterAuthProvider.kt is avoided.

When the app reopens from a state change ```Tried to send a platform

[2022-04-05 20:26] haverchuck commented on #1504
@crawford-jake Thanks for submitting this - we are taking a look.

[2022-04-05 20:52] dnys1 commented on #1504
I can reproduce on Flutter stable and master. Related Flutter issue: https://github.com/flutter/flutter/issues/28651

[2022-04-05 20:54] irisk29 opened #1506 "Deleted Items Still Saved In DynamoDB After Delete Action Using DataStore"
### Description

Hello,
The scenario that I'm trying to do is:
1. Create Model A [let's say it as ID X]
2. Save ID=X in a variable
3. Delete model A
4. Create new Instance Of model A but assign to it the ID=X that is saved in step 2

the model from step 4 is not saved in the cloud.
I'm suspecting it is because in the dynamoDB the deleted items are still saved but with _deleted=true and because thi

[2022-04-05 22:56] haverchuck commented on #1506
@irisk29 I am not 100% certain, but I believe this is so that Datastore sync can differentiate a local model on a device that must be deleted from one which was newly created and must be synced back up to the cloud.

In any case, I am marking this as a feature request.

[2022-04-06 01:01] jack24254029 commented on #1438
Yes, the user can sign in after this.

[2022-04-06 12:08] julius-stuemmler commented on #1481
Hey, I seems to work again. The strange part is, that I haven't touched the code for a few days and now it's working again. So I cannot present any solution for it. Thanks for your effort.

[2022-04-06 15:09] haverchuck commented on #1504
@crawford-jake We are in the midst of reviewing/testing a fix.

[2022-04-06 19:01] crawford-jake commented on #1504
@haverchuck Thank you!

[2022-04-06 21:31] atomicalsoftwares commented on #1131
I'm still facing this issue.

Has any solution or work around been made available?

[2022-04-06 21:57] HuiSF commented on #1131
Hi @atomicalsoftwares can you try to set you Android App `minSdkVersion` and  `compileSdkVersion` to 26 and see if it works?

It looks like amplify-android uses java.time API which is available only in Android API level 26+

[2022-04-06 22:07] HuiSF commented on #1506
Hi @irisk29 re deleting a record from DynamoDB in DataStore context.

* With DataStore, deleting a record is "soft" deletion - meaning it's not removing the record from DynamoDB right away as the data is distributed, your other end user Apps need to sync this "deleted" information
* If you observe DynamoDB table, the deleted records has a TTL setting, after TTL indicated time elapsed, the record w

[2022-04-06 23:27] haverchuck commented on #1504
@crawford-jake Can you please give version 0.4.4 a try?

[2022-04-07 08:05] 7agustibm commented on #1297
Hi @haverchuck! I see you have a PR. Can you help?

[2022-04-07 09:46] zamar3 opened #1512 "Can't build apps after I updated my amplify packages from version 0.4.1 to 0.4.4"
### Description

My apps were working fine until yesterday when I tried to update my amplify packages. I was formerly using version 0.4.1, I updated to version 0.4.3 and I stated having issues. I reverted to 0.4.1 and it builds without errors but when I try any version from 0.4.2 upwards , it returns error below.

Swift Compiler Error (Xcode): Definition conflicts with previous value
[/Users/mac/d

[2022-04-07 09:55] ebo8 opened #1513 "AuthUser username returned as email address on Android"
We're using Cognito User Pools. Signing in with username and email address is both enabled.

1. Sign in with email address
2. Run the following code block:
` AuthUser user = await Amplify.Auth.getCurrentUser();`
`    return user.username;`
3. Expected behaviour is to return the user's username
4. Android returns the email address, iOS returns the username as expected

[2022-04-07 11:23] Jordan-Nelson commented on #1513
Hello @ebo8 - I believe this issue is the same as #201. Can you take a look at #201 and see if that matches the behavior you are experiencing?

[2022-04-07 11:41] zamar3 opened #1514 "Datastore and API plugin not updating database fields."
### Description

I have noticed a certain behaviour in my database operations. If I try to update a field in my database which does not currently have a value, the operation completes and the data is saved. If I try to update the same field I just updated, It will complete without showing errors but the data will not be saved.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
-

[2022-04-07 12:02] irisk29 opened #1515 "Remember Device after social login not working"
### Description

Hello,
I want to allow only one sign in for user in my app, I found here [https://github.com/aws-amplify/amplify-flutter/issues/1206](url)
a suggested solution to use the RememberDevice feature.

The user logged in and then I wanted to remember the device but I encountered an error:
`flutter: Remember device failed with error: DeviceNotTrackedException(message: This device does no

[2022-04-07 12:03] irisk29 commented on #1506
Hello @HuiSF ,
Thank you for your answer, indeed this is a bad practice, I just simplified the case that I need to the core problem.

[2022-04-07 12:03] #1506 closed

[2022-04-07 12:33] ebo8 commented on #1513
Thank you @Jordan-Nelson for the reply. I'll close this and post in #201.

[2022-04-07 12:33] #1513 closed

[2022-04-07 12:37] ebo8 commented on #201
I'd like to know this as well.

Currently on iOS you can get the user's username with:

`AuthUser user = await Amplify.Auth.getCurrentUser();`
`return user.username;`

But on Android it returns the email address if the user signed in with email.

[2022-04-07 13:24] crawford-jake commented on #1504
@haverchuck It's working great on Amplify 0.4.4 with flutter stable 2.10.4. I want to give our QA team a chance to test this in our app. Following that i'll close the issue. Thank you for the quick fix! You guys rock :)

[2022-04-07 16:15] HuiSF commented on #1512
Have you tried `flutter clean` after upgrading packages?

[2022-04-07 16:29] HuiSF commented on #1514
Can you provide code examples that you performed the series of operations described in this issue?

[2022-04-07 18:01] haverchuck commented on #1515
@irisk29 This is [not currently supported,](https://docs.amplify.aws/lib/auth/device_features/q/platform/flutter/#configure-auth-category) due to a [Cognito](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-device-tracking.html) limitation that device tracking functionality can only be used in tandem with the USER_SRP_AUTH flow.

[2022-04-07 18:20] irisk29 commented on #1515
@haverchuck in amplifyconfiguration under Auth I have this set: `"authenticationFlowType": "USER_SRP_AUTH"`
Is this not enough?

If not, are you aware of any other solution that I can use?

[2022-04-07 18:55] crawford-jake commented on #1504
@haverchuck It's working great, thanks so much again!
I just had a quick note about the 2 second timeout in FlutterAuthProvider.swift/kt. When we launch the app we setup some streams and queries. However on a cache miss or the token expires, the server takes longer than two seconds to deliver the request. So for example if the token is delivered in 2.1 seconds Amplify will throw and doesn't retry.

[2022-04-07 19:34] haverchuck commented on #1515
@irisk29 If you want to do device tracking, I believe you would have to use the signIn APIs.  We have a prebuilt UI component for these called the [Authenticator](https://ui.docs.amplify.aws/components/authenticator?platform=flutter). However, in either case you would not be able to use device tracking with social provider logins.

[2022-04-07 20:10] haverchuck commented on #1504
@crawford-jake We can bump that timeout threshhold for now, until we decide on a way to make it configurable. Would that be helpful?

[2022-04-07 20:32] crawford-jake commented on #1504
@haverchuck Yep, that would be great.

[2022-04-08 04:21] nallibtermatrac commented on #740
I am facing this problem too.
No clue to solve this.
I am reviewing the client id, region and other... the same !

[2022-04-08 05:43] smvicky commented on #1501
Hi @HuiSF This issue is only for Android devices, Datastore sync works properly on the iOS devices. So, this could be the issue with the plugin, please check the logs I have provided.
I'm expecting quick resolution on this issue as we are stuck to rollout Android due to this issue.

[2022-04-08 07:57] zamar3 commented on #1512
I have done that

[2022-04-08 15:24] zamar3 commented on #1514
[code]

Using API plugin, I made use of code above

[code]

Using datastore I made use of above code

[2022-04-08 16:11] haverchuck commented on #1514
@zamar3 Did you set up the backend with the Amplify CLI, and if so, did you enable conflict resolution?

[2022-04-08 16:13] haverchuck commented on #1504
@crawford-jake Ok, we will make this change soon. I'll keep this issue open to track it.

[2022-04-08 16:17] haverchuck commented on #1487
@Sarath222K Have you tried the steps @HuiSF referenced above?

[2022-04-08 16:58] haverchuck commented on #1512
@zamar3 I tried building an app using amplify-flutter 0.4.1, then upgraded to 0.4.4 and was not able to reproduce this. I've noticed that you're using an older version of XCode. There could possibly be an issue with Swift versions at play. Are you able to try upgrading XCode?

[2022-04-08 18:56] haverchuck commented on #1501
@smvicky Do you know how many records from your DB should be syncing on this initial sync?

[2022-04-08 19:13] gpanshu commented on #1501
Can you please also paste the code snippet how you are calling the datastore sync ? In the exception I see that it should be executed on the main thread.

[2022-04-09 11:11] guplem opened #1518 "Case-sensitive inconsistent for queries"
### Description

If you do a query using "contains" it is case-sensitive (and cannot be reconfigured to be case-insensitive).
But using "beginsWith" it is not case-sensitive (but it can't be reconfigured either).
Note: I found [an issue](https://github.com/aws-amplify/amplify-flutter/issues/1159) related to weird behaviour with "beginsWith".

I was expecting a way to configure the case sensitivity

[2022-04-09 12:00] Jordan-Nelson commented on #1518
Hello @guplem - Thanks for opening the issue. There are some known inconsistencies in case sensitivity in the string related query predicates (contains, beginsWith).

It might make sense to track these under one issue, but as you noted, #1159 is specific to beginsWith. I can update it next week to cover the broader set of issues around case insensitivity.

This may not help for your use case, but

[2022-04-09 12:26] oferardi commented on #234
Hi
  Amplify is great but without having support for flutter web and desktop i can't use it. The basic capabilities are auth and datastore/sync.

The main advantage of flutter that it's cross platform (Mobile , web and desktop).

Amplify currently it's making g flutter to be uni platform for mobile only.

In the current situation I need to use flutter for mobile and use different front-end for web

[2022-04-09 18:55] abdallahshaban557 commented on #234
@oferardi - we absolutely agree with you - the whole point of using Flutter is the benefit of being truly cross platform. That is why supporting Web and Desktop are the top priority item for our roadmap this year. We will provide updates on timelines on this issue when we have them.

[2022-04-09 20:11] markpearl commented on #234
When are we going to have those timelines? All of the messages the past 6
months has been the exact same on the timelines.

When are these timelines going to be announced?

On Sat, Apr 9, 2022 at 2:55 PM Abdallah Shaban ***@***.***>
wrote:

[2022-04-09 20:50] oferardi commented on #234
Thank you
It's really important to know the timeliness when you will know..

[2022-04-09 21:12] teddyfl commented on #234
*When are we going to have those timelines? All of the messages the past 6
months has been the exact same on the timelines. When are these timelines
going to be announced?*

I'd like to echo everyone's frustration of the lack of transparency from
the AWS team. This is highly discouraging.

On Sat, Apr 9, 2022 at 11:50 PM oferardi ***@***.***> wrote:

[2022-04-09 22:52] hachirokoo commented on #234
I am waiting for this too! Go Amplify team and make everyone waiting for it to go "it was worth the wait!"

[2022-04-09 22:54] hachirokoo commented on #133
I am waiting for this too.

[2022-04-10 07:20] guplem commented on #1518
Okay, thank you very much.

More flexibility in general while doing query and saving data would be great (lists, matching options like case sensitivity, accents, ...). Right now, it is one of the major constrains in my development process.

Additionally, the methods "eq", "ne", "gt", ... why do they have those names? Shouldn't they be self-explanatory?

[2022-04-10 16:50] oferardi commented on #234
hi, @abdallahshaban557 any estimation for the middle of the year or later ?
is there is any whey to find some temporary solution for flutter web authentication ? as for datastore can i use JSON ?
thanks

[2022-04-10 19:46] mjwood7 commented on #234
Just use firebase for now

[2022-04-11 04:43] abdallahshaban557 commented on #133
@pieterbergmans @hachirokoo - we do not have an exact timing at this time, but supporting web and desktop for Flutter is our highest priority for this year. We will share our estimates for timelines when we have them.

[2022-04-11 05:07] Sarath222K commented on #1487
Tried, but app is crashing after manually changing the configuration to "authorizationType": "AMAZON_COGNITO_USER_POOLS" inside awsconfiguration.dart file .

[2022-04-11 05:08] Sarath222K commented on #1487
Tried but the app is crashing

[2022-04-11 08:22] jamesblasco commented on #1391
We are having the same problem with our app. We need to manually resubscribe again.

@dnys1 Regarding:

Why is this error normal? Could we have a better and more specific Exception for this error so at least we can catch it and handle it accordingly?

[2022-04-11 09:19] zamar3 commented on #1514
I setup the backend with Amplify CLI but this was about 7 months ago and I can't remember the conflict resolution method I chose, is there anyway to check it? I am using API Keys for authorization.

[2022-04-11 10:39] liu731 commented on #1006
+1 This is very important feature.

[2022-04-11 15:02] abdallahshaban557 commented on #1006
@liu731  - can you please elaborate on what your use cases are for PubSub?

[2022-04-11 15:38] haverchuck commented on #1514
@zamar3 Are you sure your API keys haven't expired? You should be able to check that in the AppSync console.

You can see both the conflict resolution strategy as well as the expiration period for your API Keys in `amplify/backend/api/{project}/cli-inputs.json`.

[2022-04-11 19:12] haverchuck commented on #1512
@zamar3 One of our dependency libraries is working on a fix which will hopefully address this. We will release a new version once our dependency has released their new version.

[2022-04-12 11:56] zamar3 commented on #1514
[code]

[2022-04-12 11:59] zamar3 commented on #1512
Ok.. I do hope to see the updates soon as this issue is delaying our deployment.

[2022-04-12 21:09] djorgji commented on #1501
@haverchuck The underlying dynamo DB has a lot of records (millions), however the specific model that is throwing the error has a sync expression that should cause it to never receive any records to sync, as there is no way in datastore to make it selectively syncing some tables, or how to prioritize the sync. The work around we came up with looks like this:
[code]
The above sync workaround the fe

[2022-04-12 21:21] crawford-jake commented on #1504
@haverchuck We found another issue similar to above. Using the same steps as above, change the query in the ExampleAmplifyCall to a stream. Then on **iOS** open the app, verify the stream established successfully, move the app to the background (don't close, just open another app), and after some time return to the example app.

This gives us the following error: ` Error in subscription stream: Ap

[2022-04-12 22:35] dnys1 commented on #1391
Might be related to this: https://github.com/aws-amplify/amplify-flutter/issues/1504

We will continue investigating. Sorry for the inconvenience.

[2022-04-12 22:57] hachirokoo commented on #133
@abdallahshaban557 Thanks for your confirmation. I am sure knowing the roadmap will help other devs / companies planning their choice of tools for their Flutter app as it did for my case. Keep us posted. Cheers.

[2022-04-12 22:58] abdallahshaban557 commented on #133
@hachirokoo - we absolutely agree with that! Thank you for sharing your feedback - and we will keep you posted over this GH issue!

[2022-04-13 10:11] Rayv1 opened #1524 "Query with updatedAt / createdAt fields with DataStore"
Hi,

i try to query the timestamps updatedAt / createdAt with DataStore, so i added them as Fields, so that i can query them with Datastore, as otherwise they were not present.

Schema:
[code]
Query:
[code]

I dont want to manage them by myself and dont want to mutate or delete them, but rather query them.
From my understanding they are set by the backend (appsync) automatically, right?

My Issue

[2022-04-13 19:14] haverchuck commented on #1512
@zamar3 Will you plese try version 0.4.5 of amplify-flutter?

[2022-04-13 19:15] haverchuck commented on #1504
@crawford-jake We've updated the timeout you called out previously in version 0.4.5.

[2022-04-13 19:24] HuiSF commented on #1524
Hello @Rayv1 thanks for inquiring and providing detailed example of your use case.

**About the db managed `createdAt` and `updatedAt` fields**

Currently amplify-flutter models should contain `createdAt` and `updatedAt` already (automatically added by `@model`), which are readonly fields and you don't need to add in schema manually. However, looking at the generated models, these two fields are n

[2022-04-13 20:11] crawford-jake commented on #1504
@haverchuck Thank you!

[2022-04-14 03:22] willianmascimiano opened #1527 "Required relation object"
### Description

I understand nested data in Amplify generate two fields, a ModelID and a Model from relationship.

In my example I have Modelo hasMany Marca.

[code]

After generate the model files, in Modelo Model was created two fields, _marca and _modeloMarcaId.

In my case I need just to fill them _modeloMarcaId Field to save in database, but I must specify _marca field, because this field is

[2022-04-14 06:01] Rayv1 commented on #1524
Thanks for your reply and clarification that it is indeed not currently implemented and I wasn't just being silly.

[2022-04-14 06:22] Rayv1 commented on #1479
Hi @HuiSF

thanks for your reply. Can i await the Datastore to be full "synced"?
Just for example..when i would store UserProfiles with DynamoDB and a user who already has a valid UserProfile would login with a new device with no local UserProfile, how can i await, that the UserProfile is loaded and synced, before showing the first screen?
Are there events when a specific model is full synced?

[2022-04-14 12:44] nikhilvashisht opened #1528 "Always show "choose account" prompt for Hosted UI / Social Sign In"
## Updated Description

**Request:** When an end user logs in via Hosted UI (Sign in with Google, Apple, etc.) the prompt to choose account should always be displayed. This should either be the default behavior, or be configurable.

**Current Behavior:** The choose account prompt will not display if the user is already logged into one (and only one) account. Below is the detailed behavior using Si

[2022-04-14 15:53] haverchuck commented on #1528
@nikhilvashisht I believe this might be a limitation with the Cognito service's Hosted UI feature, but we will try to investigate a fix.

[2022-04-14 16:27] ragingsquirrel3 commented on #1527
hi @willianmascimiano, I think your codegen model has `Marca!` in the schema. At the root, I think you could make that an optional field in your schema and rerun codegen command. Is there a reason you aren't using @hasMany and @hasOne directives in your schema as on https://docs.amplify.aws/cli/graphql/data-modeling/#has-many-relationship?

In your schema, looks like you are opting to manage the r

[2022-04-14 17:02] willianmascimiano commented on #1527
If the field is mandatory, I will have to instantiate every time an object that I will not use?

I can turn those fields as optionals and check every time when needed, but I couldn't understand why I need to inform both variables if in record what's matter is the Id.

Thanks for yours observations and I will make the update in my code and generate codegen again.

[2022-04-14 18:01] ragingsquirrel3 commented on #1527
It will be necessary when you instantiate a new model, but the good news is the parent is automatically included in model query helpers when you set it up this way. If you run `ModelQueries.get()` on a child, all the response objects will have the parent available.

[2022-04-14 19:21] Abraham-EH opened #1529 "Allows the get url api to expect a list of keys in one request"
### Description

<img width="486" alt="Screen Shot 2022-04-14 at 11 49 31 PM" src="https://user-images.githubusercontent.com/50684349/163461120-95d5e1fd-c2ab-42a5-906c-7fa1d318cfa8.png">

as you see this behavior allows to get one at the time but i want to get a list of images or files with only one request .

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Au

[2022-04-14 19:43] abdallahshaban557 commented on #1529
It was great speaking to you today, @Abraham-EH! Thank you for submitting this feature request!

[2022-04-15 17:13] putikorn opened #1531 "Cannot update user's custom attribute"
### Description

I've created new amplify project then pull into my existing project. I try to update cognito user custom attribute but there is an error below

[code]

and here is the code

[code]

I think it is because of a "user." prefix in the custom attribute when I call the API but I have no idea how they come from even it's not in the code, This never happend before with previous amplify pr

[2022-04-15 17:27] putikorn commented on #1531
Ok, it's just my error. I've found that those attributes not yet created in my user pool.

Everything is fine now.

[2022-04-15 17:27] #1531 closed

[2022-04-15 20:20] Rayv1 opened #1532 "Query throws NullPointerException on empty Datastore with limit"
### Description

Hi,
when querying **empty** datastore with limit, it throws:

[code]
Code:
[code]

Its working fine **without** the QueryPagination and empty datastore.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
-

[2022-04-15 20:44] HuiSF commented on #1532
Thanks @Rayv1 for reporting this issue.

Can you run the App in Android Studio and paste the logs around executing your code example here?

[2022-04-15 23:45] cshfang commented on #1532
Hi @Rayv1. I was able to reproduce this issue and I believe it to be a duplicate of #842.

As a workaround, you can provide the `page` parameter with a `0` value when constructing your `QueryPagination`. In the meantime, I will close this issue in favor of the original issue and try to provide some additional info to the original issue to see if we can get the appropriate people looking into it.

[2022-04-15 23:45] #1532 closed

[2022-04-17 04:02] willianmascimiano commented on #1527
Well, that's new for me.

I have tried thus about a month ago and I couldn't get the values from parent relationship, even in get method.

When this resource become available? Recently or I was making mistakes?

Thanks for the info and I'm updating my project with your notes.

[2022-04-17 09:56] #1481 closed

[2022-04-18 03:45] fdarsot commented on #1206
@abdallahshaban557 @HuiSF yes we're currently using the workaround by @HuiSF however it is slightly messy and requires client input. Any way we can prioritize this feature? it would help out greatly. i raised a ticket for it long ago as well back in March of 2021.

[2022-04-18 06:32] guplem opened #1534 "New Feature: Querying using a list or array as a filter"
### Description

I do believe that it is a basic feature to be able to query data filtering using a list.

Example:
`Amplify.DataStore.query(UserData.classType, where: UserData.id.in(participants))`
In this case, "participants" is a list of strings that contains UserData's IDs.

 Currently, I can only think about doing a request per each participant. Which is not efficient, neither as fast as desi

[2022-04-18 06:38] guplem commented on #1518
That would be of great help for new users at least, but the best would be to have proper naming.

[2022-04-18 06:47] guplem opened #1535 "DataStore case sensitivity configuration"
### Description

It should be possible to be able to decide whether a query uses case sensitivity or not.

Example: `where: Todo.NAME.beginsWith('foo', caseSensitive: false)`

Something among the lines is existent in an issue in the Amplify-JS https://github.com/aws-amplify/amplify-js/issues/8516
And it has been mentioned in related issues: https://github.com/aws-amplify/amplify-flutter/issues/151

[2022-04-18 06:47] guplem commented on #1518
I just opened an issue to implement case sensitivity configuration in Amplify-Flutter: https://github.com/aws-amplify/amplify-flutter/issues/1535

[2022-04-18 10:23] jack24254029 commented on #926
any updates?

[2022-04-18 14:19] Jordan-Nelson opened #1536 "Make Query Predicate method names self explanatory / self documenting"
### Request

This request came from the following comments on another issue:
- https://github.com/aws-amplify/amplify-flutter/issues/1518#issuecomment-1094204378
- https://github.com/aws-amplify/amplify-flutter/issues/1518#issuecomment-1101144447

The methods `.gt()`, `.ge()`, `.lt()`, `.ne()`, etc. are not very self explanatory or self documenting. It is not clear what these mean without looking

[2022-04-18 14:22] Jordan-Nelson commented on #1518
I have opened a feature request for this (#1536).

Agreed. This was definitely a miss. #1519 adds api docs to all of those methods. This change has not been included in a published version yet, but should be soon.

Thanks. I have marked it as a feature request. We will use this to track interest.

With #1159 updated, and the two new feature requests opened, I believe this issue can be closed. Plea

[2022-04-18 14:42] dnys1 commented on #926
Hi @jack24254029 - we have no updates at this time. A workaround to this could be to call `fetchAuthSession` as outlined [here](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter/) before calling `downloadFile` so that the tokens are refreshed before the Storage call is made.

[2022-04-18 16:35] dnys1 commented on #1206
@fdarsot - Have you tried doing this from the server using a post-authentication trigger and calling global sign out using the AWS SDK? https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-post-authentication.html

[2022-04-18 17:53] Jordan-Nelson commented on #1534
@guplem - There is no predicate that is exactly what you are looking for. You could use `.or()` to join them (see below), although I think there is a limit to the number of  conditions you will be able to join together. You may also find issues with how this scales depending on the number of `participants`.

You could create that Query Predicate dynamically if the list is not a constant length, al

[2022-04-18 18:43] guplem commented on #1534
I do believe that on my use case the best would be to do it dynamically. Usually, the lists of participants are not very long, but they vary in size.

In my use case, I have an `event` class. That "event" can be joined by "users" (stored data in a class named `userData`).
Additionally, I have a `participant` class that basically has an `event.id`, a `userData.user` and a boolean `accepted` (so use

[2022-04-18 18:51] mithunkavullakandiyil opened #2617 "Looking for customisation option for usernameType selection (instead of the ToggleButton)"
### On which framework/platform would you like to see this feature implemented?

Flutter

### Which UI component is this feature-request for?

Authenticator

### Please describe your feature-request in detail.

Looking for customisation option for usernameType selection (instead of the ToggleButton) while using username field when multiple username attributes present in Auth config.

While using t

[2022-04-18 21:02] cshfang commented on #842
Should be fixed by #1533

[2022-04-18 21:02] #842 closed

[2022-04-18 21:45] ragingsquirrel3 commented on #1527
@willianmascimiano only parents 1 level up are included in model helpers, not children. To include children, you would need to do a custom request with decoding like example on https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/flutter/#nested-data

[2022-04-19 05:37] jack24254029 commented on #926
Hi @dnys1
When do `awsAccessKey`, `awsSecretKey` and `sessionToken` expire?
I don't see this on official document.
Did `downloadFile` return a Amplify Exception when used expired session?

[2022-04-19 13:35] jxstxn1 commented on #1528
I am facing the same Issue with Microsoft Active Directory LogIn.
What about a LogInOption like "shouldShowUserSelector". Then Amplify is redirecting to the Google SignIn Mandatory.

Found a similar Issue in the [AmplifyJS Library](https://github.com/aws-amplify/amplify-js/issues/4044) too.

[2022-04-19 14:22] dnys1 commented on #926
@jack24254029 - AWS credentials are good for one hour (this duration cannot be changed). It appears the current issue is that no exception is being thrown from the `downloadFile` call when credentials have expired.

[2022-04-19 14:38] jack24254029 commented on #926
Do you plan to improve this issue?

[2022-04-19 15:44] mithunkavullakandiyil commented on #1472
For our app users, we would like to limit the number of devices they have signed in. The users can manage their devices (Basically, remove devices) so that another device can be added to the list.

This is to limit the number of devices which can be used with a single user account.

[2022-04-19 16:15] MeghTrivedi opened #1537 "[Change your password to sign in] for new accounts"
### Description

The field 'Confirm Password' returns an error - Passwords do not match for any combination

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Create New Account
2. On first sign in, get redirected to setup new password
3. Input new password and try to confirm, no combination

[2022-04-19 16:18] MeghTrivedi opened #1538 "[Forgot your password] Incorrect warning message is provided for the username not in database"
### Description

Expected: warning message: 'User is not registered'
Actual: any username provided to 'Forgot your password' form will give a message 'A confirmation code will be sent to ...(email/phone number)'.

Note: Emails and Phone numbers are always different, can not verify if it actually sends confirmation codes on the back-end or it's just a ui bug?

### Categories

- [ ] Analytics
- [ ]

[2022-04-19 16:26] dorontal opened #1539 "REST API exception -- incorrect authorization headers in API request -- when invoking a lambda with Cognito User Pool authorization"
### Description

Making a simple REST API call to invoke a lambda, using the Amplify library generates an exception. The exception is of the type "IncompleteSignatureException". This is the exception (and the code that produced it is below):

```RestException (RestException{response=RestResponse{statusCode=403, headers={date: Tue, 19 Apr 2022 16:05:50 GMT, x-amz-cf-pop: PHL50-C1, content-length: 1

[2022-04-19 16:56] dnys1 commented on #1538
Hi @MeghTrivedi - I believe this is a security feature of Cognito. I will try to find some documentation for the behavior you're experiencing.

[2022-04-19 21:13] crawford-jake commented on #1391
@dnys1 Any updates on this? We have worked around this the best we can for the moment. However, part of the problem with re-establishing the subscriptions manually is it's difficult to know when it's a true failure.

When an error occurs on the subscription, we attempt to reconnect. But this usually takes 3-5 retries before succeeding. To prevent an infinite loop of retries we have to manually bre

[2022-04-19 21:36] abdallahshaban557 commented on #1297
@7agustibm - we are currently finalizing this feature - we have some testing left to be done to ensure this feature is solid. We will update this issue when it is released.

[2022-04-20 00:44] dnys1 commented on #1391
At the moment, I haven't been able to reproduce it in a debuggable way. A workaround could be to use [WidgetsBindingObserver](https://api.flutter.dev/flutter/widgets/WidgetsBindingObserver-class.html) to monitor the lifecycle of the app and cancel/recreate subscriptions as necessary.

[2022-04-20 03:24] jack24254029 commented on #926
How about this issue on iOS?

[2022-04-20 03:26] jack24254029 commented on #926
Is mean that this issue only occur on Android?

[2022-04-20 13:23] crawford-jake commented on #1391
@dnys1 I have been able to reproduce using the following steps

1) Create a subscription using Amplify in a widget
2) On iOS run the app in RELEASE mode on a PHYSICAL device from XCODE,
3) Verify the stream established successfully,
4) Move the app to the background (don't close, just open another app)
5) After 60 seconds return to the app
6) The subscription then errors out

Are you able to repro

[2022-04-20 15:05] dnys1 commented on #1391
Thanks, @crawford-jake. I was able to reproduce the issue and investigate the cause. This does appear to be an issue with the underlying iOS engine. A similar issue was raised a few months ago and the iOS team's suggestion is to restart the subscription if it fails: https://github.com/aws-amplify/amplify-ios/issues/1312

I'm sorry if that answer is not what you were hoping for. Please let me know

[2022-04-20 15:05] #1391 closed

[2022-04-20 15:25] dnys1 commented on #1538
Hi @MeghTrivedi - do you have advanced security enabled in your user pool?

[2022-04-21 03:14] jack24254029 commented on #926
I test this on iOS, it works fine.
Thank you very much.

[2022-04-21 04:58] ShaplaReformedT opened #1543 "amplify_analytics_pinpoint_android'. this and base files have different roots"
### Description

* What went wrong:
A problem occurred configuring project ':amplify_analytics_pinpoint_android'.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [X] Android

### Android Device/Emulator API Level

_No

[2022-04-21 05:53] ShaplaReformedT commented on #1543
I fixed it.

[2022-04-21 05:53] #1543 closed

[2022-04-21 13:12] djorgji commented on #1501
Hi all, this is currently a blocker for our android release. Any updates?

P.S. @smvicky and I work on the same team facing this issue.

[2022-04-22 07:32] bschulz87 commented on #815
While setting the authModeStrategy using 0.4.4-rc.1 is possible, having different authorizationType for the same endpoint in amplifyconfig api.plugins.awsAPIPlugin does not work.

[code]

Only using AWS_LAMBDA or AWS_IAM does work.

[2022-04-22 09:05] liu731 commented on #1006
Thanks for your reply, Pubsub makes it easy to get IoT device status. Currently I have to use [mqtt_client](https://github.com/shamblett/mqtt_client) and I need to manually sign with SigV4 every time I connect.

[2022-04-22 13:05] dkliss opened #1546 "Flutter AWS Amplify: Error (Xcode): Framework not found amplify_analytics_pinpoint (Works on Android but not in iOS)"
### Description

Hi

Upgraded PubSpec Yaml from

  amplify_flutter: ^0.4.1
  amplify_auth_cognito: ^0.4.1
  amplify_analytics_pinpoint: ^0.4.1
  amplify_datastore: ^0.4.1
  amplify_api: ^0.4.1

To this

 amplify_flutter: ^0.4.5
  amplify_auth_cognito: ^0.4.5
  amplify_analytics_pinpoint: ^0.4.5
  amplify_datastore: ^0.4.5
  amplify_api: ^0.4.5

Then did following

cd ios
pod cache clean --all
rm P

[2022-04-22 15:15] Jordan-Nelson commented on #1534
@guplem Can you share the portion of your schema that defines event, participant, and userData/user?

[2022-04-22 16:58] Jordan-Nelson commented on #1534
I think you can probably achieve what you want with the current datastore functionality, although it may require some schema changes.

Below is one example of a schema that would allow for the basic use case you have described. In the schema below, `UserEvent` is similar to what you are using `Participant` for.

[code]

With this schema you could perform the following queries to get all the events

[2022-04-22 17:47] HuiSF commented on #1501
Hi @djorgji sorry for the delayed follow up.

From the exception logs posted by @smvicky that looks like the GraphQL sync query for model `DeviceTelemetry` timed out.  I may need more info to help triaging this issue as I couldn't reproduce it by using similar sync expression.

1. Can you provide the model schema for model `DeviceTelemetry`?
2. Can you try to inspect the network requests for the s

[2022-04-22 18:10] dnys1 commented on #1546
Are you running the build from Xcode or via `flutter run`?

[2022-04-22 18:13] dkliss commented on #1546
First I tried with Flutter Run and then with Xcode Build. Both failed with same error.

[2022-04-22 20:01] dnys1 commented on #1546
Can you share the output of a verbose build?

`flutter run -d iPhone -v | tee output.txt`

[2022-04-23 00:24] cshfang commented on #1547
@SamuelAc1011 @miguemcunha we've updated the sample Todo App referenced by the link above. Could someone try it out? I believe there was a bug that was fixed and the updated app should contain that fix now.

[2022-04-23 00:43] SamuelAc1011 commented on #1547
Sure, I'll check it out in a few hours.

[2022-04-23 05:27] dkliss commented on #1546
I will make an attempt to collect this.I have rolled back to 0.4.1. I need to redo this with 0.4.5 to get this data. During troubleshooting, (as per some internet help) I also tried to add arm64 toe excluded architectures (I am on iMac & not M1) in xcode (as well as in podfile) but no luck (after restart UI, reboot, pod and all cleanups). I noticed, a number of aws files were renamed in podfile.lo

[2022-04-23 05:32] dkliss commented on #1546
BTW, I have to get reclone my code with 0.4.1 package from git after i updated all to 0.4.5. Because after I updated to 0.4.5, even  after reverting back to 0.4.1, I continue to get Frame work error (probably some other changes got introduced with 0.4.5). So, after reclone my 0.4.1, it works without Framework error (with my older podfile).

[2022-04-23 09:12] footballtuji opened #1548 "How to get an id(Identity ID) for the Identity Pool?"
### Description

I do not know how to get an ID for the Identity Pool. Is there any way to get it on the client side flutter?

I know that the ID of the User Pool can be retrieved with the following, but not the Identity Pool.
var authUser = await Amplify.Auth.getCurrentUser();
print(authUser.userId);

In the IAM policy, the ID is represented by
${cognito-identity.amazonaws.com:sub}

### Categorie

[2022-04-23 21:25] dnys1 commented on #1548
Hi @footballtuji - can you try the method described [here](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter/) and see if that works for you?

[2022-04-24 00:14] footballtuji commented on #1548
Thank you!!!!
I've solved it.

[2022-04-24 00:14] #1548 closed

[2022-04-24 06:26] SamuelAc1011 commented on #1547
@cshfang  I finished the Todo tutorial and everything is fine now, the release version is working in flutter 2.10.3, there's some issues in the tutorial explanation but nothing that can't solve with the debug console messages.

[2022-04-24 06:26] #1547 closed

[2022-04-25 12:50] Jordan-Nelson commented on #1443
@alrashedf - Have you attempted to add `createdAt` & `updatedAt` to resolve this issue?

[2022-04-25 13:58] Jordan-Nelson commented on #1466
@nguyenthangngoc If you are still experiencing this issue can you please provide the info requested above? Thanks.

[2022-04-25 14:02] Jordan-Nelson commented on #1328
@dfourcfive - Have you had a chance to look at @HuiSF's suggestion above? Please let us know if you are still experiencing this issue.

[2022-04-25 14:06] Jordan-Nelson commented on #1518
@guplem - I am going to close this out since I have not heard back. Feel free to open a new issue if you believe the issues above do not cover everything.

[2022-04-25 14:06] #1518 closed

[2022-04-25 14:07] Jordan-Nelson commented on #1512
@zamar3 Have you attempted to resolve this by upgrading to amplify-flutter 0.4.5?

[2022-04-25 14:11] Jordan-Nelson commented on #1146
I am going to close this out since I have not heard back. Please open a new issue if you are still experiencing this issue.

[2022-04-25 14:11] #1146 closed

[2022-04-25 14:13] #1082 closed

[2022-04-25 14:14] Jordan-Nelson commented on #1265
I am going to close this since we have not heard back for some time. If any of you are still experiencing this with version 0.3.2+, please feel free to open a new issue. Thanks.

[2022-04-25 14:14] #1265 closed

[2022-04-25 14:20] Jordan-Nelson commented on #1461
@Sunsiha - Do both apps have `android:scheme` set to `myapp`? You will want to make this something unique to each app. If both apps are using the same value I believe what you are describing would be expected.

[2022-04-25 15:27] MeghTrivedi commented on #1538
Hi @dnys1, no there is no advanced security enabled in our user pool.

[2022-04-26 04:41] Sunsiha commented on #1461
@Jordan-Nelson I have sorted like this. Forgot to update here. This worked! Thanks.

[2022-04-26 04:41] #1461 closed

[2022-04-26 11:18] guplem commented on #1518
Ups, sorry, I was focusing on other projects during this week. Yeah, this can be closed as you did, thanks!

[2022-04-26 11:45] guplem commented on #1534
Sorry for the delay. However, the schema that I did describe with the creation of the issue was half theoretical, and the other half has been already altered (and was not usable).

I do believe that a schema similar to yours is as accurate as it needs to be.

Yeah, theoretically, that would allow me to get all users from an event (and all events from a user).

That's the first thing I tried, but,

[2022-04-26 14:15] Jordan-Nelson commented on #1237
@aqarcoSys - I am unable to reproduce this issue. Can you share your amplifyconfig.dart (with sensitive info masked)? This could be an issue with you config. Was the project created with the Amplify CLI? If so, what version are you using?

[2022-04-26 14:24] Jordan-Nelson commented on #118
@dineshkumar02 @markpearl - Are you only experiencing this using hosted UI?

I am a little bit confused by the reproduction steps. Are you signing out before calling sign in again? If not, what is the purpose of calling signIn when the user is already signed in?

[2022-04-26 14:39] Jordan-Nelson commented on #1294
@patelnirav48 - What version of Amplify-Flutter are you using? Can you give an output of running `flutter pub deps --no-dev --style=compact` in your project?

[2022-04-26 15:54] Jordan-Nelson commented on #1066
@GMerakis - If you are still experiencing this issue can you provide the value of `creation_timestamp` field in the object returned by copyWith?

[2022-04-26 17:20] Lorenzohidalgo commented on #1123
@Jordan-Nelson I've checked and implemented a similar solution. The issue still persists.

I'm not able to reproduce it myself, since this only happens in the production environment, but in my case, there can be up to 20 images rendering simultaneously.

[2022-04-26 17:43] Sunsiha commented on #1368
@Jordan-Nelson Now a days am not getting this issue. So am not sure.

[2022-04-26 17:44] Sunsiha commented on #1244
@Jordan-Nelson Any progress on this ticket?

[2022-04-26 20:35] Simon-PumpAndUp opened #1553 "Datastore: Disable synchronization to specific models with selective sync"
### Description

Hi,

I've check and didn't find an related issue to this, which I doubt is the case.

I want to not sync specific models while configuring Amplify Datastore.

When syncing down the datastore on app start it does by default this:

[code]

On [Android](https://github.com/aws-amplify/amplify-android/issues/987) you can tell Datastore to not sync a specific model with something simila

[2022-04-26 21:10] HuiSF commented on #1553
Hello, thanks for opening this issue regarding your use case.

1. `QueryPredicate.none` in amplify-android
This query predicate shortcut is not officially documented, and its implementation implies `id` field always exists in a model which could be problematic with the progress of custom primary key work. So I personally don't recommend to use it.

2. Not to sync a specific model
I want to get a c

[2022-04-26 21:37] Jordan-Nelson commented on #446
This has been resolved and should be available in the next major release.

[2022-04-26 21:45] Jordan-Nelson commented on #1479
@Rayv1 There are events emitted for each model type. See [ModelSynced Event](https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/flutter/#modelsynced).

[2022-04-26 22:48] Simon-PumpAndUp commented on #1553
Thank you, very clear.

That would be a nice feature to have instead of a dirty equals null.

[2022-04-26 22:49] #1553 closed

[2022-04-27 16:27] Jordan-Nelson commented on #1546
@dkliss were you able to collect the logs from the command above?

[2022-04-27 16:55] Jordan-Nelson commented on #1244
@Sunsiha - I don't have an update at the moment. This is in our backlog of issues to try to reproduce.

[2022-04-27 16:57] #1368 closed

[2022-04-27 17:01] Jordan-Nelson commented on #1123
@Lorenzohidalgo @latheeshvmv - Could you share your Amplify configs (with sensitive info masked)? Were the projects created with the CLI?

[2022-04-27 18:29] Jordan-Nelson commented on #826
I'm going to mark this as a bug until we update to 4.4 or higher. I think we can update to 4.5.1 to match Amplify-Android ([reference](https://github.com/aws-amplify/amplify-android/blob/650c8ee7e2a673b358c126f50d696ba7c7fa59d8/build.gradle#L128)).

[2022-04-27 18:30] dnys1 commented on #1537
Hi @MeghTrivedi, sorry you faced this issue. We have a release merged and are planning to release it soon.

[2022-04-27 18:58] Jordan-Nelson commented on #1527
@willianmascimiano please let us know if you are still experiencing any issues with this. Thanks.

[2022-04-27 19:36] Jordan-Nelson commented on #1534
You should get the full User & Event object when querying UserEvents with that schema. It does depend how the schema is defined though. The full child model should be returned for`@belongsTo` relations, while only the ID will be returned for `@hasOne` relations.

You are correct.

I am trying to get more info about what use case(s) this would help solve for before I mark this as a feature request.

[2022-04-27 21:08] Abraham-EH opened #1557 "Authentication Type For Api"
### Description

so basically as js library that have the authentication type for mutations we as flutter Developers need that ,
my users are creating on cognito and the owner auth is cognito so in flutter library is by default api and doesn't let me to decide as in js library and because of this i'm getting this err  Not Authorized to access updateUser on type Mutation

<img width="1680" alt="Scr

[2022-04-27 21:56] Jordan-Nelson commented on #1557
@Abraham-EH - Thanks for taking the time to open this issue. I am going to mark this as a feature request since this is something Amplify-JS supports that Amplify-Flutter does not.

[2022-04-27 22:00] tiny-dancer commented on #1208
To stack on some more dynamic configuration value adds: https://launchdarkly.com/use-cases/

[2022-04-27 22:11] Jordan-Nelson commented on #223
I discussed this with @fjnoyp offline and determined we can close this request.

[2022-04-27 22:11] #223 closed

[2022-04-27 23:24] matthewfx commented on #438
Hey AWS team. Could you please let us know if and when we can expect this to be done? It is a weird experience that Google/Apple sign-in has to be done through a web UI and we've been experiencing drop-offs because of it. I think that should be very high on your priority list. Thank you in advance for any updates on it.

[2022-04-28 01:23] chancechou commented on #927
This problem still exists. The code I debugged yesterday, without any changes today, suddenly got this error.

[2022-04-28 01:29] chancechou commented on #927
And only an error message appears, and no error is thrown, so I can't catch the exception and handle it accordingly.

[2022-04-28 01:29] chancechou commented on #927
And only the error message is displayed, and no error is thrown, so I can't catch the exception and handle it accordingly.

[2022-04-28 08:04] Lorenzohidalgo commented on #1123
@Jordan-Nelson the project was created with the amplify CLI.
Here is the config file:
[code]

[2022-04-28 10:03] AzharRaeisi commented on #828
Hi there, non of above solution worked for me

[2022-04-28 18:56] djorgji commented on #1501
@HuiSF  I am going to let @smvicky do the profiling you asked. However after some further testing it looks like it is a combination of conditions.

The exception is thrown when a:
1. sync expression does not match any records
3. on tables with a lot of entries (millions)

Our desire is to not sync any records on these tables. Changing `lt` to `gt` bellow (or removing the `and` completely) "fixes"

[2022-04-28 19:35] HuiSF commented on #1501
Hi @djorgji thanks for the follow up and details of debugging.

It sounds like your `syncExpression` created a sync query that takes long time for DynamoDB to scan through records, which may cause timeout exception.

Please take a look at [my comment](https://github.com/aws-amplify/amplify-flutter/issues/1553#issuecomment-1110252210) in an issue asking about a similar use case.

In addition to the

[2022-04-28 20:29] Jordan-Nelson commented on #1115
Related to https://github.com/aws-amplify/amplify-flutter/issues/132

[2022-04-28 20:35] Jordan-Nelson commented on #1208
I'm going to split this into two separate feature requests for logging and dynamic config. We will continue to use this to track interest in dynamic config. I will post a new issue shortly to track remote logging.

[2022-04-28 20:39] Jordan-Nelson opened #1558 "Add remote logging"
This issue is being split of off from https://github.com/aws-amplify/amplify-flutter/issues/1208.

## Orinal Request

Remote logging: send logs and metrics from mobile app to cloud for debugging and monitoring purpose, possibly cloudwatch as the solution.

### Questions & Answers

Yes, I am more referring to the forntend log and metric in our mobile app, such as clickstream, response time, etc.

W

[2022-04-28 20:42] Jordan-Nelson commented on #1208
New issue is linked above ^

[2022-04-28 21:31] Jordan-Nelson commented on #879
Hi everyone - It looks like a type `HubEvent` was added a while back. `DataStoreHubEvent` and `AuthHubEvent` extend `HubEvent`. If you simply want to check the event name, you should not need to check that the event is `DataStoreHubEvent`/`AuthHubEvent` anymore. See below for two example of how to use these types.

[code]

I think this resolves the original request. Please let me know if anything

[2022-04-28 21:41] dnys1 commented on #132
We have released the [`AmplifyConfig`](https://pub.dev/documentation/amplify_flutter/latest/amplify_flutter/AmplifyConfig-class.html) class which can be used to parse and interact with the `amplifyconfiguration` in a fully-typed way, e.g.

[code]

We plan to iterate on this concept to address the issues of #1115 and make creating a configuration from scratch a lot easier.

[2022-04-28 21:41] #132 closed

[2022-04-29 07:14] willianmascimiano commented on #1527
Ican close this issue

[2022-04-29 07:37] dkliss commented on #1546
@Jordan-Nelson @dnys1

Thanks for your response.

I did second attempt to upgrade all above packages form 0.4.1 to 0.4.5 and did some root cause analysis.

And after trying out various things,  below is what solved this Framework error issue for me.

1. Step 1: Completely deleted ios folder from my project.
2. Step 2: Run flutter create .
(This step created a brand new iso folder and default XCode

[2022-04-29 12:28] juskek opened #1562 "How do I call methods from aws_signature_v4"
I would like to perform an HTTP request signer for AWS Signature Version 4, as shown in the example here:
https://github.com/aws-amplify/amplify-flutter/tree/main/packages/aws_signature_v4

However, I can't use the following imports:
[code]

I am getting Target of URI doesn't exist.

[2022-04-29 14:04] Sunsiha commented on #848
any update on this ticket?

[2022-04-29 14:09] dnys1 commented on #1546
Thanks for the update, @dkliss - so sorry you experienced this issue. Hopefully it doesn't return, but feel free to let us know if it does.

[2022-04-29 15:35] dnys1 commented on #1562
Hi @juskek - this package is not yet published to pub.dev, but will be in the near future.  Stay tuned and feel free to track this issue where we'll announce the release! #523

[2022-04-29 15:35] #1562 closed

[2022-04-29 20:31] Sunsiha commented on #1279
any update?

[2022-05-02 12:59] surisakc opened #1563 "Amplify.DataStore.observe not triggered in Flutter Android"
### Description

I have tested the Amplify.DataStore.observe() which works fine in iOS when i call Amplify.DataStore.save() (and also testing a mutation update from AppSync) i.e. the callback function in the observe got called etc but in Android, it didn't get called (but the log showed it received the update (ModelWithMetadata) and the datastore file got updated).

### Categories

- [ ] Analytics

[2022-05-02 14:07] Jordan-Nelson commented on #1563
Hello @surisakc. Thanks for opening the issue. I am unable to reproduce this. Can you share the schema you are using, and the code snippet(s) where you are calling save() and observe()?

[2022-05-02 14:10] #1527 closed

[2022-05-02 14:15] Jordan-Nelson commented on #1512
@zamar3 - I am going to close this issue since we have not heard back. Please open a new issue if you are still seeing an issue.

[2022-05-02 14:15] #1512 closed

[2022-05-02 14:21] Jordan-Nelson commented on #1443
@alrashedf - I am going to close this out since we have not heard back. Please open a new issue if you are unable to get this working by including the createdAt and updatedAt fields.

[2022-05-02 14:21] #1443 closed

[2022-05-02 14:37] surisakc commented on #1563
**Code**

[code]

**View**

[code]

**Schema**

[code]

[2022-05-02 15:10] Jordan-Nelson commented on #530
@Washoo If you are still seeing the pop-up with `preferPrivateSession` set, can you share the code snippet where you are invoking this?

[2022-05-02 15:52] Lorenzohidalgo opened #1564 "Generated Models relationship ID fields missing"
### Description

The automatically generated Data Models are missing the relationship IDs.

schema.graphql example:
[code]

As defined by the schema, the NTokenPack model has the required field partnerPID.

The generated model has only the following variables available:
[code]

This presents the following issues:

1. The variable `partnerPID` is not present.
2. The variable `partner` is present bu

[2022-05-02 16:07] Jordan-Nelson commented on #1564
Hi @Lorenzohidalgo - Can you include the portion of your schema that defines `TokenCategory`?

It looks like it is not required in the schema. If you want to make it required, you can update:

[code]

to:

[code]

[2022-05-02 16:35] Lorenzohidalgo commented on #1564
Hi @Jordan-Nelson,

the schema for `TokenCategory` is:
[code]

The issue here is that `partnerPID` is not present. I want `partner` to be nullable. Sorry if I didn't express it correctly.

[2022-05-02 16:43] Lorenzohidalgo commented on #1564
What I meant by:

Is that with the currently generated model, I could end up creating an instance of `NTokenPack` with the missing `partnerPID` (which is required).
I'm also unable to access the `partnerPID` variable if I don't query for the `partner` also.

The "fix" or **expected behavior would be to include the `partnerPID` variable in the generated model**. This is also the behaviour if I remo

[2022-05-02 17:28] djorgji commented on #1501
@HuiSF I tried what you said in your other comment in a quick test and I go this exception:

[code]

The model does have `id: ID` in it.

I will try the SDI approach later as a workaround,

However this has to be a temporary workload as in our use case the tenancy is part of the sync expression, sending data to client that should not have the data is not secure even ignoring the extra data sent to

[2022-05-02 17:40] HuiSF commented on #1501
Thanks for the follow up @djorgji

[code]

This `deviceTelemetry.id` looks wrong to me, it should just be `id`.
Can you paste the generate model file of `DeviceTelemetry`?

Also this file `schema.graphql` in `<your-flutter-project>/amplify/backend/<your-api-name>/build/schema.graphql`.

[2022-05-02 18:37] djorgji commented on #1501
@HuiSF Thanks for the reply, I changed the file manually to `id` for some reason the model generator had put the wrong thing there.

[code]

However after the change I am still getting:
[code]

[2022-05-02 19:24] HuiSF commented on #1501
I can repro this exactly same error in Android. But the same sync expression works correctly in iOS, so it looks like a bug to me. But this is not directly related to the original issue described in this thread.

**To summarize the issue:**

1. The original issue descried in this thread is mostly like caused by slow sync query operation
2. To achieve what you desired, there is a workaround may wor

[2022-05-02 19:32] HuiSF opened #1565 "DataStore sync query fails in Android when using sync expression with the model id field"
### Description

This issue is identified in the discussion of #1501 (but this is not the cause of the original issue described in #1501).

Take schema

[code]

Using sync expression with DataStore to prevent sync any data of this model
[code]

**The base sync triggered sync query failed in Android.**
Sync query request.
`regularParentModel.id` should be wrong here.
[code]
Response
[code]

In the

[2022-05-02 19:39] surisakc opened #1566 "Datastore not sync when add ownderField and/or groupsField in schema"
### Description

Using the schema below that has `ownerField` and `groupsField` both point to a list of string. When run the app in iOS, the datastore isn't sync'ed. In Android, the app crashed with error messages.

**schema with two fields that cause issue**
type Building2 @model @auth(rules: [{allow: owner, ownerField: "users"}, {allow: private, provider: iam}]) {
  id: ID!
  name: String!
  sta

[2022-05-02 20:43] Jordan-Nelson commented on #1563
@surisakc Can you share AppBuildingModelService (at least the saveRoom fn)?

[2022-05-02 23:08] djsjr opened #1567 "Bug when using an enum to filter an API query to list objects - expects Int instead of Enum."
### Description

When an Enum is used in a GraphQL schema, and is one of the items of a particular model, we should be able to filter by a certain value of the enum when querying for a list of objects. However, this results in a runtime error. For some reason, it expects an Int instead (which of course results in an empty list.

This is only true for the API plugin. The same query done with Datast

[2022-05-03 01:49] edily-learn opened #1569 "Cannot perform DELETE action with body from android device"
### Description

Unable to send body to DELETE request in API Gateway

I/flutter ( 7761): Like xxxx call failed: ApiException(message: HTTP method does not support data object! DELETE, recoverySuggestion: Try sending the request without any data in the options., underlyingException: null)

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] Dat

[2022-05-03 12:21] surisakc commented on #1563
@Jordan-Nelson I have updated the code snippet above for the function `saveRoom()`.

[code]

[2022-05-03 15:16] Jordan-Nelson commented on #1466
@nguyenthangngoc - I am going to close this out since I have not heard back. Please open a new issue with the info requested above if you are still experiencing this.

[2022-05-03 15:16] #1466 closed

[2022-05-03 17:48] HuiSF commented on #1390
Closing this issue as a duplicate as it's caused by the same root cause of #663 .

[2022-05-03 17:48] #1390 closed

[2022-05-03 17:52] HuiSF commented on #663
Selection set incompatibility.

|                                     | amplify-js                                                   | amplify-ios                                                  | amplify-android                                              | amplify-flutter     |      amplify-flutter                   |
| ----------------------------------- | ------------------------------------

[2022-05-04 02:22] deep-aeo commented on #1569
I am facing the same issue on a real device with latest Amplify packages.

Thanks for raising the ticket @edily-learn

[2022-05-04 10:53] fjnoyp commented on #1569
Hi @edily-learn @deep-aeo can you share the code you're using to run the delete command?  What you are placing in the body?

[2022-05-04 11:43] edily-learn commented on #1569
@fjnoyp  please find below examples.

`  Future<String> removeLikeVideo(Videos video, String reactorID) async {
    try {
      String body = json.encode({
        "video_id": video.id,
        "reaction_type": "heart",
        "reacting_user_id": reactorID,
        "creators_user_id": video.creatorID,
        "timestamp": video.timestamp,
        "reaction_body": ""
      });
      RestOptions op

[2022-05-05 00:30] edily-learn commented on #1569
they values are all strings

[2022-05-05 12:55] crawford-jake opened #1574 "iOS 15 : OperationsManager.removeOperation(cancelToken:) + 84 (OperationsManager.swift:43)"
### Description

We are getting reports of crashes from people using our app. The crash seems to occur when users have had the app open in the background for a very long time, but we also have reports of the app crashing after a short amount of time with the same error. From the log below, it appears amplify dereferences an invalid pointer. We have many other logs that all report the same crash in

[2022-05-05 20:41] djorgji commented on #1501
Correct there are a couple of tables that hold a lot of data, that we want to stop from sync through the data store but we want to still have access through the GraphQL API.

How would that work? To initialize the API I need to pass in the ModelProvider `Amplify.addPlugin(AmplifyAPI(modelProvider: ModelProvider.instance));`. If I remove the DeviceTelemetry from the ModelProvider.dart file I wont b

[2022-05-05 22:39] ragingsquirrel3 commented on #1567
@djsjr thanks for submitting this issue. I was able to reproduce it. There is indeed a runtime error in the library that it is not handling enums correctly. However, I found that I could not even do this query as expected from the AppSync console as the expected type of the `eq` operation is integer, as you mentioned. I suspect that's a CLI issue so I filed it https://github.com/aws-amplify/amplif

[2022-05-05 23:28] HuiSF commented on #1566
Hi @surisakc can you paste the generated Dart class files for `Building2` and `Building3`?

[2022-05-06 12:34] surisakc commented on #1566
@HuiSF FYI, here is the configuration that works i.e. the datastore is sync'ed up at the app's startup and the datastore has the correct Building2 records when login with different accounts based on the `ownerField` group.

type Building2 @model @auth(rules: [{allow: owner, identityClaim: "sub::username", ownerField: "users"}, {allow: private, provider: iam}]) {
  id: ID!
  name: String!
  status:

[2022-05-06 19:28] #879 closed

[2022-05-06 19:29] #1066 closed

[2022-05-06 20:30] nachbar commented on #234
I agree that there is probably no point for most of us in using Amplify for Flutter until web and desktop support is added.

I would at least like to request that the Amplify/Flutter tutorial at https://docs.amplify.aws/start/getting-started/installation/q/integration/flutter/ be fixed to prominently indicate that web and desktop support does not work yet, so that the Prerequisites listed include

[2022-05-06 20:36] mjwood7 commented on #234
+1 on this. Lots of cumulative wasted time across those in this thread alone.

[2022-05-06 22:07] fjnoyp commented on #1574
Hi @crawford-jake thanks for reaching out.  The stacktrace information is helpful but seems to suggest the `operationsMap` field in `OperationsManager.swift` is null - which shouldn't be possible.  However, the code is called due to a `apiError` from `FlutterGraphQLApi.swift`.  Would be interesting to know what this `apiError` is.

Until you are able to reproduce, can you tell us what Rest API met

[2022-05-06 22:19] fjnoyp commented on #1569
Hi @edily-learn @deep-aeo thanks again for reaching out.  The underlying Amplify-Android library which Amplify-Flutter is built on top of does not allow data in Delete operations.  Our code passes the data object to their side, so if Amplify-Android updates their code and Amplify-Flutter updates to their new version, this issue will be fixed.

Let's move this issue to their repo and reach out to t

[2022-05-06 22:24] fjnoyp commented on #1569
Android issue created: https://github.com/aws-amplify/amplify-android/issues/1729

[2022-05-07 01:30] fjnoyp commented on #1564
Hi @Lorenzohidalgo

2. You need to mark partner as required in the `schema.graphql` if you want it to be required in the generated model.  You've already done that for other fields with the `!`.
3. Yes as the field is not required it is nullable so you can create a `NTokenPack` without a `partner`.

Once you've made the `partner` field required and you've created a `NTokenPack` with a `partner`, t

[2022-05-07 01:35] fjnoyp commented on #1563
Hi @surisakc can you clarify what logs you're still seeing?

Just out of curiosity, if you disable your `observeQuery` code, is your `observe` call triggered in Flutter Android?

[2022-05-07 01:41] fjnoyp commented on #1566
Hi @surisakc based on what you've written, it seems like you saved these models before changing your schema.graphql?

If that is correct, could you try clearing your database, and deleting your app locally (to clear local store), rebuilding your schema.graphql and then saving/syncing your models again?

[2022-05-07 18:20] fjnoyp commented on #597
Hi @Kilo-Loco the Amplify-Flutter Storage category is built on top of Amplify-Android and Amplify-iOS which currently do not support the feature you requested (ie. their download and list file APIs do not provide metadata is the response objects).  We would need to coordinate with those teams to add that feature into their API before adding it to Amplify-Flutter.