[2021-07-08 01:12] ollija commented on #432
Having this issue

[2021-07-08 12:24] toshiossada commented on #705
thanks @haverchuck, I'll try put this information
I was following this steps https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter

[2021-07-08 13:24] T-moz commented on #319
+1

[2021-07-08 13:24] aloisdeniel commented on #319
Any news?

[2021-07-08 14:15] markpearl commented on #234
+1 for this please

[2021-07-08 16:09] offlineprogrammer commented on #615
Hi All

I am closing this issue for now
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:09] #615 closed

[2021-07-08 16:10] offlineprogrammer commented on #340
Hi @brunovsiqueira

I am closing this issue for now as I didn't hear back from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:10] #340 closed

[2021-07-08 16:13] offlineprogrammer commented on #531
Hi All

I am closing this issue for now due to inactivity

Regards
Mo

[2021-07-08 16:13] #531 closed

[2021-07-08 16:14] offlineprogrammer commented on #577
Hi All

I am closing this issue for now We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:14] #577 closed

[2021-07-08 16:15] offlineprogrammer commented on #470
Hi @exampaqs

I am closing this issue for now
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:15] #470 closed

[2021-07-08 16:16] offlineprogrammer commented on #437
Hi All

I am closing this issue for now due to inactivity

Regards
Mo

[2021-07-08 16:16] #437 closed

[2021-07-08 16:18] offlineprogrammer commented on #550
Hi All

I am closing this issue for now due to inactivity
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:18] #550 closed

[2021-07-08 16:19] offlineprogrammer commented on #608
Hi @clementlermurier

I am closing this issue for now
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-07-08 16:19] #608 closed

[2021-07-08 16:32] toshiossada commented on #705
now i get
![image](https://user-images.githubusercontent.com/2637049/124958742-e01bde80-dff0-11eb-915a-df5ef35916e3.png)

[2021-07-08 16:32] HuiSF commented on #463
Hi @Lorenzohidalgo Thank you for reporting issues and help improve the library! I'm trying to follow up on some issues that we lost sight on. I noticed that you just closed the issue, I wanted to confirm if you were able to resolve the issue?

[2021-07-08 17:00] Lorenzohidalgo commented on #463
Hi @HuiSF, it ended up working but I'm not really sure what made it work. Some of it could be related to #611, since solving wrongly generated json string that I was trying to store 'solved' this last one.

[2021-07-09 15:40] haverchuck commented on #705
@toshiossada I am able to reproduce this when I put in the incorrect value for `OAuth.AppClientId`.  Are you positive that the correct value is present?  I think that in many cases if you have incorrectly configured the AppClient you would receive an exception about an invalid client, but I suppose it is possible that there are misconfigurations which could lead to this as well.

What do you have

[2021-07-09 16:12] subhendukundu commented on #576
I have a question on a similar line. I am trying to add passwordless login with phone number.
In javascript API I would do something like this
1. Signup
[code]
Which I am using
[code]
This is adding my user, correctly.
2. Signin
[code]
This is where the issue I am facing.
[code]
This is where I am stuck. What can we do here?

3. Custom Challenge
[code]
What will be here?

[code]

Any suggestions w

[2021-07-09 16:51] cshfang commented on #432
@ollija would it be possible to share a minimal project where you find this to be reproducible? Any additional information about the current state of your project (`pubspec.yaml`, `build.gradle`, etc) would be helpful. The original issue was opened against amplify flutter version 0.1.0 and the latest released version is 0.2.0 so I'm wondering (hoping?) that maybe the issue was fixed somewhere in b

[2021-07-09 17:22] #685 closed

[2021-07-09 17:27] cshfang commented on #704
Hi @FirdousNath, would it be possible for you to provide some reproduction steps to help us understand how/when you are encountering this exception? Per [this comment](https://github.com/aws-amplify/amplify-android/issues/800#issuecomment-813515292), the dev menu should be disabled by default.

[2021-07-10 04:45] twink1e opened #714 "fetchAuthSession throws unknown error after login"
**Describe the bug**
I need to get the AWS access token after user logs in, so I called fetchAuthSession with getAWSCredentials set to true. But I got an unknown error returned.

**To Reproduce**
using amplify 0.1.5

My code

[code]
My configuration, with sensitive data masked (may not be the same length)

[code]

**Expected behavior**
I should be able to get a token in authSession.userPoolTokens.

[2021-07-10 11:41] fjnoyp commented on #699
Hi @MathiasHaudgaard were you able to resolve this issue in the end?

[2021-07-10 12:12] fjnoyp commented on #651
Hi @flutteresbolivia could you specify more how you would like this to work, ie: how would you switch between the different S3 configurations i your code?

[2021-07-10 15:33] Monik09 opened #715 "Using GCM for notification with Amplify in flutter"
I want to know how to work with push notifications using amplify in flutter. I have added analytics and notifications using amplify add and wondering whether we can push notifications in flutter and configured FCM in it.
I am unable to find something useful on google about push notifications in flutter with the help of amplify pinpoint.
Can anyone tell me whether it's in line or we have to work wi

[2021-07-11 08:14] MathiasHaudgaard commented on #699
[code]

Your example does not match what I'm trying to do. I want to send some stringified JSON which can be seen in the above example. However, I went with another design so I'm not facing the problem anymore. We can close this issue for now. I'll reopen it if the problem occurs again. Thanks for the response 😄

[2021-07-11 08:14] #699 closed

[2021-07-11 18:42] flutteresbolivia commented on #651
what I mean is the following:
It is that I want to upload files to different S3 of aws, but as amplify of flutter, it only allows me to import to a single S3, I can only upload all my files to an s3, but I would like to upload to different S3s from the same application.

[2021-07-12 08:09] Monik09 commented on #715
oh kk, i was able to do that.

[2021-07-12 08:09] #715 closed

[2021-07-12 12:43] toshiossada commented on #705
@haverchuck I'm trying to use social login
I tried some configs and now I get this and I have no exception thrown, just this blank page
![error](https://user-images.githubusercontent.com/2637049/125289172-4fe1e000-e2f5-11eb-8127-29c4c6a50eff.gif)

[2021-07-12 12:53] toshiossada commented on #705
![image](https://user-images.githubusercontent.com/2637049/125290727-03979f80-e2f7-11eb-814b-57cc2944d728.png)

[2021-07-12 13:17] toshiossada commented on #705
![image](https://user-images.githubusercontent.com/2637049/125294009-51fa6d80-e2fa-11eb-8afa-7d25b5be905e.png)

[2021-07-12 13:24] toshiossada commented on #705
[code]

[2021-07-12 14:05] toshiossada commented on #705
[code]

[2021-07-12 16:10] HuiSF commented on #663
Discovered that amplify-android has a bug that the `SelectionSet` class never generates GraphQL document correctly, as the `getModelFields` for Flutter uses `ModelSchemaRegistry` as singleton but it actually is not a singleton so it cannot retrieve related model schema.

[2021-07-12 17:34] fjnoyp commented on #499
Hi @NimaSoroush sorry for the late reply here.  Were you able to resolve this issue in the end?  For the amplifyconfiguration.dart file that you provided - did you generate it using the Amplify CLI tool?

[2021-07-13 10:28] ikartikgautam commented on #432
Even i am facing same issue

[2021-07-13 15:49] lfraker opened #720 "Passing in user sub as targetIdentityId to Amplify.Storage.uploadFile fails with 403 on iOS only"
**Describe the bug**
I followed the process detailed here: https://github.com/aws-amplify/amplify-js/issues/54#issuecomment-876455852 to change the S3 key used in private files from Cognito Identity Id to User Pool sub.
When uploading a test private file to S3 using Amplify.Storage.uploadFile, with the targetIdentityId set to the user sub, I get the following error on an iOS Simulator:

[code]

Th

[2021-07-13 17:52] toshiossada commented on #705
I realized that open a URL with response_type=code
https://url.sa-east-1.amazoncognito.com/oauth2/authorize?client_id=5pnrgogkj5m8m8njhg9pmpf80e&redirect_uri=myapp%3A%2F%2F&**response_type=code**&code_challenge=aes8KX9003DvS06nmvTguSnwi7A862ZbSc7fAXcbTe0&code_challenge_method=S256&state=QdG-Bajj2d6qgTsioEMsXEgXeYfHcWZJHsUjbEp2zDw&userContextData=null&identity_provider=Google

How I can change to r

[2021-07-13 23:40] offlineprogrammer commented on #705
Hi @toshiossada

Check the social login docs here https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/flutter

Regards
Mo

[2021-07-13 23:50] toshiossada commented on #705
@offlineprogrammer I have already read that and there are nothing there

[2021-07-14 09:23] doug-mrowl commented on #675
I can confirm that our Android release build now works perfectly under Amplify 0.2.0. Sorry it took so long... I work from home and a random tree branch fell in my backyard and took out our power (and thus wifi) for a few days. But I just tested the updated Flutter Amplify on both iOS and Android, and everything works great.

Thanks for all the help and support!

[2021-07-14 10:20] insightfulme commented on #319
Any update on this?

[2021-07-14 13:45] Jordan-Nelson commented on #720
Hi @lfraker - I want to make sure that I understand the use case. It sounds like you would like to restrict write access to the image to just the owner (user that uploaded the image) and then restrict read access to a specific group of users. Am I understanding that correctly?

[2021-07-14 15:29] Aanu1995 commented on #705
<img width="1254" alt="Screenshot 2021-07-14 at 16 27 08" src="https://user-images.githubusercontent.com/24871915/125649049-258d0154-0c6e-4114-9ab7-4e18afb17db9.png">

Solved this after enabling Google in AWS Management Console. Google Sign in works on both android and IOS now

[2021-07-14 16:05] toshiossada commented on #705
I've already have enabled these checks

[2021-07-14 16:45] #660 closed

[2021-07-14 17:09] offlineprogrammer commented on #606
Hi @latheeshvmv

We updated the docs for this here https://docs.amplify.aws/lib/auth/sms_flows/q/platform/flutter#sign-up

Regards
Mo

[2021-07-14 17:09] #606 closed

[2021-07-14 19:15] offlineprogrammer commented on #511
Hi @Lorenzohidalgo

I used `where: Todo.CATEGORYID.ne(null)` & `where: Todo.CATEGORYID.eq(null)` successfully using the schema below

[code]

Can you please share a sample schema to reproduce the issue

Regards
Mo

[2021-07-14 20:16] lfraker commented on #720
**Update:**

I was able to get this working. The lambda functions resolve to a getURL and putURL that either of the two users can use to view/update the photo. Outside of these pre-signed URLs no one can access the photo.

@Jordan-Nelson curious if you'd advise against the approach detailed above for any reason?

Additionally, there seems to be an issue where the URLs expire and the values in the

[2021-07-15 02:35] latheeshvmv commented on #606
Thank you

[2021-07-15 05:29] EmmanuelOgbewe opened #722 "Getting 'Error: Invalid argument' when querying data with predicate containing enum."
**Describe the bug**
I have a schema that contains an enum. When querying this data and providing an enum as a predicate I receive an error saying Invalid argument.

**Expected behavior**
The enum provided as a predicate matches the enum type used in the schema. I do not expect to get the error.

**Screenshots**
ActivityNotification model contains enum NotificationType.

![Screen Shot 2021-07-15 a

[2021-07-15 11:45] toshiossada commented on #705
I solved checking "Authorization code grant" at cognito's configuration but the flutter's app still passing response_type=code, how can I change to response_type=token?
![image](https://user-images.githubusercontent.com/2637049/125782661-9aa5abe4-876f-43ea-a845-827f43686525.png)

[2021-07-15 12:03] toshiossada commented on #705
I solved checking "Authorization code grant" at cognito's configuration but the flutter's app still passing response_type=code, how can I change to response_type=token?
![image](https://user-images.githubusercontent.com/2637049/125784922-dcd5a571-35e6-4c38-aa89-49338e68e7e2.png)

[2021-07-15 15:35] Jordan-Nelson opened #723 "Username from Auth.getCurrentUser has inconsistent casing on iOS and Android"
**Describe the bug**
When accessing the username via Auth.getCurrentUser(), the casing is not consistent on iOS and Android. On Android, the value returned matches the casing used during sign up. on iOS, username is lowercase.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an app using standard username based auth
2. [Android] Sign up with a user with upper case characters in the use

[2021-07-15 16:46] Jordan-Nelson commented on #720
Hi @lfraker - For the original issue (403 when using user sub in place of identityId), this unfortunately is not a supported use case. There are work arounds (such as the one you linked to). We can mark this issue as a feature request for that if you would like, but there is also a feature request for this in open in the CLI repo - https://github.com/aws-amplify/amplify-cli/issues/1847. The issue

[2021-07-15 17:20] HuiSF commented on #722
From the error message, it looks like the data is being sent from native side to flutter side contains data format other than json.

Which platform did you produce this error on please? @EmmanuelOgbewe

[2021-07-15 18:05] EmmanuelOgbewe commented on #722
Error produced on IOS. @HuiSF

[2021-07-15 20:16] haverchuck commented on #705
@toshiossada You say it is still passing ' response_type=code'; is it still returning the invalid_request exception?

[2021-07-15 20:32] toshiossada commented on #705
I needed to reconfigure my cognito to accept response_type=code, and thats works, but I, think this is not right because I believe in some cases we dont allow to check the option "Authorization code grant" and the right way is pass response_type=token

[2021-07-15 21:47] lfraker commented on #720
Hi @Jordan-Nelson thanks for the reply. for the user sub issue, I understand that the workaround is not the officially supported path. However, I'm curious what the point of the 'targetIdentityId'  property on 'S3UploadFileOptions' is then? As mentioned above, when running in Android (after performing the backend mapping to use user sub), I was able to pass in the user sub and correctly authorize.

[2021-07-15 23:10] haverchuck commented on #705
@toshiossada I confirmed that we currently do not support implicit grant in amplify-flutter (nor amplify-android or amplify-ios). Is there a particular reason you wanted to use implicit grant?

[2021-07-15 23:38] richardcatlin commented on #234
+1

[2021-07-16 03:51] toshiossada commented on #705
@haverchuck I'm not sure, however this is how the squad configured cognito and I think if there is a way to configure cognito in this way the flutter package should allow this configuration

[2021-07-16 06:23] hassan1709 commented on #186
Hey, so it looks like this is an issue they are planning to fix as this thread is still open?

[2021-07-16 09:09] cmacg commented on #234
+1 for me ztoo

[2021-07-16 18:07] HuiSF commented on #722
Thanks @EmmanuelOgbewe ! This issue is reproducible on my end, I will investigate and get back to you.

[2021-07-16 18:51] fdarsot commented on #418
@haverchuck @Ashish-Nanda @offlineprogrammer any updates on the global sign out stuff?

If it helps there's a non official aws package that has a global sign out, do you think i can somehow incorporate both packages and use that global sign out?

https://pub.dev/packages/amazon_cognito_identity_dart_2

[2021-07-16 19:25] Jordan-Nelson commented on #720
The intended use of the `targetIdentityId` param is to pass in the user's Cognito identityId, which can be accessed via [amplify auth's fetchAuthSession](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter). Missing dart docs is a known issue at the moment. The [storage docs for access levels](https://docs.amplify.aws/lib/storage/configureaccess/q/platform/flutter) have a callo

[2021-07-16 19:46] HuiSF commented on #722
This issue is caused by [the method `serializedDynamicValue`](https://github.com/aws-amplify/amplify-flutter/blob/90074b33f838051bb40c072805889e35e03297e0/packages/amplify_datastore_plugin_interface/lib/src/types/query/query_field_operators.dart#L55-L62) in `query_field_operators` not having a appropriate handling of serializing enum type values. I will look into it and try to find a solution to a

[2021-07-17 11:26] twink1e commented on #714
upgraded to 0.2.0 for both amplify_flutter and amplify_auth_cognito, and the issue still happens

[2021-07-17 21:11] lfraker commented on #720
@Jordan-Nelson thanks for the details. I went back to the pre-mapping config since I am now generating keys which neither user can access without a pre-signed URL. With this config, I'm able to repro the original issue (storage upload succeeds on iOS even if you provide a garbage `targetIdentityId`. I'll log a separate issue for this.

Regarding this issue, if it would help to track it is a group-

[2021-07-17 21:35] lfraker opened #727 "A user-provided S3UploadFileOptions.targetIdentityId seems to be ignored when calling Amplify.Storage.uploadFile on iOS."
**Describe the bug**
I came across this bug when trying to pass in the User Pool sub value as detailed here: https://github.com/aws-amplify/amplify-flutter/issues/720. However, I found that even in the base case, the `targetIdentityId` does not behave as expected when running on iOS.

In short, if a garbage value is provided for `targetIdentityId` when executing `Amplify.Storage.uploadFile` for a

[2021-07-18 21:37] EmmanuelOgbewe commented on #722
Thank you! @HuiSF

[2021-07-19 06:12] scottnightingale commented on #234
+1 for web.  This will be a critical decision point for us on whether we use Amplify in our project or not.  A ballpark ETA would be really helpful.  Thanks!

[2021-07-19 07:52] yonycherkos commented on #319
Any update on this?

[2021-07-19 12:46] mkdsrt10 commented on #410
Hi, Any update on this?

[2021-07-19 14:15] AntonYarish commented on #295
Hi guys. Any updates on this @haverchuck?

[2021-07-19 15:31] Lorenzohidalgo commented on #511
Hi @offlineprogrammer,

Just tried to query using .eq(null) with the following error log:
[code]

I'm not sure if it has something to do with the used schema, but here it is:
[code]

And the executed query was:
[code]

Hope this helps.

[2021-07-19 15:48] Lorenzohidalgo commented on #400
@fjnoyp is there any update on this? Getting a little tired of having to modify the generated models after every pull.

The current workaround is changing all floats to the generated files from:
[code]

to:
[code]

[2021-07-19 23:10] ragingsquirrel3 commented on #727
@lfraker thanks for bringing this to our attention. It's noted in our backlog of storage issues and we will investigate as soon possible.

[2021-07-19 23:56] haverchuck commented on #441
@fanwgwg @cconley717 @borainceler @trinanda98 : Apologies for the inactivity on this. We are currently working on a fix to resolve some platform discrepencies within the fetchSession API. We are exploring a couple of solutions for the currentUser disparity, as well as some enhancements to our documentation to make all of this more clear!

[2021-07-20 15:25] toshiossada opened #731 "social login in iOs doesnt get token"
I'm trying social  login at iOs but when I done login with google and then callback to my application the additionalInfo is null without token, this work fina at Android.
![image](https://user-images.githubusercontent.com/2637049/126362303-79800e9f-83b0-41a8-8cb4-0a63698cdf5c.png)

[code]

[code]
[code]

at Android thats works great

![image](https://user-images.githubusercontent.com/2637049/12634

[2021-07-20 16:36] ragingsquirrel3 commented on #688
@ioantsaf the request was implemented in PR #721 and should go out with the next release.

[2021-07-20 16:45] ragingsquirrel3 commented on #731
Thanks for bringing this issue to our attention, will investigate as soon as possible.

[2021-07-20 18:33] asad7452 opened #732 "Amplify support for Flutter desktop web (Chrome and Edge)"
I checked on pub.dev and all the Amplify packages for Flutter do not have Web (Chrome and Edge) support.  When I try to debug in Android Studio for Chrome or Edge as target, I get an error saying that Amplify plugins cannot be loaded.  When are we planning to have support for desktop web?

[2021-07-20 20:33] ragingsquirrel3 commented on #732
Sorry but amplify-flutter does not yet support web. More discussion on this topic can be found on https://github.com/aws-amplify/amplify-flutter/issues/234 so I will close this issue as duplicate.

[2021-07-20 20:33] #732 closed

[2021-07-20 21:11] ragingsquirrel3 commented on #616
I'm going to close this issue as it was marked "pending close ..." and it seems the original issue/question has been answered.

[2021-07-20 21:11] #616 closed

[2021-07-20 21:15] ragingsquirrel3 commented on #675
I'm going to close this as it seems the issue has been addressed.

[2021-07-20 21:15] #675 closed

[2021-07-21 01:47] djsjr commented on #457
Any update on this?

I have the same problem. Using auth rule "allow: public, provider: iam" but can only query when logged in. I already have guest access set up through auth.

Query as guest produces this result: "flutter: Query failed: ApiException(message: Failed to retrieve Cognito UserPool token., recoverySuggestion: , underlyingException: The operation couldn’t be completed. (Amplify.AuthEr

[2021-07-21 05:54] Lix-ai commented on #319
?

[2021-07-21 10:11] irishtomwalsh opened #739 "Problems Configuring Amplify/DataStore When Running Flutter App via Chrome in Debug Mode"
**Page**: [`/start/getting-started/integrate/q/integration/flutter`](https://docs.amplify.aws/start/getting-started/integrate/q/integration/flutter)

**Feedback**:

Hi,

It might be useful to mention that amplify won't configure itself properly when run from chrome, It needs to run in at least the emulator (android).

it fails when trying to register the datastore plugin with the following error m

[2021-07-21 10:25] gianmarcocalbi opened #733 "Amplify.Auth.fetchAuthSession launches sign in WebView on iOS"
### Describe the bug
At app startup, I run

[code]

to get info about the logged user that I need to initialize some other objects. If there is no logged user I catch the exception without letting it propagate.

Well, when I start the app for the first time, `fetchAuthSession` prompts a dialog to launch the WebView for login (**yet, I'd not expect this behavior**)

If I dismiss the dialog, and lat

[2021-07-21 10:50] gianmarcocalbi commented on #733
I need to investigate more the issue because after I erased the content of the simulator and installed the app again the issue did not occur.

I am closing the issue and if needed I will reopen it later.

[2021-07-21 10:50] #733 closed

[2021-07-21 14:20] MatheusLimaN commented on #319
+1

[2021-07-21 19:48] Perniciosius opened #736 "Initial GraphQL API sync fails (using Amazon Cognito User Pools authentication) when user not logged"
**Describe the bug**
When using private auth using Amazon Cognito User Pools for authentication of graphql API. During first app startup, Datastore tries to sync to cloud even if currently no user is logged in, which causes the sync to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup graphql API with private auth using Amazon Cognito UserPool.
2. Start the app first time(user not

[2021-07-21 20:02] toshiossada commented on #731
My solution was put
[code]

![image](https://user-images.githubusercontent.com/2637049/126552595-616fa4d4-c8ba-46db-a653-aa3f48a7f7e1.png)

Is this correct?

[2021-07-21 20:48] Perniciosius opened #737 "App crashes at startup (for release build) when using Datastore(GraphQL api)"
**Describe the bug**
App crashes at startup when using Datastore(GraphQL api). It occurs only for release build. In debug and profile build, app functions normally.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Datastore GraphQL api with cloud sync.
2. Build a release build (```flutter build --release```)
3. Start app.

**Platform**
Amplify Flutter current supports iOS and Android.

[2021-07-21 21:29] ragingsquirrel3 commented on #736
Thanks for raising this issue, will investigate as soon as possible.

[2021-07-21 21:56] Jordan-Nelson commented on #737
This could be a similar issue to https://github.com/aws-amplify/amplify-flutter/issues/675, which only surfaced in apps created with a very recent version of flutter.

@Perniciosius do you know what version of flutter you used to create the app? If you haven't upgraded flutter since you created the app, you can get the current version you are using with `flutter --version`.

[2021-07-21 22:03] Aditya-goldsetu commented on #737
Hey! I am using the latest versions of flutter packages but still I am getting the same error.  Not just for datastore but also for the amplify api

[2021-07-21 22:09] Aditya-goldsetu commented on #737
My environment and dependencies in pubspec.yaml

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  amplify_flutter: ^0.2.0
  amplify_api: ^0.2.0
  amplify_auth_cognito: ^0.2.0
  amplify_core: ^0.2.0
  amplify_datastore: ^0.2.0

[2021-07-21 22:44] Aditya-goldsetu commented on #737
I think this is only occurring when the data model has  relationships. I created another environment where there is only one store table and there the same code works.

[2021-07-22 03:54] Perniciosius commented on #737
@Aditya-goldsetu
My data has only one table and this error is only coming in release build.

[2021-07-22 05:44] Perniciosius commented on #737
@Jordan-Nelson Downgrading gradle plugin from v4.0.0 seems to have fixed the issue.

[2021-07-22 07:11] dev-Roshan-lab opened #740 "ResourceNotFoundException on trying to SignUp with Amplify"
**Describe the bug**
`ResourceNotFoundException` thrown while trying to SignUp.

**Expected behavior**
Upon invoking `Amplify.Auth.signUp` with necessary data, OTP is received and the user is signed In

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[:heavy_check_mark:] Android
[:x:] iOS: haven't checked.

<details>

  <summary

[2021-07-22 16:20] epomeranz commented on #635
Hi @dnys1 I'm trying to run the example app and I have the exact same issue. I checked all your suggestions and I still have the same issue.

Any ideas?

Thanks :)

[2021-07-22 16:30] epomeranz commented on #432
I'm having the same issue on the flutter's amplify example project: https://github.com/aws-amplify/amplify-flutter

Any suggestions?

[2021-07-22 20:48] rmargolinross commented on #530
#379

[2021-07-23 21:53] #644 closed

[2021-07-24 16:04] #737 closed

[2021-07-26 06:08] androidshivam opened #747 "Getting an Error on iPhone 12 & 12 pro"
**Description of bugs:** Unhandled Exception: SessionExpiredException(message: Session expired could not fetch user sub, recoverySuggestion: Invoke Auth.signIn to re-authenticate the user, underlyingException: null)

**To Reproduce:** While installing the app in iOS 12 & 12Pro

**Expected Behavior:** Initialise the AWS plugins and fetch the current session of user null if User is not signin else g

[2021-07-26 07:10] mindhub-ahnboram commented on #234
+1 for web. it's already crerical for my project.

[2021-07-26 08:55] yashaeologic commented on #747
Hey Shivam,

Are you using dependency in pub spec or using the whole package as custom dependancy.

[2021-07-26 10:17] yashaeologic opened #748 "Facing issues in running the app into IOS, while using this amplify_auth_cognito"
Hello guys,

Facing issues in running the app into IOS, while using this amplify_auth_cognito  in the pubspec.yaml.

Step to reproduce:
Run command for iOS app: flutter run

Errors:
--------------------------------------------------------------------------------
Resolving dependencies of `Podfile`
      CDN: trunk Relative path: CocoaPods-version.yml exists! Returning local because checking is onl

[2021-07-26 12:13] androidshivam commented on #747
name: total_vision
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separa

[2021-07-26 12:14] androidshivam commented on #747
name: total_vision
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separa

[2021-07-26 12:25] ken-ng-esotec opened #749 "ApiException OkHttp client request java.net.SocketTimeoutException: timeout"
When making queries / mutations that take long we receive and no known way to override

[code]

Is it possible to allow the library to set timeouts per query in `Amplify.API.query` or `Amplify.API.mutate`

[2021-07-26 13:09] jobypthomas commented on #444
I have the same issue. Works in iOS but not in Android.

[2021-07-26 13:16] jobypthomas commented on #444
**Error**
DataStoreException(message: Error in querying the model., recoverySuggestion: See attached exception for details., underlyingException: android.database.sqlite.SQLiteException: no such column: xxxx (code 1 SQLITE_ERROR): , while compiling: SELECT...
**Sample Data Model:**

type Dept
  @model
{
  id: ID!
  emps: [Emp]
    @connection(keyName: "byDeptEmpId", fields: ["id"])
}

type Emp
  @

[2021-07-26 19:08] Lorenzohidalgo opened #752 "DataStore Query iOS / Android discrepancies for boolean type"
**Describe the bug**
DataStore does not handle the equal operator equally for boolean variables in Android and iOS.

For Android the query needs to pass the boolean as a string:
[code]

For iOS the query will needs to pass the boolean as a boolean to work correctly:
[code]

Why does this happen?

**Expected behavior**
Both platforms should use the same operator logic.

**Platform**
Amplify Flutter

[2021-07-26 21:54] hugopretorius914 commented on #234
+1 for web, this is critical for our project. Has anyone any workaround or suggestions for this?

[2021-07-26 22:30] HuiSF commented on #752
Thanks for reporting this issue. I took a quick looking on query predicate serialization and deserialization between Flutter and amplify-android. It converts boolean value to 0 (if the provided boolean is `false`) and 1 (for `true`). This seems correct as SQLite doesn't have a separate Boolean class so boolean field will be stored as 0 or 1.

Then I inspected SQLite DB using Android Studio DB insp

[2021-07-26 23:44] HuiSF commented on #752
The SQLite table indeed has wrong type `Text` set in Android for the `published` column that I set as boolean. The type is correct as `Integer` in iOS.

<img width="562" alt="Screen Shot 2021-07-26 at 4 41 53 PM" src="https://user-images.githubusercontent.com/10602282/127072901-c54aa9e6-3423-4c83-b6b4-ae1b4eb857ac.png">

[2021-07-27 07:28] DriftingShadows commented on #385
I am still getting this when adding the
`CognitoSessionOptions(getAWSCredentials: true)`
option to fetchAuthSession and the user is not signed in.

[2021-07-27 08:34] Lorenzohidalgo commented on #752
Thanks @HuiSF, this other issue might be also another platform discrepancy #511, since @offlineprogrammer is able to query by `.eq(null)` but it will fail on Android.

[2021-07-27 13:34] jobypthomas commented on #444
@Amplifiyer @Ashish-Nanda

[2021-07-27 15:57] HuiSF commented on #511
This issue is reproducible in Android. Investigating.

[2021-07-27 16:51] HuiSF commented on #511
It looks a bug in amplify-android. Created issue in amplify-android repository for further investigation.

[2021-07-27 16:56] subhendukundu opened #755 "signIn method should alow single argument?"
In javascript API I would do something like this
1. Signup
[code]
Which I am using
[code]
This is adding my user, correctly.
2. Signin
[code]
This is where the issue I am facing.
[code]
This is where I am stuck. What can we do here?

3. Custom Challenge
[code]
What will be here for flutter?

[code]

Any suggestions would be really helpful as stuck for a while now 🙏

[2021-07-27 17:32] nicolairobles commented on #234
Any ETA on this? This has been open for 6 months, which is a long time in the tech world.

Does anyone have suggestions for Amplify web alternatives?

[2021-07-27 19:04] HuiSF commented on #444
Hi all, sorry to getting back on this late! Took a look, it seems a discrepancy between amplify-ios and amplify-android.
Take @jobypthomas 's schema as example.

[code]

`Emp.DEPT` presents a `belongsTo` relationship. When Flutter passes above predicate into amplify-ios, while generating sql command with predicate, it resolves actual column name from predicate + model schema. With this example, `w

[2021-07-27 23:14] dnys1 commented on #755
Hi @subhendukundu, from what I can tell, you are using the [custom auth](https://docs.amplify.aws/lib/auth/switch-auth/q/platform/js#custom_auth-flow) flow. Unfortunately, this flow is unsupported in the Flutter SDK. I've marked this ticket as a feature request so that we can look to include it in one of our future releases.

In the meantime, please see the [docs](https://docs.amplify.aws/lib/auth

[2021-07-28 04:31] davidjaldred opened #759 "Null safe generated data models are still producing a build error"
Following the guide here: https://docs.amplify.aws/lib/project-setup/null-safety/q/platform/flutter

With the enableDartNullSafety feature flag set to “true”, and a default data model (named 'Dummy') without any changes made to it, I am still getting a build error in the generated model file (well 3 to be precise, but all on the same line: ` const Dummy._internal({required this.id}): ;`). Removing

[2021-07-28 07:18] baopham2210 commented on #319
+1

[2021-07-28 08:44] matthewfx commented on #547
Hi! Any ETA on that issue? It would be highly appreciated if you could fix it.

[2021-07-28 13:10] miguelflores1993 opened #760 "Inconsistent/Incorrect behavior when fetching auth session without internet access"
my application is about an uber truck, where most of the road is OFFLINE.
but when he wants to make an offline request he skips that error.
Does anyone know how to apply it for offline mode?

error:
`SessionExpiredException(message: Your session has expired., recoverySuggestion: Please sign in and reattempt the operation., underlyingException: null)`

code:
` CognitoAuthSession res = await Amplify

[2021-07-28 15:51] haverchuck commented on #747
@androidshivam  Was there a previously authenticated user on this device, and the refresh token expired?

[2021-07-28 15:54] cshfang commented on #298
As of [v0.2.1](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.2.1), Amplify Flutter should now support selective sync. More information about this can be found in the Amplify Docs [here](https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter#selectively-syncing-a-subset-of-your-data).

[2021-07-28 15:54] #298 closed

[2021-07-28 16:44] HuiSF commented on #467
Hi all, with the latest release of amplify-flutter (0.2.1) model subscription won't timeout on 3G and slower network.
But please note that the ultimate result depends on device network condition. I would recommend to have a layer of handling on slow network to ensure better experience for your App users.

I will close this thread now, please feel free to follow up if you encounter any issues.

[2021-07-28 16:44] #467 closed

[2021-07-28 16:46] HuiSF commented on #722
Hi @EmmanuelOgbewe the fix for this issue has been release along with version `0.2.1`. Please update the library to get the fix, and feel free to follow up if you encounter any issues. Thanks!

[2021-07-28 16:46] #722 closed

[2021-07-28 16:50] HuiSF commented on #602
Hi all, with the latest release of amplify-flutter (0.2.1) subscription should work on slow networks (Edge, 3G).
Please keep in mind that the ultimate result depends on device network conditions. I'd recommend to have a layer of handling on long network connecting to ensure a better experience for your App users.

Please feel free to follow up if you encounter any issues.

[2021-07-28 16:50] #602 closed

[2021-07-28 17:01] dgagnon commented on #602
There is no way to catch the timeout, nor to force the datastore to try again unless amplify-flutter (0.2.1) changed that.

[2021-07-28 17:34] HuiSF commented on #602
Datastore will silently switch to LOCAL_ONLY mode, operation should still succeed and new data changes will be synced to cloud on next successful syncing. This event is not emitted from dependent amplify-ios and amplify-android libraries, hence amplify-flutter cannot forward it. I will see what we can do.

Currently with amplify-flutter cloud sync is triggered on every datastore operation (CURD),

[2021-07-28 18:20] Jordan-Nelson commented on #292
@LeFrosch thanks for opening this issue. This should be fixed as of version 0.2.1. `signUp()` does not require options (same behavior as you mentioned), but with 0.2.1, signUp should work without them for standard email based auth.

[2021-07-28 18:20] #292 closed

[2021-07-28 18:21] Jordan-Nelson commented on #626
Resolved in v0.2.1

[2021-07-28 18:21] #626 closed

[2021-07-28 18:23] Jordan-Nelson commented on #623
@brunovsiqueira - this has been resolved as of version 0.2.1. You should now see an InvalidStateException on both platforms when calling signIn with a user already authenticated.

[2021-07-28 18:23] #623 closed

[2021-07-28 18:23] dgagnon commented on #602
Thank you for clarifying the behavior.  I highly recommend adding this information in the documentation.  It is a very confusing aspect for newcomers to amplify-flutter.

[2021-07-28 19:05] haverchuck commented on #760
@flutteresbolivia Is this on Android or iOS?

[2021-07-28 19:20] JuanDavid1996 commented on #136
Hi, I update amplify_auth_cognito to ^ 0.2.1, then I made this solution
[code]

[2021-07-28 20:05] flutteresbolivia commented on #760
en android con  Flutter 2.0,6.
sdk 30
Mobile: Samsumg S10 PLUS android 11
About the token is that the phone is mostly without internet.

[2021-07-28 20:29] HuiSF commented on #759
It looks like the [model gen](https://github.com/aws-amplify/amplify-codegen/blob/master/packages/appsync-modelgen-plugin/src/visitors/appsync-dart-visitor.ts#L302) always expects a model has other fields than `id` in the model.

I will forward this issue to amplif-codegen.

In addition, what's your use case of model which has only `id` field? Or is the example for only testing and reproduce this

[2021-07-28 21:25] haverchuck commented on #760
@flutteresbolivia What is the expected behavior, exactly? A network exception?

[2021-07-28 21:52] flutteresbolivia commented on #760
That the session does not expire and you can continue working with the local data of the phone, if you cannot find the internet.

[2021-07-28 22:03] davidjaldred commented on #759
Ahh apologies, wasn't aware of the amplify-codegen repo. Thanks for forwarding.

Yes, mostly for testing purposes. However, I'm not using any data models yet and when I delete the model in the Admin UI, the save and deploy button is disabled, so I've had to keep it as a placeholder/dummy model for now.

[2021-07-28 22:14] HuiSF commented on #759
Thanks for confirming and no worries!

Before the root cause gets resolved, I recommend you to add extra fields in a model, which can unblock you. The library creates tables in local db following the schema. If you need to remove any field from a model that you don't need, you can either invoke `Amplify.DataStore.clear()` API or delete testing App from device and reinstall to recreate local db.

[2021-07-28 22:32] dnys1 commented on #714
Hi @twink1e - sorry you are experiencing this issue and for the delayed response. I've been having trouble reproducing it on my end and wonder if you could do a bit of extra debugging? In your `AppDelegate.swift` file, could you modify it to configure verbose output like this?

[code]

Then, if you could run the app through Xcode by opening `Runner.xcworkspace` and pressing Play, the debug console

[2021-07-28 22:33] haverchuck commented on #760
@flutteresbolivia Are you attempting to work in a signed out state, with guest credentials from an identity pool?

[2021-07-28 22:36] davidjaldred commented on #759
Great, will do, and thanks for taking the time to help!

[2021-07-28 22:40] haverchuck commented on #705
@toshiossada I think we support the Authorization Code Grant flow as it satisfies most use cases and offers the best security. I can definitely see how this could be confusing, so I am introducing a [PR to our docs](https://github.com/aws-amplify/docs/pull/3405) to make this clear. We can leave this ticket open for awhile - if there is a specific reason why your team would like implicit grant plea

[2021-07-29 00:25] dnys1 commented on #635
Hi @epomeranz - sorry for the late response. Are you using the `melos bs` command by chance before running the app? I believe this may be an issue with melos. Can you try running the app using the `flutter run` command before running it in an IDE like Android Studio?

[2021-07-29 05:30] EmmanuelOgbewe commented on #722
@HuiSF Thank you! ! Most definitely will.

[2021-07-29 15:18] dnys1 commented on #688
This is now available in amplify_api `0.2.1`: https://pub.dev/packages/amplify_api/changelog

[2021-07-29 15:18] #688 closed

[2021-07-30 14:11] jobypthomas commented on #444
@HuiSF Thank you working on this issue. Do you know when will it be released?

[2021-07-30 15:38] TimWhiting commented on #133
Alternatively may I suggest a dart implementation rather than having to support interop with the native platforms for web+3desktops+2mobileOS. It seems to me that the overhead of managing 6 different bindings / interop is more work than supporting dart directly.

[2021-07-30 15:44] TimWhiting commented on #234
(Reposted from the desktop issue)
Alternatively may I suggest a pure dart implementation rather than having to support interop with the native platforms for web+3desktops+2mobileOS. It seems to me that the overhead of managing 6 different bindings / interop is more work than supporting dart directly. Also using dart without dependency on flutter plugin channels would mean we could use amplify with

[2021-07-30 16:19] markpearl commented on #234
I think the only other option is to just use straight up lambda functions
for anything you need. For my example it's just the authentication and
interactions with the dynamodb tables that have been created via amplify
that I require. It's just a royal pain because I could easily reuse the
same code we've created for our mobile app. So as a workaround I need to do
the following:

1) Create lambda f

[2021-07-31 23:33] rohanakut opened #767 "Null Pointer Exception while deleting parent table"
I am trying to run Amplify on Flutter. While the rest of the operations seem to be working well, I am having a hard time in deleting a parent table. The following is my problem:

I have 2 tables namely: DeckListTable and CardsListTable. The CardsListTable can have multiple DeckListTable ids.

The following is my GraphQL schema

[code]

I am trying to delete the values in DeckListTable but amplify

[2021-08-02 04:32] NicolasCF96 opened #769 "Autogenerated GraphQL queries, mutations and subscriptions"
Hi guys,

Coming from using Amplify with React and now with Flutter, I'm missing the auto generated code for schema.graphql queries, mutations and subscriptions. I was wondering if the command amplify codegen models would  generate the equivalent of src/queries.js, src/mutations.js, etc., as it is with React or otherwise if this has to be written by the developer, could you provide acesss to docum

[2021-08-02 08:34] Emadeddin-eibo commented on #515
That's very upsetting UX to work with, I have MFA and a user has to enter two verification codes?

Signup -> Confirm signup (not logged in!) -> login -> confirm login. Any solution to this scenario?

[2021-08-02 13:19] Jordan-Nelson commented on #769
Hello @NicolasCF96 - This is not something that is currently supported by amplify-flutter. The feature request is being tracked at https://github.com/aws-amplify/amplify-flutter/issues/308. The second item in the feature request is for "GraphQL Request Helpers that automatically generate GraphQL requests". Please feel free to upvote that issue to express your interest.

I am going to close this is

[2021-08-02 13:20] #769 closed

[2021-08-02 16:46] Emadeddin-eibo opened #770 "Update MFA settings for specific user in Cognito"
Is there any way to update the value of MFA (enable/disable) after Auth.signIn() or Auth.signUp() ?

<img width="648" alt="Screenshot 2021-08-02 at 7 42 38 PM" src="https://user-images.githubusercontent.com/47105622/127895988-937e8c2e-8592-42b1-88a5-ca7f0b1ad0bc.png">

[2021-08-02 17:45] alamo88 commented on #635
I too am facing this issue. It was able to run previously and all of a sudden i get the same error. I am using VS code to run in MacOS.

[2021-08-02 18:18] Jordan-Nelson commented on #770
Hello @Emadeddin-eibo - Thanks for taking the time to open the issue.

I want to confirm that you are looking for a way to do this programmatically using amplify-flutter, similar to what [amplify-js supports](https://docs.amplify.aws/lib/auth/mfa/q/platform/js#setup-mfa-type). If this is the case, this is not a feature that is supported by amplify-flutter, but I can mark this as feature request to

[2021-08-02 18:28] Jordan-Nelson commented on #748
Hello @yashaeologic - Have you set a minimum deployment target in ios/Podfile? Amplify_auth_cognito [requires a deployment target of 11.0 or higher](https://docs.amplify.aws/lib/auth/getting-started/q/platform/flutter#prerequisites).

If you have not set this, you can uncomment the line near the top of your Podfile and set the value to `'11.0'`.

[Here is an example](https://github.com/aws-amplify

[2021-08-02 19:20] flutteresbolivia opened #772 "Multiple environment"
I have amazon as a provider of APIs, each one with its different cognito, development and production.

I want you to help me with how I can import or generate a production or development environment in my flutter application? Has anyone developed or any documentation on that?

[2021-08-02 19:28] HuiSF commented on #772
In general amplify-flutter relies on amplify-cli to manage Amplify configuration and environments. [This amplify-cli documentation](https://docs.amplify.aws/cli/teams/multi-frontend) may help you to learn more about it.

In Flutter, `amplifyconfiguration.dart` contains the Amplify configuration details which is the equivalent to the `amplifyconfiguration.json` mentioned in the above documentation.

[2021-08-02 20:06] flutteresbolivia commented on #772
So it means that, if I want to change from development to production environment, only with the commands it would be super simple, right?

And my files would be changed without having to modify it manually.

[2021-08-03 06:57] androidshivam commented on #747
I've tested on multiple devices.I'm facing this issue on first install as well

[2021-08-03 09:35] aayushkedawat opened #774 "Inconsistent Network Timeout between iOS and Android"
I am getting this in the error log-
E/amplify:flutter:storage_s3(23398): StorageException
E/amplify:flutter:storage_s3(23398): StorageException{message=Something went wrong with your AWS S3 Storage upload file operation, cause=com.amazonaws.AmazonClientException: Unable to execute HTTP request: SSL handshake timed out, recoverySuggestion=See attached exception for more information and suggestions}

[2021-08-03 16:17] HuiSF commented on #772
From my personal experience, `amplify pull` merges new configuration into existing `amplifyconfiguration.dart` if any.

I believe developers are still responsible to validate the effectiveness of the configuration ultimately by testing the App.

In addition, I think multiple `amplifyconfiguration.dart` configuration files could be set, for different development environments, stages, release channe

[2021-08-03 16:19] ragingsquirrel3 commented on #547
This was added with PR https://github.com/aws-amplify/amplify-flutter/pull/553 which is merged, but I want to keep this issue open until next release is shipped to pub dev with this change. We should also update docs to reflect this addition.

[2021-08-03 16:44] Jordan-Nelson commented on #774
Hello @aayushkedawat - Can you let me know the details of the network connection (in particular the network bandwidth) when you experienced this, and the size of the file you were uploading? Thanks.

[2021-08-03 17:25] nimbledaniel commented on #234
+1 here too - really would love an ETA on support if it's still on the roadmap.

[2021-08-04 04:51] Nealsoni00 commented on #340
Happened again for me on   `amplify_auth_cognito: ^0.2.1`

When I call:
[code]
[code]

[2021-08-04 20:45] Jordan-Nelson commented on #418
@fdarsot - Sorry for the delay in a response. I am looking into global sign out. There is a small discrepancy between how global sign out functions in the amplify iOS and Android libraries that I need to look into before we add this to amplify-flutter. I will comment on this issue when I have an update.

[2021-08-04 22:50] ragingsquirrel3 commented on #612
Fixed in 0.2.2

[2021-08-04 22:50] #612 closed

[2021-08-05 00:51] Birxdk commented on #471
Workaround that worked for me on iOS:

Set the authorizationType to `NONE` in the flutter amplifyconfig, and manually set the headers. By setting to `NONE`, the Amplify SDK doesn't overwrite the `Authorization` header and you can now use the Id token instead.

In your Authorizer in the API Gateway Console, set the `Token Source` to `Authorization`, and use the authorizer for the endpoints.

Settin

[2021-08-05 08:49] aayushkedawat commented on #774
@Jordan-Nelson Network connection is low like 50-70 KBPS, and the size of the image is around 150-200 KB.

[2021-08-05 09:10] raaone7 commented on #432
all I had similar issue, adding
`amplify_core: ^0.2.2` in pubspec.yaml
solved the problem , worth trying it out

[2021-08-05 14:46] Jordan-Nelson commented on #774
@aayushkedawat - Thanks for the info. I will try to reproduce this and get back to you.

[2021-08-05 16:05] ragingsquirrel3 commented on #547
This was released with 0.2.2 and we added some documentation for this at the bottom of https://docs.amplify.aws/lib/graphqlapi/authz/q/platform/flutter . Thanks again @jodafm ! I'm going to close this issue now.

[2021-08-05 16:05] #547 closed

[2021-08-05 16:08] twink1e commented on #714
Thanks for the debugging tips @dnys1 . I tried and it showed the problem is that I configured a wrong identify pool id

[2021-08-05 16:08] #714 closed

[2021-08-05 21:18] fdarsot commented on #418
@Jordan-Nelson Thank you for the update.

Please keep in mind our use case for this global signout as well. Essentially we want to use it to enforce Single Device Sign on/login.

we should somehow be able to use this at the time of a user logging in, (possibly before they login) this would ensure they are logged out of all other devices, and then log them in to the single device that they are tryi

[2021-08-05 23:01] cshfang commented on #767
Hi @rohanakut, thanks for filing this issue. I attempted to replicate the models you shared above but was unable to reproduce the `NullPointerException`. Could you let me know if
1. The app that is producing the error above is currently integrated with real-time sync to the cloud?
2. What the output of
[code]

[2021-08-05 23:46] ragingsquirrel3 commented on #457
Hello @cto-leaps . Thanks for your patience while I looked into this. I agree it’s confusing as I spent a lot of time to understand it myself. There may be 2 issues at play here:

1)	Using guest access for a single auth mode, either with API keys or IAM authorization
2)	Using multiple auth modes.

We just added support for #2 via @jodafm’s PR adding support for the apiName parameter to GraphQL req

[2021-08-06 04:12] fdarsot opened #784 "Need Clarification for new update 0.2.2"
With the addition of new feature feat: Auth Devices API (#735) in the new update 0.2.2 i was wondering if we can now call the different functions
Amplify.Auth.rememberDevice
Amplify.Auth.forgetDevice
Amplify.Auth.fetchDevices

can someone provide an example use case please.

thank you

[2021-08-06 15:13] HuiSF commented on #444
The fix for this issue has been released with amplify-flutter 0.2.2 version.
Please give it a try, and feel free to follow up if you encountered any issues. Thanks :)

[2021-08-06 15:18] HuiSF commented on #642
With amplify-flutter 0.2.2 release, nested models (root model `belongsTo` nested models) will be populated with data to provide easy access.

[2021-08-06 16:42] dnys1 commented on #784
Hi @fdarsot - great question and yes, these functions are now fully available. Please have a look at the [iOS](https://docs.amplify.aws/lib/auth/device_features/q/platform/ios) and [Android](https://docs.amplify.aws/lib/auth/device_features/q/platform/android) docs for use cases while we prepare Flutter-specific docs.

[2021-08-06 17:32] rmargolinross commented on #400
Is this still being worked on?

[2021-08-06 17:34] rmargolinross commented on #400
A cleaner way to write this is ```totalValue = (json['totalValue'] as num?)?.toDouble();```

[2021-08-06 18:59] dnys1 commented on #784
Hi @fdarsot - The new docs are live here: https://docs.amplify.aws/lib/auth/device_features/q/platform/flutter

[2021-08-06 18:59] #784 closed

[2021-08-06 19:01] hackrx opened #787 "Relationship names generated by Admin UI conflicts with model names by default"
**Describe the bug**
I created a data model in the amplify and I used the following types:
1. Enum
2. CustomType
3. Scalar types
Enum and Scalar types along with model fetched perfectly with the amplify pull, but for the custom type, blank file with these two imports are generating.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a data model with custom type,
2. Pull this mode

[2021-08-06 19:38] cshfang commented on #787
Hi @hackrx would you be able to share with me what graphql schema you're using that's leading to the blank files above?

Could you also share with me what version of the CLI you're currently using?
[code]

[2021-08-06 20:25] hackrx commented on #787
Hi @cshfang, thanks for the quick reply. I can't share the complete graphQL schema, but yes I can share a part that is having issues.
`Notification` [Model]
![image](https://user-images.githubusercontent.com/54453778/128566577-367c94a0-ae4c-4237-b5fe-034f06dfe83f.png)
`NotificationObjectType` [CustomType]
![image](https://user-images.githubusercontent.com/54453778/128566636-72f32bae-0d11-4ef9-b13a

[2021-08-06 21:04] cshfang commented on #787
Thanks for following up with the above, @hackrx

Regarding the empty `NotificationObjectType` model, this is the result of CustomType being a nested model. Unfortunately, at this time, amplify-flutter does not yet support nested models but we are actively working towards this. You can track the progress of this effort here: https://github.com/aws-amplify/amplify-flutter/issues/260

Regarding the C

[2021-08-07 05:07] hackrx commented on #260
I am also facing the same issue, any updates on this?

[2021-08-07 05:23] hackrx commented on #787
Thanks @cshfang, I upgraded the amplify CLI version to
`5.1.0`
Now nested custom type issue is solved but still, I am facing issues with the model.

`MSubscription` [Model]

![image](https://user-images.githubusercontent.com/54453778/128588923-7730d226-6aad-4053-976a-51c4a5382030.png)

`lib/models/MSubscription` [file]

![image](https://user-images.githubusercontent.com/54453778/128588948-8eed4899

[2021-08-07 08:04] hackrx opened #789 "[Reopen #787] Model from amplify admin UI is not exporting properly"
**Describe the bug**
I am reopening the issue closed by @cshfang, I am facing this issue with many models.
#787

[2021-08-07 08:22] hackrx commented on #787
I found a solution for this, when I commented the getter from the file, then it is recognizing the type:
`lib/models/User.dart`
![image](https://user-images.githubusercontent.com/54453778/128593856-bf895140-8f5f-4503-a199-29c404eb4689.png)

and in `lib/models/MSubscription.dart`

![image](https://user-images.githubusercontent.com/54453778/128593926-c621af01-7f92-42a8-8b42-472f736c3f91.png)

but I

[2021-08-07 08:51] cshfang commented on #789
Closing in favor of original ticket for context: https://github.com/aws-amplify/amplify-flutter/issues/787

[2021-08-07 08:51] #789 closed

[2021-08-07 15:43] zognotadog commented on #319
+1

[2021-08-07 17:19] rohanakut commented on #767
Thank you for the reply @cshfang .

1. The app is synced real time with the cloud
2. On running the above query, the output of deckList is as expected
`[DeckListTable {id=171a05c0-e3e2-493b-9731-24a0bf1ae75a, deckName=first, logintableID=28f10caa-aa9d-4ad7-ace4-b05f4b3766a0}]`

Thank you

[2021-08-08 10:55] hackrx commented on #787
I am able to solve this issue, by editing models relationship, like if I have a relationship user to MSubscription i.e 1:1. So I named this relationship as MSubscription (Default) in the user model, which was creating conflict in the generated dart file. In getter function, it was written as
[code]
that's why it was creating conflict, instead of MSubcription (default) I changed it to userToMSubscr

[2021-08-08 19:46] yadisnel commented on #438
No news here?

[2021-08-09 06:22] yukitaka13-1110 commented on #635
Any update?

[2021-08-09 07:47] Blake-James commented on #234
+1 for an ETA or at least an indication of if this is still on the roadmap.

[2021-08-09 11:38] albertms10 commented on #148
`Amplify.Auth.fetchAuthSession` returns a `Future<AuthSession>`. Instead of trying to cast its value as `FutureOr<CognitoAuthSession>`, you could leave it as follows to let Dart infer its type automatically:
[code]

[2021-08-09 12:09] toshiossada opened #790 "Error when I do Apple's Login"
Hello, I'm using cognito to do social network login, Facebook's Login and Google's Login works great but and I done Apple' Login I get follow error.
I'm testing on android device

![image](https://user-images.githubusercontent.com/2637049/128703324-bce2edf0-bb48-40ec-8824-18ee8fdfb7a3.png)

[code]

[code]

[code]

[2021-08-09 12:20] toshiossada commented on #790
![image](https://user-images.githubusercontent.com/2637049/128704902-61403579-8686-43ff-a4c7-498d2350c8e4.png)
![image](https://user-images.githubusercontent.com/2637049/128704975-279b551a-4d31-4cba-93d5-cc9f2dc72592.png)
![image](https://user-images.githubusercontent.com/2637049/128705038-83fae2e7-3f80-4611-806e-f07757fa0646.png)
![image](https://user-images.githubusercontent.com/2637049/12870511

[2021-08-09 12:41] flutteresbolivia commented on #772
thanks!

[2021-08-09 12:41] #772 closed

[2021-08-09 13:23] FirdousNath opened #791 "Fatal Exception: java.lang.IllegalStateException: Reply already submitted"
[code]

This error is being seen on crashlytics. Mu pub spec.yaml looks like :
[code]

[2021-08-09 15:03] julien-tamade commented on #201
Anybody know how to do the opposite, get the username on both instead of email?

[2021-08-09 17:40] cshfang commented on #787
Hi @hackrx
Thank you for your investigation and explanation. I was able to reproduce this via Admin UI and would like to keep this issue open for tracking this problem. In general, I think we use lowercase for the relationship field in models and I suspect that's the reason why we had no run into this so thank you for calling it to our attention.

[2021-08-09 18:31] cshfang commented on #787
Sharing minimal repro steps:

Given models created via Admin UI, the default relationship name is often exactly the same as the related model:
![image](https://user-images.githubusercontent.com/5827964/128754684-f63b89cc-bc53-4952-9ca9-a9c76f484ee8.png)

This results in a schema like the one below:
[code]
This results in a conflict as both the `Author` model and the `Author` relationship would be

[2021-08-09 19:14] cshfang opened #794 "A schema with ID ONLY results in invalid codegen model"
**Describe the bug**
When creating a graphQL schema for a model, it is entirely possible/valid (albeit maybe not very useful) to create something that has ID ONLY. E.g.
[code]
But the above schema would result in invalid codegen'd Dart models as it always tries to tack on an initializer list but ID is never a part of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify `schema.graphql`

[2021-08-09 21:35] Jordan-Nelson commented on #418
@fdarsot - Right now I am looking into implementing global sign out as it exists in the iOS and Android libraries.

It isn't intended for your exact use case. As @haverchuck mentioned, you could likely use this API for your use case, but it is definitely not the intended use case and would be a work around. There could be unexpected behavior since it isn't the intended use of global sign out.

In

[2021-08-09 23:26] fdarsot commented on #418
@Jordan-Nelson Ah i see. Yes that would be great. lets keep this open for tracking/help.

Any idea approx on the eta for the feature to be implemented and released?

thank you btw

[2021-08-10 00:34] cshfang commented on #794
Duplicate of #759

[2021-08-10 00:34] #794 closed

[2021-08-10 04:38] rbraun04 commented on #234
+1 for ETA and roadmap.  Ty

[2021-08-10 07:39] mannnish commented on #172
i want to update some data through update enpoints, using this code
[code]
the output says ```getCredentials: Validated user is signed-in```
but I cant see anything in the console
also is there any tab where i can see all the updateendpoint request in aws?

[2021-08-10 13:49] hackrx commented on #677
I am seeing this warning in the console too,@cshfang can you please tell me which amplify_auth_cognito version does include this fix.
The version of amplify auth, which I am using:
[code]
Warning:
`D/AuthClient(22687): Authorization flow completed successfully
W/amplify:flutter:auth_cognito:utils(22687): HostedUIRedirectActivity is not declared in AndroidManifest.`

[2021-08-10 14:56] Jordan-Nelson commented on #418
@fdarsot - I do not have an ETA at the moment.

I am going to update the title of this issue and #398 just to make it clear this ticket is tracking single device sign on, and #398 is tracking global sign out.

[2021-08-10 14:58] Jordan-Nelson commented on #398
FYI - This issue will be used to track a global sign out feature, which is currently supported in the iOS and Android libraries. #418 will be used to track single device sign on.

[2021-08-10 15:01] raaone7 commented on #234
+1 for ETA and roadmap

[2021-08-10 16:42] dnys1 commented on #790
Hi @toshiossada, sorry you are experiencing this issue. Please verify you have added the Hosted UI activity to your Android manifest and try signing in again: https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/flutter#android-platform-setup

[2021-08-10 16:45] toshiossada commented on #790
Yes I did.
Google and Facebook' Login works well
Just Apple's login doesnt work

[2021-08-10 19:18] dnys1 commented on #790
Thank you for verifying. Could you also please verify that you have configured Sign In With Apple as such?

 Enter your Services ID for your OAuth flow:  <bundle ID>.sid
 Enter your Team ID for your OAuth flow:  <10-digit alphanumeric code>
 Enter your Key ID for your OAuth flow:  <10-digit alphanumeric code>
 Enter your Private Key for your OAuth flow:  <.p8 key with no headers and newlines>

[2021-08-10 20:01] fsilavong commented on #302
Similar error occurred for me when I used the code suggested above:

[code]

[2021-08-10 21:40] jobypthomas commented on #400
@rmargolinross @fjnoyp @Lorenzohidalgo
I am having the same issue. This started happening since I made my app null safe and upgrading to library 0.2.2 from 0.1.0. Also, it happens only in iOS. Android works just fine. Apparently, the workaround does not work for me. I modified the "Employee.fromJson()" method in the generated Employee.dart file and replaced
`_salary = json['salary'] `
with
[code]

[2021-08-11 00:14] dnys1 commented on #677
Thank you for reporting this bug. The docs have been updated now.

[2021-08-11 00:14] #677 closed

[2021-08-11 00:30] dnys1 commented on #740
Hi @dev-Roshan-lab were you able to resolve this issue? The error message is saying the user pool client does not exist. Do you remember if you had made some changes to your auth category in and around this error? You may have luck removing the `amplifyconfiguration.dart` file present and running `amplify pull` to ensure you have the latest changes.

[2021-08-11 00:30] dnys1 commented on #748
Closing due to inactivity. Please reopen if @Jordan-Nelson's suggestion does not work for you.

[2021-08-11 00:30] #748 closed

[2021-08-11 00:35] dnys1 commented on #731
Sorry for the discrepancy you are seeing between iOS and Android's `additionalData` field. Your solution is the correct way to query the current user's auth tokens.

Closing this for now. Please reopen if you experience any issues with this solution.

[2021-08-11 00:35] #731 closed

[2021-08-11 10:02] ram-readwhere opened #796 "Image not uploading in S3 when flutter framework is integrated in iOS app"
We have created a flutter module with AWS Amplify. We are using S3 for storing images.Guest are allowed to create/delete images.Images are being uploaded on S3 successfullly. When this module is used as framework in iOS app,there is error in uploading image on S3.

Error, we are getting - [AmplifyStorageOperations] The operation couldn’t be completed. (Amplify.StorageError error 1.)
2021-08-11 11:

[2021-08-11 12:55] hackrx opened #797 "An error occurred during the push operation: Resource is not in the state stackUpdateComplete"
**Describe the bug**
I am have been stuck with this issue for 2 days, this occurs when I try to update social(google) auth redirect url locally and via amplify admin UI.

**To Reproduce**
Steps to reproduce the behavior:
1.  Initialise new social auth via admin UI.
2. Paste the web client ID and secret and paste the redirect URL to GCP.
3. Insert redirect URL I want to add `<appName>://` but it do

[2021-08-11 14:06] jobypthomas commented on #400
Another thing I noticed is that for "Int? type in schema.graphql, dynamodb stores as int (eg: 9). However, the ".fromJson" receives them as float (eg: 9.0) randomly. I had to explicitly handle them to make it to work.
[code]
Please note, I have this issue only in iOS. Android works just fine.

[2021-08-11 19:05] dander11 commented on #733
I'm having this issue intermittently with users even after uninstalling and reinstalling. Is there really something left behind from previous installs that is causing this?

[2021-08-11 21:32] Jordan-Nelson commented on #474
@gauravdangi or @AndreyGuitar would you mind providing some more info on the behavior you are experiencing versus the behavior you are expecting? If you can include reproduction instructions that would be great. It sounds like you may be experiencing a bug, and I would like to reproduce it so that we can look into a fix.

If the refresh token is still valid, the access and ID token should automati

[2021-08-11 21:58] Jordan-Nelson commented on #299
Hello @rayhaanq and @autthapol-k - Thank your for opening this issue. This is not something that is being actively worked on, but it has been a feature request in the amplify native libraries as well. I am going to link those issues for reference. We will continue to use this issue to track interest in manually/proactively refreshing the token.

amplify-ios: https://github.com/aws-amplify/amplify-

[2021-08-11 22:25] dnys1 opened #798 "Custom HTTP Interceptors"
**Describe the bug**
Support for custom HTTP interceptors, as is available in both [iOS](https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/ios#adding-headers-to-outgoing-requests) and [Android](https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/android#adding-headers-to-outgoing-requests)

- #671
- #749

[2021-08-11 22:27] tombiggs-nz commented on #234
+1 for web support

[2021-08-11 22:27] dnys1 commented on #671
Created a feature ticket to track this: https://github.com/aws-amplify/amplify-flutter/issues/798

[2021-08-11 22:28] dnys1 commented on #749
Created a feature ticket to track this: https://github.com/aws-amplify/amplify-flutter/issues/798

[2021-08-11 22:28] #749 closed

[2021-08-11 23:05] Jordan-Nelson commented on #186
Hello all - It looks like this issue fell off of our radar, but I am looking into it.

I wasn't able to reproduce this in the latest version of amplify-flutter on an Android device. In a sample app with refresh tokens set to 60 minutes and access/ID tokens set to 5 minutes, I was able to continually call Amplify.API.get() and Amplify.API.put() every few minutes for 60 minutes straight. The Access/

[2021-08-11 23:54] fjnoyp opened #800 "Datastore - iOS Nested Model int field crash"
**Describe the bug**

In iOS, if you have a nested model with a field type of int, any queries will fail.  This is because iOS returns a `NSNumber` type which is treated as a double in Flutter.  As a result the following exception will be thrown:

`
DataStoreException(message: An unrecognized exception has happened while Serialization/de-serialization. Please see underlyingException for more detai

[2021-08-12 06:32] hackrx opened #801 "Warning: Operand of null-aware operation '?.' has type '<Model2>' which excludes null."
**Describe the bug**
The generated model from GraphQL schema is giving warning `Warning: Operand of null-aware operation '?.' has type 'Squad' which excludes null.` in each model.

**To Reproduce**
Steps to reproduce the behavior:
1. Just create two basic models in amplify admin
2. Make a 1:n or M:n relationship between two models.
3. Pull the changes
4. Then flutter run, you will see warnings in

[2021-08-12 09:14] absarrahman opened #802 "amplify_storage_s3 faces timeout issue for slow internet"
**Describe the bug**
Basically the storage fails to load the file because of slow internet. As a result the it fails to load the data

**To Reproduce**
Steps to reproduce the behavior:

After the app starts, the data starts loading and during that time the timeout occurs. Possible reason is due to slow bandwidth.

**Expected behavior**
The data was supposed to load.

**Screenshots**
If applicable,

[2021-08-12 09:18] absarrahman commented on #802
![image](https://user-images.githubusercontent.com/35573458/129172061-3d5ea6c5-0aab-4d51-a77e-dcb227828fa5.png)

[2021-08-12 15:49] ChaitanyaVootla commented on #260
I'm unable to create and use any 1:n relationship, which is a very basic use case, can someone please tell me if there is workaround

[2021-08-12 16:25] dnys1 commented on #733
Hi @dander11, please see the documentation available [here](https://docs.amplify.aws/lib/info/app-uninstall/q/platform/ios) for this issue. The Flutter team does not currently have an automated solution planned for this issue. Please consider filing a feature request ticket if that is something you'd like to see.

[2021-08-12 16:34] Jordan-Nelson commented on #802
Hello @absarrahman - This looks like a duplicate of https://github.com/aws-amplify/amplify-flutter/issues/774. Do you mind adding the logs in a comment on that issue so that they can be tracked on one spot? Info about the file size and network bandwidth would be helpful as well.

I am going to close this out as a duplicate.

[2021-08-12 16:34] #802 closed

[2021-08-12 20:16] Jordan-Nelson commented on #774
Hello @aayushkedawat - I was able to reproduce this with a similar file size and network speed. This is happening due to the default 15 second network timeout in amplify-android, which amplify flutter uses when targeting android.

Currently there is no way to customize that timeout. If you have a use case for a longer timeout, we can make this a feature request.

I am going to at least mark this a

[2021-08-12 22:30] hackrx commented on #416
any updates on this?

[2021-08-13 14:50] hackrx opened #804 "SignOut doesn't invalidates the browser cache in OAuth Google[External federated identity provider]"
**Describe the bug**
When a user installs the app, he is able to choose an acc. between different google accounts for signup. But when the user is logged out and tries again to login, SignWithWebUI doesn't let the user choose another google account, it just automatically logs in with the previous account.

Code for login:
[code]
Code for log out:
[code]

**To Reproduce**
Steps to reproduce the beh

[2021-08-13 14:52] rohanakut commented on #767
@cshfang Is there any update on this?

[2021-08-13 15:46] cshfang commented on #767
@rohanakut I am still unable to reproduce this on my end, unfortunately. I will try to work backwards from the error but anything you can do to help me repro would be most helpful. E.g. if you could share a minimal project or code snippets where this issue manifests in an app from scratch it would go a long way.

[2021-08-13 19:25] julien-tamade opened #805 "No Way to Monitor S3 Progress"
**Describe the bug**
There is no way to add a listener to track download or upload progress for S3. This exists in iOS and android, however.

**Expected behavior**
Need a way to track download progress because my users are downloading large files.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[x] Android
[x] iOS

[2021-08-14 05:13] 2u6z3r0 commented on #319
+1

[2021-08-15 05:45] jamesmoore255 commented on #414
Any updates on this?

[2021-08-15 14:26] amkuchta commented on #508
@haverchuck I am having the same issue as above - I tried the "comment / uncomment" fix, and didn't have any luck.  Should I open a new ticket, or can we re-open this one?  For reference, my config is below:

### Error Message

https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
match your scenario, and file an issue with the details of the bug if the

[2021-08-15 15:36] DaviRolim commented on #93
I'm having the same issue, I'm trying to use the signInWithWebUI, but I deleted the user manually from the pool, and now every time I try to signIn again I get this error and I can't find a way to stop this from happening. I already tried to SignOut before signIn but the same error occurs.

[2021-08-17 13:46] orestesgaolin commented on #755
When using custom auth flow, is there any (hacky) way to achieve that in with Flutter SDK?

[2021-08-17 15:42] Jordan-Nelson commented on #186
@FirdousNath @Rayv1 @ekoto4 @CamronLDNF - If you are still experiencing this issue can you please share what version of amplify-flutter you are using and provide minimal repro steps? Thank you.

[2021-08-17 21:47] Jordan-Nelson opened #813 "DataStore throws Exception when querying models with nullable lists if the list is null"
**Describe the bug**
DataStore throws an Exception when querying models with nullable lists if the list is null. This applies to List of type int, TemporalDate, TemporalDateTime, TemporalTime, TemporalTimestamp.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a model with a field of type List<int>? (note: This is also reproducible with TemporalDate, TemporalDateTime, TemporalTime, Tem

[2021-08-18 14:18] Jordan-Nelson opened #814 "DataStore throws an exception parsing the value returned from type [AWSTimestamp]"
**Describe the bug**
DataStore throws an exception parsing the value returned from type `[AWSTimestamp]`. This is due to `TemporalTimestamp.fromSeconds` expecting an int, but receiving a double. This is only seen on Android.

example schema

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a model such as the one above in your schema
2. Attempt to save an object
[code]
3. Attemp

[2021-08-18 14:44] Jordan-Nelson commented on #814
### Cause
The cause of this is that the values returned from the native side (on Android) are doubles. That can be seen in the screenshot below.

<img width="546" alt="Screen Shot 2021-08-18 at 10 07 59 AM" src="https://user-images.githubusercontent.com/20613561/129916877-c75d3c91-e4da-4979-9a7d-89bf8cfab373.png">

The code to parse the timestamp expects an int, which can be seen below.

https://g

[2021-08-18 15:35] dnys1 opened #815 "DataStore Multi Auth"
**Describe the bug**
A clear and concise description of what the bug is.

Feature request: Multiple authorization modes in DataStore, as supported in [iOS](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/ios/#configure-multiple-authorization-types) and [Android](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/android/#configure-multiple-authorization-types).

[2021-08-18 16:54] epomeranz opened #816 "Autogenerated code for fromJson in all models doesn't match AppSync's query results when there are nested models in the query"
**Describe the bug**
Amplify automatically generated the code for all the models, including the fromJson functions. Additionally amplify also generates the basic resolvers for basic queries. Unfortunately, the amplify queries do not work with the fromJson functions when there are nested tables...
i.e. if I have this query:

[code]

Conversation has a list of messages and a list of participants...

[2021-08-18 18:11] cptfrankdatank commented on #319
+1

[2021-08-18 18:11] Jordan-Nelson opened #817 "TemporalTime and TemporalDateTime do not save correctly in DataStore"
**Describe the bug**
When using `TemporalTime` or `TemporalDateTime`, the data saved to DataStore does not match the data retrieved from DataStore. The queried value is swapping milliseconds, microseconds, and nanoseconds. This can be observed in the screenshot below, which shows a list of 5 models prior to saving them, and then a list of 5 models after saving/querying.

<img width="772" alt="Scre

[2021-08-18 18:30] dnys1 commented on #804
Hi @hackrx - sorry your are facing this issue. It appears to be a bug in the Android library which is currently under investigation: https://github.com/aws-amplify/amplify-android/issues/1287. We will be following the issue there and will incorporate their fix ASAP once it's available.

[2021-08-18 18:52] #444 closed

[2021-08-18 19:02] offlineprogrammer commented on #578
Hi @Merglobe

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide more details

Regards
Mo

[2021-08-18 19:02] #578 closed

[2021-08-18 19:04] offlineprogrammer commented on #529
Hi @sandeepmr29

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide more details

Regards
Mo

[2021-08-18 19:04] #529 closed

[2021-08-18 19:11] #705 closed

[2021-08-18 19:16] Jordan-Nelson commented on #816
Hi @epomeranz - Thanks for taking the time to open the issue. Do you mind sharing your `schema.graphql` file and the snippets of dart/flutter code that you are using to perform the save/query operations?

[2021-08-18 22:42] Jordan-Nelson opened #818 "[Feature Request] Support Cascading Save & Delete"
There are a few scenarios that produce unexpected behavior due to the lack of support for Cascading Save and Cascading Delete.

### Issue 1: NullPointerException when deleting hasOne nested model

**Describe the bug**
A NullPointerException is thrown when trying to delete models with certain hasOne schemas.

**To Reproduce**
Steps to reproduce the behavior:
1. create a schema such as the one below

[2021-08-18 23:17] hackrx opened #819 "Exception not thrown when user cancel the auth flow in android"
**Describe the bug**
When a user tries loging with `signinWithWebUI` and then press the cross button in the left right corner, then there is no exception is thrown on flutter side in android. In IOS it is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Try signInWithWebUI and google as identity provider.
2. Click on cross button
3. It will log `D/AuthClient(16746): Authorizatio

[2021-08-19 05:47] cshfang commented on #818
I think this may be an issue with hasMany relationships as well:
https://github.com/aws-amplify/amplify-flutter/issues/767

[2021-08-19 14:23] Jordan-Nelson opened #820 "DataStore does not return nested data for belongsTo relationship if parent model is created/saved after children"
**Describe the bug**
Functionality was recently added to return nested data for belongsTo relationships. Example: In the Blog/Post/Comment example, when a Comment is queried, the associated Post should be returned.

This behavior does not work as expected if the parent model created after the child models.

[code]

The behavior does work if the parent model is created/saved BEFORE the children, li

[2021-08-19 16:15] HuiSF commented on #818
Thanks for reporting this issue!

It seems the platform libraries currently are not supporting cascading save, e.g.

`Comment` belongs to `Post`, if a `Comment` saved (created) before its parent `Post`, the `belongsTo` relationship won't be created as `Comment` is missing `postId` field.

I think the new feature of cascading save and delete will be planned in the near future, will follow up and up

[2021-08-19 18:21] Ndivhuwo commented on #234
+1 for web support and ETA please

[2021-08-19 23:55] arockett commented on #234
+1

[2021-08-20 01:24] otabek1 opened #821 "Cannot sync with the cloud"
**Describe the bug**
I am using Amplify DataStore and API to save to on the cloud. But I am getting "Failed to load class "org.slf4j.impl.StaticLoggerBinder" error when I try to save an object. I followed the same tutorials from the documentation and Youtube.
**To Reproduce**
Steps to reproduce the behavior:
1. Create data model and deploy.
2.  Try to save it on the cloud with API

**Expected beha

[2021-08-20 01:35] HuiSF commented on #821
Hello @otabek1 , thanks for opening this issue.
To my knowledge, `org.slf4j.impl.StaticLoggerBinder` warning was thrown from System Logger not amplify libraries. And it doesn't block amplify cloud syncing.

Here are some tips to help you resolve the issue:
* Check the content of `lib/amplifyconfiguration.dart` if it has correct configuration
* Check App running log, do you see something similar to

[2021-08-20 02:02] otabek1 commented on #821
Hey @HuiSF Thanks for the quick reply.

Here are my logs and there does not seem to be any issue:
I/amplify:aws-datastore(12408): Successfully enqueued PendingMutation{mutatedItem=SerializedModel{id='a6506aa0-a1b6-42f8-a30c-73ceeffe91b0', serializedData={firstName=Lorem ipsum dolor sit amet, lastName=Lorem ipsum dolor sit amet, totalEarned=123.45, phoneNumber=(555) 123-6789, hasChildren=true, tota

[2021-08-20 02:05] HuiSF commented on #821
[code]
This message usually means the locally saved data has been synced to cloud successfully. Could you also check from the DynamoDB console, see if the data has been written into the tables?

[2021-08-20 02:07] otabek1 commented on #821
I checked it is empty.

[2021-08-20 16:48] HuiSF commented on #400
Thank you for the follow up @jobypthomas
This PR should be able to fix the issue you mentioned in your latest comment. I will do some testing and update here.

[2021-08-20 16:52] b-cancel opened #822 "Couple of Bugs that are preventing AppSync from Synchronizing Local Datastore Changes Globally/Online"
**In Summary***
There are a couple of issues that I've run into using the (Amplify Datastore and API Combination)
and I've been reading many of the bug reports, and many seem to be related,
so I thought I'd post a compilation here since I assume that posting each individually would be annoying

Hopefully, I can also point many folks here and show them the workarounds I used,
so they can at least g

[2021-08-20 17:01] b-cancel commented on #821
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:01] b-cancel commented on #817
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:01] b-cancel commented on #814
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #813
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #736
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #611
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #585
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #579
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #558
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #496
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #494
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #422
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:02] b-cancel commented on #306
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:03] b-cancel commented on #279
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:04] b-cancel commented on #463
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:05] b-cancel commented on #297
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:06] b-cancel commented on #289
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:08] b-cancel commented on #737
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #615
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #578
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #573
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #529
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #507
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:09] b-cancel commented on #467
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:10] b-cancel commented on #421
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:10] b-cancel commented on #460
This is a bug report I just filed that includes a couple of bugs I found and the workarounds to each
after reading your bug report I think it could help others that might land on this page
https://github.com/aws-amplify/amplify-flutter/issues/822

[2021-08-20 17:26] offlineprogrammer commented on #457
Hi @cto-leaps

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide more details

Regards
Mo

[2021-08-20 17:26] #457 closed

[2021-08-20 17:37] cto-leaps commented on #457
So sorry @offlineprogrammer for my silence. I really thought I had commented back.
I managed differently in the end but if I have to switch back to my original needs, I will holler back.

[2021-08-20 17:42] HuiSF commented on #822
Hi @b-cancel thanks for the details, much appreciated!

**For bug 0**
I encountered this issue myself as well. `cli.json` should be push when `amplify status` shows there is an update. Here's what I did:

1. `amplify pull` -> `cli.json` doesn't have the feature flag set
2. enable the feature flag, and make a non-breaking schema change (adding a unused model)
3. `amplify push` -> `cli.json` stored

[2021-08-20 18:39] b-cancel commented on #822
Thanks for the quick reply @HuiSF

below I refer to Amazon's Servers as whatever technology stores the data I can see from the AWS Admin Console

**for bug 0**
Thanks! this worked for me
but for those that don't know where or how to make the change because they've been generating their shcemas by just using the AWS Admin Console

what worked for me was adding (assuming you don't have a model named

[2021-08-20 18:58] b-cancel commented on #822
**Update on Bug 1**
the try-catch worked because the mismatch was between my first query (against the User model)
but schema mismatches can happen anywhere
so to properly fix the issue you would have to wrap all of your queries in try to catches
and then handle clearly the database and then moving home appropriately in all cases

Needless to say this could be a lot of work depending on how your sy

[2021-08-20 19:14] b-cancel commented on #822
**Bug 4 Extension**
AWSURL does serialize properly if something is passed...
but I think anyone would also expect creating an object and setting the field to "" instead of null should still be valid
but doing so doesn't push the object to the Amazon Servers

[2021-08-20 20:36] HuiSF commented on #822
Glad some tips helped.

**For bug 3**

I believe the `insuranceId` is a required field in your `Car` model?

If the schema is defined like this, then all GraphQL types (e.g. mutation input type) will also require `insuranceId` field, if you were not able to provide a valid value, GraphQL will fail. (You should be able to see the underlying GraphQL error logged in the App console)

If you want to c

[2021-08-20 21:11] Jordan-Nelson opened #823 "DataStore does not return models with a null value for a field that is being used as a query predicate"
**Describe the bug**
If a model is saved with a null value for one of its fields, and then that field is used as a query predicate which should match `null`, the model with the null value will not be returned as expected. This is best illustrated through an example. Below is an integration test that will fail due to this behavior.

[code]

This really only applies to the `ne()` query predicate sin

[2021-08-20 21:34] kjones commented on #822
I can confirm that AWSJSON works as expected. It can be used in place of [nested types](#260) but requires all clients to be updated since AppSync is expecting a JSON string instead of a GraphQL sub-type. The underlying data storage is identical so you can switch back to a nested type once the Flutter SDK supports them.

[2021-08-20 22:41] hackrx opened #824 "bucket url with amz token and credentials expires early than 7 days"
**Describe the bug**
I created a post on `1629324269125` i.e ` Thursday, August 19, 2021, 3:34:29.125 AM GMT+05:30` (2 days ago), and I stored the image URL in the dynamodb table. According to the [docs](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html), this URL with appropriate credentials should be valid for 7 days. But it just expires in 2 days.
I think it is only v

[2021-08-21 00:25] b-cancel commented on #822
Thanks for that confirmation @kjones

And thanks for working through this with me @HuiSF

Unfortunately, I mentioned bug 3 and 4 as a bug because In both cases all the fields were *not* required

I just double checked the graph sql schema

Another bit of evidence is that I was able to create what I wanted from the AWS Amplify Admin Console
But I *could not* create it from the flutter app

[2021-08-21 00:43] HuiSF commented on #822
Thanks for the follow up @b-cancel sorry I misunderstood and thought `AWSPhone` is a custom type created by yourself 😅

Would you mind to post the model schema (You can find them in `schema.graphql`) of these problematic models?

Could you also paste the logs when invoking `Amplify.DataStore.save()`?

[2021-08-21 00:47] HuiSF commented on #821
@otabek1 could you please paste the schema of the model that cannot be synced to cloud? (you can find the schema in `amplify/backend/api/<your api name>/schema.graphql`).

[2021-08-21 22:34] rohanakut commented on #767
Sure @cshfang .
I will share with you the workflow that I am going through and also the necessary snippets.

Initially there is a login where I check the user has logged an existing account or not.
The amplify code for the same is

[code]

Once the user is logged in I try to fetch the content of that user. This is the code foe the same

[2021-08-22 01:57] b-cancel commented on #822
All the type I'm referring to by name are the ones allowed by AWS Amplify's Admin Console
<img width="506" alt="Screen Shot 2021-08-21 at 9 52 19 PM" src="https://user-images.githubusercontent.com/14949196/130339352-8da10f3c-2865-4632-8f94-fb56df3bdfae.png">
<img width="501" alt="Screen Shot 2021-08-21 at 9 52 29 PM" src="https://user-images.githubusercontent.com/14949196/130339357-6e188198-9159-4

[2021-08-22 10:15] 3boodjay commented on #319
+1

[2021-08-22 15:24] epomeranz commented on #816
Hi Jordan,

Unfortunately I can't share the graphQL schema for the app but I don't think the bug is limited to my schema. The sample schema will have the same inconsistency between the fromJson autogenerated code and the actual graphQL entities. The actual schema nests lists inside an "items" element. The fromJson expects the list to be in the root element and not nested inside an "items" element.

[2021-08-22 15:56] Ch4rl3B opened #825 "Support for Web, Desktop"
It'll be awesome if you add support for Web, Desktop... can this be possible? An approach or alternative to this for flutter??

[2021-08-22 18:42] guoguoguilai commented on #715
Did you find the way to push notification in Flutter?

[2021-08-22 21:21] raywhiteside opened #826 "gradle build failing due to robolectric version"
**Describe the bug**
`./gradlew build` failing due to robolectric version

**To Reproduce**
[code]
If you look at the failing report, this is the error:

[code]

The problem is the URL for maven is http not https, you can see for yourself the difference clicking on these links:

http://repo1.maven.org/maven2
https://repo1.maven.org/maven2

[code]

Similar issues:

https://github.com/flutter/flutte

[2021-08-22 21:41] rajd90 opened #827 "Selective sync on owner field returns no records"
**Describe the bug**
Before selective sync was introduced, my flutter app worked fine, although inefficient. After adding in the new sync expressions with query predicates on the owner field, the datastore sync seems to return no records at all. Remove the sync expressions seems to put things back to normal.

When I query the graphql API directly, in the same app, am do get results back when inclu

[2021-08-22 23:05] b-cancel commented on #822
@HuiSF Below I show three thing
1. the code I use to create the logs that inform what is hapening
2. things working using a String type instead of AWSPhone
3. things not working using a AWSPhone type

-------------------------*-------------------------*-------------------------

Amplify.DataStore.save() doesn't usually log anything,
but I've set up the code below in relevant locations
[code]

----

[2021-08-23 06:08] Monik09 commented on #715
Yes, @guoguoguilai. You have to set up google cloud messaging first and then you can send notifications through it. If you want to use amplify pinpoint with it, you will need a google token from the flutter app and then this token will be used on the pinpoint service web page to send the notification.

[2021-08-23 14:25] santhoshraje opened #828 "Flutter app using datastore and cloud sync crashes on start"
I have no issues running my app in debug mode but when I try to run it in release mode my app crashes immediately when it starts and I get the following error:

[code]

I am using the following configurations:
[code]

[2021-08-23 14:27] Jordan-Nelson commented on #820
Note: This is likely related to the lack of support for cascading save.

[2021-08-23 17:49] dnys1 commented on #824
Hi @hackrx - so, the issue here is that there are two expirations at play:
1. The expiration of the user credentials (the security token). Every user, even unauthenticated users, have implicit access credentials which expire.
2. The expiration of the URL given valid access credentials.

The expiration of the token is thus the minimum of the two expiration times.

[2021-08-23 19:11] HuiSF commented on #826
Thanks for reporting this issue and the detailed explanation. It looks like the Android packages in the codebase could use a upgrade. Will look into it.

[2021-08-23 19:45] dnys1 commented on #824
A possible solution might be to save the key instead of the URL and have each user needing access generate a URL for themselves.

Closing this issue for now but please feel free to re-open if this solution does not work for you.

[2021-08-23 19:45] #824 closed

[2021-08-23 20:50] Jordan-Nelson opened #830 "Most QueryPredicates do not work with type double/float on Android"
**Describe the bug**
The majority of the QueryPredicates do not work with type double/float. When using lt, le, gt, ge, or between, the QueryPredicate has no impact on the query.

**To Reproduce**
Steps to reproduce the behavior:
Here is a schema and in integration test that can be used to reproduce this:

[code]

[code]

**Expected behavior**
QueryPredicates should work for type Double

**Platfor

[2021-08-23 20:54] b-cancel commented on #822
Alright @HuiSF I detailed everything above
I'll leave the rest in your hands...

Additionally, to deal with bugs 1 & 2...

Before making edits to a model
1. (Admin Console) delete everything in that model from amplifying admin
2. let the flutter app synchronize that
3. stop the app from running
4. (Admin Console) make the edits to the model
5. pull the new model to the flutter app
6. start the app

[2021-08-24 00:39] HuiSF commented on #306
Hey @wer32 I'm sorry for not keeping in touch.
I got time today to dig into this issue as I've seen some similar issues popped up recently.

Following your description, I created a minimal example to reproduce the issue.

Schema that I was testing with:
[code]

In Dart
[code]

Interestingly, there is no error happened, and Dart printed "saved" in the console. Then I inspected local SQLite DB, the

[2021-08-24 01:46] HuiSF commented on #827
Hi @rajd90 thanks for reporting this issue. I will look into the selective sync.

In the meantime, regarding your point

I'd like to provide a different thought to achieve this.

Based on your description, the App needs only sync only the data belongs to the current user, and other users's data should not be synced . This can be achieved by leveraging DataStore model authorization. I personally th

[2021-08-24 02:00] HuiSF commented on #822
Thanks @b-cancel  I'll look into the issue around using `AWSPhone`.

In addition regarding this issue in bug 3

The `insuranceId` a partition key of an index of the `Car` table, it might be related to [this issue](https://github.com/aws-amplify/amplify-flutter/issues/306#issuecomment-904230597).

It has a workaround you can try, by defining the `Car` model as below:

[code]

This added `insurance`

[2021-08-24 02:56] HuiSF commented on #828
Hi @santhoshraje thanks for reporting this issue. This looks like an issue that happened within amplify-android.
I tried release build (amplify-flutter datastore example app) running in x64 Android emulator, everything went well for me.

Looking at amply-android issues, similar issues were reported, and they seem to be related to network conditions and number of models to be subscribed. Does any o

[2021-08-24 03:45] santhoshraje commented on #828
Hi @HuiSF thanks for the reply. I am currently running my app on a physical device. I have a stable network connection to the device and only have one model that I am subscribed to.

I did notice that in my code if I comment out the amplify API part I don't get this error. I am not sure why this is so. But I need that for the real time functionality in my app.

[code]

[2021-08-24 04:28] EduardoGascaAP opened #832 "React to Flutter"
I contacted support because I wanted to pull my existing amplify project (React Js) to Flutter. They told me that it is not possible to do "amplify pull --appId XXXXXXXX". Moreover, they told me to set up my amplifycononfiguration.dart manually. We generated the file and it was checked by AWS amplify support team. We were not able to do "amplify codegen models" or "amplify codegen --apiId XXXXXXX"

[2021-08-24 14:03] kjones commented on #827
While using owner auth does prevent other user's data from being synched, the AppSync VTL template will still perform an expensive DynamoDB table scan to find all of the owner's data in a table. I haven't looked at this in several months so this may no longer be the case... If that is still the case, how do you recommend getting the backend VTL to optimize use of owner auth and a "query by owner"

[2021-08-24 14:20] flutteresbolivia opened #833 "Multple API REST IMPORT or Add"
searched the main tutorial on the amplify page for flutter.

but it gives me this following manual configuration, but I don't know if I can put an array of apis to communicate with my backend.
Is it possible to have multiple endpoints in my project? and how is it done?

[code]

[2021-08-24 14:30] Monik09 commented on #715
I hope it helps @guoguoguilai

[2021-08-24 14:45] santhoshraje commented on #828
To investigate the issue, I created a new amplify project with the same model and a new flutter project:

[code]
The `observer` part of this code gives me the following error when I run it in release mode:

[code]

[2021-08-24 16:40] HuiSF commented on #833
Hello @flutteresbolivia I think you can configure multiple APIs. When you executing `amplify pull` to pull in different API configurations, it will insert multiple configurations into the configuration file.

[2021-08-24 16:52] HuiSF commented on #832
Hi @EduardoGascaAP thanks for opening this issue.

I think `amplify pull` works with ampliffy-flutter, that's how I pull in my previously configured Amplify APIs etc.

Here's the basic flow I personally use:

1. Setup flutter project
2. `amplify pull` at the root of the flutter project
3. It prompts which authentication method you are going to use
4. It prompts which profile (previously configured

[2021-08-24 16:57] HuiSF commented on #828
[code]

From this error it looks like the DataStore wasn't able to correctly create tables in local SQLite DB. Could you try to delete the App from you device and reinstall, restart again? (Or invoke `Amplify.DataStore.clear()` which will delete and recreated local DB tables.)

[2021-08-24 17:15] Jordan-Nelson commented on #825
Hi @Ch4rl3B - Thanks for opening this request. There are existing feature requests for web support (https://github.com/aws-amplify/amplify-flutter/issues/234)  and desktop support (https://github.com/aws-amplify/amplify-flutter/issues/133). We will continue to use those issues to track support for web/desktop. Feel free to 👍  those issues to express your support.

I am going to close this issue as

[2021-08-24 17:15] #825 closed

[2021-08-24 19:01] epomeranz commented on #816
I found another similar bug but in the "opposite direction". When an entity (i.e. "Message") as a sub-entity (i.e. "Owner") that is NOT a list (so not owners but a message has one single owner) then the fromJson expect the owner to be nested under a "serializedData" entity. So the autogenerated fromJson would look like this:
_owner = json['owner']?['serializedData'] != null... (You can see that th

[2021-08-24 19:34] HuiSF commented on #822
@b-cancel

For bug 4, when you are using type `AWSPhone` DynamoDB will verify if the value is a valid phone number. The example you are using is not a valid phone number, therefore DynamoDB rejected writing the record.

GraphQL request
[code]

GraphQL response
[code]

This is behavior of DynamoDB is expected... however, underlying APIs didn't throw this DynamoDB error, and the underlying APIs shou

[2021-08-24 20:07] Jordan-Nelson opened #834 "iOS and Android return different data for nested models with null/empty lists of models"
**Describe the bug**
In a typical belongsTo / hasMany relationship (posts and blogs for example), when the child (post) is queried, the nested parent model (blog) will be different on iOS and Android. iOS will return an empty list for the children (posts), but Android will return null.

If the parent (Blog) is queried directly, the returned data for the children (posts) is identical on the two pla

[2021-08-25 01:13] santhoshraje commented on #828
Thanks @HuiSF `Amplify.DataStore.clear()` clear worked for the second issue that I posted. Any ideas for the first issue? I have a deadline for this app and still cant seem to get it to work

[2021-08-25 02:10] HuiSF commented on #828
@santhoshraje After using `Amplify.DataStore.clear()` were you able to subscribe all models and was it running correctly with your new project?

[2021-08-25 14:52] toshiossada commented on #804
any update?

[2021-08-25 15:31] genjm opened #835 "Cognito Auth - FetchAuthSession Reports 'User Signed In' In Even Though The Tokens Are Invalid"
When I launch my application, it uses Amplify.Auth.fetchAuthSession() to check if the user is signed in / has a valid session.

Via the output, I can see that this fails due to 'Tokens are invalid, please sign-in again' within the AWSMobileClient code.

It retries twice & then reports the user as signed in correctly, at which point my application then tries to get the user attributes, which fails

[2021-08-25 17:44] flutteresbolivia opened #836 "[doubt] Remember Device"
I want to add a functionality in my mobile application.

I register my users through their phone number with SMS verification.

So when a user uninstalls the application from their phone and wants to log in again, they no longer have to check again to satisfy the user experience.

[2021-08-25 20:18] Jordan-Nelson opened #837 "Most QueryPredicates do not work with AWSDate, AWSDateTime, AWSTime, and AWSTimestamp"
**Describe the bug**
The majority of query predicates (eq, ne, lt, gt, etc.) do not work with AWSDate, AWSDateTime, AWSTime, and AWSTimestamp.

The examples in this issue will focus in AWSDate, but similar issues exist with all the date/time related types.

Example schema:
[code]

Using the schema above, this integration test for eq() will fail. This test just shows eq() not working, but the test

[2021-08-25 21:24] Jordan-Nelson opened #839 "QueryPredicates do not work with type bool on Android"
**Describe the bug**
The query predicates eq() and ne() do not work on Android with boolean types

**To Reproduce**
Steps to reproduce the behavior:
1. create a schema with an object that uses a boolean type
[code]

2.  Run the following test on Android and observe that is fails

[code]

**Expected behavior**
Query Predicates should work for bool types on Android as they do for iOS.

**Platform**

[2021-08-25 22:00] HuiSF opened #840 "[DataStore] Improvement: QueryField operator method operand parameter should be typed properly"
Currently DataStore category `QueryField` operator method [expects `dynamic` type operands](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore_plugin_interface/lib/src/types/query/query_field.dart#L34).
This reduces developer experience, e.g. for below schema:

[code]
When query with predicate by the value of `published`, the predicate can be created with any value

[2021-08-26 12:26] lifehetu opened #841 "CocoaPods could not finding compatible versions for pod amplify_flutter and amplify_auth_cognito"
**Describe the bug**
I am using "amplify flutter" and "amplify auth Cognito". Everything is working fine in Android, but on the ios side, I am unable to run the application. Even after trying out all the possible solutions discussed in the older tickets related to this issue, I am unable to get over this issue.

**To Reproduce**
use the below dependencies in the pubspec.yaml
And try to run the flu

[2021-08-26 13:50] #839 closed, assigned to nobody

[2021-08-27 14:46] Jordan-Nelson opened #842 "DataStore query throws Exception with empty QueryPagination on Android"
**Describe the bug**
QueryPagination() has no required arguments. `page` is optional and `limit` defaults to 100. However, the query will fail on Android if no value page is supplied. `page` should either be required or default to 0. On iOS, the first page is returned if no page is supplied.

**To Reproduce**
Below is an integration test which will throw an exception on Android.

[code]

**Expecte

[2021-08-27 21:10] fpabl0 opened #845 "[Feature Request] Equivalent of "setSignInUserSession" in flutter"
Hello, in [amplify-js](https://github.com/aws-amplify/amplify-js/blob/main/packages/amazon-cognito-identity-js/src/CognitoUser.js) there is a `setSignInUserSession` function, is there any equivalent of that function in Flutter?

[2021-08-27 23:06] HuiSF commented on #845
Thanks for the explanation. Currently, both [amplify-ios ](https://github.com/aws-amplify/amplify-ios/tree/main/Amplify/Categories/Auth)and [amplify-android](https://github.com/aws-amplify/amplify-android/blob/main/aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java) (dependencies of amplify-flutter) seem not providing this API. Probably need to raise feature

[2021-08-28 00:30] HuiSF commented on #585
Thank you @fafriat for reporting this issue and providing your solution! It looks like you have resolved this issue. I'll close this issue for now. Please feel free reopen or follow up if you have other issues.

[2021-08-28 00:30] #585 closed

[2021-08-28 00:56] HuiSF commented on #823
A workaround -

[code]

[2021-08-28 01:19] HuiSF commented on #287
@raywhiteside thanks for the follow up, `subscriptionDataProcessed` is just a normal event, the amplify-flutter DataStore Kotlin categorized it as unrecognized as the DataStore doesn't need to respond to it. However, the implement wrong used `Log.e` method which output this log as exception. Create a PR to fix this for a better developer experience.

[2021-08-28 01:23] HuiSF commented on #422
Closing this issue as the issue can be resolved by the workaround, and the root cause is tracked separately.

[2021-08-28 01:23] #422 closed

[2021-08-28 01:28] HuiSF commented on #558
This issue should be the same as #306 and the cause is described [here](https://github.com/aws-amplify/amplify-flutter/issues/306#issuecomment-904230597).

Closing this issue as a duplicate. Please feel free to follow up if we missed anything else.

[2021-08-28 01:28] #558 closed

[2021-08-28 01:31] raywhiteside commented on #287
Perhaps instead of demoting the error to an info, catch all the known events that don't need to be responded to and print info for those? That way if there is truly an unrecognized data type it still errors, which seems preferable.

In any case this fix will certainly clean up my logs, thanks!

[2021-08-28 01:43] HuiSF commented on #287
Sorry @raywhiteside I meant that I've created a PR to correct this behavior.

[2021-08-28 01:49] HuiSF commented on #823
SQLite value comparison doesn't count `null` is the root cause. It's an expected behavior in SQLite.

[2021-08-29 22:25] kcsarith opened #846 "Appsync unauthenticated read access examples?"
I just want to know how I can use Appsync to allow owners to create, read, update, delete from DynamoDB and everyone else to read only access.

Following the Amplify Documentation for Cognito owner CRUD and other read access is easy. When I created API I had the default authentication as Cognito and additional auth with IAM, then for my models auth rules I put. I saw this in a JavaScript video tut

[2021-08-30 07:20] lifehetu commented on #841
ok, @HuiSF
Thanks for your prompt help! 👍

[2021-08-30 07:20] #841 closed

[2021-08-30 09:13] sanjidbillah commented on #490
@babytiger0929 did you get solution?

[2021-08-30 16:26] offlineprogrammer commented on #796
Hi @ram-readwhere

I tested in iOS, and Android and I couldn't reproduce the issue

Feel free to test using the latest build and let us know if you got any issues

You can refer to the sample app and the docs for more details on Storage

Thanks
Mo

[2021-08-30 17:40] offlineprogrammer commented on #791
Hi @FirdousNath

Can you please provide more details on this

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-08-30 17:45] offlineprogrammer commented on #760
Hi @flutteresbolivia

Following up on this. If you are still experiencing an issue, please provide the info requested above.

Regards
Mo

[2021-08-30 17:50] HuiSF commented on #759
The amplify-codegen fix [has been released](https://github.com/aws-amplify/amplify-codegen/releases/tag/v2.26.3).

[2021-08-30 17:50] #759 closed

[2021-08-30 17:56] offlineprogrammer commented on #740
Hi @dev-Roshan-lab

Following up on this. If you are still experiencing an issue, please provide the info requested above.

Regards
Mo

[2021-08-30 17:59] offlineprogrammer commented on #704
Hi @FirdousNath

Following up on this. If you are still experiencing an issue, please provide the info requested above.

Regards
Mo

[2021-08-30 18:06] offlineprogrammer commented on #594
Hi @shajedulislam

I couldn't reporduce this issue. I am using the following on Apple store and it is working fine

[code]

Feel free to test using the latest build and let us know if you got any issues

Regards
Mo

[2021-08-30 23:13] Zecento commented on #319
+1

[2021-08-31 05:27] FirdousNath commented on #791
this issue is resolved when I wait `Amplify.Auth.fetchAuthSession` response. Actually I was calling it twice when token was expiring on android.

[2021-08-31 05:27] #791 closed

[2021-08-31 05:29] FirdousNath commented on #704
I am not able to reproduce. Actually I am not sure why this error is being raised. Maybe when I submit app to google play store, Google is automate testing it. Not sure but my crashlytics console show this error every time I push new update to my app.

[2021-08-31 05:49] rahul-readwhere commented on #816
Hey,
I am just curious you mentioned ," Additionally amplify also generates the basic resolvers for basic queries". I have been stuck on this for a long time to write a query in flutter to list filtered items in graphql. I know it is a bit off topic but do you mind suggesting something

[2021-08-31 14:19] offlineprogrammer commented on #704
Thanks @FirdousNath for the update.

Closing this issue based on your feedback

Regards
Mo

[2021-08-31 14:19] #704 closed

[2021-08-31 14:55] epomeranz commented on #816
Hi Rahul,

Here is a tip: Go to the AWS appSync console for your project and select the "queries" screen. Here you should be able to create queries using a UI. You can then copy/paste the queries to flutter and run them using the Amplify.API
That will get you 90% there. Unfortunately, the documentation for flutter amplify queries is almost non-existent so you'll have to do a lot of try and "error"

[2021-08-31 18:30] HuiSF commented on #801
This fix to amplify-codegen has been released.

[2021-08-31 18:30] #801 closed

[2021-08-31 19:09] dander11 opened #848 "[Authentication] Don't require the app to check if it's a first time running the app before checking auth session"
I was told to make a feature request so that we don't have to manually check if we can call fetchAuthSession. Bug information taken from here: https://github.com/aws-amplify/amplify-flutter/issues/733

 ### Describe the bug
 At app startup, I run

[code]

 to get info about the logged user that I need to initialize some other objects. If there is no logged user I catch the exception without lettin

[2021-08-31 22:06] HuiSF commented on #260
Hi @ChaitanyaVootla sorry for missing your comment above. I wanted to follow up with the use case you mentioned.

What are you actually referring to by 1:n relationship?

e.g. 1:n (hasMany relationship) this is supported by amplify-flutter DataStore today.

[code]

Or are you referring to collection of a `CustomType`? (this feature is in progress) e.g.

[code]

[2021-08-31 22:42] hackrx commented on #801
@HuiSF Thanks for the updated fix, but I am still facing this issue. In my case, I have `1:n` and `m:n` relationships in the models, which is still showing this warning.
For eg.
`User.dart` (Model file)
[code]
And I am facing this issue in other models too.

[code]
Please let me know if the `0.2.2` version has this fix. Thanks.

[2021-08-31 22:44] HuiSF commented on #801
Hi @hackrx Thank for the follow up!

This fix is made to amplify-codegen package, which is used by [amplify-cli](https://www.npmjs.com/package/@aws-amplify/cli) package. You may need to update the amplify-cli package installed in your local environment to get the fix and regenerate the models.

[2021-08-31 22:47] hackrx commented on #801
@HuiSF I am already using the Upgraded Amplify CLI version
[code]

[2021-08-31 22:53] HuiSF commented on #801
@hackrx it happened to me before, sometime it's pick up the latest codgen package.
Could you do this to verify?

if your `amplify-cli` is installed globally. Try run
[code]
to check which version of the amplify-codegen package was installed.

[2021-08-31 23:18] hackrx commented on #801
Yes, it was `amplify-codegen@2.26.2`,  but now I am using the updated version.
Thanks.

[2021-08-31 23:21] HuiSF commented on #801
Thanks for the follow up again @hackrx much appreciated! And thanks @cshfang for implementing this fix!

[2021-08-31 23:24] hackrx commented on #801
But I am still facing this issue 😅🥲
Here is the log of updated npm package:
[code]
Steps which I followed:
1. Updated the npm package globally as you suggested.
2. Deleted the old model folder from `/lib`
3. Then amplify pull --appId <id>

I checked the files, they are all same.

[2021-08-31 23:36] HuiSF commented on #801
Hum it looks correct to me
[code]

[code]

You can see the change of the `map` callback function, `e` is typed, and no unnecessary null aware operators.

Could you also try to execute `amplify codegen models` after pull?

[2021-08-31 23:43] hackrx commented on #801
I tried `amplify codegen models` but still no changes in the file. [Before that, I deleted the old models folder]
![image](https://user-images.githubusercontent.com/54453778/131589416-0e436711-c431-44f6-b78f-ebb77d4587de.png)

This warning is flooding the terminal, see:
![image](https://user-images.githubusercontent.com/54453778/131589530-7c83c11b-cbda-4071-810f-f9dcc0e032eb.png)

[2021-09-01 10:45] yakubbaev commented on #739
amplify-flutter does not support web yet #234

[2021-09-01 14:35] offlineprogrammer commented on #157
Hey @SalahAdDin @arealguru @jareddplzop @Josiah-Turnquist

I cannot reproduce this issue anymore

Feel free to test using the latest build and let us know if you got any issues

Regards
Mo

[2021-09-01 14:56] offlineprogrammer commented on #172
Hi @cvalab

You can add endpoints to Amazon Pinpoint by importing them from a CSV or JSON file.

![Screen Shot 2021-09-01 at 7 53 47 AM](https://user-images.githubusercontent.com/12375969/131694383-57e4da60-673d-43b4-a549-f7586629767b.png)

Regards
Mo

[2021-09-01 16:04] HuiSF commented on #801
By any chance, @hackrx is there an instance of amplify-cli installed locally to the project? That's the only thing I can think of that's not working...

[2021-09-01 16:30] offlineprogrammer commented on #276
Hi @bostaginting @satyasrikantmantha

With the Android PR merged in, confirm sign-in with custom challenge now works with Amplify.

Feel free to test using the latest build and let us know if you got any issues

Regards
Mo

[2021-09-01 17:02] yukitaka13-1110 opened #849 "I could subscribe by Amplify.API.subscribe, but no data received."
**Describe the bug**
I can subscribe successfully by executing `Amplify.API.subscribe()`.
But I couldn't receive mutation data.

**To Reproduce**
[code]
<img width="956" alt="スクリーンショット 2021-09-02 1 55 36" src="https://user-images.githubusercontent.com/22259776/131712315-675361b9-5c43-455f-8b0e-eb2742f28b89.png">

[code]

[code]
**Expected behavior**
Receive data from subscription.

**Platform**
Am

[2021-09-01 18:21] Jordan-Nelson opened #850 "[DataStore] Inconsistent support for min/max integer values"
**Describe the bug**
Datastore has inconsistent support for the max/min values that can be stored for for integer types. The following mix/max values are supported in each platform.

iOS Max: 2^53 (larger values can be saved, but the incorrect value will be returned when queried)
iOS Min: -(2^63) (min 64 bit int)
Android Max: 2^31 - 1 (max 32 bit int)
Android Min: -(2^31) (min 32 bit int)

**To Re

[2021-09-01 19:24] hackrx commented on #801
@HuiSF I can see in my root project dir, I don't have any package.json there, so that means it is not installed locally to the project. anyways I did `npm uninstall @aws-amplify/cli` and then I deleted blank generated `package.json` files.
After that, I again deleted the models folder and did `amplify codegen models`, and got the same results.
To test it more I created a new flutter project, and t

[2021-09-01 19:57] #274 closed

[2021-09-01 21:13] haverchuck commented on #848
@dander11 - Thanks for logging this issue. Unfortunately the .mov you posted doesn't seem to be working (the file name is just text). When you say that the fetchAuthSession launches a dialog, do you mean something that you've built, or the standard iOS webview alert (see below)?

![image](https://user-images.githubusercontent.com/10621276/131745946-1853b2f0-2a44-45d6-a987-48ea253373eb.png)

[2021-09-01 21:22] djsjr commented on #635
Receiving same error message using android studio. Tried steps suggested above to no avail. #432 seems to be similar, but with auth instead of api being the issue.

[2021-09-02 04:14] sanjidbillah opened #851 "Token is not from a supported provider of this identity pool"
**Describe the bug**
This is ok with IOS , but i get execption from android

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[X] Android
[✔️] iOS

<details>

  <summary>Output of <code>flutter doctor -v</code></summary>

[code]

</details>

<details>
<summary> amplifyConfiguration.dart file </summary>
const amplifyconfig = ''' {

[2021-09-02 06:32] yukitaka13-1110 commented on #849
I figured out mutation result must contains subscription arguments.
Is this a specification of AppSync?

[2021-09-02 08:19] babytiger0929 commented on #490
not yet :(

[2021-09-02 08:52] eyeledML commented on #546
Hello,
we are currently facing the same issue. We're using Cognito for authentication. Auth was configured using Amplify CLI including Google/FB social login integration. If we switch between user accounts this problem occurs occasionally. Any updates on this?

[2021-09-02 13:41] EricRenForCode commented on #850
I am trying to save a large Int value into my Model. And if the Int value is large but smaller than 2^32-1, the DataStore.save() saved successfully in Local, but failed to sync in Cloud. I finally change my Model filed type from Int to String to fix this issue.

[2021-09-02 14:37] #406 closed

[2021-09-02 14:55] yukitaka13-1110 commented on #441
@haverchuck Has this issue been solved?

[2021-09-02 23:49] HuiSF commented on #849
Per my understanding, amplify-flutter uses AppSync API as the dependency of the API and DataStore categories, so yes everything will need to follow AppSync specifications.

[2021-09-02 23:52] HuiSF commented on #801
Can you list me what's the scalar types are in these lists?
e.g. `[String]`,  `[AWSDateTime]` etc.

[2021-09-03 05:23] hackrx commented on #801
These lists are the models, as I already said I have a relationship between the models, like 1:1, 1:n, and m:n.
I am only facing this issue with 1:n and m:n relatioship.
For example, I have a `Like` model like this:
![image](https://user-images.githubusercontent.com/54453778/131954623-40777457-a224-49f3-969a-bec17585773b.png)

and In the `User` model, I have a relationship with `Like` model as `1:

[2021-09-03 11:21] odemkovychromexsoft opened #853 "API plugin timeout configuration is not possible"
It is not possible to provide a socket timeout configuration for the API plugin.
Under Android it defaults to 10sec for the time being.

[2021-09-03 14:12] offlineprogrammer commented on #646
Hey @IMDSK

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-03 14:12] #646 closed

[2021-09-03 14:13] #279 closed

[2021-09-03 14:32] Monik09 commented on #715
If anyone is having difficulty with it, you can also go through this blog:
[AWS Pinpoint With Flutter](https://monik.hashnode.dev/push-notification-using-amazon-pinpoint-in-flutter)

[2021-09-03 14:41] CrennRomain opened #854 "Undefined datastore's default column"
**Describe the bug**
After updating amplify, when i try to sync API I get this GraphQL exception :
[code]
And every new launch is a random table that is picked. Like the time I launch for reporting the bug it was User and the next time it was a table named Field.

Here the table that was reported by GraphQL

[code]

**To Reproduce**
Steps to reproduce the behavior:
I don't really know how to repro

[2021-09-03 16:27] HuiSF commented on #854
Hello @CrennRomain can you elaborate

What updates did you make? Like updated/changed schema? Changed schema in Amplify Admin etc.

[2021-09-03 16:45] hackrx opened #855 "update custom domain for cognito"
**Describe the bug**
Amplify provides a domain like `https://xxxxx.auth.us-east-2.amazoncognito.com` as Cognito domain, I am able to add my own domain. I want to update this custom domain as the default domain used by amplify. Every time I push or pull the changes my `amplifyconfiguration.dart` file updates with the `WebDomain` provided by Cognito, and I need to manually update it, to use my own c

[2021-09-03 16:54] Jordan-Nelson opened #856 "[DataStore] sort order does not work correctly with double values with 4+ decimals on Android"
**Describe the bug**
When a double value has 4+ decimal places (0.0001), DataStore's sort order does not properly sort the value.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a schema with a model that has Float type
2. Save models with values of 0.0, 0.0001, and 1.0.
[code]
3. Query the models with a sort order
[code]
4. Observe that the models are not sorted correctly

**Expected

[2021-09-03 17:04] HuiSF commented on #856
I think the sorting happens at the SQLite engine layer, if the sorting is not working as expected, it may be also related to [Double value is stored as TEXT in Android](https://github.com/aws-amplify/amplify-flutter/pull/754).

[2021-09-03 17:09] HuiSF commented on #855
Please take a look at this comment https://github.com/aws-amplify/amplify-flutter/issues/822#issuecomment-902853498
The tip for bug 0 may help to resolve this (Not 100% sure).

[2021-09-03 17:41] CrennRomain commented on #854
My bad should have been clear, it's after an upgrade (```amplify upgrade```) I don't remembrer from which version I upgrade.

[2021-09-03 17:55] HuiSF commented on #801
Got it, hum that's weird, I couldn't reproduce this on my end 😅

[2021-09-03 18:39] Jordan-Nelson commented on #856
@HuiSF I pulled in that commit from the RC branch and confirmed that it will resolve this. We can close this issue out when that gets released. Thanks.

[2021-09-03 19:31] #851 closed

[2021-09-03 19:38] Jordan-Nelson commented on #752
**Note:** Prior to this issue being marked as resolved, the DataStore integration tests that are skipped due to this issue should be updated.

See: https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/example/integration_test/query_test/query_predicate_test/bool_query_predicate_test.dart

[2021-09-03 19:41] Jordan-Nelson commented on #823
**Note:** Prior to this issue being marked as resolved, the DataStore integration tests that are skipped due to this issue should be updated.

See:
- https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/example/integration_test/query_test/query_predicate_test/int_query_predicate_test.dart
- https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_dat

[2021-09-03 19:42] Jordan-Nelson commented on #830
**Note:** Prior to this issue being marked as resolved, the DataStore integration tests that are skipped due to this issue should be updated.

See: https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/example/integration_test/query_test/query_predicate_test/double_query_predicate_test.dart

[2021-09-03 19:44] Jordan-Nelson commented on #818
**Note:** Prior to this issue being marked as resolved, the DataStore integration tests that are skipped due to this issue should be updated.

See: https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/example/integration_test/relationship_type_test.dart

[2021-09-03 20:11] hackrx commented on #855
@HuiSF can you please elaborate more on the solution? `cli.json` doesn't have anything related to auth. if possible please give a descriptive solution.

[2021-09-03 20:15] HuiSF commented on #855
I meant you may need to make a schema change so when you do push the cli will actually push a new configuration archive to the cloud including the new endpoint information.

[2021-09-03 20:19] hackrx commented on #855
can you please tell me if there is any way to update the `"WebDomain":` under Auth -> Default -> OAuth  in amplifyconfiguration.dart file?

[2021-09-03 20:34] hackrx commented on #801
Can you please reopen this issue? because I am still facing this issue. and I am sure this issue still exists.
did you tried making a model which has a relationship of 1:n, and m:n?
like this one:
![image](https://user-images.githubusercontent.com/54453778/132062544-47ef08f7-b900-43ff-a465-438b66302955.png)
Please try to create the same model, and If it is working for you, please let me know.
Than

[2021-09-03 21:26] stevegcc commented on #438
Also seriously considering switching a new project from Amplify to Firebase due to this. As @MohammedNoureldin mentioned, there if there was an official statement that this will go ahead I'll stick with Amplify and update my implementation in the future, otherwise Firebase is likely to win out here.

[2021-09-06 14:05] hackrx commented on #801
@HuiSF can you please confirm if this model [Above sample model] is working fine for you?

[2021-09-06 19:18] #849 closed

[2021-09-07 06:00] dubeboy commented on #401
I was wondering if there is any progress regarding this issue?

[2021-09-07 07:08] ManoVikram opened #859 "Amplify Auth Cognito Sign In/Sign Up Issue"
**Returning 'UserNotFoundException' instead of 'UserNotConfirmedException'**
Step 1: User creates an account
Step 2: Closes the app before confirming the account(closed the app before entering the confirmation code sent to EMail)
Step 3: Tries to log in later with Email and Password
Expected Error: UserNotConfirmedException
Actual Error: UserNotFoundException

Note: This error is not occurring whe

[2021-09-07 08:30] DriftingShadows commented on #234
+1 for web

[2021-09-07 15:10] Jordan-Nelson commented on #859
Hello @ManoVikram - Thanks for taking the time to open the issue.

I was unable to reproduce this with the steps above. Can you expand on your note about using username and password versus email and password? Did you use the CLI to switch to a username based sign in method to test this out with username/password? If you chose Email as the sign in method, the email effectively is the username for t

[2021-09-07 15:10] offlineprogrammer commented on #474
Hey @gauravdangi @AndreyGuitar

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:10] #474 closed

[2021-09-07 15:11] #832 closed

[2021-09-07 15:12] #836 closed

[2021-09-07 15:13] offlineprogrammer commented on #835
Hey @genjm

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:13] #835 closed

[2021-09-07 15:14] offlineprogrammer commented on #796
Hey @ram-readwhere

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:14] #796 closed

[2021-09-07 15:15] offlineprogrammer commented on #790
Hey @toshiossada

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:15] #790 closed

[2021-09-07 15:15] offlineprogrammer commented on #760
Hey @flutteresbolivia

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:17] #740 closed

[2021-09-07 15:18] offlineprogrammer commented on #594
Hey @shajedulislam

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:18] #594 closed

[2021-09-07 15:19] offlineprogrammer commented on #821
Hey @otabek1

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-09-07 15:19] #821 closed

[2021-09-07 16:14] haverchuck commented on #859
@ManoVikram Can you please also post which version of the amplify CLI you are using (`$ amplify --version`)

[2021-09-07 17:04] ManoVikram commented on #859
Ok. Let me brief it.

Step 1: Created a Flutter project

Step 2: Went to the terminal and ran 'amplify init'

Step 3: Added necessary packages to the Flutter app:
  amplify_auth_cognito: ^0.2.2
  amplify_flutter: ^0.2.2

Step 4: Then ran 'amplify add auth'

Step 5: I followed all the steps given here: https://docs.amplify.aws/lib/auth/getting-started/q/platform/flutter/#prerequisites

Except that

[2021-09-07 20:00] haverchuck commented on #859
@ManoVikram This is occurring because an '[alias](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-aliases-settings-option-1)' (i.e. an email/phone_number/preferred_username) cannot be used in place of a username until the alias attribute been verified. An alternative would be use an [email/phone_number _instead_ ](https://docs.aws.ama

[2021-09-07 20:32] ManoVikram commented on #859
Now, I have to delete the user pool and create it again with the above-mentioned configurations, right?

[2021-09-07 20:45] haverchuck commented on #859
@ManoVikram I believe so - Cognito has many immutable properties. If you downgrade Amplify CLI, you can use the CLI I believe.

[2021-09-08 07:01] jsw-davidhuang opened #863 "how to login by social account like google"
i had read the doc that it can be done by Social sign in with web UI, but i am looking for a way to just jump to a google page then input account&password, then turn back instead of using the aws cognito page. can anyone help?

[2021-09-08 07:15] mahanshiran opened #864 "TemporalTimestamp problem with flutter Android (IOS works as expected)"
Here is my schema.
[code]

in IOS everything works as expected but in android, i get this log. then everything only works locally and won't be synced to the cloud

<details>
I/amplify:aws-datastore( 7826): Orchestrator lock acquired.
I/amplify:aws-datastore( 7826): Orchestrator transitioning from LOCAL_ONLY to SYNC_VIA_API
I/amplify:aws-datastore( 7826): Setting currentState to SYNC_VIA_API
I/ampl

[2021-09-08 14:43] Afunyah commented on #279
The

[2021-09-08 14:55] Afunyah commented on #279
I just came across the same problem and wanted to share how I went about it.

[code]

I placed this in my 'global' class, I can now pull from the cloud if I need to.

I'm just a beginner testing some code so this solution is probably not professional.
It could probably be improved, and there is probably a better way somewhere out there.

[2021-09-08 15:34] HuiSF commented on #864
Hello @mahanshiran thanks for reporting this issue.

From the logs you provided, I noticed the value of the `creationDate` may be incorrect:

[code]

The value of a `TemporalTimestamp` field should be stored as an integer. In the issue you encounter, it seems the value is stored as a double/float number. Could you please check how's the data stored in your DynamoDB from the DynamoDB console?

[2021-09-08 16:26] mahanshiran commented on #864
oh, you are right thank you very much

[2021-09-08 16:26] #864 closed

[2021-09-08 16:47] haverchuck commented on #863
@jsw-davidhuang Have you tried this?

[code]

[2021-09-08 18:18] ManoVikram commented on #859
Awesome!! I tried the method you have mentioned above and it is working perfectly right now. Thanks!!

[2021-09-08 18:19] #859 closed

[2021-09-08 22:18] dnys1 commented on #855
@hackrx I did some digging and this is currently a limitation in the CLI. As you can see [here](https://github.com/aws-amplify/amplify-cli/blob/4ee9232eb4491a90f65de8bf04c7e2798c3abbae/packages/amplify-frontend-flutter/lib/frontend-config-creator.js#L207), where the CLI generates the amplify config, the value for `WebDomain` cannot be a custom value outside of the `amazoncognito.com` subdomains.

[2021-09-08 22:18] #855 closed

[2021-09-08 23:31] HuiSF commented on #801
@hackrx

Here's the `toJson` method in the generated model of `QuoteUser` which I believe is what shown in your screenshots.

[code]

[2021-09-08 23:49] HuiSF commented on #854
Sorry missed your reply @CrennRomain

From reading the error you posted, it seems that some unexpected model schemas were added and the App was trying to subscribed to.

Could you please provide the amplify cli version you are using by running
[code]

Could you please try following steps to purge your local development environment:

1. Run `amplify codegen models` top re-generate Dart model classe

[2021-09-09 00:28] hackrx commented on #801
@HuiSF thanks for looking into this issue. So now it is reproducible at your end too. Please reopen this issue, because it is not fixed yet.
Thanks.

[2021-09-09 00:33] HuiSF commented on #801
No @hackrx 😅 please take a look closely. The generated I pasted is different from your screenshot.

[code]

Note that the parameter `e` is typed as nullable `QuotePost` which removes the warning raised from `e?.toJson()`. So I suspect that somewhere in your development environment may have multiple version of amplify cli.

[2021-09-09 01:55] jsw-davidhuang commented on #863
also i found an other issue which is that the signInWithWebUI and only be open by googe chrome in android phone. if chrome not exist it will crash.

[2021-09-09 03:46] tr-asimpson opened #865 "Wait for Sync before query."
Hi ,

I have a request similar to https://github.com/aws-amplify/amplify-js/issues/5077 which was resolved with PR https://github.com/aws-amplify/amplify-js/pull/5942

I need to know when a sync has taken place as an initial query returns empty and then a sync occurs and the data is received as it should be.

The use case is i always want to clear local data on start and sync to cloud as the cloud

[2021-09-09 08:17] Afunyah commented on #865
Hello,

I just came across a similar problem and wanted to share how I went about it.

[code]
I placed this in my 'global' singleton class, I can now pull from the cloud if I need to.

The ready event occurs when data from the cloud has been pulled and is ready.
[https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/flutter/#ready]

A given function can be executed when the data sync

[2021-09-09 14:24] hackrx commented on #801
Thanks, @HuiSF for the follow-up. I solved this issue by following these steps:
 First, since there was an old version of amplify-cli installed on my system, I uninstalled it globally using
`npm uninstall -g @aws-amplify/cli`, but still in my console `amplify --version ` was showing `5.3.1` then I did
`amplify uninstall`, after there was no output for `-version`.
Then I did `npm install -g @aws-am

[2021-09-09 15:15] HuiSF commented on #865
Currently amplify-flutter emits a hub event once syncing is completed. Here's [an example](https://github.com/aws-amplify/amplify-flutter/blob/32822f071e5df2604c762fa83db5f73cb46c65f1/packages/amplify_datastore/example/lib/main.dart#L153-L158) of how to use the event.

For online/offline detection you may need some other 3rd-party packages, e.g. [connectivity_plus](https://pub.dev/packages/connect

[2021-09-09 18:30] #157 closed

[2021-09-09 18:31] #172 closed

[2021-09-09 18:31] #276 closed

[2021-09-09 20:37] HuiSF commented on #245
DataStore plugin `start` and `stop` APIs have been release with version [`0.2.3`](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/CHANGELOG.md#023-2021-09-09).

[2021-09-09 20:37] #245 closed

[2021-09-09 20:52] HuiSF commented on #287
Logging improvements on unhandled event has been released with version [0.2.3](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/CHANGELOG.md#023-2021-09-09).

[2021-09-09 20:52] #287 closed

[2021-09-09 20:54] HuiSF commented on #415
The fix for this issue has been released with version [`0.2.3`](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/CHANGELOG.md#023-2021-09-09). When schema changes, DataStore will automatically clear local DB and recreate tables with the latest schema and resync data from cloud.

[2021-09-09 20:54] #415 closed

[2021-09-10 09:01] mannnish commented on #172
can anyone please revert on this?

[2021-09-10 12:32] WalterWoshid opened #869 "Cannot create relational content in Amplify Admin Board"
**Describe the bug**
When I go to the Amplify Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current supports iOS and Andro

[2021-09-10 13:13] rajeshkp commented on #234
+1 for web

[2021-09-10 19:11] odemkovych opened #873 "Cocoapod dependencies error 0.2.3"
With 0.2.3 version ios build is broken. The amplify_api cocoapod file contains next line:

which causes error:

https://github.com/aws-amplify/amplify-flutter/blob/2384f9f60c19cb93cf102c4eaa32b3d462f5e1fc/packages/amplify_api/ios/amplify_api.podspec#L1

[2021-09-10 19:32] haverchuck commented on #873
@odemkovych Was this a release build?

[2021-09-10 19:47] haverchuck commented on #873
We are working on a fix for this now.

[2021-09-10 21:46] haverchuck commented on #873
@odemkovych This should be resolved with version 0.2.4.

[2021-09-10 23:29] HuiSF commented on #611
With the latest release of amplify-flutter, it log will provide full details unhandled event instead of printing an error log.

[2021-09-10 23:29] #611 closed

[2021-09-10 23:31] HuiSF commented on #511
The latest release of amplify-flutter contains the fix made to amplify-flutter. Now can query by `null` value in Android platform. Please feel free to follow up if you encountered any issues. Thanks!

[2021-09-10 23:31] #511 closed

[2021-09-12 14:20] asanobm commented on #234
++ for web

I want all platform support. web ios android macos(intel, apple) linux, windows(x86, ARM) 10 and 11 .........

sorry...

[2021-09-12 14:56] hackrx opened #877 "Is there any way to create variable import in custom resolvers?"
**Describe the question**
We can write custom resolvers inside `amplify/backend/api/<project>/resolvers/`, but inside custom resolvers, suppose we need a table(model) name then we need to hardcode that value in the template.
So I want to know is there any way to write an export file inside `/resolvers` dir, and write all the variables in it similar to `.env` file and import these variables in the

[2021-09-13 02:21] jsw-davidhuang opened #878 "should i re create the amplify setting in ios version?"
as title, i had init amplify in win10 android studio flutter  with setting , and it can run normal, but when i git clone the same project to my mac, then when i build it, it log that: module "amplify_auth_cognito" not found. so should i using the amplify cil tool to init the ios project again? or how can i fix it?

[2021-09-13 02:23] jsw-davidhuang commented on #863
how can i fix it, if my phone don't got chorme?

[2021-09-13 03:49] jsw-davidhuang commented on #878
fix it by read issue: #151

[2021-09-13 03:49] #878 closed

[2021-09-13 08:01] CrennRomain commented on #854
Hi, I think I was using a old configuration file and failed to notice it.
After uninstalling amplify and start a clean project I no longer had this issue.
Thanks for the quick responses.

[2021-09-13 15:01] HuiSF commented on #854
Glad to hear @CrennRomain , and happy to help!
I'll close this issue now, please feel free to follow up if you encounter any other issues.

[2021-09-13 16:45] dnys1 commented on #877
Hi @hackrx, please see the discussion [here](https://github.com/aws-amplify/amplify-cli/issues/1774). Currently, there is no out-of-the-box support for this functionality.

[2021-09-13 16:45] #877 closed

[2021-09-13 17:38] omartinma opened #879 "Missing type for hubEvent"
**Describe the bug**
Currently, while listening to changes to Amplify.hub one of the parameters is dynamic, causing issues with the analyzer.

![image](https://user-images.githubusercontent.com/11978998/133130504-d577070b-a221-4a59-ab46-8706454c29fe.png)

![image](https://user-images.githubusercontent.com/11978998/133130716-a8e56689-e048-470d-8a33-6e9c688b4b7f.png)

This can be a workaround just i

[2021-09-14 02:19] TetsuFe commented on #351
This is a very important feature.
[firebase_analytics]https://pub.dev/packages/firebase_analytics) has this feature.
If this feature is implemented in this plugin, I can save a lot of time.

[2021-09-14 08:44] eyeled-mh commented on #873
I've got the same problem.

[2021-09-14 08:48] SuTran opened #880 "how to pass preferPrivateSession flag?"
Hi team,

I found an update that helps user not to see a web view displayed when they sign out.
https://github.com/aws-amplify/amplify-ios/releases/tag/v1.6.0

[code]

It can help to resolve issue like https://github.com/aws-amplify/amplify-ios/issues/1016

Have we apply this new config into `amplify-flutter`? Thanks

[2021-09-14 09:56] wasitu commented on #760
Please reopen this issue.
We still receive a SessionExpiredException error every time we go offline  even though the session has not expired. If there is a network error, then I would like to receive a network error instead of a SessionExpiredException.

Right now, I cannot differentiate between a session really expiring (for which I would want to force a sign out) versus a network issue.

[2021-09-14 12:37] daviddayag commented on #319
+100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2021-09-14 14:01] offlineprogrammer commented on #873
@eyeled-mh are you using the version 0.2.4?

[2021-09-14 16:26] Surya-thangavel opened #881 "Module 'amplify_auth_cognito' not found"
### Description: Build succeeds in Xcode run and also runs fine in Simulator, But When Archiving the runner

### **Error  : "Parse Issue Module 'amplify_auth_cognito' not found"**

**Flutter doctor Output**

`[✓] Flutter (Channel stable, 2.0.6, on macOS 11.5.2 20G95 darwin-x64, locale en-GB)
    • Flutter version 2.0.6 at /Users/srinivashvk/flutter
    • Framework revision 1d9032c7e1 (5 months ago

[2021-09-14 17:06] dnys1 commented on #881
Hi @Surya-thangavel can you please verify the deployment target of your app? This is a known issue when targeting older versions of iOS. Amplify requires this value to be iOS 11.0 or later (13.0 or later when using DataStore).

<img width="932" alt="Screen Shot 2021-09-14 at 9 54 58 AM" src="https://user-images.githubusercontent.com/24740863/133300998-70716877-5ff0-41d3-9eb6-b9b0ef0de98a.png">

[2021-09-14 17:17] HuiSF commented on #879
Currently the hub event listener [expects a dynamic parameter](https://github.com/aws-amplify/amplify-flutter/blob/4c8d7bea2a60c456f93b768eb7d01671811cc701/packages/amplify_flutter/lib/amplify_hub.dart#L22).

In lieu of using warning suppression, you may try to cast the type of `hubEvent`, e.g.
[code]
Possible event types are defined [here](https://github.com/aws-amplify/amplify-flutter/tree/main/

[2021-09-14 17:26] omartinma commented on #879
Thanks for answering that. Maybe that could be added as documentation on listen method? Maybe you have it somewhere in the docs, but I think would be much easier for devs to document that in the code. What do you think?
Right now just seeing the listen method i dont have a quick way to know all the different events
![image](https://user-images.githubusercontent.com/11978998/133304936-71599b60-035b

[2021-09-14 17:31] fjnoyp commented on #880
Hi @SuTran thanks for reaching out we are looking into this issue.

[2021-09-14 17:55] fjnoyp commented on #880
Hi thanks for your patience.  It is currently not possible to pass that flag in amplify flutter.  I looked into adding possible support for that but unfortunately Android doesn't currently support this flag, and we don't want our amplify flutter api to be platform dependent.

Thus, at the moment we will not be adding support for that flag.  We will keep you updated regarding any changes to that th

[2021-09-14 17:59] HuiSF commented on #879
Agreed, this could use some improvements.

[2021-09-14 18:23] HuiSF commented on #879
Thanks for the feedback and suggestions @omartinma ! PRs are always welcome, if you'd like to contribute 😊

[2021-09-14 18:33] omartinma commented on #879
Happy to help here. I'm doing some experiments these couple of weeks with Amplify, i will gather my feedback and create a PR to discuss about that. Should we keep this issue open and whenever I create the PR I will link both?

[2021-09-14 20:58] fjnoyp commented on #853
Hi @odemkovychromexsoft thanks for reaching out to us.  We're looking into your request.  I'll update you here on what we find.

[2021-09-14 21:17] HuiSF commented on #879
Sure thing @omartinma  thanks for your help!

[2021-09-14 22:39] fjnoyp commented on #853
Hi @odemkovychromexsoft this feature is not natively supported in iOS or Android REST API so it would be trickier to implement in Flutter.  We will discuss more internally about how we might prioritize this.

Below are some notes for future devs on how implementation might work.  Native libraries don't have timeout configuration in their APIs so we'd want to determine that as well.

Amplify Androi

[2021-09-14 22:39] fjnoyp commented on #853
@odemkovychromexsoft could you tell us more about your use case here - that would help us with prioritizing here appropriately.

[2021-09-15 04:30] Surya-thangavel commented on #881
@dnys1  The targeting version is iOS 11.0 as I am not using DataStore.

[2021-09-15 05:24] eyeled-mh commented on #873
@offlineprogrammer Not yet. I went back to 0.2.2 ; that worked for me. I'll try the new version soon

[2021-09-15 11:00] bprayush commented on #736
Any updates on this? I am working on a project that requires access to DataStore before the user logs in. Adding the cognito user pool authentication gives the error:
[code]

[2021-09-15 14:03] fjnoyp commented on #881
Hi @Surya-thangavel can you provide the logs file again as I cannot open it.

[2021-09-16 03:03] jsw-davidhuang commented on #881
i think not only the main target version need to over ios11, but all other target in the xcodewordspace need to over ios11

[2021-09-16 05:58] jsw-davidhuang opened #889 "[amplify datastore]how to sync data by aws cognito account?"
i had success of using cognito user pool, then when i login, i can successfully write and read data from datastore. but it seems that every account can read the data. what i want is different account can save it's own data.
here is what i use to add datastore, correct me if i am wrong:
[code]

[2021-09-16 06:21] jsw-davidhuang commented on #736
i face the relate problem, too. in the app, different use login and get the data from cloud, it seems to get the same data. it would not be different even the account is different

[2021-09-16 09:49] SuTran commented on #880
@fjnoyp thanks for your response. May I work on this too?

[2021-09-16 12:30] ADLsourceCode opened #890 "A problem occurred evaluating root project 'amplify_auth_cognito'."
Hi,

Getting the below error while building the Flutter app, Everything worked fine till yesterday...

[code]

**Below is my Project Gradle**

[code]

**Pubspec.yaml file**
[code]

[2021-09-16 13:06] iamsandeepsk commented on #890
Having Same issue today .. it was working properly till yesterday.

[2021-09-16 13:38] benedict1986 commented on #881
Hi @jsw-davidhuang , can you please elaborate a bit more? I am also having the same problem and all of my Deployment Targets are 13.0. Thank you.

[2021-09-16 14:36] Surya-thangavel commented on #881
@fjnoyp  Here's the log file
[flutter build ios log.txt](https://github.com/aws-amplify/amplify-flutter/files/7178661/flutter.build.ios.log.txt)

[2021-09-16 14:41] Surya-thangavel commented on #881
@benedict1986 The app running on simulator and build succeed with amplify but only when archiving the app this error occurs, Is yours the same issue ?

[2021-09-16 16:02] HuiSF commented on #889
Hi @jsw-davidhuang thanks for asking.

DataStore plugins supports adding authorization rules to the data models, which is capable to achieve the goal you are asking about.

From the log you pasted
[code]

It looks like you didn't apply any  auth rules by using `@auth` directive.

Please refer to [the documentation](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#static-

[2021-09-16 17:34] fjnoyp commented on #890
Hi thanks for sharing - taking a look

[2021-09-16 18:44] Jordan-Nelson opened #891 "[DataStore] iOS and Android have different default behavior for pagination"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run an app with datastore enabled and any schema with at least one model
2. save a few hundred items to data store
3. run a query with no predicates or pagination
4. On Android, all models are returned
5. on iOS, only 100 items are returned

**Expected behavior**
With no p

[2021-09-16 22:25] fjnoyp commented on #880
Sure @SuTran we'd be happy to have you contribute!  I'll respond tomorrow with what the API experience should look like and then you can submit a PR :)

[2021-09-17 00:04] jsw-davidhuang commented on #889
thank you for your reply! i did what you said and it works!

[2021-09-17 00:04] #889 closed

[2021-09-17 01:47] jsw-davidhuang commented on #889
my file is like this for other people's refrence
[code]

[2021-09-17 02:22] fjnoyp commented on #890
Hi @ADLsourceCode and @iamsandeepsk I am unable to reproduce your issue.  When you create a blank Flutter app on your machine and add the following to pubspec.yaml:

  amplify_flutter: <1.0.0
  amplify_auth_cognito: '<1.0.0'
  amplify_storage_s3: '<1.0.0'

Are you able to build the Flutter app?

[2021-09-17 02:24] jsw-davidhuang commented on #881
i think is something like this, this pod all need to be over ios 11
![微信截图_20210917102228](https://user-images.githubusercontent.com/88757436/133714117-341594ea-c116-4407-85c4-d425126c9611.png)

[2021-09-17 02:27] fjnoyp commented on #881
Hi @Surya-thangavel are you sure you are targeting 13.0?  In the logs file provided I see the following messages at the end:

`warning: The iOS deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.5.99. (in target 'FMDB' from project 'Pods')`

[2021-09-17 11:19] Lorenzohidalgo opened #898 "API GraphQL Subscription not working"
**Describe the bug**
The generated GraphQL subscriptions do not work consistently. For some models they will work every time and for other models only changes via AdminUI will be detected. Mutations triggered from that same device won't be detected. If I try using the default generated subscription it will fail saying all fields are empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Gene

[2021-09-17 13:21] SuTran commented on #880
Thanks @fjnoyp . I prepare this PR https://github.com/aws-amplify/amplify-flutter/pull/897 . Can you help to review if you have a chance.

[2021-09-17 15:34] ADLsourceCode commented on #890
What gradle config are you using..is it similar to what i am using

On Fri, Sep 17, 2021 at 7:52 AM Kyle ***@***.***> wrote:

[2021-09-17 15:38] Lorenzohidalgo commented on #898
[Update] By updating the mutation statements to return all fields (on create and update mutations) the subscriptions are triggered.

Example:
<details>

  <summary>Original mutation (did not trigger the subscription)</summary>

[code]

</details>
<details>

  <summary>New mutation (triggers the subscription)</summary>

[code]

</details>

[2021-09-17 16:15] HuiSF commented on #898
Related issue: https://github.com/aws-amplify/amplify-flutter/issues/663

When both amplify-ios and amplify-android send GraphQL model subscription requests:
* iOS: subscription listed all fields including nested model fields
* Android: subscription listed all fields of the root model, and only `id` field of nested models

From this, I think the mutation would need to list all fields as well. I th

[2021-09-17 16:18] HuiSF commented on #898
Currently the workaround is like what @Lorenzohidalgo  updated, if the mutation returns all fields, subscription should work correctly. In the meantime, I'll try to spend sometime looking into the inconsistency between iOS and Android. And possibly need to update relevant  documentation.

[2021-09-17 16:59] fjnoyp commented on #898
Hi @Lorenzohidalgo we'll take a look thanks.

[2021-09-17 18:50] #865 closed

[2021-09-17 19:15] fjnoyp commented on #880
Thanks @SuTran we'll continue the conversation on your PR.

[2021-09-17 19:17] fjnoyp commented on #881
Thanks @jsw-davidhuang  for your help clarifying how to set the main target version.

@Surya-thangavel @benedict1986 does following his advice help resolve your problem?

[2021-09-17 20:19] fjnoyp commented on #881
Hi @Surya-thangavel I've been trying to reproduce your error but I am able to archive the amplify_auth_cognito example app no problem.  Here is my setup:

Xcode 12.2

My Runner and Pods -> General tab -> Deployment Info are all set to iOS 11.0 as shown in the picture attached.

In the logs you sent me, it appears you are still set to 8.0.  I'm not able to target that version.  What version of Xcod

[2021-09-17 22:55] fjnoyp commented on #890
Hi @ADLsourceCode there were some small differences, but I switched to your gradle config and tested.  Also added all of your pubspec.yaml dependencies. I am still able to build the project and deploy on an Android emulator.

However, you are on flutter 2.7.0 in your pubspecy.yaml which is non null safety...  Can you try upgrading to 2.12.0?

[code]

[2021-09-18 00:10] jsw-davidhuang commented on #881
by the way, if still can not set to ios11, you should directly edit the .spec file in the pods folder, it is something like .symxxxx/packagename.podspec

[2021-09-18 03:30] bprayush opened #901 "Post confirmation trigger lambda does not get correct user pool id."
**Describe the bug**
The Post confirmation lambda function to add user to group does not get correct user pool id.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Post confirmation
2. Add "Add user to group" functionality

**Expected behavior**
The user should be added to the user group.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check

[2021-09-18 04:08] iamsandeepsk commented on #890
It's working now .. but I haven't change anything

[2021-09-18 05:34] abhishekak048 commented on #401
Any update?

[2021-09-18 07:36] latheeshvmv opened #902 "amplify codegen model generating files with errors"
**Describe the bug**
I have a schema like this
[code]

I think these problems only happen with the relationship terms and objects?

But I am getting so many errors in the generated files
![image](https://user-images.githubusercontent.com/44595562/133880574-8a95ab75-2d61-4d75-be62-a7e2246258e8.png)

**To Reproduce**
pull an exisitng project with relationship using amplify cli latest version

**Expe

[2021-09-18 13:04] benedict1986 commented on #881
Hi @Surya-thangavel , yes, I can run my app in simulator but when I run it with my iPhone, I got this error.

[2021-09-18 13:10] benedict1986 commented on #881
Hi @jsw-davidhuang , I think I don't have this Pods project
<img width="389" alt="Screen Shot 2021-09-18 at 11 10 35 pm" src="https://user-images.githubusercontent.com/7417859/133890022-cf4dc8c7-35c3-43d1-861e-a601893a0fe5.png">

[2021-09-19 01:19] fjnoyp commented on #902
Hi @latheeshvmv could you provide your full graphql file with all models?

[2021-09-19 01:19] fjnoyp commented on #902
Can I see your ModelProvider.dart, Store.dart, and Product.dart files as well?

[2021-09-19 01:21] fjnoyp commented on #901
Hi @bprayush thanks for reaching out to us.  We'll look into the issue on Monday

[2021-09-19 01:25] fjnoyp commented on #881
@benedict1986 did you open the Runner.xcworkspace project?  Your error message mentions that you should open that project.  I think you might have opened the Runner.xcodeproj on accident instead.

[2021-09-19 18:21] latheeshvmv commented on #581
May be have this in documentation?

[2021-09-19 19:21] 94Sip commented on #234
+1 for web support

[2021-09-19 19:38] latheeshvmv commented on #902
Strangely it some how got fixed. I am not sure how. This is what I did. I renamed relationships so that they start with a lowercase added analysis_options.yaml.

But still Objects are having issue. I think it is not supported yet?

Few more additional problems
![image](https://user-images.githubusercontent.com/44595562/133940691-f42d67d0-7dbc-49bc-a11e-7dd37de77822.png)

amplify -v
**6.0.0**

**Mo

[2021-09-20 01:39] fjnoyp commented on #902
Thanks for providing this information @latheeshvmv
Could you please provide your graphql schema as well so I can test my codegen results with yours?

[2021-09-20 08:39] DriftingShadows commented on #530
The biggest issue seems like it popping up when signing out, not signing in.

[2021-09-20 13:18] rahul-insight commented on #319
+1

[2021-09-20 14:06] benedict1986 commented on #881
Hi @fjnoyp , after investigating a bit, I found the issue when I run `flutter run` is that I did not build in release mode. I added --release to the command and eventually got the following error, which was the same as what I got from Xcode.

<img width="991" alt="Screen Shot 2021-09-21 at 12 02 58 am" src="https://user-images.githubusercontent.com/7417859/134015971-68032d9c-cc6d-49b1-9c16-09e4956

[2021-09-20 14:57] Jordan-Nelson commented on #902
@latheeshvmv - The original issue was caused by the schema containing a field name and a model name with the exact same name and casing (both are "Products"). As a result, code gen creates a class and a field with the same name, and that is an issue in Dart. A workaround would be to rename one of them, which you have already done.

Linking related issue - https://github.com/aws-amplify/amplify-flu

[2021-09-20 14:57] benedict1986 commented on #881
Hi @fjnoyp , I finally get my log as well but could not find any message similar as the one you pointed out for @Surya-thangavel.

[Build target Runner_2021-09-21T00-48-54.txt](https://github.com/aws-amplify/amplify-flutter/files/7196567/Build.target.Runner_2021-09-21T00-48-54.txt)

This is something about IPHONEOS_DEPLOYMENT_TARGET

<img width="581" alt="Screen Shot 2021-09-21 at 12 57 14 am" src

[2021-09-20 16:57] latheeshvmv commented on #902
Hi
This is the schema file. But problem seems have gone after renaming(  @Jordan-Nelson ). I think the name is autogenerated while model is created using Amplify admin. S3Object is still giving me errors. Is there any Workaround?

Thanks

![image](https://user-images.githubusercontent.com/44595562/134042610-69f61187-8031-485c-a725-96ebd9132245.png)

[code]

[2021-09-20 17:22] Jordan-Nelson commented on #902
The field/attribute name that is generated comes from the "relationship" name in Admin UI. You should be able to rename the relationship name in Admin UI to be lowercase (or in some way different than the model name)

Unfortunately Admin UI currently defaults the relationship name to match the Model name for 1:1 relationships. We have an issue opened for this (the one linked above - #787), which i

[2021-09-20 21:11] HuiSF commented on #902
[code]

This is a CustomType, which is not currently supported by amplify-flutter. The codegen will ignore the CustomType in your schema and generate an empty Dart class, which causes the issue shown in your screenshot. A workaround is that you can use AWSJson for this field `productimage` in `Products` model.

The work of adding functionality of CustomType to amplify-flutter is in progress.

[2021-09-20 23:15] dnys1 commented on #881
The following steps allow me to create a release archive. If someone can create a minimum set of steps to reproduce this issue, I will reopen. Otherwise, I believe this is resolved.

1. Create a Flutter project and initialize Amplify with Auth category.
2. Add `amplify_flutter` and `amplify_auth_cognito` as dependencies.
3. Update `Podfile` to have `platform :ios, '11.0'`.
4. Run `pod install` ins

[2021-09-20 23:15] #881 closed

[2021-09-21 02:59] pangoro24 commented on #234
+1 for web support and ir ETA

[2021-09-21 11:38] latheeshvmv commented on #902
Thank you all. I have now workflow to continue the project.

Not sure to keep this open or closed. Hope we will have custom types near future.

Regards
Lat

[2021-09-21 15:22] benedict1986 commented on #881
Hi @dnys1 , thank you for your step. My case is slightly different from what yours. I already have Cognito setup in AWS and do not want to initialise Amplify with Auth category. Here is the minimum steps I am using to recreate the issue. Can you please let me know if there is any step is missing or anything wrong with it. I am happy to share myapp4 if you need it. Thank you.

1. flutter create mya

[2021-09-21 15:30] #902 closed

[2021-09-21 16:06] dnys1 commented on #881
Hi @benedict1986, you are missing a couple steps. Please follow steps 3-4 from my post and try again.

[2021-09-21 16:34] bprayush commented on #264
Any updates on this?

[2021-09-21 18:53] dnys1 commented on #901
I'm able to reproduce. Looks like it might be a CLI issue. Will verify and create a ticket with them, if that's the case.

[2021-09-21 19:22] vbabaria commented on #319
this functionality would be a big help for our project

[2021-09-21 21:57] dnys1 commented on #863
@haverchuck It looks like this should be possible via the Android plugin (see discussion [here](https://github.com/aws-amplify/amplify-android/issues/678)). We should be able to add an option to `SignInWithWebUIRequest` to specify the browser package.

[2021-09-21 21:58] dnys1 commented on #873
Closing for now, but feel free to reopen if the issue persists.

[2021-09-21 21:58] #873 closed

[2021-09-21 22:19] dnys1 commented on #901
Looks like it is being tracked in the CLI repo already. Closing in favor of those issues:
- Tracking Issue: https://github.com/aws-amplify/amplify-cli/issues/7582
- Current Workaround is to add the necessary permissions by hand to the Lambda function: https://github.com/aws-amplify/amplify-cli/issues/8012#issuecomment-905723746

[2021-09-21 22:19] #901 closed

[2021-09-21 22:53] dnys1 commented on #853
Duplicate of: https://github.com/aws-amplify/amplify-flutter/issues/798

I believe this is currently possible, although I haven't thought about the Flutter API. Maybe parameters on the API plugin constructor like we have for DataStore configuration.

[2021-09-21 22:53] #853 closed

[2021-09-22 00:17] jsw-davidhuang commented on #881
Hi @benedict1986 i think when you build you got to better do like this:
[code]

[2021-09-22 00:30] jsw-davidhuang commented on #863
this issue reply an answer like this:
[code]
but i think there are 2 question @dnys1
1. is this future support in the flutter version.
2. what most develop want is that they can auto jump to the default browser the phone got(use intent： intent.setAction(Intent.ACTION_VIEW);
        intent.setData(Uri.parse(url));) instead of naming the browser. thanks for your reply.

[2021-09-22 07:39] glndlovu commented on #234
+1 for web support

[2021-09-22 09:21] jsw-davidhuang opened #904 "how to bond WebRTC SDK with cognito function"
my company is now using cognito and AWS Kinesis Video Streams to make liveview of the camera, but now, i can only set to use cognito by this amplify-flutter sdk, my question is how to set kvs with the cognito? i believe there are some Access Key ID and Secret Access Key in kvs, i just don't know how to get those key from cognito accounts.

i can found some doc like this ：
https://docs.aws.amazon.c

[2021-09-22 15:57] dnys1 commented on #863
Hi @jsw-davidhuang, thank you for your insight. I believe this was main discussion point of the Android thread I posted, and for better or worse, I believe the given solution is where they landed. See [this comment](https://github.com/aws-amplify/amplify-android/issues/678#issuecomment-861032813) for a way to list the installed browsers.

Flutter does not currently support this feature, but if it

[2021-09-22 16:03] dnys1 commented on #904
Hi @jsw-davidhuang, currently we do not support integration with the WebRTC SDK. However, the Cognito resources that Amplify generates should function just as well as any other Cognito resource for integration with KVS. You can find the name of your Cognito resource by running `amplify status` and can visit its console page by running `amplify console auth`. Hope this helps.

If you'd like to see

[2021-09-22 16:03] #904 closed

[2021-09-22 16:19] julien-tamade commented on #805
Any word on if this is going to be worked on and approximate timeline?

[2021-09-22 22:39] latheeshvmv opened #907 "Unable to check if amplify is configured or not"
**Describe the bug**

I am trying to wait till amplify configuration is done then load the login screen. Even though state seems to be getting updated I am still getting the loadinscreen. Why is that?

I am not sure if setState is proper method on the init : https://stackoverflow.com/questions/53363774/importance-of-calling-setstate-inside-initstate

As per the doc : https://docs.amplify.aws/start

[2021-09-23 00:10] jsw-davidhuang commented on #863
ok, thanks for your reply

[2021-09-23 00:10] #863 closed

[2021-09-23 16:29] benedict1986 commented on #881
Hi @dnys1 and @jsw-davidhuang , thank you for you advice.

According to @dnys1 , I ran pod init, update Podfile and pod install as follow
<img width="1437" alt="Screen Shot 2021-09-24 at 2 06 38 am" src="https://user-images.githubusercontent.com/7417859/134544037-751bba96-c7b7-414f-a9bd-2de7126e52e4.png">
<img width="476" alt="Screen Shot 2021-09-24 at 2 10 32 am" src="https://user-images.githubus

[2021-09-23 16:47] Abhishek01039 opened #909 "Widget tests failed for amplify auth"
**Describe the bug**
Widget testing which is written by @Jordan-Nelson for amplify auth (https://github.com/aws-amplify/amplify-flutter/tree/main/packages/amplify_auth_cognito/example/integration_test) is failing.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the project
2. run integration test using driver command `flutter drive --driver=test_driver/integration_test.dart --target=in

[2021-09-23 17:30] dnys1 commented on #881
@benedict1986 Can you verify you are opening `Runner.xcworkspace` and not `Runner.xcodeproj`. The image above showed the latter.

Running `amplify init` is not technically required for building a release archive, so I don't believe that's the problem.

[2021-09-23 18:01] Jordan-Nelson commented on #909
Hi @Abhishek01039 - Thanks for taking the time to open the issue.

From looking at the logs, there is a UserNotConfirmedException being thrown after login. The integration test suite requires setting up auto confirmation. The contributing doc has [a section on provisioning resources](https://github.com/aws-amplify/amplify-flutter/blob/main/CONTRIBUTING.md#provision-resources-for-integration-tests)

[2021-09-23 19:11] dnys1 commented on #907
Hi @latheeshvmv, the issue is that you are configuring the *initial* route with the `isAmplifyConfigured` value. Even after `setState` is called, `MaterialApp` will not regenerate the initial route. You will want to use the `Navigator` class to go to the next screen or set the `home` property, instead of `initialRoute`.

Also, when overriding `initState`, the first call should be to `super.initSta

[2021-09-23 19:11] #907 closed

[2021-09-23 21:10] Jordan-Nelson commented on #398
https://github.com/aws-amplify/amplify-flutter/pull/782 has been merged which adds global sign out. This will be included in the next release. I will update this issue once it is available.

[2021-09-24 03:26] Abhishek01039 commented on #909
Hello @Jordan-Nelson
Thank for your detail answer and docs.

`amplify update auth` will create a new user pool if we write the exact same answer as explain there?

[2021-09-24 06:36] trey-rosius opened #912 "[Amplify Datastore] Tried to get a plugin before it was configured. Make sure you call Amplify.configure() first"
**Describe the bug**
Datastore plugin denies to configure. I have AuthCognito, API, and Storage which all Configure properly, but Datastore doesn't configure. I also noticed that, when I comment out the other 3 plugins(Auth,API,Storage), datastore configures properly. Strange

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example in the [docs](https://docs.amplify.aws/start/

[2021-09-24 07:52] benedict1986 commented on #881
Hi @dnys1, thank you for your advice. in the previous post with lots of images. I did not init and install pod. As a result there is no Pods project when I open `Runner.xcworkspace`. Now I init and install pod, I can see the Pods project when I open `Runner.xcworkspace` as follow

<img width="800" alt="Screen Shot 2021-09-24 at 5 47 51 pm" src="https://user-images.githubusercontent.com/7417859/134

[2021-09-24 09:23] benedict1986 commented on #881
Ok, finally, it's working...I summary the steps as follow:

1. Run `flutter create myapp`
2. Open `pubspec.yaml` and add `amplify_auth_cognito: ^0.2.4`
3. Run `flutter pub get`. This step is what I am missing. After running this step, I saw the Podfile. Previously I did not run this step and create the Podfile with `pod init`, which is not right
4. Update `Podfile` and uncomment `platform :ios, '9

[2021-09-24 09:58] bostaginting commented on #302
hi, I'm facing the same problem, any solution will be appreciated, thank you.

[2021-09-24 11:43] KyMback opened #913 "Can't configure amplify with AmplifyAPI and AmplifyAuthCognito"
**Describe the bug**
When i try to configure amplify (via `Amplify.configure(stringConfiguration);`) with rest api and with cognito auth i get the following error:
[code]
I noticed that this behavior reproducible when using amplify libs since 0.2.3 version. I use these libs:

[code]

[code]
And AmplifyConfigurationBuilder
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. flutter create

[2021-09-24 13:22] capida commented on #410
Hi, I had implemented CUSTOM_AUTH flow for my web app because it is relevant for my use case. Finally we decide to create an android/ios app using flutter, we are almost done, only to find that this flow is not supported yet. Any update? or an alternative while this is implemented?.

[2021-09-24 14:40] ManoVikram opened #914 "Amplify Datastore 1:n Relationship Issue"
**Describe the bug**
I have created 2 Amplify Datastore models - Creator and Post. So, basically, the relationship between Creator and Post is 1:n. A creator can post as many Posts as he/she wants. But, a Post will belong to only one Creator. I created the relationship between the models in Amplify Admin and pulled it to my local code. All the coding part was done. The issue comes here. Initially,

[2021-09-24 15:33] dnys1 commented on #912
Thanks @trey-rosius for your detailed write up. Will investigate this morning and get you an update sometime today.

[2021-09-24 15:35] dnys1 commented on #881
Thank you for the update @benedict1986. I'm glad you were able to get it resolved 👍

[2021-09-24 15:39] dnys1 commented on #302
Hi @bostaginting - can you describe more about your issue? Any logs and code you can share to reproduce the problem would be greatly appreciated.

[2021-09-24 15:50] dnys1 commented on #914
Hi @ManoVikram, sorry you are experiencing this issue. Would you be able to share your schema here and the code you're running. I'd love to try and reproduce the issue and see if we can find a fix for you.

[2021-09-24 16:00] ManoVikram commented on #914
![image](https://user-images.githubusercontent.com/42974191/134705434-e506459a-1166-41fb-8f0d-48fb4cbd4fd7.png)

         `AuthUser userRes = await Amplify.Auth.getCurrentUser();
          List<User> usersList = await Amplify.DataStore.query(
            User.classType,
            where: User.EMAIL.eq(userRes.username),
          );

          User user = usersList.first;

          Audio audio =

[2021-09-24 16:11] bostaginting commented on #302
hi @dnys1 so I've got this error when try to fetch session on amplify

<img width="301" alt="Screen Shot 2021-09-24 at 23 06 47" src="https://user-images.githubusercontent.com/40355270/134706779-78c218e7-d025-4761-91cb-7f584458b854.png">

this is my app.dart file when i configure the amplify

<img width="592" alt="Screen Shot 2021-09-24 at 23 08 50" src="https://user-images.githubusercontent.com/4

[2021-09-24 16:15] HuiSF commented on #914
The nested models with `1:n` or `hasMany` relationship currently requires a separate query to retrieve, in the meantime, all `hasMany` field in the root model remain `null`.
e.g.
[code]

[2021-09-24 16:25] ManoVikram commented on #914
Could you please brief it?

The issue is when the user uploads new audio, it is not even getting stored in the relationship. The relationship is always null.

[2021-09-24 16:30] dnys1 commented on #913
Hi @KyMback, thanks for your detailed report. I believe the necessary `authorizationType` for authenticating against an Amplify REST API with Cognito User Pools is `AWS_IAM`. Could you make the change and let me know if that solves your problem?

I'd like to learn more about your use case- have you found the Amplify CLI to not work well for you when it comes to generating configuration files? We d

[2021-09-24 16:32] ManoVikram commented on #914
For the first time, the Audio relationship in Creator should be null. That's fine. When I upload the audio and store its data in the datastore, it should get updated and the Audio data should be present in the relationship in Creator. So, when I upload another Audio, there should be 1 already present in the relationship. But, the issue is the relationship is becoming null.

[2021-09-24 16:33] dnys1 commented on #302
Thank you for that information, @bostaginting. Can you also provide the Amplify versions you're using in the `pubspec.yaml` file? I will start looking into what could be causing this.

[2021-09-24 16:36] bostaginting commented on #302
<img width="274" alt="Screen Shot 2021-09-24 at 23 35 05" src="https://user-images.githubusercontent.com/40355270/134710208-8c4d63e4-2d32-414a-af0e-ae7dde700e47.png">

Hi @dnys1  thanks for the reply, this is my amplify version.

[2021-09-24 16:49] dnys1 commented on #302
Would you be able to update to the latest version by either running `flutter pub upgrade` or bumping the version numbers to `^0.2.4`. It's possible this was an issue in one of the native libraries which has recently been fixed.

I will continue to look into in on my end. Thanks!

[2021-09-24 16:55] bostaginting commented on #302
ok, @dnys1 I will try to upgrade the amplify package version to ^ 0.2.4, and will inform you ASAP, thank you so much!

[2021-09-24 17:25] HuiSF commented on #914
Hi @ManoVikram thanks for the follow up. Relationship is not a data structure, it just describes how models are related. It doesn't hold any actual data until required query is executed.

After saving the second `Audio` object. Could you please try to run below query, check if it returns 2 audio object in a list (the first audio and the one just saved)

[code]

[2021-09-24 18:56] ManoVikram commented on #914
Yes, I am getting a list of 2 Audio objects. Now, I am getting it.
[code]
The above code will always return '`null`' because audioUploads is just a relation and doesn't contain the actual data. The actual data should be fetched by querying the Audio model. Am I right?

[2021-09-24 21:00] HuiSF commented on #914
Yes, that's correct @ManoVikram . At this moment:

* `belongsTo` field is pre-populated when querying root model
* `hasOne` field is not pre-populated
* `hasMany` field is not pre-populated

`hasOne` and `hasMany` require separate queries to retrieve data from database. Some changes are on the way to improve this experience, please stay tuned!

[2021-09-24 21:04] haverchuck commented on #441
@fanwgwg @trinanda98 @yukitaka13-1110 @cconley717 @borainceler -
We have published a preview which should address these issues. If you can, please pull amplify-flutter packages with version `0.3.0-rc.1` and give it a try!

[2021-09-24 21:06] kjones commented on #441
Is this the same thing? https://github.com/aws-amplify/amplify-flutter/issues/201

[2021-09-24 21:06] HuiSF commented on #752
Hi @Lorenzohidalgo the fix for this bug is testable now with [0.3.0-rc.1](https://pub.dev/packages/amplify_datastore/versions/0.3.0-rc.1/changelog). This is a breaking change, please try it out, and follow up if you encounter any issues.

[2021-09-24 21:12] dnys1 commented on #912
Hi @trey-rosius - I'm still working on this issue. I appreciate you sharing your code and unforunately, I'm still struggling to reproduce the problem. Would you be able to share the logs you get when you encounter the issue? That would help tremendously as well. Thanks!

[2021-09-24 21:14] dnys1 commented on #912
One thing I noticed was that you're adding the `AmplifyStorageS3` plugin, but your `amplify` folder in your Github repo does not contain a storage category resource. Can you confirm this is not the source of your problem?

[2021-09-24 21:32] haverchuck commented on #441
@kjones Nope - this particular getCurrentUser issue describes a platform discrepancy wherein iOS returns an AuthUser when the session has expired, and Android does not.  Now, both platforms return an AuthUser.

[2021-09-25 06:45] trey-rosius commented on #912
Thank you @dnys1 . Indeed datastore couldn't configure because I had the storage plugin added but had not added the storage category to my Amplify application yet.
I wish it actually made storage fail, instead of Datastore.
Thanks a lot.🙏🏾
I'll close this issue now.

[2021-09-25 06:45] #912 closed

[2021-09-25 18:05] dnys1 commented on #912
Glad that worked! Thanks for your patience resolving the issue.

[2021-09-26 08:14] #509 closed

[2021-09-26 09:53] bostaginting commented on #302
![IMG_1965](https://user-images.githubusercontent.com/40355270/134802850-6d45bcf6-c977-401d-9f3b-e1d21f3c955b.jpg)

Hi @dnys1 after updated the amplify package to `^0.2.4` I've git this error when try to get user status

<img width="533" alt="Screen Shot 2021-09-26 at 16 52 52" src="https://user-images.githubusercontent.com/40355270/134802897-b9fc00fd-8f9f-47e5-80ae-35c333e5e159.png">

[2021-09-26 19:06] dnys1 commented on #302
Thanks, @bostaginting, can you make sure you are calling `_configureAmplify` before `_checkSession`? The error you're seeing is from `Amplify.configure` not completing before `_checkSession`.

[2021-09-26 22:18] rgb1380 opened #916 "[Question] Web Support?"
What is the timeframe and plan to support Flutter Web?

[2021-09-27 04:07] bostaginting commented on #302
okay @dnys1 , but how do I know when `_configureAmplify ` is done or not?

[2021-09-27 10:11] KyMback commented on #913
Thanks for the response.
When i change `authorizationType` to `AWS_IAM` the issue on `configure` is fixed but i still can't authorize my restapi request via cognito authorizer (i get 401 status code).

I don't use amplify cli because i use already existing aws resources.

On the cloud I have REST API with cognito authorizer. When I try to login and send request via postman it works fine, but in mo

[2021-09-27 13:24] raywhiteside opened #917 "DataStore tries to sync before logged in"
**Describe the bug**
This exception is thrown when Amplify is configured with DataStore:

[code]

**To Reproduce**
Configure Amplify with Cognito, API, and Datastore.

**Expected behavior**
Recently DataStore.start() was introduced. If the developer has the option to determine when DataStore should actually begin syncing, I don't expect to get a an exception immediately after configuration with no

[2021-09-27 13:49] GustavoFior commented on #804
Guys, do we have a forecast for a solution?

[2021-09-27 14:02] offlineprogrammer commented on #916
Hi @rgb1380  - Thanks for opening this request. There are existing feature requests for web support (#[234](https://github.com/aws-amplify/amplify-flutter/issues/234)). We will continue to use tit to track support for web. Feel free to 👍  it to express your support.

I am going to close this issue as a duplicate to avoid confusion with the other issues.

Regards
Mo

[2021-09-27 14:02] #916 closed

[2021-09-27 15:28] dnys1 commented on #302
You'll want to await it before calling `_checkSession` like this:

[code]

[2021-09-27 15:58] HuiSF commented on #917
Hi @raywhiteside thanks for opening this issue.

This behavior is expected while using amplify-ios and amplify-android (the dependencies of amplify-flutter). An initial sync is expected right after plugin configuration is completed regardless signing in state, which triggered the error in your logs. When this exception happens it falls back to local only mode. In addition, normally, both iOS and A

[2021-09-27 16:46] dnys1 commented on #804
Hi guys, unfortunately, we do not have any updates on this issue. We will be closely following the Android issue linked above, though, and will prioritize an update as soon as the issue is resolved on their end.

[2021-09-27 16:48] dnys1 commented on #913
Interesting, okay, I will need to do some further investigation, then. Thank you for sharing - this may either be a blind spot in our SDK or just an unsupported use case. I'm not sure which, yet, but I will find out and get back to you soon.

[2021-09-28 01:03] sanchitd5 commented on #913
+1 facing the same issue

[2021-09-28 01:25] jasonhtpham commented on #913
More details:

Basically, if we specify `authorizationType` as `AMAZON_COGNITO_USER_POOLS` the api call will work fine, but the authorization will randomly work sometimes (not stable).

When we change the `authorizationType` to `AWS_IAM` the authorization seems to work fine but the api calls will give errors.

[2021-09-28 13:44] fahmiyuseri commented on #234
+for flutter web support

[2021-09-28 15:37] Ibessas opened #923 "signInWithWebUI does not exit browser, and stay in the navigator after social login"
I am trying to implement the signInWithWebUI but after the user log in with Facebook or Google, the navigator is redirected to the website on the redirect SignInRedirectURI and does not back to the APP.

Steps to reproduce the behavior:
1. Init and configure the amplify on your project
2. On the amplifyconfiguration.dart  set into SignInRedirectURI an url that is an actual page on the internet, an

[2021-09-28 15:42] Ibessas commented on #923
I'm using the  0.2.0 version, and calling the function this way: `await Amplify.Auth.signInWithWebUI(provider: AuthProvider.google);`

[2021-09-28 16:01] HuiSF commented on #917
Hi @raywhiteside a follow up, by any chance, did you invoke `Amplify.DataStore.observe()` API right after completing the plugin configuration?

[2021-09-28 16:03] dnys1 commented on #913
@sanchitd5 @jasonhtpham Can you both confirm you are all using a Cognito User Pool and API Gateway configured outside of Amplify, and not one configured through the CLI?

[2021-09-28 16:13] raywhiteside commented on #917
No, the code I pasted is everything I am running. I'm simply wrapping the above widget in `runApp()` in `main.dart`.

If this is expected, can't this exception be caught? Even better, why can't it check to see if it has the necessary credentials before attempting to sync?

I get that this is technically innocuous, but it's a pretty bold exception to be throwing on the happy-path. This muddies debu

[2021-09-28 17:36] dnys1 commented on #913
@KyMback @sanchitd5 @jasonhtpham In order to resolve this, I need some more information.

Please be specific about your API Gateway authorizer configuration:
1. Confirm you are trying to use the `COGNITO_USER_POOLS` authorization type in your gateway.
  a. If not, then the `AMAZON_COGNITO_USER_POOLS` authorization type will not work.
2. If so, are you using Cognito identity tokens or access tokens

[2021-09-28 19:07] Jordan-Nelson commented on #923
Hi @Ibessas - Can you share what you specified for `SignInRedirectURI`? Is it something like `<APP_NAME>://`?

[2021-09-28 20:38] Ibessas commented on #923
Hello, thanks for the reply!
I'm using: `"SignInRedirectURI": "https://[REDACTED]/visao-geral/"`

[2021-09-28 23:44] tayglobal commented on #234
+1 to Web support. Having web support would be critical to deciding whether to use flutter or not in our project

[2021-09-29 07:45] Msalways commented on #234
Waiting for flutter web support

[2021-09-29 10:47] sanchitd5 commented on #913
We were using react-native before, we migrated to flutter recently

1. We are using COGNITO_USER_POOLS authorization type in the gateway
2. Cognito identity tokens
3. Allowed OAuth Flows: 'Authorization code grant' and 'Implicit grant'
4.  not using Cognito Identity Pool

we did created a indentity Id for the flutter app but in the react native app we didn't had to
we are using id tokens, and use

[2021-09-29 14:26] Jordan-Nelson commented on #923
Typically the `SignInRedirectURI` would be `<APP_NAME>://` and in AndroidManifest there would be a data element with `android:scheme="<APP_NAME>"`.

You might have a unique use case that I am not understanding. Are you trying to redirect the user to a web page after sign in?

[2021-09-29 14:59] Ibessas commented on #923
Thanks for the reply!

I made a modification on the `android:scheme` i was using, it was wrong before, now the login is redirecting back to the app, thanks for your help!!!

[2021-09-29 14:59] #923 closed

[2021-09-29 17:13] EricRenForCode commented on #827
@HuiSF  my app needs  only sync the data belongs to the current users too and I used the DataStore model authorization by adding @auth(rules: [{allow: owner}]) for each of my models. But after doing so, all the data are saved in local successfully but I am not able to find it by looking at DynamoDB tables. if i disabled model authorization, the data can sync to the cloud.
Also, another questions.

[2021-09-29 21:08] HuiSF commented on #827
Hi @EricRenForCode thanks for following up on this thread. Regarding the issue you encountered could you please answer below question to help us triaging the issue?

1. Did you add `amplify_auth_cognito` to your project?
2. Were you able to configure the auth category by running `amplify add auth`?
3. After configuration, did you run `amplify push` to sync the configuration to cloud?
4. While test

[2021-09-29 22:08] Jordan-Nelson commented on #462
Hello @cto-leaps and @kjones - Thank you for your input.This is something that we are looking into.

I think this can be broken down into two issues:
1. The code generated models are not excluded from lint rules defined within the project. This is an issue since the generated models cannot possibly respect every possible lint rule that may be used within a project. To address this, the models prob

[2021-09-30 02:24] capida opened #926 "Returned value from Storage.downloadFile function do not resolve when is called with a expired session"
**Describe the bug**
After the session expires, any of the functions from the Storage package that use an access token and return a Future, that Future value never is resolved or is rejected. The program waits indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the authentication client with the following values:
Auth flows: ALLOW_REFRESH_TOKEN_AUTH, ALLOW_USER_SRP_AUTH
R

[2021-09-30 08:41] EricRenForCode commented on #827
1. I added amplify_auth_cognito: ^0.2.4 into my project
2. yes. I configured amplify add auth. the app are able to sign in successfully.
3. yes. successfully push and No changes detected.
4. by calling Amplify.Auth.fetchAuthSession(), it is verified that user has signed in.
5. after local saving, the subscribed HubChannel received outboxMutationEnqueued and outboxStatus events. no other logs showe

[2021-09-30 14:03] raywhiteside opened #927 "Cognito error but sign-in/API sync still works"
**Describe the bug**
When logging in, I see this in the log.

[code]

**To Reproduce**
Sign in with this Amplify configuration:
[code]

**Expected behavior**
The functionality is what I expect, but I don't expect/understand the errors (perhaps not errors?) in the log.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[x] Android

[2021-09-30 15:03] Jordan-Nelson commented on #927
Hello @raywhiteside - I'm happy to help you understand the logs.

For some context, Amplify-flutter is built on top of [Amplify-Android](https://github.com/aws-amplify/amplify-android) and [aws-sdk-android](https://github.com/aws-amplify/aws-sdk-android). Most of the logs you are seeing are generated from these libraries.

Which log(s) in particular are you looking for info on?

The log `CognitoUs