[2022-09-14 01:08] ianfmc commented on #2108
Haha. I just did (:

I can validate that it does not change the tables!

I'm working on updating the v2 environment to my mobile application to see what happens. I will report soon.

[2022-09-14 17:56] ianfmc commented on #2108
Unfortunately, after I converted the schema to be compatible with the v2 Transformer, there is no change (same error exactly). The new schema is below. Please advise (our Go-Live is waiting on this one issue :)

[code]

[2022-09-14 18:18] TMSoftSolution commented on #2096
Yes, the idToken is not correct. And I am using this with Dio.

[2022-09-15 00:55] ianfmc commented on #2108
How did the testing go @HuiSF?

[2022-09-15 01:15] skim037 opened #2127 "Not getting any events from DataStore"
### Description

I started seeing this issue suddenly. There is no changes to my app or schema.

When my app starts, it listens to datastore event like this.

[code]

For some reason, datastore is not sending any events.
I have not made any changes as far as I'm aware. No code changes, no recent upgrades, no schema changes.
I was wondering if there is something going on from datastore side.

Thank

[2022-09-15 03:12] skim037 commented on #2127
I think I found the issue.
I noticed that there were a lot of data accumulated over time while I was testing.
It could be that the sync operation took long time and eventually timed out?
After deleting the record, the app starts working again.

Before resolving the issue, is there a way to debug this more efficiently?
Where can I get logs to investigate issues related to datastore?

Thanks.

[2022-09-15 07:46] Intelbis commented on #2095
So when we we use the auth UI from Amplify to flutter it creates users in Amplify. But with CRUDops users are not authenticated to the database. So when I use authUi and the todo CRUDops together following the amplify docs user gets authenticated and the crud functions work within the local storage but doesn't not sync to the cloud. But it works perfectly individually. Any work arounds?

[2022-09-15 09:32] airon-tark commented on #2091
@HuiSF

Thanks for the answer

"The DataStore implementation follows only provided schema to generate SQL commands querying local SQLite database...."

Seems this is not the _full_ truth. It follows, but make some other changes in the field names.
As you can see from my schema:

- `Wristband` has `PaymentMethod` that has `User`
- `Wristband` has `User`

So the wristband has two joint tables of mod

[2022-09-15 09:44] AthreshK commented on #416
Hi @fjnoyp, Is this feature added? if not by when can we expect this to be rolled out?

[2022-09-15 09:58] fjnoyp commented on #416
Hi @AthreshK this feature is merged and will be included in our next release.

[2022-09-15 12:12] AthreshK commented on #416
That's great! thank you very much for the feature addition! Hoping to see the documentation with it.

[2022-09-15 14:10] dnys1 commented on #2127
Hi @skim037 - sorry you are facing this issue. On iOS, DataStore logs can be viewed most easily by running the app through Xcode. Can you try that and let me know if DataStore was indeed timing out or if there are other issues going on?

[2022-09-15 16:36] brunovsiqueira commented on #1271
Hi @Jordan-Nelson. Any plans to make the new version of amplify auth stable?

[2022-09-15 16:55] dorontal commented on #1867
Considering how this issue has been responded to, we may have to wait ... for a very long time.

This issue was originally labeled a bug, as it needs to be, because the missing functionality reported by this issue -- multi-auth + datastore working together -- **is supported and working in the core Amplify libraries**, as well as in Amplify-Js or Amplify-React or Amplify-iOS.

It's only in Amplify-

[2022-09-15 20:01] dtodt commented on #1472
I'm facing a different use case.
In my app, the user cannot have concurrent signed-in devices, so if he sign's in on another device, I must ask him to confirm then sign-out/forget the other device.

Are there any plans to bring this feature to the flutter version?

Thanks.

[2022-09-16 15:26] ianfmc commented on #2108
[bump] Hi @HuiSF: do you need anything from me?

[2022-09-16 22:08] #2105 closed

[2022-09-17 00:38] fjnoyp commented on #416
We have a docs PR on the way as well.  Thanks for the pointer @AthreshK

https://github.com/aws-amplify/docs/pull/4593

[2022-09-17 06:21] Intelbis commented on #2102
Hi I successfully managed to implement auth and crud ops together. But I am facing another minor issue that I have to close and open the app to see changes in the app when i create a new Todo from the amplify content. Please let me know how to fix this I really appreciate the help thank you!

[2022-09-17 13:22] dorontal commented on #1867
Here is the documentation part that tells us how to use mult-auth with Datastore, in Amplify-Flutter:
https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#multiple-authorization-types-priority-order

This implies that Datastore is supposed to work with Multi-Auth - you even tell us the recipe of how to do it.

Why, then, is this bug here, this issue, renamed to "feature requ

[2022-09-18 03:47] skim037 commented on #2127
@dnys1 Thanks for the information!. I will give it a try next time I run into Datastore issues. Please feel free to close this issue.

Thanks

[2022-09-18 15:06] dnys1 commented on #2127
Sounds good, thanks @skim037. And please feel free to create another if you run into any more issues.

[2022-09-18 15:06] #2127 closed

[2022-09-18 20:35] ianfmc commented on #2108
Hello @HuiSF: I updated to 0.6.7 **but the result is the same error**.

[2022-09-18 20:36] ianfmc commented on #2108
BTW: here is the cli.json

[code]

[2022-09-18 23:59] Crhis35 commented on #2108
Same issue here

[2022-09-19 01:01] lien-dkseo commented on #2092
thank you~ @dnys1

[2022-09-19 06:51] lokalathlet commented on #2011
Hi @dnys1 , I'm facing the same issue using authentication plugin in my android kotlin implemetation. The customTab remains still open after calling signOut and the user has to manually close it. A very bad UX. Can you give any advice?
`+--- com.amplifyframework:aws-auth-cognito:1.37.3
|    +--- com.amplifyframework:core:1.37.3 (*)
|    +--- androidx.appcompat:appcompat:1.2.0 -> 1.4.2 (*)
|    +--

[2022-09-19 07:18] lokalathlet opened #2133 "Android Kotlin Auth.signOut(), customTab remains still open and has to be closed manually by user"
### Description

Hi all, I'm working on an android app in kotlin, using the Amplify authentication plugin. The user signs in by  Auth.signInWithWebUI() api and finally signs out by calling Auth.signOut(). Everything works fine, except randomly within the signOut process the customTab remains still open and didn't close automatically. I'm using the latest version of auth plugin for android, Kotlin.

[2022-09-19 13:50] Jordan-Nelson commented on #1828
Hello @JakubWijata - This issue looks similar to https://github.com/aws-amplify/amplify-flutter/issues/1271 and https://github.com/aws-amplify/amplify-flutter/issues/1438. In both cases production logs indicate that sessions were expiring before the expiration time. Would you be able to take a look at those issues and let me know if you believe the issue that you are experiencing is different than

[2022-09-19 14:39] dnys1 commented on #2133
Hi @lokalathlet - sorry you are facing this issue. Would you be able to share any logs around the time this occurs?

[2022-09-19 15:34] dorontal commented on #1867
This

https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#multiple-authorization-types-priority-order

implies that Datastore handles multi-auth in Amplify.

Please help make this happen in Amplify Flutter - it does not seem like such a big deal to add this feature and -- since multi-Auth is used a lot, for apps where guest access is needed via IAM in addition to Cognito ac

[2022-09-19 15:45] 8maxxam8 commented on #1426
Hi do you have any updates about this? Is it already possible to set a custom primary key with amplify?

[2022-09-19 16:15] HuiSF commented on #2108
Hello @Crhis35 are you using transformer v1 schema as well?

[2022-09-19 16:19] HuiSF commented on #2108
Hi @ianfmc have you migrated to transformer v2? Looking at your `cli.json` that you are on transformer v2, as `"transformerversion": 2` and `"useexperimentalpipelinedtransformer": true`. If so the issue persists for you?

[2022-09-19 16:29] fjnoyp commented on #2014
Hi @gulmensedat thank you for the followup.  The problem you encountered might not be related to Streambuilder vs. Futurebuilder but to the fact that Storage.getUrl returns a presigned url from s3 which is only valid from 0-60 minutes.  Not aware that this can be configured unfortunately.

Your fix seems to be a good way forward, as making a new request will refresh the link and get a new presigne

[2022-09-19 16:43] fjnoyp commented on #2014
We'll update the docs to make this behavior more clear.  Thanks for taking the time to create this issue and share your process to resolution.

[2022-09-19 17:01] HuiSF commented on #2108
I think I found the cause, fixing.

[2022-09-19 17:11] ianfmc commented on #2108
So awesome...standing by.

[2022-09-19 17:18] ianfmc commented on #2108
Hi @HuiSF: should I take a look at that incident?

[2022-09-19 17:24] HuiSF commented on #2091
Thanks for the details @airon-tark ! I'll get in touch with amplify-android maintainers to fix the underlying issue.

[2022-09-19 17:49] Jordan-Nelson commented on #2095
Another option would be to add them in a post sign up lambda trigger. You can see the docs on auth lambda triggers [here](https://docs.amplify.aws/cli/usage/lambda-triggers/#cognito-lambda-triggers).

One advantage of using a lambda trigger is that you can have a higher level of certainty that if the user is created in Cognito, that they also get added to your database in the cloud. When adding th

[2022-09-19 17:50] HuiSF commented on #2108
Hi @ianfmc you mean testing out the PR? That'd be helpful!

You should be able to use git url to get the fix from the PR. e.g. in `pubspec.yaml`

[code]

[2022-09-19 17:51] Jordan-Nelson commented on #2095
@Intelbis - I don't think I am following what you are saying. It sounds like you may have an issue with DataStore data syncing properly. Unless you believe this is related to this feature request, could you please open a new issue and fill out the issue template so that we can try to reproduce the experience?

[2022-09-19 17:54] ianfmc commented on #2108
Yes: I am using transformer v2, and the issue persists.

[2022-09-19 18:38] ianfmc commented on #2108
Hi @HuiSF: not sure what a PR is (: I'm happy to try out the update. I am not sure how to add the line you suggest. Do I substitute what you've written for the line in current pubspec.yaml?

[2022-09-19 19:22] ianfmc commented on #2108
Hi @HuiSF: here's what happened

[code]

[2022-09-19 19:30] akshatbhuhagal commented on #302
Whenever you get a Plugin not added exception, this is usually because you are performing a hot-reload operation AFTER adding the plugin to your app. You need to STOP the app completely and then do flutter clean and RUN it again. This was the issue for me

[2022-09-19 19:32] HuiSF commented on #2108
To clarify this issue is caused by a recent change for supporting custom primary key, with which the logic tries to parse primary key information from a `CustomType`, but a `CustomType` doesn't have a primary key.

@ianfmc yea I think need to replace all dependencies with git resource, you can ignore it for now. The fix will be released soon. Thanks!

[2022-09-19 19:36] ianfmc commented on #2108
ok! please let me know (or will it be obvious on pub.dev)?

[2022-09-19 19:50] tylerjroach commented on #2133
@lokalathlet I think the first step is to look into your implementation of your sign out redirect uri? Could you post the activity block in your manifest that handles sign out? If this part was not implemented, please see here: https://docs.amplify.aws/lib/auth/social/q/platform/android/#update-androidmanifestxml

[2022-09-19 20:17] Jordan-Nelson commented on #2089
@anaya12345 - Would you be able to provide the info above? Thanks.

[2022-09-19 20:18] Jordan-Nelson commented on #2048
@bibaswan-bhawal - have you had a chance to create a minimal reproduction?

[2022-09-19 20:22] Jordan-Nelson commented on #1857
@Sunsiha - Apologies for the delay as I missed your last response.

Can you run the app on the simulator from Xcode and view the logs during sign in? Logs from the amplify-ios SDK will not show in the flutter console output.

[2022-09-19 20:25] Jordan-Nelson commented on #1207
@niyonx - Please let me know if you are still facing an issue. Otherwise I will close this issue out.

[2022-09-19 20:27] Jordan-Nelson commented on #118
@dineshkumar02 @markpearl - If you are still experiencing this issue, please provide the info above so that we can reproduce this. Thanks.

[2022-09-19 20:57] Jordan-Nelson commented on #2102
@Intelbis Can you confirm that the callback for this subscription is not called when a new item is added?

[code]

If that is the case, I think @ragingsquirrel3's suggestion is a good next step. If you can run the app from Xcode and include any logs that would be helpful. Thanks.

[2022-09-19 21:18] HuiSF commented on #2108
Hello @ianfmc [amplify-flutter 0.6.8](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.6.8) has been release, please upgrade and test with your App. The issue should've been fixed. Please feel free to follow up if anything. Thanks again for reporting this issue.

[2022-09-19 22:52] ianfmc commented on #2108
Worked. TY @HuiSF

[2022-09-19 23:46] Crhis35 commented on #2108
For me too Thanks!

[2022-09-20 00:20] HuiSF commented on #2108
Issue has been fixed. :)

[2022-09-20 00:20] #2108 closed

[2022-09-20 03:53] dineshkumar02 commented on #118
@Jordan-Nelson ,
I was exploring the amplify with flutter 2 years ago and reported the case which I faced.
Let me close this issue for now, as I understood how the internal auth token works.

What I was doing is like

1. Sigin with cognito user
2. In background, delete the user from aws console
3. Close the application and start it again (Auto sign in happened)

I thought, for the deleted users `a

[2022-09-20 03:53] #118 closed

[2022-09-20 05:20] lokalathlet commented on #2133
Manifest:
`
    <queries>
       ...
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <application
        android:name="de.db.xxxx.SiBaApplicat

[2022-09-20 10:10] HassanChamseddine commented on #1392
any information about updating the library with this feature?

[2022-09-20 10:48] duranmla commented on #1936
This is actually happening? I am trying to debug my situation on Javascript and I am not receiving events from the Hub under the datastore scope and I do have models with "Connection" Suffix such as `SkillParticipantConnection`

My code in summary looks like this:

[code]

[2022-09-20 13:35] dnys1 commented on #2105
This fix has been released in v0.6.8

[2022-09-20 13:35] Intelbis opened #2137 "Failed to Sync with Amplify Content"
![Screen Shot 2022-09-21 at 6 25 53 pm](https://user-images.githubusercontent.com/112920310/191454643-2c40108c-74a2-443f-929d-ee3c882a6441.png)
![Screen Shot 2022-09-21 at 6 22 05 pm](https://user-images.githubusercontent.com/112920310/191454191-224a594b-3d55-4929-b09f-f6dd2ce8d1ea.png)
### Description

I have successfully initiated amplify Auth ui and crud operations following the Amplify doc for

[2022-09-20 13:42] Intelbis commented on #2102
Hi Thanks for the reply Jordan. I was able to solve this issue  successfully with the default Todo properties in the Doc but the issue Im facing now is that I tried adding a new property and deployed it. But now the it it says failed to sync on amplify. In the log it shows "Orchestrator transitioning from SYNC_VIA_API to LOCAL_ONLY" "Setting currentState to LOCAL_ONLY" "Stopping subscription proce

[2022-09-20 14:23] Jordan-Nelson commented on #2102
Okay, I am glad you were able to resolve this issue. I will close this one out and take a look at the new issue you opened.

[2022-09-20 14:23] #2102 closed

[2022-09-20 14:30] Jordan-Nelson commented on #2137
Hello @Intelbis - Have you made updates to your schema? If so, have you run `amplify codegen models` to generate new models and `amplify push` to push these schema updates?

[2022-09-20 15:07] egyangel commented on #2137
Same issue here :
I've already updated to 0.6.8 version and runing `amplify codegen models` and `amplify push`

My schema
`
type User @model @auth(rules: [
    { allow: owner, ownerField:"id",identityClaim:"sub"},
    { allow: groups, groups: ["operator","administrator"], operations: [create, update, read, delete] }
]) {
    id: ID!
    cognitoId: ID!
    lastName: String
    phoneNumber: String!

[2022-09-20 15:18] Jordan-Nelson commented on #2137
@egyangel - If you are manipulating data in amplify studio, all records need to have the appropriate meta data fields (version, createdAt, updatedAt). It looks like lastUpdatedAt is null. I do not recall off the top of my head if studio will add these fields when adding a new record. You may need to add them manually. Do you mind opening a separate issue for this? It sounds like it could be a sepa

[2022-09-20 15:22] fjnoyp commented on #1392
Hi @HassanChamseddine thanks for reaching out about this.  Your comments help us improve how we prioritize our tasks by demonstrating developer interest in certain issues/features.

As the current implementation of Amplify Flutter Analytics relies on native implementations, we couldn't easily expose the escape hatch.  We are currently working to transition Analytics to a dart first implementation

[2022-09-20 17:03] lokalathlet commented on #2133
I try to fetchAuthSession to get the signedIn Status (is true here).

2022-09-20 18:52:51.611 27992-27992/de.db.xxxx.abn D/MainActivity: ::onActivityResult resultCode: 0 data: null
2022-09-20 18:52:51.620 27992-27992/de.db.xxxx.abn D/BackendImpl: :handleWebUISignInResponse received requestCode : 49281 and resultCode : 0
2022-09-20 18:52:51.647 27992-27992/de.db.xxxx.abn I/BackendImpl: Initiate Sig

[2022-09-20 17:46] fjnoyp commented on #1392
Hi @HassanChamseddine @geoox other members of the team are aware of this request.  We will be looking into adding an API to support that use case in the future.

Again, thanks for reaching out.

[2022-09-20 18:11] tylerjroach commented on #2133
@lokalathlet SignOutRedirectURI of "elbaapp://signout" doesn't match "sibaapp://signout" defined in the manifest.

[2022-09-21 04:27] renebrandel opened #2145 "RFC: Support GraphQL API for existing Relational Databases (SQL)"
We're planning SQL support for Amplify's GraphQL API category! Bring your own MySQL or PostgreSQL database and get a GraphQL API with authorization rules. Read more here: https://github.com/aws-amplify/amplify-category-api/issues/815

[2022-09-21 05:55] lokalathlet commented on #2133
Hi @dnys1 , this is another log, were the CustomTab didn't close.

2022-09-21 07:46:19.694 18939-19302/de.db.xxxx.abn D/IdentityManager: Signing out...
2022-09-21 07:46:19.696 18939-18939/de.db.xxxx.abn I/ViewRootImpl@b3a3707[CustomTabsManagerActivity]: dispatchDetachedFromWindow
2022-09-21 07:46:19.704 18939-19354/de.db.xxxx.abn D/AuthClient: Sign-out was successful.
2022-09-21 07:46:19.705 18939

[2022-09-21 05:59] lokalathlet commented on #2133
Hi @tylerjroach, you're right, but i just missed to rename it in the snipped.

[2022-09-21 06:02] abdallahshaban557 commented on #2133
Moving this to the Android repository. FYI @lokalathlet @tylerjroach

[2022-09-21 08:17] Intelbis commented on #2137
Hi Jordan, Yes i have run the sudo amplify codegen models & sudo amplify push commands prior to running the app. My model name has been renamed to Enquiries from Todos.

Im not sure why it doesnt sync

[2022-09-21 11:02] Intelbis commented on #2137
type Enquiry @model @auth(rules: [{allow: owner}, {allow: public}, {allow: private}, {allow: private, provider: iam}]) {
  id: ID!
  description: String
  isComplete: Boolean!
  name: String!
  noBedrooms: String!
}

[2022-09-21 11:02] Intelbis commented on #2137
hi Jordan my schema.graphql is

type Enquiry @model @auth(rules: [{allow: owner}, {allow: public}, {allow: private}, {allow: private, provider: iam}]) {
  id: ID!
  description: String
  isComplete: Boolean!
  name: String!
  noBedrooms: String!
}

[2022-09-21 11:08] egyangel commented on #2137
Hi @Intelbis
 I've already found another issue with my same problem.
 Thanks

[2022-09-21 11:37] Jordan-Nelson commented on #2137
@Intelbis - The log indicates that there is a model with a null value for noBedrooms. Is there a model saved in dynamo that is missing this field? Can you see what data is saved via the AWS console?

[2022-09-21 11:39] Simon-PumpAndUp opened #2146 "aws_signature_v4 - SerializationException: Expected null"
### Description

Hi,

Since Amplify doesn't integrate yet Rekognition I wanted to use [aws_signature_v4](https://pub.dev/packages/aws_signature_v4) to send myself HTTP post requests to verify pictures.

There is literally no documentation about where to find the info to use the package.

I figured out small chunks of it. For instance, in the header, the target (X-Amz-Target) can be found in "the n

[2022-09-21 11:48] Intelbis commented on #2137
Hi where to find this information? I just went to dynamoDB through aws console there’s nothing. Tables are empty. No tables found it says

[2022-09-21 12:45] Jordan-Nelson commented on #2146
Hi @Simon-PumpAndUp - based on the response, I think the request is probably signed correctly but does not have the correct parameters. Unfortunately the error message isn't giving much info on which parameters are invalid. I can take a look at the Rekognition docs and try to see what might be wrong with the request.

[2022-09-21 12:48] Jordan-Nelson commented on #2137
If it is showing no tables, it may be displaying info for a different AWS region than where your app I located. You can select this in the top right of the console. Can you confirm you are viewing tables for the same region as your app?

[2022-09-21 13:01] Simon-PumpAndUp commented on #2146
@Jordan-Nelson thank you for investigating!

I've tried to send the bytes directly:
[code]
And then I'm getting:

`{"__type":"InvalidImageFormatException","Code":"InvalidImageFormatException","Message":"Request has invalid image format"}`

[2022-09-21 15:18] dnys1 commented on #2146
Hi @Simon-PumpAndUp - sorry you are running into troubles with the sigv4 client. It is, unfortunately, a very low level API which we hope to build off of with an official AWS SDK. In the meantime, I believe you may have a better experience working with an unofficial package like this one which has higher level APIs: https://pub.dev/packages/aws_rekognition_api

From comparing your request to the A

[2022-09-21 15:54] Simon-PumpAndUp commented on #2146
Nope can't be. I tried with different combinations and got the same output each time. I tested my pictures on console.aws.amazon.com/rekognition directly and it worked perfectly.

I'll check the package thank you!

[2022-09-21 16:18] #2035 closed

[2022-09-21 18:07] chrisbonifacio commented on #1175
Hi, can you provide an example query and/or code snippet that is reproducing that error?

[2022-09-21 21:22] MichaelDuPlessis opened #2150 "Amplify Analytics Events logged to pinpoint do not appear"
### Description

- Custom events logged to pinpoint do not appear.
- No errors are thrown and Amplify is correctly being configured.
- I am using Cognito for authentication and do not allow guests and unauthorised users to send analytics.

### Categories

- [X] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Cr

[2022-09-22 03:20] Intelbis commented on #2137
Hi Jordan now I can see the tables. But where can I find the fields here.
![Screen Shot 2022-09-22 at 1 18 45 pm](https://user-images.githubusercontent.com/112920310/191651056-8948674d-cb94-44e7-aa4a-ff9eb0e7df8d.png)

[2022-09-22 03:21] Intelbis commented on #2137
![Screen Shot 2022-09-22 at 1 18 45 pm](https://user-images.githubusercontent.com/112920310/191651094-fe52a579-0b38-428e-bb9b-2521ca4eba83.png)

[2022-09-22 13:59] Sunsiha opened #2152 "Failed to compile application."
### Description

../../tools/flutter/.pub-cache/hosted/pub.dartlang.org/amplify_auth_cognito_dart-0.1.5/lib/src/state/cognito_state_machine.dart:39:19: Error: The argument type 'AmplifyHttpClient' can't be assigned to the parameter type 'AWSHttpClient?'.
 - 'AmplifyHttpClient' is from 'package:amplify_core/src/http/amplify_http_client.dart' ('../../tools/flutter/.pub-cache/hosted/pub.dartlang.org/

[2022-09-22 14:40] dnys1 commented on #2152
Hi @Sunsiha - sorry for the inconvenience. We will have a fix out shortly.

[2022-09-22 14:43] Sunsiha commented on #2152
How long it will take. I have a demo..because of this not able to deploy only.

[2022-09-22 14:55] dnys1 commented on #2152
I expect we'll have it released within a couple hours. Thanks for your patience and apologies again.

If you're in need of a more urgent fix, you should be able add a dependency override like so:

[code]

and run `flutter pub upgrade`

[2022-09-22 15:32] dnys1 commented on #2150
Hi @MichaelDuPlessis - a few more questions:
1. You mention using Cognito for authentication but it is not listed in your configuration. Just want to make sure you are adding and configuring that plugin.
2. A user is logged in at the point you're recording events, correct?

[2022-09-22 15:47] dnys1 commented on #2146
Gotcha, well I hope the other package works for you. Thanks for raising the issue and apologies for any headaches!

I'll close the issue for now. We are working on bringing an AWS SDK to Dart, so problems like this will hopefully be non-existent in the future 😄

[2022-09-22 15:47] #2146 closed

[2022-09-22 16:21] Intelbis commented on #2137
Hey Jordan I found these items in there. I can see bedRoom field here...
![Screen Shot 2022-09-23 at 2 20 13 am](https://user-images.githubusercontent.com/112920310/191800336-4db1627b-62bf-4054-91b3-8d06ecb8dd43.png)

[2022-09-22 16:40] dnys1 commented on #2152
Hi @Sunsiha, the fix has been released and should work without the dependency overrides now. Please make sure you are on the latest versions of the libraries, and run `flutter pub upgrade`.

[2022-09-22 16:40] #2152 closed

[2022-09-22 16:47] Intelbis commented on #2137
Hi Jordan after exporting those items and running project again seemed to resolve the conflict. It works now.

[2022-09-22 17:37] Intelbis opened #2156 "Argument type 'int' can't be assigned to the parameter type 'String'"
![Screen Shot 2022-09-23 at 3 33 39 am](https://user-images.githubusercontent.com/112920310/191814744-6359a8d2-1e1a-4ece-bc72-cd2b4e2433c6.png)
### Description

Hi I have added a new int property to my data model and when I try to run the app I get the following errors.

The argument type 'int' can't be assigned to the parameter type 'String'.
The argument type 'String' can't be assigned to the pa

[2022-09-22 18:07] Jordan-Nelson commented on #2156
Hello @Intelbis - If `noBedrooms` is an int in your schema, you will need to assign an int to it. The value coming from `TextEditingController` is a String. You can convert it with [int.tryParse](https://api.dart.dev/stable/2.18.1/dart-core/int/tryParse.html).

[2022-09-22 18:10] Intelbis commented on #2156
Hi thank you so much Jordan but can I know how to convert this string to an int?

[2022-09-22 18:19] Jordan-Nelson commented on #2137
Okay great, I am glad you were able to resolve the issue. I will close this issue out.

For anyone facing this issue in the future, it looks like this may have been caused by the null fields after the schema was updated to make them non-null.

[2022-09-22 18:19] #2137 closed

[2022-09-22 18:44] Jordan-Nelson commented on #2156
The link has some examples. Below is one as well.

[code]

[2022-09-22 19:15] Jordan-Nelson commented on #2146
@Simon-PumpAndUp - It seems that the Rekognition API expects a base64 encoded string representing the image data. The API docs are not clear about that. Below is an example of how to get a properly encoded image from a URL.

[code]

It looks like you already are passing in Uint8List. You can used `dart:convert` to convert to a base64 encoded string. I think with that change you should be able to g

[2022-09-22 19:23] Intelbis commented on #2156
Hey Jordan,

Im really sorry but how to implement this in my code?
Im really confused and I dont know where to implement the tryParse method.
Please be kind enough to enlighten me on this thank you

[2022-09-22 21:50] Jordan-Nelson commented on #2156
Hi @Intelbis - You can put it in the location where your model is created. The code below will try to parse the `String` `noBedrooms`, and fallback on `0` is the parsing fails (if the String doesn't contain an int)

[code]

[2022-09-23 02:35] Intelbis commented on #2156
thank you so much Jordan youre a legend!!! I was ablle successfully resolve that issue but 1 last error remaining which is the last one. It says The argument type 'int' can't be assigned to the parameter type 'String'

![Screen Shot 2022-09-23 at 12 34 27 pm](https://user-images.githubusercontent.com/112920310/191882336-75212934-f4f5-46aa-8510-ca0fed14df7a.png)

[2022-09-23 02:53] Jordan-Nelson commented on #2156
No problem.

You have to convert the int back to a String to display it as text. You can add .toString() to the end of enquiry.noBedrooms -> enquiry.noBedrooms.toString()

[2022-09-23 03:17] Intelbis commented on #2156
Thank you so much Jordan! I successfully managed to resolve this use with your help!

[2022-09-23 03:18] Intelbis commented on #2156
Thank you so much Jordan! I successfully managed to resolve this use with your help!

[2022-09-23 03:57] Intelbis opened #2160 "The argument type 'DateTime' can't be assigned to the parameter type 'TemporalDate'"
I was successfully able to implement date picker on the front end. But how to get the date properties to amplify? Should i use parse method? I have initiated string and init properties with amplify backend and now I have added a new date property but Im getting an error saying "The argument type 'DateTime' can't be assigned to the parameter type 'TemporalDate'"

How to resolve this issue please
ma

[2022-09-23 04:49] Intelbis commented on #2160
![Screen Shot 2022-09-23 at 2 49 10 pm](https://user-images.githubusercontent.com/112920310/191893953-367d8023-a939-4ae0-a873-2bf7ec99eacd.png)
![Screen Shot 2022-09-23 at 2 49 22 pm](https://user-images.githubusercontent.com/112920310/191893971-118a74cc-e3c8-42d7-9a16-83a51f360acf.png)

[2022-09-23 07:41] Simon-PumpAndUp commented on #2146
Thank you so much guys, the unofficial package for Rekognition works and yes changing the encoding did the trick.

[2022-09-23 08:08] petreikis commented on #1271
We are also facing the same issue. @brunovsiqueira, did you find any workarounds to mitigate it?

[2022-09-23 09:59] AnnaPS opened #2161 "Wrong information when get current user"
### Description

I'm trying to get the current user information using the following code

[code]
And the debug returns wrong information, basically, set the username (email) field with the id data.

It happens with different apps so I assume is a bug.

Thanks in advance.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Stora

[2022-09-23 10:55] kameshkarthi opened #2162 "Build failed"
### Description

When i add amplify dependencies in pubspec build failed with following error

i am using following versions
  amplify_auth_cognito: ^0.6.8
  amplify_storage_s3: ^0.6.8
  amplify_flutter: ^0.6.8

Anybody help to fix this?

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [X] Storage

### Steps to Reproduce

_No re

[2022-09-23 11:21] Jordan-Nelson commented on #2156
Glad to hear it. I'll close this issue out then.

[2022-09-23 11:21] #2156 closed

[2022-09-23 11:34] Jordan-Nelson commented on #2161
Hello @AnnaPS - I think this is a duplicate of https://github.com/aws-amplify/amplify-flutter/issues/201.

The "username" field from getCurrentUser unfortunately returns different results for iOS and Android. That issue has some workarounds. You can call fetchUserAttributes, which will also contain the email.

This has been addressed in our latest dev-preview version of auth (available on pub) but

[2022-09-23 13:00] RodPaDev commented on #333
I second @NimaSoroush reason for returning the URL after uploading.

[2022-09-23 13:14] Jordan-Nelson commented on #2160
Hello @Intelbis - A `TemporalDate` can be created from a `DateTime` object like so:

[code]

A `TemporalDate` can also be created from a properly formatted String like so:

[code]

Here are the API docs for [TemporalDate](https://pub.dev/documentation/amplify_core/latest/amplify_core/TemporalDate-class.html)

From the code you shared, it looks like you have a `DateTime` from the date picker, and a

[2022-09-23 14:05] Jordan-Nelson commented on #2162
Hello @kameshkarthi - From the output of your dependencies, it looks like you are using version 1.0.0 (developer preview).

The following are listed as dependencies:
[code]

Can you confirm which version you are using so that we can try to reproduce this? Thanks.

[2022-09-23 14:11] AnnaPS commented on #2161
@Jordan-Nelson thanks for the quick response. Yes, is duplicated, so I'm going to close it.

[2022-09-23 14:11] #2161 closed

[2022-09-23 15:33] Intelbis commented on #2160
Thank you so much for the detailed response Jordan after implementing movingDate: TemporalDate.fromString(movingDate), my post requests started working sucessfuly with amplify console. But now im unable to read data from the cloud in the app.  I have one last error in displaying the date.

The argument type 'TemporalDate' can't be assigned to the parameter type 'String'.

![Screen Shot 2022-09-24

[2022-09-23 16:42] Jordan-Nelson commented on #2160
@Intelbis - Similar to https://github.com/aws-amplify/amplify-flutter/issues/2156#issuecomment-1255748906, you need to convert the variable to a String if you want to use it in a `Text()` widget.

`TemporalDate` has a `toString()` method that will format the date in the format "YYYY-MM-DD+hh:mm:ss". This may or may not be what you want. If you want it formatted like "YYY-MM-DD", you could convert

[2022-09-23 16:52] skim037 opened #2165 "Datastore save operations incomplete when series of writes happens"
### Description

I have a code such that it writes records to different tables one after the other.
I have been struggling with an issue where some of the writes don't show up in a DDB table and they also don't throw any errors.
When I add breakpoints and execute the code line by line, they all work properly.

Code looks something like this.
[code]

I tried running the app from Xcode, and I saw an

[2022-09-23 18:12] Jordan-Nelson commented on #2165
Hello @skim037 - Can you let me know what type `tableThreeRepo`/`tableFourRepo` is, and/or the code for the save method on these types?

[2022-09-23 18:15] Jordan-Nelson commented on #2093
Hi @3nd3rs0nn - Have you had a chance to see if this issue persists on the latest version of Amplify Flutter?

[2022-09-23 18:18] Jordan-Nelson commented on #2062
Hi @YawarOsman - Please let us know if you were able to resolve this, or provide the config as requested above. Thanks.

[2022-09-23 21:23] harlanerskine opened #2169 "DataStore not saving new Users with current userId"
### Description

New users are not saved to Amplify. They are saved to the device but are not synced to Amplify.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

1. A new user logs in
2. On create_account_Screen they save their user info with:

[code]

**saveUserProfileDetails in my profileRe

[2022-09-24 01:42] skim037 commented on #2165
The table is really simple.

[code]

I tried two thing.
First, I moved the call to save appBadgeCount to the start of the method (before series of other save operations), and it was saved properly.
Second, I tried without the primaryKey annotation (save operation happens after series of other save operations), and it also worked properly.
But when the table has primaryKey annotation and save call

[2022-09-24 02:44] skim037 commented on #2165
I tried running it from Xcode. And I see a log saying model is saved successfully.

[code]

However, I do not see new property "profile_status: STANDARD"  in DDB.

[2022-09-24 04:29] Intelbis commented on #2160
Hi Thank you for the detailed and clear explanation regarding this.

I have successfully able to use crud ops for date property.

Thank you so much and Ill make sure to follow the discord as well. I signed up for it but I since I havent used it before my issue get lost in the chat.. Ill look into it. Thank you for the suggestion. Is it if i post any more issues I have on amplify studio here and on

[2022-09-24 05:58] skim037 commented on #2165
I have another datapoint that might be useful. I hope you can reproduce this and see what's going on.

I created three new tables.
[code]

Then I execute save operation with the same profile Id.
[code]

I checked DDB table, and I see this record in table one and two, but not in table three.
I think the order matters here. For example, if I execute two, three and one, table two and three has a reco

[2022-09-24 13:10] Intelbis opened #2172 "How to add single select dropdown data types"
### Description

I have managed to implement string, int and date data types to my app with crud operations.
I have created the dropdown user input field on the UI but Im I have an error "The argument type 'TextEditingController' can't be assigned to the parameter type 'String'."

I have used dropdownSearch to create the dropdown property and have added the controller to it as well.
I have deploye

[2022-09-24 13:26] Simon-PumpAndUp opened #2173 "Several non understood bugs"
### Description

Hello,

I have noticed that I lose real time connection in random scenarios and I some times the access tokens get revoked. I have no idea why, nor how to debug this. What I know is that on iOS the second listed one is a huge blocker as the devices lose the sync when it happens and I have many iOS user that can't use my app anymore because of this.

I am monitoring my prod environ

[2022-09-24 14:47] Intelbis opened #2174 "How to have multiple mobile apps with the same backend."
### Description

For an example if there are two apps depending on each other for an example driver app and the client app. how to have both these apps hosted with the same back end?

Is it by creating multiple environments inside the amplify app and connect branches of the same git repository?

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [

[2022-09-24 20:12] #2174 closed

[2022-09-25 10:25] Intelbis opened #2175 "S3 to RDS mySql"
### Description

Hi Im developing an app using amplify studio which is super usefull. But it has dynamoredb by default which is a noSequal database. Im developing an app with a relational database. How to get my data from the amplify content to aws rds?

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [X] DataStore
- [X] Storage

### Steps to R

[2022-09-25 12:05] Jordan-Nelson commented on #2175
Hello @Intelbis - This isn't something that is currently supported. However, there is an open Request for Comment (RFC) which proposes adding support for this. You can read about it here: https://github.com/aws-amplify/amplify-category-api/issues/815

[2022-09-26 01:44] abasu0713 commented on #234
So hypothetically is this possible now that you all have Amplify `auth` support for Flutter Web?

- Can I create a Flutter web APP (rendered using HTML - for all target platforms) that can use Auth to provide me access credentials required for:
- Conversations with Lex API V2 using Flutter's Method Channels which hook up to platform specific code (? Since Lex API V2 only has SDKs for C++, and Java

[2022-09-26 13:57] Jordan-Nelson commented on #2172
Hi @Intelbis - It looks like this is a question about using TextEditingController, and not specific to Amplify Flutter. [Stack Overflow](https://stackoverflow.com/questions/tagged/flutter), the [Flutter discord channel](https://discord.com/channels/420324994703163402/421444488205041665), or [Flutter Gitter](https://gitter.im/flutter/flutter) are all great resources for questions about flutter.

`T

[2022-09-26 14:00] Jordan-Nelson commented on #2175
@Intelbis - I see you included S3 in the issue title. Can you clarify how you would like to use S3?

[2022-09-26 14:04] Jordan-Nelson commented on #2173
Hi @Simon-PumpAndUp - Let's start with the expired/revoked tokens. What do you have set as the expiration for refresh tokens in Cognito? Typically this defaults to 30 days. Is it possible that the refresh token is expiring, or are you certain this is happening prior to the expiration?

[2022-09-26 14:09] Simon-PumpAndUp commented on #2173
Hi @Jordan-Nelson

Refresh token expiration
30 day(s)
Access token expiration
1 day(s)
ID token expiration
1 day(s)

I get that it expired but I expect amplify to deal with that as it does for Android.

[2022-09-26 14:09] Jordan-Nelson commented on #2160
If you have a question about amplify studio or the amplify libraries, Discord can be a good place to ask it. You may get a quicker answer for simple questions on Discord.

I am going to close this out since it appears to be resolved.

[2022-09-26 14:09] #2160 closed

[2022-09-26 14:15] Jordan-Nelson commented on #2048
Hi @bibaswan-bhawal - I am going to close this out since we were unable to reproduce it. If you are able to create a reproduction of this, please open a new issue. Thanks.

[2022-09-26 14:15] #2048 closed

[2022-09-26 14:17] Jordan-Nelson commented on #2050
Hi @arkeri - I am going to close this out since there is a recommended fix for this. If you believe there is a good use case to support this, please open a new request. Thanks.

[2022-09-26 14:17] #2050 closed

[2022-09-26 14:18] Jordan-Nelson commented on #2089
Hello @anaya12345 - I am going to close this out since we have not heard back. If you are still facing an issue, please open a new request in the amplify-flutter repo. Thanks.

[2022-09-26 14:18] #2089 closed

[2022-09-26 15:42] Simon-PumpAndUp commented on #2173
Ok what I did is that each start now I check if the user is still signed in using:
`await Amplify.Auth.fetchAuthSession().timeout(const Duration(seconds: 5),);`
And act on it if it returns false.

Hopefully it does return false if the token is missing because, I clearly never called Amplify.Auth.logout.

[2022-09-26 15:47] simranjeet09 commented on #2041
Hi  @Jordan-Nelson,

Could you please share an Idea that when we are planning to officially release this fix for Flutter? We are eagerly waiting for this as we are dependent on Custom auth and this feature is acting like a major blocker to us.

Thanks

[2022-09-26 15:55] Jordan-Nelson commented on #2041
Hello @simranjeet09 - Apologies for not updating this issue. The latest version of amplify_flutter (0.6.8) / amplify_authenticator (0.2.3) includes this change. You can see the latest release notes here: https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.6.8.

With these changes, you can call `Amplify.Auth.signIn()` from anywhere in your app and the authenticator will respond to this.

[2022-09-26 22:25] skim037 commented on #2165
`save` operations all look like this.

[code]

It seems like the issue happens when there is a series of writes (different models) that uses same custom primary key which was the point I was trying to get across with the previous comment.

[2022-09-26 23:41] jerocosio commented on #1206
Hi @dnys1 , thank you for posting this it has been really helpful for me, but I'm afraid that if you use it on the post-authentication trigger then the session that was just created also gets signed out, so if I add this code on post-auth I never get an actual session. Is there anyway to check if theres's already a session open to only run the `AdminUserGlobalSignOutCommand` inside an if?

For oth

[2022-09-27 03:33] abdallahshaban557 commented on #234
Hi @crolly - we do not have an exact timeline yet, but it is coming very soon! We will share these details on this issue when we have a clear timeline.

@abasu0713 - On the questions you asked:

- I am not sure I understand why you would want to have a Flutter web app that would work on all platforms rather than building the app itself in Flutter. Can you elaborate on that? Is it because you want

[2022-09-27 03:39] imjustthatguy commented on #1206
I concur, I tried with post auth and it invalidates the tokens as well.

[2022-09-27 04:02] abasu0713 commented on #234
@abdallahshaban557 thanks for your reply and direction. Of course. I'll be happy to elaborate. I'm working on an idea for PWA. which also has a light weight voice interaction element to it.
You got it right. Since I'm working on this alone, i have decided I would rather spend time on an adaptive design to build a lightweight web app that works on all platforms. I anyways need to write method chann

[2022-09-27 04:17] abdallahshaban557 commented on #234
@abasu0713 - got it! What I am struggling to understand a bit now is why would you need platform specific implementations if your plan is just to use webviews for example on iOS/Android/Desktop? Also, just from my experience - app stores would take down your app if you are making substantial changes to your frontend application without undergoing their review process, so I would be very careful ab

[2022-09-27 14:27] Jordan-Nelson commented on #2173
This is on iOS, correct? Are you able to reproduce this consistently?

Can you share the output of `flutter pub deps --no-dev --style=compact` and the contents of your `ios/Podfile.lock` so that we can reproduce this?

[2022-09-27 14:32] Jordan-Nelson commented on #2165
Your original code snippet included saving the same model twice. `infoThree` was passed into `tableThreeRepo.save` and `tableFourRepo.save`. Was that intentional? If so, what is the use case for saving the same model twice in a row?

[code]

[2022-09-27 15:46] juanrequeijo commented on #2162
Hello @Jordan-Nelson  I am using:

  amplify_auth_cognito: 0.5.1
  amplify_flutter: 0.5.1

 and there is this problem too.

I tested this version 0.6.8 and didn't work.

The work around is setting in build.gradle:

   configurations {
       all*.exclude group: 'androidx.lifecycle', module: 'lifecycle-viewmodel-ktx'
   }

[2022-09-27 17:06] Simon-PumpAndUp commented on #2173
Hi @Jordan-Nelson,

No I was not able to reproduce it consistently unfortunately. I had an issue with the token also with Android yesterday but re-logging the using fixed it.  Weird thing is that even if the user is considered connected, the token can be expired.

See bellow, from my dev env but there are the same, except Sentry.

<details>
  <summary>output of flutter pub deps --no-dev --style=co

[2022-09-27 20:52] Jordan-Nelson opened #2183 "QueryPredicates using a ModelIdentifier do not work in some cases on Android"
### Description

The following integration test fails when run on Android. The test passes when `BlogModelIdentifier(id: blog1.id)` is changed to `blog1.id`.

There is at least one integ test in main that uses `ModelIdentifier` and this test is passing on iOS/Android.

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ]

[2022-09-27 22:47] skim037 commented on #2165
No it's by mistake. They should be different model. Please disregard my original code snippet and look at the my latest replies.

[2022-09-27 23:21] dnys1 commented on #1206
Hi @jerocosio @imjustthatguy - sorry for the misinformation. I guess some wires got crossed in my initial testing. After further testing, I agree that the postAuthentication trigger does not provide the proper support to perform a global signout. Oddly enough, neither does the preTokenGeneration trigger. Despite being called before token generation, calling global signOut from there also results i

[2022-09-28 11:54] Intelbis commented on #2175
Hey Jordan I have data objects stored in S3 and its currently saving to DynamoreDB.
Can export the existing S3 from my environment to an aurora mysql serverless cluster?
Im from Melbourne but my rds region is us-east-1

[2022-09-28 14:20] Jordan-Nelson opened #2188 "Authenticator Username form validation does not match Cognito's requirements"
### Description

Cognito uses the regex `[\p{L}\p{M}\p{S}\p{N}\p{P}]` for validate usernames. The Authenticator allows for any non-empty string.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Set up an app with username/password based auth.
2. Try to sign up with a username that has a wh

[2022-09-28 14:34] fengkaijia opened #2189 "[Feature Request] Autofill for SignInForm and SignUpForm"
### Description

As a user, when login in to an app on an Amplify Authenticator sign-in form, I want to have my AutoFill service to fill in username and password for me.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
-

[2022-09-28 17:14] pnally-wealth commented on #1716
What were some of the pitfalls you have to figure out when moving from Cognito to Firebase?

[2022-09-28 20:46] YawarOsman opened #2190 "DataStoreException(message: The operation couldn’t be completed. (SQLite.Result error 0.), recoverySuggestion: The operation couldn’t be completed. (SQLite.Result error 0.), underlyingException: The operation couldn’t be completed. (SQLite.Result error 0.))"
### Description

When i'm trying to save data in `Amplify DataStore` it cause that error in the title.
it works perfectly on Android and real iphone 6 device but i tried on iphone 13 pro max simulator it caused this issue

This is my code to save the data to `DataStore` :

[code]

And this is my GraphQL schema for `Users` table:

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (

[2022-09-29 02:02] fjnoyp commented on #2190
Hi @YawarOsman thanks for sharing this issue.  We'll take a look and see what's going on here.

[2022-09-29 08:54] YawarOsman commented on #2190
thank you, let me know when you got it, please

[2022-09-29 09:18] VinhShin opened #2191 "Amplify return email undefined for Facebook"
### Description

I completed config the lambda triggers, attribute mapping + scope in Cognito

but when I use signInWithWebUI with AuthProvider.facebook, although the email permission was granted but Facebook doesn't send email in lambda triggers

I have printed the event received by "Pre sign-up" Lambda and the user email is undefined.

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [

[2022-09-29 13:29] likeconan opened #2192 "Web support for amplify_api"
### Description

<img width="564" alt="image" src="https://user-images.githubusercontent.com/12960160/193044168-3a36481d-99b0-48cb-a877-258723b82905.png">
According to the plugins, I also want to use AmplifyAPI in web,

May I ask when will amplify_api graphQL support in web?

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] S

[2022-09-29 14:24] fjnoyp commented on #2192
Hi @likeconan thanks for reaching out.  We are actively working on implementing this for web and will let you know when we have a release schedule prepared.

[2022-09-29 21:06] dnys1 commented on #1206
It appears this is a known limitation of Cognito, but that it is by design. Here is the answer I received:

I hope this helps and I apologize that there is not a more efficient solution available. I will be closing this issue for now since it appears to not be in Cognito's purview to change the behavior. Please feel free to continue to the discussion here, though.

[2022-09-29 21:06] #1206 closed

[2022-09-29 21:07] dnys1 commented on #2192
Hi @likeconan please follow the [Web support ticket](https://github.com/aws-amplify/amplify-flutter/issues/234) for the latest updates. The API category is scheduled to be released next, following the launch of Authentication last month which was our first category to support Flutter Web.

[2022-09-29 21:07] #2192 closed

[2022-09-29 21:09] dnys1 commented on #2191
Hi @VinhShin, the mapping happens to the user attributes. Can you confirm the `userAttributes` field does not contain the `email` from Facebook? In your log, it shows as `userAttributes: [Object]`.

[2022-09-29 21:36] djsjr opened #2193 "Upgrading from Datastore 0.6.1 to 0.6.8 causes Android app to crash"
### Description

This error occurs when a user who's device has a synced local database via datastore gets updated to the latest version of datastore. I am using CLI 9.2.1 since 10 is not compatible with amplify 0.6.1 (codegen models produced incompatible models).

For example, if a user has synced datastore and gets upgraded from Flutter Datastore 0.6.1 to 0.6.8, their app will crash within secon

[2022-09-30 00:45] VinhShin commented on #2191
yes @dnys1, I confirm
here is the log
[code]

[2022-09-30 09:42] stevegaunt commented on #663
@HuiSF
any further updates regarding this?  we will moving towards multi device(s)

[2022-09-30 15:56] fjnoyp commented on #2193
Hi @djsjr thanks for sharing this issue.  We'll take a look.

Have you tested and gotten the same issue on iOS?

[2022-09-30 15:57] dnys1 commented on #2191
Hmm, could you try adjusting your authorized scopes to be `public_profile, email` (with a comma)? Currently, it says `public_profile email`, but according to the Cognito [docs](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html):

[2022-09-30 16:28] VinhShin commented on #2191
As the attached picture, I have added the commas to separate those scopes
already, I don't know which is wrong, I lost more than a week on this :(

Vào Th 6, 30 thg 9, 2022 vào lúc 22:57 Dillon Nys <
***@***.***> đã viết:

[2022-09-30 17:54] djsjr commented on #2193
Yes thats right. Tested on iOS with no problem.

[2022-10-01 00:14] u382514 opened #2198 "Devices are not being tracked"
### Description

When signing in using Amplify.Auth.signIn, using User Srp Auth, I expected the 'confim device' api to be hit and my device to show up under tracked devices. This is not happening.

Am I missing something here or is something else that hasn't been implemented in the ^1.0.0-next.0 version?

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authent

[2022-10-01 07:19] kingmarleycoffee opened #2228 "GraphQL query processing slowly and showing "Long monitor contention""

[2022-10-01 16:45] fjnoyp commented on #2191
Hi @VinhShin we're reaching out internally to get more context of what the expected behavior should be here.  Thanks for your patience.

[2022-10-01 16:58] fjnoyp commented on #2175
Hi @Intelbis I don't work Aurora MySQL so not sure, however have you tried contacting the Amazon Aurora team here?

 https://aws.amazon.com/contact-us/sales-support-rds/

[2022-10-01 18:53] fjnoyp commented on #2169
Hi @harlanerskine where do you get `userId` ?

How do you know it is saved locally but not synced to AWS - is there an error you get in the logs that you can share?

[2022-10-01 18:56] fjnoyp commented on #2165
Hi @skim037 in your code it looks like you're using the same id: "profileId" to save 3 different items.  Can you try giving a different id for each testTable you create?

[code]

[2022-10-01 19:03] fjnoyp commented on #2162
Hi @juanrequeijo @kameshkarthi

Thanks for reaching out here.  The error appears to be that your dependencies use the `kotlin` and `java` version for the `viewmodel` library as described in this stackoverflow answer.  I would recommend implementing the fix in that answer or using @juanrequeijo fix provided above.

https://stackoverflow.com/questions/69817925/problem-duplicate-class-androidx-lifecy

[2022-10-01 19:10] fjnoyp commented on #2190
Hi @YawarOsman

I just ran the Datastore example app on an iPhone 13 pro max and am unable to replicate your issue.  I am able to save objects and retrieve them again when the app starts up.

Can you please try uninstalling and rerunning the app on the simulator again.  There might be old data from a different schema that's still present.

If that still doesn't fix your issue - can you please try

[2022-10-02 12:59] danfreid commented on #1501
May be irrelevant for the original poster, but for the first use case, we deployed a pre-push hook script to explicitly set the "lastSync" to a large number and keep certain models from being processed for DataStore syncs.  This allows us to use DataStore for the majority of the models but ignore high latency for those that we never want to get to the client (for us, AuditLog, SystemEvents, DailyA

[2022-10-02 15:58] fjnoyp commented on #2198
Hi @u282514 how do you call user sign in?  Which platforms have you tested on and noticed this issue and how are you validating that devices are being tracked?

[2022-10-02 16:44] Simon-PumpAndUp commented on #798
Hello @Jordan-Nelson, I'm using Rekognition via a rest API call to a lambda. The thing is, processing the images can take more than 10s and I get a timeout. My only solution is to call from the lambda another lambda and directly respond to the request. So increasing the timeout would ease a lot my environment.

[2022-10-02 17:50] YawarOsman commented on #2190
thank you for your instructions, now i'm be able to save data but it only stores offline it won't sync to the cloud i don't know what is the problem i reinstalled the app and also remove and added the amplify api but it didn't fix my issue

[2022-10-03 15:39] u382514 commented on #2198
I call it by using the signIn method (Amplify.Auth.signIn) with username and password. Username being the email alias. Also, we are using USER SRP AUTH. I've tested on IOS, Android, MacOS, Windows and Web. It's why I chose to use the 'next' branch as it aims to handle all platforms. Cognito settings for MFA are Opt-In, device tracking is set to ALWAYS with suppression of MFA on trusted devices.

I

[2022-10-03 16:52] dnys1 commented on #2198
Hi @u382514 - the issue seems to be that you don't have an identity pool configured. We are currently working on improving our "user-pool only" support right now. At the moment, though, an identity pool is required for device tracking unfortunately.

I can leave this issue open until that is resolved.

[2022-10-03 17:41] u382514 commented on #2198
Awesome! I set up an identity pool and indeed that solved the issue. It would be nice to support "user-pool only", however, I don't really have a valid reason NOT to use an identity pool anyways so this setup is fine and easy to reason with. Thanks for the quick response!

[2022-10-03 18:16] harlanerskine commented on #2169
Hi @fjnoyp, thanks for looking this issue over.

The `userId` is logged as the correct id in
`developer.log('userId at save: $userId');`
at the beginning of the try block in my save

`Future<void> saveUserProfileDetails() async {`

userId at save: 55ebfe43-c690-420c...

I think it's not synced up to AWS because, in my login, I have the code:

`onPressed: () {
                                    if

[2022-10-03 18:20] u382514 commented on #2198
Looks like now I'm having another issue. It seems that I keep getting a new device key every time I log in, so the list of devices just keeps growing. It's as if it's not pulling the cache from indexDB. Is there some extra setup that is needed? I do see that the db is being filled with the keys.

[2022-10-03 18:30] dnys1 commented on #2198
Hmm, so you are calling signIn with the same username each time, correct? And then calling signOut?

[2022-10-03 22:10] u382514 commented on #2198
Yep, calling the same user. In fact, it's the only user in the system as I'm using it to develop against. In AWS Cognito's device list it just keeps racking up new ones any time I log in. The 'remember device' piece is working (shows yes when trusted and no when not in the Cognito UI). I am indeed just calling the signOut function too. Nothing fancy and there's nothing layered in the UI I'm workin

[2022-10-03 23:04] dnys1 commented on #2198
I'm not able to reproduce the behavior. Can you confirm you are not calling `Amplify.Auth.forgetDevice` at any point?

Can you clarify what you mean here, maybe with pics of the behavior you're seeing?

[2022-10-04 01:39] skim037 commented on #2165
[code]

Above code works as expected. I see new records in all three tables. But this is not what I want. I'm using profieId as a custom primary key and I'm trying to save a record with a same profile Id.

And as I mentioned earlier, using a same profile Id works if I add a breakpoint and step through the code line by line.

This should be pretty easy to try to reproduce. Are you not seeing the sa

[2022-10-04 02:23] mattetheridge commented on #299
Yes, I concur - this indeed works as expected, although I'd prefer not to have to post this request separately to refresh the access token each time it runs out.

[2022-10-04 23:08] frankleng commented on #1716
it was a fairly straight forward transition. u can import existing user Ids into Firebase auth, and swap UI libs. user did not notice a difference, other than not having to auth twice.
only thing was rewriting our cloudflare jwt middleware to use firebase - https://github.com/frankleng/cloudflare-firebase-jwt-verifier

u also no longer have to manage the account merging logic. Firebase auth will a

[2022-10-07 06:19] ErnestDaDev opened #2211 "Datastore Sync and API gives error of unauthorized to UPDATE OR DELETE only"
### Description

In my schema i have @auth with owner with full operations - CRUD, in the app, syncing is done perfectly, it can create and read but it immediately says unauthorized when i attempt to both update or delete the record when it tries to sync, it gets deleted locally but it never makes it to the cloud. I tried with the API directly as you can see in the screenshot and it gives the erro

[2022-10-07 10:52] ErnestDaDev commented on #2211
So i fugured out, the unathourized on owner was referring to the owner field on the schema - owner: String @auth(rules: [{ allow: owner, operations: [create, read] }])

so after i changed it to   owner: String @auth(rules: [{ allow: owner, operations: [create, read, update, delete] }])

it works now. So the question actually is how do i get the owner to update or delete a record without touching t

[2022-10-07 12:08] ClemPalf opened #2212 "AmplifyException(message: Failed to instantiate AWSMobileClient) on Android devices."
### Description

Hi everyone,

I am currently facing the following error when configuring Amplify (via `await Amplify.configure(amplifyconfig)` on an Android phone:

D/AWSMobileClient( 3751): Using the SignInProviderConfig from `awsconfiguration.json`.
D/AWSMobileClient( 3751): initialize: Cognito HostedUI client detected
D/AWSMobileClient( 3751): Inspecting user state details
W/InternalCallback(

[2022-10-07 13:27] cyberpunk-akash commented on #740
I am getting this after I deleted app client from Amazon Cognito. Looks like this needs to be resolved by creating a new app client under the concerned user pool and then somehow linking it to the flutter project

[2022-10-07 21:44] ragingsquirrel3 opened #2214 "datastore adds UTC mark to AWSDate values even when they don't have it on android - next"
### Description

In the next branch on Android, if I have a model with type of `AWSTime` and I save a time that does not include timezone (which is optional), the version of the model that I query from the datastore will always include "Z" to indicate UTC.

Expected: `AWSTime` values respect inclusion/omitting timezone as saved

This is on next branch (built with `aft`). I suspect the issue is wit

[2022-10-09 00:57] benedict1986 commented on #1528
Hi @Jordan-Nelson, thank you for explaining the new behavior. For google sign in, it works as want you said. How about for Facebook?

I am testing my application now with Facebook sign in. After I signed in with Facebook, I am not able to change Facebook user anymore. Even I delete the Facebook user in Cognito, the record will also be recreated without asking me to sign in again.

Is there any way

[2022-10-09 10:51] ClemPalf commented on #2212
Following [#508](https://github.com/aws-amplify/amplify-flutter/issues/508) recommendations, I tried several things like:
- Flutter clean
- Commenting, uncommenting parts of the AndroidManifest

But none worked.
So I re-pulled the entire project from codecommit on a new folder and this time it worked.
It feels like amplify was looking at some residual files that flutter clean wouldn't get rid of.

[2022-10-09 10:51] #2212 closed

[2022-10-09 21:39] Jordan-Nelson commented on #1528
@benedict1986 - I believe if you sign out of Facebook in your devices default browser, it will prompt you to sign in again. This would be the same behavior as Google. Please let me know if you are seeing different behavior.

[2022-10-10 18:39] #1207 closed

[2022-10-10 18:39] chrisbonifacio commented on #2228
Hi @kingmarleycoffee 👋 thanks for raising this issue. Transferred it over to the Flutter repo for better support and feedback

[2022-10-10 18:40] #2093 closed

[2022-10-10 18:40] #2062 closed

[2022-10-10 18:41] #1828 closed

[2022-10-10 18:41] #2172 closed

[2022-10-10 18:42] #2041 closed

[2022-10-10 18:56] ragingsquirrel3 commented on #2076
@RikiZimbakov what is the default auth mode for your AppSync backend? Do you have another other auth modes enabled?

[2022-10-11 02:02] blexo opened #2229 "Following aws flutter tutorial results in xcode build error"
### Description

I am experimenting with the aws amplify todo flutter tutorial - all works great (I can get the todo list working, etc) until I reach this page related to auth:

https://docs.amplify.aws/start/getting-started/add-api/q/integration/flutter/#add-api-and-auth-plugins

The xcode build fails and I've isolated it to adding this library to the pubspec.yaml:
amplify_api: ^0.6.0

The error

[2022-10-11 07:34] w0da commented on #1616
Hi yes,

Perhaps it relates to #1615,
In that if it was a lower version as you mentioned there, no conflict would be triggered?

It may explain both of these “issues”..

I will do a more thorough testing in the morning and get back to you.

[2022-10-11 08:57] Lorenzohidalgo commented on #234
@fisforfaheem not sure if I understood your comment correctly, but you can already host a flutter web project using amplify hosting. It might not be officially supported out of the box, but you can configure it through the aws/amplify console (web UI).

[2022-10-11 08:58] CaptainJack007 opened #2230 "CognitoUserSession is not valid because idToken is null."
**i can't login and register new users.
when i want to login, it says:**
`W/CognitoUserSession( 9541): CognitoUserSession is not valid because idToken is null.
D/AWSMobileClient( 9541): Sending password.
D/AWSMobileClient( 9541): Using USER_SRP_AUTH for flow type.
W/AWSMobileClient( 9541): signalTokensNotAvailable
W/InternalCallback( 9541): Library attempted to call user callback twice, expected o

[2022-10-11 11:59] kmvignesh opened #2231 "NotAuthorizedException exception message are different on android and iOS"
### Description

When user is not authorised getting exception as 'NotAuthorizedException' but the underlyingException is giving proper message on android and null on iOS. Due to this we are not able to identify wether the user is inactive or entered wrong password.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

#

[2022-10-11 14:07] airon-tark commented on #186
@Jordan-Nelson

This is still an issue
reproducing on `amplify_flutter: ^0.6.8`

- Using amplify google auth
- Refresh token set for 60 min
- Access and id tokens set for 5 min
  <img width="315" alt="Снимок экрана 2022-10-11 в 17 05 20" src="https://user-images.githubusercontent.com/54197112/195113461-82b95d3d-df74-4194-8e53-4ddf78edfd78.png">

- Make an API call
- Wait for 7 minutes
- Request fo

[2022-10-11 15:44] abdallahshaban557 commented on #234
@fisforfaheem Here is an example of how to setup Amplify hosting with Flutter web apps as well https://medium.com/flutter-community/hosting-flutter-web-applications-with-amplify-hosting-and-github-actions-d53ba213767

[2022-10-11 15:50] ragingsquirrel3 commented on #2229
@blexo I believe this is related to an open issue with amplify-ios which has a workaround. Do you mind trying the workaround described in https://github.com/aws-amplify/aws-appsync-realtime-client-ios/issues/92#issuecomment-1196276837 and seeing if it fixes your build?

[2022-10-11 17:11] ragingsquirrel3 commented on #2230
Hey @CaptainJack007 sorry you are facing this issue. Do you mind telling us which versions of amplify-flutter plugins you are using? Is this happening on ios or android or both? Do you also mind including code blocks to show how you are calling Amplify auth methods in your code?

[2022-10-11 18:18] tylerjroach commented on #1239
The issue here is not related to `minifyEnabled`. Java8 and desugaring need to be enabled in build.gradle as shown in the Android documentation here.
https://docs.amplify.aws/lib/datastore/getting-started/q/platform/android/#install-amplify-libraries

Specifically these lines:

Add the following dependencies to your app build.gradle file and click "Sync Now" when asked:
[code]
At the top of the sa

[2022-10-11 19:30] loami225 commented on #2073
thanks you @ignitum-ryan

[2022-10-11 21:35] ragingsquirrel3 commented on #1473
@stevegaunt are you still facing this issue with latest versions amplify-flutter and latest stable version of flutter?

[2022-10-12 12:53] dorontal commented on #385
I'm seeing this issue again - with **all** exceptions, it seems (AuthException, StorageException) - suddenly the mechanism that caught Amplify library exceptions before is no longer catching any of the exceptions because of this PlatformException issue - if anybody else is seeing this issue resurface, please holler.

[2022-10-12 12:54] dorontal commented on #385
This happened as soon as I upgraded CLI from version 10.2.1 to  10.2.3 yesterday, by the way.

[2022-10-12 13:28] dorontal commented on #385
@haverchuck I believe this issue needs to be resurrected - please check.

[2022-10-12 14:53] abdallahshaban557 commented on #385
Hi @dorontal - can you please create a new Github issue and provide us with the information on our issue template - our support engineer will get back to you! https://github.com/aws-amplify/amplify-flutter/issues/new?assignees=&labels=&template=BUG-REPORT.yaml

[2022-10-12 15:01] dorontal opened #2238 "Amplify exceptions cannot be caught -- they show up as "platform exceptions" and the error thrown "Translating platform exception failed" cannot be caught in the client code"
### Description

Amplify exceptions cannot be caught -- they show up as "platform exceptions" and the error thrown "Translating platform exception failed" cannot be caught in the client code.

For example, here is the complaint I get in VSCode in red when an exception is not caught and the app crashes -- after trying to get  a file from S3 which does not exist:

[code]

All your exceptions are sho

[2022-10-12 15:11] abdallahshaban557 commented on #2238
@dorontal  - thank you for creating this ticket so promptly - we will check this out!

[2022-10-12 15:15] dorontal commented on #1658
I see exceptions thrown that are wrapped by PlatformExeption in this reported issue which indicates it may be related to https://github.com/aws-amplify/amplify-flutter/issues/2238

[2022-10-12 15:17] dorontal commented on #2238
Sounds great, thanks so much @abdallahshaban557 - FYI: this happened after a routine upgrade of the CLI and all SDK libraries, which I do about once per week. The upgrade went from version 10.2.1 to 10.2.3 when this happened.

[2022-10-12 18:26] ragingsquirrel3 commented on #2238
@dorontal I wasn't able to reproduce this issue even after upgrading CLI and setting up a new Amplify backend with the new CLI. After you upgraded the CLI, did you run any amplify commands like push/pull? If so, did you make any backend updates first? I'm trying to better understand how CLI update might be connected here and eventually reproduce.

Looking at https://github.com/aws-amplify/amplify-

[2022-10-12 18:41] dorontal commented on #2238
@ragingsquirrel3 I did see #385 and did try the `flutter clean` followed by a VSCode restart but to no avail. You mean you used all new versions to create a new project and then to cause in it an Amplify exception and you were able to catch such exceptions with a try-catch?  That's interesting. It does not work for me. Amplify exceptions such as `StorageException` or `AuthException` cannot be caug

[2022-10-12 19:22] ragingsquirrel3 commented on #2238
Yes, I created a new amplify project after uploading to newest CLI version and performed an operation that throws an exception. I was able to catch the exception as `AuthException` without issue so not sure how I can reproduce this. This is so far only on Android, correct?

[2022-10-12 20:14] dorontal commented on #2238
Yes, only tested this on the usual Android emulator and I don't have a way to test on iOS. Thanks very much for clarifying. I did try to re-install everything from scratch (amplify folder, cli, libraries) and restarted but got the same error. If this persists, I will create a small app that demonstrates it.

[2022-10-12 20:56] ragingsquirrel3 commented on #2238
@dorontal have you tried manually downgrading your Amplify CLI to the version you used before? Also, did you run amplify push/pull after updating it? I don't understand how CLI update would cause this kind of error but as a sanity check might be good to try the old version so not to focus on CLI version if that's not really root cause.

[2022-10-12 21:29] ragingsquirrel3 commented on #416
This was released with version 0.6.9.

[2022-10-12 22:50] #1239 closed

[2022-10-12 22:51] ragingsquirrel3 commented on #416
I'm going to close this issue but please comment here or open new issue if there are any issues with use after upgrading to latest version.

[2022-10-12 22:51] #416 closed

[2022-10-13 04:56] MarlonJD commented on #1814
thanks to @fjnoyp. He fixed this issue. with #2087 and it's released on 0.6.9

[2022-10-13 04:56] #1814 closed

[2022-10-13 04:58] MarlonJD commented on #1736
Hey @fjnoyp, you fixed #2087. Can you check this issue?

[2022-10-13 13:34] dorontal commented on #2238
@ragingsquirrel3 I understand and also find it impossible that a CLI upgrade would cause a bug in exception handling code. I have another machine with CLI version 10.0.0 installed on it. I copied the entire project over and it ran flawlessly on that machine as-is without a change. Several exceptions get called, e.g. when `getCurrentUser()` is called and nobody is logged in and got handled just fin

[2022-10-13 15:03] benedict1986 commented on #1528
Thank you @Jordan-Nelson, it works. I need to sign out from the browser.

[2022-10-13 17:00] mcku opened #2241 "transformRequest infinite loop"
### Description

If one uses their own client such as `MyAmazonHttpClient`, the `send` method invokes transformRequest. I have not looked into it very deeply. I guess it is not supposed to behave this way.

[code]
i am using the client like this: `signedRequest.send(client)`

the custom http client does not display this behavior.

ref:
https://github.com/aws-amplify/amplify-flutter/blob/65a770c00b

[2022-10-13 17:58] dnys1 commented on #2241
Hi @mcku - sorry you are facing this issue. I've opened a PR with a fix 👍

[2022-10-13 20:49] lucasoares opened #2245 "Amplify authenticator UI stuck in loading after error on SignUp"
### Description

After receiving an error from my PreSignUp lambda the UI is always stuck in the loading state. More details are below.

My amplify is configured in the state of the main widget like this:

[code]

And here is my `configureAmplify` function (I use the Hub to remove user data from application, but this is not relevant so I deleted few lines):

[code]

After the signup attempt with a

[2022-10-13 22:46] djsjr commented on #2193
@fjnoyp any update on this?

[2022-10-14 01:05] fjnoyp commented on #1736
Hi @MarlonJD

I'm a bit new to this issue and seems like there's been a long conversation on this.

This is what I understand the issue to be:

You cannot retrieve certain object types because you receive a console error saying you don't have proper authorization.

You were told to use multi auth setup but then got a different issue because the use of multi-auth for API + multi-auth for DataStore

[2022-10-14 01:35] fjnoyp commented on #2193
Hi @djsjr I think that we added support for custom primary key for datastore in between those versions.  That feature might have invalidated the existing SQL tables on your device thus causing the crash you observed. I'm checking that internally.

In the meantime, is there a specific reason you cannot clear and redownload the app?

[2022-10-14 01:45] djsjr commented on #2193
Thanks for looking into this @fjnoyp . I have many Android beta testers - some of which began reporting crashes as soon as I upgraded amplify and put out a new version. I quickly reverted before it spread to everyone. It'd be a bit difficult to know when everyone receives the new version (Google Play store notoriously caches old versions for days even when new ones are available) and the. make sur

[2022-10-14 04:16] NewLand-Ju commented on #2231
me too...

[2022-10-14 07:40] VinhShin commented on #2191
hi @fjnoyp @dnys1
is there any update on this issue :(

[2022-10-14 10:24] fisforfaheem commented on #234
amazon should focus more

On Tue, Oct 11, 2022 at 8:44 PM Abdallah Shaban ***@***.***>
wrote:

[2022-10-14 13:06] Jordan-Nelson commented on #2039
A fix for this was included in v0.6.9.

Note: If you are using CPK, there is a change required in code generation to support this that will come in a later version of the CLI.

[2022-10-14 13:06] #2039 closed

[2022-10-14 16:57] fjnoyp commented on #2193
Thank you very much for the explaining your situation here.  Sounds very difficult for you to require everyone to delete and reinstall.

I've reached out internally, and we're looking into this.  I or someone else from our team will reach out with updates once we have more information.

[2022-10-14 21:15] HuiSF commented on #2214
Is this happening only in Android? If I remembered correctly, amplify-ios datastore enforces this iso8601 string format too before store data, time strings into local DB.

[2022-10-14 21:35] dnys1 commented on #2245
Thanks for the detailed issue, @lucasoares. This is an edge-case in the Authenticator we are not currently handling properly. We are investigating how to improve the UX here and will release a fix soon.

[2022-10-14 22:00] lucasoares commented on #2245
@dnys1 thanks

Do you know any workaround? Where I can deal with the error myself and guide my user to what is happening and then make his return to the signup/signin page?

I just want to be able to deal with error responses myself, to have a better signup/signin experience with dialogs, modals, snakbars, banners, etc

Would be nice to be able to customize everything, but if I can't, at least ret

[2022-10-14 22:25] dnys1 commented on #2245
For this specific issue, you should be able to call `Amplify.configure` again when the failure happens.

For general error handling in the Authenticator, you can pass a callback to the Authenticator's `exceptionHandler` to handle exceptions yourself, or `exceptionBannerLocation` to change the location of error presentations.

[2022-10-15 03:27] lucasoares commented on #2245
@dnys1 I tried to call Amplify.configure again but it will throw the same error because of URL query parameters on the page... The only way to end the error state is by refreshing the screen without any query parameters.

[2022-10-16 17:16] dnys1 commented on #2245
Thanks for checking that, and sorry to hear it didn't work. I'll look at getting a fix in place this week.

[2022-10-16 18:43] ObranS commented on #234
It is really bottle neck to move to web desktop version for me

[2022-10-17 08:24] Mik77o opened #2250 "SignedOutException for fetchAuthSession method with getAWSCredentials set to false - Android (flutter)"
On `Android` only: when I'm signed out and trying to check later if I'm signed in using `fetchAuthSession` with the `getAWSCredentials` option set to `false`, I always get the following information in the console for my flutter app:

D/AWSMobileClient(18715): Inspecting user state details
D/AWSMobileClient(18715): waitForSignIn: userState:SIGNED_OUT
W/AWSMobileClient(18715): getCredentials: Failed

[2022-10-17 10:49] #1844 closed

[2022-10-17 12:32] Simon-PumpAndUp commented on #2173
Randomly, as the app starts (amplify.configure + datastore queries + graphql api calls) I get the following after I launch the app with a logged-in user (and internet):

[code]

[2022-10-17 19:28] #450 closed

[2022-10-17 19:30] haverchuck commented on #2250
@Mik77o Are you seeing different behavior on iOS, or are you only using Android?

[2022-10-17 19:36] abdallahshaban557 commented on #334
We have released this feature! The documentation is available here https://docs.amplify.aws/lib/auth/signin/q/platform/flutter/#switching-authentication-flow-at-runtime

[2022-10-17 19:36] #334 closed

[2022-10-17 19:36] Mik77o commented on #2250
I work with both platforms. On iOS for this case error doesn't occur :) I can see this info only for Android.

[2022-10-17 20:19] #1840 closed

[2022-10-17 22:52] dnys1 commented on #2241
This has been released in the latest version of `aws_common`. You should be able to run `flutter pub upgrade` to get the changes.

[2022-10-17 22:52] #2241 closed

[2022-10-17 22:57] dnys1 commented on #413
Please see this [discussion](https://github.com/aws-amplify/amplify-flutter/discussions/2221#discussioncomment-3840142) for how to do this in the current stable (`^0.6.0`) and dev-preview  (`^1.0.0-0`) versions. In the latest dev-preview version, this is very simple now:

[code]

At the moment, we have no plans to add further APIs for retrieving the user groups.

[2022-10-17 22:57] #413 closed

[2022-10-17 22:59] dnys1 commented on #2198
Hi @u382514, I believe this has been fixed in the latest version. Can you run `flutter pub upgrade` and verify?

[2022-10-17 23:02] dnys1 commented on #2096
Hi @TMSoftSolution, I have not been able to reproduce this behavior unfortunately. This should be fixed already in the latest dev-preview release. Please feel free to re-open if you continue to experience issues on that release.

[2022-10-17 23:02] #2096 closed

[2022-10-17 23:05] dnys1 commented on #2252
Hi @AzharRaeisi, sorry to hear you experienced this issue. If it is still not resolved, can you please re-open with the latest [bug report template](https://github.com/aws-amplify/amplify-flutter/issues/new?assignees=&labels=&template=BUG-REPORT.yaml) which has more information to help us diagnose the issue?

[2022-10-17 23:05] #2252 closed

[2022-10-17 23:05] abdallahshaban557 commented on #1151
I am closing this issue as a duplicate of the Docs issue https://github.com/aws-amplify/docs/issues/3233

[2022-10-17 23:05] #1151 closed

[2022-10-17 23:55] u382514 commented on #2198
Nope, still doesn't work for me. Upgraded all packages and even started a new project. Using Web -> I log in, put the confirm code and remember device. Shows up in cognito correctly, shows up in the indexDb correctly. I sign out then immediately sign back in. Tells me I need to confirm even though the indexDB still shows the correct device key information from before. I confirm with the code and i

[2022-10-17 23:59] dnys1 commented on #2198
Thanks for trying again, @u382514. I'll do some more investigation as well.

[2022-10-18 00:46] dnys1 commented on #2198
Can you please confirm the settings listed in the user pool console for Device Tracking?

<img width="860" alt="Screen Shot 2022-10-17 at 5 46 27 PM" src="https://user-images.githubusercontent.com/24740863/196309541-5aeab377-9a9b-4a40-af7e-c7e6059267d2.png">

[2022-10-18 04:58] viJay-beep-code opened #2257 "[signature v4] api working on chrome but giving error on firefox"
### Description

I am using 'aws_signature_v4' plugin with following code to connect AWS REST API using IAM authentication. It's working fine on Google Chrome but giving errors in Firefox.

[code]

Error:
[code]

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

[2022-10-18 06:09] uc-asa opened #2258 "UpdateEndpint with OptOut value"
### Description

AWS Amplify shows zero eligible endpoints for a segment
Here is some open discussion link.

https://stackoverflow.com/questions/70445495/aws-amplify-shows-zero-eligible-endpoints-for-a-segment-i-want-to-create-a-user
https://stackoverflow.com/questions/70071377/aws-pinpoint-events-delayed-and-dont-trigger-journeys

### Categories

- [X] Analytics
- [ ] API (REST)
- [ ] API (GraphQ

[2022-10-18 13:30] akotorri opened #2259 "SignInWithWebUI returning "An error was encountered with the requested page""
### Description

I'm using an existing userPool which works perfectly on the web app which was made with a different technology and for flutter I'm importing that userPool and adding the plugin in "main.dart" as we should, then call the signInWithWebUI method and provide the "AuthProvider.google" but when I do so "signInWithWebUI()" returns "An error was encountered with the requested page" and no

[2022-10-18 14:40] kmvignesh opened #2260 "InvalidAccountTypeException thrown on windows"
### Description

using following dependencies
[code]
Using below function user is able to login.
[code]
After login we are getting the token by calling `fetchAuthSession` function. While calling this getting following exception
`InvalidAccountTypeException(message: No identity pool registered for this account, recoverySuggestion: Register an identity pool using the CLI or set getAWSCredentials to

[2022-10-18 15:16] dnys1 commented on #2260
Hi @kmvignesh - can you share how you are calling `fetchAuthSession`? In vNext, when no identity pool is configured, you'll want to pass `getAwsCredentials: false` or just not pass that parameter:

[code]

[2022-10-18 15:21] dnys1 commented on #2259
Hi @akotorri - I believe the issue is that in current Amplify versions, only the first redirect URI is considered when using Hosted UI. In your case, that is a `localhost` address which cannot be used on mobile devices. You can try moving your `myapp` URI to the front of the list, which should resolve the issue.

Alternatively, please feel free to check out our vNext which is currently in dev-prev

[2022-10-18 23:26] dnys1 commented on #2257
Hi @viJay-beep-code - I'm working on reproducing this issue. I don't see anything out of the ordinary - is your JSON payload only ASCII characters? Could you try with `json.encode(utf8.encode(payload))` if not?

[2022-10-19 00:49] dnys1 commented on #2198
I did release one more small fix today. It should be in alignment with Cognito now. l The reason I asked the last question is because the behavior of device tracking largely depends on the configuration of the user pool.

When devices are always remembered, no further work is needed by users after logging in for device tracking to take effect. However, for "user opt-in", a call to `Amplify.Auth.re

[2022-10-19 05:00] kmvignesh commented on #2260
Hey @dnys1
We have configured 'CognitoUserPool'. The same working fine in Android and iOS. Only on window we are getting this issue. If it's a configuration issue then how i was getting the token on hot-restart 🤔.

After login we need to get user details by calling another API. For calling that API i need to pass the idToken in the header. To get that token, After login immediately calling getIdTo

[2022-10-19 10:19] viJay-beep-code commented on #2257
Hello @dnys1 , thanks for your time.
My current payload is only ASCII. I also tried your suggestion on using `utf8.encode(json.encode(payload))` , but result is same error.

Here is the curl request from firefox browser
`curl 'https://<.....>' -X POST -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:105.0) Gecko/20100101 Firefox/105.0' -H 'Accept: */*' -H 'Accept-Language: en-US,en

[2022-10-19 11:16] akotorri commented on #2259
@dnys1 thank you for the reply, just wanted to let you know that I did upgrade my dependencies to 1.0.0-0 and it fixed the issue with google auth and it also fixed the costume authentication that previously didn’t work for me as well, thank you 😊.

[2022-10-19 12:25] brunovsiqueira commented on #1271
@petreikis I didn't. I think there is no possible workarounds. Amplify lib is the one that should deal with it.
@Jordan-Nelson Any plans to release the new version?

[2022-10-19 13:20] tracktunes commented on #2238
@ragingsquirrel3 sorry about the false alarm, I never figured out why exception handling temporarily failed after the upgrade of Amplify libraries to version `0.6.8` and of the CLI from version `10.2.1` to `10.2.3` (it wasn't just a CLI upgrade before as I had indicated).

But today I upgraded to the CLI version `10.3.0` and to the library versions `0.6.9` and everything works as expected - except

[2022-10-19 13:55] dnys1 commented on #2257
Thank you for the additional info. Can I ask which version of Firefox you're using?

[2022-10-19 13:57] dnys1 commented on #2260
Thank you for sharing. Can you try replacing this line:

[code]

with this

[code]

and let me know if that fixes the issue?

[2022-10-19 14:17] akotorri commented on #2066
@Jordan-Nelson for me it doesn’t work, because what I need is an authorisation key to send in the headers when I do the api call(outside of Amplify) and the example in the documentation doesn’t work for me, how should I proceed with this?

[2022-10-19 14:33] dnys1 commented on #2257
Thank you. In your curl request, I see `--data-raw '[object ReadableStream]'` but this is obviously not correct - can you confirm that in Firefox, the actual bytes are being sent in the request body?

[2022-10-19 14:39] akotorri commented on #2066
I managed to get the idToken by doing this:
`
final result = await Amplify.Auth.fetchAuthSession(
        options: const auth.CognitoSessionOptions(getAWSCredentials: true),
      ) as auth.CognitoAuthSession;

 var userPoolTokens = result.userPoolTokens!.idToken.raw;
`

[2022-10-19 15:06] dnys1 commented on #2260
So you are still receiving the exception `No identity pool registered for this account` after making this change? Are you calling `fetchAuthSession` anywhere else?

When no identity pool is configured, passing `getAWSCredentials: true` to `fetchAuthSession` will result in this exception being thrown. This is different than the behavior on `0.x` versions of Amplify. Please confirm you have removed

[2022-10-19 15:52] mlaube commented on #2211
I have the same problem after fulfilling the Amplify CLI recommendations:

[2022-10-19 16:02] mlaube commented on #2211
I have the same problem after fulfilling the Amplify CLI recommendations:

amplify cli version  10.3.0

amplify_datastore: ^0.6.9
amplify_flutter: ^0.6.9

[2022-10-19 20:12] dev-akshat opened #2264 "Cognito actions (feature request)"
How to use [Cognito actions](https://docs.aws.amazon.com/pdfs/cognito-user-identity-pools/latest/APIReference/cognito-user-identity-pools-apiref.pdf#API_Operations) like AdminCreateUser or AdminDeleteUser ? (with or without amplify)

Problem Statement:
We want to make a flutter web admin portal for creating, deleting and listing users. As per current docs we can't come up with any way of doing it.

[2022-10-19 20:36] dnys1 commented on #2198
Happy to help, @u382514. It seems that when MFA is enabled and the device is not remembered, Cognito will generate a new device key for each login. It could be this is an extra layer of security, although I'm working on getting a more specific answer from the Cognito team. Disabling MFA or remembering the device should resolve the issue, though. Please let me know if it persists after that.

[2022-10-19 21:37] dnys1 commented on #2264
Hi @dev-akshat, typically these methods would be called from your backend since they require admin credentials. Amplify supports calling serverless Lambdas through the [Functions](https://docs.amplify.aws/cli/function/) category which can be called at any time. Cognito also supports [Lambda triggers](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with

[2022-10-19 22:40] HuiSF commented on #2258
Hello @uc-asa thanks for opening this issue, and sorry for the delayed response.

Where do you see this response exactly? On a specific API (of the amplify-flutter Analytics library) call, or some other place?

[2022-10-20 04:54] viJay-beep-code commented on #2257
This is the sample json payload that I am sending in the request body
[code]
How to check for the bytes in browser? Plugin accepts body type as List<int>. And under browsers network tab it is visible as this way only not actual json data.
Here is curl from chrome, where body shows as `--compressed` but it's working fine.
[code]

[2022-10-20 05:56] uc-asa commented on #2258
Hi @HuiSF ,

Thanks for your response. So If you see the above-linked issue they already mentioned that they are not able to create segments from analytics. the same issue I'm facing I want to create segments and push notifications to the targetted customer.

I'm using pinpoint service. Let me know If any further details required

[2022-10-20 12:58] peer-f opened #2267 "aws_signature_v4 is not compatible with the the latest version of amplify_flutter"
### Description

Unfortunately the AWS signature V4 library is not compatible with the latest Amplify Flutter library.  After running flutter pub get I get this error message in the console:

Because aws_signature_v4 >=0.2.2 depends on aws_common ^0.2.3 and amplify_flutter 0.6.9 depends on aws_common ^0.1.1, aws_signature_v4 >=0.2.2 is incompatible with amplify_flutter 0.6.9.
And because no versio

[2022-10-20 13:48] dnys1 commented on #2267
Hi @peer-f - currently the SigV4 client is only compatible with the developer preview version of Amplify (`^1.0.0-0`). Can you confirm you would like to use the `0.x` versions of Amplify with the SigV4 client? I will need to investigate if this is possible.

[2022-10-20 13:48] dnys1 commented on #2257
Thank you for the additional information, @viJay-beep-code. I will do some more investigation on my end.

[2022-10-20 15:31] abdallahshaban557 commented on #2258
Hi @uc-asa , we are working on creating an integration with the Pinpoint service for push notifications, this is one of our biggest priorities.

[2022-10-20 21:19] HuiSF commented on #2258
Thanks for the follow up @uc-asa .
Quick question, when you were testing, have ever called `identifyUser` API? This API sends an `updateEndpoint` request to pinpoint under the hood.

[2022-10-21 08:15] peer-f commented on #2267
Hi @dnys1  I didn't know that. Using the developer version is actually fine for us since we need web support too. Right now we are using the amazon_cognito_identity_dart_2 package for web support and for signing the requests. I will have a look at it on monday. Thanks you for the fast reply!

[2022-10-21 21:25] amizer12 commented on #1006
Hi, Sure- basically having a pub/sub within this SDK would allow for a direct interaction with devices connected via IoT Core, right now if you wan t to do this with mobile app you need to use flutter mqtt client and on top of that manage the SiGv4 authentication for every login. With Pub/Sub integrated into this SDK this would offload all those things from the devs and allow for faster and smooth

[2022-10-21 23:36] abdallahshaban557 commented on #1006
Got it - thank you so much for the feedback @amizer12 ! This is really helpful to help us understand which features we need to prioritize. I can see you already gave a thumbs up to this issue as well which is great! We will keep this issue updated when we have clarity on when it can potentially land.

Have you also explored using subscriptions with AWS Appsync for your IoT use case?

[2022-10-22 01:30] #1864 closed

[2022-10-23 12:32] MarlonJD commented on #1736
Hey thanks for you detailed answer but I already cut my answer at the begining of the my answer.

on Department there is something like this.

I just wrote all DepartmentStudent and DepartmentTeacher for debugging, because there is no authRules in there.

[2022-10-24 12:30] peer-f commented on #2267
Hi @dnys1, I just tried it using the newest developer preview versions of all the Amplify packages and it worked flawlessly! Do you have any estimate when these features are going to be available in the production versions of Amplify? We are using AWS V4 signer and need web support in our application.

[2022-10-24 14:16] emuhaxheri opened #2274 "Can't open s3 file/imageUrl It says access denied 403"
### Description

We are trying to show s3 file/images on mobile app. We integrated the google and email auth from which we got the session and also its token and when we try to open a raw URL of the file/image it says access denied 403. When we try to do it with "Amplify.Storage.getUrl(imageUrl)" it still returns access denied 403.

How should I display an image from s3 bucket?

[code]

### Catego

[2022-10-24 19:24] charlieforward9 commented on #736
Unrelated, but how do I enable the debug log in my console for finer tuned debugging? I am emulating on an iOS simulator and running the app through VS code run & debug console

[2022-10-24 19:38] HuiSF commented on #2274
Looking at the generated url (shown in your screenshot), it doesn't seem to be a correct url at all.
Can you share the code snippet of how you are invoking the `getUrl` API and parameters?

In addition, have you configured Storage category using Amplify CLI, or are you trying to use the Storage category with your existing S3 resource?

Are you trying to use Storage plugin with CloudFront proxied S

[2022-10-24 21:10] charlieforward9 opened #2275 "Datastore wont sync with recently changed @auth permissions"
### Description

My Flutter applications' DataStore connection was tried and tested for many weeks. Then, I set up authentication and changed the model ownership rules from ` @auth(rules: [{allow: public}])` to `@auth(rules: [{allow: owner}])`.

I am able to register users with the Authenticator widget, and verify them in the Amplify Console. However, when I try to save my custom User model using

[2022-10-24 23:36] sanchez-gonzalo94 commented on #1449
Hi, is there an update on this feature ?

[2022-10-25 06:44] RamaTechnology opened #2277 "The field you are accessing is not nullable but has a null value. It was marked as required (!) in your schema.graphql but the containing model class was initialized without setting its value"
### Description

Describe the bug
Hi everyone, I am trying to get data from Amplify table which have two relationships with two different tables, I got data from parent table correctly and also got data from first related table correctly, but I didn't got data from the second table, it's retrieved null, and I got this Error:

AmplifyCodeGenModelException (AmplifyCodeGenModelException(message: The

[2022-10-25 09:02] emuhaxheri commented on #2274
Hello! @HuiSF!! below you will find my code snippets and my answers to your questions.

No I haven't configured the storage category using Amplify CLI because I'm importing the storage package from an existing web app and as per the Storage plugin being with CloudFront proxied S3 bucket the answer is yes, I'm using that.

How should I proceed with this?

[code]

[code]

[code]

[2022-10-25 12:52] tracktunes commented on #2238
@ragingsquirrel3 I never figured out why exception handling temporarily failed after the upgrade of Amplify libraries to version `0.6.8` and of the CLI from version `10.2.1` to `10.2.3` (it wasn't just a CLI upgrade before as I had indicated).

But after upgrading to  CLI version `10.3.0` (also later to `10.3.1`) and to the library versions `0.6.9 `and everything works as expected - exceptions can

[2022-10-25 22:51] dnys1 commented on #2267
Thanks for giving that a try, @peer-f. I'm glad to hear it worked! Web support for the Amplify libraries is being tracked in #234. We currently don't have any estimates when Web support will reach stability, but all of our current energy is being put into making this happen as quick as possible.

Closing this issue for now - please follow the other ticket for further updates.

[2022-10-25 22:51] #2267 closed

[2022-10-26 15:14] Miamoto-Musashi opened #2284 "Log too verbose"
### Description

Amplify datastore keep writing  thousand of Info lines that should be debug

[code]

my  **App**

[code]

**init amplify**

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

normal configuration with API

### Screenshots

<img width="869" alt="Screenshot 2022-10-26 alle

[2022-10-26 16:06] ragingsquirrel3 commented on #2277
Hey @RamaTechnology do you mind adding a few details here to help us understand the issue? Could you add 1) your graphql schema 2) code snippet where you having this issue.

[2022-10-26 21:10] charlieforward9 commented on #2284
I would like to know how to turn on these verbose logs for my iOS project. I am having an error and not getting any logs to point me in the right direction.

[2022-10-26 23:29] ragingsquirrel3 commented on #2275
@charlieforward9 sorry you having this issue. Do you mind attaching your graphql schema here as it will help us try to reproduce? Also, are you passing the the multiauth mode flag to datastore configuration as noted on https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#configure-multiple-authorization-types ?

[code]

[2022-10-26 23:31] ragingsquirrel3 commented on #2238
Glad this issue went away and thanks for the info.

[2022-10-26 23:31] #2238 closed

[2022-10-26 23:32] #1473 closed

[2022-10-26 23:38] charlieforward9 commented on #2275
@ragingsquirrel3 Hey! Thanks for offering a helping hand.

I haven't added the authModeStrategy fix. Let me try that out and let you know if that fixes things. If not, I will be sending the schema for you to check out.

[2022-10-27 00:37] charlieforward9 commented on #2275
Looks like this did the job! My problem is solved, so I'll close the issue. Thanks!

[2022-10-27 00:37] #2275 closed

[2022-10-27 14:37] jamesdixon commented on #651
Is there any way to do this at a configuration file level? We have multiple environments for our mobile app and depending on the build type, we'd prefer to have a second bucket/attached lambda for each env.

[2022-10-27 22:30] jamontesg commented on #234
+1 for web support

[2022-10-27 22:56] HuiSF commented on #2274
Thanks for the follow up @emuhaxheri  It sounds like that you have a s3 bucket, that hosts some images files, your Web App renders the images from it via CloudFront. And you are trying to do the same thing for your Flutter built mobile App, is that correct? Unfortunately the Storage S3 plugin doesn't work with CloudFront, it requires direct interaction with the S3 bucket itself.

All Amplify Stora

[2022-10-27 23:15] HuiSF commented on #2211
Hi @ErnestDaDev @mlaube field level auth is not applicable to DataStore.

For your example use case @ErnestDaDev when you use owner auth, by default, you don't need to list the `owner` field in the model, unless you wanted to override this field. By default, the default owner field is not explicit in the generated model, where when you update the model, you are not able to reassign the owner field

[2022-10-28 04:21] balajiks-dev opened #2291 "AWS Cognito - AmilfyConfiguration Manual - Flutter"
### Description

Hey Devs,
I have to write amplifyconfiguration.dart file manually without doing amplify configure in my Flutter Project. My Flutter Project using AWS Cognito for SignUp and SignIn.
I only have AppId, Pool Id and Region.
How can i able to achieve it.

Thanks

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] St

[2022-10-28 08:45] raphire08 opened #2292 "Error while getting the getCurrentUser if mobile is connected to network without internet"
### Description

We are trying to call `Amplify.Auth.getCurrentUser()`, it works most of the times, but sometimes this is giving error. Below are the error details

[code]

We noticed that this is happening when mobile is connected to wifi but has no internet.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Ste

[2022-10-28 14:06] latheeshvm commented on #1082
Yes, It's okay to close this. This happened as I modified the string directly rather than the documented method

[2022-10-28 16:48] dnys1 commented on #2292
Hi @raphire08 - sorry you are facing this issue and thank you for the detailed report.

I agree that this appears to be a bug. At the moment, we are not making any changes to the `v0.x` Auth libraries, but this issue has been resolved in our developer preview release `v1.0.0-0`. I understand if you're not able to use this at the moment and can leave this issue open until that release becomes stabl

[2022-10-28 16:57] dnys1 commented on #2291
Hi @balajiks-dev thank you for the callout around the lack of documentation regarding the amplifyconfiguration file. The amplifyconfiguration file is parsed by the libraries into the [`AmplifyConfig`](https://pub.dev/documentation/amplify_core/latest/amplify_core/AmplifyConfig-class.html) type exported from `package:amplify_flutter`. If you'd prefer a typed interface, I would recommend creating a

[2022-10-29 12:39] zamargab opened #2295 "Can I have both Rest API and GraphQL API in one project?"
### Description

I am working on a project and would like to use both REST API and GraphQL API, Is this ok to implement at the moment?

### Categories

- [ ] Analytics
- [X] API (REST)
- [X] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [ ] Android
- [ ] Web
- [ ] macOS
-

[2022-10-30 17:59] dnys1 commented on #2295
Hi @zamargab - yes, you can absolutely use both GraphQL and REST in the same project!

[2022-10-30 20:24] avidityindia commented on #2295
Surely you can do it in same project.

[2022-10-31 01:22] momotaro1105 opened #2311 "_AssertionError ('package:amplify_authenticator/src/state/auth_state.dart': Failed assertion: ...."
**Which Specific Feature is your question related to?**
amplify_authenticator/src/state/auth_state.dart
Staging environment for flutter app

**Provide additional details e.g. code snippets**
I haven't changed anything from the original UI component besides adding Japanese localization to it.
So far, I have seen this issue twice, once when user was trying to login after account creation, and second

[2022-10-31 09:42] akotorri commented on #2274
Hello @HuiSF I'm a colleague of @emuhaxheri and I've taken over this task,
I've been looking for the object key for the files and I can't seem to determine what it actually is but I can suspect that it is the fileName which would be this "4689ad3e-1b7b-4504-9520-43539fdd9d35.jpeg", as a workaround I've been thinking of constructing the url myself by have the provided url as the starting point then

[2022-10-31 11:04] #2295 closed

[2022-10-31 12:12] Lorenzohidalgo commented on #2188
@Jordan-Nelson & @salihgueler I'll take a shot at this issue 😉

[2022-10-31 13:16] Lorenzohidalgo commented on #2188
Hey @Jordan-Nelson, could you confirm that the provided regex expression is correct?

Using `[\p{L}\p{M}\p{S}\p{N}\p{P}]+` will allow users to create usernames with whitespaces. On the contrary, using `^[\p{L}\p{M}\p{S}\p{N}\p{P}\S*]+$` won't allow usernames with spaces, which would make more sense under my point of view.

The current regex for the email address `^\S+@\S+$` also allows formats lik

[2022-10-31 14:00] Lorenzohidalgo commented on #2189
@fjnoyp & @salihgueler I'll take a look into this 😉

Just as a heads-up, this change will also require the user to make some extra changes/steps outside of the application. The user will need to create, configure and host a file under that application's domain. Steps similar to when you want to [configure deeplinking](https://towardsdev.com/deeplinking-in-flutter-d09ad977b816) into your app

[2022-10-31 14:49] Jordan-Nelson commented on #2189
@Lorenzohidalgo - You are referring to setting up an [Associated Domain](https://developer.apple.com/documentation/xcode/supporting-associated-domains), correct? I think this would be optional, as it would only be required to sync auto fill between a web and mobile app. This is something that could be included in documentation for the authenticator. Let me know if you are referring to something ot

[2022-10-31 15:02] Lorenzohidalgo commented on #2189
Hi @Jordan-Nelson, exactly! The official documentation mentions that it might be needed for a good iOS experience.

[2022-10-31 15:36] zamargab opened #2297 "Can't delete items through GraphQl API"
### Description

I have a set of data that I need to delete via API, whenever I try it, the request completes without error but does not delete the data. When I tried with datastore, it does work. I believe this has something to do with conflict resolution strategy. Is there a workaround for this? Also, how can I disable conflict resolution? I don't intend to use Datastore.

### Categories

- [ ]

[2022-10-31 16:01] dnys1 commented on #2297
Hi @zamargab - could you share the errors you are receiving from GraphQL? These can be found in the `response.errors` property.

You can absolutely turn off DataStore, if desired, by running `amplify update api`, selecting `GraphQL` and making sure `Conflict detection` is disabled.

[2022-10-31 17:24] zamargab commented on #2297
I turned It off and everything looks fine now, I'm curious, is there any disadvantage to turning off conflict resolution? I mean asides from not being able to use datastore.

[2022-10-31 17:26] amizer12 commented on #1006
Hi @abdallahshaban557 many thanks for your reply.
Yes - appsync would work in theory ( haven`t tested it yet ) for device shadow updates and getting the data, but i could easily achieve this by talking directly to the IoT Service so direct pub/sub would greatly simplify the solution and at scale decrese the cost ( less services used = smaller bill )

[2022-10-31 18:16] Jordan-Nelson commented on #2188
@Lorenzohidalgo - Yes, `^[\p{L}\p{M}\p{S}\p{N}\p{P}\S*]+$` would be appropriate. Thanks for calling that out.

Cognito actually allows `hello@jordan` as an email. It does not allow `hello` as an email though. My understanding is that the regex below is the agreed upon standard in the community for what is considered a valid email address. Below are also a few sources for that.

Regex:
[code]

Sour

[2022-10-31 18:22] Lorenzohidalgo commented on #2188
Perfect @Jordan-Nelson , I was unaware that this was the standard, will use the updated username regex expression on the PR and leave the email one as-is.

[2022-10-31 19:26] abdallahshaban557 commented on #1006
@amizer12  - got it - that makes sense! Thank you for sharing this feedback! It is essential to help us prioritize the right features!

[2022-11-01 12:49] zamargab commented on #2297
Also, can I turn off conflict resolution for specific models only?

[2022-11-01 17:29] vitalnik opened #2308 "Pending mutation in mutation outbox breaks synchronization process."
### Description

Recreated the issue in a simple Todo Flutter project. Testing it on Android 11.

Adding local record to the DataStore while throttling Internet connection is causing this exception:

`Error ended observation of mutation outbox:
                 DataStoreException{message=Timeout processing PendingMutation{mutatedItem=SerializedModel{id='c11922ab-8d0d-4d2b-97a2-5c42abb38ab1', seria

[2022-11-01 17:38] HuiSF commented on #2308
Hi @vitalnik thanks for reporting this issue. it sounds like the sync engine is not recovering and reconnecting after the exception. As amplify-flutter library is not involved within the sync engine work flow, I will forward this issue to amplify-android repository for further triage.

[2022-11-02 13:51] zamargab commented on #2297
I've noticed I can't use the graphical interface of Admin UI to manipulate data with conflict resolution turned off so I had to turn it back on. When I try to delete, it gives the error below. I believe this is because API does not include the version number of database record in a request. If my guess is right, please direct me on how to include a version number else suggest a way to solve this i

[2022-11-03 07:18] RamaTechnology commented on #2277
Hi @ragingsquirrel3 , Thanks for your response, here my QraphQL schema

[code]

And here when I got the error in this code
[code]
Then I got below error in SecondChildTable model page
`
AmplifyCodeGenModelException (AmplifyCodeGenModelException(message: The field you are accessing is not nullable but has a null value. It was marked as required (!) in your schema.graphql but the containing model cl

[2022-11-03 12:30] wrbl606 opened #2312 "UnknownException: Unable to get valid sign in session from the end user."
### Description

Users previously authenticated with Cognito started generating the error below after an application update, which wasn't related to AWS Cognito API implementation or usage.

file: /Users/builder/clone/ios/Pods/Amplify/Amplify/Categories/Auth/Error/AuthError.swift
function: recoverySuggestion
line: 80, underlyingException: null)

This happens consistently, reinstalling application

[2022-11-03 18:58] JaFa13 opened #2314 "Amplify.Auth.signIn and Amplify.Auth.fetchAuthSession hang without a response."
### Description

While working on some iOS devices we noticed with some users that `Amplify.Auth.signIn` and `Amplify.Auth.fetchAuthSession` sometimes hang for an indefinite amount of time. This is blocking users from logging into the application. We are not finding any exceptions in the logs that would indicate the requests failing.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (Gra

[2022-11-03 21:56] ragingsquirrel3 commented on #2214
Only happening in Android.

[2022-11-04 00:12] michaeljajou commented on #2312
I am also experiencing this issue (not on all devices, it seems to be pretty rare)

iPhone 14
iOS 16.0.2

[2022-11-04 00:20] michaeljajou commented on #2312
This issue is also mentioned here: https://github.com/aws-amplify/amplify-swift/issues/2527#issue-1431699016

This seems like an urgent issue and should receive attention immediately.

[2022-11-04 13:31] Sunsiha opened #2317 "Apple login throwwing error while sign in with apple"
[code]
Plugins:

[code]
Flutter version:

[code]

It was working before. Google and facebook is working.

[2022-11-04 18:55] dnys1 commented on #2314
Hi @JaFa13 - sorry you are facing this issue.

For iOS, there should be logs printed although they may only be visible when running the app through Xcode. Would you be able to run the app this way and let me know what is printed?

You say it is only reproducible on some iOS devices. Is there any pattern to the devices this issue presents on? Are these real devices or simulators?

[2022-11-04 19:10] dnys1 commented on #2317
Hi @Sunsiha - sorry you are facing this issue. In order to investigate it, I'll need a bit more info.

- Can you tell where in the code the error is being thrown? Is it before the sign-in popup is shown? Afterwards?
- Does it happen every time you sign in or just sporadically?
- Is this happening on an iOS simulator, real device, or both?
- Does it happen if you delete and reinstall the app?

Than

[2022-11-04 23:37] #2076 closed

[2022-11-07 07:12] wrbl606 commented on #2312
Will the `v1.0.0` have the same API for end users?

[2022-11-07 14:38] ignitum-ryan opened #2320 "Social Sign-In (Google/Facebook) returning generic error."
### Description

With no changes to our authentication code, social sign-in (specifically Google and Facebook in our case) are no longer authenticating users. This is on both Android and iOS. When choosing to sign-in, the user is is prompted that Cognito is requesting to use Sign-in permissions. When the user clicks 'Continue', the web view loads for a second and then returns the error message: 'A

[2022-11-07 14:54] ignitum-ryan commented on #2320
I would also like to note, we did validate that the endpoints in the amplifyconfig are valid to the Cognito endpoints. (If that wasn't clear in my original post).

[2022-11-07 14:54] JaFa13 commented on #2314
Hi @dnys1

Thanks for reaching out. This is all the information I have thus far.

This issue was reported by 4 different users. Two users being developers who use both simulators/physical devices and two users users who only work on physical devices.

The two developers are able to log into their accounts when running on a simulator but **cannot on a physical device**. When trying to log into thei

[2022-11-07 15:17] dnys1 commented on #2312
Yes, it will have the same API. We've tried to limit breaking changes to the absolute minimum. However, we have needed to make some, mostly around type refinement and improved consistency.

[2022-11-07 17:45] #2188 closed

[2022-11-07 19:11] ignitum-ryan commented on #2320
Hey @dnys1 , that is correct. Last tuesday (11/1), it was working. On (11/2), no changes to auth at all, it no longer was working. Reviewing the git commit history of ALL changes made to anything auth related, I found the following updates to the amplifyconfig file (none which I believe would have caused this):

`                          - "SignInRedirectURI": "appname://",

[2022-11-07 20:24] Jordan-Nelson commented on #2311
Hi @momotaro1105 - I was able to reproduce this. In my reproduction, I see the assertion error, but it does not impact the application. I am able to successfully reset a password and login. I do see the error message in the logs, and if I have my IDE setup to break on uncaught exceptions, it will break on this assertion. Is that what you are experiencing as well?

I will open a PR to remove the as

[2022-11-08 04:11] momotaro1105 commented on #2311
hello @Jordan-Nelson thank you for checking, yes, I always use "Run and Debug" for which I think the break on uncaught exceptions are turned on by default.

[2022-11-08 12:40] wiktoriasobczyk commented on #1271
I'm waiting for the amplify lib update, mby it would be working better in the next version 🤷 😢

[2022-11-08 14:47] Jordan-Nelson commented on #2260
@kmvignesh - Can you confirm that there are no other locations where `fetchAuthSession` is called with `getAWSCredentials: true`?

[2022-11-08 15:28] Jordan-Nelson commented on #2277
Hi @RamaTechnology - Can you confirm that the nested model SecondChildTable exists for the parent MainTable? You can view the data in these tables in the AWS console for DynamoDB.

[2022-11-08 16:17] Jordan-Nelson commented on #2297
The GraphQL category is intended to be used with conflict resolution turned off. It is possible to use it with it turned on, but you will have to manually add the metadata required for conflict resolution (version, created at, updated at, deleted). There is [an open issue for supporting conflict resolution within GraphQL API](https://github.com/aws-amplify/amplify-flutter/issues/1945). The common

[2022-11-08 17:08] Jordan-Nelson commented on #462
I am going to transfer this issue to [aws-amplify/amplify-codegen](https://github.com/aws-amplify/amplify-codegen) as it is a more appropriate location.

The remaining work is to update the generated code to follow lint rules by flutter_lints so that the `// ignore_for_file: ... ` can be removed from the generated code without causing lint issues for most customers.

[2022-11-08 17:17] wrpeck commented on #2297
Hi @zamargab - PM for Studio here. By the end of 2022, you will be able to model the data schema for non-Datastore apps. You'll also be able to toggle Datastore from within Studio, and manage your conflict resolution methods as well.

Early next year, we have plans to support the rest of Amplify Studio functionality for non-Datastore apps, including managing your data through the graphical interfa

[2022-11-08 17:22] Jordan-Nelson commented on #2277
@RamaTechnology - This issue is similar to https://github.com/aws-amplify/amplify-flutter/issues/1814. v0.6.9 included a fix for this. Can you upgrade to v0.6.9 and see if you are still experiencing this issue?

[2022-11-08 17:25] Jordan-Nelson commented on #2211
@ErnestDaDev @mlaube - Please let us know if the info above does not answer the question, or if you have other questions. Thanks.

[2022-11-08 17:27] Jordan-Nelson commented on #2162
@juanrequeijo @kameshkarthi - Please let us know if you were not able to resolve the issue with the suggestion above. Thanks.

[2022-11-08 17:28] Jordan-Nelson commented on #2230
@CaptainJack007 - Can you please provide the info requested above? Thanks.

[2022-11-08 17:30] Jordan-Nelson commented on #2190
@YawarOsman - Have you been able to try the suggestions above from @fjnoyp? Does the issue persist after removing the app from the simulator and reinstalling?

[2022-11-08 17:39] Jordan-Nelson commented on #2175
@Intelbis - Please see the Amazon [Aurora docs on migrating to Aurora](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Migrating.html). I believe in this case you would want to use [AWS Database Migration Service](https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html).

Note that support for using Amplify GraphQL API with existing Relational Databases has been prop

[2022-11-08 17:41] ErnestDaDev commented on #2211
@Jordan-Nelson  yes this answers it so the error in the console applies to API directly, that is using GRAPHQL mutation?

[2022-11-08 17:41] Jordan-Nelson commented on #2150
@MichaelDuPlessis - If you are still facing an issue can you add the info requested above? Thanks.

[2022-11-08 17:42] Jordan-Nelson commented on #2229
@blexo - Please let us know if you are still facing an issue after looking at the work around above. Thanks.

[2022-11-08 18:49] HuiSF commented on #2211
In general, field level auth has not been formally supported in Amplify libraries including both API and DataStore plugins.

[2022-11-08 19:41] Simon-PumpAndUp commented on #2173
Hello,

I created a new user (not data to sync) but even though while syncing I get the following datastore turns down.

[code]

I get the 1Mb limit but here there should be nothing to sync ?

[2022-11-08 19:50] devengineergit commented on #1853
You are a lifesaver. Struggled with this issue for hours. None in the documentation. Thanks much!

[2022-11-08 20:44] Jordan-Nelson commented on #2165
Hi @skim037 - I was not able to reproduce this by saving many updates to the same model in succession. Below is the code I am using to attempt a reproduction. If you are still experiencing this, could you provide a minimal reproduction of the issue (similar to the snippet below) so that we can reproduce this?

[code]

[2022-11-08 20:59] dnys1 opened #2330 "[web] Generated models contain `Type.toString()`"
### Description

Generated models call `toString()` on Dart `Type` instances in multiple places which breaks Web usages of `ModelType` and `ModelProviderInterface`.

- [`ModelType.modelName()`](https://github.com/aws-amplify/amplify-flutter/blob/54fa585c64e5f6d48e991e8f376c0adad6ced386/packages/amplify_core/lib/src/types/models/model.dart#L66) calls `T.toString()`
- Generated models call `Type.toS

[2022-11-08 21:36] abdallahshaban557 commented on #1853
@devengineergit  - thank you for the message on this issue. We will update our documentation to reduce confusion for future developers!

[2022-11-08 21:45] Jordan-Nelson commented on #2169
Hi @harlanerskine - Can you run the app from Xcode and see if there are any error messages in the logs? Amplify Flutter currently depends on Amplify-iOS when targeting iOS, and the logs from Amplify-iOS will not show up when running it from VS Code or Android Studio. If you use VS Code with the flutter plugin, you can right click on the /ios dir and choose "Open in Xcode".

[2022-11-08 22:15] Jordan-Nelson commented on #2231
Hi @kmvignesh - I was able to reproduce this and have labeled this as a bug. It looks like Amplify-iOS and Amplify-Android, which Amplify Flutter depend on, have different error messages when a incorrect password is entered.

We are re-writing the Amplify Flutter libraries to remove the dependencies on Amplify-iOS and Amplify-Android, and expand support to other platforms. The Auth re-write is ava

[2022-11-08 22:36] fjnoyp commented on #2193
Hi @djsjr

The problem you encountered is an issue on Amplify Android tracked here:
https://github.com/aws-amplify/amplify-android/issues/2066

A temporary workaround to avoid requiring an app uninstall:

1) Change the version string in ModelProvider dart file.  This will trigger a single table refresh.

2) Call Datastore.clear() once when upgrading from older to newer versions of app

[2022-11-09 01:44] edily-learn commented on #2314
Any updates on this issue?

[2022-11-09 09:26] ghi8GPA opened #2332 "Authenticator.builder() on MaterialApp bugs Hero transitions"
### Description

Hello,

we are trying to implement a Flutter App using Amplify.
We are integrating Authenticator component. It seems to work fine, but it is breaking all our Hero transition, when adding **Authenticator.builder()** to our Material App.

_without Authenticator.builder()_
![Simulator Screen Recording - iPhone 13 Pro Max - 2022-11-09 at 10 15 16](https://user-images.githubusercontent

[2022-11-09 12:16] Jordan-Nelson commented on #2314
@JaFa13 @edily-learn - If you are not seeing any errors or logs, can you run the app from Xcode and share the log output after signing in?

@JaFa13 - I would also suggest upgrading to a more recent version of amplify flutter.

[2022-11-09 12:24] Jordan-Nelson commented on #2320
Can you confirm that social sign in was working for both providers (Facebook and Google) and has stopped working for both?

Is it possible that changes were made in the Cognito AWS Console?

[2022-11-09 14:55] Jordan-Nelson commented on #2250
Hi @Mik77o - You should see a SignedOutException on both iOS and Android when calling fetchAuthSession() while signed out. I have verified that is the behavior on the latest stable version of Amplify (v0.6.9). You will see more info in the logs on Android since logs from native iOS code will not be present in the console when running a flutter app. This is the case for all flutter apps, and not sp

[2022-11-09 15:57] Jordan-Nelson commented on #2297
@zamargab - I think your original question/issue of not being able to delete data was answered, and you can take a look at the response above for info on using Amplify Studio to model the data schema for non-Datastore apps.

Let me know if you have any other issues or questions.

[2022-11-09 17:14] Jordan-Nelson commented on #2258
@uc-asa if you are still facing an issue, can you please provide the info requested above? Thanks.

[2022-11-09 17:25] Jordan-Nelson commented on #2274
How are you getting the URL to display these in the web app? Are you using Amplify?

[2022-11-09 17:45] Jordan-Nelson commented on #2284
@Miamoto-Musashi and @charlieforward9 - We are aware that there are several areas for improvement when it comes to logging. There is an open feature request to improve the experience when it comes to logging - https://github.com/aws-amplify/amplify-flutter/issues/1318. You can give that issue a 👍 and/or follow it for updates.

Improvements to logging have been implemented on the latest developer p

[2022-11-09 17:45] #2284 closed

[2022-11-09 18:07] Jordan-Nelson commented on #2312
@wrbl606 @michaeljajou - There was a fix released for this in the underlying iOS SDK that Amplify-Flutter depends on. You should be able to get this update by running `pod update Amplify AWSPluginsCore AmplifyPlugins` from your /ios dir. You can confirm that the version with the fix is being used by looking for the version of AWSCore listed in /ios/Podfile.lock. The version with the fix is v2.28.2

[2022-11-09 21:02] Jordan-Nelson commented on #1857
@Sunsiha - Have you have a chance to run this from Xcode to view the logs?

[2022-11-09 21:25] Jordan-Nelson commented on #2173
Can you share your graphql.schema? Are you using owner based auth on this field?

[2022-11-09 22:18] harlanerskine commented on #2169
@Jordan-Nelson Thanks. I'll try that and get back to you. Would I need to run the simulator from Xcode? I'm having trouble getting things to run (which is a separate issue). I'll comment back here when there are logs to report.

[2022-11-10 08:06] #2297 closed

[2022-11-10 12:46] Jordan-Nelson commented on #2169
@harlanerskine as long as you have a simulator running, it shouldn't matter where it was opened from.

[2022-11-10 16:21] SKarausAWS opened #2340 "[Feature Request] Auth Get Device Details API / Ability to get Device Key"
Our mobile team has run into a blocker with Amplify Flutter SDK (https://docs.amplify.aws/lib/auth/signin/q/platform/flutter/#sign-in-a-user ) with extracting the device key after the user has signed in successfully.

We have been able to get the device key in website using the Amplify Javascript SDK, Android SDK and IOS SDK.
This issue was discussed in the Discord channel and the Amplify Flutter

[2022-11-10 18:53] dnys1 commented on #2311
Hi @momotaro1105 - a fix for this has been published in version 0.6.10 of the library.

[2022-11-10 18:53] #2311 closed

[2022-11-10 18:54] dnys1 commented on #2312
The iOS fix for this has been published in version 0.6.10 of the library. Would those experiencing the issue be able to test on this version and confirm it is fixed?

[2022-11-10 19:40] Jordan-Nelson commented on #2340
@SKarausAWS - Thank you for opening the issue. I think this is actually a duplicate of https://github.com/aws-amplify/amplify-flutter/issues/1472.

Would you mind giving that issue a 👍 to express your support? If you would be able to comment on the issue and explain a bit about your use case that would be helpful. These APIs appear to be available as part of the underlying SDKs which Amplify use,

[2022-11-10 19:40] #2340 closed

[2022-11-10 19:42] Jordan-Nelson commented on #1472
@samuelcastro - Do you mind expanding on this a bit? The `forgetDevice()` API would allow you to remove the current device. Would you be able to elaborate on the experience you would like to achieve?

[2022-11-10 19:48] Jordan-Nelson commented on #1472
@dtodt - Would you be able to share how you plan to use the current device info to achieve this? Would you plan to do something like the following?
- Log user in
- Fetch known devices
- Compare list of known devices to current device
- If any known devices exist that are not the current device, display a message to the user and log them out

[2022-11-10 20:01] Jordan-Nelson commented on #1472
This sounds similar to @dtodt's request, although I am not sure if you also intend for there to be a hard limit of 1 device logged in. Do you mind elaborating on the experience you are hoping to achieve and how you would like to use this API?

[2022-11-10 20:04] Jordan-Nelson commented on #2332
@ghi8GPA - Thanks for opening the issue.  I was able to reproduce this. I will take a look and see if this is something we can resolve.

[2022-11-10 21:36] dtodt commented on #1472
Banking like apps, @Jordan-Nelson.

[2022-11-10 21:41] harlanerskine commented on #2169
Ok - I got the simulator back up (I needed to delete one of the models that was causing a problem (separate from this error). I ran the app in Xcode and I have the following log:

`Encoder Foundation.(unknown context at $7ff800dd0908).__JSONEncoder
Successfully saved model: FlutterSerializedModel(values: ["createdOn": Amplify.JSONValue.string("2022-11-10T21:38:40.965777000Z"), "createdAt": Amplify

[2022-11-11 10:52] Lorenzohidalgo opened #2349 "Change Hub Events from Strings to Enums"
Hi there!

@Jordan-Nelson,  Regarding your comment on #1107. If the task of turning the Auth Events from `Strings` to `Enums` is still open / on the roadmap, I could give it a try. This task could also "standardize" the Hub Events by also updating the DataStore Events to be enums.

P.S.: I spoke with @salihgueler and he recommended opening a second issue since documenting the events and applying t

[2022-11-11 13:31] Jordan-Nelson commented on #2349
Hi @Lorenzohidalgo - thanks for opening the issue. In the current dev-preview branch we have replaced eventName with type on the AuthHubEvent class. Type is an enum. You can see that update below.

https://github.com/aws-amplify/amplify-flutter/blob/next/packages/amplify_core/lib/src/types/auth/hub/auth_hub_event.dart

We held off on making the same change in the current stable version since it wo

[2022-11-11 13:55] Lorenzohidalgo commented on #2349
Thanks for the info @Jordan-Nelson!

[2022-11-11 13:55] #2349 closed

[2022-11-11 19:23] dnys1 opened #2351 "Model Helpers should account for type name recasing by CLI"
The Amplify CLI transforms type names when generating the AppSync schema. For example, a lowercased type `myType`

[code]

Would generate the following queries:

[code]

Notice how `myType` -> `MyType` in several instances, but Model Helpers do not take this into account, so they would generate `listmyTypes` instead of `listMyTypes`, for example.

[2022-11-11 19:28] dnys1 opened #2352 "Model Helpers should allow setting `GraphQLRequest` parameters"
Currently, model helpers do not allow setting `GraphQLRequest` parameters like `apiName`, `authorizationMode`, `headers`, etc. This prevents them from being used in multi-auth settings.

**Current**
[code]

**Expected**
[code]

[2022-11-13 00:38] filippomenchini opened #2356 "`Amplify.Auth.fetchAuthSession()` doesn't throw Exception when session is expired"
### Description

The expected behaviour of
[code]
is to return a ```AuthSession``` instance when the session has not expired. If the session has timed out, the function should throw an exception.
In reality, the exception is never thrown, you only get a log on the debug console saying that the session has expired and a valid ```AuthSession``` instance.

### Categories

- [ ] Analytics
- [ ] API (R

[2022-11-13 07:15] harlanerskine commented on #2169
Not sure what fixed the issue. But I updated Flutter to 3.3.8 and amplify to 0.6.9 and my data is saving and updating. I'll close the issue. Thanks!

[2022-11-13 07:15] #2169 closed

[2022-11-13 08:33] YawarOsman commented on #2190
It is fine now, thank you

[2022-11-13 08:34] #2190 closed

[2022-11-13 14:52] CartmanGD commented on #1152
How do I generate the `amplifyconfiguration.dart` file for an existing AWS project? All AWS examples are for initiating new projects from scratch.

[2022-11-13 17:06] JRuss-3 commented on #1864
Hi @sanchez-gonzalo94, did you manage to solve this in the end as I am currently facing a very similar issue where updates of owner based records by a backend api are not syncing until I restart the app.

[2022-11-13 18:31] ignitum-ryan commented on #2320
Hi @Jordan-Nelson ,

Apologies for the delay. I had not heard of these troubleshooting methods, so thank you. I was able to get the debugger tied to our simulator. Unfortunately, there was not a lot of useful information. This was the only error that I could get to show:

<img width="1399" alt="image" src="https://user-images.githubusercontent.com/97566760/201538184-575bb835-e472-4078-9fa2-d4982d6

[2022-11-14 06:17] wrbl606 commented on #2312
We've released a new version of the app with updated dependency and the issue is not reported anymore 👍

[2022-11-14 11:41] Mik77o commented on #2250
@Jordan-Nelson Thanks for the clarification. I just wanted to make sure this is the desired action and yes - for iOS there is less info.

[2022-11-14 13:35] dnys1 commented on #2312
That's great to hear. Thanks for confirming.

Closing this issue as resolved. Please let us know if you continue to experience issues.

[2022-11-14 13:35] #2312 closed

[2022-11-14 15:13] dnys1 commented on #2320
Hi @ignitum-ryan, I believe this is indeed the issue.

Amplify `0.x` versions do not do a good job of parsing multiple URIs in these properties. Reverting back to a single `appname://` for each should fix the issue.

[2022-11-14 15:59] Jordan-Nelson commented on #2250
@Mik77o - Yes, a `SignedOutException` would be expected when calling fetchAuthSession() while signed out.

The current stable version of Amplify-Flutter is built on top of Amplify-iOS and Amplify-Android. We are in the process of removing these dependencies in favor of a version written in Dart. The Auth re-write in Dart is available in our developer preview release on pub. You should see aligned

[2022-11-14 15:59] #2250 closed

[2022-11-14 16:03] Jordan-Nelson commented on #2317
Hi @Sunsiha - If you are still facing this issue, can you please provide the info request above. Thanks.

[2022-11-14 16:05] Jordan-Nelson commented on #2277
@RamaTechnology - Have you had a chance to upgrade to v0.6.9 or later to see if this issue is resolved?

[2022-11-14 16:06] Jordan-Nelson commented on #2260
@kmvignesh - If you are still facing this issue, can you please provide the info requested above? Thanks.

[2022-11-14 16:09] Jordan-Nelson commented on #2230
@CaptainJack007 - I am going to close this issue since we have not heard back and do not have enough info to attempt to reproduce this. If you are still experiencing this issue, please open a new issue and include the info in the bug report template. Thanks.

[2022-11-14 16:09] #2230 closed

[2022-11-14 16:12] Jordan-Nelson commented on #2150
@MichaelDuPlessis - I am going to close this issue out since we have not heard back. If you are still facing this an issue, please open a new request and include the info requested above. Thanks.

[2022-11-14 16:12] #2150 closed

[2022-11-14 17:57] ignitum-ryan commented on #2320
@dnys1 - I swear on my first-born that I attempted to remove these (from the UI in Cognito, not the Amplify CLI parameters file), to no avail.

HOWEVER... did confirm that after updating both the amplifyconfiguration.json and parameters.json file (inside the amplify backend files) that the Google and Facebook login are working once again.

Thank you both so much for the help @dnys1 / @Jordan-Nelso

[2022-11-14 17:57] #2320 closed

[2022-11-14 18:36] adam-fpc opened #2358 "Cognito with Cloudfront proxy can't fetch auth session w/ credentials"
### Description

With a [Cloudfront proxy in front of Cognito](https://aws.amazon.com/blogs/security/protect-public-clients-for-amazon-cognito-by-using-an-amazon-cloudfront-proxy/) calling `Amplify.Auth.fetchAuthSession(options: const CognitoSessionOptions(getAWSCredentials: true))` after successfully authenticating throws an error
`ERROR | FetchAuthSessionStateMachine | Emitted error: InvalidAcco

[2022-11-14 19:59] adam-fpc commented on #2358
Hey @dnys1, thanks for clarifying. So in this scenario can a user no longer get the `accessToken`, `idToken` and `refreshToken`?

[2022-11-14 20:20] dnys1 commented on #2358
They can. Here's how you would do that:

[code]

Passing `getAwsCredentials = true` is only necessary if you would like to retrieve temporary AWS credentials as well, which happens via an identity pool.

[2022-11-14 21:11] adam-fpc commented on #2358
Got it! That makes sense now. Many thanks - will close this out.

[2022-11-14 21:11] #2358 closed

[2022-11-14 21:13] dnys1 opened #2359 "Model Helpers should use index over scan when available"
Given a schema like this:

[code]

The Amplify CLI generates a `Query` type of the form:

[code]

In the Amplify library, running `ModelQueries.list(User.classType, where: User.USERNAME.eq('some_username'))` should use the `usersByUsername` query, but instead uses `listUsers` which requires a scan of the full table, not leveraging the more efficient index.

[2022-11-15 01:27] adam-fpc opened #2361 "Amplify.Auth.updateUserAttribute crashes app"
### Description

Calling `Amplify.Auth.updateUserAttribute` or `Amplify.Auth.updateUserAttributes` causes an immediate app crash

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Authenticate with Cognito through a Cloudfront proxy ([as described here](https://aws.amazon.com/blogs/security/

[2022-11-15 09:47] stephenjen opened #2362 "Having multiple AuthenticatedView causing "Multiple widgets used the same GlobalKey" error on sign out"
### Description

To make a route an Unauthenticated route, I switched from using Authenticator.builder() as the builder to my MaterialApp to using individual AuthenticatedView instead.

So from:

`@override
Widget build(BuildContext context) {
  return Authenticator(
    child: MaterialApp(
      builder: Authenticator.builder(),
      initialRoute: '/routeA',
      routes: {
        '/routeA': (c

[2022-11-15 16:33] adam-fpc commented on #2361
version=2.18.4 (stable) (Tue Nov 1 15:15:07 2022 +0000) on "ios_arm64"
pid=11655, thread=22787, isolate_group=main(0x153034000), isolate=main(0x1530c5e00)
isolate_instructions=10b872600, vm_instructions=10b872600
  pc 0x000000010b9876c0 fp 0x000000016c146870 dart::Profiler::DumpStackTrace(void*)+0x68
  pc 0x000000010b872784 fp 0x000000016c146890 dart::Assert::Fail(char const*, ...) const+0x28
  pc

[2022-11-15 19:57] fjnoyp commented on #2361
Thanks for sharing that.  Doesn't provide very useful debug information unfortunately.

Based on your first comment it sounds like you have a rather specific custom setup here.  Do you feel comfortable sharing the git repository of your project with me?  github: fjnoyp

With that access I could run your project locally and run the debugger and see what is happening.  This would help me determine w

[2022-11-15 20:15] adam-fpc commented on #2361
Unfortunately I can't share this repo.

Is this crash message more helpful?

[code]

[2022-11-16 00:38] stephenjen commented on #2362
Hi @Jordan-Nelson ,

Thanks for the quick reply and workaround recommendations.  Popping routeC didn't do it for me but pushReplacementNamed did.

Awesome, thank you!

Stephen

[2022-11-16 06:17] abdallahshaban557 commented on #804
closing this issue as a duplicate of #1528

[2022-11-16 06:17] #804 closed

[2022-11-16 06:19] abdallahshaban557 commented on #580
Closing as a duplicate of #1716. Please inform us if you think otherwise @gnsslrrcs

[2022-11-16 06:19] #580 closed

[2022-11-16 09:25] asaarnak opened #2371 "Package uuid v3.0.7 can't be used if aws_common v0.1.1 is used"
Because amplify_flutter >=0.6.4 <1.0.0-next.0 depends on aws_common ^0.1.1 which depends on uuid 3.0.6, amplify_flutter >=0.6.4 <1.0.0-next.0 requires uuid 3.0.6.

[2022-11-16 12:45] ZubairAkber opened #2373 "Amplify DataStore stops working after an internet reconnection"
### Description

Simply start the Amplify and set Observer on any of the table, when it gets ready and you receive the ready event simply disconnect your internet then you will see the exception that i have attached below, the problem starts when internet gets back and you didn't keep getting events and updates from Amplify

Websocket connection failed.
                 java.net.SocketException: S

[2022-11-16 13:13] imhamza32 commented on #1845
I am still having the same issue
It says incorrect username or password on iOS
Can someone help

[2022-11-16 14:15] Jordan-Nelson commented on #2371
Hello @asaarnak - Thanks for opening the issue. We will take a look at this.

As a temporary workaround, you can likely specify a dependency override as mentioned here: https://dart.dev/tools/pub/dependencies#dependency-overrides

[2022-11-16 14:18] asaarnak commented on #2371
Thanks!

[2022-11-16 15:58] HuiSF commented on #2373
Hello @ZubairAkber Thanks for opening this issue.

DataStore sync engine doesn't actively detect network reconnection and to re-establish model subscriptions, rather, it attempts to re-sync on any DataStore API calls such as `save`, `delete`, `start`. Have your App invoked any of the APIs after reconnection?

I personally use `connectivity_plus` to watch network state, , and invoke `Amplify.DataSt

[2022-11-16 18:03] HuiSF commented on #2373
Also @ZubairAkber could you confirm if you are using amplify-android or amplify-android?

[2022-11-16 18:52] fjnoyp commented on #2361
Unfortunately it's not that helpful because it's mostly dart and flutter system code logs that aren't related to the code of Amplify Flutter.

The only relevant logs mention the name of the method that's failing but we already know that :)

Is it possible for you to quickly setup a Swift project with the same backend you're using?

Make sure to use the same dependencies we use:
'Amplify', '1.28.0'

[2022-11-16 20:52] fjnoyp commented on #2361
Can you confirm that you are in fact on auth next :

- amplify_auth_cognito 1.0.0-next.0+7 [amplify_auth_cognito_android amplify_auth_cognito_dart amplify_auth_cognito_ios amplify_core amplify_flutter amplify_secure_storage async flutter flutter_web_plugins meta path plugin_platform_interface]

If you are on next, could you try using the stable public version:

`  amplify_auth_cognito: ^0.6.0
`

[2022-11-16 20:54] fjnoyp commented on #2361
Also could you provide the code that calls into `updateUserInformation`?  We see CognitoAuthRepo.updateEmailAndPhoneNumber so getting a stacktrace of the code that is called before that method would be helpful.

[2022-11-17 06:09] ZubairAkber commented on #2373
@HuiSF Thanks for your response, i am using [amplify-android ](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/android/) okay i will start it once internet is back but i think better if library handle this scenario and auto reconnect on internet availability

[2022-11-17 12:39] Simon-PumpAndUp commented on #2173
Hey hey, I think the root cause to all my problems is this:

[code]

[2022-11-17 15:11] fjnoyp commented on #2361
Hi @adam-fpc we have tried to replicate this on our side by calling `updateUserInformation` for email and phone number but encounter no crashes.  Would be good for us to see how to call `updateUserInforamtion` in your code.

[2022-11-17 16:18] adam-fpc commented on #2361
Hey @fjnoyp - thanks for trying. I can confirm I was on `amplify_auth_cognito 1.0.0-next.0+7`. I saw there was a new release and have since updated again. (Now `amplify_flutter 1.0.0-next.1+1` and `amplify_auth_cognito 1.0.0-next.1`)

I pulled the call to `updateUserAttribute` directly into the callback instead of going through `updateUserInformation` to rule out any issues in the middle. Here is

[2022-11-17 17:29] Jordan-Nelson commented on #2361
Hi @adam-fpc - I wasn't able to reproduce this in a standard auth test app. I noticed you called out using Cognito through a Cloudfront proxy in your repro steps. Have you tested this without the proxy? If you are able to test without it, it would be helpful to determine if that is the issue here.

[2022-11-17 17:34] Jordan-Nelson commented on #2361
Can you confirm if you are seeing only seeing this on iOS? Have you attempted to reproduce it on other platforms?

[2022-11-17 17:36] adam-fpc commented on #2361
Hi @Jordan-Nelson - thanks for trying. And yes, I have not encountered this issue without the proxy in place.

I realize I selected both Android and iOS in the issue, I have only observed on iOS (physical device and simulator). Android is working as expected for me. (No other platforms tested / supported in the Flutter project)

[2022-11-17 18:09] HuiSF commented on #2373
No worries @ZubairAkber  I will forward this issue to amplify-android repo for now. And we are actively looking into the improvements around DataStore reconnection. Please stay tuned.

[2022-11-18 06:35] simranjeet09 commented on #2041
@Jordan-Nelson  Apologies for updating late, this bug has been fixed and we are able to use and continue our development.
Thank you team for your quick response to our query. I hope this feature will help a lot of developers around the world.

Thank You 🎉 💫

[2022-11-18 17:48] Jordan-Nelson commented on #2361
Thanks @adam-fpc. We will attempt to repro this with a Cloudfront proxy.

[2022-11-18 20:16] ragingsquirrel3 commented on #1557
Hello  - We have recently released a new developer preview version of the API category ([amplify_flutter v1.0.0-next.1](https://pub.dev/packages/amplify_flutter/versions/1.0.0-next.1)). This new version is a full re-write of the API category in dart, and it supports Mobile, Desktop, and Web. The new version of the API category now has an `authorizationMode` property on `GraphQLRequest`s. You can s

[2022-11-18 20:46] ragingsquirrel3 commented on #1217
Hello  - We have recently released a new developer preview version of the API category ([amplify_flutter v1.0.0-next.1](https://pub.dev/packages/amplify_flutter/versions/1.0.0-next.1)). This new version is a full re-write of the API category in dart, and it supports Mobile, Desktop, and Web. The new version supports custom headers in a `GraphQLRequest`. You can see more info/examples [in the docs]

[2022-11-18 20:49] ragingsquirrel3 commented on #798
Hello - We have recently released a new developer preview version of the API category ([amplify_flutter v1.0.0-next.1](https://pub.dev/packages/amplify_flutter/versions/1.0.0-next.1)). This new version is a full re-write of the API category in dart, and it supports Mobile, Desktop, and Web. The new version supports custom headers in a `GraphQLRequest` and request interceptors. You can see more inf

[2022-11-18 20:52] ragingsquirrel3 commented on #1569
Hello  - We have recently released a new developer preview version of the API category ([amplify_flutter v1.0.0-next.1](https://pub.dev/packages/amplify_flutter/versions/1.0.0-next.1)). This new version is a full re-write of the API category in dart, and it supports Mobile, Desktop, and Web. This issue is addressed in this new version. You can see a code example for a [PUT request with a body](htt

[2022-11-18 20:59] Jordan-Nelson commented on #446
@thecillu - The fix should have been included in v0.6.2 of Amplify-Flutter. If you are experiencing this issue with a recent version of Amplify-Flutter, please let us know.

[2022-11-18 20:59] #446 closed

[2022-11-19 09:03] radumunteadevm8 commented on #186
I face the same issue

[2022-11-20 07:59] CoderUni opened #2390 "Signing in as an unverified user will not throw a UserNotConfirmedException"
### Description

I'm trying to catch the `UserNotConfirmedException` when an unverified user signs in. I noticed that no exception is thrown when trying to sign in. This happens in amplify `^1.0.0-next.1+1` but not in the stable version.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

Try to

[2022-11-20 09:30] sagar-esmagico opened #2391 "CognitoUserSession is not valid because idToken is null in flutter"
Hello, developer

I have implemented authentication flow in my application using aws. And used following versions for this.

[code]

It's working fine in all cases. But in some case it showing me the following issues and exception. Find console print i am getting while executing code. Please, give me solution ASAP as my app is live and users are coming but some are not able to create account. So..

[2022-11-21 01:02] jamilsaadeh97 commented on #319
Any updates ?

[2022-11-21 07:07] paulobunga256 opened #2392 "Social auth not completing, Unknown URL Scheme (Google Pixel Android v12, v13)"
### Description

Unable to complete authentication workflow on a mobile device/emulator. This error occurs after completing the OAuth verification process by google.

For some reason, it can't redirect back to the app. Tested on earlier Android versions and it works. But Android Version 12 and 13 are not working.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [

[2022-11-21 07:19] balajiks-dev commented on #2291
Hi @dnys1
Thank you for your message.

[2022-11-21 09:32] dagovalsusa commented on #410
Hello everyone,
I've tried to implement Custom Auth Flow with passwordless login using v0.6.10 of amplify_flutter, but when I call Amplify.Auth.signIn('username') the response is "Cannot issue tokens when ChallengeName is SRP_A".
My Cognito is set right because we have used it in production for 2 years, and without amplify_flutter lib, it works.
Further with amplify_flutter v1.0.0-next1 the method

[2022-11-21 09:36] dagovalsusa opened #2393 "Custom Auth Flow with passwordless login"
Docs: https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/flutter/

_Originally posted by @Jordan-Nelson in https://github.com/aws-amplify/amplify-flutter/issues/410#issuecomment-1137515656_

Hello everyone,
I've tried to implement Custom Auth Flow with passwordless login using v0.6.10 of amplify_flutter, but when I call Amplify.Auth.signIn('username') the response is "Cannot issu

[2022-11-21 10:05] oantacamelia opened #2394 "Amplify.Auth.fetchAuthSession returns an expired tokenID"
### Description

We are using
[code]
 to get the idToken to use it further with our API. The problem is that the idToken returned remains the same and never changes even if it's actually expired.

Our amplify setup is as following.
1. We used amplify CLI to init project
2. We used amplify import auth to add an existing User Pool only

When we create a new account we see the following logs, but the

[2022-11-21 13:03] Simon-PumpAndUp commented on #410
Hey @dagovalsusa, try replacing with the following:
`"authenticationFlowType": "USER_SRP_AUTH | USER_PASSWORD_AUTH | CUSTOM_AUTH",`

Also make sure to call the signing in method with the option param:
[code]

[2022-11-21 14:20] ignitum-ryan commented on #2392
Hi @paulobunga256!

In looking at your redirect URLs for your Cognito resources, you have the following configuration:

`"SignInRedirectURI": "myapp://oauth-callback,http://localhost:4200/oauth/callback,https://main.d3r6gbjpspfmk.amplifyapp.com/oauth/callback",`
`"SignOutRedirectURI": "myapp://oauth-callback,http://localhost:4200/oauth/callback,https://main.d3r6gbjpspfmk.amplifyapp.com/oauth/callb

[2022-11-21 15:14] dagovalsusa commented on #410
I tried replacing
`"authenticationFlowType": "USER_SRP_AUTH | USER_PASSWORD_AUTH | CUSTOM_AUTH",`

And add options param to signIn method (but my password is null because is passwordless)
[code]

But not works, the response is

`LambdaException(message: Cannot issue tokens when ChallengeName is SRP_A, recoverySuggestion: Make sure that the lambda configuration is correct, underlyingException: The

[2022-11-21 17:19] dnys1 commented on #2393
Hi @dagovalsusa, sorry you are facing this issue. Can you try the following in v0.6.10?

[code]

[2022-11-21 17:23] dnys1 commented on #2392
Hi @paulobunga256, sorry you are facing this issue.

As noted by @ignitum-ryan, your amplifyconfiguration lists `myapp://oauth-callback` as the redirect URI. However, the image you've posted shows that the app is trying to redirect to `conseguir://oauth-callback`. Can you confirm which URI scheme you would prefer to use (`myapp` or `conseguir`)?

Also, can you share your `AndroidManifest.xml` file

[2022-11-21 17:27] abdallahshaban557 commented on #319
Hi @jamilsaadeh97  - We are working on enabling Push Notifications as one of our highest priority items! We do not have an exact timeline, but we will share it once we have more details here. We are also planning on using Amazon Pinpoint rather than SNS for sending Notifications.

[2022-11-21 17:28] dnys1 commented on #2391
Hi @sagar-esmagico, sorry you are facing this issue. I will need some more information in order to properly assist you.

The error thrown is coming from one of your Lambda triggers registered in your project. Since it is happening at the registration step, it means either your pre-sign up, post confirmation, or migrate user Lambda triggers. One of these seems to be throwing an exception that is no

[2022-11-21 17:34] dnys1 commented on #2390
Hi @CoderUni, in vNext the behavior is slightly different. Exceptions are only thrown for unexpected errors. Since user confirmation is an expected result, we've added this information to the return value so you can handle it like any other sign in challenge.

[code]

[2022-11-21 17:38] dnys1 commented on #2394
Hi @oantacamelia, sorry you are facing this issue. Would you be able to try on the latest version of the library and let me know if you still experience problems? This issue has been fixed in newer versions.

[code]

[2022-11-21 19:07] radumunteadevm8 commented on #2394
I added the new version of amplify but now when I try to get the user token it throws an exception. Is it necessary to have an identity pool in order to have access to the isToken?

[2022-11-21 19:08] oantacamelia commented on #2394
I added the new version of amplify but now when I try to get the user token it throws an exception. Is it necessary to have an identity pool in order to have access to the isToken?

[code]
`I/flutter ( 2169): ERROR | FetchAuthSessionStateMachine | Emitted error: InvalidAccountTypeException(message: No identity pool registered for this account, recoverySuggestion: Register an identity pool using th

[2022-11-21 19:15] vgribok commented on #521
Using 0.6.10, I am having this issue on one of the three dev boxes I use with the identical codebase. I run into it on my work Windows laptop, but not on my home Windows desktop or Mac Mini M1. The issue happens on either home or corp network.

[2022-11-21 19:33] heikeschmitz opened #2398 "When working offline, id/access/refresh token expiration time is not honored."
### Description

I set the expiration time for the ID and the Access tokens to 1 day and the Refresh token to 360 days.
But when I then go and work offline, I am asked to sign back in already after 1 hour.

Note:
- I verified that the times were set correctly before and after the error occurred.
(see screen shot attached:
![Cognito Screen Shot 2022-11-21 at 10 42 04 AM](https://user-images.githubu

[2022-11-21 20:57] dnys1 commented on #2394
Ah apologies for the confusion. In vNext, setting `getAWSCredentials: true` will result in an exception when no identity pool is present. This is different from v0. To fix the error, simply remove the `getAwsCredentials: true` option and it should work.

[2022-11-21 20:57] abdallahshaban557 commented on #133
**Amplify Flutter announces Web and Desktop support (Developer Preview) for API (GraphQL + REST), Analytics, and Storage**

Hi everyone,

Today AWS Amplify is announcing a developer preview to expand Flutter support to web and desktop for API (GraphQL + REST), Analytics, and Storage.

With this developer preview version, you can use a single codebase to build Flutter apps that target iOS, Android,

[2022-11-21 20:58] abdallahshaban557 commented on #234
**Amplify Flutter announces Web and Desktop support (Developer Preview) for API (GraphQL + REST), Analytics, and Storage**

Hi everyone,

Today AWS Amplify is announcing a developer preview to expand Flutter support to web and desktop for API (GraphQL + REST), Analytics, and Storage.

With this developer preview version, you can use a single codebase to build Flutter apps that target iOS, Android,

[2022-11-21 22:34] oantacamelia commented on #2394
Thank you @dnys1 for the quick response. I've tested, as you suggested and it still returns an expired token. So, I just logged in as usual and at first returns a valid token, but when this expires doesn't return a new one.

[2022-11-21 22:40] oantacamelia commented on #2394
What I see to work for now is using this option, which refreshes the token every time.
`await Amplify.Auth.fetchAuthSession(options: const CognitoSessionOptions(forceRefresh: true));`

So we saved the last token locally and just made the request for another one, only when it is actually expired.

[2022-11-22 02:00] paulobunga commented on #2392
Hello @dnys1, @ignitum-ryan. Here is my current manifest file.
[code]

I have changed the custom scheme to ```conseguir://``` and run ```amplify update auth``` done a test on Android 13 Google Pixel and the error is still there. I've attached a video below

https://user-images.githubusercontent.com/10288731/203198445-56789609-5a24-4a71-80d7-bc54491d8bc8.mp4

[2022-11-22 03:42] CoderUni commented on #2390
Thanks @dnys1. This is the solution. I hope this could be added to the documentation.

[2022-11-22 14:33] dnys1 commented on #2392
Hi @paulobunga - I think we're closer. Your AndroidManifest lists `conseguir://oauth-callback` since it specifies both a scheme and a host. Your amplify configuration and Cognito settings will need to match this _exactly_ in order for everything to work. From the video, it seems your Amplify configuration is pointing to just `conseguir://` and will need to be updated to `conseguir://oauth-callback

[2022-11-22 15:09] paulobunga commented on #2392
Hi @dnys1, I updated the amplify config to use just ```conseguir://``` without the oauth-callback host, when I updated amplify with ```amplify update auth```

Here is a snippet of my amplify config file
[code]
I also made sure to push to make sure both server and client are in sync and tested on Android 11 and below. These still work fine. Problem is still with Android 13 and 12

[2022-11-22 15:12] dnys1 commented on #2392
Thank you for confirming. And just to make sure, you've updated your `AndroidManifest.xml` to say:

[code]

[2022-11-22 15:46] paulobunga commented on #2392
@dnys1 Yes I have.

[2022-11-22 15:50] dnys1 commented on #2392
Can you try without `android:autoVerify="true"` in this line:

`<intent-filter android:autoVerify="true">`

[2022-11-22 15:53] dnys1 commented on #2390
Thank you. I will make sure this is added to the documentation.

[2022-11-22 16:00] Jordan-Nelson commented on #2398
Hello @heikeschmitz - Thanks for taking the time to open this issue and provide detailed reproduction steps. I was able to reproduce this with the steps you provided. I will look into a fix for this issue.

[2022-11-22 20:00] ankorinek opened #2402 "Relation definition in GraphQL schema produces error in flutter model file"
### Description

I've created in AWS amplify studio the following models:
`
type Recording @model @auth(rules: [{allow: public}]) {
  id: ID!
  Song: Song @hasOne
  uid: String!
  instrument: String!
}

type Song @model @auth(rules: [{allow: public}]) {
  id: ID!
  name: String!
  active: Boolean!
}
`

The resulting Flutter model file Recording.dart contains references to a Song type, e.g. `final

[2022-11-22 20:23] paulobunga commented on #2392
@dnys1 thanks so much for the help setting this up. Removing ```android:autoVerify="true"``` from the intent filter did the trick. App is working as expected now. 👍👍👍

[2022-11-22 20:39] ianfmc opened #2403 "Cross-platform GraphQL Schema Models Fail on Android and iOS"
### Description

I updated my graphql schema to include an identity claim ```identityClaim sub::userName``` and now the application throws an error:

[code]

**Works in browser-based version using Angular**

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [X] DataStore
- [X] Storage

### Steps to Reproduce

1. Start emulator
2. Login using auth

[2022-11-22 20:59] dnys1 commented on #2403
Hi @ianfmc, sorry you are facing this issue. Would you be willing to share your `schema.graphql` file?

[2022-11-22 22:35] dnys1 commented on #2402
Hi @ankorinek - can you see if changing the field name to `song` instead of `Song` fixes the issue? I believe the field and type being called the same is causing the issue.

[2022-11-22 23:45] ianfmc commented on #2403
Thanks!

Please see below:

[code]

[2022-11-24 02:34] lien-dkseo opened #2424 "`amplify codegen models` is not implement `ModelIdentifier get modelIdentifier`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-codegen/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-codegen/blob/main/CONTR

[2022-11-24 04:30] oferardi commented on #234
Hi @abdallahshaban557

Great progress with the new version..thank you. Looking forward for datastore support

Is there any examples implementing a multi tenant app with amplify and flutter?

[2022-11-24 09:04] landyrev opened #2412 "APICategory ignores queryParameters in next.1 version"
### Description

It seems that APICategory ignores `queryParameters` argument in REST methods like get, post, etc, and don't pass it next to the `defaultPlugin`.

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Create a simple API client
2. Run:
[code]
3. Ensure (using debugging proxy, for

[2022-11-24 15:27] dnys1 opened #2414 "[api] `observeQuery` for API category"
Having an `observeQuery`-like API in the GraphQL category would help in situations where DataStore is not needed/desired. Currently, fetching the latest data then subscribing to the three subscription types for a model (`onCreate`, `onUpdate`, `onDelete`) is cumbersome to do. Having an API like `observeQuery` to get the latest data and monitor changes to a model type for a specific filter would im

[2022-11-24 15:29] dnys1 commented on #2412
Good find, @landyrev and thanks for the PR!

[2022-11-24 19:31] bulletBane opened #2415 "Initialization of data store is too long."
### Description

We have about 5k user records in data store
then request like

[code]
return empty list

and 2 variant

[code]

subscription code is never triggered to may be it will after 5-10 mins, didn't check.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

Have no idea how to reproduce

[2022-11-25 17:39] YawarOsman opened #2416 "An unknown exception has happened."
### Description

I've tried to query my data in `DataStore` at the beginning of the screen i mean inside `inItState`, and i **configured** Amplify inside main method, so my problem is here when i try to fetch the data it shows this error (this is the exact error when i get in catchError method) :

I also checked if the amplify is configure or not before fetching the data, so it's not configured, b

[2022-11-25 18:27] abdallahshaban557 commented on #234
Hi @oferardi  - Datastore support is next for us! We do not have an exact timeline, but we will share updates on this issue when we have them.

Unfortunately, we do not have a great guide for building multi-tenant apps with Amplify and Flutter. However, enhancing support for multi-tenancy is an important initiative that is a top priority item for the Amplify team!

[2022-11-25 19:23] asaarnak opened #2417 "Gradle deprecated property warning"
The Report.enabled property has been deprecated. This is scheduled to be removed in Gradle 8.0. Please use the required property instead. See https://docs.gradle.org/7.6/dsl/org.gradle.api.reporting.Report.html#org.gradle.api.reporting.Report:enabled for more details.
        at coverage_2qtuie4wcj50cut782zsfrn4r$_run_closure3$_closure4$_closure5$_closure6.doCall(/home/user/.pub-cache/hosted/pub.d

[2022-11-26 11:49] Lorenzohidalgo commented on #2416
Hi @YawarOsman , could you share more code?

The error states that the plugin was not correctly configured, you should be looking out for the following things before querying data:

- All Amplify plugins are correctly configured (you should wait until it's configured before continuing)
- Data store is ready (listen to Data store events and wait until the "ready" event is sent before querying)

[2022-11-26 14:57] jobypthomas opened #2418 "Flutter Web API - No schema found for the ModelType provided"
### Description

While prototyping for the new API support for the flutter web, I found an issue when accessing the deployed app. The app works just fine locally. Auth with the Authenticator component works just fine in local and in deployed url. I am using Amplify  hosting. Error is below:
`minified:l3:(message: No schema found for the ModelType provided: minified:lh, recoverySuggestion: Pass in

[2022-11-26 15:51] YawarOsman commented on #2416
I updated the code , just look at it

[2022-11-27 17:24] dnys1 commented on #2416
Hi @YawarOsman - what @Lorenzohidalgo is recommending is correct. In your code, you are tracking the variable `setAmplifyConfigured` when configuration completes, but you are not using this variable to delay progression to a new screen. An easy way to get around this is to configure Amplify in your `main` function like so:

[code]

@Lorenzohidalgo also mentioned waiting for the DataStore ready eve

[2022-11-27 17:31] dnys1 commented on #2418
Duplicate of https://github.com/aws-amplify/amplify-flutter/issues/2330.

Sorry you are facing this issue, @jobypthomas. This has been fixed and is currently pending a release in the Amplify CLI. I will update #2330 when that fix is released.

[2022-11-27 17:31] #2418 closed

[2022-11-28 16:54] Stivenmore commented on #2162
I just ran into this problem, the solution is:

configurations {
    all {
        exclude group: 'androidx.lifecycle', module: 'lifecycle-viewmodel-ktx'
    }
}

Add that in your build.gradle.

Although, according to several android forums, this happens due to inconsistencies between the versions of lifecycle that are used, perhaps it would be good to review this in the library

[2022-11-28 21:17] ianfmc commented on #2403
hi @dnys1: any update? thoughts? thanks

[2022-11-28 21:40] MarlonJD commented on #2277
Warning: I'm not the this issue's author. 0.6.9 fixed my issue (#1814).
It's the same error on amplify_api 1.0.0-next.1
Same pr #2087 can fix the issue. I'll create new pr for next branch.

[2022-11-28 22:39] HuiSF commented on #1426
Hi @hanna-becker @8maxxam8 with the release of `@aws-amplify/cli` `10.5`, custom primary key feature becomes generally available. You can give it a try :)

For an existing project, you may need to manually flip a feature flag in order to enable custom primary key functionality with Amplify CLI and codegen.

Set `respectPrimaryKeyAttributesOnConnectionField` to true in your `amplify/cli.json` file:

[2022-11-28 22:47] HuiSF commented on #1671
Closing this issue per above comment.

Amplify re-configuration feature request is tracked here: https://github.com/aws-amplify/amplify-flutter/issues/1208

Please feel free to reopen if any follow ups are needed.

[2022-11-28 22:47] #1671 closed

[2022-11-29 05:02] uc-asa commented on #2258
We have switched to Firebase. Right now we are not using pinpoint If it has been fixed based on the above requirement, then you are free to close to issue

[2022-11-29 10:59] movaid7 opened #2428 "Failing to build when adding Amplify Storage plugin"
### Description

After adding `amplify_storage_s3: ^1.0.0-next.1` in pubspec.yaml and including `AmplifyStorageS3()` in `Amplify.addPlugins` within `main.dart` the app fails to build. This was tested for both Android and Web.

### The error that is presented
![image](https://user-images.githubusercontent.com/12106703/204508642-6cdd8e21-a52a-41cf-8a95-a6284ae20fb7.png)
[code]
and references `../…/d

[2022-11-29 13:54] YawarOsman opened #2429 "Bad state: No element"
### Description

I want to retrieve data in DataStore but i face this error while query data in my table `Users` it directly go to `catchError` method and shows this error only

this is my code where i'm getting the data:

[code]

Amplify packages:

  amplify_auth_cognito: ^0.6.10
  amplify_api: ^0.6.10
  amplify_datastore: ^0.6.10
  amplify_storage_s3: ^0.6.10

### Categories

- [ ] Analytics
- [

[2022-11-29 16:14] saculNiot commented on #927
Hi, I am facing this issue. It stops me from signing in on Android device. Any solution for this?

[2022-11-29 16:55] saculNiot opened #2433 "Cognito sign in failure only in Android without any further exceptions."
### Description

This issue only happens in Android. When I sign in in Android, at first it will stuck at
`W/CognitoUserSession(13691): CognitoUserSession is not valid because idToken is null.
[        ] D/AWSMobileClient(13691): Sending password.
[        ] D/AWSMobileClient(13691): Using USER_SRP_AUTH for flow type.`
Then, at the end `[ +314 ms] E/amplify:flutter:auth_cognito(13691): AuthExcepti

[2022-11-29 18:09] yasseralhendawy commented on #2428
I am facing the same issue however I solve it temporarily by updating pubspec.yaml by

dependency_overrides:
  drift: 2.2.0

[2022-11-29 18:54] HuiSF commented on #2428
Hi all, thanks for reporting this issue. We are aware of this issue, and have implemented [a fix](https://github.com/aws-amplify/amplify-flutter/pull/2422).

Before we release the fix, please use @yasseralhendawy 's workaround, thanks!

[2022-11-29 19:03] #2429 closed

[2022-11-29 21:34] movaid7 commented on #2428
Thanks @HuiSF, and @yasseralhendawy for the workaround!

[2022-11-29 22:04] HuiSF commented on #2433
Hi @saculNiot looking at the content of your `amplifyconfiguration.dart`, are you using [social sign in](https://docs.amplify.aws/lib/auth/social/q/platform/flutter/#setup-your-auth-provider)?

Could you also provide entire logs around the sign in?

[2022-11-30 00:23] HuiSF commented on #2428
@movaid7 @yasseralhendawy we have just released the fix. The fix is included in version [`1.0.0-next.1+2`](https://pub.dev/packages/amplify_storage_s3/versions/1.0.0-next.1+2), please give it a try. Thanks!

[2022-11-30 01:36] saculNiot commented on #2433
Hi, thanks for the reply, I am not using social sign in. However, even I have removed the OAuth from configuration, the same issue still remains. Here is the log when I sign in
`[ +108 ms] W/CognitoUserSession( 3953): CognitoUserSession is not valid because idToken is null.
[        ] D/AWSMobileClient( 3953): Sending password.
[   +2 ms] D/AWSMobileClient( 3953): Using USER_SRP_AUTH for flow type

[2022-11-30 10:12] movaid7 commented on #2428
@HuiSF I'm not sure if it's something to do with config on my side but I'm getting errors relating to `ModelSubscriptionsFactory` having fewer named arguments than those of the overridden methods under `ModelSubscriptionsInterface`

![image](https://user-images.githubusercontent.com/12106703/204768733-79da0f33-3624-4716-9efe-c1450409fd2b.png)

[code]

[2022-11-30 11:18] musabibnusiraj commented on #1689
I faced the same issue. I moved the app to the same flutter directory & build. It works for me.

[2022-11-30 12:16] ragingsquirrel3 commented on #2412
This was released with https://pub.dev/packages/amplify_api/versions/1.0.0-next.1+1, closing.

[2022-11-30 12:16] #2412 closed

[2022-11-30 14:42] dnys1 commented on #2428
Hi @movaid7, can you run `flutter pub upgrade` and see if the error disappears?

[2022-11-30 16:50] HuiSF commented on #2433
To clarify how did you remove OAuth? Via Amplify CLI `amplify update auth`?

[ +1 ms] I/flutter ( 3953): See https://docs.flutter.dev/development/data-and-backend/networking#platform-notes.

This error suggests that your testing Android device/emulator or your App doesn't have network connectivity, can you check on this?

[2022-11-30 16:53] HuiSF commented on #2415
Hi @bulletBane thanks for reporting this issue. How many models have you created in total, how how many records in total roughly? When the number models * number of records of each model is high, the initial sync will be slower.

[2022-11-30 18:55] ragingsquirrel3 commented on #2352
released w https://pub.dev/packages/amplify_api/versions/1.0.0-next.1+1

[2022-11-30 18:55] #2352 closed

[2022-11-30 19:21] uzairleo opened #2446 "Amplify.Auth.signUp always returns 'isSignUpComplete = false' in IOS without any further exception"
### Describe the bug

Hello there,

We are using Aws amplify for our app , we are currently working with AUTH everything seems good with our ANDROID BUILD but there is a serious issue in our IOS BUILD which we are facing since couple of days . The issue is that `Amplify.Auth.signUp` always returns `'isSignUpComplete = false' `in IOS BUILD without throwing any further AUTH exception , Even the sign

[2022-11-30 19:39] dnys1 commented on #2446
Hi @uzairleo, your code looks correct. What is printed for this line:

[code]

if it's anything but `DONE`, you'll need to make an additional call to `Amplify.Auth.confirmSignUp` with the value sent to your email.

[2022-11-30 19:41] uzairleo commented on #2446
It print `SIGUP RESULT NEXT STEP====> CONFIRM_SIGN_UP_STEP`

[2022-11-30 19:42] dnys1 commented on #2446
Gotcha. So, in this case, an additional call to `Amplify.Auth.confirmSignUp` is needed with the value sent to your email.

[2022-11-30 19:43] uzairleo commented on #2446
I am unable to get you can you give a little more detail because the same code get executed for android with out additional call to `Amplify.Auth.confirmSignUp`

[2022-11-30 19:44] dnys1 commented on #2446
Hmm on Android, what gets printed for that line?

[2022-11-30 19:48] uzairleo commented on #2446
I have tested on android now
Its =>    `( 9982): SIGUP RESULT NEXT STEP====> CONFIRM_SIGN_UP_STEP`   which is same on IOS

[2022-11-30 19:51] dnys1 commented on #2446
So it seems to be working the same on both platforms. On Android, is `isSignUpComplete` printing `true` in this case?

[2022-11-30 19:52] uzairleo commented on #2446
yes its `true` on Android but on IOS its `false` which is creating the actual issue

[2022-11-30 19:59] dnys1 commented on #2446
I see. That seems to be a bug in Android's code, then. Since it is returning a value of `CONFIRM_SIGN_UP_STEP`, this means that an additional call to `Amplify.Auth.confirmSignUp` is still needed on Android.

[2022-11-30 20:09] uzairleo commented on #2446
Got it @dnys1  is there any workaround for this bug to solve it ?

[2022-11-30 20:17] dnys1 commented on #2446
You can define your own `isSignUpComplete` as follows while I investigate it more:

[code]

I would recommend upgrading to our dev-preview, if possible, though, since this issue is definitely fixed and any new bugs will be much easier to diagnose. You can upgrade by changing your package versions to `^1.0.0-0`.

[2022-11-30 20:43] uzairleo commented on #2446
yes i will define my own inside my `signupmethod()`now  but wanna to confirm should i keep this `isSignUpComplete` flag customization to android specific or not for both ios and android.

[2022-11-30 21:43] dnys1 commented on #2446
You can use that flag for both iOS/Android

[2022-11-30 21:52] Jordan-Nelson commented on #2398
Hi @heikeschmitz - I wanted to give you an update on this issue.

The Authenticator uses the [fetchAuthSession API](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter/) to fetch User Pool Tokens to determine a user's auth status. This API throws an Exception if User Pool Tokens OR AWS Credentials are expired. AWS Credentials will expire after one hour. This is why you are seei