[2021-04-08 06:12] #502 closed

[2021-04-08 11:30] Verditer commented on #471
@alokjkumar thanks.. for the input
 i found the issue..with the code.. the query paramters are not properly escaped and that was reason authentication header and tokens were getting truncated.

[2021-04-08 13:39] mufumade commented on #234
+1

[2021-04-08 13:55] SalahAdDin commented on #248
@Amplifiyer @haverchuck How can we get the user group?

[2021-04-08 14:11] SalahAdDin commented on #413
I support the new feature from the API, and thanks for giving us this precious solution.

Thanks!

[2021-04-08 16:20] SalahAdDin commented on #498
It breaks also in android.

[2021-04-08 16:22] SalahAdDin commented on #487
@haverchuck It is related to the **API** `updateAttributes` function, isn't it?

[2021-04-08 16:26] SalahAdDin commented on #274
Will this be?

[2021-04-08 16:27] SalahAdDin commented on #234
+1

[2021-04-08 16:59] Amplifiyer commented on #467
@gauravdangi, the problem doesn't seem to be the Hub listener (though the correct way would be to setup before calling configure()), but the Timeout exception that you are seeing in Android. What is the total number of records in your DDB table that DataStore is syncing up?

[2021-04-08 17:01] Amplifiyer commented on #252
@rommank this looks like a different bug than the one originally discussed in this issue. Can you please open another bug report and add as detailed reproduction steps as possible for us to replicate?

[2021-04-08 17:02] Amplifiyer commented on #490
@babytiger0929 I believe that's accurate. Adding @haverchuck to verify my understanding.

[2021-04-08 17:05] Ashish-Nanda commented on #501
@igoramidzic What version of Amplify Flutter do you have installed?
Also I would suggest you move the `Amplify.Auth.getCurrentUser()` call outside of the configuration block.

[2021-04-08 17:08] rommank commented on #252
https://github.com/aws-amplify/amplify-android/issues/1273
Thanks for your reply.

[2021-04-08 17:25] Ashish-Nanda commented on #498
@ken-ng-esotec @SalahAdDin
We are aware of a hot restart issue that occurs when `addPlugin` and `configure` are called for a second time. Currently the native libraries we use underneath allow for these methods to be called only once, and the state is persisted even after a hot restart.

We have a fix in progress that we are testing, and are working on getting it released sometime next week.

[2021-04-08 17:29] igoramidzic commented on #501
@Ashish-Nanda
[code]

And I put the call to `getCurrentUser()` there for ease of demo. It throws the same error when called from elsewhere, and it also works perfectly in that location when you initially start the debugger. Only fails on the second call when you hot restart.

[2021-04-09 08:36] SalahAdDin opened #504 "Error: A value of type 'AuthSession' can't be assigned to a variable of type 'CognitoAuthSession'."
**Describe the bug**
Our application requires to get the user role from **Cognito**, to solve this we followed the [this comment](https://github.com/aws-amplify/amplify-flutter/issues/413) but the _linter_(from **Android Studio**) and the running time show us the next bug:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get's the _Amplify_'s category and from it call the `fetchAuthSes

[2021-04-09 11:17] mechaadi commented on #122
Any updates on this issue?
I am getting the same error whenever I hot-restart the app or close the app using the back navigation button.

[2021-04-09 16:30] brunovsiqueira opened #506 "How to use SignInOptions?"
Hi there.

I am struggling trying to set SignInOptins to the Amplify.Auth.signIn method. I am trying to set it just as a simples Map<String, String> but I get "The argument type 'Map<String, String>' can't be assigned to the parameter type 'SignInOptions'.".

How should I set a Map in signIn(options: )?

[2021-04-09 16:49] brunovsiqueira commented on #506
@Amplifiyer could you please help me with this question?

[2021-04-10 14:04] maximilianschelbach commented on #501
This problem happens in general always after a hot restart, when the Cognito plugin is used. Besides `getCurrentUser`, also `fetchAuthSession`, fails as well.

It seems that this is because the `authorizationProvider` is `nil` after the hot restart.

`AWSCognitoAuthPlugin.swift` line 25:
[code]

This makes an assertion that the variable is not `nil` every time it is used. The implementations of `g

[2021-04-10 14:34] igoramidzic commented on #501
Max! You the man.
I can confirm that this suggestion works for me.

Hopefully we can work toward a more permanent solution.

For those, like me, who struggled to find the file for the temporary solution presented by @maximilianschelbach:
`ios/Pods/Amplify/Amplify/Categories/Auth/AuthCategory.swift`

[2021-04-11 07:50] dospringer commented on #234
+1

[2021-04-11 10:27] mechaadi opened #507 "Not able to save anything in cloud datastore"
**Describe the bug**
I am trying to save items using Datastore.save() method but it's not letting me do it. But it seems like the data is being saved in local storage (sqlite), I tried to log events using Amplify hub and it's only logging "outboxStatus" and "outboxMutationEnqueued" events whenever the save() method is called.

**To Reproduce**
Steps to reproduce the behavior:
Following the documen

[2021-04-11 10:37] mechaadi commented on #507
Tried to create a post directly using graphql api and it worked but still not able to save items from the flutter app.

![image](https://user-images.githubusercontent.com/18265351/114300907-fc86a880-9adf-11eb-9efc-09126a39f3ab.png)
![image](https://user-images.githubusercontent.com/18265351/114300896-f1cc1380-9adf-11eb-9714-f32da0e004e8.png)

[2021-04-12 06:51] gauravdangi commented on #467
@Amplifiyer There are a total of 5 tables each consisting of approx 20-30 records.

[2021-04-12 09:42] vishalkhedeker commented on #471
@Verditer can you tell me how exactly the issue was resolved? im stuck in similar situation.

[2021-04-12 15:46] mechaadi commented on #507
Looks like it's resolved, just deleted the amplify project, cleared the flutter cache and it worked.

Closing the issue!

[2021-04-12 15:46] #507 closed

[2021-04-12 20:36] brunovsiqueira commented on #506
Can someone help me with this?

[2021-04-12 21:29] Ashish-Nanda commented on #506
`SignInOptions` and [`CognitoSignInOptions`](https://github.com/aws-amplify/amplify-flutter/blob/master/packages/amplify_auth_cognito/lib/src/CognitoSignIn/CognitoSignInOptions.dart) which I think you should use here, are types that are part of the `amplify_auth_cognito` package. You need to pass an instance of these to the `signIn` API as it expects that type.

[2021-04-12 21:40] NimaSoroush commented on #499
Any update on this please?

[2021-04-12 21:48] brunovsiqueira commented on #506
Thank you very much @Ashish-Nanda!

[2021-04-12 23:26] infernal008 opened #508 "Authentication: Failed to instantiate AWSMobileClient"
I have recently added **auth** through the Amplify CLI by importing an existing Cognito User Pool and Identity Pool.

So what happens to me is that upon starting my app on the emulator, I am blocked by an AmplifyException error like below:

Here's a summary of my observations:

1. I was actually able to make this work before though on different plugin versions
2. I don't have any **awsconfiguratio

[2021-04-13 00:25] #486 closed

[2021-04-13 05:40] agordeev opened #515 ""You are currently signed out" right after sign up on Android"
**Describe the bug**

Here's my code:

[code]

The last line throws the following error:

[code]

Dependencies:

[code]

The user is created fine. Happens only on Android.

Might be related to https://github.com/aws-amplify/amplify-ios/issues/1162

[2021-04-13 05:56] agordeev opened #514 "fetchAuthSession throws An unknown error occurred"
**Describe the bug**

Here's my code:

[code]

The last line throws this exception on iOS:

[code]

on Android:

[code]

Dependencies:

[code]

The user is created fine.

Might be related to https://github.com/aws-amplify/amplify-ios/issues/1161

[2021-04-13 06:47] Verditer commented on #471
@vishalkhedeker  request parameters are escaped for instance # is replaced with %23

[2021-04-13 09:23] SalahAdDin commented on #413
I support the new feature from the API.

@haverchuck  With the new **Amplify** version i'm getting the next error:
`A value of type 'AuthSession*' can't be assigned to a variable of type 'CognitoAuthSession'. `

[2021-04-13 14:16] henry8th opened #509 "AmplifyPlugins.AWSCognitoAuthError error 7, Invalid parameter exception"
**Describe the bug**
I have set up AWS user model and added several custom attributes
When registering and passing in userAttributes i receive the error

flutter: InvalidParameterException(message: Attributes did not conform to the schema: custom:firstName: Attribute does not exist in the schema.
custom:dateOfBirth: Attribute does not exist in the schema.
custom:lastName: Attribute does not exist

[2021-04-13 14:36] mattRiddoch opened #510 "Configure auth to handle SAML flow."
**Describe the bug**
We are currently using the flutter_web_auth plugin to present a ping fed webview.  The url looks like so:
[code]

We would love to have this configured in the "Auth" section of the amplifyconfiguration.dart file but am coming up short finding examples?
This example looks close:
[Issue 431](https://github.com/aws-amplify/amplify-flutter/issues/431)

**Platform**
Amplify Flutter

[2021-04-13 16:01] infernal008 commented on #494
Hello, I was browsing around and have come across this filing here. I think we may have a similar use case and thus have encountered the same problem.

You can find my filing here: [DataStore SQLiteException: Ambiguous Column Name](https://github.com/aws-amplify/amplify-android/issues/1268)

It appears to currently be a limitation with query generation. What I've done is to change the model of my

[2021-04-13 16:48] Lorenzohidalgo commented on #494
Thanks @infernal008 it seems like we encountered the same issue. I ended up doing the same as you, changed the relationships for the model identifiers and ended up querying them in different steps.

[2021-04-13 19:00] Lorenzohidalgo opened #511 "[Feature Request] DataStore query filtering by null value"
When retrieving data by querying via DataStore there is no way to filter the query by null values, Needing to filter the retrieving list afterwards or adding aditional fields for every nullable field.

It would be greate to have a predicate like `.isNull` to filter by null values or be able to filter by `.eq(null)`.

**Example:**
I have a Members Model to link two models while adding some addition

[2021-04-13 19:10] CamronLDNF commented on #186
I'm facing the same issue and this workaround fixed it. After a certain time, calling just Amplify.Auth.fetchAuthSession() does not refresh the tokens. Not sure what @jamesonwilliams meant with this being a bug in `Amplify Android` -- I'm getting this issue in using `Amplify Flutter`, not `Amplify Android`.

[2021-04-13 19:29] jamesonwilliams commented on #186
Amplify Flutter is [built on top of Amplify Android](https://github.com/aws-amplify/amplify-flutter/blob/c773828dd91ded62e25eece9b8945f07fa551957/packages/amplify_auth_cognito/android/src/main/kotlin/com/amazonaws/amplify/amplify_auth_cognito/AuthCognito.kt#L318).

[2021-04-14 09:33] Deanwfy opened #512 "Invalid argument: Instance of 'CognitoSignInOptions'"
When I used 'CognitoSignInOptions', I got this expception:
[code]

Code:
[code]
How to fix it?
@Ashish-Nanda  @haverchuck

[2021-04-14 14:22] brunovsiqueira opened #513 "AuthException instead of specific exception"
Hi there.

When cognito throws an LimitExceededException, for example when you call the resetPassword method, the result comes as a AuthException instance and not a LimitExceededException instance. I can see it is a LimitExceededException only in the "code" part of "underlyingException" attribute. It makes hard for us to catch the different exceptions properly.

Shouldn't Amplify be throwing a Lim

[2021-04-14 14:46] brunovsiqueira commented on #513
Using amplify 0.1.0.

[2021-04-14 15:17] jcowley commented on #501
I'm experiencing this as well, though it also fails when the app loads. Any call to `Amplify.Auth.getCurrentUser()` or `Amplify.Auth.fetchAuthSession()` when there is no session will cause the app to crash with the error noted above.

[2021-04-14 15:24] brunovsiqueira commented on #506
@Ashish-Nanda the Amplify.Auth.signIn expects a SignInOptions and not a CognitoSignInOptions. When I try to send a CognitoSignInOptions in this method it throws an error "Invalid argument: Instance of 'CognitoSignInOptions'", even CognitoSignInOptions inherting from SignInOptions. Besided that, I cannot instantiate SignInOptions cause it is not allowed.

What should I do? Is it expected  to not be

[2021-04-14 17:43] brunovsiqueira commented on #512
@Deanwfy I am getting the same error and needing help asap.
https://github.com/aws-amplify/amplify-flutter/issues/506

[2021-04-14 18:33] Amplifiyer commented on #506
@brunovsiqueira can you share your code snippet or a reproducible app?

Ideally you should be able to pass a subclass object to a function that expects a superclass. e.g. the below code compile on dartpad successfully

[code]

[2021-04-14 18:48] haverchuck commented on #506
@brunovsiqueira Are you trying to do something like this?
[code]

[2021-04-14 19:44] brunovsiqueira commented on #506
@haverYes, I am doing exactly what you said and I get the same error mentioned here: https://github.com/aws-amplify/amplify-flutter/issues/512.

Seems that signIn is not accepting CognitoSignInOptions as options argument.

[2021-04-14 20:01] drkhannah commented on #510
We need the Flutter Amplify package to support our custom SAML login

[2021-04-14 21:53] brunovsiqueira commented on #412
any updates on this?

[2021-04-14 21:55] brunovsiqueira commented on #340
Happening again in 0.1.1 when you rerun your application without killing.

[2021-04-14 22:14] Alexminator99 commented on #260
I got the same problem now. Awesome!!!

type S3Object {
bucket: String!
region: String!
key: String!
}

type DocumentPicture @model (...) {
id: ID!
name: String
owner: String
timestamp: AWSDate
file: S3Object!
}

It only generates the licence header and import 2 .dart archives. Thats it for S3Object. Is there is a workaround?

Im in latest version -> 4.48.0.

[2021-04-15 00:08] infernal008 commented on #508
I would just want to update my filing here with what had happend to me so far. Basically, I got it to work now.

I tried commenting and uncommenting the activity tag and attributes that were instructed to be added by the Auth Documentation and after running it, I am no longer stuck in the exception that I have reported above and am now able to successfully log in and log out of my account.

Nothin

[2021-04-15 05:17] mtcahill57 commented on #234
+1

[2021-04-15 06:24] AndreyGuitar commented on #319
Hey team,
any updates on a status?

[2021-04-15 11:56] brunovsiqueira commented on #506
Hi there. Any updates on this?

Passing options to cognito will be a must in my company starting next week. So I need help with this asap.

@haverchuck @Ashish-Nanda @Amplifiyer

[2021-04-15 15:13] drkhannah commented on #510
(Bump) any response to this would be extremely helpful

[2021-04-15 15:58] tcaravanabtg commented on #506
I guess the error has something to do with the SignInRequest passing the options parameters as an instance of CognitoSignInOptions instead of a Map.

The message_codec class that will consume it only deal with primitive types (boolean, integer, double, string, list, map), throwing the invalid argument exception.

[2021-04-15 15:59] tcaravanabtg commented on #512
I'm trying to understand what is going on and I guess the error has something to do with the SignInRequest passing the Options as an instance of CognitoSignInOptions instead of a map.

The message_codec class that will consume it only deal with primitive types (boolean, integer, double, string, list, map), throwing the invalid argument exception.

[2021-04-15 16:49] infernal008 commented on #412
Hello @Amplifiyer, I would just like to confirm if `isConfigured` is still a work in progress or is suppossedly be done as of this time?

I am able to call isConfigured but have the following observations:

1. I tried printing the value of isConfigured before and after calling Amplify.configure()
[code]
2. You can see from above that the value of isConfigured changes to true after - which is an ex

[2021-04-15 18:53] caravanat commented on #506
Also the SignUp function on AuthCognito.kt use de options parameter while the SignIn don't.

`  private fun onSignUp (@NonNull flutterResult: Result, @NonNull request: HashMap<String, *>) {
    var errorSent: Boolean = false
    try {
      FlutterSignUpRequest.validate(request)
      var req = FlutterSignUpRequest(request);

      Amplify.Auth.signUp(
              req.username,
              req

[2021-04-15 19:06] brunovsiqueira commented on #506
Adding code in _SignInRequest.dart_ solves the type problem but metadata keep not being sent do cognito (I can see it in my pre auth lambda logs).
As stated by @caravanat, the reason why it is happening is that _onSignIn_ method in _AuthCognito.kt_ doesn't have the options parameter so it is impossible to be sent.

@haverchuck @Ashish-Nanda @Amplifiyer could someone please help us with it? Solving

[2021-04-15 22:30] brunovsiqueira opened #518 "completeNewPassword method missing"
When my user is in FORCE_CHANGE_PASSWORD status on Cognito (for example when he has got a temporary password) and I try to signIn it gives me:
`CognitoSignInResult.nextStep.signInStep: "CONFIRM_SIGN_IN_WITH_NEW_PASSWORD"`

Ok, it should be possible for the user to confirm sign in with a new password and then complete the sign in flow. The problem is that Amplify Flutter is missing this method. For

[2021-04-16 11:44] SalahAdDin commented on #504
Solve by casting to subclass as follows on [this answer](https://stackoverflow.com/a/67094045/3826549).

[2021-04-16 11:44] SalahAdDin commented on #504
Solve by casting to subclass as follows on [this answer](https://stackoverflow.com/a/67094045/3826549).

[2021-04-16 11:44] #504 closed

[2021-04-16 15:22] bwhiteTP commented on #379
@haverchuck any update on this?

[2021-04-16 17:02] drkhannah commented on #510
(Bump) any response to this would be extremely helpful

[2021-04-16 18:01] haverchuck commented on #501
@igoramidzic The issue with hot restart should be fixed in version 0.1.2!

[2021-04-16 18:02] haverchuck commented on #498
@ken-ng-esotec The issue with hot restart should be fixed in version 0.1.2!

[2021-04-16 19:03] caravanat commented on #506
I made a PR that fix this behavior. While it works without any change in amplify-android, some changes are needed in amplify-ios because it passes nil in validationData to the awsclient.

[2021-04-16 19:43] caravanat commented on #506
Here is the needed changes in ampify-ios: https://github.com/aws-amplify/amplify-ios/pull/1169

[2021-04-16 20:11] mjvirt opened #521 "Amplify.Auth.fetchAuthSession hangs?"
I ran into issue #491 on 0.11 and therefore upgraded to 0.12 I have a simple app that I'm testing on Android (this is Flutter/Dart). I use the Auth plugin (also 0.12). On initial app start up I notice this:

[code]

I let the app complete its initialisation. Part of that is running Amplify.Auth.fetchAuthSession() but it appears to never return. In fact this is what I see coming back:

[code]

**To

[2021-04-16 20:19] haverchuck commented on #506
@brunovsiqueira Are you trying to pass validationData or clientMetadata?

[2021-04-16 21:23] haverchuck commented on #506
@brunovsiqueira We are reviewing the PR made by @caravanat... I was actually like halfway down the road of making these same changes before I noticed the PR.

[2021-04-16 21:23] haverchuck commented on #506
@caravanat Thanks so much!

[2021-04-16 23:23] haverchuck commented on #506
@brunovsiqueira We are working with @caravanat on their PR.  We are giving this high priority and will attempt to merge/release as early next week as possible.

Please note that this clientMetadata will appear in the validationData object within the lambda trigger.

[2021-04-16 23:29] brunovsiqueira commented on #506
@haverchuck thanks so much! Looking forward for this fix :)

[2021-04-17 00:03] haverchuck commented on #506
@brunovsiqueira @caravanat Just made a PR into @caravanat 's branch. I tested this on both platforms, both with options and without.  Please note that the client metadata will appear in the `validationData` block in lambda, and on the iOS platform there will be some other data in `validationData` by default

[2021-04-17 00:15] caravanat commented on #506
@haverchuck and it is supposed to work on iOS without any change in amplify-ios? I'm going to test it asap, thank you so much for your help!

[2021-04-17 00:32] haverchuck commented on #506
@caravanat This should work without iOS changes.  Please update this thread if it does not work when you test.

[2021-04-17 00:34] haverchuck commented on #508
@infernal008 Thanks for updating - it seems like we can close this for now if you are unblocked.

[2021-04-17 00:35] haverchuck commented on #518
@brunovsiqueira Have you tried using the confirmSignIn API to respond, with the new password as the `confirmationValue`?

[2021-04-17 00:45] haverchuck commented on #512
@Deanwfy There is a [fix](https://github.com/aws-amplify/amplify-flutter/pull/519) for this in flight.

[2021-04-17 04:14] haverchuck commented on #506
@caravanat @brunovsiqueira I added another PR to @caravanat's branch to refine the iOS side a bit and add unit tests.  I'm working to get this ready for action next week.

[2021-04-17 08:41] Deanwfy commented on #512
Got it, thanks so much! @haverchuck @caravanat

[2021-04-17 08:41] #512 closed

[2021-04-17 13:39] SalahAdDin commented on #498
They are very good news, thanks!!!

[2021-04-17 14:20] MohammedNoureldin opened #523 "Implement AWS Signer"
Apparently, in Amplify-JS it is possible to use the following code to sign a URL to be able to connect to a WebSocket endpoint secured by IAM:

[code]

However, this `Signer` class is not available in Flutter/Dart? This is a big issue, because by this I am not able anymore to continue coding to connect my application to my secured WebSocket endpoint.

Will this class be available any soon? Or do w

[2021-04-17 16:20] mjvirt commented on #521
Note that I can workaround the issue above by editing the `dependencies` section in `build.gradle` by adding `implementation 'com.amazonaws:aws-android-sdk-auth-userpools:2.22.+'`.

[2021-04-18 09:27] bobbyqul commented on #234
+1

[2021-04-18 11:39] gelintonx opened #524 "How to use Amplify Hub events?"
Hi there.

I am struggling trying to listen to the Amplify Hub I am trying to listen to this event to check if user is signed in. Then if user isn't logged in send it to the login page
How should I listen to this events? I'm using the following code: `StreamSubscription hubSubscription = Amplify.Hub.listen([HubChannel.Auth], (hubEvent) {
  switch(hubEvent.eventName) {
    case "SIGNED_IN": {

[2021-04-18 13:47] igoramidzic commented on #501
That didn't fix it for me.
Can someone else check? @jcowley @maximilianschelbach

[2021-04-18 16:00] kresovic-milos commented on #234
+1

[2021-04-18 16:09] anthonymoretti commented on #500
Adding this line manually solved it for me:
`import 'package:amplify_datastore_plugin_interface/amplify_datastore_plugin_interface.dart';`

[2021-04-19 13:59] caravanat commented on #506
@haverchuck in iOS the server is not receiving the correct values.

The app is sending:

[code]

But the server is receiving:

[code]

[2021-04-19 14:50] caravanat commented on #506
@haverchuck I tested with the last PR and the only thing I noticed is that the Android send:

[code]

and iOS send:

[code]

I don't know if that is the expected behavior but there is some extra info in iOS that maybe should be somewhere else. Anyway the signinoptions is working for us now and I'm looking forward for you guys merging these changes.

Thank you!

[2021-04-19 15:00] drkhannah commented on #510
@haverchuck does the `feature-request` mean this isn't currently supported?

[2021-04-19 16:38] brunovsiqueira commented on #506
Hello @haverchuck. When do you guys are planning to release this fix?

[2021-04-19 16:48] haverchuck commented on #506
@caravanat Yes that is expected behavior right now.
@brunovsiqueira We are hoping to release by Wednesday afternoon (if not earlier), but that will depend on some additional testing on the SignInOption pull request.

[2021-04-19 16:50] brunovsiqueira commented on #506
Ok @haverchuck. Releasing it this week works for our team. Thank vou very much!

[2021-04-19 17:58] ESRuth commented on #308
Is this on the roadmap, anywhere?

[2021-04-19 19:33] Ashish-Nanda commented on #498
@ken-ng-esotec @SalahAdDin Could you let us know if hot restart works for you in version `0.1.2`?

[2021-04-19 21:09] jcowley commented on #501
@igoramidzic Not seeing this anymore. Did a `flutter clean` and also cleared the pod cache.

[2021-04-19 21:11] jcowley commented on #412
@infernal008: Doesn't work for me either. Hot reload appears to clear `isConfigured` but not the actual configuration. So, still getting the exception on every hot reload.

[2021-04-19 23:50] haverchuck commented on #501
@jcowley @igoramidzic Which version of Amplify pod are you seeing in your Podfile.lock?

[2021-04-20 02:52] infernal008 commented on #412
@jcowley, what I have done so I won't get stuck in it during development is I just disabled the _somehow_ aggressive exception breakpoints in vscode.

Doing hot reload seems to work fine and have no problems using the amplify plugins - atleast I can move on and could just come back at it when I'm done with other stuff. I aslo don't currently have a mechanism to check if amplify is already configur

[2021-04-20 09:38] SalahAdDin commented on #498
@Ashish-Nanda Well, it seems to be working good on **Android**.

Does it mean we don't need to throw an error for this case anymore?
[code]

[2021-04-20 13:02] igoramidzic commented on #501
@haverchuck

- AWSPluginsCore (1.7.0):
    - Amplify (= 1.7.0)
    - AWSCore (~> 2.23.0)

[2021-04-20 13:25] jcowley commented on #501
@haverchuck
[code]

Steps are pretty straight forward:

1. Start debugging (I'm using vscode)
2. Hit reload on the debugger menu
Result:
* First, you get an `AmplifyAlreadyConfiguredException` because the new `isConfigured` attribute (#303) doesn't persist across restarts, but the amplify configuration does. (This issue existed in 0.1.1 and 0.1.0 versions of the library)
* Second, after stepping o

[2021-04-20 15:17] haverchuck commented on #501
@jcowley @igoramidzic I believe the fix for this on the iOS platform was included in Amplify pod 1.8.1. If possible for your project, could you try removing your `Podfile.lock`?

[2021-04-20 16:21] fotiDim opened #525 "Unable to perform multipart request"
**Describe the bug**
We are using the REST API package and we are trying to perform a multipart request to upload a jpg image. The is no documentation about how to perform such a request and all our attempts have failed. The equivalent request using the `http` package is:
[code]

Are multipart request supported? If yes it would be nice to have an example.

[2021-04-20 16:23] jcowley commented on #501
Ok, finally got it to work. Thanks for your help and patience @haverchuck. Deleting `Podfile.lock` and re-running `pod install` wasn't doing it. I was still getting 1.8.0. Neither was `pod cache clean --all`. Finally got it to update to 1.8.1 by doing:

[code]

[2021-04-20 16:40] haverchuck commented on #524
@gelintonx Hub can be used to passively listen for and handle these events as they occur in realtime.  In order to check at a specific moment whether a user is signed in, you can use `fetchAuthSession`:
[code]

[2021-04-20 17:31] gelintonx commented on #524
Ok thanks @haverchuck  I'll be using this function to solve my issue

[2021-04-20 17:31] #524 closed

[2021-04-20 17:59] haverchuck commented on #521
@mjvirt Thanks for the workaround - which version of `aws-android-sdk-auth-userpools` were you using previously?

[2021-04-20 18:34] haverchuck commented on #122
@mechaadi @lukaselmer @ClarkYin The issue with hot restart should be fixed in version 0.1.2! You may need to delete your Podfile.lock in order to get the new version of amplify-ios, upon which this change is dependent. If you are unable to pull in the new version of amplify-ios in your Pods, try the suggestion [here](https://github.com/aws-amplify/amplify-flutter/issues/501#issuecomment-823417071)

[2021-04-20 18:40] Ashish-Nanda commented on #501
@jcowley Thanks for confirming the fix. Closing this issue as the fix has been released and verified.

[2021-04-20 18:40] #501 closed

[2021-04-20 18:51] jcowley commented on #122
@haverchuck: Just to note, there are still issues with duplicate calls to `Amplify.configure()` causing an exception, though not the fatal crash caused by #501. The issue is that there is no way to detect whether Amplify has already been configured, and subsequent calls throw an exception that has to be stepped over in the debugger. They added an `isConfigured` attribute (#303) but it does not wor

[2021-04-20 18:54] finkj commented on #234
+1

[2021-04-20 19:11] salvolf opened #526 "userPoolTokens. null"
I'm unable to get the access token from a CognitoAuthSession

**To Reproduce**
Steps to reproduce the behavior:
    CognitoAuthSession session = await Amplify.Auth.fetchAuthSession();
 if (session.isSignedIn) {
    print("session.userPoolTokens.accessToken");
    print(session.userPoolTokens.accessToken);
}
**Expected behavior**
i would expect an access token i get:
E/flutter (12615): [ERROR:flutt

[2021-04-20 19:28] haverchuck commented on #526
@salvolf Have you tried calling like this?
[code]

[2021-04-20 19:32] salvolf commented on #526
Yes it worked, thanks!

[2021-04-20 19:34] #526 closed

[2021-04-20 19:59] haverchuck commented on #201
@kjones We have an API that should allow you to fetch the user attributes, so parsing the JWT shouldn't be necessary:
[code]

[2021-04-20 20:13] mjvirt commented on #521
@haverchuck I'm honestly not sure, it would have been whatever the 0.10 and after the 0.11 version of the dart/flutter library amplify_auth_cognito brought in.

[2021-04-20 20:23] haverchuck commented on #122
https://github.com/aws-amplify/amplify-flutter/pull/527

[2021-04-21 09:26] sandeepmr29 opened #529 "DataStoreException"
I am inserting data to Dynamo DB using graphQL and aws amplify from flutter app.
The app  is getting crashed and getting the below error message

"Initial cloud sync failed.
W/amplify:aws-datastore( 3108): DataStoreException
{message=Error in saving the model: Player[id=f4e13a14-afe3-4dd8-9e9e-3391fe003db5],
cause=java.lang.ClassCastException: java.lang.Double cannot
 be cast to com.amplifyframewo

[2021-04-21 09:59] fotiDim opened #530 "Expose `logout()` from the iOS SDK"
**Describe the bug**
We wanted to avoid getting the native sign-in dialog when signing out. This dialog comes from iOS itself when using the ASWebAuthenticationSession framework (aka SSO for iOS) and is not customizable. It is misleading as it mentions "Sign In" even though the user is signing out.
![image](https://user-images.githubusercontent.com/2326415/115534158-ca233b00-a297-11eb-987b-458df19

[2021-04-21 18:35] infernal008 commented on #400
Hello, I would just like to share that I am experiencing the same issue as well.

I have a DataStore object whose attribute is of type Float wherein I store values from a Dart object whose attribute is of type Double - something like Double->Float.

Here are my observations:

1. In my checking, I can confirm that my values are indeed doubles, with decimal places, prior executing the `Amplify.DataS

[2021-04-21 18:47] brunovsiqueira commented on #506
Hi @haverchuck. Is it going to be released today?

[2021-04-21 19:04] Ashish-Nanda commented on #506
Hi @brunovsiqueira we just did the release for version `0.1.3` that includes the fix. Please give it a try and let us know if your issue is resolved.

[2021-04-21 20:06] haverchuck commented on #513
@brunovsiqueira This should be fixed in 0.1.3.

[2021-04-21 20:09] brunovsiqueira commented on #513
Thanks so much guys! I am going to test it and let you guys know.

[2021-04-21 21:36] kjones commented on #400
I completely forgot this even existed for two reasons.
1. I have hand modified the generated code with the workaround,
and more importantly
2. #260 has still not been fixed and has no workaround so I'm not currently using the AWS DataStore plugin. I am instead using my own DataStore plugin written back in September which does support nested classes. ([example DataStore plugin](https://github.com/k

[2021-04-21 23:03] infernal008 commented on #400
Lucky for me, the workaround is currently enough for me to proceed with my development. Though I would have to keep an eye into it as a simple codegen would perhaps overwrite it.

I was actually parsing the num values the long way, thanks for the lead on a shorter version. :D

[2021-04-22 05:58] xenowits commented on #414
Any updates on this?

[2021-04-22 07:23] bulwinkel commented on #498
Hi team, any update here? I have just updated to 0.1.3 and am still experiencing this issue on iOS.

I am running on the simulator on an iPhone 12 mini, iOS 14.4

I completed the following steps:
- deleted the `podfile.lock`
- deleted pods directory
- deleted derived data
- run flutter clean
- rebuild the app

Thanks in advance

[2021-04-22 10:41] alokjkumar commented on #471
@haverchuck any idea of when this might get looked at? Developing without being able to make API calls is a little prohibitive...

[2021-04-22 12:39] brunovsiqueira commented on #506
It is working as expected! Thanks so much guys!

[2021-04-22 12:39] #506 closed

[2021-04-22 15:18] rlee1990 commented on #308
@Amplifiyer any updates?

[2021-04-22 15:37] brunovsiqueira commented on #518
Hi @haverchuck. I tried to test it and I think what you said is working, the user went to CONFIRMED status. However, in this method I need to send metadata int the options parameter and when I try to send a CognitoConfirmSignInOptions an exception is raised saying that the argument CognitoConfirmSignInOptions is invalid as option parameter.

[2021-04-22 15:44] brunovsiqueira commented on #518
Probably it is related to the same error that was happening with CognitoSinInOptions.

[2021-04-22 15:47] caravanat commented on #518
The ConfirmSignInRequest is missing the same serializeAsMap() in options that the SignInRequest missed before 0.1.3.

[2021-04-22 16:40] blattr opened #531 "Is it possible to get the HTTP status code of Amplify.API.get() (i.e.)"
**Describe the bug**
All status code above 299 and 304 (as mentioned in [here](https://docs.amplify.aws/lib/restapi/fetch/q/platform/js)) are internally "rated" as an error and therefore thrown as an exception (see below). In my opinion it should be possible to handle all status codes explicitly because not all of them are a result of failed execution (i.e.404 / no data).

Could you please at leas

[2021-04-22 17:13] brunovsiqueira commented on #518
I am going to open a new issue for this problem.

[2021-04-22 17:13] #518 closed

[2021-04-22 17:14] haverchuck commented on #530
@fotiDim When you say "Please Expose signOut() from the native iOS SDK", what exactly do you mean?

[2021-04-22 17:24] brunovsiqueira opened #532 "CognitoConfirmSignInOptions not working"
When I use the auth confirmSignIn method with ConfirmSignInOptions as options attribute an exception is raised saying that the argument CognitoConfirmSignInOptions is invalid as option parameter. I believe this could be solved in a similar way you guys solved the  CongitoSignInOptions issue (https://github.com/aws-amplify/amplify-flutter/issues/506).

Sending client metadata as options parameter w

[2021-04-22 18:53] haverchuck commented on #532
@brunovsiqueira Which Cognito Trigger are you expecting to pass this to?

[2021-04-22 18:57] brunovsiqueira commented on #532
@haverchuck  this is going to be passed to the Pre Authentication trigger.

[2021-04-22 19:54] haverchuck commented on #532
@brunovsiqueira Are there other Auth APIs you are expecting to use for this... or just signIn and confirmSignIn?

[2021-04-22 21:01] infernal008 opened #534 "API: Fatal Exception"
I have recently encountered an exception that causes my app to crash or not start at all.

[code]

The thing is that it suddenly turned out with that while I was doing some routine testing - I haven't made any configuration changes or anything.

Upon checking, it appears to be related to the API plugin as my app would work when the API plugin is not added. I even tried updating all my plugin and t

[2021-04-22 21:08] brunovsiqueira commented on #532
No, just the two you mentioned. Makes sense confirm signin not triggering pre auth. But I am using same metadata in the post auth trigger.

[2021-04-22 22:34] infernal008 commented on #534
Just an update, while performing my testing earlier after a reboot of my system, it seemed to work - both DataStore and API. Though I'm not sure if it is related.

But after some testing, the same exception is being thrown again. Note that no configurations were changed in between testings.

It seems that the exception is quite spotty and is not fully consistent considering that my config and envi

[2021-04-22 22:34] brunovsiqueira opened #535 "Sign in provider was not registered due to missing optional dependency. showSignIn() API may not work as expected."
The following warning is being printed in console (latest release):
`D/AWSMobileClient(29781): Using the SignInProviderConfig from `awsconfiguration.json`.
W/AWSMobileClient(29781): Sign in provider was not registered due to missing optional dependency. showSignIn() API may not work as expected.
W/AWSMobileClient(29781): java.lang.NoClassDefFoundError: Failed resolution of: Lcom/amazonaws/mobile/a

[2021-04-22 22:47] brunovsiqueira commented on #513
It is working as expected now! Thank you all again!

[2021-04-22 22:47] #513 closed

[2021-04-22 22:49] fjnoyp commented on #435
Hi everyone, thanks for your patience as we upgrade Amplify Flutter to support Null Safety.

This upgrade is requiring a lot of changes throughout our entire code base so we've created a separate branch here: https://github.com/aws-amplify/amplify-flutter/tree/null-safety-master to aggregate our Null Safety changes.

So far we've upgrade our core and flutter modules as well as all of the interface

[2021-04-22 23:06] haverchuck commented on #535
@brunovsiqueira This can be safely ignored if you aren't using Hosted UI (and should be silenced on a future release).

[2021-04-22 23:07] brunovsiqueira commented on #535
Ok! Thanks @haverchuck.

[2021-04-22 23:07] #535 closed

[2021-04-23 17:42] haverchuck commented on #532
@brunovsiqueira PR #538 has a fix for this issue. It will only work with iOS until we merge another PR into amplify-android and update the gradle files in this PR.  If you have time, do you want to grab the code changes from this PR and test so that we can confirm it is working for you before we release - and also to make sure that there aren't any other issues.

[2021-04-23 18:43] brunovsiqueira commented on #532
Hi @haverchuck. Thank you so much! I will test it as soon as possible and let you know.

When are you guys planning to release it with the iOS part working?

[2021-04-23 18:52] haverchuck commented on #532
We are hoping to get this change, as well as the change for android, merged and released early next week.

[2021-04-23 18:55] brunovsiqueira commented on #532
Ok, that works for us! Thank you again.

[2021-04-23 19:04] haverchuck commented on #532
@brunovsiqueira There was a small bug in the #538, which I've just fixed. If you've already pulled the code before this comment, you may need to pull again.

[2021-04-23 19:49] haverchuck commented on #532
@brunovsiqueira When you test the iOS functionality, can you please make sure that there is nothing else needed? We generally try to avoid more than one release per week.

[2021-04-23 20:48] THM068 commented on #234
+1 Web support

[2021-04-23 21:49] infernal008 commented on #534
Another update: the error is really spotty that there are very rare times wherein my app would work properly and it crashes most of the time.

So far, my observation is still the same that whenever the Amplify API plugin is not configured, my app works without crashing.

[2021-04-23 21:57] Ashish-Nanda commented on #534
Hi @infernal008, thanks for reporting this. Does the error happen intermittently or can you share some steps that enable you to reproduce it consistently?

Also can you share some more details about your App, such as the schema and code snippets where you configure and use DataStore.

If you can provide a sample app on Github itself, that would  be ideal.

[2021-04-23 23:07] bwhiteTP opened #539 "iOS Amplify Configuration Crash On Startup"
**Describe the bug**
Our release build is suddenly crashing on startup on iOS. We've narrowed it down to an issue with amplify configuration. It was working fine until one build it suddenly wasn't working and we haven't made any configuration or amplify changes. Here is the crash log:

[code]

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all

[2021-04-23 23:14] infernal008 commented on #534
Hello @Ashish-Nanda, thank you very much for looking into this.

From my observation during lots of testing, it seems that the error is inconsistent - it crashes around 8 out of 10 times at most considering that none of the configurations are changed. What's tricky is that it sometimes work.

I have been doing my research and have performed the following with no success in resolving it:

- Updatin

[2021-04-23 23:17] rmargolinross commented on #539
I had this issue as well. It seems that there are new Pods being grabbed that are causing the issue. It works fine with the stuff I have here, but I don't want to commit my Podfile.lock
![Screen Shot 2021-04-23 at 5 13 45 PM](https://user-images.githubusercontent.com/61987148/115938421-cfc77f00-a457-11eb-809f-ad215fa4a98e.png)

[2021-04-23 23:50] infernal008 commented on #534
By the way, when it comes to data modelling, it's really just a typical model. I have just also included some CRUD authorization through:

[2021-04-24 00:09] kjones commented on #539
Looks like a change to the underlying iOS SDK in 2.23.4 breaks [AmplifyAWSServiceConfiguration](
https://github.com/aws-amplify/amplify-ios/blob/02ac2ba5c417883ea90f3d59b3cd28e63d2a1d39/AmplifyPlugins/Core/AWSPluginsCore/ServiceConfiguration/AmplifyAWSServiceConfiguration.swift)

[2021-04-24 02:06] lawmicha commented on #539
attempting to reproduce this from an iOS app using AWSAuthCognitoAuthPugin,

[code]

Fatal error: Use of unimplemented initializer 'init(region:endpoint:credentialsProvider:localTestingEnabled:)

[2021-04-24 02:14] lawmicha commented on #539
most likely somewhere in here: https://github.com/aws-amplify/aws-sdk-ios/pull/3544/files#diff-e277b4a4831ffefecbf79b2881410af909eef61de49df280d6fee8d976a88100

[2021-04-24 02:20] lawmicha commented on #539
ah, perhaps as @kjones pointed out, `AmplifyAWSServiceConfiguration` might need to be updated
[code]

[2021-04-24 03:11] lawmicha commented on #539
PR that should fix the problem https://github.com/aws-amplify/amplify-ios/pull/1182

[2021-04-24 03:43] lawmicha commented on #539
is there a workaround for now?

On iOS, we updated the SDK dependency to 2.23.0 and released 1.6.1. So any version from 1.6.1 and up will pull in SDK 2.23.4 and break the app

How does flutter decide which Amplify iOS version to use?

[2021-04-24 04:58] Ashish-Nanda commented on #539
Thanks @lawmicha for the PR.

Currently Amplify Flutter uses the latest version of Amplify iOS which is `1.8.1`. This version also contains the changes to fix the hot restart issue. I think the only way to workaround this would be to pin the transitive dependency for the iOS SDK to a version before `2.23.4`. I believe this should be possible in the `Podfile.lock`?

I assume Amplify iOS customers a

[2021-04-24 05:04] lawmicha commented on #539
Yes I think that’s correct, Podfile.lock could be manually modified to pin it to 2.23.3. From an iOS app using a Podfile, a developer will also see this issue and could pin it this way

[code]

[2021-04-24 05:27] haverchuck commented on #539
@lawmicha I was unable to get the podfile workaround to work; however, I was able to resolve the problem by replacing instances of `2.23.4` with `2.23.3` in the `Podfile.lock`.

[2021-04-24 06:25] Ashish-Nanda commented on #539
Thanks for verifying @haverchuck

[2021-04-24 06:47] fotiDim commented on #530
@haverchuck I am referring to this [signOut()](https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSMobileClient/Classes/AWSMobileClient.html#/s:15AWSMobileClientAAC7signOutyyF) method. I guess it is part of the `aws-sdk-ios`. Correct, we need it in order to clear the keychain without getting the iOS dialog.

[2021-04-24 09:52] Krystian95 commented on #234
+1 for web support
Thanks for working on this

[2021-04-24 13:21] Krystian95 commented on #319
+1

[2021-04-24 14:23] lawmicha commented on #539
SDK 2.23.5 is in progress of being released, which should fix the issue, I see a few have been pushed to cocoapods already, please upgrade any dependency on the SDK to 2.23.5. I’ll be doing verification myself but if anyone is blocked on this and have time to try it out, please upgrade to 2.23.5 and let us know if it is fixed for you

[2021-04-24 18:32] lawmicha commented on #539
I've verified that this issue is no longer a problem with the latest 2.23.5 release. Please let us know if you see any issues.

[2021-04-24 21:01] FascinateDK commented on #234
+1

[2021-04-25 01:16] haverchuck commented on #539
Worked for me after running `pod update`.

[2021-04-25 09:17] BoshiLee commented on #359
i have same issue

[2021-04-25 13:41] ken-ng-esotec commented on #498
Yes, this works. Thank you for the update

[2021-04-25 13:41] #498 closed

[2021-04-25 13:50] ritesh-guaubox commented on #319
Hello Amplify Team. Do we have any ETA on this one?

[2021-04-25 13:51] ritesh-guaubox commented on #319
Hello Amplify Team. Do we have any ETA on this one?

[2021-04-25 19:07] ken-ng-esotec commented on #319
Hi Amplify team, this is a very in demand feature can you please add this to the roadmap?

[2021-04-25 20:42] finkj commented on #234
@haverchuck @jamesonwilliams any news on this topic? Is there a roadmap? Thanks!

[2021-04-25 20:50] jamesonwilliams commented on #234
@finkj I am no longer working on this project.

[2021-04-25 23:36] Ashish-Nanda commented on #539
Thanks @lawmicha for releasing this on priority and @haverchuck for verifying the fix.

@bwhiteTP @rmargolinross could you run a `pod update` and confirm version `2.23.5` works for you. Would like to close out this issue once you verify.

[2021-04-26 02:11] bulwinkel commented on #498
`pod update` did the trick, thanks @ken-ng-esotec !

[2021-04-26 07:34] SalahAdDin commented on #234
did you take another alternative?

[2021-04-26 12:45] brunovsiqueira commented on #539
I had same crash before running pod update. After running it, the crash stopped. Thank you!

[2021-04-26 12:48] Ashish-Nanda commented on #539
Thanks for confirming @brunovsiqueira. Closing the issue as its resolved and verified.

[2021-04-26 12:48] #539 closed

[2021-04-26 16:03] haverchuck commented on #532
@brunovsiqueira Any update on this?

[2021-04-26 16:34] albemala opened #541 "Expose progressListener from Amplify.Storage.uploadFile and Amplify.Storage.downloadFile"
**Describe the bug**

In the native SDKs, there is a `progressListener` parameter for the `Amplify.Storage.uploadFile` and `Amplify.Storage.downloadFile` APIs. This parameter is not exposed in the Flutter SDK.

**Expected behavior**

Could you please add the `progressListener` parameter in Flutter as well? Many thanks!

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is

[2021-04-26 17:36] brunovsiqueira commented on #532
Hi @haverchuck. Should I only use your commit and it should work both on Android and iOS? As soon as I have time to test I will do it.

[2021-04-26 18:03] haverchuck commented on #532
@brunovsiqueira I just pushed the requisite changes to #538 which will enable this for both platforms.  For this trigger, you will see the values you pass in under a clientMetadata key in the trigger's request object:

[code]

[2021-04-27 00:25] haverchuck commented on #532
@brunovsiqueira We plan on releasing this tomorrow morning (PST).

[2021-04-27 14:03] dgagnon commented on #521
Hi,

we are facing the same issue.  It appears that the android folder is not maintained by Amplify during version upgrades.  We also were not able to find any reference to this breaking change.

What is the recommended approach to keep the build environment updated with the amplify requirements ?

@mjvirt Would you please be able to share your corrected file?

Thank you,

[2021-04-27 16:14] haverchuck commented on #122
@jcowley We have just released version 0.1.4 and have addressed this.  The isConfigured getter will not work immediately on hot restart (because hot restart destroys dart state), but if you call configure on a hot restart just as you would on an initial app start, we detect in our platform-specific code whether amplify has already been configured, swallow the resulting error that is sent to the da

[2021-04-27 16:26] fanwgwg commented on #441
@haverchuck The underlying issue https://github.com/aws-amplify/amplify-android/issues/1247 seems not getting attention, do you know if it's been looked into or is being investigated by relevant team?

Thank you!

[2021-04-27 16:30] haverchuck commented on #509
@henry8th The custom attributes in your userpool look like this, with the custom prefix?
![image](https://user-images.githubusercontent.com/10621276/116278325-3e982700-a73b-11eb-88df-910160c48fd0.png)

[2021-04-27 16:44] jcowley commented on #122
Thanks @haverchuck. I'll give it a try.

[2021-04-27 17:41] anthonymoretti opened #543 "Changing "maxRecordsToSync" is not having any effect"
**Describe the bug**
DataStore is only syncing 10,000 items even when I change `maxRecordsToSync` to something higher like 50,000. It also continues to sync 10,000 items if I change `maxRecordsToSync` to something lower like 5,000. I've tried doing it by code and also changing `amplifyconfiguration.dart`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following code after `await Amp

[2021-04-27 19:49] haverchuck commented on #543
@anthonymoretti This is not a feature we support yet, so I'm marking this as a feature request and getting it into our backlog.

[2021-04-27 20:23] anthonymoretti commented on #543
@haverchuck Ok, thanks for letting me know! You wouldn't be able to give a very rough ballpark figure of when you think it might work would you?

[2021-04-27 21:00] jcowley commented on #122
@haverchuck: It's working for me. Thank you!

[2021-04-27 21:52] haverchuck commented on #122
@lukaselmer Is this issue resolved on your end?

[2021-04-27 23:16] jcowley opened #544 "Public challenge parameters not returned from custom auth flow in iOS only"
**Describe the bug**
When using a custom authentication flow in Cognito, the 'Create Auth Challenge' lambda trigger can return [public challenge parameters](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-create-auth-challenge.html#cognito-user-pools-lambda-trigger-syntax-create-auth-challenge-response) to the client in order to provide information about how to complete

[2021-04-28 01:36] infernal008 commented on #534
I'd like to share an update:

- I tried removing API via the Amplify CLI while still adding AmplifyAPI in Amplify.configure in my app. I have run some tests and all failed. Basically, every test crashed from the start with the same error.
- In relation to the scenario above, only difference is I have removed the AmplifyAPI plugin as well in Amplify.configure (meaning the API plugin is not used). A

[2021-04-28 09:07] MohammedNoureldin commented on #438
@raph Totally agree, I am working on a project, and I seriously think about switch to Firebase because of this.

[2021-04-28 13:48] brunovsiqueira commented on #532
Hi @haverchuck. Sorry fot the late reply.

I tested in iOS and Android and both are working as expected. Thank you so much again!

[2021-04-28 13:48] #532 closed

[2021-04-28 17:21] thomasaab opened #546 "signalTokensNotAvailable, waitForSignIn: userState:SIGNED_OUT_USER_POOLS_TOKENS_INVALID"
**Describe the bug**
Trying to get User Attributes with Amplify.Auth.fetchUserAttributes() it throws me these errors:

Inspecting user state details
W/AWSMobileClient(13803): signalTokensNotAvailable
W/AWSMobileClient(13803): Tokens are invalid, please sign-in again.
W/AWSMobileClient(13803): java.lang.Exception: No cached session.
W/AWSMobileClient(13803): 	at com.amazonaws.mobile.client.AWSMobil

[2021-04-28 20:28] haverchuck commented on #412
@infernal008 @fpabl0 @brunovsiqueira @A-Kurimoto @raywhiteside

We have just released version 0.1.4 and have addressed this. The isConfigured getter will not work immediately on hot restart (because hot restart destroys dart state), but if you call configure on a hot restart just as you would on an initial app start, we detect in our platform-specific code whether amplify has already been configur

[2021-04-29 00:50] lukaselmer commented on #122
I couldn't test it yet, but this seems to do exactly what I would expect :) thank you!

[2021-04-29 00:50] #122 closed

[2021-04-29 04:38] gabriel-gsoftware commented on #234
+1

[2021-04-29 05:03] infernal008 commented on #412
Hello @haverchuck, thanks for the tag with your update. I'm currently on 0.1.4 and it indeed seems to work as intended - no exceptions/messages are thrown regarding reconfiguration during hot restart. This is great for me as it seems to be smoother now in terms of using the plugins - it just works.

[2021-04-29 05:23] infernal008 commented on #534
Hello, I'd like to share an update again. At this point, I'd like to apologize for somehow making a journal here of my process. *peace*

Here are my observations:

- I have deleted and re-initialized my entire Amplify stack and have added all modules I need from the CLI hoping that it may just be a configuration problem and could be resolved by a fresh installation - I was wrong. Nothing changed,

[2021-04-29 12:35] dgagnon commented on #534
@infernal008 for what it's worth, I am using datastore + api on a guest user (no sign-in).  I had issues similar (but not identical to yours).  I rebuilt a project, chose the exact options shown in the documentation and it worked.

You want the API to have an API key if you are not going to login using the user pools.

[2021-04-29 15:31] haverchuck commented on #412
Closing this issue based on feedback from @infernal008 .

[2021-04-29 15:31] #412 closed

[2021-04-29 17:01] infernal008 commented on #534
Hello @dgagnon, thanks for sharing your thoughts on this.

Currently, the `default authorization type for the API` that I have is `Cognito User Pools` since I have authorization rules on my data models through `@auth(rules: [{ allow: owner }])`.

In this case, changing the authorization type to `API Key` prompts me with the error below:

`@auth directive with 'userPools' provider found, but the pr

[2021-04-29 17:08] dgagnon commented on #534
@infernal008 have you tried defaulting to API key and having the userpool as additional instead of default?

[2021-04-29 17:36] infernal008 commented on #534
@dgagnon, I have actually thought as well that maybe two authorization types can be used. However, the CLI seems to only have an option to select a default one - something like only one authorization type can be used.

Do you have another way of adding another authorization type?

[2021-04-29 17:39] dgagnon commented on #534
@infernal008
`? Please select from one of the below mentioned services:
    `GraphQL`
? Provide API name:
    `BlogAppApi`
? Choose the default authorization type for the API
    `API key`
? Enter a description for the API key:
    `BlogAPIKey`
? After how many days from now the API key should expire (1-365):
    `365`
? Do you want to configure advanced settings for the GraphQL API
    `Yes, I wa

[2021-04-29 17:57] jodafm commented on #308
@cto-leaps do you find a solution?
I don't know where to put the apiName.

[2021-04-29 18:16] infernal008 commented on #534
@dgagnon Oh my! Didn't realize that's what it's for. Thanks for that!

So I've done your instructions, having API Key as default and added Cognito User Pool through the CLI, and have even pushed the update. With this, API Key is visible in the amplifyconfiguration file but no reference to a Cognito User Pool (which is the case if it is set as the default).

Here is part of the config having API Ke

[2021-04-29 18:41] dgagnon commented on #534
@infernal008  try updating the auth plugin next and made sure to have guest and admin api enabled.

[2021-04-29 18:55] infernal008 commented on #534
@dgagnon, I have imported both my User and Identity Pools and was told that `Updating of imported Auth resources is not supported`. Unauthenticated identities is enabled though, is it the same with what you are talking about? If not, I would just create new pools instead.

[2021-04-29 18:58] dgagnon commented on #534
@infernal008 I could never get it working right with an imported pool.  I gave up and created new ones.  That solved a lot of my issues.  I recommend trying it.  There are many options and some will be incompatible with what the API/Datastore wants but it won't tell you.  If it doesn't work, try different settings.  Paste your choices here if it is giving you trouble and I will try to help you out

[2021-04-29 20:05] infernal008 commented on #534
Hello @dgagnon, thank you so much for your patience and time in helping me out. Apologies for taking a little time to respond as I am  working on your suggestions first so that I have the results, and then some more, when I get back here.

So it took a while but here's what I've done and my observations:
- Updated API (with **API Key as default and added Cognito**) and created new Auth - works as-

[2021-04-29 20:08] dgagnon commented on #534
@infernal008 you are welcome.  I think it may just be an order of operation thing.  Delete everything, start fresh.  create the auth, then create the api.

[2021-04-29 20:22] infernal008 commented on #534
@dgagnon, thanks again! I'll do that and will share my findings once I am done.

Just to confirm, I should still have the API Key as default and just put Cognito User Pools as additional auth type right?

Also, should I expect to see both API Key and Cognito User Pools in amplifyconfiguration.dart under `api->plugins->awsAPIPlugin->{API}` and `auth->plugins->awsCognitoAuthPlugin->AppSync`? Those a

[2021-04-29 22:41] thomasaab commented on #546
**UPDATE**

I discovered that to replicate the error you have to do the following:

1.  Login with social: `await Amplify.Auth.signInWithWebUI (provider: AuthProvider.apple)`
2.  logout: `await Amplify.Auth.signOut ();`
3. Login with email and pw: `await Amplify.Auth.signIn (username: email.trim (), password: password.trim (),)`
4. logout:  `await Amplify.Auth.signOut ();`
5. Login with email and

[2021-04-30 01:02] infernal008 commented on #534
Hello @dgagnon, I have been working on updating my API as we have discussed with not much success with reflecting the changes until I have come across this discussion [here](https://github.com/aws-amplify/amplify-cli/issues/4736#issuecomment-653248446). Turns out, it was a very embarrasing user error on my part :facepalm:.  Your guess is right regarding my selection when I am configuring or updati

[2021-04-30 07:22] jukakoski commented on #297
I struggled two days with sync problems and tried all the tricks from these issue threads. Sync was working as expected when using Datastore API with clients, but external mutation using Appsync console didn't trigg the update on client side.
I had also the _version field in my mutation query as said in documentation, but it didn't help.  https://docs.amplify.aws/lib/datastore/how-it-works/q/platf

[2021-04-30 07:39] samuelchanx commented on #432
Same problem

[2021-04-30 16:01] jodafm opened #547 "API (GraphQL) - Support multiple auth modes"
**Describe the bug**
amplify-flutter is not supporting multiple auth modes because the **amplify_api package** is not receiving neither propagating a parameter called "apiName".

**apiName** is used by the amplify-ios/amplify-flutter to infer which api to use.

If we configure multiple auth modes in **amplifyconfiguration.dart**, all the api operations failed returning this error:

**More than one

[2021-04-30 19:18] offlineprogrammer commented on #87
Hey @mattRiddoch . Sorry for the late reply.

I tested in iOS, and Android and I couldn't reproduce the issue

Feel free to test using the latest build and let us know if you got any issues

Thanks

[2021-04-30 20:05] shafersystems commented on #234
+1

[2021-05-01 02:27] infernal008 commented on #245
This is exactly what I am struggling on right now. In my case, I am using datastore as a local database with an option to sync its content whenever the user signed in. However, whenever my app runs without a signed-in user, I get the same exception thrown multiple times for multitple API Sync attempts until my app would crash.

It would be ideal to be able to start and stop syncing manually or at

[2021-05-01 07:48] FiercestT opened #549 "Auth always giving "Incorrect Username or Password" error"
Recently started using Amplify and implemented Auth on 2 brand new projects. Experiencing the following issue on both.

Issue:
Auth.signIn(...) will always return the following with a newly created and verified account:
```AuthException{message=Sign in failed, cause=com.amazonaws.services.cognitoidentityprovider.model.NotAuthorizedException: Incorrect username or password. (Service: AmazonCognitoI

[2021-05-01 14:34] haverchuck commented on #549
@FiercestT did you create your Cognito instance with the Amplify CLI?

[2021-05-01 18:13] FiercestT commented on #549
Yes, followed the Auth guide from the docs twice now. The user is in the cognito user pool and reports as email verified/confirmed.

[2021-05-01 22:18] infernal008 commented on #534
An update. Here's what I've done so far:

- re-initialized my whole Amplify Stack: Auth and API
- provisioned all resources through `amplify push`

Even after doing those, I'm still having problems until I've read another issue with a solution that I've thought to check:

- `amplify update api`
- `Enable DataStore for entire API`

And after which, everything seems to work now, no crashing and no e

[2021-05-01 22:55] infernal008 commented on #534
Okay, so I realized that with what I've done so far didn't much help with my app crashing:

- re-initializing Amplify Stack: Auth and API
- provisioning new stack with `amplify push`
- `Enable DataStore for entire API` (this is what I've done most recently thinking it may have solved my problem during testing, but it does not) (I realized this was disabled, perhaps during reinitialization)

With m

[2021-05-02 05:51] jperezr21 commented on #234
+1

[2021-05-02 14:26] maxim-saplin commented on #435
Thanks for the effort taken to migrate to null-safety! Looking forward to pub.dev updaes, will be trying Amplify as soon as null-safe versions are rolled out.

[2021-05-02 19:14] chris opened #550 "fetchAuthSession throws when no logged in user?"
**Describe the bug**
When my app launches, I call `fetchAuthSession` to get any auth session. This may not be the right approach (so please let me know if there's a better way). My desire is that, if there's a logged in user, I'd get an auth session and the `isSignedIn` field would be true. My thought was if there is no logged in user, then `isSignedIn` would be false. But, instead it seems to thr

[2021-05-03 03:45] kkeshav93 opened #551 "Platform Exception when trying to signup a user"
I am trying to sign up a user using a simple code where I have hardcoded the email and password as well. the code looks as following:

`Future<String> _onSignup(BuildContext context) async {
    try {
      await Amplify.Auth.signUp(
          username: 'username@gmail.com',
          password: '1234567890',
          options: CognitoSignUpOptions(
              userAttributes: {'email': 'username

[2021-05-03 09:07] blattr opened #552 "Is it possible to alter the path prefix and download whatever I want from S3?"
**Describe the bug**
I am using a lambda backend to generate (and track) new file ids and upload the objects to S3 via a presigned url. The S3 key looks something like "users/{identityId}/images/{fileId}". This works perfectly finde with using plain http.

[code]

When I try to download this object, the Amplify Storage plugin adds a path prefix which causes my key to look like "**public**/users/{i

[2021-05-03 16:26] haverchuck commented on #551
@kkeshav93 Which version of amplify-flutter are you using?

[2021-05-03 16:29] kkeshav93 commented on #551
Flutter 2.0

[2021-05-03 16:44] haverchuck commented on #551
@kkeshav93 Specifically, I meant to ask which version of the `amplify_auth_cognito plugin` and `amplify_flutter` packages?

[2021-05-03 16:48] kkeshav93 commented on #551
amplify_flutter: '<1.0.0'
  amplify_analytics_pinpoint: '<1.0.0'
  amplify_auth_cognito: '<1.0.0'

I added the above once to pubsec.yaml. So they always try to get the latest.

[2021-05-03 17:44] haverchuck commented on #530
@fotiDim Are you still wanting to avoid the native sign-in dialog when you signIn?

[2021-05-03 18:56] infernal008 commented on #534
Hello @Ashish-Nanda, I'd like to ask if there is a performance issue/limitation on _DataStore with enabled API_ for multiple consecutive CRUD operations and syncing?

In relation to my concern on this filing, I have stripped my code down to a block that performs multiple consecutive read and write operations on my DataStore when I am initializing my app. Below are my scenarios and observations.

-

[2021-05-03 23:00] offlineprogrammer commented on #166
Hey @rubana28  & @monishkumar-sivakumar

Sorry for the late reply.

I tested on iOS, and Android and I couldn't reproduce the issue

Please check our example app ([here](https://github.com/aws-amplify/amplify-flutter/tree/master/example)) for a working file upload function

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-05-03 23:06] spscally commented on #234
+1

[2021-05-03 23:43] ranvirm commented on #234
+1

[2021-05-04 04:23] borainceler commented on #234
+1

[2021-05-04 08:14] fdarsot commented on #418
My team and i still need a solution to this. Any progress/updates/help? @haverchuck @Amplifiyer @fjnoyp

[2021-05-04 08:25] fdarsot opened #554 "How to update user attributes for Auth Cognito"
I have some custom attributes set up for a user when a user signs up, how do i update those custom attributes when i want?

i dont see a function for this.

[2021-05-04 08:28] Ashish-Nanda commented on #418
@fdarsot Thanks for your patience. We will discuss your use-case among the team this week and let you know if this can be achieved once we support `globalSignOut()` or if there is a potential workaround you can use right now. Will update this thread once we have more details.

[2021-05-04 11:28] Ashish-Nanda commented on #554
Hi @fdarsot the `updateUserAttribute()` API that you are looking for, along with other user attribute related APIs have been implemented as part of PR https://github.com/aws-amplify/amplify-flutter/pull/533. The PR is currently under review and should be available soon in the next release.

[2021-05-04 12:15] smerchermek commented on #416
I have the same problem when trying to access an existing bucket, Amplify.Storage.list () returns an empty list.
The configuration is good, I can access the list of my objects in my bucket from the command line

[2021-05-04 12:59] masterlonghorn opened #555 "Support for S3 Cross Region Replication"
Are we able to use S3 Cross Region Replication with flutter amplify projects?

Let's say my primary bucket is in US and I want full replicas in EU and maybe one in Asia. Even if the buckets have same name (I am assuming this is possible, comment if otherwise) how can we target the closest bucket region based on user location?

Would be if the files are only uploaded to the bucket closest to user a

[2021-05-04 13:10] blattr commented on #234
+1

[2021-05-04 15:25] smerchermek commented on #416
I have the same problem while accessing the objects in my bucket, I can only access objects inside "public" folder.
Amplify is well configured and I have access to my bucket using Command Line

[2021-05-04 16:26] borainceler commented on #467
I guess no one is using amplify for flutter, I am trying for a week now and I came across 50 different problems, I guess amplify is not really tested.

Anyway, I have the exact same problem, new project, new setup, and it throws the same error when trying to sync with dynamoDB but LOCAL_ONLY work.

might this sync issue be related to some issue with the Orchestrator Lambda? maybe the role assignme

[2021-05-04 17:41] borainceler commented on #441
any updates on the issue?

[2021-05-04 17:48] dsanvita commented on #402
I fixed a similar issue with a small code change: https://github.com/aws-amplify/amplify-ios/pull/1137#pullrequestreview-651502617

[2021-05-04 19:06] #493 closed

[2021-05-04 19:58] fdarsot commented on #418
@Ashish-Nanda Thank you for the reply! much appreciated!

[2021-05-04 19:58] fdarsot commented on #554
thats perfect! thank you guys!

[2021-05-05 00:09] haverchuck commented on #530
https://github.com/aws-amplify/amplify-ios/issues/1204

[2021-05-05 00:10] haverchuck commented on #530
#https://github.com/aws-amplify/amplify-ios/issues/1204

[2021-05-05 08:06] BesavedTech commented on #435
When will these be rolling out?

[2021-05-05 08:31] fotiDim commented on #530
@haverchuck yes, nothing changed on our side.

[2021-05-05 09:54] Ashish-Nanda commented on #467
@borainceler I'm sorry to hear that, this is not the experience we aim for when using Amplify.

Could you please share your schema and more details about your project setup for us to be able to better understand the possible root cause and reproduce the issue?

Also, when you say the `amplify built-in wizard` is that referring to the Admin UI?

Additionally I just wanted to let you know we are cur

[2021-05-05 11:49] donpaul120 opened #556 "Face/Image Detection+Analysis"
With the current version please how possible is it to integrate aws-rekognition? is it possible using the REST, if so can you please point me towards the right direction.

[2021-05-05 15:30] being-yash-t commented on #432
Any solution??

[2021-05-05 16:02] LostJ3ster opened #557 "Custom prefix instead of folders namespaced by AccessLevel"
**Describe the bug**
When trying to upload Content to our Bucket, we are only able to upload to a folder named "public".
For our usecase (because we're switching packages in order to achive Null-Safety in the near future), we need to upload to another - custom named folder.

**To Reproduce**
Steps to reproduce the behavior:

    S3UploadFileOptions options = S3UploadFileOptions(
      accessLevel:

[2021-05-05 17:12] offlineprogrammer commented on #352
Hey @eroamba

Please check our example app ([here](https://github.com/aws-amplify/amplify-flutter/tree/master/example)) for a working file upload function

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-05-05 19:36] offlineprogrammer commented on #377
Hi @NimaSoroush & @eroamba

I tested this on Android (Pixel 3 XL phone) and couldn't reproduce it ... below is my code

[code]

I am using the following on pubspec.yaml

[code]

Please check our example app ([here](https://github.com/aws-amplify/amplify-flutter/tree/master/example)) for a working file upload function

Feel free to test using the latest build and let us know if you got any issues

[2021-05-05 20:08] kkeshav93 commented on #551
4.50.2

[2021-05-05 22:02] NimaSoroush commented on #377
This has been resolved for me using newer version of packages. Thanks @offlineprogrammer

[2021-05-06 04:58] anthonymoretti opened #558 "Nullable connection fields prevent items from syncing to the cloud"
**Describe the bug**
If nullable connection fields are present then some items save to DataStore but don't sync to the cloud.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following schema:
[code]
2. Save a `Person`, then save a `Board` with the `Person` as its chair:
[code]
3. Query DataStore and see that the items have saved locally:
[code]
4. Check the tables in the AppSync cons

[2021-05-06 08:24] smerchermek opened #559 "Amplify Storage List returns empty list"
Amplify.Storage.list() returns empty list when used with existing buckets.
I have a problem while accessing the objects in my bucket, I can only access objects inside a folder named "Public".

[2021-05-06 10:05] Bobby9292 opened #560 "CognitoConfirmSignOptions metadata not registered"
I have a cognito user pool that is configured to send an email to the user upon creation with a random password, the user needs to create a new password upon first login and also input some optional user attributes ('name 'and 'family_name').
So I use Amplify.Auth.confirmSignIn method with the new password as the confirmationValue and I pass in the userAttributes using the CognitoConfirmSignInOpti

[2021-05-06 13:16] riyan-datalyca opened #561 "Exception Handling in Flutter Amplify Cognito."
**Describe the bug**
When there is any Exception occured in the function call on Amplify.Auth.***() the Exception always jumps to AuthException. How will I be able to catch the Exception present in the Error Code?

**To Reproduce**
[code]
**Error Code**
[code]

**Expected behavior**
If the Code is wrong or expired it must be caught in CodeMismatchException  or CodeExpiredException  handler.

**Pla

[2021-05-06 13:21] riyan-datalyca commented on #550
I use `Amplify.Auth.getCurrentUser()` function. If there is a Current User Signed In it will return the user-id and user-name, else Signed Out error.

[2021-05-06 13:35] riyan-datalyca commented on #561
The LimitExceededException can be caught since it throws the Exception.
[code]

[2021-05-06 20:59] fjnoyp commented on #556
Hi @donpaul120 you can follow the integration instructions here: https://docs.aws.amazon.com/rekognition/latest/dg/getting-started.html.  I'm not so familiar with the documentation but it appears to give a general overview of what can be done and how to do it.

This documentation here seems more recent:
https://docs.aws.amazon.com/rekognition/latest/dg/rekognition-dg.pdf

If you look at the Table

[2021-05-06 21:05] fjnoyp commented on #558
Hey @anthonymoretti at the moment we don't support indexing your data with keys (https://docs.amplify.aws/cli/graphql-transformer/key) so your usage of @key(name: ..., fields: ....) could be leading to unexpected behavior.

We are planning on adding this feature in once the Amplify native Android and iOS libraries which we build upon support this feature!  We can keep you informed of our progress

[2021-05-06 21:14] fjnoyp commented on #561
Hi @riyan-datalyca looking at your error code it seems that the password provided did not have a `length greater than or equal to 6`.  Because this password input didn't satisfy the base constraint you got the `InvalidParameterException`.  Have you tried providing password input of length > 6 - in that case did you get the CodeException instead?

[2021-05-06 22:46] anthonymoretti commented on #558
Hi @fjnoyp I thought using `keyName` was the recommended way of doing connections, should I be using named connections instead? If I save other fields of `Board` it still doesn't sync to cloud, I'll see if I can get some logs.

[2021-05-06 23:03] anthonymoretti commented on #558
@fjnoyp Does this logging help? I wasn't sure if there were any sensitive fields so I removed several, if you need any that I removed let me know.

[code]

[2021-05-07 01:24] haverchuck commented on #560
@Bobby9292 It sounds like you are describing Cognito Lambda Trigger functionality.  Have you written code in the lambda trigger to update the user record with these attributes (I'm not 100% sure if that's actually possible)?  If so, you might want to try updating the lambda trigger code with a log to see if you can observe the data you're passing in getting written to cloudwatch.  Is there any rea

[2021-05-07 02:31] riyan-datalyca commented on #561
Hello @fjnoyp , I had removed the password validation to check Exception Handling. I'm able to catch `LimitExceededException` but unable to catch other errors. My primary goal is to handle errors with Exception Handling. Thank you for the response.

[2021-05-07 04:35] Bobby9292 commented on #560
Hey @haverchuck

Thanks for you reply and no I don't think it comes from Cognito Lambda Trigger functionality, I left that part to default and when I checked on Cognito all the triggers were set to "none".

So yes, I didn't explain very well the steps I use to create a user. For now we are in development phase so I create the accounts manually on the cognito web console. Ultimately the policies wi

[2021-05-07 15:39] haverchuck commented on #560
@Bobby9292 I think what you will want to use for this use case are the[ updateAttribute APIs](https://github.com/aws-amplify/amplify-flutter/pull/533), which we are working on right now.

[2021-05-07 21:10] Zecento commented on #234
+1 for web support, seriously it would be so nice

[2021-05-07 23:38] fjnoyp commented on #558
Thanks for sharing the logs @anthonymoretti

This errors section looks interesting:

"CustomTemplateException(message=One or more parameter values were invalid: Type mismatch for Index Key secretaryId Expected: S Actual: NULL IndexName: bySecretary (Service: DynamoDb, Status Code: 400, Request ID: ----, Extended Request ID: null), errorType=DynamoDB:DynamoDbException, data=null, errorInfo=null)"

[2021-05-08 07:05] shajedulislam opened #562 "Unhandled Exception: SignedOutException(message: There is no user signed in to retreive user sub, recoverySuggestion: Call Auth.signIn to sign in a user and then call Auth.fetchSession, underlyingException: null)"
[code]

The above code works fine in emulators but giving this error in real device.
Note: All packages are updated

[2021-05-08 12:06] fjnoyp commented on #555
Hi @masterlonghorn, yes you are able to use S3 Cross Region Replication as it can be configured using the Amazon S3 console.  https://docs.aws.amazon.com/AmazonS3/latest/userguide/replication-example-walkthroughs.html

It seems you can configure replication use filters and rules to achieve that effect based on the above example.

[2021-05-08 14:44] anthonymoretti commented on #558
@fjnoyp Yes I have and it syncs and that's what I'm doing for a workaround at the moment - I create a dummy Person and use it whenever the value should be null, but ideally I'd like to use nullable connections.

[2021-05-08 22:32] fjnoyp commented on #558
@anthonymoretti right thanks for reiterating that.

Your fields in Person appear to be required (!), could you try removing the ! and regenerating the codegen models?

type Person @model {
  id: ID!
  chairOf: [Board!] <-- remove !
    @connection(keyName: "byChair", fields: ["id"])
  treasurerOf: [Board!] <-- remove !
    @connection(keyName: "byTreasurer", fields: ["id"])
  secretaryOf: [Board!]

[2021-05-08 22:34] fjnoyp commented on #562
Hi @shajedulislam could you provide more context on what you have done?

What platform emulator was it working on?  What code and user workflow did you do?  What physical device are you testing on?

[2021-05-08 23:46] fjnoyp commented on #525
Hi @fotiDim

What attempts have you made and what was the resulting behavior / error message?

Have you tried enabling binary support to allow JPEG file types to be received by the API Gateway?
https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-content-encodings-examples-image-s3.html#api-gateway-content-encodings-example-upload-image-to-s3

Furthermore, have you considered u

[2021-05-09 00:29] A-Kurimoto commented on #471
I could avoid this error.

As @alokjkumar says, it's a way to add headers directly, but I was able to get it to work on iOS by customizing the identity source with the Cognito authorizer instead of Authorization.

<img width="414" alt="スクリーンショット 2021-05-09 9 24 19" src="https://user-images.githubusercontent.com/19422621/117556866-65921980-b0a8-11eb-880a-59810bbbf170.png">

[code]

However, request

[2021-05-09 10:34] BesavedTech commented on #467
@Ashish-Nanda I am having same issue, been three days debugging and trying out other ways to fix this. Everything works fine, schema has uploaded to dynamo, local storage works, datastore and API is enabled and pushing works with no errors. But once you add the api to sync online. it just says

`E/amplify:aws-datastore( 7366): Failure encountered while attempting to start API sync.
E/amplify:aws-d

[2021-05-09 14:49] shajedulislam commented on #562
@fjnoyp

I am using this function to check if the user logged in or not

after trying different ways I found that, I get this error when running in debugging mode what ever the device is. Running in release mode is ok.

[2021-05-09 15:08] flutteresbolivia opened #563 "Hub auth events not emit"
**Describe the bug**
When the loggin or logout, the amplify_auth_cognito events not emit o don't work.

use versions:
amplify_flutter: '0.1.4'
amplify_auth_cognito: '0.1.4'
amplify_storage_s3: '0.1.4'

flutter 2.0.3

[2021-05-09 15:15] BesavedTech opened #564 "Null Safety Example"
The example folder of the null safety master version, has not been migrated to null safety versions of the plugins.

[2021-05-09 16:33] LijaAlex12 opened #565 "flutter and aws lex bot integration"
Is it possible to integrate aws lex bot with flutter app.

[2021-05-09 23:09] martincalvert opened #566 "Auth.signInWithWebUI on iOS 14.5 causes app sigterm"
**Describe the bug**
After updating the iOS simulator to 14.5, the Auth.signInWithWebUI call causes the app to crash with no exceptions or logs, but the debug console says "Lost connection to device." and the "Exited (sigterm)". The thing I noticed is the dialog to ask about opening a URL is not showing up in 14.5 but shows up in 14.4

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a l

[2021-05-10 02:32] Bobby9292 commented on #560
Thanks @haverchuck ! I will have a look. I'm guessing that it should fix the issue so I will close this ticket for now.

Thank you again for the support!

[2021-05-10 02:32] #560 closed

[2021-05-10 02:54] abelsantiagocortes commented on #467
Same error tried everything and followed every tutorial. AWS datastore does not seem to be syncing with the API.

[2021-05-10 10:34] fotiDim commented on #525
I do not remember the exact things we tried as long time has passed. I remember there was no obvious way to set a binary object or a multipart request. We have a working example using the http package which is the code that I posted above. We are basically looking for the equivalent code.

Since the code that uses the http package works I don’t think it is an issue with the gateway.

We are aware

[2021-05-10 18:34] Ashish-Nanda commented on #467
@BesavedTech @abelsantiagocortes
Are you seeing this issue on both iOS and Android?
Could you share your schema and if you are using the `@auth` directive?

Also do take a look at the suggestions in this comment to see if it helps resolve the issue https://github.com/aws-amplify/amplify-flutter/issues/279#issuecomment-756409618

If not we'll try to reproduce the behavior based on the answers to th

[2021-05-10 20:38] rajd90 commented on #463
I'm getting an error that seems to be the same. When trying to save to the datastore (for the first time), it throws a nullpointer error. Was there a fix/suggestion for this issue?

[2021-05-12 01:58] sgehrman opened #572 "Too confusing, I just need s3"
--

[2021-05-12 02:18] FiercestT commented on #549
Aha!

Issue Resolved

Turns out I need to pass the client metadata map as a SignIn option using the same keys that were employed for user signup.

Unfortunately, I was mislead to think it was an issue with the User Pool as the error code said it was the username or password which was incorrect rather than the metadata which was missing from the SignIn method.

Solution Code
[code]

[2021-05-12 02:30] sgehrman commented on #133
Amplify is useless without desktop support.

[2021-05-12 03:32] gnsslrrcs opened #573 "Local data store not syncing with cloud"
Flutter datastore not updating data to cloud even after adding Amplify_API plugin.

**Expected behavior**
After adding Amplify_API plugin, the data from local datastore will sync with cloud.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[-] Android
[-] iOS

[2021-05-12 04:14] #573 closed

[2021-05-12 07:22] fdarsot commented on #418
hi @Ashish-Nanda sorry to bother, but any updates?

[2021-05-12 10:15] rhinozD opened #574 "Support for TOTP(Time-based One-time Password)"
Hi,
In the future, we want to implement an app with a "Sign-in with custom auth challenges" feature.
Like this: https://docs.amplify.aws/lib/auth/mfa/q/platform/js#sign-in-with-custom-auth-challenges

But now we just want to use setup TOTP.
Like JavaScript Library: https://docs.amplify.aws/lib/auth/mfa/q/platform/js#setup-totp

does amplify-flutter support Setup TOTP?
if it does, please show me ho

[2021-05-12 11:39] fjnoyp commented on #564
HI @BesavedTech thanks for pointing that out.  We are in the process of migrating to null safety but have not released anything publicly yet.  The example folder is not migrated yet because the plugins it relies on: Storage/Analytics have not been migrated to null safety.  We are working on that now:

Analytics : https://github.com/aws-amplify/amplify-flutter/pull/483
Storage: https://github.com/a

[2021-05-12 13:15] shajedulislam commented on #562
Problem is solved.
To get AWSCredentials using the function  Amplify.Auth.fetchAuthSession() We have to first do:

`CognitoAuthSession cognitoAuthSession = await Amplify.Auth.fetchAuthSession();`

After that we have to do:

[code]

So on first call we can not get AWSCredentials in fetchAuthSession() function. It gives error. But works well calling fetchAuthSession function again 2nd time with AWSC

[2021-05-12 13:16] #562 closed

[2021-05-12 13:33] shajedulislam opened #575 "Can not pass data in ConfirmSignUpOptions()"
[code]

I need to pass clientMetada here but can not pass data in confirm signup option. Like,

[code]

 It says,
### Abstract classes can't be instantiated. Try creating an instance of a concrete subtype

Any solution?

[2021-05-12 15:45] fjnoyp commented on #565
Hi @LijaAlex12 currently there is no direct SDK support for AWS Lex Bot in Amplify Flutter.

However, you can use an API to communicate with Lex: \
https://docs.aws.amazon.com/lexv2/latest/dg/API_Reference.html

In which case you should be able to use our Flutter Rest API plugin to help make those requests: \
https://docs.amplify.aws/lib/restapi/getting-started/q/platform/flutter

[2021-05-12 20:05] mshareski commented on #234
+1. Please, please!

[2021-05-12 21:06] offlineprogrammer commented on #359
Hi @seanbrhn3 @rmargolinross @cto-leaps @mprogers @BoshiLee

I couldn't reproduce this issue using Flutter 2.0.5. I didn't need the post_install workaround. The only pod file change I needed is to set the platform to 13

My setup details

[code]

podfile

[code]

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-05-13 04:39] anthonymoretti commented on #558
@fjnoyp I just tried the changes you suggested but the same thing happens. Both Person and Board save locally but only Person syncs to the cloud.

This is the schema I used:
[code]

[2021-05-13 13:19] rhinozD opened #576 "Need exactly the same completeNewPassword function as the JavaScript Library"
Hi,
Our case is similar to the one below:

https://github.com/aws-amplify/amplify-flutter/issues/560#issuecomment-834057529

but our attribute is `phone_number`.  Furthermore, we use `SMS_MFA_CODE` so the `phone_number` attribute must be set before login.
As your comment in the issue above, you are adding the `updateUserAtributes` function. Does it have to be done after login or not? If that's the

[2021-05-13 16:59] cto-leaps opened #577 "Basic AuthException thrown instead of UserNotConfirmedException on Signin"
**Describe the bug**
I'm trying to catch an unconfirmed user upon Signing in.
I do get an AuthException (message: User is not confirmed), but not the expected UserNotConfirmedException.
So it's making it hard for me to redirect to the Code Verification screen when needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account but don't proceed to the Code entry
2. Restart App, try

[2021-05-14 08:59] BesavedTech opened #578 "Error with codegen and models preventing API sync"
When I use your example for many to many relationships in datastore with this schema
[](https://docs.amplify.aws/lib/datastore/relational/q/platform/flutter#many-to-many)

`type Post @model @auth(rules: [{allow: public}]) {
  id: ID!
  title: String!
  rating: Int
  status: PostStatus
  editors: [PostEditor] @connection(keyName: "byPost", fields: ["id"])
}

type PostEditor @model(queries: null) @k

[2021-05-14 11:47] rhinozD commented on #576
Is there any update?
Will it be resolved in the near future?

[2021-05-14 16:44] martinzuccotti opened #579 "Error in TemporalDateTime fromJson parser"
**Describe the bug**
The parser has an error in the logic for the decimal part. When it is applied to a datetime with precision less than one second, the result obtained is wrong.

**To Reproduce**
Try to parse any iso8601String with decimal part (less than 9 digits) included and compare it with the result.

**Details**
The related test is this
[code]
It's ok, but it isn't complete. Only works wit

[2021-05-14 17:42] martinzuccotti commented on #579
A possible solution is using the padRigh function in the line 102 of packages/amplify_datastore_plugin_interface/lib/src/types/temporal/temporal_datetime.dart

It would look like this

[code]

[2021-05-14 22:30] ragingsquirrel3 commented on #577
I had a quick look at this and was able to reproduce on iPhone. Android seems to throw `UserNotConfirmedException`. I will continue investigating.

[2021-05-14 23:46] haverchuck commented on #576
@rhinozD What exactly is the use case that is not satisfied?  Are you unable to login as a user who is in the 'FORCE_CHANGE_PASSWORD' state?  If so, you can use the confirmSignIn API to pass in the new password.  If this is not the problem you are having, can you lay out the specific API that is not working?

[2021-05-15 01:03] gnsslrrcs opened #580 "Link existing user account in a user pool to an identity from an external identity provider"
Do we have existing solution for this feature of cognito?
https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminLinkProviderForUser.html

I really need this in linking accounts. Thank you.

[2021-05-15 03:55] rhinozD commented on #576
@haverchuck
Thanks for the reply.

I tried confirmSignIn method. It works fine except that I want to add the `phone_number` attribute too.
Like this:
[code]
As I said above,
since I set SMS MFA as required the flow will be like this:
`confirmSignIn → receive SMS text with OTP code → go to SMS OTP input screen → home Page`
so I need to set the `phone_number` attribute when doing confirmSignIn - Wha

[2021-05-15 10:15] rajd90 commented on #298
i really need this feature as well. selective sync is critical for performance & cost reasons, as we really need to avoid doing scans and use query (as indicated in the many dynamodb best practice examples). is it already possible and just not documented?

[2021-05-15 11:08] cto-leaps commented on #577
Thanks @ragingsquirrel3 !
Much appreciated!

[2021-05-15 15:33] CamronLDNF commented on #432
Same here

[2021-05-15 19:07] masterlonghorn commented on #555
Thanks fo the reply @fjnoyp. If I have buckets in multiple regions, how do I read from the closest bucket to the user in my flutter app?

[2021-05-15 23:27] #551 closed

[2021-05-15 23:38] kkeshav93 opened #581 "isSignUpComplete returns True in android even if the user has not been confirmed. In iOS it doesn't."
**Describe the bug**
While using Amplify.Auth.signUp it requires that the user is verified with the code sent to the email before the user can be CONFIRMED in the userpool.
To check if a user is confirmed one way is to check if the signup is complete. Amplify provides .isSignUpComplete. But this is behaving different in different environments.
Android:
Even before the user is confirmed it returns

[2021-05-17 15:16] smerchermek commented on #557
I've the same problem, did you find any solution please ? Thanks

[2021-05-17 15:22] Jordan-Nelson commented on #563
Hi @flutteresbolivia - Thanks for opening the issue. Can you please fill out the remaining portions of the issue template so that I can try to reproduce this issue? The steps to reproduce, platform (iOS or Android), and output of `flutter doctor -v` would be helpful. Thank you.

[2021-05-17 15:39] dospringer commented on #557
@smerchermek The only way I see in the moment is to create a script with AWS Lambda, to transfer the uploaded files in the correct location.  I don't like this "solution", but I think it is the best solutions in the moment, without making breaking changes in a live system.

[2021-05-17 15:45] Jordan-Nelson commented on #561
I believe #533 will fix this (will be included in the next release). We added mappings for `InvalidParameterException`, `ExpiredCodeException`, `CodeMismatchException`,  and `CodeDeliveryFailureException` from cognito. A mapping for `LimitExceededException` was added in #522 (released in 0.1.3). The last exception included in the steps to reproduce is `UserNotFoundException`, which should already

[2021-05-17 16:07] riyan-datalyca commented on #561
@Jordan-Nelson Thank you for the response. This is great, I will be waiting for the fixed release. The `UserNotFoundException` works as expected. There is no issue with the it.

[2021-05-17 18:33] haverchuck commented on #544
@jcowley We have merged and released your pull requests! Thanks so much!

[2021-05-17 19:07] Jordan-Nelson commented on #561
@riyan-datalyca version 0.1.5 is now available and has the fix mentioned above. I am going to close this issue, but let us know if that does not address the issue as expected.

[2021-05-17 19:07] #561 closed

[2021-05-17 19:24] haverchuck commented on #554
@fdarsot [These APIs](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#fetch-the-current-users-attributes) have been updated in amplify-flutter v0.1.5.

[2021-05-17 19:24] #554 closed

[2021-05-17 19:25] Jordan-Nelson commented on #487
Hi @pavan613 - The APIs to update user attributes are now available in version 0.1.5. The [docs on user attributes](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#update-user-attribute) have been updated to include the new APIs. I am going to close out this ticket as I believe those APIs are what you are looking for.

[2021-05-17 19:25] #487 closed

[2021-05-17 19:40] Jordan-Nelson commented on #430
Hi @vishalkhedeker - The APIs to update user attributes are now available in version 0.1.5. The [docs on user attributes](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#update-user-attribute) have been updated to include the new APIs. I am going to close out this issue as I believe those APIs are what you are looking for.

[2021-05-17 19:40] #430 closed

[2021-05-17 19:44] Jordan-Nelson commented on #193
Hi @jcblancomartinez - I just wanted to provide an update that `updateUserAttribute` was added in 0.1.5. Support for updating multiple user attributes at once has not yet been added though so I will keep this issue open. [Here are the docs](https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#update-user-attribute) on the functionality added in 0.1.5.

[2021-05-17 19:47] fdarsot commented on #418
@Ashish-Nanda @offlineprogrammer

[2021-05-17 21:42] Jordan-Nelson commented on #566
Hi @martincalvert - I believe this is caused by a bug in the iOS SDK which was fixed a while back (see [relevant issue](https://github.com/aws-amplify/amplify-ios/issues/1086)). Your project likely still has the older version of the iOS SDK that does not have the fix. You can verify this by looking at what version of AWSAuthCore/AWSCore is listed in  `ios/Podfile.lock`. The fix was released in 2.2

[2021-05-18 11:12] riyan-datalyca opened #584 "Websocket listener received CONNECTION_ERROR"
**Describe the bug**
Websocket listener received CONNECTION_ERROR event. Caused when adding Data Resource in AppSync GraphQL API. Added custom schema.graphql schema and then created Data Source which link to the table in DynamoDB.

**To Reproduce**
Environment contained DataStore and then added GraphQL api.
1. Run command amplify add api - > GraphQL and custom configuration enabling the AutoMerge

[2021-05-18 16:16] HuiSF commented on #581
I could reproduce this difference between iOS and Android, will investigate.

[2021-05-18 17:10] #162 closed

[2021-05-18 18:20] AbeerISSP commented on #308
How is this looking?

[2021-05-18 18:30] HuiSF commented on #581
Dug into [`amplify-ios`](https://github.com/aws-amplify/amplify-ios) and [`amplify-android`](https://github.com/aws-amplify/amplify-android), this behavior should be intended according to the discussion [here](https://github.com/aws-amplify/amplify-android/issues/686#issuecomment-674927461) and [here](https://github.com/aws-amplify/amplify-ios/issues/760).

**iOS**
`isSignupComplete` is [determine

[2021-05-18 19:02] kkeshav93 commented on #581
Thanks that should be helpful. But I feel this **issue shouldnt be closed until we unify .isSignupComplete**. But thanks a lot for the alternative way of checking for if the account is confirmed or not. I will test it in my code today.

[2021-05-18 23:04] jcowley commented on #544
Thanks @haverchuck. Should have time to test it out later this week.

[2021-05-19 06:16] fafriat opened #585 "DataStore makes my app crashing at run on IOS"
When adding the DataStore plugin, the application is crashing at runtime (in IOS Simulator):

Launching lib/main.dart on iPhone 12 Pro Max in debug mode...
Running Xcode build...
Xcode build done.                                           12,8s
Debug service listening on ws://127.0.0.1:65508/HVt_gCraq6Q=/ws
Syncing files to device iPhone 12 Pro Max...
Lost connection to device.
I changed version (

[2021-05-19 06:33] riyan-datalyca commented on #584
Important Note: This error was caused due to the Expiration of the API KEY in AppSync GraphQL API. By changing the API KEY the Error got resolved. Please update accordingly and confirm if the issue and fix are accurate. Thank you.

[2021-05-19 08:34] PawlikMichal25 opened #587 "Generic AuthException is thrown when the device does not have chrome installed"
**Describe the bug**
The plugin uses CustomTabsManagerActivity which won't be available if Chrome is uninstalled on a device.

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall Chrome, you can do it on any Pixel device
2. Try calling `signInWithWebUI()`
4. ~~App will crash, happens every time~~ A generic AuthException is thrown

**Expected behavior**
~~At least nothing should happen i

[2021-05-19 08:55] cto-leaps commented on #308
@jodafm Nope. I had to turn the whole thing around and have a local Exercise DB installed with the app. Quite a nuisance and a waste of time, tbh.

[2021-05-19 11:44] yurijdvornyk commented on #435
Hi, any updates on this?

[2021-05-19 11:50] yurijdvornyk opened #588 "Upload in background"
How can I implement background upload in my Flutter app?
Let's say, I have 100 images (+2-3 videos) with the total size of ~500-700 Mb. When I start it on Android and then the app goes to the background, everything works fine, the upload process continues.

When, however, I do the same on iOS, it stops upload when the app goes to the background.
Are there any plans to implement background support?

[2021-05-19 11:50] #588 closed

[2021-05-19 15:42] haverchuck commented on #584
@riyan-datalyca Thanks for updating this issue.  This looks accurate.

[2021-05-19 15:42] #584 closed

[2021-05-19 17:23] haverchuck commented on #585
@fafriat Thanks for posting this issue.  Could you please clarify:
* Which version of amplify-flutter are you currently using?
* What do you mean by 'all version related changes'?

[2021-05-19 17:52] fafriat commented on #585
amplify -v
4.51.1

flutter --version
Flutter 2.2.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision b22742018b (5 days ago) • 2021-05-14 19:12:57 -0700
Engine • revision a9d88a4d18
Tools • Dart 2.13.0

I changed the Podfile:
platform :ios, '13.0'
...
post_install do |installer|
  installer.pods_project.targets.each do |target|
    flutter_additional_ios_build_settings

[2021-05-19 17:55] fafriat commented on #585
The problem disappear for me after I added :

`await Amplify.DataStore.clear();`

after the  Amplify.configure() call...

So it is certainly related to old/bad format data  from the  Appsync...

[2021-05-19 18:57] ragingsquirrel3 commented on #577
@cto-leaps thanks for bringing this to our attention. A fix has been merged to master and will go out with the next release.

[2021-05-19 20:33] HuiSF commented on #575
Hi @shajedulislam `ConfirmSignUpOptions` is an abstract class, initiating an abstract class causes the error you encountered.

The auth plugin provides a concrete subtype [`CognitoConfirmSignInOptions`](https://github.com/aws-amplify/amplify-flutter/blob/master/packages/amplify_auth_cognito/lib/src/CognitoSignIn/CognitoConfirmSignInOptions.dart#L18) of `ConfirmSignUpOptions`, we can use this class

[2021-05-19 21:30] haverchuck commented on #587
@BaranMichal25 Do you have a particular Android browser you would try to target instead of chrome?

[2021-05-19 22:03] HuiSF commented on #575
In addition, there might be a feature gap here that `confirmSignUp` doesn't properly work with `clientMetadata`, will continue investigating.

[2021-05-20 00:32] MohammedNoureldin commented on #425
This is sad that I keep checking open issues every week to check if the missing features I need are coming any soon for Flutter. This is of course one of them.

[2021-05-20 02:51] #572 closed

[2021-05-20 07:57] shajedulislam commented on #575
@HuiSF Thanks fro your response. Our web version already developed using client meta data and yes currently it only accepts validation data for flutter. We will try to manage using validation data but it would be better to bring it with client meta data also.

[2021-05-20 08:20] fieldinrain commented on #234
+1 for supporting Flutter Web
We are developing an application for ios and android with amplify flutter, and we are considering to support web in near feature.

[2021-05-20 11:56] sivakreddyc commented on #531
any work around. even i'm facing the same issue
When i try directly from AWS console API test it's successful, trying from flutter app it's showing this message

[2021-05-20 12:39] blattr commented on #531
This is a really nasty workaround but it works for me (atm). Please don't blame me - I know, it highly depends on the underlying error message :)

Basically, I try to extract the status code from the error message of the thrown APIException:
[code]

.... also, I am wrapping the HTTP result for the calling code in a vary basic way:

[code]

... putting all parts together looks like this:

[code]

I

[2021-05-20 17:48] Jordan-Nelson commented on #416
Hello @exampaqs - It sounds like what you are looking for is the ability to specify a custom prefix, instead of using the public/protected/private prefixes. This is not something that is currently supported. I will mark this as a feature request to track interest.

For reference, this has been requested for iOS and Android as well.
- iOS request: https://github.com/aws-amplify/amplify-ios/issues/9

[2021-05-20 18:11] Jordan-Nelson commented on #552
Hello @blattr - Thanks for taking the time to open the issue. The ability to specify a custom prefix is not currently supported. There have been a few separate issues for this. #416 is going to be used to track interest in this feature.

I'm going to mark this as a duplicate and close this issue out. Please provide any additional comments/questions on the other thread.

[2021-05-20 18:11] #552 closed

[2021-05-20 18:13] Jordan-Nelson commented on #557
Hello @LostJ3ster - Thanks for taking the time to open the issue. The ability to specify a custom prefix is not currently supported. There have been a few separate issues for this. #416 is going to be used to track interest in this feature.

I'm going to mark this as a duplicate and close this issue out. Please provide any additional comments/questions on the other thread.

[2021-05-20 18:13] #557 closed

[2021-05-20 18:15] Jordan-Nelson commented on #559
Hi @smerchermek - Thanks for taking the time to open the issue. It sounds like you are looking for the ability to specify a custom prefix (instead of the public/protected/private prefixes). This is not currently supported. There have been a few separate issues for this. #416 is going to be used to track interest in this feature.

I'm going to mark this as a duplicate and close this issue out. Plea

[2021-05-20 18:15] #559 closed

[2021-05-20 20:50] haverchuck commented on #576
Related to this [amplify-android issue](https://github.com/aws-amplify/amplify-android/issues/683).

[2021-05-20 21:15] Ashish-Nanda commented on #418
@fdarsot This week @haverchuck had a meeting with the Cognito team to discuss this and will update the thread with his findings.

[2021-05-20 22:21] haverchuck commented on #418
@fdarsot Cognito does not support anything like this out of the box. In order to support this, we can work on implementing globalSignout, so that you could simply call the method before signIng users in... but even this is a bit of a workaround and could lead to a weird user expireence if you are using Cognito Hosted UI.  The other option that you could look into is to implement your own store of

[2021-05-20 22:25] haverchuck commented on #576
@rhinozD We are working on this.

[2021-05-20 22:36] offlineprogrammer commented on #563
Hi @flutteresbolivia

I couldn't reproduce this issue using our sample app on iOS & Android.

My setup details

[code]

I subscribed to the hub events as below

[code]

And I can see the events on the logs

[code]

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-05-21 00:57] fdarsot commented on #418
Thank you @haverchuck @Ashish-Nanda  for the replies/updates.

I see. I guess in the mean time we can just forego this feature, however once that globalSignout is implemented my team and I will call globalSignout before signing users in.

when implementing this feature though,  i would suggest making it so you can pass in a user's email or UID as a parameter so you can directly call globalSignout

[2021-05-21 02:15] rhinozD commented on #576
@haverchuck Thank you for your reply.
When will this bug be fixed? We need to implement this in our app as soon as possible.

[2021-05-21 08:00] Aathi commented on #319
+1

[2021-05-21 09:02] lentzou commented on #319
+1000

[2021-05-21 12:37] sivakreddyc commented on #531
When i set the Authorization type to none it is working fine and setting authorization to IAM type is not working.

raised it is stack overflow: https://stackoverflow.com/questions/67636955/flutter-iam-authorisation-is-throwing-403-with-amplify-api-post-request

[2021-05-21 13:14] issakr commented on #234
same here. Anyone got a workaround for web support please ?

[2021-05-21 16:29] offlineprogrammer commented on #87
Hey @mattRiddoch

I am closing this issue for now as I didn't hear from you and I couldn't reproduce as per my comment above.
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:29] #87 closed

[2021-05-21 16:31] offlineprogrammer commented on #166
Hey @rubana28 & @monishkumar-sivakumar

I am closing this issue for now as I didn't hear from you and I couldn't reproduce as per my comment above.
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:31] #166 closed

[2021-05-21 16:35] offlineprogrammer commented on #352
Hey @eroamba

I am closing this issue for now as I didn't hear from
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:35] #352 closed

[2021-05-21 16:36] offlineprogrammer commented on #359
Hey @seanbrhn3 @rmargolinross @cto-leaps @mprogers @BoshiLee

I am closing this issue for now as I didn't hear from you and I couldn't reproduce as per my comment above.
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:36] #359 closed

[2021-05-21 16:38] offlineprogrammer commented on #377
Hey @NimaSoroush & @eroamba

I am closing this issue for now as I couldn't reproduce as per my comment above.
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:38] #377 closed

[2021-05-21 16:43] offlineprogrammer commented on #451
Hey @fayeed

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 16:43] #451 closed

[2021-05-21 17:19] offlineprogrammer commented on #402
Hey @tranminhhaifet

@dsanvita code change was approved and merged...
I am closing this issue for now as we didn't hear from you
Feel free to test using the latest build and let us know if you got any issues
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-05-21 17:19] #402 closed

[2021-05-21 17:34] offlineprogrammer commented on #377
Thanks for the confirmation @NimaSoroush

[2021-05-21 18:08] Jordan-Nelson commented on #515
Hi @agordeev - Thanks for taking the time to open the issue. I was able to reproduce this behavior on both iOS and Android. `SignedOutException` will be thrown on both platforms when calling `Amplify.Auth.getCurrentUser()` if the user is not signed in. This is is expected behavior. You cannot access the current user if there is no user that is signed in.

Is there a use case in which you need to a

[2021-05-21 18:43] Jordan-Nelson commented on #514
Hi @agordeev - Thanks for opening the issue.

I was not able to reproduce the exact behavior you have described. With the code in the issue description, I observe that a `SignedOutException` is thrown on both iOS and Android. This is due to `Amplify.Auth.getCurrentUser()` being invoked when there is no user currently logged in. This is expected behavior when there is no user logged in. Without `Am

[2021-05-21 19:44] Jordan-Nelson commented on #521
Hi @mjvirt - I am unable to reproduce this issue. Can you please remove the work around, confirm you are still experiencing this issue, and then provide the output of running `./gradlew app:dependencies` from the android directory of your project?

[2021-05-21 21:51] ragingsquirrel3 commented on #531
@blattr to answer your question: no, there is not currently a way to access HTTP status code on the response other than parsing the error message (sorry to put you through that). I was investigating a fix and it might be possible to add an `httpStatusCode` integer property to the `ApiException` class. It would be something like

[code]

Would that be helpful in this case?

[2021-05-21 22:15] ragingsquirrel3 commented on #531
@sivakreddyc if I understand correctly, your issue is not necessarily getting the http status code of some error, but that you are getting an error when accessing the API in this case and want to not have an error. Did you enable unauthenticated access to your API when configuring?

[2021-05-22 09:59] sivakreddyc commented on #531
@ragingsquirrel3
No only authenticated users can access, where as get request to another IAM auth enabled API is working fine

[2021-05-22 12:35] agordeev commented on #515
So signing up doesn't automatically signing in?

[2021-05-22 14:49] MohammedNoureldin commented on #425
@PRenouf have you managed somehow to use IoT in Flutter using Cognito authentication?

[2021-05-23 10:21] PRenouf commented on #425
@MohammedNoureldin I'm not sure what your question is. If you're wanting to set up Cognito authentication for an app user please check this tutorial: https://www.youtube.com/watch?v=x8xEkNCd3Vg&t=4s

[2021-05-23 11:38] MohammedNoureldin commented on #425
@PRenouf, thank you for your answer. I was not asking how to use Cognito itself, but how to use it to authenticate AWS IOT, but I already found some resources, but it is really a pain procedure, we need to do a lot of manual work to get that working.

[2021-05-24 05:22] sgehrman commented on #122
Doesn't seem to work for me.  Linux/Android simulator 0.1.5

PlatformException (PlatformException(AmplifyAlreadyConfiguredException, Translating platform exception failed. Please take a look at
https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
match your scenario, and file an issue with the details of the bug if there isn't., {recoverySuggestion: Do

[2021-05-24 14:04] Jordan-Nelson commented on #515
That is correct. After calling `Amplify.Auth.signUp()`, the user will be sent a code that can be used to confirm their account by calling `Amplify.Auth.confirmSignUp()`. Once the user's account has been confirmed, they can be signed in with `Amplify.Auth.signIn()`. The [documentation on authentication](https://docs.amplify.aws/lib/auth/signin/q/platform/flutter) has more detail on the authenticati

[2021-05-24 19:55] sgehrman opened #591 "Make a null-safety branch beta branch"
Waiting for null-safety.  Is there a beta branch?  It shouldn't take more than an hour to convert.

[2021-05-24 20:24] haverchuck commented on #591
@sgehrman There are some additional considerations we are working through - but we are planning on doing a tagged release of null safety as soon as we can.  Currently working on it.

[2021-05-25 05:01] blattr commented on #531
@ragingsquirrel3 IMO that would be the perfect solution :)

[2021-05-25 05:58] stsc3000 opened #593 "Migrate to amplify_auth_cognito with credentials present"
Hi!
Is it possible to "silently" initiate a user session given a valid `userId`, `accessToken`, `idToken` and `refreshToken`, possibly also for federated (apple) sign in?
We are exploring migrating to the official libs but do not necessarily want to prompt users to sign in again.

[2021-05-25 14:50] haverchuck commented on #593
We do not currently have this feature, but I'm marking this as a request to get it into the backlog.

[2021-05-25 15:22] Jordan-Nelson commented on #193
Noting that there is currently a bug with `updateUserAttributes` on Android that will probably require a fix prior to this being implemented in Flutter. The success callback is called multiple times, which results in a fatal exception from the flutter engine due to the success callback on the method channel being invoked multiple times. Issue for reference: https://github.com/aws-amplify/amplify-a

[2021-05-25 17:43] haverchuck commented on #576
@rhinozD This will require some changes to additional libraries outside of amplify-flutter. Those changes are being worked on right now.

[2021-05-25 22:48] carlomigueldy commented on #591
Good to know @haverchuck

Looking forward to that release

[2021-05-26 05:32] #515 closed

[2021-05-26 07:37] shajedulislam opened #594 "SessionExpiredException(message: Session expired could not fetch user sub, recoverySuggestion: Invoke Auth.signIn to re-authenticate the user, underlyingException: null)"
`CognitoAuthSession cognitoAuthSession = await Amplify.Auth.fetchAuthSession();`

I am using it to check if user signed in or not with the  help of `cognitoAuthSession.isSignedIn`

Previously I got this error mentioned in title on every devices but after new plugin update and also pod update, app is running well in ios emulators and also real ios devices. Release build also working fine for ios de

[2021-05-26 17:18] eray-onur commented on #319
+1,000.000

[2021-05-26 19:12] KadriyeMacit commented on #319
+1000000000

[2021-05-26 21:55] ragingsquirrel3 commented on #457
@cto-leaps sorry you having this issue. I was able to reproduce this error with the example API app in this repository when I configured the api to use IAM. I was able to make guest access in the same app only work when configured with API key access instead of IAM. I will keep investigating.

[2021-05-26 22:17] Jordan-Nelson opened #596 "Custom User Attributes: Inconsistent behavior on iOS and Android"
**Describe the bug**

Custom user attributes on Android can be created/updated by constructing a key that has a prefix of `custom:`, but this will fail on iOS. For example, if a custom user attribute of "favorite_number" exists in cognito the attribute this attribute needs to be added/updated using the key "favorite_number" on iOS. However, on Android this attribute can be added/updated using the

[2021-05-27 03:33] bormind commented on #234
+1 because a lot of mobile-first developments still plan for the web or PWA - without the web support committing to the opinionated platform seems less likely.

[2021-05-27 12:32] raphire08 commented on #432
same problem. Is there any solution?

[2021-05-27 12:50] Kilo-Loco opened #597 "Unable to access metadata of files downloaded from Storage"
**Describe the bug**
When uploading a file through Amplify Storage, you are able to set custom metadata for the file being uploaded as shown [here](https://docs.amplify.aws/lib/storage/upload/q/platform/flutter). However, there is no way to access the metadata when the file is downloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload file with metadata
2. Download the file
3. Attemp

[2021-05-27 14:50] Jordan-Nelson opened #598 "iOS does not support all of the standard user attributes that Android does"
**Describe the bug**
Android support more standard user attributes than iOS. Android supports the standard attributes "profile", "updated_at", "website", and "zoneinfo". These attributes are not supported on iOS. If a customer attempts to add these on iOS, amplify-flutter will attempt to add them as custom attributes.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to add create a ne

[2021-05-27 14:51] Jordan-Nelson commented on #598
Issue opened currently in amplify-android for this: https://github.com/aws-amplify/amplify-android/issues/787

[2021-05-27 15:05] lawmicha commented on #598
if amplify flutter adds them as custom, that will actually end up prepending with "custom:" prefix which would mean an app on Android will send "profile", "zoneinfo", etc. and an app on iOS will send "custom:profile", "custom:zoneinfo"

[2021-05-27 15:07] lawmicha commented on #598
another scenario is, what happens if i use amplify flutter and create a .custom attribute? is this possible? If so, that would mean iOS sends it as "custom:[custom_value]" and Android sends it as "[custom_value]"

[2021-05-27 15:10] lawmicha commented on #598
oh i forgot about this, so iOS has `unknown` and `custom` to support both scenarios. I think iOS should update it's enum case to include the extra fields that Android has to be in parity

[2021-05-27 16:31] haverchuck commented on #432
Could somebody please post a pubspec file and an android/build.gradle file for an app that is reproducing this behavior?

[2021-05-28 02:11] fdarsot commented on #432
having the same issue

[2021-05-28 02:53] fdarsot commented on #432
So i was able to resolve (resolve isnt really the right word) but i was able to figure out that one of the other packages i was using in my pubspec.yaml file was interfering with this package.

once i removed it, all was well again.

bad news is i need to find another package to use for that one i just took out.

[2021-05-28 03:02] raphire08 commented on #432
@fdarsot

Which package was that ?

On Fri, 28 May, 2021, 8:23 am fdarsot, ***@***.***> wrote:

[2021-05-28 03:07] fdarsot commented on #432
@raphire08  https://pub.dev/packages/background_locator

[2021-05-28 04:18] raphire08 commented on #432
@haverchuck

Please find pubsepc and android.build. Apologies for word document.

[pubspec.docx](https://github.com/aws-amplify/amplify-flutter/files/6558138/pubspec.docx)
[build_gradle.docx](https://github.com/aws-amplify/amplify-flutter/files/6558139/build_gradle.docx)

[2021-05-28 05:53] raphire08 commented on #432
@haverchuck

I did some changes and it worked, but I don't know which one did the resolution

1. updated the Kotlin_version in build.gradle to 1.3.72
2. updated the classpath 'com.android.tools.build:gradle:4.1.3'
3. updated grade version to 6.5
4. target SDK 30 (min SDKVerion was already 21)

Was able to build successfully then for amplify_flutter ^0.1.4 and amplify_auth_cognito ^0.1.4

[2021-05-28 08:48] fafriat opened #600 "AuthUser.username: Inconsistent behavior on iOS and Android"
**Describe the bug**
With Cognito configured with email:
On Android, AuthUser.username  gives user email
while on IOS, AuthUser.username gives user id

**To Reproduce**
1. Configure Cognito with email as login.
2. Do login with Amplify.Auth.signIn()
3. Use Authuser authUser = await Amplify.Auth.getCurrentUser() to get connected user
4. Then authUser.username on both Android and IOS

**Expected beh

[2021-05-28 13:27] kjones commented on #600
Related: #201

[2021-05-28 13:38] flutteresbolivia commented on #563
I am using flutter_bloc, and in the super () method I started the events and it seems that they were not created correctly.

It only worked when I executed an event in the BLOC And there I created it and it worked.

I am going to test this configuration that you just passed me and I will comment again.

[2021-05-28 13:42] Jordan-Nelson commented on #598
This is an issue as well (tracked [here](https://github.com/aws-amplify/amplify-flutter/issues/596)). Amplify-android requires `"custom:"` be included in the attribute key, but amplify-ios requires that it is not included. There is a partial fix in amplify-flutter for this, but there is still an inconsistency between the two platforms when using amplify-flutter. The issue has more info.

[2021-05-28 21:21] dgagnon opened #602 "Datastore can fail silently when the internet connection is slow"
**Describe the bug**
In cases where the internet connection available is slow or shaky, the datastore feature of amplify-flutter can lead to unexpected outcomes.  This manifest itself in at least two cases:

1. The datastore will fail to become ready if the subscriber threads take more than 10 seconds to complete.  When that happens, the following log is generated:

<details>

  <summary>Logs</sum

[2021-05-28 21:35] dgagnon commented on #602
Here are the full logs from a success and a failure.  No changes to dynamodb or the code, only the connection settings.
[success.txt](https://github.com/aws-amplify/amplify-flutter/files/6563415/success.txt)
![success](https://user-images.githubusercontent.com/1037561/120043842-b9728d00-bfda-11eb-9d48-4b8645a26a05.PNG)

[failure.txt](https://github.com/aws-amplify/amplify-flutter/files/6563424/fai

[2021-05-29 13:05] nitin411 commented on #319
+∞

[2021-05-30 08:25] shajedulislam commented on #594
We deployed the app on apple test flight. Getting same error but working fine on emulators and also release build on real device.

[2021-05-31 12:04] rajd90 commented on #298
is there any update / timeline on this issue?

[2021-05-31 16:50] cto-leaps commented on #566
Hey @Jordan-Nelson
I'm on 14.5 and my AWSMobileClient is at version 2.24.1.
However, I have the same issue....
Any clue???

[2021-05-31 19:54] cto-leaps commented on #577
@ragingsquirrel3 Many thanks!!!
Any idea when this will be pushed?

[2021-05-31 22:20] MohammedNoureldin opened #604 "`amplifyconfiguration.dart` is being added to `.gitignore` automatically"
Is it ok that `amplifyconfiguration.dart` is being added to the `.gitignore` file automatically? I have just tried initializing my project, and this file was added to gitignore.

In my case I am using already existing resources, so that requires editing this file manually (if I am doing that correctly). If this file should be really excluded, how should I add my already existing resources?

My `fl

[2021-06-01 07:40] zmGitHub commented on #319
++++++++++

[2021-06-01 09:54] yurii-chikh-vitech opened #605 "[Feature Request] ConfirmDevice/RememberDevice flow for aws cognito authentication"
We need to add tracking device functionality to our flutter mobile app. It will be used with SMS_MFA confirmation user flow which is supported by flutter amplify_auth_cognito package. But there is no such methods as RememberDevice or ConfirmDevice.

There is support for Android and iOS for confirm device functionality
[code]
also there is support in aws-java-sdk-cognitoidp AWSCognitoIdentityProvid

[2021-06-01 16:14] Jordan-Nelson commented on #566
Hello @cto-leaps - Is this working for you on iOS 14.4?

If it is not working on iOS 14.4 either, can you confirm you have followed the docs on signInWithWebUI, in particular [the section on iOS setup](https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter#ios-platform-setup).

If it is working as expected on iOS 14.4, can you let me know what version of `Amplify` and `AmplifyPlugins/A

[2021-06-01 16:17] Jordan-Nelson commented on #566
For anyone else experiencing this issue, the current recommendation is to run `pod update Amplify AWSPluginsCore AmplifyPlugins` from the iOS directory of your project. This should update all amplify related pods to the latest version. You can confirm they have updated by looking at your podfile.lock before and after running it.

For a longer term fix, we are looking into adding a min version of t

[2021-06-01 16:31] Jordan-Nelson commented on #514
Closing issue due to inactivity

[2021-06-01 16:31] #514 closed

[2021-06-01 16:34] Jordan-Nelson commented on #521
Closing issue due to inactivity. If you are still experiencing this issue, please open a new issue with the output from `./gradlew app:dependencies` so that I can attempt to reproduce.

[2021-06-01 17:02] offlineprogrammer commented on #544
Closing issue due to inactivity

[2021-06-01 17:02] #544 closed

[2021-06-01 19:22] cshfang commented on #298
Thanks all for your valued feedback on this feature. I am unable to provide anything close to concrete dates at this time but it is something we are investigating.

[2021-06-01 19:39] latheeshvmv opened #606 "No documentation available to configure the Phone OTP based sign up process."
**Describe the bug**
How to add phone and confirm sign up via phone OTP and not with email OTP.

There is currently no documentation provided for it. Documentation only covers the email

Please assist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.amplify.aws/lib/auth/getting-started/q/platform/flutter'

**Expected behavior**
Documentation for the process?

[2021-06-01 22:09] dgagnon commented on #602
I believe that behavior #1 is caused by the consttant set in the AWS amplify android SDK:

https://github.com/aws-amplify/amplify-android/blob/main/aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SubscriptionProcessor.java

`private static final long NETWORK_OP_TIMEOUT_SECONDS = 10;`

[2021-06-01 22:15] sgehrman commented on #591
Any estimation on time?  I don't care if it's buggy, I'm just using s3.

[2021-06-01 22:59] carlomigueldy commented on #591
Awesome! Thanks for sharing @sgehrman

[2021-06-01 23:59] sgehrman commented on #591
Didn't work:

Error: Cannot run with sound null safety, because the following dependencies
don't support null safety:

- package:amplify_storage_plugin_interface
- package:amplify_core
- package:amplify_auth_plugin_interface
- package:amplify_analytics_plugin_interface
- package:amplify_datastore_plugin_interface
- package:amplify_api_plugin_interface
- package:date_time_format

[2021-06-02 10:47] clementlermurier opened #608 "Long monitor contention warning"
On Amplify initialization, I have many warning about Long monitor contention :

`W/mple.app_anati( 9847): Long monitor contention with owner pool-8-thread-1 (10295) at void com.amplifyframework.api.aws.SubscriptionEndpoint.requestSubscription(com.amplifyframework.api.graphql.GraphQLRequest, com.amplifyframework.core.Consumer, com.amplifyframework.core.Consumer, com.amplifyframework.core.Consumer,

[2021-06-02 16:13] Jordan-Nelson opened #609 "UpdateUserAttributeResult.isUpdated is true on Android but false on iOS if the attribute requires confirmation"
**Describe the bug**
The response from `Amplify.Auth.updateUserAttribute()` is a `UpdateUserAttributeResult`. The result has a boolean isUpdated property. This value is true on Android in all scenarios. On iOS it is false if the attribute requires confirmation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following code on iOS and observe that the printed value is false.
[code]
2.

[2021-06-03 14:39] Lorenzohidalgo opened #611 "Unrecognized DataStoreHubEvent: outboxMutationFailed"
**Describe the bug**
There are some Events for DataStoreHubEvent that are not recognized and therefore cant be handled with a hubSubscription.

For some reason DataStore won't update a specific model and since the event is not recognized the only error log that I'm receiving is:
`E/amplify:flutter:datastore(27989): Unrecognized DataStoreHubEvent: outboxMutationFailed`

**To Reproduce**
Steps to re

[2021-06-03 22:35] ragingsquirrel3 opened #612 "some REST API method have a fatal error on android when body not included in request"
**Describe the bug**
 put, post, patch crash fatally on android when body not set. Error is `java.lang.IllegalArgumentException: method PATCH must have a request body.`

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example api app in android in debug mode `flutter run -d sdk`
2. Click on "Patch" button (which calls API with no body in the request)
3. Get error and flutter crashes.

[2021-06-04 01:29] Alexminator99 commented on #319
Why do amplify team do this to us.... whyyyyy. Anyway... any update to this?

[2021-06-04 05:03] sima-11 commented on #234
+1 so that we get a better chance to the feature prioritised.

[2021-06-04 10:34] Dachmian commented on #308
Any news about this?
Does anyone have a workaround for using AWS Appsync with amplify libraries?

It is not possible for us to use Amplify CLI for our project for a number of reasons so we use CDK to provision our cloud. However this forces us to write the queries and parsers manually in our Flutter app which is time consuming and will only get worse over time as the API grows and changes happen

[2021-06-04 16:28] ragingsquirrel3 commented on #471
@A-Kurimoto and @alokjkumar sorry you have been facing this issue and thanks for reporting it, as well as detailed descriptions of errors, configurations, and workarounds. I spent some time configuring my own example REST API with cognito user pool auth mode and found a way to address this with the backend configuration after initially reproducing the error and workaround you describe. Because [RE

[2021-06-04 17:15] chillbrodev commented on #591
@haverchuck Any update on the branch? Amplify is blocking me from being sound null safe. Thanks in advance and appreciate all the hard work that goes into Amplify.

[2021-06-04 17:47] Ashish-Nanda commented on #591
@chillbrodev We are currently testing the Auth, Storage, Analytics and API packages which have been migrated. We'll do a pre-release sometime soon for those categories and update this thread as soon as its availble.

[2021-06-05 10:48] Abacaxi-Nelson commented on #437
Same here. And i dont need cognito..
So not easy way to just send files to S3 ?

[2021-06-05 15:35] sebastiansanio commented on #234
+1

[2021-06-05 16:25] sganeshkanna opened #615 "[Flutter] Sync is not happening"
**Describe the bug**
Unable to see the data in Admin dashboard content menu after save from Flutter application

**To Reproduce**
Enabled API Key Authorization mode
Able to query data from data store
Amplify.DataStore.save(item) saved item into local db and I can see the data in subsequent query.
But its not reflected in admin UI content.
Similarly after uninstalling data is gone
So the issue is A

[2021-06-06 11:25] twink1e commented on #514
Hi! I'm facing a similar issue, but I'm sure the user has logged in.
using amplify 0.1.5

My code

[code]

The exception stacktrace

![image](https://user-images.githubusercontent.com/13992714/120921245-5cbb5480-c6f5-11eb-948e-1846764f81a8.png)

My configuration, with sensitive data masked (may not be the same length)

[code]

Really appreciate your help!

[2021-06-06 23:15] EmmanuelOgbewe opened #616 "Schema with field containing @connection not showing in generated model"
**Describe the bug**
When creating a model in schema.graphql and assigning a field with @connection this field is **not** generated after running `amplify codegen models`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to schema.graphql create two models.
2. One having a @connection to the other model
3. Run `amplify codegen models` see if the @connected field is viewable in the file gene

[2021-06-07 08:51] sima-11 commented on #435
Understand it may take quite some efforts. But would it be possible to provide a way to generate models with null safety first?
E.g. `amplify codegen models --null-safety`

[2021-06-07 11:54] yathu commented on #444
I also have the same issue working perfectly on the IOS simulator. in android error:

`Query failed: DataStoreException(message: Error in querying the model...`

[2021-06-07 13:35] Lorenzohidalgo commented on #615
Are you initializing the Amplify API plugin in your application?

[2021-06-07 14:30] AndreyGuitar commented on #474
Guys, I'm really sorry, but this is not a feature-request.
This is a bug.
'Session-refresh' is a must-have functionality for all current auth services and cognito can't force me to store user credits :(
It will be a very challenging to pass the security check for the app storing credits in a raw format :(

[2021-06-07 14:45] fjnoyp commented on #615
It seems that only local storage of Datastore is working.  The remote syncing appears to be disabled for some reason.

Did you configure Amplify API And Datastore via the amplify cli?  Amplify cli will generate a amplifyconfiguration.dart file that Amplify Flutter uses to communicate and store/query data from your backend.

[2021-06-07 16:10] nguyenVanQuocKhanh commented on #201
The following code correctly obtains user's email in both iOS and Android:
  Future<String> _usersEmail() async {
    try {
      var attributes = (await Amplify.Auth.fetchUserAttributes()).toList();
      for (var attribute in attributes) {
        if (attribute.userAttributeKey == 'email') {
          print("user's email is ${attribute.value}");
          return '${attribute.value}';
        }

[2021-06-07 19:20] lfraker commented on #260
Running into the same issue. Are there any updates on the investigation/fix?

[2021-06-08 00:38] offlineprogrammer commented on #563
Hey @flutteresbolivia

I am closing this issue for now as I didn't hear from because of inactivity
We can reopen it if you are still facing the issue and when you provide details

Regards
Mo

[2021-06-08 00:38] #563 closed

[2021-06-08 01:16] HuiSF commented on #616
Hi @EmmanuelOgbewe , thanks for opening this issue.

From the attached screenshots, it looks like that you are trying to create a many-to-many relationship between `User` model and `Friend` model. According to Amplify [API (GraphQL) documentation](https://docs.amplify.aws/cli/graphql-transformer/connection#many-to-many-connections), a joining model is required to correctly create a many-to-many re

[2021-06-08 05:53] droy312 commented on #129
await Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true)); is returning a value of AuthSession so can't get idToken

[2021-06-08 13:22] yangfh2004 commented on #234
+1

[2021-06-08 14:46] gspeicher commented on #192
I don't know if there is anything specific needed for Flutter but I just submitted a [PR 8413](https://github.com/aws-amplify/amplify-js/pull/8413) to enable this support in the Amplify Javascript libraries.

[2021-06-08 19:01] Jordan-Nelson commented on #600
Hello @fafriat - Thanks for opening the issue. I was able to reproduce this. I think this is a result of an issue in the amplify-ios library used by amplify-flutter on iOS. There is an issue open in the amplify-ios repo currently here: https://github.com/aws-amplify/amplify-ios/issues/1255. I will follow up with the team and see if this is being looked into.

As a workaround, you can get the email

[2021-06-08 19:53] Jordan-Nelson commented on #600
@fafriat I am going to close this as a duplicate since #201 is already tracking this issue. Please add any further info to #201.

[2021-06-08 19:53] #600 closed

[2021-06-08 19:54] Jordan-Nelson commented on #201
It looks like this is a result of an issue in the amplify-ios library used by amplify-flutter when targeting iOS. There is an issue open in the amplify-ios repo currently here: https://github.com/aws-amplify/amplify-ios/issues/1255. I will follow up with the team and see if this is being looked into.

As several others have already noted, you can get the email address consistently on both platform

[2021-06-09 04:39] sganeshkanna commented on #615
@Lorenzohidalgo @fjnoyp
Below is my amplifyconfiguration.dart.

const amplifyconfig = ''' {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "RentalService": {
                    "endpointType": "GraphQL",
                    "endpoint": "https://<Something>.appsync-api.us-east-1.amazonaws.com/graphql",

[2021-06-09 07:17] Lorenzohidalgo commented on #615
@sganeshkanna it seems that API is configured, are you initializing the plugin?

Here is an example of how I'm initializing auth, analytics, DataStore, API and S3:

[code]

[2021-06-09 07:51] sganeshkanna commented on #615
On launch I have configured amplify,

    try {
      // add Amplify plugins
      await Amplify.addPlugins([_dataStorePlugin, _apiPlugin, _authPlugin]);

      // configure Amplify
      //
      // note that Amplify cannot be configured more than once!
      await Amplify.configure(amplifyconfig);
      print("Amplify Congigured");
    } catch (e) {
      // error handling can be improved for su

[2021-06-09 08:14] Lorenzohidalgo commented on #615
Are you getting any type of error on the output logs? what kind of DataStore Events are you seeing?

[2021-06-09 15:11] brunovsiqueira opened #623 "Generic AuthException being thrown"
Hi there.

When user is already signed in, an AuthException is thrown instead of a FlutterInvalidStateException. I can only see that it is a FlutterInvalidStateException if I open the "underlyingException" attribute inside the AuthException.

Shouldn't it throw a FlutterInvalidStateException so I could handle it easier?

Furthermore, it would be nice if every exception thrown by Amplify  were spec

[2021-06-09 15:33] Jordan-Nelson commented on #623
Hi @brunovsiqueira - Thanks for opening this issue. Would you mind filling out the issue from the issue template? I am particularly looking for steps to reproduce (are you simply calling signIn when a user is already signed in?), platform (iOS, Android, or both) and the version of amplify flutter you are using. Thanks.

[2021-06-09 16:10] brunovsiqueira commented on #623
Sure @Jordan-Nelson.

Yes, I am simply calling signIn when a user is already signed in. I tested on Andorid, but I guess it also happens on iOS. We are using Amplify 0.1.5 now.

[2021-06-09 17:16] jodafm opened #624 "Update amplify_android to support IAM authorization mode."
Update the amplify_android lib to **1.17.7** in order to support IAM authorization mode?.

Issue related: [here]( https://github.com/aws-amplify/amplify-android/issues/1350)

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[x] Android
[] iOS

[2021-06-09 17:28] jodafm commented on #624
The library was already updated.

[2021-06-09 17:28] #624 closed

[2021-06-09 21:21] Jordan-Nelson opened #626 "Empty CognitoSignUpOptions() throws error [0.2.0-nullsafety.0]"
**Describe the bug**

In the latest null safe preview release (0.2.0-nullsafety.0), an empty CognitoSignUpOptions() throws an error.

**To Reproduce**
Steps to reproduce the behavior:
In app that uses email based auth (probably reproducible in a username based app, but have not tested) try to sign a user up with the following code

[code]

**Expected behavior**
No error should be thrown

**Platfor

[2021-06-10 03:03] fanwgwg commented on #441
Any updates now?

[2021-06-10 05:15] EmmanuelOgbewe commented on #616
Hi @HuiSF, thank you!

 So when modifying my schema with a joining model like the example from the documentation, I still have missing fields. Specifically, when running amplify codegen models, the recipientID and requesterID are missing, but I still have the requester and recipient fields. If I remove the @connection from recipient and requester,  all fields remain.

I ideally would want to creat

[2021-06-10 14:43] Jordan-Nelson commented on #626
After looking into #209 a little more, I think we probably just want to consider this a duplicate of #209. This can be resolved by changing options to `CognitoSignUpOptions(userAttributes: <String, String>{})`. It turns out this is already required on master, which I did not realize. A different error is thrown on master and the NS branch with an empty CognitoSignUpOptions(), but they are both equ

[2021-06-10 15:54] ragingsquirrel3 commented on #531
@blattr a PR has been merged implemented the `e.httpStatusCode` and will be available when the next release goes out. This issue will be closed once that happens.

[2021-06-10 16:01] blattr commented on #531
Thank you so much!

[2021-06-10 16:44] ragingsquirrel3 commented on #604
@MohammedNoureldin yes, by design the configuration file is added to the .gitignore. More info about that file is available on https://docs.amplify.aws/cli/reference/files#amplifyconfigurationjson , as well as other amplify configuration files. A few reasons for having in .gitignore by default is 1) the information in the file should not be shared publicly 2) if you use multiple amplify environmen

[2021-06-10 20:24] ragingsquirrel3 opened #628 "dead link in CONTRIBUTING.md"
The https://github.com/aws-amplify/amplify-flutter/blob/master/CONTRIBUTING.md#architecture-of-the-codebase link is dead, so that link in the top part of the file should be removed or a section added for it.

[2021-06-10 20:26] ragingsquirrel3 opened #629 "add circle CI badge to README.md"
This repository has a circle CI build, but no badge in the README to indicate its status, as is customary. It would be nice to add one.

[2021-06-10 20:36] ragingsquirrel3 commented on #628
I think https://github.com/aws-amplify/amplify-flutter/blob/master/CONTRIBUTING.md#debugging also dead.

[2021-06-10 21:01] HuiSF commented on #615
Could you also watch the logs in debug console, see if you can find something like

[code]
`Setting currentState to SYNC_VIA_API` is the flag if the datastore can sync remotely.

[2021-06-10 21:39] MohammedNoureldin commented on #604
@ragingsquirrel3 thank you for the info.

[2021-06-10 22:56] cconley717 commented on #441
Still experiencing this exact issue as of today.

[2021-06-10 23:53] MohammedNoureldin commented on #604
@ragingsquirrel3 thank you for your reply.

Why the information inside that file should not be published? For example in `Auth`, what is confidential about the following?:
https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter

[code]

Or this `API`:

[code]

[2021-06-11 13:10] mrhota opened #633 "Organize packages according to Dart package layout conventions"
**Describe the chore**

Many of the amplify-flutter packages do not have `lib/src` directories, which seems to lead to API leakage in docs.

It isn't always clear what code is public API and what code is implementation for a package.

In an effort to clarify and tidy things up, I'd like to ensure all amplify-flutter packages follow the conventions laid out in the [Dart package layout page](https:/

[2021-06-11 15:20] aryunaabhay opened #634 "Offline changes from multiple simulators/devices are not being sync as expected with automerge"
**Describe the bug**
with automerge activated offline changes are not being pushed when the server has a new version

**To Reproduce**
Steps to reproduce the behavior:
1. Create a first version of the object on simulator A
2. Open simulator B and device C so they can obtain the initial version
3. Turn off network for Device C, make changes on simulator B and wait till the changes are populated in

[2021-06-11 15:47] alokjkumar opened #635 "API build failure after upgrade"
**Describe the bug**
After updating flutter and all other packages I get the following build error:

[code]

Flutter doctor output:

[code]

**To Reproduce**
1. Run flutter upgrade
2. Run flutter pub upgrade
3. Run app
4. See error

**Expected behavior**
Application should build

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[

[2021-06-11 16:59] HuiSF commented on #616
Looking at this use case, the `Friend` model is actually a joining model of two `User`'s. From the perspective of `Friend`, the `requester` to `User` and `recipient` to `User` is "_has one_" relationship respectively, isn't it? Using your example above, the schema could be defined as below:

[code]

Generated models containing fields:

[code]

[2021-06-11 17:03] HuiSF commented on #616
This thread is more like a GraphQL schema defining question :)
The original warning mentioned in the issue was not a library bug but expected behavior. Marking the issue as pending close.

[2021-06-11 17:13] HuiSF commented on #611
`OutboxMutationFailedEvent` would be published when processing a mutation in the outbox went wrong. Currently the flutter library doesn't have a specific handling of this exception, therefore it logs it as "not recognized" error.

To be noted, `OutboxMutationFailedEvent` can have many different causes, it's unnecessarily an amplify-flutter library issue. But the library should forward this excepti

[2021-06-11 18:46] fjnoyp commented on #435
Hi everyone the pre release version of null safety for Auth, Storage, API, and Analytics is now available.  To use it please update your pubspec.yaml to 0.2.0-nullsafety.0 as it is opt in only.

We are currently working on upgrading Datastore to Null Safety and will share updates once that is ready.

[2021-06-11 20:04] HuiSF commented on #634
@aryunaabhay Thanks for reporting this issue.

Do you recall, when you were configuring amplify api category, did you enable "conflict detection"? And what was the "default resolution strategy" you chose?

The options include
- Auto Merge
- Optimistic Concurrency
- Custom Lambda

[2021-06-11 21:06] HuiSF commented on #529
Hi @sandeepmr29 thanks for reporting this issue. I will need some more information to understand the cause.

- Could you please provide example code snippet that you invoke `Amplify.DataStore.save()`?
- What data type did you define as the value of the `time` field?

[2021-06-11 23:05] aryunaabhay commented on #634
Hi @HuiSF , yes I enabled conflict detection and I set the resolution strategy to "Auto merge".

[2021-06-12 13:16] EmmanuelOgbewe commented on #616
Thanks, I should've been more specific with my issue. For this schema, since there is a one-to-many relation between a user having many friends wouldn't I need to define a @key for Friend, or is that only if I want to specify fields? In addition, if I wanted a users friends field to be populated by querying the Friend table with a user's ID matching a requesterID or recipientID, then I would provi

[2021-06-12 13:16] sganeshkanna commented on #615
yes, @HuiSF  I am getting like what you mentioned.

E/amplify:aws-datastore(26636): Failure encountered while attempting to start API sync.
E/amplify:aws-datastore(26636): DataStoreException{message=Timed out waiting for subscription processor to start., cause=null, recoverySuggestion=Retry}
E/amplify:aws-datastore(26636): 	at com.amplifyframework.datastore.syncengine.SubscriptionProcessor.startSu

[2021-06-13 02:16] HuiSF commented on #615
Thanks for providing the logs @sganeshkanna

The logs showed that GraphQL subscription timed out. GraphQL subscription default timeout period is 10 seconds when subscribe 5 or less models. When there are more than 5 models to subscribe, it adds 2 seconds for each additional model to the timeout period, this is decent.

How many models do you have in your App?

Here are some suggestions for next st

[2021-06-13 11:00] Merglobe commented on #578
@HuiSF yes it did and no I mean syncing in the app it self.

[2021-06-13 14:51] Tedsterh commented on #468
I also think this is a great idea as I am currently struggling on how to observe a specific model, is this currently possible?

[2021-06-13 19:43] raywhiteside opened #639 "DataStore not working without an internet connection"
I want to be able to test my app without an internet connection on my dev laptop. I can't have Cognito credentials, as DataStore might typically have in a production case where network connectivity is lost for a short period of time, but I think DataStore should still happily act as a local database without ever having an internet connection or auth credentials.

**Describe the bug**
When testing

[2021-06-14 09:08] btutal commented on #234
+1

[2021-06-14 09:11] ufukkurt commented on #234
+1

[2021-06-14 14:56] Jordan-Nelson commented on #605
Hi @yurii-chikh-vitech - Thanks for opening the issue. I do not have a timeline for when this will be implemented, but I am going to mark this as a feature request to track interest.

[2021-06-14 15:52] caravanat commented on #435
The 0.2.0-nullsafety.0 branch won't compile for me. I'm getting the following error:

`e: /Users/caravath/Development/flutter/.pub-cache/hosted/pub.dartlang.org/amplify_auth_cognito-0.2.0-nullsafety.0/android/src/main/kotlin/com/amazonaws/amplify/amplify_auth_cognito/types/FlutterFetchCognitoAuthSessionResult.kt: (45, 38): Type mismatch: inferred type is Map<String, Any> but Comparable<{Boolean &

[2021-06-14 16:32] HuiSF commented on #578
After making local changes to the GraphQL schema and data models, you would need to push the latest changes to AWS by running `amplify push`, as you mentioned "PostsEditor does not get created", it sounds like it's out of sync between AWS AppSync and your local changes.

You can check if you have local changes are pending to be pushed by running [amplify CLI](https://docs.amplify.aws/cli/start/wor

[2021-06-14 16:57] HuiSF commented on #616
You sure can add `@key` directive to `Friend` model to create your secondary index. My example is minimum :D

When you need to populate the `requester` and `recipient` fields of `Friend`, if you are only going to use `User.id`, then you don't need create secondary index by using `@key` on `User` as by default it creates index on `id` field.

The schema could be

[code]

I kept `byRequester` and `b

[2021-06-14 19:00] HuiSF commented on #460
Hi @HappyMakadiya, I believe @Kilo-Loco 's answer should be able to help you resolve this issue. (Thank you Kyle!)
I will close this issue now, please feel free to reopen if you have any following-up concerns.

[2021-06-14 19:00] #460 closed

[2021-06-14 20:25] HuiSF commented on #496
Hi @rajesh-kc thanks for reporting this issue, and sorry to hear about the trouble you encountered.

From the logs you provided, it looks like the datastore was trying to sync data (written in local storage prior to the latest breaking schema change) during the initial sync, and it raised type mis-match error. The library will throw exception to let developers know about this breaking change cause

[2021-06-14 20:37] rmargolinross opened #641 "auth events see to not emit"
**Describe the bug**
I am subscribing to auth events using the recommended `Amplify.Hub.availableStreams[HubChannel.Auth]!.map(_toAuthEvent);` and while debugging I am not seeing any of these get fired.

**To Reproduce**
Subscribe to the auth events and then trigger events that should fire them.

**Expected behavior**
The events should be triggered.

**Platform**
Amplify Flutter current supports i

[2021-06-14 21:18] Kilo-Loco opened #642 "Easily Access Nested Data with DataStore"
TL;DR - I want to access nested data easily (`post.author.name`)

I'm running into the issue of loading the nested/associated data (i.e. Post Author) with the current Flutter DataStore implementation. I believe that most devs would expect to get associated data back with a single query as opposed to multiple queries to fill in the missing data of in individual object in the list of objects.

Build

[2021-06-14 21:57] HuiSF commented on #639
Thank you for reporting this issue @raywhiteside

I did some testing in my local environment, datastore `LOCAL_ONLY` mode worked correctly when the device is in the Airplane mode, while it was emitting below exception on each `save` invocation:

<details>
<summary>Click to expand log sample</summary>

[code]
</details>

This is expected behavior as each `save` invocation will try to re-switch to `

[2021-06-15 00:07] Ashish-Nanda commented on #591
Hi everyone the [pre-release version of null safety for Auth, Storage, API, and Analytics is now available](https://pub.dev/publishers/aws-amplify.com/packages).  To use it please update your pubspec.yaml to use `0.2.0-nullsafety.0`. Do let us know your feedback or if you encounter any issues.

We are currently working on upgrading Datastore to Null Safety and will share updates once that is ready

[2021-06-15 04:24] samuelchanx commented on #546
Getting the same error here. In my case, when I tried to sign out a few times, and tried to sign in with the same account, the error pops up.

Please help.

[2021-06-15 07:42] yukitaka13-1110 opened #644 "I couldn't create queries with the command $ amplify codegen types or statements"
**Describe the bug**
I tried to create models by execute the following command.
[code]

But the following error occurred.
[code]

So I executed the indicated command and success.
Next, I tried to create queries by the following command.
[code]

But both failed.
Please teach the way to create these files.

**To Reproduce**
[code]

**Expected behavior**
Successfully created queries.

**Screenshots**

[2021-06-15 09:53] yukitaka13-1110 commented on #644
I want to create `Input` types from schema.

[2021-06-15 10:11] yukitaka13-1110 opened #645 "How to define pipeline resolvers?"
I want to use pipeline resolvers in my amplify projects.
Is Amplify support pipeline resolvers?

[2021-06-15 13:10] raywhiteside commented on #639
I agree that when DataStore thinks it's offline, everything seems to be working. The issue is DataStore is getting the `networkStatus active` event, even though my device is in airplane mode. I'm not positive that is the direct cause of the eventual crash, but seems to be incorrect on its own. I don't know how to help better reproduce.

I am using Cognito but I don't have any @auth rules on the sc

[2021-06-15 15:08] IMDSK opened #646 "Logging has already been configured., recoverySuggestion: Remove the duplicate call to `Amplify.configure()"
i have seen the issue of AWS what's wrong in my code? ;-;

**Describe the bug**

flutter: AmplifyException(message: An unknown exception has happened.           Please take a look at
        https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
        match your scenario, and file an issue with the details of the bug if there isn't.
  , recoverySuggest

[2021-06-15 15:19] dnys1 commented on #645
Hi @yukitaka13-1110 - yes! Amplify is fully capable of integrating pipeline resolvers. Here are some resources to get you started:
- [Amplify Docs](https://docs.amplify.aws/cli/graphql-transformer/resolvers#custom-resolvers)
- [Tutorial](https://dev.to/dagasatvik10/add-pipeline-resolvers-in-aws-amplify-43ae)
- [Example Project](https://github.com/dnys1/habitr/tree/master/amplify/backend/api/habitr

[2021-06-15 15:32] dnys1 commented on #642
Hi @Kilo-Loco - apologies for your frustration and thank you for taking the time to create this issue and provide some feedback. You're absolutely right on all accounts and the Amplify team is working hard to fix this in coming versions. It's looking like we will be moving towards an implementation similar to what you've described which piggybacks off of iOS's lazy loading of nested models.

Pleas

[2021-06-15 16:10] dnys1 commented on #641
Hi @rmargolinross - thank you for creating a ticket for this issue. Can you please post a link to where that method was described? In the meantime, could you try using the method described [here](https://docs.amplify.aws/lib/auth/auth-events/q/platform/flutter)?

[2021-06-15 16:43] jonbhanson commented on #435
Thanks for this solution @caravanat, this worked for me. 👍

[2021-06-15 16:51] dnys1 commented on #644
Hi @yukitaka13-1110, thanks for creating a detailed ticket for the issue you're experiencing. At the moment, Amplify Flutter does not support codegen of non-model types, including `input` types. As a workaround, you may consider using a GraphQL code generator like [gql_build](https://pub.dev/packages/gql_build) which can work with the generated Amplify GraphQL schema.

An example of this approach

[2021-06-15 17:01] haverchuck commented on #474
@AndreyGuitar @gauravdangi Apologies- I misunderstood the issue when marking it as a feature request.  When this issue says 'refresh the token', do you mean the refresh token itself, or the access and id tokens? The latter should automatically refresh provided that the refresh token is still valid.

[2021-06-15 17:14] HuiSF commented on #644
Hi @yukitaka13-1110 Please take a look at the documentation about [basic workflow](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter#setup-local-development-environment) with the amplify-flutter library.

After adding API category, you should be able to modify `schema.graphql`, you can make changes following your model design, here you don't need to worry about input or mut

[2021-06-15 17:55] rmargolinross commented on #641
Oh, it seems the documentation has been updated. I was doing it the old way as I have pointed out up above. I will try to change my code to use the format you linked to, but if the way I pointed out no longer works, it really should be removed from the api or deprecated somehow.

[2021-06-15 18:20] dnys1 commented on #641
Thanks for letting me know, @rmargolinross. By adding a listener to the stream in your example (e.g. with `.listen((event) => print(event))`, it should work. However, without a listener, the stream will not fire. Hope this helps and apologies for the incorrect documentation.

[2021-06-15 18:20] #641 closed

[2021-06-15 19:19] HuiSF commented on #639
Thanks for more details @raywhiteside

The underlying native amplify library (Android, and iOS) will try subscription on each CRUD operation regardless network connectivity. Attempting subscription may reset `networkStatus` to `active` and then again to `inactive`  when subscription fails, therefore `networkStatus` may not present the actual network connectivity state, but more like an internal ev

[2021-06-15 19:48] Jordan-Nelson commented on #435
@caravanat and @jonbhanson could you both let me know what version of flutter you are using and what other amplify packages you are using?

[2021-06-15 19:57] aryunaabhay commented on #634
I have created a script to run this test automatically on one computer with 3 simulators and is not working as expected either, I also have done these same steps manually but with no luck but today I did another manual test and it seemed to work, not sure why seems to work sometimes but no for most of the times.

that takes me to the following doubts about how datastore offline strategy works :

1

[2021-06-15 20:21] jonbhanson commented on #435
@Jordan-Nelson

Flutter doctor output:
[code]

amplify packages in `pubspec.yaml`:
[code]

[2021-06-15 21:04] caravanat commented on #435
[code]

[2021-06-15 21:06] brownAddict commented on #615
Thank you very much, you saved me.

I have been having this same error for the past 8 days. Initially, I had 19 models and it always failed ("Timed out waiting for subscription processor to start"). After reading your post, I reduced my models to 4 and it synced successfully.

So, how do I increase the timeout period since the default is not enough? or am I supposed to have less than 5 models?

[2021-06-15 21:31] brownAddict commented on #467
I had this same timeout problem and reducing my data models to 4 (any value less than 5 should work) solved it. I think it has to do with GraphQL subscription default timeout period which is 10 seconds when there are less than 6 models.

see this https://github.com/aws-amplify/amplify-flutter/issues/615#issuecomment-860139959

[2021-06-15 21:54] HuiSF commented on #615
Glad to help @brownAddict

Have you tested with Android platform? I have just noticed that this mechanism is not working properly with amplify-flutter

So the timeout period is always 10 seconds regardless number of models to be subscribed...
I will soon open a PR to fix this issue.

[2021-06-15 21:57] brownAddict commented on #615
Yes, I have tested it on Android (Physical device). It syncs seamlessly both ways (Device to Admin UI and Admin UI to device).

[2021-06-15 23:06] HuiSF commented on #634
Thanks much for the detailed information @aryunaabhay ! I will follow your findings, and start investigating the issue.

[2021-06-15 23:37] HuiSF commented on #615
Fix to the `amplify-android` dependency has been merged, waiting for it gets release and integrate to `amplify-flutter`.

[2021-06-15 23:57] richardmcclellan commented on #615
FYI, AppSync has a limit of 50 subscriptions per web socket.  DataStore is currently only designed to open one web socket.   DataStore initiates 3 subscriptions (onCreate, onUpdate, onDelete) for each type, so effectively there is a limit of floor(50/3) = 16 types, currently.

In the future, we may update DataStore to automatically open multiple web sockets when the number of total models exceeds

[2021-06-16 00:16] HuiSF commented on #602
Thanks for reporting this issue @dgagnon and much appreciated that you attached such detailed investigation script.

I've been investigation a few issues ([example](https://github.com/aws-amplify/amplify-flutter/issues/615#issuecomment-860139959)) that involve subscription timeout. And I've identified an issue that exists amplify-android in may cause subscription timeout and merged a [PR #1376](ht

[2021-06-16 01:13] yukitaka13-1110 commented on #645
@dnys1 Thank you for your reply.
I'll check it. Thank you so much!!

[2021-06-16 02:04] #645 closed

[2021-06-16 02:40] mikolajdebowski commented on #319
+1

[2021-06-16 09:26] sganeshkanna commented on #615
Thanks for the inputs. Will check the same case in Android code and update here.

[2021-06-16 14:34] raywhiteside commented on #639
Thanks for the clarification. I was able to get my test to pass using ApiKey for the authorizationType. The main purpose of the this thread is completely and can probably be closed, but there are some rough edges here:

- I can see how DataStore doesn't mind seeing the `networkStatus active` event every time you attempt an operation, but it's not ideal. If I want to track the sync status of DataSt

[2021-06-16 16:09] brownAddict commented on #615
Noted. Thank you very much. This means I will have to wait for the update, because I am in the process of migrating an existing app and it needs at least 19 types.

[2021-06-16 16:19] richardmcclellan commented on #615
I just did a little more digging and realized the limit has actually been [raised to 100 subscriptions per websocket](https://github.com/aws-amplify/amplify-js/issues/5050#issuecomment-632210401), so you can actually use DataStore with up to 33 types now.

[2021-06-16 16:20] HuiSF commented on #639
That's great, happy to help :)

I think the `ready` event could be better for this kind of purpose. It indicates data rehydration has completed either in offline or online sync mode.

Example:

[code]

I agree, the library should handle this kind of exception gracefully. We will improve this part. I also want to clarify, Cognito authentication should be implemented to allow signing in before invok

[2021-06-16 16:20] #639 closed

[2021-06-16 16:39] raywhiteside commented on #639
What does this mean? In the "normal" case where the device has network access, I am logging in the user via Cognito before doing anything with DataStore. I would love to be able to dummy Cognito in development without network access to avoid having a whole different auth mode for offline testing (even if done fairly coherently with multiple auth modes), but to my knowledge there is no way to do th

[2021-06-16 16:58] HuiSF commented on #639
I haven't tried mocking the API using `amplify mock api` myself. Do you see any errors doing so?

A side note, the `ready` event seems not firing when datastore switches to `LOCAL_ONLY` mode. I will investigate and open a separate issue if necessary.

[2021-06-16 17:23] raywhiteside commented on #639
Per this:

**https://github.com/aws-amplify/amplify-codegen/issues/137#issuecomment-811229722**

Amplify doesn't support mock for Flutter (yet).

I ran `amplify mock api` and this is in the output:

[code]

[2021-06-16 17:26] HuiSF commented on #615
Thanks for the info @richardmcclellan ! I'm wondering do we have developer documentation that describes the maximum number of models can be subscribed? I think that would be a helpful piece of information to share broadly.

[2021-06-16 17:39] brownAddict commented on #615
Thanks for the info @richardmcclellan

[2021-06-16 17:50] HuiSF commented on #639
Ahh, thanks!
Sorry for the inconvenience, we are working on adding more features to ease the development process.

[2021-06-16 19:11] aryunaabhay commented on #634
@HuiSF doing additional test , I think i've found the reason but it does not make much sense...
the object that i'm using for the test has a relationship of one to one with a smaller object and it seems that only the offline changes that also modify the connected object are the ones that are taken into account.

[2021-06-16 19:39] haverchuck commented on #576
@rhinozD  We have merged a fix for this and it will be included in our next release.

[2021-06-16 20:17] HuiSF commented on #634
Sorry @aryunaabhay you are much ahead of me.
It sounds like something went wrong when merge two versions of objects. I will dig deeper.
Please feel free to post your findings, I will follow up soon.

[2021-06-16 23:01] CostierLucas commented on #234
+1

[2021-06-16 23:52] alecellis1985 commented on #615
Im having this same issue, @HuiSF any ETA on the fix for the 10 sec upgrade? can you test with 20models so we really can use this in real life? I am really behind in development time with a client because this sync issues and the current logs that do not say what's the issue. Could we try to add more try catches to the current solution and in cause expose something else than null?

[2021-06-17 00:35] rhinozD commented on #576
@haverchuck Thank you so much!!!

[2021-06-17 00:35] #576 closed

[2021-06-18 05:05] EmmanuelOgbewe commented on #616
So when running the schema you provided I get the intended model output. Though when specifying a keyName to the friend's field like below after running `amplify codegen models` I no longer have the `requesterID` and `recipientID` field. This is the issue I am having, when I provide a keyName to a connection where there is a bidirectional relationship as shown in the documentation, some fields bec

[2021-06-18 05:06] FirdousNath commented on #186
I am also getting a issue when tokens aren't getting refreshed. So I put the `session = await Amplify.Auth.fetchAuthSession(
          options: CognitoSessionOptions(getAWSCredentials: true));` inside **try catch.** So when amplify is not able to provide refresh token it throws an error caught by my catch block and  from that I am simply redirecting user to login page.

[2021-06-18 05:07] FirdousNath commented on #401
Nothing helped so far, I removed everything still the same. What I did to override is I included a deep link to my app which in turns reopen my app

[2021-06-18 13:29] flutteresbolivia opened #651 "S3 multiple configuration"
Greetings to all.
I have not found a solution, but I would like to know if you can configure multiple S3s in my flutter project, has anyone experienced something like this in their projects?

[2021-06-18 14:10] abrahamrkj commented on #234
+1

[2021-06-18 14:11] SanjuSudheerM commented on #234
+1

[2021-06-18 16:04] HuiSF commented on #616
That is expected behavior, as `requesterID` and `recipientID` now serve as secondary indexes.
If you look into the generated model `Friend`, it should have a `belongsTo` model schema definition defined, which describe the relationship between `requesterID`, `recipientID` and `User` model.

If you looking to the the amplify build directory

[code]

You can check all generated types, if you look `Cr

[2021-06-18 20:43] leonardocustodio commented on #435
I'm having the same problem with amplify packages. Can we release a new version with @caravanat fix?

[2021-06-18 20:46] dnys1 commented on #635
Hi @alokjkumar - thank you for taking the time to file a bug report, and sorry you are experiencing this issue. As of now, the team has been unable to reproduce this issue given the steps provided. Would you be able to provide the project files that are leading to this issue, or are you able to create an example project which showcases the issue?

[2021-06-18 21:31] dnys1 commented on #435
It seems the issue is related to Kotlin itself. The Amplify team currently uses the default version in new Flutter packages, 1.3.50, and we're able to recreate the issue only by bumping the Kotlin version. Can those who experienced the issue confirm they are using versions of Kotlin >1.3.50?

As the team investigates how to prevent issues like this from happening in the future, we will be releasin

[2021-06-18 21:34] leonardocustodio commented on #435
Yes, I'm using kotlin 1.4.32. Had to bump kotlin version because of other packages.
I appreciate the PR but the real kudos goes to @caravanat who proposed the fix :)

[2021-06-18 22:01] caravanat commented on #435
Thanks @leonardocustodio for the PR... I didn't knew if it was something local here so I just made the change locally until further investigation.

Here we use Kotlin 1.4.30 and others devs here had the same problem using the 0.2.0-nullsafety.0 branch.

[2021-06-18 22:29] dnys1 commented on #635
Hi @alokjkumar - I was able to reproduce this issue by opening the `amplify_api/android` (plugin) folder in Android Studio. Could you confirm you are working with an app of your own or the `amplify_api/example/android` (app) folder?

[2021-06-18 22:33] alokjkumar commented on #635
@dnys1 Hi, the issue is occurring with my own app only when I run flutter pub upgrade

[2021-06-18 22:37] dnys1 commented on #635
Thank you for confirming, @alokjkumar. Are you able to share you `build.gradle` and `settings.gradle` files? And can you confirm there is a file called `.flutter-plugins-dependencies` in the root of your project?

[2021-06-18 22:40] alokjkumar commented on #635
@dnys1 - added you to the repo

[2021-06-18 22:46] dnys1 commented on #635
You're the man - thanks. I will have a look and get back to you shortly.

[2021-06-18 23:11] dnys1 commented on #635
Hi @alokjkumar  - thank you again for sharing your code. I was able to run `flutter pub upgrade` and build the app successfully via the command line and Android Studio. Could you try a few things for me?
1. Run `flutter clean && flutter pub get`
2. Confirm that a file named `.flutter-plugins-dependencies` exists in the root of your project.
3. Confirm that `android/local.properties` has a `flutter

[2021-06-19 22:35] aaronsamkennedy commented on #359
This happened to me and what worked was a combination of what @Amplifiyer said earlier and some others on various posts.

edit Podfile:
`post_install do |installer|
   installer.pods_project.targets.each do |target|
     flutter_additional_ios_build_settings(target)
+    target.build_configurations.each do |config|
+      config.build_settings.delete 'IPHONEOS_DEPLOYMENT_TARGET' = '11.0'
+    end

[2021-06-19 22:52] aaronsamkennedy commented on #359
This happened to me and what worked was a combination of what @Amplifiyer said earlier and some others on various posts.

edit Podfile:

`post_install do |installer|
   installer.pods_project.targets.each do |target|
     flutter_additional_ios_build_settings(target)
+    target.build_configurations.each do |config|
+      config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '11.0'
+    end
   en

[2021-06-21 10:34] mdskinner commented on #234
+1

[2021-06-21 13:07] #471 closed

[2021-06-21 13:56] jonbhanson commented on #435
@dnys1 in my case I had the problem with an app using Kotlin version 1.5.10.

[2021-06-21 15:53] haverchuck commented on #646
@IMDSK Which version of amplify-flutter are you currently using in your app?

[2021-06-21 17:08] Ahmed0tdc commented on #435
does anyone know when will amplify start supporting null safety?

[2021-06-21 18:28] rmargolinross commented on #577
Will this be in the null safety release or be part of 0.1.6, if that is coming out?

[2021-06-21 21:29] offlineprogrammer commented on #139
Hi @NimaSoroush @JamesMcIntosh

You will get the error below if file does not exist

[code]
Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-06-22 03:56] Alexminator99 commented on #148
`CognitoAuthSession res = await (Amplify.Auth.fetchAuthSession(
            options: CognitoSessionOptions(getAWSCredentials: true)) as FutureOr<CognitoAuthSession>);`

I updated to null safety version and now that is broken.

Error:

`Unhandled Exception: type 'Future<AuthSession>' is not a subtype of type 'FutureOr<CognitoAuthSession>' in type cast`

[2021-06-22 07:50] raphire08 opened #659 "Hub Events for Amplify Cognito"
The sample code in the documentation mentions subscription for auth events.

https://docs.amplify.aws/lib/auth/auth-events/q/platform/flutter

What all events can be checked. I am looking for the user getting disabled from the admin side. Will hub subscription catch that, so that user will be logged out ?

[2021-06-22 12:39] medelman17 opened #660 "[IGNORE]: Testing GH-ASANA SYNC"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform**
Amplify Flutter current s

[2021-06-22 14:54] haverchuck commented on #659
@raphire08 I don't believe that is currently supported - I am marking this issue as a feature request.

[2021-06-22 15:39] filippomenchini opened #662 "Android DataStoreException: ambiguous column name"
I'm downloading some data from by backend.
This data has one-to-one relations with two entities.
While I'm trying to download this particular data, Amplify.DataStore throws a DataStoreException caused by an SQLiteException saying that there is an ambiguous column name inside the query.
It happens only on Android, on iOS everything works just fine.

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-22 17:11] skunk17 commented on #234
+1

[2021-06-22 17:23] offlineprogrammer commented on #437
Hi @Abacaxi-Nelson @nt4f04uNd

As per @fjnoyp the Auth is required by the native libraries and to generate the required identity pools for the users

You can read more about S3 and its policy [here](https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html)

Regards
Mo

[2021-06-22 17:36] HuiSF commented on #662
Hey @filippomenchini thanks for reporting this issue.

By any chance did you update the schema with breaking changes after writing some data into the local data storage in Android? (if so, please try `Amplify.DataStore.clear()` to clear outdated tables from local, or uninstall App and reinstall)

[2021-06-22 18:18] filippomenchini commented on #662
I tried uninstalling and re-installing the app but It didn't work. I have to try the `Amplify.DataStore.clear()`.
I'll let you know of that works.

Thanks for the help!

[2021-06-22 19:48] offlineprogrammer commented on #470
Hi @exampaqs

Are you still seeing this issue? Can you please provide the logs as per @Amplifiyer msg above?

Feel free to test using the latest build and let us know if you got any issues

Thanks
Mo

[2021-06-22 20:31] HuiSF opened #663 "Saving nested models in Android may raise GraphQL error for iOS devices that subscribe to the same models"
This issue is caused by that platform libraries generating incompatible selection set making mutation requests.
In most cases, especially when nested models are involved, iOS platform cannot receive subscription updates from mutations made in other platforms, such as amplify-js (Amplify Studio), amplify-android.

**Describe the bug**
Saving nested models in Android may raise GraphQL error for iOS

[2021-06-22 21:21] offlineprogrammer commented on #628
PR [630](https://github.com/aws-amplify/amplify-flutter/pull/630) merged

[2021-06-22 21:21] #628 closed

[2021-06-22 21:29] offlineprogrammer commented on #608
@clementlermurier

Can you please share more details on this issue

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-06-22 22:16] offlineprogrammer commented on #550
Hi @chris

I don't get an error on `Amplify.Auth.fetchAuthSession()`

Instead, I get the following:

[code]

Feel free to test using the latest build and let us know if you get errors

Thanks
Mo

[2021-06-22 22:21] offlineprogrammer commented on #549
Closing as per the confirmation from @FiercestT above

[2021-06-22 22:21] #549 closed

[2021-06-22 22:48] offlineprogrammer commented on #500
@gauravdangi Thanks for reporting this.

As per @anthonymoretti you need to add

[code]

We will update the [doc](https://github.com/aws-amplify/docs/pull/3337) for this

[2021-06-23 07:27] filippomenchini commented on #662
Tried with `Amplify.DataStore.clear()`, unluckly It didn't work.
But i may have found the issue.
I've got two entities wich are related to each other, and they also have a relation with another entity.
Here is a screenshot of the data model:
![image](https://user-images.githubusercontent.com/33838929/123053847-9afa8880-d404-11eb-89b5-d9702f44f67f.png)
The entity Page and the entity Tale are relate

[2021-06-23 07:43] raphire08 commented on #659
@haverchuck Thanks

[2021-06-23 16:16] haverchuck commented on #550
related: https://github.com/aws-amplify/amplify-android/issues/1247

[2021-06-23 16:52] Jordan-Nelson commented on #662
I believe this is caused by a known issue in amplify-android, which is used by amplify-flutter. Here is the issue in amplify-android - https://github.com/aws-amplify/amplify-android/issues/1268

[2021-06-23 17:02] filippomenchini commented on #662
@Jordan-Nelson  Is there any way that I could fix this in amplify-flutter? I've just read your solution but I don't think I can do that edit in amplify-flutter. If you have any idea I'm all ears!

[2021-06-23 17:11] haverchuck commented on #604
@MohammedNoureldin I am going to transfer this to the amplify-cli repository.

[2021-06-23 18:24] offlineprogrammer commented on #629
Fixed with the merged [PR](https://github.com/aws-amplify/amplify-flutter/pull/631)

[2021-06-23 18:24] #629 closed

[2021-06-23 19:41] BerndWessels opened #669 "[amplify_auth_cognito][confirmPassword] throws the wrong exception"
`Amplify.Auth.confirmPassword` throws `AuthException` when it should actually throw `InvalidPasswordException`.

The `underlyingException` is
[code]

Because of this, it is unnecessary more complicated for the app to figure out what went wrong and give the correct feedback to the end user.

UPDATE:
After some further digging, this seems to be true for all other exceptions too :(

<details>

  <sum

[2021-06-23 21:58] offlineprogrammer commented on #556
Hi @donpaul120

I am closing this issue as @fjnoyp provided the links for the documentation

Regards
Mo

[2021-06-23 21:58] #556 closed

[2021-06-23 22:57] HuiSF commented on #615
Hi all, amplify-flutter `0.16.0` just released, which includes the the integration of amplify-android 1.19.0.
The fore-mentioned subscription timeout issue happened in Android when subscribing more than 5 models should be mitigated. Please feel free to follow up if you are still experiencing issues around subscription.

[2021-06-23 23:16] offlineprogrammer commented on #340
Hi @brunovsiqueira

Can you please provide more details on this and how to reproduce it

Regards
Mo

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

[2021-06-23 23:24] HuiSF commented on #575
Hello @shajedulislam amplify-flutter 0.16.0 just released, which includes the support of passing `clientMetadata` as `confirmSignUp` options, please try it out, and feel free to follow if you are experiencing any issues. Thanks!

[2021-06-23 23:26] HuiSF commented on #543
Hi all, amplify-flutter 0.16.0 just released, which includes support of datastore custom configuration.
Configurable fields include:

* `syncInterval`
* `syncMaxRecords`
* `syncPageSize`

Please try it out, and feel free to follow up if you experience any issues. Thanks!

[2021-06-23 23:44] haverchuck commented on #193
@jcblancomartinez This has been included in version 0.1.6! We will leave this issue open for a while for comment.

[2021-06-23 23:44] haverchuck commented on #531
@blattr This has been included in version 0.1.6! We will leave this issue open for a while for comment.

[2021-06-23 23:57] anthonymoretti commented on #543
Thank you! I'll try it out

[2021-06-24 00:09] haverchuck commented on #566
@martincalvert I believe this should be resolved by using amplify-flutter 0.1.6 (and possibly updating your pods).  Please let us know.  Will leave this issue open for comment.

[2021-06-24 06:48] EmmanuelOgbewe commented on #616
Ah I see , however when creating a Friend without passing a requesterID and recipientID given those fields are not available,  but yet passing the requester and recipient, when querying the Friend table I see the model contains a requester and recipient but all values for both User model connected are null except for the ID attribute. Likewise, the User whose ID matches the recipient from the crea

[2021-06-24 11:00] AndreyGuitar opened #671 "Add extra header to the call for Amplify API (GraphQL)"
Hello guys,

At the moment we're using some of the services provided my amplify.
Looking good at the moment except one specific case:
- we need to add one extra header to the Amplify API (graphQL) calls and I don't see an easy way to do it.

Could you please advice some solution on it?

The awsAPIPlugin authorizationType is API_KEY.

[2021-06-24 12:40] Jordan-Nelson commented on #500
@offlineprogrammer I think we should consider exporting this from the plugin so that consumers of the package don't have to import from a package that they do not directly depend on. I would consider importing from the interface package a workaround but not a permanent solution.

[2021-06-24 12:48] Jordan-Nelson commented on #596
This has been fixed in version 0.1.6. Both of the following code snippets will now work on iOS and Android for a custom attribute of `favorite_color`.

w/ `custom:` prefix`
[code]

w/o `custom:` prefix
[code]

[2021-06-24 12:48] #596 closed

[2021-06-24 12:49] Jordan-Nelson commented on #598
This has been fixed in version 0.1.6. "profile", "updated_at", "website", and "zoneinfo" are now supported on both platforms.

[2021-06-24 12:49] #598 closed

[2021-06-24 12:51] Jordan-Nelson commented on #669
Hi @BerndWessels - Thanks for taking the time to open an issue. Can you let me know which version of amplify-flutter you are using and which platform(s) you are experiencing this on (iOS and/or Android)?

[2021-06-24 14:50] cbellom commented on #234
+1

[2021-06-24 15:55] martincalvert commented on #566
Sorry for the delay. That resolved it. Thanks!

[2021-06-24 15:55] #566 closed

[2021-06-24 17:23] absarrahman commented on #602
This issue is still not fixed.

Logs
`W/myblinds.mobil(11526): Long monitor contention with owner pool-6-thread-6 (11764) at void com.amplifyframework.api.aws.SubscriptionEndpoint.requestSubscription(com.amplifyframework.api.graphql.GraphQLRequest, com.amplifyframework.core.Consumer, com.amplifyframework.core.Consumer, com.amplifyframework.core.Consumer, com.amplifyframework.core.Action)(Subscript

[2021-06-24 17:46] Jordan-Nelson commented on #669
@BerndWessels Version 1.19.0 of amplify-android (which amplify-flutter depends on when targeting Android) [made a change](https://github.com/aws-amplify/amplify-android/pull/1370/files#diff-c64d7a27e8c68ca501f258806df2f551dae8c24e9126435fbd9401e7fe374046L728) to throw a more specific error in this case. This fix is included in amplify-flutter as of version 0.1.6 (which was released yesterday).

Yo

[2021-06-24 18:04] HuiSF commented on #602
Thanks for the feedback @absarrahman
I can reproduce myself with limited network condition (simulated 3G) while trying to subscribe to 6 models.
Subscription always succeeds in iOS.
Moving this issue to amplify-android for further investigation.

[2021-06-24 18:35] #575 closed

[2021-06-24 18:42] HuiSF commented on #616
That's an expected behavior, at least at this moment.

* When saving a new object that associates with other models (Friend with recipient and requester in your use case), it would need to provide complete nested models (this is different from directly using GraphQL API providing only ids)
* Currently in amplify-flutter, it returns only id field for nested models.

We are currently working on retu

[2021-06-24 19:22] Jordan-Nelson commented on #671
Hello @AndreyGuitar - Thank you for opening the issue. This is not a feature that is currently supported within amplify-flutter. I have marked this as a feature request to track interest.

I will link the iOS and Android documentation for this capability since it would likely be implemented in a similar way in amplify-flutter.
- iOS: https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/pla

[2021-06-24 19:43] Jordan-Nelson commented on #577
@cto-leaps and @rmargolinross - This should be fixed as of 0.1.6. Please let us know if you are still experiencing this on 0.1.6.

[2021-06-24 22:43] HuiSF commented on #602
amplify-android fix to increase subscription timeout period [#1389](https://github.com/aws-amplify/amplify-android/pull/1389)

[2021-06-24 23:53] #500 closed

[2021-06-25 01:50] doug-mrowl opened #675 "Hard Crash Exception On fetchAuthSession With Android Release Build"
I'm getting a strange crash exception, but only on Android release builds. iOS completely works, and the problem does not occur with Android debug builds. For me, this is reproducible every time, but only on Android release builds. Upon calling Amplify.Auth.fetchAuthSession(options:), I get the following exception:

Console log:
[code]
I just updated to Flutter 2.2.2, and updated the Amplify Flutt

[2021-06-25 09:15] fanwgwg opened #677 "Update documentation for sign in with web UI in android"
**Describe the bug**
At https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/android#update-androidmanifestxml, it's asking to use `HostedUIRedirectActivity` for versions of `amplify_android` 1.17.8+, given that the version of `amplify_android` used by amplify_flutter is 1.19.0, per #650, should the documentation at https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter#android-p

[2021-06-25 12:03] Jordan-Nelson commented on #675
Hello @doug-mrowl - Thanks for taking the time to open an issue. I will see if I can reproduce this with the info you have provided.

[2021-06-25 14:52] anthonymoretti commented on #543
It works with the following code. Thank you!!

[code]

[2021-06-25 14:52] #543 closed

[2021-06-25 15:51] Jordan-Nelson commented on #675
@doug-mrowl can you provide the contents of /android/app/build.gradle?

[2021-06-25 15:58] doug-mrowl commented on #675
Thanks for the help... here is my /android/app/build.gradle file. Note that I am mostly an iOS coder... still learning the Android side of things for Flutter development ;-)

[code]

[2021-06-25 18:19] Jordan-Nelson commented on #675
Thanks @doug-mrowl - I was able to reproduce this. I am going to look into a fix.

[2021-06-25 19:09] Jordan-Nelson commented on #675
I think this is related to https://github.com/flutter/flutter/issues/78625

[2021-06-25 22:06] doug-mrowl commented on #675
Thanks for the info... I'll look at the related issue and see if the fix works!

[2021-06-26 21:40] KikoCis commented on #234
+1

[2021-06-27 04:50] atdaga commented on #234
+1

[2021-06-27 04:56] atdaga commented on #234
Is there an ETA for this feature, or at least where it sits on the roadmap?
Scenario: For applications with both a mobile (ios, android) and web presence, AND using an Amplify/Appsync backend, not having this feature complicates the implementation. Developers are left with the choice of Flutter for mobile, both ios and android, and have to do the web portion in something like React.
If we at least

[2021-06-27 11:02] JamesMcIntosh commented on #139
@offlineprogrammer Thanks for letting me know, the error message is a lot more useful in explaining the situation.

At the moment I'm stuck back a few releases due to the version bump of the UUID dependency conflicting with other libraries and unable to test it.

[2021-06-27 11:02] #139 closed

[2021-06-27 14:01] ken-ng-esotec commented on #546
I'm also getting this issue - i need to test across multiple users and therefore need to keep signing in and out

[2021-06-28 14:18] Jordan-Nelson commented on #675
I have been able to reproduce this with apps created with flutter v2.2.0 and up (v2.0.6 and earlier seems fine). I believe it is an issue with all versions of amplify-flutter. I have only attempted to reproduce it with version 0.1.6 and 0.2.0-nullsafety.1, but the code that is causing the crash was not added recently.

I don't think it is the same issue as I have linked above. It seems similar jus

[2021-06-28 14:28] Jordan-Nelson commented on #675
@doug-mrowl can you confirm if you are seeing this on a physical device or an emulator?

[2021-06-28 16:40] doug-mrowl commented on #675
I'm seeing this on a physical device, a Samsung Galaxy S9. I'm also seeing it on my older Android test device, a Moto G4. I also agree that this appears to not be related to the above linked similar issues... I tried the fixes mentioned and they did not work to fix this problem. Thanks for the continued look at this... I'm still researching the problem and I'll post here if I find anything!

[2021-06-28 21:42] fdarsot commented on #418
Hey guys, any update on this? @haverchuck @Ashish-Nanda @offlineprogrammer

[2021-06-29 08:08] ugurcan commented on #133
Is there any estimated date for Windows Desktop support? For example last quarter of 2021 or first quarter of 2022? When do you plan to release (at least) beta version?

[2021-06-29 18:03] ragingsquirrel3 opened #685 "permission denied GraphQL operation throws type error on android with sound null safety enabled"
**Describe the bug**
When some disallowed graphQL operations, there is a type error in the method channel logic on Android. Throws:

[code]
Likely because the data field in map can be null and is passed to required field in GraphQLResponse. This type error obscures the real error, which should be passed to GraphQLResponse as parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. run the

[2021-06-30 13:08] ioantsaf opened #688 "No HTTP response data when Amplify.API request is erroneous"
**Describe the bug**
When an API status code > 299 is returned, an `ApiException` is thrown. The exception now contains the `int httpStatusCode`, as implemented [here](https://github.com/aws-amplify/amplify-flutter/pull/590), but it does not contain the response data (if available).

It would be a good improvement to include the HTTP response data, if available, like it is implemented in the [js S

[2021-07-01 02:52] Ashish-Nanda commented on #435
**Amplify Flutter `0.2.0` with support for null safety is now released!**

Please take a look at the docs for [instructions on how to migrate your app](https://docs.amplify.aws/lib/project-setup/null-safety/q/platform/flutter)

Do let us know if you have any questions or feedback.

[2021-07-01 02:52] #435 closed

[2021-07-01 02:57] Ashish-Nanda commented on #564
**Amplify Flutter `0.2.0` with support for null safety is now released!**

The example apps have all been migrated to null safety as well. You can refer to this [branch](https://github.com/aws-amplify/amplify-flutter/tree/null-safety-master)

Please take a look at the docs for [instructions on how to migrate your app](https://docs.amplify.aws/lib/project-setup/null-safety/q/platform/flutter)

Do l

[2021-07-01 02:57] #564 closed

[2021-07-01 02:59] Ashish-Nanda commented on #591
**Amplify Flutter `0.2.0` with support for null safety is now released!**

The example apps have all been migrated to null safety as well. You can refer to this [branch](https://github.com/aws-amplify/amplify-flutter/tree/null-safety-master)

Please take a look at the docs for [instructions on how to migrate your app](https://docs.amplify.aws/lib/project-setup/null-safety/q/platform/flutter)

Do l

[2021-07-01 02:59] #591 closed

[2021-07-01 10:51] edoardo849 commented on #234
+1

[2021-07-01 18:00] Jordan-Nelson commented on #675
@doug-mrowl a fix for this was included in the latest release of amplify-flutter (0.2.0). 0.2.0 was also the first stable release that supports null safety. One option is to upgrade to 0.2.0 to resolve this.

Since this is the first release that supports null safety, you may want to look at [the documentation for null safety in amplify-flutter](https://docs.amplify.aws/lib/project-setup/null-safet

[2021-07-01 21:59] doug-mrowl commented on #675
Thanks for the information... I'll take a look at updating to 0.2.0 tomorrow.

[2021-07-02 14:26] Jordan-Nelson commented on #669
@BerndWessels I am going to close this out since it should be resolved as of version 0.1.6.

[2021-07-02 14:26] #669 closed

[2021-07-02 14:27] Jordan-Nelson commented on #193
Closing issue as the feature has been added as of amplify-flutter 0.1.6

[2021-07-02 14:27] #193 closed

[2021-07-02 15:24] ragingsquirrel3 commented on #688
@ioantsaf thanks for bringing this request to our attention. I can see how the raw response might be useful. Offhand, I'm not sure how much effort might be required to add that to the exception in the Flutter library in a similar manner to JS code you mentioned. We will put this in our backlog for further consideration/investigation.

[2021-07-02 17:28] HuiSF commented on #634
I did some digging, and testing. I couldn't reproduce the exact issue when doing test manually.

Here's the basic process of syncing remote and publishing local mutations

1. Start App (cold start)
2. Initial sync triggering
3. Merging (if any updates were made, e.g. `__version` field update)
4. Once initial sync is completed, publishing locally queued mutations
5. Locally queued mutations are com

[2021-07-02 17:54] hackrx commented on #319
any updates on this?

[2021-07-03 10:34] MathiasHaudgaard opened #699 "Can't send a json object as input with amplify appsync"
**Describe the bug**
I'm trying to create the mutation below
[code]
However, I'm getting the error: Invalid JSON payload in POST request from Amplify.API.mutate, but if I use the mutation above directly in Appsync, the mutation is valid. I'm not really sure if it's a bug in amplify or I'm just missing something. I Hope someone can help me out here 😄

**Platform**
Amplify Flutter current supports i

[2021-07-03 18:11] #463 closed

[2021-07-04 09:20] rmazur commented on #319
+1

[2021-07-04 13:13] kyleVoodoo commented on #699
Hey @MathiasHaudgaard thanks for reaching out.  Can you provide the mutation string you are providing to Amplify.API.mutate?  Were you able to make sure that the syntax matched out examples, ie:

[code]

[2021-07-06 10:54] CarloDotLog commented on #319
+1

[2021-07-07 05:44] FirdousNath opened #704 "Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'java.util.List com.amplifyframework.devmenu.PersistentLogStoragePlugin.getLogs()' on a null object reference"
**Describe the bug**
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'java.util.List com.amplifyframework.devmenu.PersistentLogStoragePlugin.getLogs()' on a null object reference

**Expected behavior**
This error shouldn't appear in Crashlytics

**Amplify versions**
[code]

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible i

[2021-07-07 18:53] toshiossada opened #705 "Sign-in with web UI failed, When I try Social Login"
I'm trying to do a POC of social login with Cognito

My main was
[code]

amplifyconfiguration.dart

[code]

[code]

When I try social login I get the error

[code]

What Can I do to solve this?

[2021-07-07 20:14] haverchuck commented on #705
@toshiossada The "Auth" block in your configuration file should have a section which looks like this:

[code]
The Amplify CLI should be able to set this up for you, or you can input these values yourself if you have an existing resource.