[2021-01-24 10:00] uttusharma commented on #305
So when I run with `flutter run --release`  what happens is that amplify is compiled in debug mode. How do I know this? Well when I shake the device It will bring up Amplify developer menu. As I said the problem exists only in the release build, not in Debug that is why It is hard to detect.

[2021-01-24 10:18] uttusharma commented on #305
Thank you for responding. Well, when I test signup on `flutter run --release` I am able to signup and no issue occurs everything works fine.
when I try to use the release build apk generated by  `flutter build apk --release`   Signup fails and an exception is thrown as can be seen in adb log

[2021-01-24 10:21] uttusharma commented on #317
Refer here same as [#305](https://github.com/aws-amplify/amplify-flutter/issues/305)

[2021-01-25 04:29] vhicks commented on #81
@fransiskapw were you able to figure this out? I followed the same steps and still get the error.

[2021-01-25 15:41] natedenh commented on #234
+1 for web

Thanks for working on this

[2021-01-26 01:29] Amplifiyer commented on #274
Changes 1 through 4 are released in the new version 0.0.2-dev.1

[2021-01-26 01:48] haverchuck commented on #182
@KaliTHB @fryette @cnttechio @rish07 @jcblancomartinez @Dedecube @BerndWessels @dondragon2 @durannumit @TseWong1 @bjoern-from-kopply

We've just released support for [Cognito Hosted UI!](https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter)

That being said, I think there are a couple different feature requests described in this issue. If your use case is not met by this feature, ple

[2021-01-26 03:49] WingCH opened #327 "[amplify_auth_cognito][Android]Smart cast to 'String' is impossible, because 'req.provider' is a complex expression"
When i update to `^0.0.2-dev.1`, has the following error, only in android

[code]
[code]

[code]

[2021-01-26 09:11] vasilich6107 commented on #186
@jamesonwilliams do you know a link to the corresponding `Amplify Android` issue to track when it will be fixed?

[2021-01-26 13:36] elisamalzoni commented on #295
Do you guys have an estimated time for this feature?

[2021-01-26 13:58] brunovsiqueira commented on #317
Same problem was happening to me and I fixed by adding --no-shrink to the build command. @mufeedamhdali please try flutter build apk --no-shrink and let me know if it works.

[2021-01-26 14:03] brunovsiqueira commented on #305
Same problem was happening to me and I fixed by adding --no-shrink to the build command. @uttusharma please try "flutter build apk --no-shrink" and let me know if it works for you.

[2021-01-26 19:02] haverchuck commented on #327
@WingCH Could you please run with `--stacktrace` and provide the output?  We'd be happy to take a look.

[2021-01-26 19:11] RyanHedges commented on #244
@Tapasm1212 I thought I was running into this issue too when attempting to validate my token manually. In my case I was printing the token to console, copying it, and pasting it trying to inspect it on jwt.io. Looks like [mobile clients under the hood](https://github.com/flutter/flutter/issues/22665#issuecomment-496130148) limit what's printed so I wasn't getting the entire token. I used [this sug

[2021-01-26 21:18] jcowley commented on #274
I can enter a separate issue for this, but I just want to make sure I understand these changes. If you call `Amplify.configure(amplifyconfig)` twice, you get the following error:
[code]
If that's intended, and `Amplify` is now a Singleton, does that mean you are not able to ever use more than a single type of "authenticationFlowType" as you can, for example, with amplify-js: https://docs.amplify.a

[2021-01-27 01:25] WingCH commented on #327
[code]

[2021-01-27 14:59] joekendal commented on #133
@talamaska that sounds quite resource-heavy to have two processes running and have them communicate somehow. The closest thing I can think of is implementing https://pub.dev/packages/graphql_flutter to handle the offline cache and authorisation with AppSync.

[2021-01-27 16:44] rlee1990 commented on #5
@Amplifiyer any timeline on support for GraphQL APIs?

[2021-01-27 16:51] kjones commented on #5
It has been there since 0.0.1-dev.6 I think?
https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/flutter

[2021-01-27 16:58] rlee1990 commented on #5
Did not see that thanks

[2021-01-27 17:52] Amplifiyer commented on #5
@rlee1990 Graphql query and mutations are currently supported in the latest versions.  Subscribe API will be available in our next versions.

[2021-01-27 18:21] jamesonwilliams opened #330 "Please Upgrade to Amplify Android 1.6.10"
1.6.10 includes new rules in `consumer-rules.pro`, so that consumers will be able to apply the right shrinking rules when cutting release builds. This fix should remedy a frequent source of frustration for customers of Amplify Flutter who are preparing release artifacts for Android. In order to make use of this fix, the Amplify Flutter repository should set a new minimum dependency version of 1.6.

[2021-01-27 18:33] joekendal commented on #5
@Amplifiyer thanks for updating us on the subscriptions API, will this be a Dart implementation or calling the iOS and Android libraries? If so then I think we can use this for Desktop I would think.

[2021-01-27 18:41] haverchuck commented on #327
@WingCH Thanks!  We are looking into this but have so far not been able to reproduce.  Out of curiosity, is there any particular reason you haven't installed the Flutter/Dart extensions in Android Studio?

[2021-01-27 18:43] Amplifiyer commented on #5
@joekendal, this will be a wrapper over iOS and Android libraries.

[2021-01-27 20:00] BaranMichal25 commented on #5
@Amplifiyer
Can you give us update about when Third-Party Sign-Ups (Google, Apple, Facebook) are gonna be implemented?
At least more or less estimation :)

[2021-01-27 20:27] Amplifiyer commented on #5
@BaranMichal25, we did a new release 0.0.2-dev.1 2 days ago which has this feature (Hosted UI or Social SignIn). More details here https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter

[2021-01-27 21:09] BaranMichal25 commented on #5
@Amplifiyer
woah, that's great news, thanks! :)

Can you give me an estimate when Apple Sign In will be supported as well?

[2021-01-27 21:56] Amplifiyer commented on #5
@BaranMichal25, we haven't tested Apple SignIn yet, it should work though when you follow the steps [here](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/ios). Couple of points to note are

1. Apple SignIn is currently not supported to be provisioned (or setup) through amplify cli as mentioned in the above link.
2. You won't be able to launch the Apple Sign In page directly usin

[2021-01-27 23:32] NimaSoroush opened #333 "Return file url after Amplify.Storage.uploadFile"
**Describe the bug**
Returning the file url after Amplify.Storage.uploadFile will help avoiding Amplify.Storage.getUrl call after file successfully uploaded.

**Expected behavior**
Amplify.Storage.uploadFile returning file's url to avoid Amplify.Storage.getUrl call

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[x] Android
[x]

[2021-01-27 23:32] Amplifiyer commented on #99
Reopening this as we did more deep dive into this and found out the root cause that is causing this issue. It is true that flutter's activity gets killed on the back button, however on resuming the application, flutter recreates the activity.

This assumes that the platform plugin's initialization code is idempotent which is not the case with amplify-flutter since underlying libraries can only be

[2021-01-28 00:51] jcowley opened #334 "Support switching authentication flows at runtime"
**Describe the bug**
It's not possible to change authenticationFlowType after configuring Amplify (which only supports a single authentidatioonFlowType at one time). This means that it is not possible to use more than one authenticationFlowType in an app.

The use case for this would be switching to CUSTOM_AUTH (from USER_SRP_AUTH or USER_PASSWORD_AUTH) in order to trigger a custom authentication

[2021-01-28 01:09] hysuki opened #335 "signInWithWebUI failed by user cancelled"
[code]

Whenever the browser is closed, error occurs and failed.

I'm not sure if this is a bug or not, but even if I test it with the cognito example (https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_auth_cognito/example) and try creating a new amplify project and tested the same error Is displayed.

facebook, google, amazon, cognito all output the same error.

Sometime

[2021-01-28 02:39] WingCH commented on #327
Actually, I have the Flutter/Dart extension installed in Android Studio, but I don't know why it says installed, but it works fine in the previous version of amplify-flutter.

[2021-01-28 09:47] uttusharma commented on #305
This works.

So that means R8 Shrinking is causing this issue. That also explains why `flutter run  --release` works because R8 shrinking is happening only when `flutter build apk` is run.

Another way to disable R8 shrinking in android app is to add the following:
[code]

[2021-01-28 18:41] haverchuck commented on #335
@asideHazle Is this happening on iOS as well? Also, can you please post the Android device you're using?

[2021-01-28 20:56] #330 closed

[2021-01-28 22:06] Amplifiyer commented on #274
Overview updated with upcoming exception handling refactor change.

[2021-01-28 23:30] ryanmdd opened #337 "Cannot Build App"
**Describe the bug**
Getting an error while doing: flutter build ios

**To Reproduce**
Steps to reproduce the behavior:
1. rm -rf iod/Podfile
2. flutter build ios

**Expected behavior**
Ann application that will run in the simulator.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[] Android
[x] iOS

**Smartphone (please comple

[2021-01-29 03:50] asideHazle commented on #335
I was using Samsung Note 20 Ultra and S7, android simulator,

and ios build failed

[code]

[2021-01-29 18:13] Amplifiyer commented on #337
What is the version of `AWSPluginsCore` in your Podfile.lock file? Can you try deleting your lock file and running `flutter build ios` again?

[2021-01-29 18:17] ryanmdd commented on #337
I have tried deleting the Podfile.lock and I will try again.

Looks like my lock file is using:
AWSPluginsCore (= 1.0.4)
Here is the checksum (I don’t know if that helps):
AWSPluginsCore: 646f8c2d831a52f2293da0dfd59a31eee61f6ad5

Thanks

From: Amplifiyer <notifications@github.com>
Date: Friday, January 29, 2021 at 12:13 PM
To: aws-amplify/amplify-flutter <amplify-flutter@noreply.github.com>
Cc: Ry

[2021-01-29 21:32] Amplifiyer commented on #337
@ryanmdd, it's a very old version, it should be 1.5.0 or newer in your Podspec.lock file. Let us know if deleting the lock file (and `flutter clean`) helps to get the latest package versions.

[2021-02-01 18:00] brunovsiqueira opened #340 "java.lang.IllegalStateException: Reply already submitted"
I see the following crash in my crashlytics console:

Fatal Exception: java.lang.IllegalStateException: Reply already submitted
       at io.flutter.embedding.engine.dart.DartMessenger$Reply.reply(DartMessenger.java:139)
       at io.flutter.plugin.common.MethodChannel$IncomingMethodCallHandler$1.error(MethodChannel.java:243)
       at com.amazonaws.amplify.amplify_auth_cognito.AuthCognito$prepare

[2021-02-02 16:03] haverchuck commented on #340
@brunovsiqueira What is the API method being invoked which leads to this?

[2021-02-02 19:21] brunovsiqueira commented on #340
Hi @haverchuck. This is the complete stack trace I can see in crashlytics.

[2021-02-02 19:22] brunovsiqueira commented on #296
Any updates on this?

[2021-02-02 19:22] brunovsiqueira commented on #295
Hi guys. Any updates on this @haverchuck?

[2021-02-02 19:30] brunovsiqueira opened #342 "Amplify developer menu in debug mode"
Hi guys.

Is there any way to disable the developer menu in debug mode? It disturbs me when I am debugging my app in a physical device. I think the developer menu should be a customizable option in the Amplify Flutter SDK.

[2021-02-03 00:23] nithin-seenivasan commented on #297
@kjones  Thanks for the heads up about GraphQL. I got my app working directly with Appsync, and everything works perfectly. Datastore syncs pretty much instantaneously, it's great.

[2021-02-03 00:30] haverchuck commented on #342
@brunovsiqueira We have a fix to temporarily silence this entirely until we can make it properly customizable.

[2021-02-03 00:35] brunovsiqueira commented on #342
Nice! When do you guys are planning to release it?

[2021-02-03 02:45] graphicbeacon opened #344 ""Amplify is already configured. Adding plugins after configure is not supported" exception"
**Describe the bug**
Thanks for the work you guys are doing here! I am getting an "Amplify is already configured" exception upon returning to the screen where I initialised the Amplify plugins. This is happening on 0.0.2-dev.1

**To Reproduce**
Steps to reproduce the behavior:

1. Visit the initial screen where amplify auth plugin is configured.
2. Visit another screen
3. Return to the initial scr

[2021-02-03 03:11] WingCH commented on #327
Any update ? thanks!

[2021-02-03 12:32] brunovsiqueira opened #346 "Developer menu causing crash in production"
Hi there.

I had the following crash in production:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.amplifyframework.devmenu.PersistentLogStoragePlugin.getLogs()' on a null object reference
       at com.amplifyframework.devmenu.DeveloperMenu.getLogs(DeveloperMenu.java:2)
       at com.amplifyframework.devmenu.DevMenuLogsFragment.onCreateView(

[2021-02-03 14:28] kjones commented on #297
@nithin-seenivasan Good to hear. I'm certainly geeking out on this workflow at the moment where the backend can make changes that propagate automatically to the client. I'm using it in a couple of different ways:
1. Client DataStore->AppSync->DDB->DDB Stream Lambda->SQS->Data Analysis Lambda writes results to AppSync->Client DataStore
2. External events from 3rd party->API Gateway->Lambda writes u

[2021-02-03 14:30] gauravmehta13 commented on #344
facing same issue

[2021-02-03 15:59] BaranMichal25 commented on #5
@Amplifiyer
Thanks, I followed the steps you mentioned and it _mostly_ worked, which is great.

I just have one issue currently:
1) I call the `Amplify.Auth.signInWithWebUI();`
2) A general sign up page is displayed with all 3 party providers I'm using
3) I choose Apple, authorise, looks like everything is successful, but:
I end up on a blank page and nothing happens.
4) If I click cancel on the b

[2021-02-03 16:59] haverchuck commented on #346
@brunovsiqueira We are getting ready to do a release as soon as we are able. In the interim, if you want to make the change locally [this is the relevant line](https://github.com/aws-amplify/amplify-flutter/blob/cc36ecc9f246eff99d90963cec50a39fd66ea3c0/packages/amplify_flutter/android/src/main/kotlin/com/amazonaws/amplify/Amplify.kt#L122).

[2021-02-03 17:01] haverchuck commented on #340
@brunovsiqueira Is there a specific amplify-flutter method you are calling when this happens, or is it at app startup?

[2021-02-03 17:36] Amplifiyer commented on #5
Thanks @BaranMichal25 for trying this out and letting us know the issue and reproduction steps. We will try to reproduce this on our end. It will help if you can open a new issue with the same details to help us track better.

[2021-02-03 19:03] Amplifiyer commented on #344
Thanks @graphicbeacon, @gauravmehta13 for reporting this issue. We discussed the value of `isConfigured` and decided to rather use a specific exception to tackle this. We will have a release soon with this new exception and with that you can catch and ignore that specific exception instead of checking `isConfigured`. See the code sample below

https://github.com/aws-amplify/amplify-flutter/blob/03

[2021-02-03 19:31] #99 closed

[2021-02-03 19:48] brunovsiqueira commented on #340
I really don't know because I can only see this crash on crashlytics. If you want, I can send the device information  where this crash happened.

[2021-02-04 00:47] Amplifiyer commented on #312
This is fixed in https://github.com/aws-amplify/amplify-flutter/pull/345 which will be part of next release. You would have to still catch the exception `AmplifyAlreadyConfiguredException` from `Amplify.configure()`

[2021-02-04 00:47] #312 closed

[2021-02-04 00:51] Amplifiyer commented on #252
The fix for this is released. Let us know if you are still facing issues.

[2021-02-04 00:51] #252 closed

[2021-02-04 00:59] Amplifiyer commented on #213
The original issue with `MissingPluginException` has been fixed in https://github.com/aws-amplify/amplify-flutter/pull/345 Please see #99 for more details about this issue. Closing as duplicate. The fix will be available in our next release.

[2021-02-04 00:59] #213 closed

[2021-02-04 00:59] #160 closed

[2021-02-04 01:03] #128 closed

[2021-02-04 01:05] Amplifiyer commented on #121
@horgag does this problem still exist for you?

[2021-02-04 08:32] horgag commented on #121
no @dineshkumar02 solution worked for me

[2021-02-04 08:32] #121 closed

[2021-02-04 09:57] Bogatinovski opened #348 "When will Kinesis be supported in the Analytics category of the Flutter SDK for Amplify?"
This is not a bug but a question. I am porting over an older Android application which is using the Amplify Android SDK into a Flutter application. As part of the old Android application we are using Amplify to push data to Kinesis Streams.

[2021-02-04 10:46] bostaginting commented on #172
Hi, any updates on how to Adding endpoints for notification pinpoint using FCM token?

[2021-02-04 17:04] eroamba opened #349 "Cannot get amplify_core path"
Unused import: 'package:amplify_core/amplify_core.dart'.
Try removing the import directive.

[2021-02-04 22:36] Amplifiyer commented on #349
@eroamba, There are few breaking changes in the new version of amplify_flutter. Please see https://github.com/aws-amplify/amplify-flutter/issues/274 for more details

[2021-02-04 22:36] #349 closed

[2021-02-05 08:57] bostaginting opened #351 "GET Endpoints ID on Pinpoint Flutter"
**How to get endpoints ID on flutter Amplify**
Hi, I just want to ask, is there any way to get Endpoint ID Pinpoint on flutter?

because you can get the Endpoint ID on both IOS and Android:

<img width="546" alt="Screen Shot 2021-02-05 at 15 55 40" src="https://user-images.githubusercontent.com/40355270/107011750-aab55f80-67ca-11eb-9e8b-821e61dfa5ae.png">

**Platform**
Amplify Flutter current supp

[2021-02-05 12:41] eroamba opened #352 ""UPLOAD_FILE_FAILED" error flutter amplify after use Amplify.Storage.uploadFile( key: key, local: path, options: options);"

[2021-02-05 21:58] muhlba91 commented on #248
is there any progress already? :)

having access to user attributes when relying on cognito for the entire user management is quite an important feature.

[2021-02-05 23:21] Amplifiyer commented on #320
@hiashutoshsingh can you explain your use case in more detail? Are you using Amplify to create those S3 buckets or are you bringing your own and using Amplify to download files from that?

[2021-02-05 23:23] Amplifiyer commented on #311
Thanks @kjones resolving this in favor of #201 which is the same bug and also have a workaround for now. We will continue to update #201 with our findings and fixes.

[2021-02-05 23:23] #311 closed

[2021-02-05 23:25] Amplifiyer commented on #327
@WingCH, we are not able to reproduce this issue on our end (the build succeeds successfully). Would it be possible for you to update your code to a github repository with reproduction steps which we can clone?

[2021-02-05 23:28] Amplifiyer commented on #337
We are not able to reproduce this issue. In our next release we will be pinning the iOS library version as well to avoid this in the future.

[2021-02-05 23:28] #337 closed

[2021-02-05 23:33] Amplifiyer commented on #334
@jcowley Thanks for raising this issue. I'm marking this as a feature request as by architecture, Amplify for iOS and Android does not support reconfiguration.

[2021-02-06 01:41] Amplifiyer commented on #220
It's been over two months with no update. Resolving as stale. Please search and create an issue here https://github.com/aws-amplify/amplify-cli/issues if you face issues with amplify cli

[2021-02-06 01:41] #220 closed

[2021-02-06 01:44] Amplifiyer commented on #179
If a user is registered, you'll get a "UserExistsException" exception which can be caught in the Auth.signUp() call

[2021-02-06 01:44] #179 closed

[2021-02-06 02:19] seanbrhn3 opened #359 "compiling for iOS 9.0, but module 'Starscream' has a minimum deployment target of iOS 11.0:"
**Describe the bug**
After the newest update using amplify_flutter: '<1.0.0' ,amplify_auth_cognito: '<1.0.0' and  amplify_analytics_pinpoint: '<1.0.0'
causes this error ```compiling for iOS 9.0, but module 'Starscream' has a minimum deployment target of iOS 11.0:```
changing the IOS deployment version to the specified deployment target still does not fix the issue

**Platform**
Amplify Flutter cur

[2021-02-06 03:10] WingCH commented on #327
I tried to run the [example](https://github.com/aws-amplify/amplify-flutter/tree/master/example) and also created a new flutter project to build the app, two case is work normal.

It seems that only my project has a problem, but I can't find what went wrong...
if i comment [line 388 to 401 packages/amplify_auth_cognito/android/src/main/kotlin/com/amazonaws/amplify/amplify_auth_cognito/AuthCognito.

[2021-02-06 03:39] WingCH commented on #327
I found that if I delete the android folder and then 'flutter create .' everything works fine
🎉

[2021-02-06 03:53] fjnoyp commented on #359
Hi @seanbrhn3 how did you change the iOS deployment version?  Within your project folder, did you go to ios/Podfile and at line 2, write platform :ios, '11.0'?

Could you run 'flutter run clean build' afterwards and then try again.

[2021-02-06 03:56] fjnoyp commented on #351
Hi @bostaginting that feature is currently not implemented in our flutter library.  Could you tell us your use case for this and if it's a major feature that you'd need?

[2021-02-06 03:59] fjnoyp commented on #348
Hi @Bogatinovski I'll check internally and get back to you.  It's likely this support won't be coming soon as the native iOS and Android libraries we build upon don't support that yet.

[2021-02-06 04:29] seanbrhn3 commented on #359
Thanks you for the fast reply, I ran ```flutter run clean build``` and ```clean``` doesn't seem to be an argument for ```flutter run```  I ran ```flutter clean``` instead then ```flutter run``` but still got the same error. I've changed the ios target to '11.0'
in the podfile and I went to project.pbxproj and changed the ```IPHONEOS_DEPLOYMENT_TARGET``` to '11.0' as well and still the error persis

[2021-02-06 07:14] bostaginting commented on #351
Hi, @fjnoyp I need to send/update FCM token to register endpoint on pinpoint so that I can push notif from pinpoint, is there any kind of way to do that on flutter?

here is the example on how to do it in my IOS swift code:

<img width="512" alt="Screen Shot 2021-02-06 at 14 12 43" src="https://user-images.githubusercontent.com/40355270/107111797-72268c00-6885-11eb-9553-0e801075ee69.png">

every s

[2021-02-06 10:23] WingCH commented on #327
I compared the original and newly build android project architecture, and found the following differences, which I think are the problem.

The original version does not have any `kotlin` settings

![image](https://user-images.githubusercontent.com/19588517/107115537-436ddd00-68a8-11eb-83d9-07218ac22787.png)
![image](https://user-images.githubusercontent.com/19588517/107115542-4bc61800-68a8-11eb-8c

[2021-02-06 10:46] graphicbeacon commented on #344
@Amplifiyer That sounds good. Looking forward to the release

[2021-02-06 15:01] nithin-seenivasan commented on #297
@kjones My workflow ended up very similar to what you wrote! I'm currently doing -

Client -> S3 -> Lambda Trigger -> Lambda -> Appsync -> DDB and Client Datastore

In your 2nd scenario, do you send out the data from 3rd party to ALL your clients via Lambda? I had the issue to only send the data that a client uploads to S3 back to the client, so I couldn't have all the users subscribe to the mutat

[2021-02-06 17:36] kjones commented on #297
The data coming from 3rd parties is from services the user has authorized via OAuth to send us data on their behalf. So that the data is only visible to a single user I set the models to require owner authorization. For Lambda function access I use  IAM.
[code]
When saving to AppSync from Lambda, the `owner` field needs to be set and the HTTP requests need to be AWS V4 signed.

[2021-02-06 20:50] zoenberger commented on #327
I built the Todo app to try out Pinpoint, and it all worked great. When I tried to add Amplify to my existing project, I received the exact same error as @WingCH described.

I found that in my /android/build.gradle file, my existing app was using this line:

[code]

And my app would build after changing it to same value as the Todo demo app:

`classpath 'com.android.tools.build:gradle:3.5.0'`

I'm

[2021-02-07 00:45] shar154 commented on #234
Web support for amplify flutter would be something I would vote for.

[2021-02-07 03:40] zoenberger opened #360 "Sending/Receiving Push Notifications by Segment"
*NOTE: We are _not_ using Cognito for user management. All Pinpoint behavior will go through "guest" access. (Which, it is not clear if this works or if we _must_ use Cognito to authenticate uses for Pinpoint)

Currently, we've integrated the firebase_messaging package. This generates a token, and I can send a test message from the Pinpoint console using this token. However, I have to use a raw me

[2021-02-07 16:44] rayhaanq opened #361 "MissingPluginException No implementation found for method configure on channel com.amazonaws.amplify/core"
1. Log in
2. Close app fully
3. When I access the app again I get the following error:
[code]

I've tried doing a `flutter clean` and uninstalling the app completely but still no luck.
I've tried this with the following versions:
`amplify_core: 0.0.1-dev.6`
`amplify_auth_cognito: 0.0.1-dev.6`
and
`amplify_flutter: 0.0.2-dev.1`
`amplify_auth_cognito: 0.0.2-dev.1`

Most of the other issues I've seen

[2021-02-08 06:13] kzhao682 commented on #142
Did you ever end up figuring out the issue where the region is missing? I am having similar issues with this right now.

[2021-02-08 08:47] bostaginting commented on #351
And when this feature will be implemented?

[2021-02-08 23:39] kjones opened #363 "DataStore - iOS - GraphQL list of any type fails to save"
DataStore on iOS does not save fields where the data type is a list.\

**To Reproduce**
1. Create a GraphQL schema with any list type:
[code]
1. Push the backend
[code]
1. In the code populate the TestModel and save it
[code]
1. Note that the fields in DynamoDB are missing.

**Expected behavior**
Data gets saved to backend.

**Platform**
Amplify Flutter on iOS - 0.0.2-dev.1

**Additional context**

[2021-02-08 23:41] kjones commented on #363
Slightly related to: #289

[2021-02-09 00:06] kjones opened #365 "DataStore - Android - Integer list fails serialization"
DataStore on Android crashes when serializing a list of integers synchronized from the backend.

**To Reproduce**
1. Create a GraphQL schema with an integer list type:
[code]
1. Push the backend
[code]
1. In the code populate the TestModel and save it
[code]
1. Clear local DataStore and query so that the saved model gets retrieved from the backend.
[code]
1. Failure doesn't actually occur during s

[2021-02-09 01:11] parikh20 opened #367 "Documentation all APIs and exceptions"
Is there a place where all of the exception names and details are cleanly laid out for in app handling? Having to manually check for each possible type just to get the name of the exception is getting quite exhausting.

[2021-02-09 05:48] Amplifiyer commented on #365
I noticed that in my testing as well. Can you try by replacing deserialization code in `fromJson` method of your model by the following
[code]

[2021-02-09 05:50] Amplifiyer commented on #367
@parikh20, we are completely rewriting the error handling such that the errors received from the APIs will be consistent and easy to inspect. We will update our documentation after the release.

[2021-02-09 06:43] bostaginting opened #368 "Failed send analytics to console"
Hi, I'm currently trying analytics for flutter. after pushing the events there is something weird happen, the event name is succeeded but the Event Attributes and Metrics is empty:

![Screen Shot 2021-02-09 at 13 32 45](https://user-images.githubusercontent.com/40355270/107325090-bd39dc80-6adb-11eb-9e53-297bd0aa82ce.png)

here is my configuration

<img width="591" alt="Screen Shot 2021-02-09 at 13

[2021-02-09 14:41] kjones commented on #365
@Amplifiyer That does work.

Still hoping to see the generated code pass pedantic analysis with implicit casts/dynamic disabled at some point so slightly modified version:
[code]

[2021-02-09 15:47] Bogatinovski commented on #348
@fjnoyp What you are saying actually makes sense. So the real question then is:
Is there a plan to include the Kinesis Streams Service to the Android and IOS libraries of Amplify?

[2021-02-09 19:36] #289 closed

[2021-02-09 21:25] haverchuck commented on #296
@brunovsiqueira We have refactored our error handling library-wide as part of an upcoming release.  This should help satisfy the use case you've outlined.

[2021-02-09 21:31] haverchuck commented on #295
@brunovsiqueira @elisamalzoni I cannot give specific dates on when this will be delivered, but I can say that it should be soon.  Once released, you will see that errors thrown by the Auth package will get cast to an AuthException dart type, and when possible, we cast these to child classes which map to the error types defined by the Cognito service. Some of the values contained within these types

[2021-02-10 01:46] brunovsiqueira commented on #163
Hello @Ashish-Nanda. I am facing this issue in my production environment (0.0.1-dev.4). Can you guys please help me? It is extremely critical, my users cannot refresh session.

[2021-02-10 02:01] brunovsiqueira opened #370 "[URGENT] [CRITICAL] SessionExpiredException on iOS"
My iOS users cannot use my app due to SessionExpiredException. Some time after signIn sessions expires and users are getting SessionExpiredException when I try to get my AWS Credentials through
`CognitoAuthSession cognitoAuthSession = await Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true));`

Error:
SessionExpiredException(message: Session expired could not fet

[2021-02-10 02:22] djsjr opened #371 "AMPLIFY_SIGNUP_FAILED following Build a Flutter Application tutorial at await Amplify.Auth.signUp method"
**Describe the bug**
Following the [official tutorial](https://aws.amazon.com/getting-started/hands-on/build-flutter-app-amplify/module-three/), the Amplify.Auth.signUp method won't sign up new users. I've initialized amplify, and installed the default auth and pushed it to the backend etc etc. The error caught is AMPLIFY_SIGNUP_FAILED. (First time using GitHub, Flutter, and AWS, so excuse me if t

[2021-02-10 02:22] Amplifiyer commented on #365
@kjones we have launched this in our new release (please ensure to install latest amplify cli and amplify-flutter packages)

For generated code to pass pedantic analysis, we will be investigating after critical features and bugs are out!

[2021-02-10 02:22] #365 closed

[2021-02-10 02:22] haverchuck commented on #370
@brunovsiqueira Did this only start happening with version upgrade?

[2021-02-10 02:23] Amplifiyer commented on #363
New version is released with this fix! Please test and close when you can.

[2021-02-10 02:29] Amplifiyer commented on #342
This is released today in version 0.0.2-dev.2. Let us know if you are still facing any issues. Closing this.

[2021-02-10 02:29] #342 closed

[2021-02-10 02:29] Amplifiyer commented on #253
disabling the Android Developer Menu from Flutter is released today in version 0.0.2-dev.2. Let us know if you are still facing any issues. Closing this.

[2021-02-10 02:29] #253 closed

[2021-02-10 02:30] Amplifiyer commented on #156
This is released today in version 0.0.2-dev.2. Let us know if you are still facing any issues. Closing this.

[2021-02-10 02:30] #156 closed

[2021-02-10 02:31] Amplifiyer commented on #344
This is released today in version 0.0.2-dev.2, use the new `AmplifyAlreadyConfiguredException` for catching duplicate configuration related issues. Let us know if you are face any issues. Closing this.

[2021-02-10 02:31] #344 closed

[2021-02-10 02:43] Amplifiyer commented on #361
This is released today in version 0.0.2-dev.2. You'd still have to catch `AmplifyAlreadyConfiguredException` since flutter kills the activity that is configuring the Amplify and when the activity is restarted it would try to reconfigure Amplify.  for an example

https://github.com/aws-amplify/amplify-flutter/blob/036edd14571aa5cb7229d6ddc29e82c0c9435883/example/lib/main.dart#L63-L69

[2021-02-10 02:43] #361 closed

[2021-02-10 02:44] Amplifiyer commented on #346
This is released today in version 0.0.2-dev.2. Let us know if you are still facing any issues. Closing this.

[2021-02-10 02:44] #346 closed

[2021-02-10 02:48] Amplifiyer commented on #295
The error revamp is complete and released in 0.0.2-dev.2 and you can find all the possible exceptions here https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_auth_plugin_interface/lib/src/Exceptions. All of these exceptions inherit from `AuthException` which inherit from `AmplifyException`

We will work on getting these exceptions to our documentation.

[2021-02-10 02:48] #295 closed

[2021-02-10 02:49] Amplifiyer commented on #274
Changes 5 and 6 are released in 0.0.2-dev.2

[2021-02-10 03:33] brunovsiqueira commented on #370
This is happening only in iOS (as soon as I know) and it was happening in the two last versions (the ones I tested). Both are not refreshing the session.

[2021-02-10 03:39] haverchuck commented on #370
@brunovsiqueira Does the session refresh when you attempt to make any other Amplify API call?  Or are you using Auth only?

[2021-02-10 03:58] djsjr commented on #371
Password was too short. Found out by checking the settings in the backend UI. Suggest adding in the tutorial that the default min length is 8. (Firestore min length is 6.)

[2021-02-10 03:58] #371 closed

[2021-02-10 04:16] haverchuck commented on #370
@brunovsiqueira Also - have you checked that the refresh tokens are not actually expired? In that scenario, prompting the user to sign in again would be the correct step.

[2021-02-10 04:22] brunovsiqueira commented on #370
I am using Auth only.

How can I check this? I thought Amplify would handle refresh token for me and provide Credentials (JWT) always when I fetch session. This is not the expected behavior?

Signing out user and signing in again every time session expires (and it seems to expires very early) is not good in therms of experience.

[2021-02-10 04:31] haverchuck commented on #370
Eventually, the refresh token will expire and Amplify will no longer be able to refresh the tokens, and the user will need to sign in again.  This depends on the configuration of your Cognito User Pool.  Access and ID tokens can be between 5 minutes and 1 day, while refresh tokens can be valid for 1 hour to approx. 10 years.  By looking at your Cognito User Pool App Client, can you tell whether pe

[2021-02-10 04:35] haverchuck commented on #370
@brunovsiqueira You can find a good explanation w/ test steps [here](https://github.com/aws-amplify/amplify-ios/issues/1028#issuecomment-776121181).

[2021-02-10 05:49] kjones commented on #274
Not sure if I was just getting lucky before 0.0.2-dev.2 but another breaking change seems to be that AmplifyAPI plug must now be manually added when using DataStore for backend sync to happen.

[2021-02-10 06:15] kjones commented on #365
Looks good. Thanks.

[2021-02-10 06:29] gauravmehta13 commented on #344
![image](https://user-images.githubusercontent.com/51997260/107473863-5c6fda00-6b97-11eb-8f70-37e16665ae1f.png)
Giving this error after update

[2021-02-10 06:30] gauravmehta13 commented on #344
![image](https://user-images.githubusercontent.com/51997260/107473961-81fce380-6b97-11eb-8f74-d52d274aa714.png)
for this line, Can you tell me wht to replace for catching auth error

[2021-02-10 06:50] kjones commented on #363
Every list type I listed above seems to be working. Can't save or sync a model with an enumList now on iOS which I think was working in 0.0.2-dev.1.

Test project here: https://github.com/kjones/datastore_test

[2021-02-10 12:20] brunovsiqueira commented on #370
Hi @haverchuck. Thanks for your explanation.
My refresh token expiration is set to 30 days. If the session is expired, why am I getting that user is signedIn when I try to fetch session without asking for credentials? In my opinion the behavior should be the same in both cases.

[2021-02-10 17:31] kjones opened #373 "Publishing Amplify Flutter packages breaks apps that refer to older versions of the SDK"
When a new version of amplify-flutter is released apps that depend on older versions of the SDK end up pulling artifacts from the new SDK.

The pubspec.yaml being used to build the SDK refers to its own version using '^' instead of a specific version. Ex:
[code]
Therefore any app that refers to say `0.0.2-dev.1` may instead get `0.0.2-dev.2` artifacts pulled in for some transitive dependencies.

[2021-02-10 17:36] Amplifiyer commented on #274
Good catch. We didn't have the API Plugin implemented before so the native library's API plugin was added by default to get the online sync working. Now the customers would need to add the API plugin specifically to their app like other platforms. I'll update this issue.

[2021-02-10 17:47] kjones commented on #373
Example build where you see amplify_auth_cognito-0.0.2-dev.1 fail due to building with transitive dependencies that got pulled in from 0.0.2-dev.2.
[code]

[2021-02-10 18:11] Amplifiyer commented on #344
@gauravmehta13 Please see our list of breaking changes that include the error types change. `AuthError` is now `AuthException` with more fine granular [subtypes ](https://github.com/aws-amplify/amplify-flutter/tree/master/packages/amplify_auth_plugin_interface/lib/src/Exceptions)

`AmplifyAlreadyConfiguredException` is exported from the top level package `amplify_flutter`. Please clean your projec

[2021-02-10 19:23] kjones commented on #249
I think this is fixed somewhere after Android SDK 1.6.8. Thx.

[2021-02-10 19:23] #249 closed

[2021-02-10 20:43] fjnoyp commented on #373
Thanks for bringing this to our attention @kjones

Could you share your pubspec.yaml here?  Do you import your dependencies like (1) or (2)?

(1)
  amplify_flutter: '<1.0.0'
  amplify_auth_cognito: '<1.0.0'
  amplify_analytics_pinpoint: '<1.0.0'

(2)
  amplify_flutter: ^0.0.2-dev.1
  amplify_auth_cognito: ^0.0.2-dev.1
  amplify_analytics_pinpoint:^0.0.2-dev.1

[2021-02-10 20:44] fjnoyp commented on #368
Hi @bostaginting are you testing on iOS or Android?

[2021-02-10 21:18] kjones commented on #373
We specify versions explicitly:
[code]

[2021-02-10 21:22] Amplifiyer commented on #363
It seems enum lists need to be of `.embeddedCollection` type as well. If that's the case I can't imagine it being working before 0.0.2-dev.2. Will verify and launch it in next release.

[2021-02-10 21:28] kjones commented on #363
That could certainly be the case. I hadn't played with this test app since early Jan at the time of the 0.0.1-dev.6 release so memory is a little vague.

Thx

[2021-02-10 22:43] fjnoyp commented on #373
Thanks for sharing that @kjones

We now recommend that you import the Amplify Flutter pubspec dependencies using:

amplify_flutter: '<1.0.0'
amplify_auth_cognito: '<1.0.0'
amplify_analytics_pinpoint: '<1.0.0'

instead of hardcoded 0.0.2-dev.2 / 0.0.2-dev.1 etc.

[2021-02-10 22:50] kjones commented on #373
But won't this give me the latest every time you release whether I'm ready for it or not?

[2021-02-10 23:02] fjnoyp commented on #359
Hi @seanbrhn3 unfortunately I am not able to reproduce this error on my side.  Could you try updating to ios platform 13 in your podfile instead and see if that fixes your problem.

[2021-02-10 23:07] fjnoyp commented on #348
Hi @Bogatinovski I spoke with the Android and iOS teams and unfortunately they indicated there aren't any plans as of yet to support Kinesis.

If this is an important missing feature for you, I recommend creating a feature request issue on the Amplify iOS and Android for Kinesis support:

https://github.com/aws-amplify/amplify-android/issues?q=is%3Aissue+is%3Aopen+kinesis
https://github.com/aws-am

[2021-02-10 23:29] pierceglennie commented on #5
Hi @Amplifiyer. Is custom auth supported by this library yet? Specifically, I'm using a magic link set up with Amplify on the web (which works well) and I'm trying to support it on iOS and Android with Flutter. It doesn't seem to be working but I'm not sure if that's because the library just doesn't support it yet or if I'm doing something wrong.

If it's not supported, do you have any idea when i

[2021-02-11 00:31] Ashish-Nanda commented on #373
@kjones is it recommended/common to pin versions of libraries in flutter apps?

In this case I believe the is the issue more with the fact that in the `-dev` releases we are not being as strict about breaking changes.

But my assumption would be that developers would use a carat in their `pubspec.yaml` like so to intentionally pull in the latest minor version of the library:

[code]

[2021-02-11 01:18] fjnoyp commented on #360
Hi @zoenberger

So to clarify, you're able to get push notifications if you target by device token, but do not get push notifications if you target a segment?

[2021-02-11 01:24] zoenberger commented on #360
Hi @fjnoyp

Yes, that is correct. I can send a "test" message to any device using a token. In this case, I only made one device use the "premium" plan.

The events I created were used with anonymous authentication (which the Amplify CLI scaffolded into Cognito). I think the issue is that since we're not using Cognito there is no way for the user metadata to be saved and associated with that device

[2021-02-11 01:32] seanbrhn3 commented on #359
So I did that and this is the error ```  /Users/seanbrown/projects/apps_flutter/watMobile/ios/Pods/AppSyncRealTimeClient/AppSyncRealTimeClient/Connection/AppSyncConnection/AppSyncSubscriptionConnection+ErrorHandler.swift:9:8: error: compiling for iOS 9.0, but module 'Starscream' has a minimum deployment target of iOS 13.0: /Users/seanbrown/projects/apps_flutter/watMobile/build/ios/Debug-iphonesimu

[2021-02-11 01:46] haverchuck commented on #370
@brunovsiqueira That behavioral difference is awkward, you're correct.  That aside - are you able to resolve this issue by re-logging in the user?  Did you confirm that the refresh tokens were simply expiring?

[2021-02-11 03:00] kjones commented on #373
This isn't really an issue about how I'm specifying package versions. It's about the way you are specifying package dependencies between your own packages within each release.

Note that the build error shown above is not due to our code needing to be updated. This shows an error within your own library where a `0.0.2-dev.1` artifact attempts to build using a dependency that resolved to a `0.0.2-d

[2021-02-11 04:29] Ashish-Nanda commented on #373
Yes I totally agree, this is unrelated to the issue. I was asking out of curiosity if this is a common practice in Flutter.

The problem here is that along with using the `^` we also did a breaking change in the next release without bumping the major version. I noted this above, and it was a miss on our part:

I agree that at this point certainly we do not need to use the `^` and can simply pin th

[2021-02-11 05:15] kjones commented on #373
Using pinned versions is a decision we came to after getting bit several times by package developers who don't correctly update version numbers when introducing breaking changes. It also helps us make sure that we are shipping the exact same code that was tested with the exact same dependency versions.  After a release, we'll manually update dependencies so they get tested throughout the next rele

[2021-02-11 07:18] Bogatinovski commented on #348
@fjnoyp I will certainly raise the feature requests.
In the meantime I am planning as a temporary solution to access Kinesis through AWS API Gateway Proxy, as per [this documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/integrating-api-with-aws-services-kinesis.html)
We will have to implement our own local batching logic inside the  Flutter app but at least we'll be able t

[2021-02-11 12:12] eroamba opened #377 "I can't upload file with flutter i received this erreor "UPLOAD_FILE_OPERATION_FAILED""
Hi, I want to upload file with amplify.I tried all video and Tuto but didn't worked .I received This error "UPLOAD_FILE_OPERATION_FAILED". This is my code and my configuration amplify

[code]

**This my amplify configuration:**

[code]

*I would like to know , should I Configurate authCognito login and password first?**
Thanks

[2021-02-11 12:51] brunovsiqueira commented on #370
I am pretty sure that was the reason and I am logging out the user when session expires. If this problem happen again I let you guys know.

[2021-02-11 18:19] Amplifiyer commented on #327
@zoenberger, I tried updating my android/build.gradle to 4.1.0 and I am still not able to reproduce this error. If you are able to reproduce it by reverting your android gradle plugin, would you be able to upload your app to a github repository which we can pull down to see this error?

[2021-02-11 18:25] Amplifiyer commented on #188
@vvjathavadekar This should have been fixed in the latest release of Amplify 0.0.2-dev.2. Please test and let us know if you face any issues.

[2021-02-11 18:25] #188 closed

[2021-02-11 18:38] Amplifiyer commented on #163
@brunovsiqueira is this the same issue as https://github.com/aws-amplify/amplify-flutter/issues/370
In your last comment you mentioned you are using 0.0.1-dev.4, are you facing these issues with the latest release as well?

[2021-02-11 18:39] #163 closed

[2021-02-11 18:42] Amplifiyer commented on #248
`fetchUserAttributes` is now available in the latest release 0.0.2-dev.2. Get started here https://docs.amplify.aws/lib/auth/user-attributes/q/platform/flutter#fetch-the-current-users-attributes

[2021-02-11 18:42] #248 closed

[2021-02-11 18:49] zoenberger commented on #327
@Amplifiyer  thanks for response. I temporarily added my project and it's supporting project to a couple new private repositories and added you as collaborator:

https://github.com/zoenberger/castissue
https://github.com/zoenberger/castissuesupport

1. Clone both repos into same folder.
2. Open castissue project and load packages
3. Attempt build and it fails with issue described.

Note: I just fo

[2021-02-11 19:27] haverchuck commented on #370
@brunovsiqueira I am closing this issue, but if you have continued problems please reach out.

[2021-02-11 19:27] #370 closed

[2021-02-11 20:58] Amplifiyer commented on #359
@seanbrhn3 I tried your reproduction steps on a new app with these dependencies and I'm unable to reproduce it. Would you be able to upload your app to a github repository which we can pull down to see this error?

[2021-02-11 22:04] #363 closed

[2021-02-11 22:46] rmargolinross opened #379 "Remove ios social sign in pop up"
**Describe the bug**
Currently if you set up social sign in through amplify on flutter, on ios devices you get the pop up requesting to give amazoncognito.com permission. This happens on sign in and sign out. This should be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up social sign in
2. Run it on an ios device

**Expected behavior**
Sign in works without any extra pop ups and

[2021-02-11 22:57] brunovsiqueira opened #380 "Unhandled Exception: AmplifyAlreadyConfiguredException(message: Amplify has already been configured., recoverySuggestion: Remove the duplicate call to `Amplify.configure()`, underlyingException: null)"
Using the latest version and getting AmplifyAlreadyConfiguredException. I am calling Amplify.configure and trying to handle the exception by catching it, but it seems not to work.

Amplify.addPlugin(AmplifyAuthCognito());
  try {
    Amplify.configure(amplifyConfig);
  } on AmplifyAlreadyConfiguredException catch(e) {
    print(e);
  }

Should I do something different?

[2021-02-11 23:55] Amplifiyer commented on #380
@brunovsiqueira, can you put await on the `Amplify.configure(amplifyConfig);` and see if that helps?

[2021-02-12 00:20] Amplifiyer commented on #327
@zoenberger I still don't seem to have the access to these repo. I didn't get an invitation for collaboration.

[2021-02-12 00:34] zoenberger commented on #327
@Amplifiyer  I realized I invited some random account jajajaja. That person's username is "amplifyer" without the "i"

Please check again

[2021-02-12 00:54] Amplifiyer commented on #327
Thanks @zoenberger, I can see the repo and reproduce the issue and can confirm that downgrading the gradle plugin resolves it. Next is to figure out what's the difference in my project that I can't reproduce even with `4.1.0`

[2021-02-12 01:05] Amplifiyer commented on #327
ok, it seems the difference was the `compileSdkVersion` which I've been using 28 for my app and it was 29 in @zoenberger's app. Still not sure why that would cause a problem still both should include the same version of kotlin

[2021-02-12 01:18] Amplifiyer commented on #327
After fixing that bug, I'm running into this issue while building the app https://issuetracker.google.com/issues/158753935

[2021-02-12 17:20] haverchuck commented on #305
@uttusharma I have just tested the latest version of amplify-flutter (not yet released) and did not have any issues installing and running the release .apk on an emulator (signup/signin worked as expected).

Are you seeing this behavior on emulators, or only on physical devices?

[2021-02-12 17:23] haverchuck commented on #313
@graphicbeacon This is expected behavior on iOS.  For the time being, we are going to be enforcing this behavior on Android as well. An exception to this behavior is when a logged in user has expired userpool tokens.  In this case, you can call signin without signing out first (on both platforms). Thanks for calling this out.

[2021-02-12 18:42] haverchuck commented on #317
@brunovsiqueira @mufeedamhdali Does this still happen on `amplify-flutter 0.0.2-dev.2`?

[2021-02-12 18:43] brunovsiqueira commented on #317
@haverchuck I will test and I let you know.

[2021-02-12 19:41] brunovsiqueira commented on #380
@Amplifiyer It seems to solve the issue. Thanks for your quick response.

[2021-02-12 21:36] euriasb opened #385 "PlatformException Translating platform exception failed."
**Describe the bug**
A PlatformException is thrown because SignedOutException cannot be translated

Message:

PlatformException (PlatformException(SignedOutException, Translating platform exception failed. Please take a look at https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that match your scenario, and file an issue with the details of the bug if the

[2021-02-12 21:53] Amplifiyer commented on #385
@euriasb can you confirm that you are awaiting on the Auth category API calls in your try catch? Can you post your code snippet here.

[2021-02-12 21:56] #380 closed

[2021-02-12 21:58] euriasb commented on #385
Yes I am, here is the snippet:

[code]

[2021-02-12 22:06] fjnoyp commented on #368
@bostaginting we were able to reproduce this issue on iOS.  We have a fix that will be merged and included in our next release:
https://github.com/aws-amplify/amplify-flutter/pull/383

[2021-02-12 22:22] haverchuck commented on #385
@euriasb What is your cognito configuration? Are you using a userpool + identity pool, and if so, are you allowing unauthenticated access?  Or are you using a userpool only?

[2021-02-13 02:00] euriasb commented on #385
UserPool only, no unauthenticated access.

But for some reason the problem seems to have gone away, I was having other issues so I did a flutter clean, restarted VS Code and now it is working as expected.

[2021-02-14 05:55] uttusharma commented on #305
We are seeing this behavior on the physical devices only.

[2021-02-15 12:22] NepipenkoIgor opened #390 "fetchAuthSession doesn't work with CognitoSessionOptions(getAWSCredentials: true)"
**Describe the bug**
Hi all. Thanks. it is amazing implementation for flutter. But i have strange result. Everything looks like in documentation and everything works. For example `Amplify.Auth.signIn` or `Amplify.Auth.signOut`.  But when i try to call `Amplify.Auth.fetchAuthSession(
          options: CognitoSessionOptions(getAWSCredentials: true));` for example after signIn i have an error . With

[2021-02-15 15:57] haverchuck commented on #385
@euriasb I am closing this issue since it seems to have resolved on your end.

[2021-02-15 15:57] #385 closed

[2021-02-15 16:03] haverchuck commented on #390
@NepipenkoIgor What is your Cognito configuration?

[2021-02-15 16:23] NepipenkoIgor commented on #390
@haverchuck

const String amplifyconfig = ''' {
  "UserAgent": "aws-amplify-cli/2.0",
  "Version": "1.0",
  "auth": {
      "plugins": {
          "awsCognitoAuthPlugin": {
              "IdentityManager": {
                  "Default": {}
              },
              "CredentialsProvider": {
                  "CognitoIdentity": {
                      "Default": {
                          "Poo

[2021-02-15 17:01] haverchuck commented on #390
Ok, thank you. Is the error you are seeing identical across both iOS and Android?

[2021-02-15 17:02] Amplifiyer commented on #390
Looks similar to https://github.com/aws-amplify/amplify-ios/issues/877

Couple questions:
* Did you observe this in android as well? If yes, please add the logs to this issue.
* Based on the above issue I referenced, are you able to call `fetchAuthSession` successfully after few seconds (such as 5?). And are you awaiting the results of the signin before calling `fetchAuthSession`

[2021-02-15 17:25] Amplifiyer commented on #305
@uttusharma are you still experiencing this issue `on 0.0.2-dev.2` version of the library?

[2021-02-15 17:57] Ashish-Nanda commented on #377
@eroamba What version of the library are you using.
Also can you share he error details so we can see the underlying reason why the error occurred?

[2021-02-15 19:23] eroamba commented on #377
Hi ,this is my code error and my function upload
StorageException
runtimeType:Type (StorageException)
hashCode:17530881
message:"UPLOAD_FILE_OPERATION_FAILED"
details:Map (1 item)
code:"UPLOAD_FILE_FAILED"
[code]

[2021-02-15 19:32] NimaSoroush commented on #377
I have similar issue.
I confirm that my setup works perfectly fine on IOS but android fails with above error

[2021-02-15 19:35] NepipenkoIgor commented on #390
@haverchuck @Amplifiyer   yes i have error on Android too

logs
[code]

i will process flow in epic . Redux widdleware

[code]

And it is very strange but if i remove `CognitoSessionOptions(getAWSCredentials: true)`
everything works but with this output

[code]

[2021-02-15 21:55] seanbrhn3 commented on #359
@Amplifiyer I'll add you as a collaborator to take a look sorry for the wait.

[2021-02-15 22:26] Amplifiyer commented on #5
Amplify-flutter is now GA with new stable release `0.1.0`
https://aws.amazon.com/blogs/aws/amplify-flutter-is-now-generally-available-build-beautiful-cross-platform-apps/

[2021-02-15 22:37] Amplifiyer commented on #327
This is released in the new version `0.1.0`. Let us know if you face any issues

[2021-02-15 22:37] #327 closed

[2021-02-16 04:12] bostaginting commented on #368
ok thank you, already testing it, and it works now thank you.

[2021-02-16 04:12] #368 closed

[2021-02-16 07:13] uttusharma commented on #305
I haven't tested this on 0.0.2-dev.2 yet

[2021-02-16 16:52] hysuki commented on #335
no more error in ^0.1.0

[2021-02-16 16:52] #335 closed

[2021-02-16 18:19] Ashish-Nanda commented on #373
@kjones We released version `0.1.0` yesterday and have pinned the versions of the dependencies that we own.

We plan to do this going forward, and will share an update with the community if anything changes.

Pinning the version should work correctly now. Will go ahead and close the issue, but let us know if you encounter issues and I'll re-open.

[2021-02-16 18:19] #373 closed

[2021-02-16 18:56] kjones commented on #373
Thanks @Ashish-Nanda - Congrats on the release and thanks for the hard work to the whole team.

[2021-02-16 19:51] haverchuck commented on #390
@NepipenkoIgor Did you set up your Cognito resources with the Amplify CLI?

[2021-02-16 21:28] kjones commented on #5
@Amplifiyer and the entire team. Congratulations and thanks for all of the hard work!

[2021-02-16 21:36] haverchuck commented on #5
@pierceglennie When you say "magic link set up with Amplify" you mean the email link set up with Amplify CLI?  If so, how exactly are you doing the routing in flutter?

To answer your question - We are working on finalizing the custom auth capabilities of amplify-flutter, so please stay tuned.

[2021-02-16 21:47] haverchuck commented on #340
@brunovsiqueira Is this still occurring with version 0.1.0?

[2021-02-16 22:10] NepipenkoIgor commented on #390
@NepipenkoIgor  Yes. I discussed with my team and i removed it from configuration . Because we used only userPoll .  Now everything works. Problem was with configuration .  Also i didn't setup and i needed to use existing one . We have a web application that used Cognito

[2021-02-16 22:10] #390 closed

[2021-02-17 08:05] kjones opened #395 "DataStore - iOS - observe() stops working after clear()"
Amplify SDK Version: 0.1.0
Test project can be found here: https://github.com/kjones/datastore_test/

iOS Only. `DataStore.observe()` no longer works after calling `DataStore.clear()`. It all works great until a call to `DataStore.clear()` is made. From that point on, model change events cease. It doesn't matter if I cancel the `observe()` subscription before calling `clear()` or not. Current test

[2021-02-17 13:00] pierceglennie commented on #5
Sorry, I should have been clearer. The log in process on our website is:

- User enters their email and requests a log in link. The link contains a one time log in code as a query parameter

- When they click the link, we take them to a log in page which authenticates them using Amplify. Basically we call sign in with just the username (no password) and then respond to the custom auth challenge wi

[2021-02-17 18:40] uttusharma commented on #305
I just tested on `0.1.0` version **issue still persists**.

[code]

[2021-02-17 19:22] uttusharma commented on #305
Thanks for your support!🙏
Issue is resolved 🎉

[2021-02-17 19:22] #305 closed

[2021-02-17 20:03] Amplifiyer commented on #359
thanks @seanbrhn3. What flutter version are you using? I was on a stable Flutter 1.22 and I didn't get the error and your project build successfully. I then changed to master channel and upgraded to latest flutter `Flutter 1.27.0-2.0.pre.135` and started seeing the error you observed.

[2021-02-17 20:10] Amplifiyer commented on #359
Changing back to latest stable branch of flutter also fixed the issue

(after cleaning the workspace `cd ios && pod deintegrate && pod cache clean --all && rm Podfile.lock && cd .. && flutter clean`)

[2021-02-17 21:11] fjnoyp commented on #360
Hi @zoenberger

Did adding in Cognito fix the issue you were encountering here?

[2021-02-17 22:22] fjnoyp commented on #348
Nice glad to hear you've found another solution to use Kinesis.

[2021-02-17 22:35] zoenberger commented on #360
@fjnoyp This "issue" is not a problem related to Cognito. I'm trying to better understand what use cases are currently supported with Amplify Flutter.

[2021-02-17 22:55] fjnoyp commented on #319
Hi @jobypthomas @DanielChuDC another customer has investigated adding push notifications to their flutter app with some success ..

I'll need to investigate what he did more to give you a better idea of what's possible, in the meantime you can check out the issue to see what they've attempted:

https://github.com/aws-amplify/amplify-flutter/issues/360

[2021-02-17 23:13] haverchuck commented on #244
@Tapasm1212 Are you still having this issue?

[2021-02-17 23:23] haverchuck commented on #135
@mizzb @brunovsiqueira By 'without CognitoIdentity' I assume you mean 'without a Cognito Identity Pool'.  If that's the case, then yes-  you can configure Cognito to use a UserPool only (although I don't believe this is necessarily recommended depending on the other Amplify categories you may wish to use).

If you're using the Amplify CLI, you can run `amplify add auth` and the select `Manual conf

[2021-02-17 23:23] #135 closed

[2021-02-17 23:27] haverchuck commented on #93
@danielvtan On the Android platform, you will now receive an exception similar to the iOS platform (if using version 0.1.0).  Some might see this as less than ideal - but it was the safest way to enforce uniformity between platforms.  There is still a divergence in the event that a user has signed in but a session has expired - it is discussed in our [documentation](https://docs.amplify.aws/lib/au

[2021-02-17 23:28] #93 closed

[2021-02-17 23:59] Amplifiyer commented on #395
I can reproduce this issue in a different app. I could see the remote mutations being synced down but the local observer seems to have shut down and making any DataStore API call restarts it (such as query or save)

@kjones can you confirm that after calling `clear()` if you just make a dummy query() call everything works?

[2021-02-18 00:33] kjones commented on #395
@Amplifiyer Yes everything appears to work fine. The only thing broken appears to be that all past or future calls to observe() will never receive any data.

I was debugging in the iOS Swift DataStore plugin code last night and found that the observe() error callback gets called when calling clear() from the Flutter app. That callback appears to tear down all the "necessary parts" for notifying th

[2021-02-18 00:39] DanielChuDC commented on #319
@fjnoyp this would be give some helps that we can do the push notification programmatically. Ultimately, we should be able to
1. Target push notification based on campaign.
2. Specific condition written in aws lamda with sns.
3. Based on the database changes to trigger push notification.

thanks for the referencing!

[2021-02-18 00:42] kjones commented on #395
Think I may have answered this wrong... Additional query() or save() calls do not restart item change notifications. I can see the items getting synced when debugging in the iOS SDK but they never get forwarded to Flutter.

So, when I said "Yes everything appears to work fine", I was referring to the fact that the data is all there in the local DB. query() and save() calls still work. They save da

[2021-02-18 04:55] seanbrhn3 commented on #359
I see I've been running Flutter 1.27.0-2.0.pre.64  I think I need to go back to the stable version of flutter

[2021-02-18 06:42] bjoern-from-kopply commented on #234
I already voted for this but also want to show some support for this topic. Personally, I prefer using a PWA than installing a full application on my computer.

Web is a super fast and easy way to make your service available on a broad range of devices and onboard new users who can, later on, download the app. But it reduces the burden for them to start using the product in the first place signifi

[2021-02-18 16:38] rlee1990 commented on #308
Is there a timeline on GraphQL Request Helpers?

[2021-02-18 17:36] omchiii opened #396 "UserCancelledException on signInWithWebUI(Android only, works fine on IOS)"
**Describe the bug**
After following all the instructions in the official documentation, sign in with web ui sends me back to my application(using my uri) and just throws an error : UserCancelledException{message=The user cancelled the sign-in attempt, so it did not complete. I'm using Amplify Auth 1.0.1. I tried using the latest code from the repo but this didn't solve the issue as well.

**To Re

[2021-02-19 00:17] haverchuck commented on #396
@omchiii The differeing implementation could be at play here; however, we implement the response hander in our amplify-flutter native code.  There could be some sort of bug in our implementation, but I am unable to repro this issue currently.  In your AndroidManifest file, are you using just a domain for the app or an additional signin path?  I noticed that some (not all) of our docs show a full p

[2021-02-19 00:32] haverchuck commented on #396
@omchiii Can you specify one or two of the devices/emulators you've been testing on?

[2021-02-19 00:33] rlee1990 commented on #260
I too have this same issue when trying to use codegen and using the S3Object example with graphql schema

[2021-02-19 12:58] kjones commented on #395
@Amplifiyer Any more thoughts on this. The sequence of calls to DataStore I'm using in [the test app](https://github.com/kjones/datastore_test/blob/main/lib/main.dart) basically looks like this:
- Register and configure plugins
- Subscribe to DataStore Hub events
- DataStore.query() - To kickstart DataStore since there is no .start() in DS Flutter
- Wait for "ready" hub event
- DataStore.observe()

[2021-02-19 15:09] omchiii commented on #396
1. Samsung Galaxy S7 Edge,  Xiaomi mi 8 lite & a Huawei device Y2
2. Amplify.Auth.signInWithWebUI(
                provider: AuthProvider.google);
3. I see the select Google Account screen, I select the account it takes me back to the app and gives me this error: `I/flutter (20740): The user cancelled the sign-in attempt, so it did not complete.`

[2021-02-19 17:21] Amplifiyer commented on #395
@kjones I think the below is an issue and was assumed to work like android. I'll discuss this with iOS team and report back.

[2021-02-19 20:30] kjones commented on #260
I would like to request that this issued be turned into a bug instead of a feature request in hopes of elevating its priority.

Nested types are supported on all other platforms and without this support I am still resorting to using my own custom DataStore plugin for Flutter ([described here](https://github.com/kjones/flutter-datastore-example)) I created back in September.

Do you know of any wor

[2021-02-19 21:47] fdarsot opened #398 "Remote or Global Sign Out feature"
Firstly, great work with the package. appreciate all the work.

I was wondering can a feature be added where as soon a user Signs in via Amplify.Auth, the system logs the user out of all other active sessions? This way only a single user can be logged into a single device at a time.

Also, I noticed with the new release, the global signout option was deprecated.

[2021-02-19 23:34] lawmicha commented on #395
To better understand the behavior on iOS DataStore, I'm running the actions in this [sample app](https://github.com/lawmicha/DatastoreObserve)

**There are no events when observer is not set up**
1. Save - Save is successful to local DB, no events on the subscription

**Events come through when observer is set up**
2. Set up observer - successful
3. Save - Save is successful, mutation events come

[2021-02-20 06:23] nitinkhobragade commented on #292
Hi,

I am getting something even more weird exception when I add CognitoSignUpOptions while registration

E/flutter (23465): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: type '_CompactLinkedHashSet<ViewState>' is not a subtype of type 'Future<Null>?'
E/flutter (23465): #0      _FutureListener.handleError (dart:async/future_impl.dart:169:20)
E/flutter (23465): #1      Future._p

[2021-02-20 06:53] 12ajayvishwa commented on #380
Using the latest version and getting AmplifyAlreadyConfiguredException. I am calling Amplify.configure and trying to handle the exception by catching it, but it seems not to work.

void _amplifyConfigure() async {
    AmplifyAuthCognito auth = AmplifyAuthCognito();

    Amplify.addPlugins([auth]);
    try {
      await Amplify.configure(amplifyconfig);
    } on AmplifyAlreadyConfiguredException {

[2021-02-21 12:05] pedrommarquesm commented on #288
no news on this? version 4.44.0 out and I also have this problem

[2021-02-21 15:57] pedrommarquesm opened #750 "Flutter Codegen Models Query does not return nested models data"
Related Category: DataStore with GraphQL

Amplify CLI version: 4.44.0

Using Amplify with Flutter, with DataStore plugin

While using the Models that were generated with `amplify codegen models`, I cannot get the nested models.
i.e.:
Using the provided schemas examples (Blog->Post->Comment), when querying all Blogs (or 1 particular Blog), I do not receive the Post data from that Blog

Proof:

![im

[2021-02-21 18:34] pedrommarquesm commented on #260
any chance #6695 is related to this?

[2021-02-21 21:07] kjones opened #400 "DataStore - codegen - Exception when schema type is float and underlying is a whole number"
The generated models don't properly handle the case when the GraphQL schema is specified as `Float` and the underlying stored value is a whole number. An exception gets thrown with the message `Unhandled Exception: type 'int' is not a subtype of type 'double'`.

**To Reproduce**
1. Create a schema with a Float field.
2. Set the field value to a whole number.
3. Save the model.
4. Query for the new

[2021-02-21 21:25] fjnoyp commented on #400
Hi @kjones thank you for bringing that to our attention!  I'll take a look into this.

[2021-02-22 12:46] FirdousNath opened #401 "Remove browser redirection after signOut() in app using social sign in"
This behaviour is seen under android whenever I call `Amplify.Auth.signOut()` it opens up chrome with redirection link. I also tried removing metadata field inside amplifyconfiguration.dart file.
` "SignInRedirectURI": "",
                            "SignOutRedirectURI": "",`

Can someone know how to remove redirection ?

[2021-02-22 13:48] DanieduPlessis opened #402 "Flutter Datastore not working on IOS"
**Describe the bug**
Unable to run app on IOS device after adding amplify_datastore 0.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new flutter app
2. Add amplify_core: ^0.1.0 and  amplify_datastore: ^0.1.0 to the pubspec lock file
3. Uncomment the 2nd line in the Podfile, and change it to platform :ios, '11.0'
4. execute Flutter run to run the application on IOS.

**Expected

[2021-02-22 15:30] fjnoyp commented on #402
Hi @DanieduPlessis

Are you able to deploy your app to an iPhone simulator?  Also, are you able to build your Flutter project before adding Datastore or any of our Amplify Flutter libraries?

I haven't personally encountered this issue before, but looking online, it appears this website might have a solution:

https://community.axway.com/s/question/0D52X00007eJIuSSAW/dtdevicekit-devicetype-from-de

[2021-02-22 21:48] Amplifiyer commented on #402
@DanieduPlessis DataStore on iOS only supports iOS 13 and onwards. Can you change your Podfile to `platform :ios, '13.0'` and let us know if that fixes it for you?

[2021-02-23 00:27] fjnoyp commented on #360
Hi @zoenberger

Looked more into this issue and found that targeting devices by segment will not work.  The Amplify Flutter library is built on Amplify iOS and Android native libraries which currently have no official support for push notifications.

Pinpoint can send push notiications with either an endpoint ID or a device token.  You got device token to work, but segment targeting will not work

[2021-02-23 00:28] fjnoyp commented on #360
Feel free to upvote that issue to give it more visibility to our team as well.

If you don't mind, I will close this issue soon so that we can keep track of push notification support in a single issue (319).

[2021-02-23 00:33] fjnoyp commented on #319
Hi @DanielChuDC thanks for clarifying your needs.

We are considering adding push notification support possibly in the future and can keep you updated in this issue here.

[2021-02-23 01:00] fjnoyp commented on #400
Hi @kjones I am unable to reproduce your issue on Android or iOS.  I created a test model with a float field and then saved a whole number to it:

`      await Amplify.DataStore.save(TestFloat(intType: 5, floatType: 5));
`
When I call query, I am able to retrieve this model without issue:

[code]
Result:

Could you provide more details on what your model was and how you saved it?  Also, which vers

[2021-02-23 01:41] kjones commented on #400
OK. I wasn't sure of the exact last step and threw in the `query()` whereas I'm really using `observe()`.

I wonder if this needs to be a roundtrip to the backend so that when received on the client it deserializes as an int. The key was getting the backend to store the value in DDB as type `N` with no decimal place. i.e. `1` instead of `1.0`. I thought round-tripping to the local DB would do it b

[2021-02-23 02:38] kjones commented on #400
So revisiting [my test app](https://github.com/kjones/datastore_test) shows that I did a pretty crappy job of writing this up. I assumed it was the normal deserialization but it actually was happening when processing Hub events.
[code]
SDK version is 0.1.0
[This commit](https://github.com/kjones/datastore_test/commit/743541739f570dc240ed8bf0ca913fc0ba982dcc) shows the changes I made to get the abo

[2021-02-23 04:22] kjones commented on #400
Confirmed that using `observe()` will make this happen also and it does appear to be the roundtrip to the backend that causes it. When the underlying is a fractional number, the `observe()` stream listener is called twice for every mutation. I'm guessing once for the local mutation and once with the response from when DataStore syncs the mutation to the backend. When the underlying is a whole numb

[2021-02-23 06:00] FirdousNath commented on #143
How you resolved it ?

[2021-02-23 06:37] deimantasa commented on #143
Hi @FirdousNath , we've decided to drop amplify due to too many issues at that point. But I heard now it should be much more stable. As when we had a chance to play with it, it was still in very early stage of development.

[2021-02-23 14:43] roberthelmick08 opened #404 "MissingPluginException(No implementation found for method configure on channel com.amazonaws.amplify/amplify)"
**Describe the bug**
When launching my app I'm receiving a `MissingPluginException`. I have configured Auth via the Amplify CLI using the default configurations and I can confirm that the Auth resources are pushed to the cloud. I've checked `amplifyconfiguration.dart` and the keys do match. The error also occurs when I start a fresh project and follow the Amplify `Project Setup` tutorial

I've tri

[2021-02-23 16:20] fjnoyp commented on #143
Hey @deimantasa we're sorry to hear that.  We had our GA release last Monday so the current version is much more stable.

@FirdousNath could you explain your issue in a separate Git issue so we can help you?

[2021-02-23 17:52] Amplifiyer commented on #404
@roberthelmick08 Amplify-flutter currently doesn't support Web platform and it's expected to get this error when running on Web platform. Please see https://github.com/aws-amplify/amplify-flutter/issues/234

You mentioned you are getting this error on iOS and Android, can you paste the logs here that you see from these platforms?

[2021-02-23 18:01] roberthelmick08 commented on #404
Sorry, that was a typo, I am only getting the error on the web--I edited the post just now.

Are there any plans to support amplify-flutter on the web?

Also perhaps the Amplify-Flutter documentation should be updated. It reads "The open-source Amplify Framework provides the following products to build fullstack iOS, Android, Flutter, Web, and React Native apps". It would have been helpful to expl

[2021-02-23 18:16] Amplifiyer commented on #404
@roberthelmick08 We are evaluating the support for web platform in amplify-flutter library. Please +1 at #234.

I agree that this is confusing. Amplify does support web but not from amplify-flutter library. See [Amplify JavaScript
](https://docs.amplify.aws/lib/q/platform/js). We'll update the docs to clarify that.

[2021-02-23 19:18] fjnoyp commented on #157
Hi we are taking a look into this issue and actively working on a fix.  Currently if you add one of our plugins to pubspec without adding it via the amplify cli as well the above issue will occur.

[2021-02-23 19:57] roberthelmick08 commented on #404
Thank you for the support, I will close the ticket

[2021-02-23 19:57] #404 closed

[2021-02-23 20:00] roberthelmick08 commented on #234
+1 for web support

[2021-02-23 21:06] zoenberger commented on #360
This is exactly the information I was looking for. Thank you for looking into it.

[2021-02-23 21:06] #360 closed

[2021-02-23 22:05] rmargolinross opened #405 "Implement better error messages for Sign In with Apple"
**Describe the bug**
I am getting this generic error whenever trying to Sign in with Apple. I get all the way through the sign in process and right after I accept the permissions to sign in the error throws as the browser dissapears.

Translating platform exception failed. Please take a look at
https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
match

[2021-02-23 22:22] deimantasa commented on #143
@fjnoyp , no worries mate! Nothing can be perfect. Especially at that early stage. I was happy to read that recently you guys released much higher and more stable version. Keep up great work!

[2021-02-23 23:53] rmargolinross commented on #401
I think I remember reading somewhere that in the iOS package, there is the option to just delete the auth token to sign out. That would be ideal to have for any social sign in on both ios and android if possible.

[2021-02-24 08:53] capraqua commented on #402
I have the same issue. I changed plaftform :ios, '13.0'. It seems Datastore requiring 13.0 but SQLite is at 11.

Here is what i get

Xcode build done.                                            7.3s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/lamnguyen/Documents/Desktop backup/projects/chison_flutter_app/ios/Pods/AmplifyPlugins/Ampl

[2021-02-24 08:58] Marok01 opened #406 "Loading WebUI sign in page fails with AWScognitoAuthErrorDomain error -3000 in iOS simulator."
`**Describe` the bug**
I am creating a POC to test the feasibility of Amplify for authentication for my project.
Currently, I have give the SignInRedirectURI as below:
      "**_SignInRedirectURI_**": "com.auth0.myappdemodemo://login-callback",

This is working as expected in Android simulators.
However, it fails to load the sign in page in iOS iPhone SE( 2nd gen) simulator.

I have also added the

[2021-02-24 09:02] omchiii commented on #405
I had the same issue, mine seem to get fixed after : 1. removing amplify from the cli, 2. update the cli and 3. initialize amplify from the cli again & add auth through cli again. On Android mine does not seem to work.

[2021-02-24 09:55] nithin-seenivasan commented on #298
Updated the post above to reflect current status.

[2021-02-24 16:48] gauravdangi opened #407 "The method 'Amplify' isn't defined for the type '_MyAppState'."
I've just started learning AWS Amplify and followed the step given in https://aws.amazon.com/getting-started/hands-on/build-flutter-app-amplify/module-two/ to initialize Amplify in my flutter project.

But I'm getting **The method 'Amplify' isn't defined for the type '_MyAppState'** error when I'm trying to integrate Amplify (with statement final _amplify = Amplify();) in my App.

**To Reproduce**

[2021-02-24 18:05] Amplifiyer commented on #402
@capraqua which flutter version are you using?

[2021-02-24 18:10] Amplifiyer commented on #407
@gauravdangi, the module that you are referring to is currently out of date. Please follow https://docs.amplify.aws/start/getting-started/setup/q/integration/flutter to get started for now and we will work on updating the module you referred.

[2021-02-24 19:04] haverchuck commented on #406
@Marok01 Have you tried using only the domain, i.e. `com.auth0.myappdemodemo`?

[2021-02-24 19:12] rmargolinross commented on #405
I was actually able to find out the issue, but I am keeping this open as the error message is not helpful. The issue was that I was missing the required email mapping in my cognito setup. It would be helpful to set up some sort of pointer to this configuration issue.

[2021-02-24 20:07] haverchuck commented on #405
@rmargolinross We do [mention this in the documentation](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/flutter#amazon-cognito-user-pool-setup), but perhaps it needs to be more prominent.

[2021-02-24 20:09] haverchuck commented on #405
@rmargolinross I am going to mark this issue as a feature request for more helpful Hosted UI error messaging.  This may require the involvement of multiple teams.

[2021-02-24 20:12] haverchuck commented on #401
Related to this [amplify-android](https://github.com/aws-amplify/amplify-android/issues/1180) issue.

[2021-02-24 20:18] Psquare-0 opened #408 "Disable developer menu in flutter"

[2021-02-24 21:54] #408 closed

[2021-02-24 23:01] haverchuck commented on #396
@omchiii I haven't been able to reproduce this - does your project have a GitHub repo you're willing/able to share? Also, is there any additional console output you could post - particularly anything prefixed with `AWSMobileClient`?

[2021-02-24 23:02] Amplifiyer commented on #288
@liamross, @pedrommarquesm can you try this workaround mentioned here https://github.com/aws-amplify/amplify-flutter/issues/241#issuecomment-755565445

[2021-02-25 00:41] capraqua commented on #402
Flutter Channel beta, 1.26.0-17.6.pre

[2021-02-25 00:45] Amplifiyer commented on #402
There are some issues with Flutter beta version as mentioned here https://github.com/aws-amplify/amplify-flutter/issues/359 Please use stable version of Flutter for now.

[2021-02-25 03:08] capraqua commented on #402
Thanks, here what i did to fix the issue

- Change to stable channel
- rm ios folder
- plaftform :ios, '13.0' in pod file
- change s.platform = :ios, '11.0' to s.platform = :ios, '13.0' in amplify_datastore.podspec

[2021-02-25 04:53] gauravdangi commented on #407
Thanks! Working as expected.

[2021-02-25 04:53] #407 closed

[2021-02-25 09:43] pedrommarquesm commented on #288
@Amplifiyer My project is recent, that flag is set by default on `amplify init`

[2021-02-25 17:48] haverchuck commented on #317
@mufeedamhdali Are you still encountering this issue with the latest version?

[2021-02-25 17:50] haverchuck commented on #290
@naoyashiga[ Hosted UI is now supported in amplify-flutter](https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter), with the ability to bypass the Hosted UI page and proceeed directly to Google, Facebook, Amazon or Apple login page.

[2021-02-25 17:51] #290 closed

[2021-02-25 18:12] haverchuck commented on #120
@jherjati @Tapasm1212 Did you try looking into the possibility that characters are being sliced off the end of the token when you copy and paste, as described by @KrisWozy and @ps0296 ?

[2021-02-25 18:50] fjnoyp commented on #400
Nice thank you for the detailed logs and reproduction steps @kjones

I'll investigate this further.

[2021-02-25 19:04] SpuriousGeek commented on #373
@kjones Really appreciate your comments on this issue. I experienced the exact same problem earlier today and I've also ended up opting to use pinned versions (again because it was the simpler option in my case). I hadn't used VersionLens previously but it's a great tool that I will using to do manual updates going forward.

[2021-02-25 19:10] haverchuck commented on #110
Thanks @gatanaso!  I'm closing this issue for now.

[2021-02-25 19:10] #110 closed

[2021-02-25 19:26] hysuki opened #409 "fetchAuthSession has error that session expired."
**Describe the bug**
when I call fetchAuthSession function for taking access token, has an error that session has expired.

1. successful sign in(with Facebook, Google(web UI), cognito userpool(auth.SignUp, SignIn))
2. call fetchAuthSession function
3. a 'SIGNED OUT' event occurs in the event hub.
4. print error that 'has expired session'.

**Expected behavior**
can take accessToken

**Screenshots

[2021-02-25 20:07] haverchuck commented on #296
@brunovsiqueira I have tested, and we throw an AuthException when a non-existant user is passed to the resetPassword method IF the UserPool is configured to _not_ prevent a User Existance error:
![image](https://user-images.githubusercontent.com/10621276/109210603-e99f5b00-7761-11eb-9514-0f83eb134efa.png)

You can find this configuration in the User Pool console, under the App Clients section.

[2021-02-25 20:13] haverchuck commented on #409
@hysuki Which specific version of amplify_flutter and amplify_auth_cognito are you currently using?

[2021-02-25 20:39] #313 closed

[2021-02-25 20:43] haverchuck commented on #244
Closing this issue as it appears to be a dupe of #120 .  According to the discussion on this other issue, this problem is a caused by truncation in the logs.  I believe the conversation details some solutions.

[2021-02-25 20:43] #244 closed

[2021-02-25 20:50] athirasubair opened #410 "[Feature Request] Custom Auth Flow"
"authenticationFlowType": "CUSTOM_AUTH"

[2021-02-25 20:51] haverchuck commented on #401
@FirdousNath Are you using Hosted UI at all? If you are only using the standard APIs such as `Auth.signIn` and `Auth.signOut`, you can remove the entire "OAuth" block from your amplifyconfiguration.dart file.  This would stop the behavior you are seeing.

[2021-02-25 21:02] haverchuck commented on #180
@vuchau You could explore using a[ CustomMessage](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-custom-message.html) trigger in this scenario.  This trigger is called when confirmation or MFA messages are dispatched, and thus are called immediately after signUp but before user confirmation.  You can create these with the Amplify CLI.

To demonstrate, I created the foll

[2021-02-25 21:20] hysuki commented on #409
@haverchuck

### package version

amplify_flutter: ^0.1.0
amplify_auth_cognito: ^0.1.0
---
### code
[code]

### log
[code]

[2021-02-25 22:03] haverchuck commented on #409
@hysuki Thanks for the additional information.  The code you've provided is working for me. It's curious that the session failure seems to be precipitated by a signout event.  Did you set up with your Cognito resources with the Amplify CLI?  If so, did you use the default options, or did you change anything?  Feel free to post your amplifyconfiguration.dart with any sensitive values obscured.

[2021-02-26 05:01] hysuki commented on #409
@haverchuck I was set Cognito resource by using @aws-amplify/cli@4.44.1.
that include user pool group, social login(facebook, google) and custom message, post confirm triggers(add to group, custom).

amplifyconfiguration.dart
[code]

[2021-02-26 05:06] hysuki commented on #409
IOS have a different error message from android in the same code

[code]

[code]

[2021-02-26 08:48] omchiii commented on #396
I cannot share the source code because of the NDA. But I will send you the complete logs today.

[2021-02-26 10:50] omchiii commented on #396
`W/ample.ev_butle( 2527): Accessing hidden method Lsun/misc/Unsafe;->putObject(Ljava/lang/Object;JLjava/lang/Object;)V (greylist, linking, allowed)
W/ample.ev_butle( 2527): Accessing hidden method Lsun/misc/Unsafe;->putLong(Ljava/lang/Object;JJ)V (greylist, linking, allowed)
W/ample.ev_butle( 2527): Accessing hidden method Lsun/misc/Unsafe;->getLong(Ljava/lang/Object;J)J (greylist,core-platform-ap

[2021-02-26 10:50] omchiii commented on #396
@haverchuck

[2021-02-26 12:20] eroamba commented on #377
@NimaSoroush can you solve the problem with android amplify storage?I have always the same problem

[2021-02-26 14:10] omchiii commented on #396
@haverchuck I am sorry for creating this issue. The reason why all this was not working was because I added the intent filter to the .MainActivity activity instead of creating a new activity with the "com.amazonaws.mobileconnectors.cognitoauth.activities.CustomTabsRedirectActivity" name. This was clearly stated in the documentation, but I somehow missed it.

[2021-02-26 14:10] #396 closed

[2021-02-26 17:40] haverchuck commented on #410
@athirasubair Are you using the Cognito Custom Auth Challenge triggers [as described here](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-challenge.html)?

[2021-02-26 18:40] haverchuck commented on #409
@omchiii Thanks for this information. I'm going to try replicating your config as much as possible.

[2021-02-26 23:26] hysuki commented on #409
@haverchuck  I used amplifyconfiguration, which is automatically generated by amplify, and I did not make any manual changes.

However, for that configuration, I used manual configuration, not default configuration option, and after that the first configuration, have updated several times for adding and removing triggers by using amplify update auth.

When updating, I used Walkthrough all the auth

[2021-02-27 01:48] fjnoyp commented on #400
Hi @kjones I've pulled your project but am having issues running it on Android - iOS works fine.  Did you have this issue when developing your project?

Error on Android:
[code]

[2021-02-27 02:04] haverchuck commented on #409
@hysuki Would you be interested in chatting about this on Discord or some other medium?

[2021-02-27 07:38] hysuki commented on #409
@haverchuck
I'd like to have a discord.

I checked my cognito identity after seeing your update, and I found out that identity pool is missing.

When I created a new identity pool for the existing project and connected it to the cognito user pool, I was able to confirm that I successfully imported accessToken.

To reproduce, we made a new sample project and tested it.

When i was created new auth

[2021-02-27 10:28] athirasubair commented on #410
@haverchuck Yes we are using the same.

[2021-02-27 16:10] fpabl0 opened #412 "Amplify.configure(...) throws AmplifyException instead of AmplifyAlreadyConfigured"
**Describe the bug**
[AmplifyDocs](https://docs.amplify.aws/start/getting-started/integrate/q/integration/flutter#initializing-the-amplify-flutter-library) says we should not reconfigured Amplify. Doing it will result in a `AmplifyAlreadyConfiguredException`:

[code]

However, `Amplify.configure(...)` does not specifically throw `AmplifyAlreadyConfiguredException`, it just throws an `AmplifyExcept

[2021-02-27 17:31] rommank opened #413 "Implement API to fetch a User's Cognito Group"
[code]

Is there another way to find out user's group?

[2021-02-28 04:32] kjones commented on #400
No idea what is going on here @fjnoyp. Thought maybe I didn't commit something you may have needed so to verify, I did the following:
1. `git clone https://github.com/kjones/datastore_test.git dstest`
1. `cd dstest`
1. `amplify --version`
   4.44.2
1. `amplify init`
1. `amplify push --yes`
1. Used VS Code to build the app and run in on Pixel 3 API 28 Android emulator.

No errors until the one this

[2021-02-28 09:01] xenowits opened #414 "OIDC support by amplify_flutter - Question"
Does amplify_flutter support OIDC(OpenId connect) now? If yes, how do we use it?
Any help is very much appreciated!
Thanks in advance.

[2021-02-28 16:58] rdamus commented on #234
+1... Amplify would set the tone for Flutter web as currently even Firebase seems to only have experimental support for web apps with Flutter...  seems like a workaround for using Cognito has been developed in Dart - https://pub.dev/packages/amazon_cognito_identity_dart_2

[2021-03-01 02:56] Arosf opened #415 "After changing the schema, deserializeException occurs in iOS."
**Describe the bug**
I added a name to User as follows, generated code, did an amplify push, and built the iOS app, but an exception occurred.
The android app did not throw any exceptions.

[code]

An exception was thrown when the following code was executed.

[code]

The error message displayed is as follows.

[code]

Stack trace when an exception is thrown.

[code]

**Platform**
Amplify Flutter

[2021-03-01 10:25] exampaqs opened #416 "Feature Request: Support the use of custom storage paths"
## Updated Description
Feature Request: The ability to specify a custom prefix for S3 storage, instead of using the public/protected/private prefixes. For reference, see feature requests and docs in other Amplify libraries.
- Amplify-iOS feature request: https://github.com/aws-amplify/amplify-ios/issues/916
- Amplify-Android feature request: https://github.com/aws-amplify/amplify-android/issues/91

[2021-03-01 16:59] haverchuck commented on #416
@exampaqs How have you configured the ACL on the existing bucket?

[2021-03-01 17:00] haverchuck commented on #415
@Arosf Which version of amplify_datastore are you using?

[2021-03-01 17:32] haverchuck commented on #409
@hysuki When is a good time to chat (and what is your timezone)?

[2021-03-01 18:11] #395 closed

[2021-03-01 18:51] exampaqs commented on #416
First all public access to Bucket is blocked and the Bucket permission reads "Only authorized users of this account"

Second I have added a bucket permission like this
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "PublicReadGetObject",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": "arn:aw

[2021-03-01 19:02] exampaqs opened #417 "Error: No AWSAccessKey was presented"
I have a code like this in my project:

//fetching object url
final GetUrlResult imageUrl = await Amplify.Storage.getUrl(key: urlKey);

//In a widget
return StreamBuilder(
        // 1
        stream: imageUrl.url,
        builder: (context, snapshot) {
          // 2
          if (snapshot.hasData) {
            // 3
            if (snapshot.data.length != 0) {
              return GridView.build

[2021-03-01 19:34] jcowley commented on #412
What would be even more useful would be the ability to detect if Amplify has been configured without having to deal with a thrown exception in the first place. This exception comes up in the debugger every time you reload the app, regardless of whether you catch and handle it a high level in your code. So, this is a major annoyance for developers.

[2021-03-01 19:50] haverchuck commented on #320
Closing this issue due to inactivity.

[2021-03-01 19:50] #320 closed

[2021-03-01 19:51] haverchuck commented on #340
Closing this issue due to inactivity.

[2021-03-01 19:59] brunovsiqueira commented on #340
I see no crashs in the latest release. I let you guys know if it happens again. Thank you.

[2021-03-01 20:27] haverchuck commented on #414
@xenowits I am marking this as a feature request.  Are you hoping to use OIDC with Cognito Hosted UI or with Cognito Identity Pools, or a different use case?

[2021-03-01 20:47] fjnoyp commented on #415
Thanks @Arosf we are able to reproduce this issue on our side and are looking into it.

[2021-03-01 23:42] rhamnett commented on #359
Hello, I am seeing this error using master or beta channel of flutter. Seems not to take notice of the target v 11.0. Using the example straight from git at https://github.com/graphicbeacon/amplify_flutter_authflow

[2021-03-02 00:20] Arosf commented on #415
@haverchuck amplify_datastore version is 0.1.0

[2021-03-02 01:23] fjnoyp commented on #415
Hi @Arosf the issue you encountered comes from the underlying Amplify iOS Library behavior.  I have been in communication with their devs and created an issue on their Amplify iOS repo linked here: https://github.com/aws-amplify/amplify-ios/issues/1083.

Once they fix the issue and we update our Amplify iOS Library dependencies, your problem will be resolved.  I don't know how long this will take

[2021-03-02 01:29] Arosf commented on #415
@fjnoyp Thank you to the corresponding!

[2021-03-02 01:39] haverchuck commented on #402
@DanieduPlessis Did the suggestion from @capraqua work for you?

[2021-03-02 04:49] xenowits commented on #414
@haverchuck thanks for replying. Actually, I am hoping to use firebase as the IdProvider. I wish to add firebaseToken as the default authorization method in AWS Appsync. We are heavily using the amplify_flutter library and were wondering if there's a way to send firebaseToken with each GraphQL request.

[2021-03-02 04:56] fdarsot opened #418 "[Feature Request] Single Device Sign on"
Hey guys,

Was wondering, is there any way currently to prevent a user from logging in from multiple devices? Essentially we want a user to only be able to log in to one device at a time. If they log in to another device, the first user session should be voided (signed out) or some similar functionality.

Thank you

[2021-03-02 09:19] hyobbb commented on #288
after updating amplify-cli with
`npm i -g @aws-amplify/cli`

solved problem.

[2021-03-02 13:34] hyobbb commented on #243
@Amplifiyer sorry to comment on closed issue. I am using amplify 4.44.2 but still copyWith() method has required annotation.

[2021-03-02 17:57] dajojo opened #420 "Can not generate models without @model directive"
**Describe the bug**
In my schema I want to nest a model into another without using an additional table.
'Amplify codegen models' outputs no errors but does only create empty files for models without @model directive. The generated flutter code for the other models is invalid aswell since some model classes are missing but referenced.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter sc

[2021-03-02 18:44] kjones commented on #420
Putting another vote in here to get this fixed. #260 is where I'm at.

[2021-03-02 19:05] haverchuck commented on #418
@fdarsot Our roadmap includes the implementation of a global signout  - which would sign a user out on all devices.  Would access to this method satisfy your case?

[2021-03-02 20:16] Amplifiyer commented on #243
@hyobbb are you using this fix https://github.com/aws-amplify/amplify-flutter/issues/241#issuecomment-755565445 along with 4.44.2 version of the cli? Can you try on a new amplify project to see if you are able to replicate your issue?

[2021-03-02 22:05] haverchuck commented on #417
@exampaqs How have you configured the bucket ACL? Is the object you are trying to reach configured for public access?

[2021-03-02 22:49] haverchuck commented on #414
We don't currently support this, but we are actively investigating  adding support.  We will keep this issue open, so please check back.

[2021-03-02 22:50] hysuki commented on #409
@haverchuck
I have free time between 2:00 PM and 8:00 PM (UTC).

[2021-03-02 23:06] haverchuck commented on #409
@hysuki Would 7:30 PM (UTC) work for you on Thursday, March 4?

[2021-03-02 23:09] hysuki commented on #409
@haverchuck
It's possible at that time.

[2021-03-02 23:20] haverchuck commented on #409
@hysuki Here is our Discord: discord.gg/amplify
I am listed under "Amplify Staff" as "dustin".

[2021-03-03 00:07] fdarsot commented on #418
@haverchuck It would possibly. If i had access to global sign out, would it be possible for me to call global sign out on a particular user before signing them in? Do you think that would work?

one hurdle i see with that method is that since the user is not yet signed in to begin with, there might be an issue calling the global signout. Am i right?

[2021-03-03 01:11] fjnoyp commented on #260
Hi guys thank you all for explaining the issue encountered.  @kjones I will mark this as a bug as well and investigate this more on our side.

[2021-03-03 01:13] fjnoyp commented on #420
Thanks for linking the issues @kjones

Currently this is not supported @dajojo as we do not generate the dart class for non model classes defined in your schema and have no support for them in our code.  We will investigate fixing this missing feature and provide more details in the above linked issue #260.

[2021-03-03 01:38] fjnoyp commented on #420
@dajojo as this issue is the same as #260 do you mind if we close this issue so we can keep the issue consolidated?

[2021-03-03 01:47] hyobbb commented on #243
@Amplifiyer After recreate amplify project with 4.44.4 version it works fine. I think it should be mentioned in document to update amplify version before start project. Thank you!

[2021-03-03 03:46] hyobbb opened #421 "[Datastore] API sync failure on configure"
Hi. I am using datastore api and I get this message on initializing app.

[code]

My graphQL schema is like below:

[code]

I executed `amplify codegen models` and compiled successfully.
Also, in android-studio with JS GraphQL plug in I have error message on my schema.graphql file that is saying "Unknown directive "model"". It doesn't generate any errors for compiling anyway.

[2021-03-03 08:51] dajojo commented on #420
@fjnoyp Thanks for the fast reply!
I would appreciate this feature since it is very important for using a NoSQL database correctly.
Closed for duplication

[2021-03-03 08:51] #420 closed

[2021-03-03 09:22] hyobbb commented on #421
`amplify update api` and selecting `Enable DataStore for entire API` solved the problem

[2021-03-03 12:28] tranminhhaifet commented on #402
Got same problem and no way to fix, so disappointed

[2021-03-03 12:47] hyobbb opened #422 "DataStore query fail on iOS"
**Describe the bug**
`Query failed: DataStoreException(message: The operation couldn’t be completed. (SQLite.Result error 0.), recoverySuggestion: The operation couldn’t be completed. (SQLite.Result error 0.), underlyingException: The operation couldn’t be completed. (SQLite.Result error 0.))`

query relational model causes error (query comments by postId for example)
on Android it doesn't throw e

[2021-03-03 13:28] xenowits commented on #414
Sure thanks @haverchuck

[2021-03-03 16:06] JuanDelgadillo commented on #308
Hey heyy guys! Does someone know alternative ways of automatically generating GraphQL Request Helpers?

I am thinking of automatically generating them in JavaScript and then translating them to Dart... but I am not sure if this will work, I'll test it out and comment back how it went.

If you know other more efficient ways of doing this, please let us know.

Thanks in advance.

Cheers!

[2021-03-03 16:46] praharshbhatt commented on #5
Any resolution on this?
We are looking to have a passwordless auth as well, and running into the same issues as you are...

[2021-03-03 18:06] haverchuck commented on #418
@fdarsot Yes, I believe in this globalSignout error you may have to swallow an error either client side or possibly in a Cognito Lambda Trigger - so it would definitely be more of a workaround.

It sounds like what you're really looking for, optimally, is a new feature in the Cognito service itself.

[2021-03-03 18:59] haverchuck commented on #402
@DanieduPlessis I see that you are adding `amplify_core`.  As part of our recent GA release, you can now import `amplify_flutter` instead.

[2021-03-03 18:59] haverchuck commented on #402
@tranminhhaifet What is the specific error you are seeing (this thread details a couple)?

[2021-03-03 21:02] Amplifiyer commented on #359
Now that the beta version is new flutter 2.0, if you are facing this problem again, can you try updating your auto generated Podfile
[code]

and let us know if it works.

[2021-03-03 21:10] rhamnett commented on #359
This fixed it for me! @Amplifiyer

[2021-03-03 21:23] brunovsiqueira opened #424 "UserNotConfirmedException and ResetPasswordRequest when signing in"
Hi there.

I have a question regarding the sign in method. Shouldn't UserNotConfirmedException or ResetPasswordRequest be thrown when you call the sign in method (with username and password) for an user who is in the FORCE_CHANGE_PASSWORD status at Cognito?

I have an user who is in the FORCE_CHANGE_PASSWORD status and when I try to sign him in it throws NotAuthorizedException (what is true becaus

[2021-03-03 21:25] brunovsiqueira commented on #424
In both cases (UserNotConfirmedException and ResetPasswordRequest, should the user be redirected to the forgot password flow?

[2021-03-03 21:31] brunovsiqueira commented on #412
Same here.

[2021-03-03 21:49] haverchuck commented on #424
@brunovsiqueira Did you pass a valid temporary password to the signIn method?

[2021-03-03 21:54] brunovsiqueira commented on #424
@haverchuck what if the user has no temporary password?

[2021-03-03 22:04] haverchuck commented on #402
@DanieduPlessis @tranminhhaifet @capraqua Could you try updating your Podfile to include a post_install hook that contains the following:
[code]

[2021-03-03 22:09] brunovsiqueira commented on #424
I searched a little bit more. So, this two exceptions are only thrown if user tries to sign in with a temporary password, right? I think you can close this issue.

[2021-03-03 22:10] PRenouf opened #425 "Flutter Amplify IoT Support"
Hi,

Could anyone point me in the direction of any guides/documentation for using AWS IoT Core Pub/Sub within flutter.

I believe it is not currently supported as part of Amplify and [aws_iot 0.1.0 ](https://pub.dev/packages/aws_iot) is not compatible  with Amplify pods.

Cheers,

[2021-03-03 22:16] fdarsot commented on #418
@haverchuck yes it does feel like it should be a new feature within the Cognito Service. If you can implement something like that on your side that would be amazing as this is one of the main functionalities that my team and i are looking for.

In the mean time, i can try that workaround that with the global sign out, however how do i access this method? if i recall in the new update the global si

[2021-03-03 22:40] brunovsiqueira commented on #424
Ok, now I tested two things:

- User status is RESET_REQUIRED. I tried to log in with username and password. No Exception was thrown (I imagine ResetPasswordRequest should be thrown). Instead, result came with isSignedIn:false and CognitoSignInResult-> nextStep -> signInStep:"RESET_PASSWORD"
- User status is FORCE_CHANGE_PASSWORD. I tried to log in with username and temporary password. No Exceptio

[2021-03-03 23:17] brunovsiqueira commented on #424
Other thing I noticed:

When I call resetPassword with a FORCE_CHANGE_PASSWORD user, no code is sent by email but it returns success with updateStep "CONFIRM_RESET_PASSWORD_WITH_CODE":

result = {CognitoResetPasswordResult}
 isPasswordReset = false
 nextStep = {ResetPasswordStep}
  additionalInfo = {_InternalLinkedHashMap} size = 0
  codeDeliveryDetails = {AuthCodeDeliveryDetails}
  updateStep = "

[2021-03-03 23:44] haverchuck commented on #424
@brunovsiqueira Do you have MFA enabled?

[2021-03-03 23:49] brunovsiqueira commented on #424
@haverchuck No, I just have email verification enabled.

[2021-03-04 00:07] tranminhhaifet commented on #402
@haverchuck Thank you but still not working, here is my errors
Launching lib/main.dart on iPhone 11 in debug mode...
 lib/main.dart
Xcode build done.                                           12.7s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    /Users/hai/flutter/.pub-cache/hosted/pub.dartlang.org/amplify_datastore-0.1.0/ios/Classes/SwiftAmpli

[2021-03-04 00:16] haverchuck commented on #424
@brunovsiqueira How do you have recovery configured in cognito?

[2021-03-04 00:23] brunovsiqueira commented on #424
![image001](https://user-images.githubusercontent.com/18200284/109890770-9ef07800-7c66-11eb-94d0-26f13440dc16.png)

[2021-03-04 00:30] haverchuck commented on #424
@brunovsiqueira  I haven't been able to reproduce a code now going out.  Is the user's email verified?

[2021-03-04 00:35] brunovsiqueira commented on #424
@haverchuck I have checked and I have set user email as verified when I created the user. So yes, user email is verified.

[2021-03-04 01:55] fjnoyp commented on #422
Hi @hyobbb your issue sounds similar to #415

Have you changed or modified your schema at all?

[2021-03-04 02:04] hyobbb commented on #422
@fjnoyp Hi. Yes I did change schema like below

[code]

Also, will it support new null safety feature of flutter 2.0 soon?

[2021-03-04 03:19] Ashish-Nanda commented on #402
@tranminhhaifet Could you give us some more details:

1) Have you set `plaftform :ios, '13.0'` in your pod file?
2) What version of Xcode are you using?
3) Are you on an M1 Mac?
4) What version of Flutter are you using?

Please provide any other details about your setup that could be useful.

[2021-03-04 03:25] tranminhhaifet commented on #402
@Ashish-Nanda
1. Yes I did
2. Xcode 11
3. No, I use Macbook Air 2019
4. Flutter 1.22.6 and Dart 2.10.5

[2021-03-04 03:45] Ashish-Nanda commented on #402
@tranminhhaifet I think you mentioned Xcode 11.3 initially correct?

I think that is the issue. Amplify iOS requires Xcode 11.4 at the minimum: https://github.com/aws-amplify/amplify-ios#installation

You will need to upgrade. I have seen a similar issue before, so hopefully this will resolve it for you.

After upgrading I recommend you also do:
[code]
And then run the app again.

[2021-03-04 03:49] tranminhhaifet commented on #402
Hi @Ashish-Nanda
1. My Xcode 11.5

[2021-03-04 04:46] capraqua commented on #402
This solution works for me with the newest flutter version Flutter (Channel stable, 2.0.0, on Mac OS X 10.15.7 19H114 darwin-x64)

[2021-03-04 05:06] tranminhhaifet commented on #402
@capraqua  thank you
I did try the hook, did not work for me. macOS Catalina 10.15.5, Xcode 11, Flutter 1.22.6 channel stable, dart 2.10.5. I temporarily switch to Android Simulator and working with a Linux machine, works fine.

[2021-03-04 10:29] rhamnett commented on #413
My raw jwt token does not contain the group:

[code]

[2021-03-04 10:41] rommank commented on #413
Have you assigned a Cognito Group to your user? Because, if not, your payload is not going to have "cognito:groups".

[2021-03-04 10:41] rommank commented on #413
Thanks for the solution!

[2021-03-04 13:05] hyobbb opened #426 "Storage url expires on every upload"
**Describe the bug**
retrieved storage url after upload expires the previous url.

**To Reproduce**

get url after upload
[code]

save url with amplify api(datastore) and query it to use such as `Image.network(url)`
(CachedNetworkImage appears to work because it already cached the network image source)

If you repeat it, only the last url is valid and other's throw token expired error(parsed as xm

[2021-03-04 13:11] fotiDim opened #427 "Cannot resolve dependencies when using Image: 3.0.1"
**Describe the bug**
In our project we depend both on `Amplify` and the `Image` package. There is currently a transitive dependency conflict.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pubspec.yaml'
2. Put
[code]
3. Run `flutter pub get`

**Expected behavior**
Dependencies should resolve

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reprodu

[2021-03-04 15:03] brunovsiqueira commented on #424
Same behavior happens when user email is not verified.

[2021-03-04 15:12] brunovsiqueira commented on #424
@haverchuck any idea why the email is not being sent?

[2021-03-04 15:41] brunovsiqueira commented on #424
With the email not being sent, I cannot handle user FORCE_CHANGE_PASSWORD status event even making a workaround to deal with UserNotConfirmedException by doing:
`cognitoSignInResult.nextStep.signInStep == "CONFIRM_SIGN_IN_WITH_NEW_PASSWORD" || cognitoSignInResult.nextStep.signInStep == "RESET_PASSWORD"`

and then sending user to the forgot password flow.

[2021-03-04 16:53] rhamnett commented on #413
Seem I rebuilt the environment at some point without a group :) cheers

[2021-03-04 17:00] haverchuck commented on #120
Closing this issue as there seems to be a solution and activity on this thread has stopped.

[2021-03-04 17:00] #120 closed

[2021-03-04 17:01] haverchuck commented on #296
Closing this issue due to inactivity and inability to reproduce.

[2021-03-04 17:01] #296 closed

[2021-03-04 17:02] brunovsiqueira commented on #380
@12ajayvishwa is correct. At least in iOS, AmplifyAlreadyConfiguredException is coming as generic AmplifyException. I think it should be reopened because it has not been properly fixed @Amplifiyer.

In my opinion we should have a amplifyAlreadyConfigured flag to be checked before calling configure method.

[2021-03-04 17:02] haverchuck commented on #317
Closing this issue due to inactivity (and cannot reproduce on latest build).

[2021-03-04 17:02] #317 closed

[2021-03-04 17:13] haverchuck commented on #427
@fotiDim It appears that we are compatible with `image 2.x`, and are working on resolving this collision for `3.x`.

[2021-03-04 17:18] brunovsiqueira commented on #296
Sorry for the late response.

My "Prevent User Existence Errors" is configured as Enabled and when I send any non existing username to the resetPassword method no AuthException is thrown and I get this response:

`result = {CognitoResetPasswordResult}
 isPasswordReset = false
 nextStep = {ResetPasswordStep}
  additionalInfo = {_InternalLinkedHashMap} size = 0
  codeDeliveryDetails = {AuthCodeDeliv

[2021-03-04 18:11] haverchuck commented on #424
@brunovsiqueira How did you configure this user pool, exactly?

[2021-03-04 19:05] haverchuck commented on #406
@Marok01 Any update on using just the domain?

[2021-03-04 20:03] NimaSoroush commented on #139
Any update on this?

[2021-03-04 20:21] #409 closed

[2021-03-04 21:59] brunovsiqueira commented on #424
@haverchuck I have manually created the user pool. Which configs do you want me to share with you? Is there any way to export my configs and paste it here?

How do I know if I am sending emails directly from Cognito? I think so, because I have set email verification in my user pool.

[2021-03-04 23:38] rmargolinross commented on #359
Flutter 2 is no in stable and there really should be a proper fix put in place for this. Not just some workaround

[2021-03-05 00:16] Amplifiyer commented on #359
@rmargolinross you are right, this is only a temporary workaround to unblock customers who are using flutter v2 and we will figure out the actual root cause and fix. Leaving this issue open to track it.

[2021-03-05 01:04] fjnoyp commented on #422
Thanks for sharing that @hyobbb.  It looks like you are getting the same problem as describe in #415

The response I gave there is same for your situation.  The issue you encountered comes from the underlying Amplify iOS Library behavior. I have been in communication with their devs and created an issue on their Amplify iOS repo linked here: aws-amplify/amplify-ios#1083.

Once they fix the issue a

[2021-03-05 01:23] hyobbb commented on #422
@fjnoyp Thanks. I found another issue to report. In my case Video model does not sync even in Android. Tag models sync normally so I can check them in Dynamo DB but Video model only appears in internal sqlite data although it is not in offline mode. Should I open another issue for that?

[2021-03-05 12:02] Ashish-Nanda commented on #377
@eroamba The error message here is from an older version of the library.

Can you delete your `pubspec.lock` file and run a `flutter pub get` once again.

@NimaSoroush are you facing this on `0.1.0` as well?

[2021-03-05 12:06] Ashish-Nanda commented on #139
@NimaSoroush Will be looking into this today and will update you once I have a PR up.

[2021-03-05 12:06] NimaSoroush commented on #377
@Ashish-Nanda : No I'm on 0.0.2

[code]

[2021-03-05 12:07] NimaSoroush commented on #139
@Ashish-Nanda : That would be great. Thanks

[2021-03-05 12:30] 12ajayvishwa commented on #380
yup

[2021-03-05 13:37] pierceglennie commented on #5
I didn't find any resolution. I'm basically waiting in the hope that it gets added to the library at some point relatively soon.

[2021-03-05 14:23] praharshbhatt commented on #5
I was able to do this, check out my answer here: https://stackoverflow.com/a/66463088/6559381

[2021-03-05 16:47] raywhiteside commented on #288
I am struggling to get this to work still. I have updated the Amplify CLI to 4.44.2,  and amplify_flutter is at 0.1.0. I am trying to do the workaround in cli.json, but I can't find that file in my amplify folder in this old project. I ran `amplify init` again and told it to re-use the current workspace, but I still don't see the cli.json.

I'm seeing this issue:

[code]

which seems to imply I do

[2021-03-05 18:09] haverchuck commented on #424
@brunovsiqueira If you look at the Cognito User Pool console, under the "General Settings" page you should see this pane:
![image](https://user-images.githubusercontent.com/10621276/110155668-cba5ac00-7d9a-11eb-8c9a-5ef2214ac152.png)

Also - are you receiving emails for signUp appropriately?

[2021-03-05 19:19] brunovsiqueira commented on #424
Yes, emails are being delivered through SES. And yes, I am receiving all emails appropriately. AFAK, I am just not receiving emails when resetPassword is called for a FORCE_CHANGE_PASSWORD user.

[2021-03-05 19:19] fjnoyp commented on #400
Thanks @kjones.  I re-pulled the project and am able to reproduce the float error you've been having, but only on Android.

On iOS, when I click mutate, no error occurs.
On Android, when I click mutate and get the: Unhandled Exception: type 'int' is not a subtype of type 'double' error you encountered before.  However, the model instance is still updated and I see the change in your UI.

Do you ob

[2021-03-05 19:35] kjones commented on #400
Perhaps the iOS error was when running both the Android and iOS versions at the same time and hitting mutate back-n-forth between the devices? It's been a few days so can't remember the exact details.

The change does make it to the UI because the observe() stream listener is called twice on the device that makes the mutation. If you mutate on one device, the other device UI will not get updated i

[2021-03-05 19:48] fjnoyp commented on #422
Yes please report that in a separate issue @hyobbb

When creating that issue, could you specify if you ran amplify push after adding the Video model to your schema?  Could you share your logs as well?

[2021-03-05 22:16] pierceglennie commented on #5
Thanks, that's good to see. I might try that out if it's not added to the official library in the next couple of months (it's not holding us back right now)

[2021-03-05 23:13] haverchuck commented on #424
@brunovsiqueira Maybe there could be some information in the SES logs?

[2021-03-05 23:19] brunovsiqueira commented on #424
https://aws.amazon.com/premiumsupport/knowledge-center/ses-email-event-logs/
I haven't configured any of the above ways to log SES events. Do you think it is worth?

Try to add an user on a pool with my configurations. This user will be in the FORCE_CHANGE_PASSWORD status. Then, try to pass through the forgot password flow with this user.

[2021-03-06 00:44] fjnoyp commented on #427
Hi @fotiDim thanks for posting this issue. What haverchuck says is correct, downgrading to `image 2.x` will fix your issue for now.

In order for us to resolve our collision with `3.x` it looks like we'll need to update our packages to be built with the latest version of flutter `2.*`.

**In more detail:**
Currently you're getting an issue because our packages rely on `uuid 2.*`.  Unfortunately `u

[2021-03-06 11:33] hyobbb commented on #422
@fjnoyp Hi.
I cleaned up to local database with Amplify.DataStore.clear() and push it again.
Now it works without any problem. I think it is okay to close this issue as it is the same one with #415
Thank you

[2021-03-06 11:47] hyobbb commented on #288
@raywhiteside if codeine is running in new version it should generate ModelProvider class overriding `getModelTypeByModelName` method. I had the same problem so I remove the project and start it over. #243 check this page.

[2021-03-06 12:18] vishalkhedeker opened #430 "GetUserAttributeVerficationCode and VerifyUser method implementation. [proposed label] feature-request"
Hi, i couldnt find getUserAttibuteVerificationCode and verifyAttribute methods in amplify_auth_cognito for verfiying more than one attribute.
Will this be added to amplify-flutter?
If so by when is it expected?

[2021-03-07 20:22] raywhiteside commented on #412
Earlier topic:

https://github.com/aws-amplify/amplify-flutter/issues/124#event-4186447787

I'm not sure why a specific exception avoids this issue. Is the expectation that developers catch this exception in development to support hot reload, but avoid catching it in production? Why is this better than being able to check the state before initializing, so the same code supports both cases?

[2021-03-07 20:39] raywhiteside commented on #288
I copied my amplify folder and amplifyconfiguration.dart files to a different name, deleted the current versions, ran amplify init, and copied the new versions as well. Then I put the originals back and moved cli.json from the new amplify directory into the old one. Codegen now worked and I seemed to be synced up with my previous resources without issue after `amplify push`.

Wouldn't recommend tr

[2021-03-08 01:01] fdarsot commented on #418
hi @haverchuck any update?

[2021-03-08 02:44] BerndWessels opened #431 "amplify-flutter without amplify (using existing cognito user pool) not possible ?"
It seems that `amplify-flutter` does not work with existing `cognito user pools` that have been created WITHOUT `amplify`.

The documentation says [this](https://docs.amplify.aws/lib/auth/existing-resources/q/platform/flutter) but there seems to be no way to make it work.

Getting either `I/flutter (17820): Sign-in with web UI failed` with

[code]

or `AmplifyException, Failed to Configure Amplify

[2021-03-08 12:36] Yonkokilasi opened #432 "FAILURE: Build failed with an exception. Flutter 2.0"
**Describe the bug**
FAILURE: Build failed with an exception.

* Where:

Build file '*/.pub-cache/hosted/pub.dartlang.org/amplify_auth_cognito-0.1.0/android/build.gradle' line: 62

* What went wrong:
A problem occurred evaluating root project 'amplify_auth_cognito'.

  The following types/formats are supported:
    - Instances of Dependency.
    - String or CharSequence values, for example 'org.gr

[2021-03-08 15:36] haverchuck commented on #431
@BerndWessels Is your json string wrapped in `const amplifyconfig = '''  {} "" `?

[2021-03-08 16:39] haverchuck commented on #430
@vishalkhedeker I don't have an exact date, but this is definitely on our roadmap!

[2021-03-08 17:28] BerndWessels commented on #431
@haverchuck yes it is wrapped in `const amplifyconfig = ''' { }''';`

I tried without the `OAuth.WebDomain` too, but still not working.

It is unclear to me what exactly needs to be in the `amplifyconfiguration.dart` and if there is a specific requirement on the `UserPool` for `amplify-flutter` to work.

I only use a `UserPool` in my infrastructure, I don't have an `IdentityPool`. I hope that does

[2021-03-08 17:50] Amplifiyer commented on #432
@Yonkokilasi can you post your `flutter doctor -v` output here?

[2021-03-08 21:42] exampaqs opened #434 "Firebase-Amplify dependency conflicts"
And because exampaqs depends on amplify_storage_s3 ^0.1.0 which depends on plugin_platform_interface ^1.0.1, firebase_auth
  ^1.0.0-1.0.nullsafety.0 requires firebase_core >=0.8.0-1.0.nullsafety.2 <0.8.0-2.0.nullsafety.0.
So, because exampaqs depends on both firebase_auth ^1.0.0-1.0.nullsafety.0 and firebase_core ^1.0.0-1.0.nullsafety.0, version solving
  failed.

because i upgraded firebase versi

[2021-03-08 22:54] hysuki commented on #430
@vishalkhedeker Until it is officially supported, it can be implemented through api and function with accessToken if necessary.

For example
**API**

[code]

[code]

In function

**For verify PhoneNumber**

[code]

**For Confirm code**

[code]

[2021-03-08 23:48] shravyamachanna commented on #234
+1 for web support

[2021-03-09 00:21] fjnoyp commented on #434
Hi @exampaqs thanks for sharing your issue here.

Could you provide your full pubspec.yaml so we can investigate all your dependencies?

[2021-03-09 06:02] Marok01 commented on #406
@haverchuck using just the domain works perfectly fine.

[2021-03-09 06:31] exampaqs commented on #434
---------------------------------------.yaml file---------------------------------------------------
version: 1.0.0+1

environment:
  sdk: ">=2.10.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  # amplify_analytics_pinpoint: ^0.1.0
  # amplify_auth_cognito: ^0.1.0
  # amplify_flutter: ^0.1.0
  amplify_storage_s3: ^0.1.0
  # cached_network_image: ^2.5.0
  cloud_firestore: ^1.0.0-1.0.nullsafe

[2021-03-09 10:29] hysuki commented on #434
@fjnoyp Similar dependency conflicts issue when trying to use with Hive 2.0.0

[code]

[code]

[2021-03-09 14:20] raywhiteside commented on #287
mmm sorry it is still spitting out this:
[code]

[2021-03-09 15:07] raywhiteside opened #435 "Null-Safety Support"
I assume at some point null safety will be supported. I'd like to track the status and interest here.

[2021-03-09 18:57] nt4f04uNd opened #437 "S3 without authentication"
is it possible to use AmplifyStorageS3 without AmplifyAuthCognito? i don't need to authenticate users in my app, only use a public bucket, or via iam credentials

[2021-03-09 20:06] haverchuck commented on #424
@brunovsiqueira I think that when the user is in the FORCE_CHANGE_PASSWORD state, you need to call sign in, and then will get a response with the nextStep CONFIRM_SIGN_IN_WITH_NEW_PASSWORD  (or something similar).  You then call confimrSignin with the new password.  When I try to reset the password with a user in the FORCE_CHANGE_PASSWORD, I get an error:
[code]

[2021-03-09 20:44] haverchuck commented on #431
@BerndWessels This should definitely be possible.  Are you seeing this failure to configure on both iOS and Android?

[2021-03-09 20:48] brunovsiqueira commented on #424
@haverchuck Ok, so I call confirmSignIn passing the new password as "confirmationValue" parameter, right? I will check it.

How the about the AuthExceptions not being thrown?

[2021-03-09 23:05] A-Kurimoto commented on #412
I avoided this error by following code.
Please improve!

[code]

[2021-03-10 00:16] funwithflutter opened #438 "Federated identities / Sign in (Not Hosted UI)."
Not sure if this is an Amplify limitation or missing feature on Amplify Flutter. New to Amplify so excuse any misconceptions.

The following article suggests it's an API limitation:
https://medium.com/@wesselsbernd/some-aws-cognito-appsync-details-as-of-may-2019-247c8531f600

This issue also showed a lot of interest in this: #182

Flutter Firebase supports third party identity sign in with `signIn

[2021-03-10 02:06] BerndWessels commented on #431
@haverchuck Thank you - yes.

[2021-03-10 02:17] BerndWessels commented on #431
@haverchuck Thank you, yes (where is that Discord?).

For the record, I found a way to make it work like this

[code]

But this required me to create a new `Identity Pool`  in addition to my already existing `User Pool` like this

[code]

So I guess the way `amplify-flutter` works is that it uses the `UserPool` to sign in and the `IdentityPool` to immediately request credentials for the signed in

[2021-03-10 02:17] #431 closed

[2021-03-10 04:43] kay-si commented on #434
Similar one

[code]

[code]

[2021-03-10 13:20] fjnoyp commented on #437
Hi @nt4f04uNd you currently need to include the AmplifyAuthCognito plugin when using AmplifyStorageS3.

However, when following the setup instructions we have [here](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/flutter#prerequisites) you just need to include Auth but don't need to spend time configuring it as you can allow guess (unauthenticated) access to your Storage items.

[2021-03-10 13:23] fjnoyp commented on #435
Hi @raywhiteside thanks for creating this issue.  We don't have any set dates for delivering this, but are actively looking into it.  We can update you here.

[2021-03-10 13:35] fjnoyp commented on #426
Hi @hyobbb instead of storing the url, can you store the key instead?   The key should not expire, and can be used to obtain a URL to its resource as well:

1) Obtain Key
[code]

2) Get URL from Key
[code]

[2021-03-10 13:41] hyobbb commented on #426
@fjnoyp  Thank you for the answer. That would definitely solve the problem.

[2021-03-10 14:52] lentzou commented on #370
Hello guys,

What's up with this issue I still get

Exception has occurred.
PlatformException (PlatformException(SessionExpiredException, Translating platform exception failed. Please take a look at
https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
match your scenario, and file an issue with the details of the bug if there isn't., {recoverySuggestio

[2021-03-10 16:46] haverchuck commented on #431
@BerndWessels - Thanks for updating this issue. It should be possible to use amplify-flutter with a user pool only to return the user pool tokens.  I wasn't able to reproduce the failure to configure Amplify, so there may be some nuance in your configuration we're not seeing.  In any case, I will pass along your feedback about using the CDK.  Thank you!

[2021-03-10 16:50] haverchuck commented on #424
@brunovsiqueira I haven't been able to reproduce the missing email/unthrown Error.  It may be worth looking at SES logs.

[2021-03-10 17:04] haverchuck commented on #438
@funwithflutter Thanks for posting this! I am marking this as a feature request (both for the doc update and the functionality).  Just to clarify - if we used a signInWithCredentials-like API, would it be acceptable for your use case to require a Cognito Identity Pool to provision the AWS credentials?

[2021-03-10 17:25] fjnoyp commented on #425
Hi @PRenouf

Thanks for bringing this missing feature to our attention.

We currently do not have any Amplify IoT Support within Flutter.  Providing support is a bit tricky as the underlying Amplify native libraries which Amplify Flutter is built on do not provide this functionality as well.

Let's keep this issue open as a feature-request so that other community members can comment here.

[2021-03-10 20:36] nt4f04uNd commented on #437
i find it strange that even if you don't need to used you have to include it, what's the reason of that? i don't think it's a big blocker, but for my particular use case (i only use s3 storage) i moved over to using https://pub.dev/packages/flutter_aws_s3_client, which i found being very lightweight and easy to configure and it was exactly what i needed

[2021-03-10 21:28] PaoloP98 commented on #434
Same

[2021-03-10 21:48] haverchuck commented on #438
@funwithflutter The difference between Cognito User Pools and Identity Pools can sometimes be difficult to wrap your head around, so don't feel bad.  Personally I've often found [this article](https://serverless-stack.com/chapters/cognito-user-pool-vs-identity-pool.html) to be a helpful read. (Don't take that as an official AWS endorsement!)

As far as I know, the way to accompish your use case wo

[2021-03-10 22:44] FranWeidt commented on #434
Similar issue when trying to use with `localizely_sdk: ^2.0.0`. Localizely depends on `uuid ^3.0.0` and amplify uses an older version `uuid^2.2.2`.

[code]

[2021-03-11 00:08] fjnoyp commented on #415
Hi @Arosf after looking through our code more, we have a fix in place for this issue that you reported.

PR fix:
https://github.com/aws-amplify/amplify-flutter/pull/439

I'll reopen this issue and mark it as pending this PR.

[2021-03-11 01:34] funwithflutter commented on #438
Great thanks, the link you sent was helpful. I've also gone through the Cognito documentation, so I have a better understanding. My misconception was that I expected Identity Pool to talk back to User Pool. Or that there is some way to sync the two together (if that makes sense). But it makes more sense to have Identity Pool as the source of truth and enable User Pool and whatever other sign in id

[2021-03-11 08:35] fanwgwg opened #440 "EXC_BREAKPOINT crash on iOS when token expired"
**Describe the bug**
I'm testing the token expiration behaviour on iOS, so I've set the refresh token expiration to 60 mins.

If the token is expired, on the next app launch, the app will crash with EXC_BREAKPOINT
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set refresh token to 60 mins, log in the app with social provider (Google in my case)
2. Keep the app open till session expir

[2021-03-11 09:46] raphire08 commented on #401
Hello, I removed the OAuth section from config file.
The redirection behaviour has stopped. The login and logout is working. But, getting an error in console for Android simulator only after that.

_federatedSignIn: Putting provider and token in store
W/AWSMobileClient(12345): Failed to federate tokens during sign-in
W/AWSMobileClient(12345): java.lang.Exception: Federation is not enabled, please

[2021-03-11 12:41] Yonkokilasi commented on #432
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.0.1, on macOS 11.2.2 20D80 darwin-x64, locale en-GB)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] A

[2021-03-11 12:50] fjnoyp commented on #434
Hi everyone, thank you for posting your issues here.  We are actively investigating a fix for this.

[2021-03-11 13:27] brunovsiqueira commented on #340
Hi @haverchuck @Amplifiyer.

Same crash is happening in latest release (0.1.0). Can you guys please reopen this issue? Is there any workaround?

[2021-03-11 13:47] fanwgwg commented on #440
After experimenting with a few different coding logics, I'm **suspecting** that the following flow will lead to the crash:

1. Check isSignedIn via `Amplify.Auth.fetchAuthSession()` (note that isSignedIn is still true for a user with session expired)
2. Get current user via `Amplify.Auth.getCurrentUser()`(note that a valid `AuthUser` is still returned for a user with session expired)
3. Get user e

[2021-03-11 19:33] Ashish-Nanda commented on #340
@brunovsiqueira I'm reopening the issue. Is it possible for you to try and reproduce it on a device so that we can have more information on what the issue might be?

[2021-03-11 19:57] brunovsiqueira commented on #340
Also, I see the following in the crashlytics "Keys" section: (message: You are currently signed out., recoverySuggestion: Please sign in and reattempt the operation., underlyingException: null).

So I guess it is maybe caused when SessionExpiredException is thrown.

I am going to try to reproduce it.

[2021-03-11 21:19] haverchuck commented on #440
@fanwgwg Thanks for posting this, we're taking a look.

[2021-03-12 00:06] haverchuck commented on #440
@fanwgwg I am transferring this to the amplify-ios repo so the can take a look.

[2021-03-12 01:51] Amplifiyer commented on #432
@Yonkokilasi thanks for the details. My setup is exactly the same as yours and I am able to build apps (android release) that have amplify_auth_cognito as dependency with flutter 2.0. Will it be possible for you to host a minimal reproducible app on github where we can pull down and reproduce this issue?

[2021-03-12 10:18] fanwgwg opened #441 "Inconsistent behaviour of fetchAuthSession and getCurrentUser for a session expired user"
**Describe the bug**
On Android, for a user with session expired
1. Calling `Amplify.Auth.fetchAuthSession()` will return `AuthSession` with `isSignedIn = true`.
2. Calling `Amplify.Auth.getCurrentUser()` throws `SignedOutException`.
3. Calling  `Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true))` throws `SessionExpiredException`

**To Reproduce**
1. Set the exp

[2021-03-12 13:19] fjnoyp commented on #427
Hi @fotiDim!  We've found another way to fix your issue by using dependency_override.

If you want to keep all of your existing dependencies as is, you can add the following to your pubspec.yaml:

dependency_overrides:
  uuid: '3.0.1'

After making that change running `flutter pub get` should no longer result in the error that you've been seeing before.

[2021-03-12 19:29] fjnoyp commented on #434
Hi everyone, we have a temporary fix that should get you unblocked for now as we work on a longer term solution.

@exampaqs @hysuki @kay-si @PaoloP98:
You are having an issue with using Firebase because we use different versions of plugin_platform_interface.  Adding the following to your pubspec.yaml should resolve your issue:
`
dependency_overrides:
  plugin_platform_interface: ^2.0.0
`

@FranWei

[2021-03-13 03:41] pairwinter opened #442 "Support user migration lambda function trigger & USER_PASSWORD authentication type"
**Describe the bug**
Amplify.Auth.signIn can not trigger user migration lambda function. But Amplify.Auth.resetPassword() and signInWithWebUI() works fine, both of them can trigger user migration lambda function.
I have set the authenticationFlowType to USER_PASSWORD_AUTH in amplifyconfiguration.dart, and enabled the USER_PASSWORD_AUTH for the app in User Pool settings.
[code]

**To Reproduce**
St

[2021-03-13 11:47] fanwgwg commented on #441
Another thing that I'm observing is that the future `Amplify.Auth.fetchUserAttributes()` will not finish if the session is expired. This behaviour is only seen on Android as well.

[2021-03-13 12:06] JamesMcIntosh commented on #424
@brunovsiqueira Shouldn't you be using this `Amplify.Auth.confirmPassword` to confirm the password reset?

[2021-03-13 15:30] kjones commented on #400
@fjnoyp Have you had any time to take another look at this?

This is one I can work around since I can just edit the generated model code. So if you're trying to optimize impact #260 has no workaround other than modifying the schema.

[2021-03-13 21:50] LabN36 commented on #410
do we have any update on this ? when we change authenticationFlowType to CUSTOM_AUTH it basically throws the error saying username/password is incorrect.

is the Custom_Auth even supported in flutter ?

I've also followed this amplify android link https://docs.amplify.aws/sdk/auth/custom-auth-flow/q/platform/android#custom-authentication-in-amplify it says that

here what do they mean by dummy pas

[2021-03-15 07:52] BerndWessels opened #443 "Amplify Flutter does not support the web platform?"
Take any of the official AWS examples, build the flutter app for the web and run on Chrome and you will get this kind of error

![image](https://user-images.githubusercontent.com/1776695/111116811-6b4d1080-85cb-11eb-9610-6fb0f18c260f.png)

Flutter's main value lies in the fact that we can build for multiple platforms, therefore we would expect that also amplify flutter supports all platforms (espe

[2021-03-15 08:13] Ashish-Nanda commented on #443
Hi @BerndWessels
Amplify Flutter does not support Web at this time. We chose to focus on mobile first for our GA launch as web support for Flutter was in beta until recently.
That said, we are looking into web support right now and are tracking the feature request here: https://github.com/aws-amplify/amplify-flutter/issues/234

Do you mind posting your upvote on that thread and closing out this is

[2021-03-15 10:41] capraqua commented on #234
+1 for web support

[2021-03-15 12:42] JamesMcIntosh commented on #359
@Amplifiyer The suggested fix didn't work but reinstalling the pods worked for me.
[code]

[2021-03-15 12:52] gauravdangi opened #444 "Different query for android and iOS - Datastore"
**Describe the bug**
I have a 1:n relation between a user and his books. Below is the graphql schema

**Graphql schema**
[code]

I noticed when I want to fetch books by userId, on iOS I have to write the following command:-
[code]
The above code runs fine when I am running my project on an iOS simulator. But when I ran my project on a real android device, it threw me the following error:-
<details

[2021-03-15 16:01] stuartkuentzel commented on #234
For those that just connect Amplify to a github repo for simple hosting, I got it working with the following build settings...

[code]

[2021-03-15 17:34] BerndWessels commented on #443
@Ashish-Nanda Thanks for the info. I'll close this as duplicate of #234 .

Just want to stress that the strength of flutter is cross platform and that equal support of the major platforms Android, IOS and WEB is essential for the success of flutter and amplify.

[2021-03-15 17:34] #443 closed

[2021-03-15 20:58] jcowley commented on #412
@A-Kurimoto: Doesn't really solve the issue for devs. It still throws an exception every time you reload the app when running in debug mode, which you have to step over in the debugger.

Looking at the history of this, it looks like an `isConfigured` method was added at one point (#303). Then after "internal discussion" it was determined that throwing an exception was better and it was reverted (#

[2021-03-15 23:11] lukaszciastko opened #445 "How much does DataStore cost?"
I know it's not a technical issue, but, I've been browsing the AWS pages and cannot find any information on how much Amplify DataStore costs? The AWS Amplify Pricing only includes static hosting but no information about other services.

[2021-03-16 03:24] trinanda98 commented on #432
Hi @Amplifiyer @Yonkokilasi has anyone found the solution yet? We're also facing this exact problem and it came out of nowhere. We were able to run it two days ago (Sunday), and hasn't done anything to the code ever since.

<img width="817" alt="Screenshot (8)" src="https://user-images.githubusercontent.com/43907852/111251437-d20d1100-8641-11eb-9de4-77efaa79f04e.png">
<img width="818" alt="Screens

[2021-03-16 09:30] apolo92 commented on #298
Is there any forecast of when this new functionality will be available?
If we don't have this functionality, is there any way to control the synchronization? By default I understand that it will synchronize the entire cloud DB locally. Does this mean that user A will have user B data on his local device?

[2021-03-16 10:44] thecillu opened #446 "Problem with Amplify.API.get with special characters on Android"
**Bug**
Amplify.API.get call different paths in Android and iOS if the provided path variables contains special chars!

**To Reproduce**
[code]
If the username variables contains special chars, in call 2 different paths in iOS and Android.

Example:
If username equals to 'name.surname+test1@gmail.com',

- in iOS it call correctly the URL: https://hostname/users/name.surname+test1@gmail.com
- in An

[2021-03-16 14:37] fotiDim commented on #427
Hi @fjnoyp. Thanks for the tip! Actually we had tried this already. Our variation was like this:
[code]
It was enough to resolve the dependency version conflicts. However right after we ran into compilation issues with `amplify_api` and `Flutter 2`. We were not sure if this was because of the overridden dependency or something else.

Eventually I managed to resolve the compilation issues using the

[2021-03-16 17:10] Amplifiyer commented on #432
It looks like that jcenter was down yesterday during the time you ran into this issue https://status.bintray.com/
Can you try again and let us know if it's resolved on its own?

[2021-03-16 19:54] bobosette commented on #432
I don't know if this can be useful....but i faced this problem 20 minutes ago (with flutter 1.22) and i fixed it by changing on the build.gradle the minSdkVersion (from 16 to 21)

[2021-03-16 20:28] ken-ng-esotec commented on #432
im facing this issue too, any support on this please?

[2021-03-16 20:41] cto-leaps commented on #359
Any plan to make the fix more permanent now that stable version is out?

[2021-03-16 20:43] cto-leaps commented on #435
I'm pretty sure a lot of people are looking to move to null-safety and not having all dependencies supporting it will be an issue soon. Do you guys have any idea of an ETA for this?

[2021-03-17 02:12] clinsign commented on #234
+1 for web support
Thanks for working on this

[2021-03-17 06:54] Awezome1996 opened #449 "InvalidPasswordException Error doesnt get catched in the flutter request"
When i try signUp and i input the wrong password data. An error occurs

Exception has occurred.
PlatformException (PlatformException(InvalidPasswordException, Translating platform exception failed. Please take a look at
https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that
match your scenario, and file an issue with the details of the bug if there isn't

[2021-03-17 08:25] #449 closed

[2021-03-17 08:26] Awezome1996 commented on #449
Debug tool was in the way

[2021-03-17 08:50] tehokang commented on #425
Hi, @fjnoyp

Same here wishing support AWS IoT Core functionalities from flutter.
Currently we've been using mqtt client via pub.dev to connect/publish/subscribe with certificate and private key in mobile application, by the way we've concerning this if this could make security issues and registration issue on app store.

Actually we're going to have to make a decision about above situation whethe

[2021-03-17 09:01] PRenouf commented on #425
This is my current (WIP) plan for anyone interested:

I've settled with storing data, from the app, in a dynamoDB database using the Amplify AP. I then plan to use lambda functions to update the database with information as it arrives from IoT Core.

I not handling large quantities of data, and I will need to store it anyway, so I don't think this solution is too bad.  It's then dependant on user

[2021-03-17 10:29] md-weber commented on #122
I would like to reopen this issue.
[code]

The error occurs from in amplify_flutter
[code]

[2021-03-17 20:28] Amplifiyer opened #450 "RFC: Media Use Cases in Amplify"
_This is a Request For Comments (RFC). RFCs are intended to elicit feedback regarding a proposed change to the Amplify Framework. Please feel free to post comments or questions here._

This RFC is to gather customer feedback for a new proposed functionality in Amplify related to media use cases. Please find the details here https://github.com/aws-amplify/amplify-cli/issues/6896 and let us know whi

[2021-03-17 21:34] rmargolinross commented on #379
Any word on this? I feel like this is a big blocker as right now it is causing the user to see a pop up that is asking amazoncognito for permissions, which I imagine most users will ignore

[2021-03-17 23:13] Amplifiyer commented on #359
I spent some time looking into it to evaluate if there is any workaround we can provide in the library itself and have not been successful. Next we need to look into the difference between Flutter 1.x and Flutter 2.x and understand why it's causing an issue only in 2.x (e.g. the auto generated Podfiles are different). Appreciate everyone's patience with it while we figure this out.

[2021-03-17 23:17] Amplifiyer commented on #380
@brunovsiqueira we will track the issue for flag here https://github.com/aws-amplify/amplify-flutter/issues/412

[2021-03-18 02:47] fanwgwg commented on #441
Any updates on this issue?

[2021-03-18 10:37] JamesMcIntosh commented on #140
@Ashish-Nanda it's been 5 months, are you happy with the solution I have suggested?

[2021-03-18 10:42] fayeed opened #451 "Get Error AMPLIFY_FETCH_SESSION_FAILED calling `Amplify.Auth.getCurrentUser()` just after logging in."
**Describe the bug**
After I log in which works fine, I immediately use `Amplify.Auth.getCurrentUser()` to get the user which throws `AMPLIFY_FETCH_SESSION_FAILED ` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login in using `Amplify.Auth.signIn`
2. And then use `Amplify.Auth.getCurrentUser` to get the current user, you should see the error.

**Expected behavior**
To get `Amplify.A

[2021-03-18 15:00] mheinis commented on #234
+1 for web support (this was actually the reason we wanted to use Flutter)

[2021-03-18 15:37] Ashish-Nanda commented on #140
@JamesMcIntosh
Thanks for your patience, I think this issue slipped under the radar as we've been prioritizing issues and feature requests based on activity, upvotes, etc.

I think your suggestion is in line with what we do in the case of uploadFile as well: https://github.com/aws-amplify/amplify-flutter/blob/master/packages/amplify_storage_s3/android/src/main/kotlin/com/amazonaws/amplify/amplify_

[2021-03-18 17:33] Lorenzohidalgo opened #463 "DataStore Content does not update"
**Which Specific Feature is your question related to?**
The content section of the AdminUI does not update with the new data. But i can access the stored data via querys. Is there some type of delay? Am I forgetting any steps?

**Provide additional details e.g. code snippets**
Developing with Flutter, AmplifyAPI added as Plugin while configuring.

[2021-03-18 17:57] Amplifiyer commented on #412
@jcowley, @raywhiteside thank you for your feedback. When we made the decision to revert `isConfigured`, we weren't aware of this annoyance with debugger and debugging apps. I agree that it's not a good developer experience and so we will be putting the `isConfigured` back. It will be part of our next release.

[2021-03-18 18:20] jcowley commented on #412
@Amplifiyer: Thank you!

[2021-03-18 20:41] haverchuck commented on #451
@fayeed Could you please post your amplifyconfiguration.dart (it's ok to redact the actual values, we're mainly concerned about the keys)?

[2021-03-18 21:46] fdarsot commented on #418
Hi please let me know @haverchuck

[2021-03-19 03:57] fayeed commented on #451
Hey, so we had a preconfigured Cognito pool and that we are using and we didn't use the amplify-cli to generate it, also I was able to test signup & login which works fine, its just that after authenticating calling the `Amplify.Auth.getCurrentUser` gives the error `AMPLIFY_FETCH_SESSION_FAILED `.

Here's the structure:
[code]

[2021-03-19 11:04] JamesMcIntosh commented on #140
Thanks @Ashish-Nanda, I've created a PR #456

[2021-03-19 14:40] raywhiteside commented on #288
Okay maybe this has bit me already. I'm trying to mock the API as described [here](https://aws.amazon.com/blogs/mobile/amplify-framework-local-mocking/) and [here](https://docs.amplify.aws/cli/usage/mock), and the `amplify mock` command runs `amplify codegen`. That fails with the same error as the OP:

[code]

Which is the same error I get if I run `amplify codegen` myself. I can run `amplify code

[2021-03-19 15:35] cto-leaps opened #457 "Using Guest Credentials?"
I'm desperately trying to figure out how to have a user access my graphql endpoint anonymously.
My back end is set up correctly with auth to do so, and my graphql schema authorizes operations such as read for some models.

However, I can't seem to find any documentation on how to proceed to have an anonymous user get credentials and access these models.
Any example available?
Anyone has managed to

[2021-03-19 17:15] pedrommarquesm commented on #288
@raywhiteside That's exactly what happens to me. I just don't get it how some people in others open issues, say their problem is solved with updating the CLI... a final answer to this would be cool

[2021-03-20 18:49] HappyMakadiya opened #460 "Problem with configure Amplify Datastore"
**Bug**

I am facing bug from couple of days that  Tried to get a plugin before it was configured.  Make sure you call Amplify.configure() first. But it is already configured before calling Amplify.Datastore.save(). and I am sure that nothing wrong with my Amplify Configuration json file because I am successfully able to add plugin of AmplifyAuthCognito and configure Amplify by that json file only

[2021-03-20 23:54] cto-leaps commented on #298
Any idea when selective sync will be available?

[2021-03-21 21:37] Ajmaljalal opened #461 "file_picker ^3.0.0 is incompatible with amplify_flutter"
When runing flutter pub get this error is thrown and the process ends
[code]

Steps to reproduce the behavior:
1. add file_picker: ^3.0.0 and flutter_ampliyf to pubspec.yml
2. run pub get

**Expected behavior**
It should not conflict with a version of a another package

[2021-03-21 21:43] cto-leaps opened #462 "Datastore codegen created models don't respect Dart linting rules"
**Describe the bug**
CLI codegen models creates QueryFields that use uppercased variables.

Example:
`static final QueryField **SESSIONID** = QueryField(fieldName: "sessionID");`

They get picked up by the IDE as
`Name non-constant identifiers using lowerCamelCase.dart(non_constant_identifier_names)`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a graphql schema
2. Run amplify codeg

[2021-03-22 02:54] kjones commented on #462
Re-adding my wish list from #241.

**Wish list**
- Generated model code should at least pass all [pedantic](https://pub.dev/packages/pedantic) linter rules and not rely on implicit or dynamic casts. Other more strict options welcome (e.g. [lint rules](https://pub.dev/packages/lint)).
- Generated filenames should match [Effective Dart Style](https://dart.dev/guides/language/effective-dart/style).

[2021-03-22 06:42] roelvandenbranddvc commented on #234
+1 for supporting Flutter Web. We would like to use all platforms for which Flutter is available. But on web is our main goal.

[2021-03-22 10:56] BasKroes commented on #234
+1 for supporting Flutter Web :-)

[2021-03-22 20:17] haverchuck commented on #441
@fanwgwg Thanks for posting this issue. We're investigating.

[2021-03-22 20:57] haverchuck commented on #460
@HappyMakadiya Could you post your amplifyconfiguration.dart - feel free to remove all of the values, except for region.  In most cases we just need to see the keys you're using.

[2021-03-22 21:04] masterlonghorn commented on #461
I experienced this as well. Similar error with firebase packages as well.

[2021-03-22 21:16] haverchuck commented on #457
@cto-leaps Are you using a Cognito User Pool in combination with a Cognito Identity Pool?

[2021-03-22 21:24] haverchuck commented on #445
@lukaszciastko It is my understanding that there is no additional charge for using DataStore - you pay for the underlying services with which DataStore interacts (i.e. [AppSync](https://aws.amazon.com/appsync/pricing/)).  You can also check the pricing pages for Amazon Cognito, AWS DynamoDB or other services you are using.

[2021-03-22 21:25] #445 closed

[2021-03-22 21:38] pairwinter commented on #442
Hi, any idea for this question?

[2021-03-22 22:26] cto-leaps commented on #457
@haverchuck hey, Yes I am using user pool and identity pool

[2021-03-23 00:26] ssantomauro opened #464 "Username is cached for use in confirmPassword on Android"
**Describe the bug**
Amplify.Auth.confirmPassword is not displaying any error when the email/username and the Verification Code don't match. In JS the check exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Reset password
2. Copy the Verification Code from the email
3. Paste the Verification Code
4. Insert a wrong e-mail address

**Expected behavior**
Expected an error message

**Platf

[2021-03-23 01:45] haverchuck commented on #464
@ssantomauro How are you trying to catch the error?

[2021-03-23 01:50] haverchuck commented on #461
Yes that's correct @masterlonghorn,  this is related to #434.  We have a fix in progress.

[2021-03-23 09:16] NKoroloff commented on #288
I have some problem. `flutter is not supported by codegen plugin`

[2021-03-23 12:30] seyaobey commented on #298
This is indeed a much needed feature. Amplify is an amazing product. But I have switched to another platform for my real-time database since for privacy reasons, I cannot download the whole database into every device.

[2021-03-23 12:37] raywhiteside commented on #245
Currently I'm seeing this exception being thrown when configuring Amplify before logging in:

[code]

DataStore works fine after logging in, but this exception may indicate DataStore.start() is more of a bug fix than a feature request?

[This comment](https://github.com/aws-amplify/amplify-android/issues/802#issuecomment-721895666) mentions DataStore not calling start() on configuration, it's not

[2021-03-23 13:52] ekoto4 commented on #186
Not sure if I'm missing something for the work around but I can't get this to work. I'm getting a ```SessionExpiredException``` with a token expiration of 60 minutes and a refresh token expiration of 30 days. Right now I'm calling ``` fetchAuthSession(

[2021-03-23 15:30] haverchuck commented on #427
@fotiDim There is a fix for this pending.

[2021-03-23 18:24] apolo92 commented on #298
What platform have you used to replace datastore? firebase?

[2021-03-23 19:40] nithin-seenivasan commented on #298
Not really, Datastore uses Appsync, and user A will only get the data synced that they are 'subscribed' to. So even though the underlying DynamoDB table is common, the userdata will be separate with no possibility of data leaking between accounts.

[2021-03-23 19:46] haverchuck commented on #446
Possibly related to this[ amplify-android ](https://github.com/aws-amplify/amplify-android/issues/668)issue.

[2021-03-23 19:47] kjones commented on #298
This isn't true by default. You have to explicitly add [authorization rules](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter) to your GraphQL schema to control what gets synced. The default is everything in the table.

[2021-03-23 19:53] nithin-seenivasan commented on #298
You are right, @kjones , I forgot that one had to explicitly control what gets synced in the schema. That should solve @apolo92 's issue.

[2021-03-23 20:05] kjones commented on #298
I'm more interested in selective sync from a performance and cost perspective. Say the table has millions of records and I have auth rules set up. I don't see how AppSync can optimize this query given that all items in the table are only unique by ID. It must do a DynamoDB Scan operation on this table and then filter the results by owner. At most it can add a filter expression to the query which s

[2021-03-23 21:35] mclark4386 opened #465 "S3 upload(iOS) - The operation couldn’t be completed. (Amplify.AuthError error 1.)"
So you get this if you haven't added permission to your plist, but that error message isn't descriptive at all. Would be nice if it at least mentioned device app permissions or something along those lines.

Here is the error I got in the debugger:

[code]

[2021-03-23 22:11] haverchuck commented on #451
@fayeed Which version of amplify-flutter are you using?  Based on the error message, it looks to me like it's from our developer preview phase?

[2021-03-23 23:40] ssantomauro commented on #464
This is my code:
[code]

It's the way I'm using for the signIn and signOut as well.

[2021-03-24 07:57] Yonkokilasi commented on #432
The minSDK is already 21
`group 'com.amazonaws.amplify.amplify_auth_cognito'
version '1.0-SNAPSHOT'

buildscript {
    ext.kotlin_version = '1.3.50'
    repositories {
        google()
        jcenter()
        mavenCentral()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.5.0'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}

root

[2021-03-24 07:58] Yonkokilasi commented on #432
This will not be possible

[2021-03-24 08:00] Yonkokilasi commented on #432
A new error is now showing @Amplifiyer
[code]

[2021-03-24 11:24] krunduev commented on #434
Because every version of amplify_flutter depends on plugin_platform_interface ^1.0.1 and flutter_local_notifications_platform_interface >=3.0.0-nullsafety.3 depends on plugin_platform_interface ^2.0.0, amplify_flutter is incompatible with flutter_local_notifications_platform_interface >=3.0.0-nullsafety.3.
And because flutter_local_notifications >=5.0.0 depends on flutter_local_notifications_platf

[2021-03-24 11:28] krunduev commented on #434
Also I cant use dependency_overrides because so many libraries already migrate to Flutter 2.0
ANd I get conflict not only with **flutter_local_notifications**

[2021-03-24 16:14] haverchuck commented on #464
@ssantomauro Ok I think I found the issue.  In Android, our underlying amplify-android libray just caches the username when the initial `resetPassword` method is called (while iOS requires it to be passed).  We will work to resolve this discrepency.

[2021-03-24 16:50] gauravmehta13 commented on #234
+1

[2021-03-24 16:59] SergeyLabutin commented on #234
+1

[2021-03-24 19:54] haverchuck commented on #424
@JamesMcIntosh I believe that confirmSignIn can be used in the case when the user is created in the Cognito console itself and requires a password change on the end-user's part to complete the first sign in process.

[2021-03-24 20:20] haverchuck commented on #424
@brunovsiqueira Have you moved your SES accound of the[ SES sandbox](https://docs.aws.amazon.com/ses/latest/DeveloperGuide/request-production-access.html)?

[2021-03-24 20:36] lukaszciastko commented on #445
Thanks. This wasn't clear to me at first, but it makes sense. I didn't see the link between Data Store and AppSync.

[2021-03-24 23:42] haverchuck commented on #424
@brunovsiqueira Also - do you have [PreventUserExistenceErrors](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-managing-errors.html) disabled or enabled in your User Pool App Client?

[2021-03-25 00:06] mprogers commented on #359
This did not solve my problem:

post_install do |installer|
  installer.pods_project.targets.each do |target|
    flutter_additional_ios_build_settings(target)
    target.build_configurations.each do |config|
      config.build_settings.delete 'IPHONEOS_DEPLOYMENT_TARGET'
    end
  end
end

I cleaned the project and and get the same message.

[2021-03-25 00:48] mprogers commented on #359
I don't know if this is the same problem, but I too am getting an error about Starscream and deployment targets:

/Users/me/Downloads/desperado-3/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift:27:8: Compiling for iOS 10.0, but module 'Starscream' has a minimum deployment target of iOS 13.0: /Users/me/Library/Developer/Xcode/DerivedData/Runner-bvpvzsabnkerxeefbmvnaewlbfey

[2021-03-25 10:13] CamronLDNF opened #466 "Documentation needed on accessing non-AppSync GraphQL APIs"
What I'm trying to achieve with my Flutter app (and using Amplify Flutter):

- I want the app to access an existing non-AppSync GraphQL api that we have (developed with golang and deployed on elastic beanstalk).
- I want to use the `amplify_auth_cognito` package for user authentication (cognito user pool).

Given that the info available on Amplify Flutter is still quite scarce and the documentatio

[2021-03-25 12:16] #466 closed

[2021-03-25 13:21] gauravdangi opened #467 "Retrieve data from Amplify Cloud back to DataStore"
I am new to Amplify datastore and decided to use Amplify Datastore with flutter app to provide offline mode feature to the users. I successfully implemented my project with Datastore but I would like to clear the local storage when the user logs out. And if logs back, I want user's data to be there but it seems like datastore sync data from local to cloud out of the box but do not sync cloud to lo

[2021-03-25 14:56] trinanda98 commented on #441
@haverchuck Have you found any solution?

[2021-03-25 16:08] ssantomauro commented on #464
Thanks!

[2021-03-25 16:56] haverchuck commented on #467
@gauravdangi Did you try using [query](https://docs.amplify.aws/lib/datastore/data-access/q/platform/flutter#query-data) when the user logs back in?

[2021-03-25 18:12] gauravdangi commented on #467
Yes. And it returned null.
This is the query I tried:-
`await Amplify.DataStore.query(
        User.classType,
        where: User.ID.eq(_userId),
      );`

Also want to inform I did `await Amplify.DataStore.clear()` while logging out the user.

[2021-03-25 18:46] jamesonwilliams commented on #234
Here's a customer asking about Flutter web support for Cognito on StackOverflow:

https://stackoverflow.com/questions/66796518/how-to-login-with-cognito-in-flutter-web

There community has currently built (at least) two pure-Dart libraries to interact with Cognito:

 - https://github.com/jonsaw/amazon-cognito-identity-dart/
 - https://github.com/furaiev/amazon-cognito-identity-dart-2/

[2021-03-25 19:25] mclark4386 opened #468 "[Feature Request] DataStore watch()"
The current methods for `query`/`observe` are a bit clunky if you want to use a stream builder and expect new items to stream right into it (idiomatic of flutter). So I would like to request/purpose a `watch` command that would work the same as `query` except that it would return a stream that upon a change that would affect the previous results of the the query would sink a new set of results to

[2021-03-25 20:25] haverchuck commented on #467
@gauravdangi Did you set up your API with the Amplify CLI, if so, did you choose the "Enable DataStore" option?

![image](https://user-images.githubusercontent.com/10621276/112538857-89ee9c80-8d6d-11eb-80df-6c5197e226fc.png)

[2021-03-25 20:42] SalahAdDin commented on #319
Is it full usable now?

[2021-03-25 22:54] haverchuck commented on #468
@mclark4386 Thanks for posting this suggestion!

What would this `watch` command do that cannot be accomplished  with [observe](https://docs.amplify.aws/lib/datastore/real-time/q/platform/flutter)?

Thanks!

[2021-03-26 02:00] djsjr opened #469 "Amplify GraphQL API incompatible with iOS 14 deployment target"
When using the package amplify_api 0.1.0, if the deployment target is anything other than 9.0, iOS app will not build. Removing the API dependency or using ios: 9.0 in the podfile results in a successful build. Anyone know what's wrong or how to fix it?

Here's the output.

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[] Andr

[2021-03-26 05:27] gauravdangi commented on #467
@haverchuck  Yes. I have enabled Datastore and now I am getting the "Disable Datastore for entire API" option.

<img width="744" alt="Screenshot 2021-03-26 at 10 45 22 AM" src="https://user-images.githubusercontent.com/15454927/112585985-e959b480-8e20-11eb-9563-6918b0abb914.png">

And yes, by null I mean empty list, sorry for the confusion.

Also Just want to confirm, are we required to implement

[2021-03-26 05:42] gauravdangi commented on #467
Also, I missed the logs before. I have edited the question with the logs below:
[code]

[2021-03-26 07:47] exampaqs opened #470 "Storage Exception"
`  void _configureAmplify(GlobalProvider provider) async {

    if (!mounted) return;

    Amplify.addPlugins([AmplifyAuthCognito(), AmplifyStorageS3()]);

    try {

      await Amplify.configure(amplifyconfig);

    } catch (_) {

      configurationState = true;

    }

    configurationState = true;

  }`

then:

`Future<String> getImages({@required String urlKey}) async {

    String url;

[2021-03-26 07:49] #417 closed

[2021-03-26 15:36] haverchuck commented on #470
@exampaqs Do you have any logs you could post?

[2021-03-26 15:42] haverchuck commented on #469
@djsjr I believe this is a duplicate of #359, so I am closing this issue. Please post any additional updates of 359.

To resolve this, will you please try adding the following to the Podfile in your ios directory?

[code]

[2021-03-26 15:42] #469 closed

[2021-03-26 15:48] haverchuck commented on #467
@gauravdangi Did you run `amplify push` after `amplify update`?  It's correct that you are getting the 'Disable Datastore' option since you've run the update command locally, but you need to publish that change to the cloud.

And yes- `DataStore.query` should fetch records from the backend, provided that you have added both the DataStore plugin (which I think you have) and the [API plugin](https:/

[2021-03-26 16:07] djsjr commented on #469
Thank you Dustin! Did not see that when I searched to see if anyone had a similar problem.

[2021-03-26 16:30] gauravdangi commented on #467
@haverchuck Yes, I have. Below is the output of `Amplify status`
[code]

[2021-03-26 16:50] haverchuck commented on #467
@gauravdangi Are you working with an existing data source with a significant number of records?

[2021-03-26 17:02] haverchuck commented on #441
@trinanda98 This will require a change in one of our underlying native amplify libraries. We are working to resolve this discrepancy.

[2021-03-26 17:20] HappyMakadiya commented on #460
[code]

[2021-03-26 17:30] gauravdangi commented on #467
@haverchuck No. It does not have a significant number of records. Less than 200 records in total.

[2021-03-26 19:29] pairwinter commented on #442
Hi @Ashish-Nanda , any update on this question?

[2021-03-26 19:43] exampaqs commented on #470
I did that in the post, but this is the full log:

E/amplify:flutter:storage_s3(15597): StorageException
E/amplify:flutter:storage_s3(15597): java.lang.IllegalStateException: Tried to get a plugin before it was configured.  Make sure you call Amplify.configure() first.
E/amplify:flutter:storage_s3(15597): 	at com.amplifyframework.core.category.Category.getPluginIfConfiguredOrThrow(Category.java:23

[2021-03-26 20:54] dedvalson commented on #234
+1

[2021-03-26 22:57] A-Kurimoto opened #471 "Cognito User pool authorization does not work at iOS"
**Describe the bug**
https://docs.amplify.aws/lib/restapi/authz/q/platform/flutter#cognito-user-pool-authorization

Cognito User pool authorization does not work at iOS. It returns always 401 unauthorized.

Also, it works fine with Javascript.
https://docs.amplify.aws/lib/restapi/authz/q/platform/js#request-headers

**To Reproduce**
Following is my configuration.

[code]

And following is source c

[2021-03-27 00:04] 24601 commented on #435
I would suggest a heavy priority be put on this. Frankly, a brand-new (as opposed to new rev with old legacy code) project/library like Amplify Flutter NOT supporting this amazes me (to the point of it almost being negligent, given null safety was no surprise, been in plan for quite some time in Flutter, almost as if AWS didn't hire or engage proper Flutter architects to plan this).

Especially co

[2021-03-27 00:53] Alexminator99 opened #472 "Amplify User Managment"
**Describe the bug**
This maybe be a bug... I want to create users in Admin UI only. Also i want for each user a record in dynamodb. So to that  i created a lambda function that triggers in post confirmation. Now here comes the bug... When an user is created using signUp, the record of that user is created perfectly in the database after user confirms its security code and logs in... But... as I s

[2021-03-27 06:55] LUCIFER-dev-king commented on #434
@krunduev Having the same issue.

[2021-03-27 14:17] bobosette opened #473 "Flutter WEB"
Hi. Did you plan to release something for Flutter Web??

Thank you

[2021-03-27 19:18] #472 closed

[2021-03-27 21:16] SalahAdDin commented on #473
@bobosette Oh shit, does it not work on web now?

[2021-03-27 21:18] bobosette commented on #473
No.... "Could not configure aws amplify" and it throws an error.
I don't know if there is to setup something

[2021-03-27 21:29] haverchuck commented on #473
@SalahAdDin @bobosette We are currently investigating adding the web platform to amplify-flutter.

[2021-03-27 21:32] SalahAdDin commented on #461
It happens with `uuid` too:
[code]

[2021-03-27 21:38] SalahAdDin commented on #434
It happens with `uuid` too:
[code]

[2021-03-27 21:41] bobosette commented on #473
Thank you. Would you know how much time does it take??

[2021-03-27 21:46] SalahAdDin commented on #473
What's about **Flutter Desktop**?

[2021-03-27 21:51] SalahAdDin commented on #457
It is not possible to guess to fetch objects from database?

[2021-03-27 21:53] SalahAdDin commented on #432
It is a conflict with the new **Flutter**'s version.

[2021-03-27 21:55] SalahAdDin commented on #418
Did you get a workaround about this?

[2021-03-27 22:44] alokjkumar commented on #471
I have the same issue. Works in android if I manually add the Authorization header but not in iOS

[2021-03-28 09:25] gauravdangi opened #474 "Refresh token using expired token - SessionExpiredException handling"
**Describe the bug**
I am getting `SessionExpiredException` (Session expired could not fetch user sub) when a user's session is expired while fetching the user's Auth session
`await Amplify.Auth.fetchAuthSession(options: CognitoSessionOptions(getAWSCredentials: true));`

Now I would like to refresh the token once it is expired without asking the user to re-login. So there should be a method using

[2021-03-28 09:45] Lorenzohidalgo commented on #463
I'm not sure if it was the last release or the fact that i'm no longer trying using the default id field to store the cognito_uid but it's working now. Some update operations are still not showing on the Dynamodb, but the error is not showing anymore.

[2021-03-28 10:56] gauravdangi commented on #467
@haverchuck Also, I am running my application on two devices (Android and ios) and when I changed the data on my android device, it is not syncing with the one running on iOS. Though I can see that the records were updated in dynamoDB tables.
Similarly, the changes made on iOS are not syncing with the one running on android.

[2021-03-28 13:29] bluesky2091 commented on #234
+1

[2021-03-28 18:01] cto-leaps commented on #308
Hey guys,

The doc at this url:
shows a way to use different auth modes for the same GraphQL Endpoint, which is exactly what I am looking for.
[code]

One model in my scheme is set as follows:

[code]

So I want my Guest Users (the ones who have not yet created an account) to be able to get a list of Exercices, just like the Authenticated ones.
The doc suggests that I should be able to switch whic

[2021-03-28 18:17] cto-leaps commented on #457
@SalahAdDin Nope, when I try a Amplify.Auth.fetchAuthSession(), I do get AWSCredentials, but later, when I try to query my public (IAM) accessible GraphQL model, I get a

`{message: Failed to retrieve Cognito UserPool token., underlyingException: L’opération n’a pas pu s’achever. (Amplify.AuthError erreur 6.), recoverySuggestion: }, null))`

error...
Any idea?

[2021-03-28 18:57] Ashish-Nanda commented on #435
@24601 I understand your frustration, but as you can see above https://github.com/aws-amplify/amplify-flutter/issues/435#issuecomment-795408009 it is clear that we are actively working on the null safety migrations and acknowledge its importance. We cannot disclose our internal roadmap or dates, **but this is one of our top priorities at this time**.

Also this is not a surprise for us. The projec

[2021-03-28 23:52] fdarsot commented on #418
Hi I did not, still waiting on a fix/comment from @haverchuck  and team

[2021-03-29 07:10] LUCIFER-dev-king commented on #434
@krunduev You can use ``` flutter_local_notification: 4.0.0 ``` This version is compatible with amplify.

[2021-03-29 07:40] autthapol-k opened #475 "Force Refresh Session on Amplify Cognito"
Is it possible to force refresh session?
or any workaround?

[2021-03-29 07:52] roelvandenbranddvc commented on #473
This has been requested before: https://github.com/aws-amplify/amplify-flutter/issues/234

If we put our votes on the same feature, we might get it further up the backlog ;-)

[2021-03-29 07:52] autthapol-k commented on #299
Any update or work around for this?

I still see this comment on onFetchAuthSession method that mean it is not yet implemented.
// TODO: Implement forceRefresh when/if supported by Amplify libs

Strong hopefully this will be accomplish soon.

[2021-03-29 07:53] autthapol-k commented on #475
Duplicate [#299 ](https://github.com/aws-amplify/amplify-flutter/issues/299)

[2021-03-29 07:53] #475 closed

[2021-03-29 09:36] deekob commented on #234
+1

[2021-03-29 10:23] apolo92 commented on #298
Thanks @nithin-seenivasan  and @kjones I use @owner permissions in appsync and only sync data user. But during testing I have seen that the Amplify.Datastore.clear () does not work on ios. This command do not nothing :(. Do you have any issue on this topic?

[2021-03-29 16:03] haverchuck commented on #473
@roelvandenbranddvc Thank for noting the previous issue.  I'm going to close this one, in order to consolidate all feedback on  #234.

[2021-03-29 16:03] #473 closed

[2021-03-29 20:34] markpearl commented on #118
Is there any update on this?  Experiencing the same thing.

[2021-03-29 22:40] haverchuck commented on #461
@SalahAdDin @Ajmaljalal @masterlonghorn This should be resolved by the 0.1.1 release.

[2021-03-29 22:40] #461 closed

[2021-03-29 22:41] haverchuck commented on #434
@exampaqs This should be resolved by the 0.1.1 release.

[2021-03-29 22:41] #434 closed

[2021-03-29 22:41] haverchuck commented on #140
@JamesMcIntosh Your PR was included in the 0.1.1 release.  Thank you for contributing!

[2021-03-29 22:41] #140 closed

[2021-03-29 22:43] haverchuck commented on #427
@fotiDim A fix for this should be included in the 0.1.1 release (March 29).  Are you continuing to experience issues with this patch?

[2021-03-30 00:32] Ashish-Nanda commented on #140
@JamesMcIntosh Please let us know if there are still any issues and we can re-open this if needed.

[2021-03-30 01:44] DavidTraina commented on #288
Same problem here on fresh flutter project and amplify cli `4.46.1`:
`flutter is not supported by codegen plugin`

[2021-03-30 07:40] gauravdangi commented on #444
Any update?

[2021-03-30 12:49] Kilo-Loco commented on #460
Based on your `amplifyconfiguration.dart` file, it looks like you've added both the Auth and API categories. You'll need to add those plugins to the `_configureAmplify()` as well as install the dependencies.

Add the following to `pubspec.yaml`:
[code]

Add the following to `_configureAmplify()`:
[code]

[2021-03-30 15:30] haverchuck commented on #424
@brunovsiqueira Closing this issue due to inactivity.  I believe that Cognito's "PreventUserExistenceErrors" is the reason an error isn't thrown.

[2021-03-30 15:30] #424 closed

[2021-03-30 17:48] meggamind commented on #435
@Ashish-Nanda Do you need help with this? I would like to make a PR if ya'll need help

[2021-03-30 17:58] 24601 commented on #435
Thanks for the insight, and I look forward to AWS releasing the software.

I reviewed the community guidelines, I did not find anywhere that my comment violated it. If I did, please help me understand so I can avoid doing so in the future, but being frank and upfront doesn't seem to be against the policy. On the other hand, attempting to use community guidelines designed to create a safe space for

[2021-03-30 21:15] fdarsot commented on #418
@haverchuck @Amplifiyer @fjnoyp

[2021-03-30 23:20] Amplifiyer commented on #359
@mprogers can you provide a minimal reproducible app where you are seeing this issue? The workaround has worked for other customers, so I wanted to know if there is any difference in your setup. (Flutter version, podfile, pubspec.yaml etc)

[2021-03-31 01:48] Amplifiyer commented on #470
@exampaqs are there more logs from the first `configure()` call. It seems you are catching an exception but considering it a success in your app. It'll be interesting to see if you have any logs/exceptions thrown from first configure call.

[2021-03-31 02:10] Amplifiyer commented on #467
@gauravdangi, first to answer your question, No, you don't need to sync data from cloud to local manually. When datastore is initialized, it will start the sync process which will sync all the cloud data to local device (e.g. after calling `clear` as you did)

The problem seems to be from the timeout exception you are encountering as seen in your logs. ` cause=ApiException{message=Thread interrupt

[2021-03-31 06:08] fjnoyp commented on #435
#481 - Null Safety support for Core/Flutter and all Platform Plugin Interfaces
#482 - Null Safety support for Auth
#483 - Null Safety support for Analytics
#484 - Null Safety support for API

[2021-03-31 07:05] hustakin opened #486 "Amplify Auth signIn timeout due to an SSL error"
**Describe the bug**
Amplify.Auth.signIn will meet an SSL error and then timeout on my iOS simulator.

**To Reproduce**
`
    try {
      await Amplify.Auth.signIn(
        username: email,
        password: password,
      );
    } on AuthException catch (e) {
      print('Error in signing in: ${e.message} - ${e.recoverySuggestion}');
    }
`

**Exception Logs**
`
flutter: Error in signing in: Un

[2021-03-31 08:58] shouza1712 commented on #5
**How to add Amplify endpoint to flutter app for the .apk release of the app?**

I have been trying to make the .apk release of my flutter login app (which uses amplify as the backend) work but it gives out an error. The app works when I run it on an emulator or when my phone is connected to my laptop in developer mode. I have no clue where the endpoint needs to be set for the .apk release. Please

[2021-03-31 12:58] pavan613 opened #487 "How do we update custom attributes of a user in aws cognito user pool using amplify flutter"
**Describe the bug**
How do we update custom attributes of a user in aws cognito user pool using amplify flutter.
If this feature is not there in flutter at the moment when is it expected to come.
Is there any work around for this?

[2021-03-31 15:41] haverchuck commented on #487
@pavan613 You can currently create custom attributes for a new user with the signup api; the APIs to update cognito attributes (both custom and standard) are actively under development.

[2021-03-31 17:20] Amplifiyer commented on #5
@shouza1712 please create a new bug report in this repository to track this issue. This issue is meant for gathering feedback for early amplify-flutter development only.

[2021-03-31 17:21] Amplifiyer commented on #5
Closing this issue since Amplify for flutter is in GA.

[2021-03-31 17:21] #5 closed

[2021-03-31 22:18] edwardaux opened #488 "Using the modules independently"
I've got a question, rather than a bug - apologies if this isn't the right place for it.

I've got an existing app that uses an unofficial cognito library (amazon_cognito_identity_dart) but it appears to have been abandoned, so I'm looking at alternatives. Obviously, this project is the first one on my list.

I really only need the cognito module... do I have to install the whole amplify "ecosyste

[2021-03-31 22:27] Amplifiyer commented on #488
@edwardaux yes you can use some of the modules independently and amplify_auth_cognito is one of them. You still have to use the amplify_flutter top level package/facade to configure and setup everything, you won't need anything else.

If you were to use Storage or Analytics, then you also need to have amplify_auth_cognito since they depend on it for access credentials.

[2021-03-31 22:27] #488 closed

[2021-03-31 22:40] edwardaux commented on #488
👍 thanks for the confirmation

[2021-03-31 23:04] matthewchung74 commented on #234
+1

[2021-04-01 00:19] Amplifiyer commented on #463
@Lorenzohidalgo hmm, it seems you are creating the user by supplying your own Id. This could cause issues if you try to save/create a new record when the sync with cloud is not complete yet. e.g. you started the app, queried for the user id, didn't find it (because the sync is either not completed or failed) so the app decided to create a new record with that user id. However it's possible that th

[2021-04-01 01:25] infernal008 opened #489 "DataStore SQLiteException: Ambiguous Column Name"
I have a schema like below:

_I trimmed down most unecessary fields at it seems too verbose_

[code]
Basically:

- A TransactionObject has one CategoryObject
- A CategoryObject can be used by different TransactionObjects
- A TransactionObject has one WalletObject for walletFrom (in business logic: what wallet was used for the transaction)
- A TransactionObject can have a WalletObject for walletTo

[2021-04-01 07:53] gauravdangi commented on #467
I am facing this problem on both platforms (iOS and android) maybe not the same exception. I have also posted the logs in the question (Timed out waiting for subscription processor to start.).
So after uninstalling the app from the device and re-running it, I navigate the user to the sign-in page. Once the user signs in, The below code is executed:-
[code]

_initializeVariables() initializes the v

[2021-04-01 08:11] Lorenzohidalgo commented on #463
@Amplifiyer I'm no longer supplying or trying to edit the id. Tryed deleting all records on the DynamoDB + Local datastore and still having the same error. Is there a better explenation usage example for implementing the hubsubscription?

[2021-04-01 10:36] babytiger0929 opened #490 "Get user data as the response of signUp request"
I am trying to implement Amplify authentication system in flutter project, and need to get user data as a response in signUp request just like in the web.

In web:
Auth.signUp({some user data}).then(user => {
    ... (Here I can get user data such as userSub)
});

I wanna to get the user data in similar way especially userSub.
Any good solution?
(In my case, username is email.)

[2021-04-01 17:05] matthewchung74 commented on #234
is it possible to just call amplify.js directly from flutter?

[2021-04-01 17:34] Amplifiyer commented on #467
thanks @gauravdangi for more details. Your iOS logs will be helpful as well to see what's going on there. Also the code that you posted seems it's not using the hub's ready event. See this comment https://github.com/aws-amplify/amplify-flutter/issues/279#issuecomment-756409618 for more details on how to workaround the sync issue. Let us know if this workaround fixed any of your platforms.

[2021-04-01 17:51] Amplifiyer commented on #463
@Lorenzohidalgo are you getting this error while setting up a subscription? Sorry to ask you again, can you post your code sample including the order of calls to DataStore and the complete logs you see (after deleting all local + DDB records)

[2021-04-01 18:07] Amplifiyer commented on #490
You can use the [`fetchAuthSession`](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter) in amplify-flutter to get the userSub. It will return an instance of [`CognitoAuthSession`](https://github.com/aws-amplify/amplify-flutter/blob/c773828dd91ded62e25eece9b8945f07fa551957/packages/amplify_auth_cognito/lib/src/CognitoSession/CognitoAuthSession.dart)

[2021-04-01 18:07] #490 closed

[2021-04-01 18:36] gauravdangi commented on #467
@Amplifiyer I have added Hub as a workaround when the user signs in or opens the app (auto-login). But I'm still facing this problem on android(working fine in iOS after setting up the Hub). Could you please confirm if I've implemented the hub the right way?
It is not clear when we should listen to Hub. As given in the [documentation](https://docs.amplify.aws/lib/datastore/datastore-events/q/platf

[2021-04-01 20:47] haverchuck commented on #122
@md-weber We've reopened this and are working on a fix.

[2021-04-01 22:52] saltedpotatos opened #493 "Unrecognized Auth Event"
**Describe the bug**
Listening to the Auth channel of the Hub subscription on a real device, the run terminal is littered with "Unrecognized Auth Event"

Debugging, it seems to trip over "Auth.fetchSessionAPI" and  "Auth.fetchUserAttributesAPI",

I do fetch credentials, as described [here](https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter), and user attributes, as described [

[2021-04-01 23:17] ClarkYin commented on #122
awesome thank you, i think i have the same issue.

[2021-04-02 07:19] Lorenzohidalgo commented on #463
@Amplifiyer here are the requested code snippets & Logs. It fails both in Android Simulator and Android Device (did not test on IOs yet).

DataStore Querys:
[code]

Amplify configuration code:
[code]

The execution order:
1. Open App + LogIn
    - Attempting autoLogin --> getUserByCognitoUId: Error (expected)
    - Enter SignIn information + update lastLogin
       --> getUserByCognitoUId: Success

[2021-04-02 10:40] Lorenzohidalgo commented on #463
@Amplifiyer I'm not sure if this has anything to do with the error, but just found out that the id is beeing displayed as null while debugging even though its available.
![image](https://user-images.githubusercontent.com/22448611/113408974-a2376a80-93b0-11eb-8d4a-bd6d686b01a4.png)

[2021-04-02 13:48] WingCH commented on #432
same problem

[2021-04-02 16:23] Lorenzohidalgo opened #494 "DataStore Error having two relationships with the same model"
**Describe the bug**
The autogenerated code for a data schema does not support having multiple relationships with the same data model.
Error: android.database.sqlite.SQLiteException throws an exception for duplicated column names.
<details>
  <summary>Thrown Exception</summary>
<code>
DataStoreException (DataStoreException(message: Error in saving the model: Transfers[id=4fd38eb3-ed48-4452-870e-ae

[2021-04-02 16:43] raph commented on #438
I think this limitation is the main reason flutter developer are going to firebase over amplify. The main advantage of having social auth and signup is the decreased friction on signup. That advantage is non-existent without this feature. This is a dealbreaker for amplify. As a product manager, its hard to understand how this is not on the roadmap for the amplify-flutter team.

[2021-04-02 17:30] djsjr commented on #450
Amplify video plugin for flutter is a must-have for myself! Is it coming any time soon?

[2021-04-02 17:54] Amplifiyer commented on #450
@djsjr we are currently collecting customer's use cases and requirements. Please post in the related RFC https://github.com/aws-amplify/amplify-cli/issues/6896 exactly which specific use cases you'd like for Amplify to have.

[2021-04-02 20:41] SalahAdDin commented on #157
@fjnoyp Is it related to the hotreload function?

[2021-04-03 04:42] gnumonk commented on #234
+1, Since Flutter Web is not Stable, this feature is very much required.

[2021-04-03 12:28] YazeedAlKhalaf opened #495 "UnimplementedError (UnimplementedError: serializeAsMap() has not been implemented on SignUpOptions.)"
**Describe the bug**

I followed the tutorial but can't create a user with custom attributes. I need the email because there will be a verification sent so what can I do? I use the `0.1.1` version of the plugins

**To Reproduce**
Use this code:

[code]

**Expected behavior**
Should `serializeAsMap` the user attributes

**Screenshots**
![image](https://user-images.githubusercontent.com/41989385/113

[2021-04-03 12:31] YazeedAlKhalaf commented on #495
Never mind, I think I used a new API that is not yet done, anyways if you hit this issue from a google search here is the solution.

[code]

[2021-04-03 12:31] #495 closed

[2021-04-03 13:39] rajesh-kc opened #496 "Amplify Datatstore - change in graphql shema raised error "Failure performing sync query to AppSync""
**Describe the bug**
New posts not saving to aws amplify datastore, instead storing posts locally at app level. Graphql Schema changes to API are successfully pushed to server, but "type mismatch error" is raised

ERROR:

  Initial cloud sync failed.
  DataStoreException{message=Failure performing sync query to AppSync: [GraphQLResponse.Error{message='Can't resolve value (/syncArticles/items[0]/fi

[2021-04-04 06:27] ken-ng-esotec opened #498 "0.1.1 breaks hot restart for ios"
**Describe the bug**
Hot restart does not work after upgrade to v1.0.1. Tested in both Android Studio and VSCode.
**Issue only affect ios**. Android is working.

**To Reproduce**
Steps to reproduce the behavior:
1. Run in ios with amplify libraries v.0.1.0
2. Try hot restart - works
3. Upgrade to amplify libraries v0.1.1
4. Run in ios
5. Hot restart is broken "Lost connection to device." - Verbose

[2021-04-04 15:19] Verditer commented on #471
@alokjkumar  how were you able to manually add the authorization header.
The below code is not working, 400 when headers are added and 401 when headers are removed

`CognitoAuthSession res = await Amplify.Auth.fetchAuthSession(
          options: CognitoSessionOptions(getAWSCredentials: true));

      final id = res.userPoolTokens.idToken;
      final at = res.userPoolTokens.accessToken;

      //

[2021-04-04 17:25] babytiger0929 commented on #490
I think I can use fetchAuthSession only after I logged in.
Can I use this just after creating a new account?

[2021-04-05 05:00] varun-esotec commented on #410
Hi! We're experiencing the same. We've setup the lambda triggers as mentioned in the Docs and have updated it our `amplifyconfiguration.dart` to use `CUSTOM_AUTH`.

However, it seems like the user always fails to sign in when we use this and we had to then switch back to `USER_SRP_AUTH`

[2021-04-05 05:39] fayeed commented on #451
@haverchuck sorry for the late response, yes we were using this constraint `<1.0.0` and it didn't update the deps so had to manually set it `0.1.1` which seems to work, but also encountered another error and this seems different "Unable to verify secret hash for client"  let me know if I need to create another issue for this, Thanks!

[2021-04-05 07:41] PriyaSindkar commented on #432
facing the same issue with Flutter SDK 2.0.3

[2021-04-05 16:15] haverchuck commented on #498
@ken-ng-esotec Could you please post the code you are using to call `.configure` and `.addPlugin`, including any Flutter lifecyle hook you might be using?

[2021-04-05 19:59] BerndWessels commented on #234
+1
Just want to stress that the strength of flutter is cross platform and that equal support of the major platforms Android, IOS and WEB is essential for the success of flutter and amplify.
Especially HUGE companies like AWS should be able to provide up to date versions of their products supporting major milestones like Flutter 2.
Web and nullish is really a basic essential to be supported.

[2021-04-05 20:03] alokjkumar commented on #471
@Verditer seem to be using very similar code. Not sure how it differs...

[code]

[code]

Doesn't work for iOS though - only Android. Issue still persists for iOS

[2021-04-06 01:55] haverchuck commented on #451
@fayeed This could *possibly* be an issue with your Cognito User Pool App Client. Can you share how you've configured it?

[2021-04-06 18:43] Verditer commented on #471
@alokjkumar thanks for the response. A new flutter app with auth/api created by amplify seems to be working with cognito pool and social provider. Flutter app with auth imported (with existing cognito user pool with social id provider) and API added manually in amplifyconfiguration with auth set to cognito pool isn't working. seems some configuration is missing.
What was your setup auth/api freshl

[2021-04-06 18:59] Lorenzohidalgo commented on #463
@Amplifiyer do you have any update on this?

[2021-04-06 19:39] alokjkumar commented on #471
@Verditer - I largely followed the second route. Auth config was generated through Amplify CLI but the API was built using SAM so had to be imported into the config. Here's my amplifyconfiguration file.
[code]

[2021-04-06 21:45] NimaSoroush opened #499 "com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied - Android"
**Describe the bug**
Trying to upload image to S3 using Amplify.Storage.uploadFile and I get this error

[code]

Here is my code

[code]

The exact same code works absolutly fine in IOS. This error only happens on Android

**To Reproduce**
Steps to reproduce the behavior:
1. use Amplify.Storage.uploadFile to upload a file with Android

**Expected behavior**
IOS and Android having the same behaviou

[2021-04-06 21:47] matthewchung74 commented on #234
I'm very sad, but just switched to firebase because I need web support.

[2021-04-06 23:18] b3nni97 commented on #410
any updates?

[2021-04-07 00:51] kenspy commented on #234
Sad indeed... My projects are on hold until they release support for web. For some reason, I have more confidence in Amplify than Firebase.

[2021-04-07 05:46] rajesh-kc commented on #496
When using amplify admin UI, if a content record is removed manully from the console, the same record still exists in dynamo db - which causes the above AppSync failing to sync error. There is so much rigidity with in the application.

Not only this specific error, my development time doubled due to using amplify(i know its still beta)

[2021-04-07 06:26] gauravdangi opened #500 "Pagination with Datastore"
**Describe the bug**
As given in the [documentation](https://docs.amplify.aws/lib/datastore/data-access/q/platform/flutter#pagination), the following statement should be used for performing pagination.
[code]

But I'm getting `The name 'QueryPagination' isn't a class. Try correcting the name to match an existing class.` error. I can't find any suggested import too. How can we implement pagination

[2021-04-07 06:47] danielvtan commented on #234
+1

[2021-04-07 07:29] SalahAdDin commented on #110
@haverchuck this repository should have the @gatanaso answer as documentation.

[2021-04-07 08:21] rommank commented on #252
@Amplifiyer Can you reopen the issue, please?

I am having the same issue I guess.

aws-datastore:1.17.2

[code]

[2021-04-07 10:24] gauravdangi commented on #467
@Amplifiyer @haverchuck Could you please tell me if there is a proper documentation of how we can set up a Hub listener as I'm not able to make it work for me.

[2021-04-07 16:07] ZAHHAR-ISMAIL commented on #319
Any news?

[2021-04-07 16:11] segoto commented on #308
Hey guys, I'm kind of having some troubles using the API with graphql because the default token used for the api is the access token but in our backend we already have implemented with the idToken and this won't let me retrieve the data for the app. Meanwhile I'm using the amazon_cognito_identity_dart_2 to implement the queries with http package. I don't know if you may have another way?

[2021-04-07 16:24] fotiDim commented on #427
@haverchuck yes it is indeed resolved. Thank you!

[2021-04-07 16:24] #427 closed

[2021-04-08 00:06] igoramidzic opened #501 "Unexpectedly found nil while implicitly unwrapping an Optional value: file AmplifyPlugins/AWSCognitoAuthPlugin+UserBehavior.swift"
Calling `Amplify.Auth.getCurrentUser()` after hot restarting causes fatal error and terminates debugger.
Please let me know if this issue has been resolved already. I can't find one currently. Thanks.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Amplify with AmplifyAuthCognito
2. Start debugger
3. Hot restart
4. Call `Amplify.Auth.getCurrentUser()`
5. `Fatal error: Unexpectedly

[2021-04-08 06:09] agordeev opened #502 "fetchUserAttributes throws UserNotFoundException"
I have the following code:

[code]

The first line works just fine. However, the second line throws `UserNotFoundException` exception:

[code]

podspec.yaml:

[code]

**Platform**
Amplify Flutter current supports iOS and Android.  This issue is reproducible in (check all that apply):
[] Android
[x] iOS

<details>

  <summary>Output of <code>flutter doctor -v</code></summary>

[code]

</details>

*

[2021-04-08 06:12] agordeev commented on #502
Actually `await Amplify.Auth.getCurrentUser()` returns a non-existing user... Will check further. Closing the issue for now.