[2022-05-07 18:27] fjnoyp commented on #651
Hi everyone, apologies for the delay.  Unfortunately this is currently not supported in the underlying Amplify native libraries.  They would need to add support for this feature before we could expose that functionality in Amplify Flutter.  We can keep you updated here.

We appreciate your comments, as it helps us gauge customer interest for this feature and prioritize appropriately.

Related issu

[2022-05-07 22:12] fjnoyp commented on #1441
Hi @AldrinMathew do you have this issue anymore?

[2022-05-07 22:21] fjnoyp commented on #351
Thanks for your comments - this helps us prioritize issues.  We will keep you updated.

[2022-05-08 12:15] shvc commented on #133
+1 for desktop, based on dart will be better!

[2022-05-08 14:54] lawmicha commented on #944
The changes have been finalized to
- iOS / Android libraries are backwards compatible with the older properties being codegenerated, and have made the changes to support the new properties.
- now we're waiting for the codegen changes to be released here https://github.com/aws-amplify/amplify-codegen/pull/255 to actually generate the new properties
- The codegen changes went through a few iteration

[2022-05-08 17:45] mehrdad-shokri commented on #230
2 years old, what's status of this feature?

[2022-05-09 10:44] filippomenchini opened #1575 "Feature Request: use indexes in GraphQL queries generated by Model Helpers"
Hi everyone!
Using the new Model Helpers for GraphQL queries I noticed that the generated document always refers to the default "list" resolver.

Consider the following schema
[code]

After pushing this schema to the cloud, you get a query named "commentsByPost".
To use this query in Flutter, you have to write custom queries everytime, it would be great to avoid doing so.

One way could be having

[2022-05-09 13:20] crawford-jake commented on #1574
@fjnoyp thanks for the information, this helps a lot! We will be trying to recreate this error over the next few days. I will post here on what we find.

[2022-05-09 14:52] djorgji commented on #1501
@HuiSF Hi, so I did some more testing in iOS for the different sync expressions, there is still a timeout in iOS (including when using `DataStoreSyncExpression(DeviceTelemetry.classType, () => DeviceTelemetry.ID.eq(null))`). However iOS continues retrying without transitioning the to LOCAL_ONLY, unlike Android that does`I/amplify:aws-datastore(20359): Orchestrator transitioning from SYNC_VIA_API t

[2022-05-09 16:55] abdallahshaban557 commented on #1472
Hi @samuelcastro @mithunkavullakandiyil , we have captured this request in our backlog. Thank you for the feedback!

[2022-05-10 01:48] surisakc commented on #1566
Hi, from what I did test in Android last Friday with the latest schema I mentioned above, if I deleted the datastore locally and ran the app, it would sync up the datastore with correct data for an account. If I logged-out and logged-in with different account, it didn't sync up the datastore with correct data for this account (still saw the dataset belonged to the previous account). Again, if I de

[2022-05-10 01:54] surisakc commented on #1563
Hi, I did test the `observe` without `observeQuery` before I added the latter on in just to understand how the latter worked compare to the former one. The `observe` alone didn't get triggered in Android at all. As said, from the debugger log, it showed Android had received the new updated data but the `observe` function not triggered. Can you reproduce the issue?

[2022-05-10 09:59] Lorenzohidalgo commented on #1564
Hi @fjnoyp,

This doesn't solve the issue. **I don't want to query for the `partner` every single time.** I just need the generated model to have the `partnerPID` variable available.

Generating the model without the `@belongsTo` relationship does generate the model with the `partnerPID` variable.

Adding `partner: NPartner @belongsTo(fields: ["partnerPID"])`  to the model **should only add the `p

[2022-05-10 11:04] umegbewe commented on #1180
Found how to do this yet?

[2022-05-10 18:42] Jordan-Nelson commented on #1237
Closing this out since I have heard back. Please open a new issue if you are still experiencing this issue.

[2022-05-10 18:42] #1237 closed

[2022-05-10 19:35] Jordan-Nelson commented on #587
I believe there were some changes in Amplify-Android (which Amplify-Flutter depends on when targeting Android) to resolve this. I just tested this on a Pixel 4 with Chrome disabled with Amplify-Flutter 0.4.5. I do not see the app crash. I see a generic `AuthException`.

As the original issue suggested, a more specific Exception would be better. I am going to update the issue title to reflect that.

[2022-05-11 08:29] Simon-PumpAndUp opened #1577 "Appsync not syncing down after create mutation from lambda"
### Description

Hi,

I've been stuck for a couple days trying to retrieve an entity created via a graphql call in a lambda function on my endpoint.

When I create an entity A, it triggers a lambda function that creates an entity B and updates the newly created A.
My user is connected via Cognito on the device and the lambda uses IAM.

So far I get the lambda to create the entity B adding myself t

[2022-05-11 11:28] np8698 commented on #499
Having this issue using simple_s3 package in Flutter, due to which the upload doesn't get completed.

[2022-05-11 13:24] surisakc commented on #1566
Could it be the issue with `@manyToMany` used in model `User` and `Family`? Android doesn't delete/clear datastore file when logout and next login with different account it fails to sync?

[code]

[2022-05-11 16:07] HuiSF commented on #1577
Hi @Simon-PumpAndUp , thanks for opening this issue.

Unfortunately, it is not officially supported that using AppSync API to operate DataStore. While DataStore is relying on AppSync as sync engine, and some use cases are working, some edge cases, however, may not work.

For your use case, you may need to take care a few things to ensure your design to work.

1. After writing model schema and depl

[2022-05-11 16:29] parad0x96 commented on #1577
@HuiSF I'm facing the same issue
I'm currently doing mutations from an appsync client and returning all the selection set of the model including the nested fields,
I receive the subscription event and the data gets updated in real time but sometimes it doesn't get updated only after a log out of the user.

[2022-05-11 20:37] MMSaad opened #1579 "Flutter Social sign in with Cognito web UI and Facebook policy"
Followed all steps in this page for Facebook login with Web UI https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/flutter/

And app was working fine, the problem that after while Facebook disable the app since the callback only work on mobile devices and not on the web.

What's the best approach to solve this issue?

[2022-05-11 21:59] veeramneni opened #1583 "Error running Flutter 3 and amplify_datastore"
### Description

Started a new flutter project with flutter 3 and amplify datastore - 0.4.5. Pub get imports fine but when running the project build is failing with

flutter/.pub-cache/hosted/pub.dartlang.org/amplify_datastore-0.4.5/android/src/main/kotlin/com/amazonaws/amplify/amplify_datastore/AmplifyDataStorePlugin.kt: (519, 75): Object is not abstract and does not implement abstract member pub

[2022-05-11 22:05] HuiSF commented on #1583
Thanks for opening this issue @veeramneni .
A PR has been created now to fix this issue.
https://github.com/aws-amplify/amplify-flutter/pull/1580

Before the fix to be released, I recommend you using Flutter < 2.17 for development.

[2022-05-11 22:07] HuiSF commented on #1577
As this is a missing feature, I'm labeling this issue as a feature request.
Please feel free to follow up with detailed description of your use cases.

[2022-05-12 06:39] Simon-PumpAndUp commented on #1577
I did all these steps: I pushed my schema, I can see it in the Appsync console. When I create my entity, my dynamodb stream is triggered and create the other entity (via appsync not boto3 -> dynamodb). The entity is in my table but I don't see it being sync down to my phone (even if I flush the datastore and sync it again). As if the owner field if not added from amplify is just not considered.

S

[2022-05-12 07:36] Hevton commented on #1175
How can i fix it..?
in my case, sending '\n' makes NonRetryableException...

[2022-05-12 11:10] edily-learn commented on #1569
thank you @fjnoyp

[2022-05-12 17:41] HuiSF commented on #306
The underlying issue has been fixed on Amplify CLI side.

Please ensure upgrade to Amplify CLI version >=8.0.2, and re-deploy schema (regenerate resolvers).

[2022-05-12 18:00] HuiSF commented on #1566
Hello @surisakc sorry for the delayed response.

I did some digging, looking at your schema: `ownerField: "users"`, you are trying to use the dynamic group authorization.

[code]

There is a [known limitation](https://docs.amplify.aws/cli/graphql/authorization-rules/#user-group-based-data-access) with AppSync, that realtime subscription is not supported with dynamic group authorization. Hence Ampl

[2022-05-12 18:29] HuiSF commented on #1501
Hi @djorgji sorry I missed tracking of your comments somehow.

This sounds critical to your use case, I think we should remove the model from DataStore syncing process completely. I understand you have to also use ModelProvider with API plugin, here's a workaround:

1. Make a copy of `ModelProvider`, rename it to `ModelProviderAPI`, for example to use with the API plugin
2. Modify the original `Mo

[2022-05-13 00:24] cshfang commented on #1579
Hi @MMSaad. Thanks for raising this issue.

Can you help me understand what exactly is happening? Are you building a web app via Flutter? What is the error you are seeing? What do you mean by "after a while"?

[2022-05-13 07:12] julius-stuemmler commented on #319
@abdallahshaban557 Hey, how is the progress on this?

[2022-05-13 07:28] filippomenchini commented on #1575
I tried that too, but as I remember, I only generates a listPosts query. I'll try this again to make sure I didn't miss something, thanks!

[2022-05-13 08:05] Chiida commented on #319
@julius-stuemmler  We had a similar case on our project and what we did is triggering the PinPoint from Resolver (AppSync) or Lambda. PinPoint transfers the object to Firebase and with their service we provided push notifications for mobile (iOS & Android) and the web also.

@abdallahshaban557  could you provide the same functionality that Firebase offers? I think they are covering all cases that

[2022-05-13 09:40] julius-stuemmler commented on #319
@Chiida Thanks a lot, sounds good. I'll try it. If I have any questions with it, can I write you a mail?

[2022-05-13 10:31] jamesblasco commented on #1574
We are having this problem also in our project with a different Stacktrace error. Currently this is happening for most of the users of our app using iPhone and iOS15 and it has become a very important blocker and priority in our project

[code]

[2022-05-13 12:03] surisakc commented on #1566
Hi @HuiSF, thank you for your response.

I saw in the document about the known limitation as well but from my test the iOS worked if I set  `{allow: owner, identityClaim: "sub::username", ownerField: "users"}`. With that I thought Android may also work but it didn't. Android will work if the datastore file gets deleted when sign out but from my test, it failed to delete the datastore file with the

[2022-05-13 13:36] ZRunner opened #1589 "How to use custom providers like with React Native?"
### Description

Hello,

I'm looking to add authentication via custom providers to my Flutter app, as I did in another project in React Native.
For this purpose I was able to configure Cognito to accept both Microsoft and LinkedIn authentications, and I can confirm that these authentications work on this side, but I have not been able to figure out how to implement them in Flutter despite many hou

[2022-05-13 16:37] Jordan-Nelson commented on #1589
Hello @ZRunner - In your react native app, are you using identity pool federation ([docs](https://docs.amplify.aws/lib/auth/advanced/q/platform/js/#identity-pool-federation)) for this?

If so, this is not supported currently by Amplify-Flutter, but we do have a feature request for it here: https://github.com/aws-amplify/amplify-flutter/issues/1439.

Yes, this should open the web UI with all the co

[2022-05-13 16:46] ZRunner commented on #1589
I was using `Auth.federatedSignIn({customProvider: 'Auth0-LinkedIn'})`, which seems to be what you are indeed describing (I'm still fairly new to all of this, sorry 😅)

Yup exactly, I have to customize a bit how to render the different login buttons, some may or may not appear depending on the context or just our moods, and there is indeed to a smaller degree the problem of opening a web page in a

[2022-05-13 17:14] Jordan-Nelson opened #1590 "`DataStore.observe()` can miss events if other DataStore methods are called immediately before it"
### Description

Amplify.DataStore.observe() can miss events if other DataStore methods are called immediately before it. for example, if DataStore.save() is called immediately before DataStore.observe(), the observe stream will miss the save event.

Here is an example test case that will fail.

[code]

Since observeQuery is built on top of observe, this impact observeQuery as well.

### Categorie

[2022-05-13 18:08] Jordan-Nelson commented on #1589
Amplify-Flutter is built on top of Amplify-Android and Amplify-iOS, via flutter platform channels. Amplify-Android and Amplify-iOS do seem to support this (see [iOS docs](https://docs.amplify.aws/sdk/auth/federated-identities/q/platform/ios/)). You could in theory access these APIs via platform channels, but this is not a trivial amount of work, especially if you are not familiar with platform cha

[2022-05-13 18:18] crawford-jake commented on #1574
@dnys1 **Feedback from one of our cloud engineers:**
I started digging into amplify’s code, and since we get a null on removeOperation, that means that the operation is saved as a null when it is added. it gets added when we call Amplify.API.subscribe which executes this [code](https://github.com/aws-amplify/amplify-flutter/blob/f2f3909a5de1e96abc6fe6b8927d24b4acf17de7/packages/api/amplify_api_ios

[2022-05-13 19:38] HuiSF commented on #1566
Hi @surisakc , for this auth rule `{allow: owner, identityClaim: "sub::username", ownerField: "users"}` (owner field is a list), as the document states, it also doesn't support AppSync realtime subscription, I'd expect feature gaps in platform libraries, which cause exceptions. :/

Your thought is correct using low level Cognito API to create groups. But I'm not sure if it's a good idea, as Cognit

[2022-05-13 20:04] abdallahshaban557 commented on #319
@julius-stuemmler - we do not have an update yet. Can I please get your email to setup sometime with you to get further feedback on our plans for Notifications?

@Chiida - we are keeping that in mind for sure! Can I also get your email to setup sometime with you to provide you with some of our thoughts there?

[2022-05-13 20:58] surisakc commented on #1566
@HuiSF I agreed with you on using the low level Cognito API to create groups at runtime may not be a good solution. Using the groups as static should be ideal.

From what I was testing, we wanted to share some models in datastore which means;
- User A creates a model/data/record and saves it in his datastore (he is the owner).
- User A invites User B to see the model/data later by adding User B ID

[2022-05-14 10:09] julius-stuemmler commented on #319
@abdallahshaban557 where I can contact you? Don't want to post my mail public. Thanks.

[2022-05-14 18:23] abdallahshaban557 commented on #319
@julius-stuemmler can you please email me at awshaban@amazon.com

[2022-05-14 19:10] exawizards-koki-fujiwara opened #1592 "Passwords do not match in force_change_password page"
### Description

The default Authenticator page shows 'Password do not match' even though I typed in the exact same passwords.

I am only testing for iOS device, so I'm not sure if it happens for androids.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Create a user in Cognito (Invite vi

[2022-05-15 09:34] MMSaad commented on #1579
When create a Facebook application, it's required to add web site URL which is Cognito Hosted UI URL with callback like myapp://
Facebook considers this application as a normal web application and when they try it it's return to myapp://, Thus they disable the application.
Know it's not related to amplify but is there's any suggestions to how to handle this issue.

[2022-05-15 14:49] dkliss opened #1593 "Flutter 3.0 Upgrade: Execution failed for task ':amplify_datastore:compileDebugKotlin'."
### Description

After upgrading to Flutter 3.0 (from 2.15), I have got following. The error goes away, if I remove "amplify_datastore: ^0.4.5" and package from pubspec.yaml. The error is not seen for other aws packages (listed below). My ext-Koitlin version is 1.6.10 in Android Studio.   The issue is not seen in iOS.

amplify_flutter: ^0.4.5
amplify_auth_cognito: ^0.4.5
amplify_analytics_pinpoint

[2022-05-15 16:16] dkliss commented on #1593
Looks like this has already been reported.  #1583.

[2022-05-16 12:26] magicCashew commented on #1426
We have been confronted with almost the exact same use case as @tr-asimpson .  We are working with BLE devices and have natural keys currently defined in DynamoDB.  We really want to use AppSync, but if we do, we'll have to apply costly workarounds, and will impact our customer experience.  Is it possible to share where this enhancement is on the roadmap or an ETA so that we can appropriately plan

[2022-05-16 21:27] Jordan-Nelson opened #1594 "Querying by ID does not work for observe and observeQuery"
### Description

The following subscription on DataStore.observe will not be hit.

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

See description

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [ ] Android

### Android Device/Emulator API Level

_No response_

### Environ

[2022-05-16 22:19] HuiSF commented on #1594
This issue sounds similar to #1565

[2022-05-17 01:38] Jordan-Nelson commented on #1594
Interesting. It does look similar. I think the fix will be different, although they might sort of come from the same root issue, which is that the fieldName has the model name prepended for IDs.

When I wrote the in memory query predicate logic (used in observe/observeQuery) I had assumed the `fieldName` was always just the same as the key in the `toJson()` result. This is not true for IDs though

[2022-05-17 02:39] Jordan-Nelson commented on #1594
Here is a draft of what option 1 would look like: https://github.com/aws-amplify/amplify-flutter/pull/1597

[2022-05-17 08:39] AmerBiro commented on #1422
@dnys1 you are a life saver. Only your method solved my problem
amplify codegen models
Thank you a lot

[2022-05-17 17:40] dnys1 commented on #1583
This should be fixed in ^0.5.0

[2022-05-17 17:40] #1583 closed

[2022-05-17 17:42] dnys1 commented on #815
This has been released in 0.5.0.

@bschulz87 can you confirm this issue is still present, and if so, would you be willing to copy what you have into a new ticket so we can assign it and look into it?

[2022-05-17 17:42] #815 closed

[2022-05-17 18:03] ragingsquirrel3 commented on #1567
We merged a PR into main to address the runtime amplify-flutter issue and serialize the enum to a string. It should go out in next release. The CLI issue is still open, however.

[2022-05-17 18:45] HuiSF commented on #1504
This issue has been fix since version 0.4.4.

[2022-05-17 18:45] #1504 closed

[2022-05-17 18:53] dnys1 commented on #1574
Thanks, @crawford-jake - sorry for the inconvenience. We should have a fix out soon.

[2022-05-17 19:20] HuiSF commented on #230
amplify-flutter [0.5.0](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.5.0) has released, including capability of configuring `conflictHandler` for DataStore.
Examples please refer to [this documentation](https://docs.amplify.aws/lib/datastore/conflict/q/platform/flutter/#custom-configuration-fields).

Please feel free to follow up if anything. Thanks!

[2022-05-17 19:20] #230 closed

[2022-05-17 21:13] abdallahshaban557 commented on #1180
Hi @umegbewe - can you please provide us with some examples on how you would like to use custom attributes?

[2022-05-18 01:12] antonydieu opened #1601 "Multipart for upload lagre file"
Hello
I use https://pub.dev/packages/amplify_storage_s3 for upload to S3. But when I upload with 2GB, speed network 9.42 Mbps.
Please provide solution chuck file to upload faster.
Thanks

[2022-05-18 08:26] subhangiP opened #1602 "Sign In With Apple has NO app icon"
### Description

I have implemented apple login using AWS Cognito, apple login functionality is working fine but the app logo is not displaying in sign-in with the apple bottom sheet and also in Apps Using AppleID in Settings (settings-> Password & Security -> Apps Using AppleID -> AppName).

Expected behavior:-
he Bottom Sheet does not display the app logo.

Expected behavior:-
The Bottom Sheet s

[2022-05-18 09:10] karl-d commented on #234
+1 for web support

[2022-05-18 09:13] teddyfl commented on #234
+100 for web support ;-)

On Wed, May 18, 2022 at 12:11 PM karl-d ***@***.***> wrote:

[2022-05-18 15:49] ragingsquirrel3 commented on #1482
We added a flutter example for this use case to our documentation. It is available at https://docs.amplify.aws/guides/api-graphql/subscriptions-by-id/q/platform/flutter/ . I'm going to close this issue but feel free to comment with problems or suggestions for how to improve this use case.

[2022-05-18 15:49] #1482 closed

[2022-05-18 17:40] adriangarro opened #1604 "AWS S3 - ListOptions does not have targetIdentityId attribute"
### Description

Hi community, I'm trying to use next code to get the list of files on my S3 bucket:

[code]

However, looks like the SDK v0.5.0 does not allow me do this:

[code]

Any thoughts?

Thanks.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [X] Storage

### Steps to Reproduce

_No response_

### Screenshots

<img wid

[2022-05-18 17:57] HuiSF commented on #1601
Hi @antonydieu thanks for opening this issue.

S3 multipart upload is automatically enabled when the uploaded file is larger than 5MB (Please see the discussion in issue https://github.com/aws-amplify/amplify-flutter/issues/1016).

What's the actual issue you are experiencing? Can you elaborate? Thanks.

[2022-05-18 18:24] HuiSF commented on #1604
Hi @adriangarro thanks for opening this issue.

I don't think the Storage plugin in amplify-flutter supports listing other user's files. Is this what you were trying to achieve? Or do you just want to list all files for the currently signed user?

[2022-05-18 18:57] Jordan-Nelson commented on #1229
Support for lists has been release in version 0.5.0. The `.contains()` query predicate now supports Lists.

[2022-05-18 18:57] #1229 closed

[2022-05-18 19:08] Jordan-Nelson commented on #446
Hello - Apologies for the delay on this.

There was a [fix in Amplify-Android](https://github.com/aws-amplify/amplify-android/pull/1252) that I believe will resolve this. We had upgraded the version of Amplify-Android used in Amplify-Flutter to a version that would include this fix, but due to a bug we had downgrade it for the latest release.

The latest stable version of Amplify-Flutter (0.5.0) d

[2022-05-18 19:26] adriangarro commented on #1604
Hi @HuiSF The idea is just list all files for the currently signed user, since the files are protected, only authorized users from cognito pool can do it.

[2022-05-18 19:27] adriangarro commented on #1604
Attaching error: StorageException(message: Something went wrong with your AWS S3 Storage list operation, recoverySuggestion: See attached exception for more information and suggestions, underlyingException: com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID:#), S3 Extended Request ID:# )

[2022-05-18 21:04] HuiSF commented on #1604
Thanks for the follow up @adriangarro I'll take a look soon.

[2022-05-18 21:56] adriangarro commented on #1604
Ok thanks for your feedback @HuiSF, when I call the list() method I'm already signed in using Amplifiy Auth on my Flutter App.

<img width="561" alt="Screen Shot 2022-05-18 at 15 54 18" src="https://user-images.githubusercontent.com/7646684/169162296-7f11cbb4-929a-4169-b97c-c8ce01d4f000.png">

Here's my configuration:
[code]

[2022-05-18 22:02] HuiSF commented on #1604
@adriangarro To clarify you mean you are using Amplify.Auth.SignIn to sign user correct? (The screenshot shows configuring plugin part only).

Also can you describe how did you configure storage + auth using Amplify CLI? I compared your config file with mine, yours is missing `S3TransferUtility` key under `Auth`.

[2022-05-18 22:09] adriangarro commented on #1604
@HuiSF Correct I'm using Amplify.Auth.SignIn, the configuration screenshot was just to show you that configuration was ok.

<img width="774" alt="Screen Shot 2022-05-18 at 16 07 12" src="https://user-images.githubusercontent.com/7646684/169163780-9ab5c0aa-12ae-4753-abb5-c64f1765e959.png">

I did not use Amplify CLI, I just add this part to my current configuration file:

[code]

Based on this: htt

[2022-05-18 23:52] adriangarro commented on #1604
@HuiSF Thank you, I'll check it.

[2022-05-19 00:05] HuiSF commented on #1601
Hi @antonydieu network throughput limits overall performance, if the network connection is slow, even with the multiparts upload, the overall progress will also be slow. This is out of control of Amplify libraries.

[2022-05-19 00:07] HuiSF commented on #1563
Hi @stevegaunt I've tested your use case in both iOS and Android that I couldn't reproduce the issue you described.

Here's the steps
1. configure plutins
2. Amplify.DataStore.observe(Blog.classType).lis

Hello @surisakc I was looking into your feedback, I couldn't reproduce this issue in Android, however.

Can you paste this part of logs? Also what triggered this update? Your local `Amplify.DataS

[2022-05-19 01:08] #1602 closed

[2022-05-19 06:20] cshfang commented on #1579
Hmm I apologize but I am still not fully understanding. Please bear with me as I try to grasp your use case more clearly.

As I currently understand it, when you are creating your Facebook application, you are required to enter in a Site URL, is this where you are entering in `myapp://... `? By my knowledge, this ought to be the Cognito idpresponse endpoint (which *should* be a valid web URL)

Am

[2022-05-19 07:47] AdamMoroff75 opened #1606 "Unable to make modifications to amplifyconfiguration.dart"
**Background**
I have created a new flutter project and initialised amplify using `amplify init` then added an api using `amplify add api`

**What am I trying to do?**
I am trying to change my REST API from an `authorizationType` of `AWS_IAM` to `API_KEY` and I am following the instructions as described here: [https://docs.amplify.aws/lib/restapi/authz/q/platform/flutter/#api-key](url).

I manuall

[2022-05-19 16:57] abdallahshaban557 commented on #234
@oferardi - we do not have exact timelines at this time. However, web support is our top priority for this year for Amplify Flutter. Can you please inform us which categories are you currently using with Amplify that you would like to use for Web?

[2022-05-19 17:16] abdallahshaban557 commented on #234
@peer-f - I understand it is frustrating that we do not have specific timelines. We are going to communicate those out as soon as we feel confident in our delivery. Can you please provide us with the Amplify categories you are wanting to use on Flutter Web? Our rollout of features will come in phases, so we want as much insights as possible to help us in prioritizing the most needed categories fir

[2022-05-19 17:18] peer-f commented on #234
@abdallahshaban557 We need to use Amplify Auth and Pinpoint for our project.

[2022-05-19 17:22] JaredEzz commented on #234
+1 for Amplify Auth

[2022-05-19 17:42] teddyfl commented on #234
Abdallah,

We have been hearing that it is top priority for over six months and still
we do not even have a date. This is not serious and seems like the Amplify
Flutter team is not respecting its customers.
We are forced to give away an iPad to each of our customers since our
product is not supported on the browser, this has already cost us
thousands of dollars. We thought it would be a few months

[2022-05-19 17:47] HuiSF commented on #1606
Hi @AdamMoroff75 Thanks for opening this issue.

From my own testing, the manual change of authorization type seems not to be able to be persisted into the Amplify App configuration repository. `amplifyconfiguration.dart` is only the output of the configuration, so `amplify push` or `amplify pull` will revert it.

In addition, Amplify CLI doesn't seem to provide a path to configure auth types for

[2022-05-19 19:17] roelvandenbrand commented on #234
Cognito, DynamoDB, but why wouldn't support it all? Could it be that hard to add web, or desktop for that matter, to the options for connecting to Amplify? Amplify stays the same.

[2022-05-19 19:56] HuiSF commented on #1604
We've updated amplify-flutter documentation as well for importing existing s3 resource to an Amplify App.
https://docs.amplify.aws/lib/storage/existing-resources/q/platform/flutter/

[2022-05-19 20:57] abdallahshaban557 commented on #234
Hi @teddyfl - I understand the timelines are important for your planning, and we are trying to be as transparent as possible with our timelines once we are confident in them. You are on our list of customers that will be informed once an early version of Amplify Flutter with support for Web is available.

@roelvandenbrand - currently, Amplify Flutter depends on the iOS/Android Amplify libraries to

[2022-05-19 22:54] abdallahshaban557 commented on #574
Hi @rhinozD - This feature is now available in the latest version of Amplify 0.5.0. You can try it out using this [link](https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/flutter/)

[2022-05-19 23:16] dnys1 commented on #1297
This feature has been released with v0.5.0

[2022-05-19 23:16] #1297 closed

[2022-05-19 23:17] dnys1 commented on #574
Re-opening. Custom auth support has been released in 0.5.0, but TOTP support is still unsupported. We will continue to track that feature in this ticket.

[2022-05-20 06:02] vijayZebu commented on #804
Any updates on this?

[2022-05-20 06:36] dobeerman commented on #234
**Auth**, **DataStore** are our crucial components.

[2022-05-20 07:46] dkliss opened #1607 "AWS Auth and Cognito (Username login): Forgot username and Restricting number of Signups per email"
### Description

I  have used AWS Auth for login and user management and password management.There are couple of items below, I cannot find in flutter AWS documentation:-

1) ISSUE 1: Do we have any API for forgot username? My sign up workflow includes a unique username with email ID and a verification code. I have used reset, update and forgot password functionality but not forgot username, which

[2022-05-20 11:23] matteocrippa commented on #313
@haverchuck I'm facing the same exact **issue**, in particular when I try to login on a second device with same credentials.
How to cope with this scenario? Obviously we cannot ask the user to go to the other device and signOut to signIn in the new one.

[2022-05-20 14:58] veeramneni commented on #1426
+1

[2022-05-20 14:58] AmanMasipeddi commented on #1426
+1

[2022-05-20 16:13] matteocrippa commented on #313
Let's say that I have a user called `dummy1@domain.ext`
Two devices with brand new installed app:
- DeviceA
- DeviceB

- I signIn successfully in `DeviceA`
- I try to then signIn in `DeviceB`

DeviceB raises the error:

`There is already a user which is signed in. Please log out the user before calling showSignIn`

DeviceA continue to show me the user properly logged in.

[2022-05-20 16:15] HuiSF commented on #804
Hi all, amplify-android maintainers suggested [a workaround](https://github.com/aws-amplify/amplify-android/issues/1287#issuecomment-1132266263).

[2022-05-20 16:22] HuiSF commented on #313
Hi @matteocrippa thanks for the example.

As I mentioned, I don't think there is anything blocks sign in the same account signing in multiple devices by default.

This exception means there is an account signed in on device B already before sign in `dummy1@domain.ext` again. It could be a different account, or `dummy1@domain.ext` as well.

Can you try to invoke `Amplify.Auth.fetchAuthSession` on D

[2022-05-20 16:26] matteocrippa commented on #313
I can try, but deviceB is a brand new instance of the iOS simulator just after a full wipe.
So technically over there should be no data. Didn't check if you make use of keychain anywhere in the code (as source of the persistant data)

[2022-05-20 16:58] HuiSF commented on #1607
Hi @dkliss thanks for the questions:

The Amplify Auth plugin currently doesn't provide "forgot username" API, as the solution varies depending on use cases for designs.

This is an expected behavior of Cognito. There is a way however, to make the email unique by enabling signing in with email alias.

When adding auth category using Amplify CLI, there is a step asking you "How do you want users to

[2022-05-20 18:09] dkliss commented on #1607
@HuiSF Thanks for your response. I will make an attempt and see if this works.

A question though. Where will I setup  an Alias on client side?

For example, below is my sign up flutter code. I was wondering, if I need to configure an Alias in under "options"?

I can see that, "options" have parameters such as clientMetadata, Validation Data. Do I need to change anything for these to setup an Alia

[2022-05-20 18:20] HuiSF commented on #1607
This needs to be done when adding the Auth category using Amplify CLI @dkliss . Note that this option once set, you can't change it. So if you have created a user pool by adding auth category, you may need to recreate one.

Run
[code]
When it prompts
[code]
choose `Email`

[2022-05-20 18:25] HuiSF commented on #1577
Hi @Simon-PumpAndUp I'm closing this issue now. Please feel free to follow up or reopen if you need further assistance.

[2022-05-20 18:25] #1577 closed

[2022-05-20 18:30] dkliss commented on #1607
Ok, thanks for this @HuiSF. What I understand is, no change to client side flutter sign up Code i.e., after I have setup Email based auth in Amplify, I shall be ale to  login both via username or email. I will try testing this in next few days.

[2022-05-20 18:36] HuiSF commented on #1514
Hi @zamar3 sorry for the delayed response.

Looking at your two code examples, you were trying to use API category to mutate data model as well.
To clarify, did both code example file to mutate the fields?

My guess is the API mutate fails. This is expected, as your API enabled conflict detection for DataStore use case. With conflict detection, if you are trying to make a mutation API call, you'd

[2022-05-20 20:36] HuiSF commented on #1579
Hi @MMSaad are you able to resolve the issue following the doc?
(As what I read, there is no instructions setting `myapp://`) schemed url in Facebook settings page.

[2022-05-20 20:44] Jordan-Nelson commented on #848
Hello all - This issue should be resolved in Amplify-Flutter v0.4.3 and later, as long as the version of `AWSCore` your app depends on is 2.27.2 or higher. You can find the version of `AWSCore` in your Podfile.lock. Look for a line that looks like:
[code]

If the version is not 2.27.2 or higher, you should be able to run `pod update Amplify AWSPluginsCore AmplifyPlugins` in your `/ios` dir to upda

[2022-05-20 22:00] alperentekay2 commented on #133
+1 for desktop

[2022-05-21 08:05] oferardi commented on #234
Auth, datastore

[2022-05-21 08:29] oferardi commented on #234
Hi @abdallahshaban557
Any rough estimation for auth and datastore support for the web? We need to develop a product that must have these capabilities.

Will it take several.monthes / half year or more?

We need to know roughly when? Thus is critical for our business.

Developing it on competitors solution will also will be an issue to upgrade to aws amplify and import the data in our solution.

[2022-05-21 16:20] anoopeashok opened #1612 "GraphQL mutate operation failed. NonRetryableException{message=OkHttp client request failed., cause=null, recoverySuggestion=Irrecoverable error}"
### Description

Graphql mutation operation fails in android but works in AppSync console

Error:

GraphQL mutate operation failed
E/amplify:flutter:api( 4899): NonRetryableException{message=OkHttp client request failed., cause=null, recoverySuggestion=Irrecoverable error}
E/amplify:flutter:api( 4899):   at com.amplifyframework.api.aws.AppSyncGraphQLOperation$OkHttpCallback.onResponse(AppSyncGraph

[2022-05-21 21:26] sookah commented on #133
+1 for desktop and embedded support

[2022-05-21 21:29] MarlonJD commented on #133
+1 for desktop. Please date for this. I want to use amplify for a big project.

[2022-05-22 01:31] dnys1 commented on #523
This has been released as the [`aws_signature_v4`](https://pub.dev/packages/aws_signature_v4) package with support for Web and VM platforms!

[2022-05-22 01:31] #523 closed

[2022-05-22 17:24] veeramneni opened #1614 "SyncExpression with id"
### Description

Example models:

type User @model @auth(rules: [{allow: public}]) {
  id: ID!
  name: String!
  email: String!
 UserHistory: [UserHistory] @hasMany
}
type UserHistory @model @auth(rules: [{allow: public}]) {
  id: ID!
  info: AWSJSON
  user: User @belongsTo
}

Trying to add sync expression for logged in user. I can get User model to work if I pass User.EMAIL but User.ID is not wor

[2022-05-22 18:29] HuiSF commented on #1614
Hello @veeramneni thanks for reporting.

This is a known issue and we have implemented fixes for both amplify-flutter and amplify-codegen. We anticipate to roll out the fixes soon.

Please follow https://github.com/aws-amplify/amplify-flutter/issues/1565 for updates. Thanks.

[2022-05-22 18:29] #1614 closed

[2022-05-23 09:59] w0da opened #1615 "Auto-Merge behavior doesn't seem right."
### Description

According to [Documentation](https://docs.aws.amazon.com/appsync/latest/devguide/conflict-detection-and-sync.html)

AutoMerge has this rule:

Conflict on a scalar field: GraphQL scalar or any field that is not a collection (i.e List, Set, Map). Reject the incoming value for the scalar field and select the value existing in the server.

It seems the version is changed and the new v

[2022-05-23 10:40] w0da opened #1616 "Can't get Conflict detection to detect Conflicts"
### Description

In Datastore 0.5.0+ conflict detection is supposed to happen on a version mismatch.

I created a version mismatch and could not trigger the resolution i configured in amplifyConfigure

To test i configured like this:

[code]

it doesn't seem to trigger at all.

I have tried with Auto-merge, optimistic concurrency , and with no Conflict detection.

Am i doing something wrong?

###

[2022-05-23 14:18] Simon-PumpAndUp opened #1618 "Creating a LSI with the primary key"
### Description

Hello,

Since the GraphQL transformer V2 I'm not sure exactly how I'm supposed to create a LSI to achieve this:
<img width="793" alt="Screenshot 2022-05-23 at 16 08 40" src="https://user-images.githubusercontent.com/97729760/169838682-c7d4766e-0baf-493e-99d8-0931297ff29c.png">

I switched in cli.json "secondarykeyasgsi" to false and my graphql.schema file is like this:

[code]

Wh

[2022-05-23 15:32] stevegaunt commented on #1563
Hi @HuiSF

The mutations where form the same device and not form another device, although its still the same issues. The hub event gets called,  just not the datastore event.

this is example of of our schema models
type Note  @model @auth(rules: [{ allow: owner ,ownerField: "user_id" },{ allow: private, provider: iam }]) {
  id: ID!
  notes :String!
  user_id: String @index(name: "notesByUser")

[2022-05-23 15:51] abdallahshaban557 commented on #234
Hi @oferardi, Auth is going to be our first deliverable for supporting Flutter Web. However, for Datastore, we are expecting it to be the last category we support. We do not have an exact timeline at this point in time. We will share timelines as soon as they are solidified on our end.

[2022-05-23 15:53] abdallahshaban557 commented on #133
@sookah, since this ticket is for supporting Desktop, it would be great if you can help us by submitting a [Github feature request](https://github.com/aws-amplify/amplify-flutter/issues/new) specifically for Embedded support - including some of your use cases!

[2022-05-23 16:07] HuiSF commented on #1615
Hi @w0da hen you observed this "unexpected" behavior, what was the local model version? (there is no easy way to observe this value, you may need to watch network traffic)

Looking at the doc you linked, when the mismatch is caused by incoming version is **lower** than server version, the incoming value should be rejected.

[2022-05-24 12:39] crawford-jake commented on #1574
@dnys1 Was this fix released in 0.5.0?

[2022-05-24 14:58] Chiida commented on #319
@julius-stuemmler @abdallahshaban557

Feel free to text me at fcidic@tech387.com. There we can make a deal regarding further ways of communication.

[2022-05-24 15:54] LeeHigginsExeter commented on #234
Not supporting web makes this framework a non starter. The power of flutter is its cross platform and often its main selling point to clients.

[2022-05-24 18:04] dnys1 commented on #1574
Hi @crawford-jake - apologies for the delay on this. No, we have not released it yet. We are planning a release with this and a few other fixes either today or tomorrow. Thanks for your patience!

[2022-05-24 21:44] parkerp1 opened #1628 "Cannot start app when importing amplify_authenticator-0.1.1 due to type issue"
### Description

When running my application with aws authenticator, the app fails to start and spits out these errors

[code]

I've followed the directions as written, and have cleaned my cache several times. I'm at a loss here on how to move forward

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Rep

[2022-05-24 21:50] dnys1 commented on #1628
Hi @parkerp1 - sorry you are experiencing this issue. Can you try bumping your `amplify_` packages to `^0.5.0` in your pubspec (all besides authenticator, that is)? I believe we may need to adjust the supported version range.

[2022-05-24 23:29] dnys1 commented on #1574
Sorry again for the delay getting this out. It's been released with v0.5.1

[2022-05-24 23:29] #1574 closed

[2022-05-24 23:31] HuiSF commented on #1565
The fix for this issue has been released with version [0.5.1](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.5.1).

CC @veeramneni @djorgji

[2022-05-24 23:31] #1565 closed

[2022-05-24 23:32] HuiSF commented on #1594
The fix for this issue has been released with version [0.5.1](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.5.1).

[2022-05-24 23:32] #1594 closed

[2022-05-24 23:47] claude commented on #234
I'm just going to echo that without auth support for web, you are losing customers each and every day. I keep checking in on this thread in hopes that things have changed and I can use amplify, but unfortunately that isn't the case and I have to leverage firebase instead.

[2022-05-25 01:45] Sotilrac commented on #234
At this point, we're seriously considering switching to Firebase.

[2022-05-25 03:02] oferardi commented on #234
@abdallahshaban557 thank you for the answer. @claude yes we will have to move to firebase and Google cloud services for the entire product we developing. It is very sad that we need to do so. In the end of the day the bottom line is not sufficient development resources and priority in amazon. Maybe the last chance is to create a Petition and send it to Amazon CEO. Maybe someone will understand tha

[2022-05-25 03:14] oferardi commented on #234
I got the contact details of Andy Jassy Amazon's CEO. ajassy@amazon.com. I'm preparing a letter on this Mattar which I will share here

[2022-05-25 06:23] Ashish-Nanda commented on #234
Hi all,

Please be assured that supporting Web and Desktop platforms is the top priority of the Amplify Flutter team this year and we have already put considerable resources, effort and time towards that goal.

As many of you are aware, currently iOS and Android implementations are based on MethodChannels and use Swift and Kotlin for the plugin code and Amplify iOS and Android under the hood. Howe

[2022-05-25 12:13] surisakc commented on #1563
Hi @HuiSF sorry for late reply. Here is the log from the Terminal. Note that the `name=My Room4` was the updated data I made in an iPhone (running both iPhone and Android at the same time with the same login account) and Android phone received the updated data as shown in the log below but it didn't trigger the observe function. If I remember correctly I did test the update from AppSync as well. A

[2022-05-25 12:58] parkerp1 commented on #1628
@dnys1 that did the trick thank you. Was definitely banging my head against the wall there.

[2022-05-25 13:02] surisakc commented on #1566
@HuiSF A quick question about using a lambda function to override authorization rule in schema.
- Is it possible if I set the owner field to a family ID (to share a model in a family with many users) using the lambda function while the logged-in user can see that model/data in his datastore? Will it break the concept of the datastore update and sync?

[2022-05-25 14:40] dnys1 commented on #1628
Yes, so sorry for the confusion there!

[2022-05-25 14:40] #1628 closed

[2022-05-25 16:30] dnys1 commented on #410
Thanks for your patience bringing this feature to Amplify Flutter. It has been released in v0.5.0

[2022-05-25 16:30] #410 closed

[2022-05-25 16:33] HuiSF commented on #1566
Hi @surisakc

I doubt this will work as when you rely on owner based auth, it will check db owner field value and the username attached int he JWT token. For this case I think it breaks.

But have you tried something like this?

1. Add a custom attribute to userpool, let's say `familyId`.
2. Take this schema
    1. set `ownerField` as `familyId`
    2. override `identityClaim` to use the custom at

[2022-05-25 19:06] surisakc commented on #1563
Hi @HuiSF After updated the amplify flutter from 0.4.5 to 0.5.1 and I didn't get the issue. Android can receive the updated data from iPhone and the observe is triggered which it will display the updated data (in this case a new room name).

Here is the log when using 0.4.5 (the observe isn't triggered in Android, but the datastore got sync'ed with new data in it) )
[code]

Here is the log when us

[2022-05-25 19:16] ragingsquirrel3 commented on #1567
I'm going to close this issue given that the CLI issue is captured in a separate issue and amplify-flutter now behaving as expected.

[2022-05-25 19:16] #1567 closed

[2022-05-25 19:41] HuiSF commented on #1563
hi @surisakc thanks for the follow up. Glad to hear the version upgrade helped.

Looking at the logs you pasted running on 0.4.5. There is an exception:

[code]

This exception seemed to happen when deserialize  model data when the observe received an event, but something went wrong in between that broke the observer. I'm not sure how did this happen...  Do you recall seeing this exception in your

[2022-05-25 21:43] w0da commented on #1616
Actually emailed a response but it doesn't seem to have arrived. Maybe this issue and #1615 are the same, in that you mentioned

`Looking at the doc you linked, when the mismatch is caused by incoming version is lower than server version, the incoming value should be rejected.`
the doc referred to is [this](https://docs.aws.amazon.com/appsync/latest/devguide/conflict-detection-and-sync.html), wher

[2022-05-26 05:35] sherrychhabra51 opened #1635 "Not allowed to start service Intent"
### Description

We are currently experiencing lot of crashes while uploading a file when app is in background. Here is the exception that we are gettting:-

**Non-fatal Exception: io.flutter.plugins.firebase.crashlytics.FlutterError: StorageException(message: Issue uploading file., recoverySuggestion: See included exception for more details and suggestions to fix., underlyingException: java.lang.

[2022-05-26 11:17] surisakc commented on #1563
@HuiSF Thanks for pointing out. This is my quick project I created for testing the Amplify only. So, I just ignored listening to the Amplify Hub events and focused on testing the issues. I will fix the code to make sure there won't be the unexpected auth issue.

I haven't noticed the error below in my earlier test and I didn't save the whole log like I sent you.
[code]

[2022-05-26 11:42] surisakc commented on #1566
Hi @HuiSF Thanks for the reply. For the solution you suggested. I have some questions.
1. From the schema you provided, I set the `ownerField` to `familyId` as your example in some models that they can be shared among users in the same family.
2. In Cognito Users Pool, I add a new custom field `familyId`.
3. In the app, when `UserA` logged-in and wants to share a model `Building2` for instance to

[2022-05-26 12:38] MasterNeuromancer commented on #319
Need this for my app as well

[2022-05-26 12:53] anoopeashok commented on #1612
Any solution? should I change schema ?

[2022-05-26 13:23] sadaqatdev opened #1636 "Error during subscription., cause=ApiAuthException{message=Tried to use owner/group-based authorization on an API that is not configured with either Cognito User Pools or OpenID Connect"
### Description

after adding new model to data store we faced this issue , in iOS data is syncing perfectly. only we have face this issue in android

W/amplify:aws-datastore(27849): DataStoreException{message=Error during subscription., cause=ApiAuthException{message=Tried to use owner/group-based authorization on an API that is not configured with either Cognito User Pools or OpenID Connect., ca

[2022-05-26 13:49] MasterNeuromancer commented on #234
We need push notifications as well. Honestly, Firebase offers all of this and we are strongly considering changing our whole tech stack

[2022-05-26 14:00] veeramneni opened #1637 "sync expression with relationships"
### Description

Example models:

type User @model @auth(rules: [{allow: public}]) {
id: ID!
name: String!
email: String!
UserHistory: [UserHistory] @hasmany
}
type UserHistory @model @auth(rules: [{allow: public}]) {
id: ID!
info: AWSJSON
user: User @belongsto
}

My sync expression looks like this:

syncExpressions: [
DataStoreSyncExpression(
User.classType,
() => User.ID.eq(cognitoId),
),
DataSt

[2022-05-26 16:57] HuiSF commented on #1637
Hi @veeramneni thanks for opening this issue. We will investigate this.

Looking at your examples, if I understood correctly, you were trying to sync models that matches `userId`.

This could lead to a performance hit on model subscription. As
* when DataStore does the base/delta sync (when the App cold starts), the sync expressions are used as sync query filter on the server side
* the model subs

[2022-05-26 17:01] HuiSF commented on #1635
Should be related to https://github.com/aws-amplify/aws-sdk-android/issues/1193

[2022-05-26 17:44] HuiSF commented on #1635
This issue occurs when an upload/download tasks gets initiated while the App is entering background state.
This issue is caused by the lack of background upload/download support of amplify-android https://github.com/aws-amplify/amplify-android/issues/1115

Unfortunately this feature request hasn't been fulfilled.

[2022-05-26 17:50] abdallahshaban557 commented on #234
Hi @MasterNeuromancer - we are also investigating Push Notification support for Amplify Flutter. We are tracking this feature request under this [issue](https://github.com/aws-amplify/amplify-flutter/issues/319). Feel free to leave us comments on what your use cases are!

[2022-05-26 17:55] Miamoto-Musashi commented on #835
same problem here

[code]

my pubspec.yml

[code]

[2022-05-26 18:14] HuiSF commented on #1636
Hi @sadaqatdev thanks for opening this issue. The exception is very self explanatory.

* Did you change auth rules or configuration of the auth category?
* After making changes, and deploy, have you done `amplify pull` to update `amplifyconfiguration.dart`?
* Have you tried `flutter clean` before rebuild the App?

[2022-05-27 01:17] surisakc commented on #1566
But from testing, this solution doesn't work (the datastore doesn't have the `Building2` data).

I saw something similar to your suggestion from here https://docs.amplify.aws/cli/graphql/authorization-rules/#configure-custom-identity-and-group-claims which I did try like schema below but it didn't work either. Does it have to be `{allow: owner, identityClaim: "familyId"}` or `{allow: owner, identi

[2022-05-27 03:24] oferardi commented on #234
Hi@Ashish-Nanda ,
Having only auth support withing half year doesn't helps at all.
Imagine an existing amplify flutter app with up to date capability that works with ios and Android
When you will use web, you will be able to login only.. and than what? You will have a non functional web app.
Even the unofficial pluggin for amplify support much more than that.

In that speed we will have a solution

[2022-05-27 10:40] thomasklaush opened #1643 "relational datastor queris are not working since 5.0.1"
### Description

Relational querie return a empty list
List<Comment> comments = await Amplify.DataStore.query(Comment.classType,
    where: Post.STATUS.eq(PostStatus.ACTIVE));

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

5.0.0 Datastore is working

5.0.1 return an empty list

### Screensh

[2022-05-27 16:01] ragingsquirrel3 commented on #1643
@thomasklaush do you mind providing a copy of your graphql schema here so we can reproduce this (and potentially advise a workaround)?

[2022-05-27 16:47] parad0x96 commented on #172
@cvalab  This won't work for you as there is a limit for the value of a custom attribute in pinpoint endpoint.
For instance:
android device tokens size exceeds 100 characters so when I tried to implement this the device_toke got truncated by pinpoint :)
Source
https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html#quotas-endpoint

[2022-05-27 19:19] sdhuka commented on #1635
@sherrychhabra51 We have a [PR](https://github.com/aws-amplify/amplify-android/pull/1759) out to address this issue.

If you cannot wait for the next release then I suggest [starting the transferservice before calling any amplify storage API](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/android/#supporting-transferservice-on-oreo-and-above), in which case startService call will

[2022-05-27 19:22] veeramneni commented on #1637
@HuiSF Awesome. It is exactly what I needed. Owner based auth reduces a lot of complexity at least in our use case and eliminates use of sync expression. I will be closing this. Thank you!

Just a thought but I do feel there will be some use cases which require child table with one to many relationship models having sync expression based on parent table. Probably something to think about for futur

[2022-05-27 19:22] #1637 closed

[2022-05-27 20:13] miguelflores1993 opened #1646 "Amplify account multiple regions"
### Description

Hi, I have a problem.
I have two env environments in amplify.
production us-east-1 and staging us-east-2
the problem when i run the amplify env checkout production staging command i get this message:

`The previously imported 'appdriver159f5d35' auth resource was imported from 'us-east-2' region and the new environment's region is: 'us-east-1', import a new resource to finish the

[2022-05-27 21:11] ragingsquirrel3 commented on #1646
Hey @miguelflores1993, this looks like an issue with the CLI. I'm going to transfer it to their repo because I think you will get better support from them.

[2022-05-27 21:35] offlineprogrammer commented on #1294
Hi @patelnirav48

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide the details

Regards
Mo

[2022-05-27 21:35] #1294 closed

[2022-05-27 21:35] offlineprogrammer commented on #1425
Hi @zamargab

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide the details

Regards
Mo

[2022-05-27 21:35] #1425 closed

[2022-05-27 21:37] offlineprogrammer commented on #1487
Hi @inv-sarathk

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue and when you provide the details

Regards
Mo

[2022-05-27 21:37] #1487 closed

[2022-05-27 21:38] offlineprogrammer commented on #1601
Hi @antonydieu

I am closing this issue for now as we didn't hear from you
We can reopen it if you are still facing the issue

Regards
Mo

[2022-05-27 21:38] #1601 closed

[2022-05-29 08:57] raaone7 commented on #234
@Ashish-Nanda and @abdallahshaban557 , is aws running short of staff ?
the above features are must have for flutter, and without that we cant advocate usage of aws over google or firebase.

6 months iteration is like tortoise speed. is jeff bezos aware of  it, that customer first is been compromised here. and all community requests are taking ages. this threads is almost 2 years old. and we are st

[2022-05-29 08:58] raaone7 commented on #234
you should post this thread in twitter and tag Jeff and flutter head, so that its been prioritized for the community. please.

[2022-05-29 09:27] twink1e commented on #334
This feature will be really helpful for supporting both CUSTOM_AUTH and USER_SRP_AUTH at run time, and JS SDK already supports it. Really appreciate it if can be included in a new release 🙏

[2022-05-29 10:32] thomasklaush commented on #1643
Workaround is to use 5.0.0 :-)

Sporry no other workaround currently

Query:
[code]

Schema:

[code]

[2022-05-29 13:39] twink1e commented on #1491
hello @haverchuck how was the issue resolved? I'm facing the same problem.
although I set `"authenticationFlowType": "CUSTOM_AUTH"` in my amplifyconfiguration.dart, in my Define auth lambda I still get SRP_A

[2022-05-29 16:22] twink1e opened #1650 "Custom Auth user signup returns NotAuthorizedException"
### Description

We have just switched from email/password authentication to custom auth, after https://github.com/aws-amplify/amplify-flutter/issues/410 was released.

However, when I call
[code]
it returns

Unhandled Exception: NotAuthorizedException(message: A client attempted to write unauthorized attribute, recoverySuggestion: Check whether the given values are correct and the user is authori

[2022-05-30 08:11] sabindeerhold commented on #148
`final res = await Amplify.Auth.fetchAuthSession(
        options: CognitoSessionOptions(getAWSCredentials: true),
      ) as CognitoAuthSession;`

 ` AuthSession res = await Amplify.Auth.fetchAuthSession(
        options: CognitoSessionOptions(getAWSCredentials: true),
      );`
can anyone please help mke on this i want to get user pool token for authorization but while doing this i only get this

[2022-05-30 12:23] sadaqatdev commented on #1636
but working fine in iOS, only error in android and I have done amplify pull and Flutter clean , still error occur

[2022-05-30 12:31] anoopeashok commented on #1612
so I found the solution. Issue was regarding default authorisation mode

[2022-05-30 12:32] #1612 closed

[2022-05-31 03:41] gdhananjay commented on #133
+1

Eagerly waiting for timelines. I have our current app in firebase. But wanted to evaluate amplify. But this part is stopping us.

[2022-05-31 03:49] gdhananjay commented on #234
+1,

show stopper for me to migrate from firebase to aws. If we didn't get any concrete timeline, firebase will be my choice.

[2022-05-31 05:22] AllenKaplan commented on #1528
This change change is a bit frustrating to deal with... Has anyone figured out how to get around it?

@Jordan-Nelson I see you assigned it to yourself, any idea how far in the backlog this is?

If this isn't resolved in the next month we'll be dropping amplify and perhaps cognito as a whole :/

[2022-05-31 09:21] AzharRaeisi opened #1651 "Multi Auth Initial GraphQL API sync fails (using default User Pool as private and AWS IAM as public auth)"
### Description

I tried to setup up project with multi auth role for my model,  graphql.schema contains models with private auth (CognitoUserPool) and public read operation (AWS IAM). When first time startup without no user Datastore sync fails with exception but not when user logs in

type Todo @model @auth(rules: [{allow: private}, {allow: public, operations: [read], provider: iam}]) {
  id: ID

[2022-05-31 14:37] AzharRaeisi opened #2252 "FLUTTER DATASTORE SYNC WITH MULTI AUTH THROWS EXCEPTION WITH UN-AUTHENTICATED USER"
**Page**: [`/lib/datastore/setup-auth-rules/q/platform/[platform]`](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter)

**Feedback**:

Tried to setup datastore with multi auth as
type Todo @model @auth(rules: [{allow: private}, {allow: public, operations: [read], provider: iam}]) {
id: ID!
name: String!
description: String
isComplete: Boolean!
}

datastore sync only works

[2022-05-31 16:20] haverchuck commented on #1607
Hello @dkliss  - were you able to test out the recommendation from @HuiSF?

[2022-05-31 16:23] HuiSF commented on #1643
Hello @thomasklaush thanks for reporting this issue.

Nested query predicates are not well supported at this moment. It was working partially in Android but this behavior is not officially documented. v0.5.1 fixed an issue not being able to create sync expression on model id field. This fix may break the partial support of nested predicate in Android.

The recommended way is to make separate queri

[2022-05-31 16:24] haverchuck commented on #1650
Hi @twink1e  - Did you set up your triggers using the Amplify CLI?

[2022-05-31 17:22] haverchuck commented on #1592
@exawizards-koki-fujiwara Can you verify that there isn't an extraneous space at the end of the first password field?

[2022-06-01 02:45] dkliss commented on #1607
Hi, i had other project issues, which distracted me. I will get on this soon and should confirm in a fortnight, if the proposed  approach works.

[2022-06-01 09:52] amizer12 commented on #122
This started to happen again since update to 0.5 - every hot restart throws the exception - making it impossible to use hot restart - just full stop start only.
Any way i can workaround it ?

[2022-06-01 10:25] amizer12 opened #1658 "Amplify.isConfigured returns false on hot restart"
### Description

Every time i need to hot restart in the app it throws exception:

_PlatformException (PlatformException(AmplifyAlreadyConfiguredException, Translating platform exception failed. Please take a look at https://github.com/aws-amplify/amplify-flutter/issues to see if there are any existing issues that match your scenario, and file an issue with the details of the bug if there isn't.,

[2022-06-01 11:15] twink1e commented on #1650
Hi @Jordan-Nelson thanks that's indeed the problem. I wasn't careful with the changes in writing the attribute key when upgrading from  verison 0.2.5  to 0.5.1.
Thank you so much!

[2022-06-01 15:55] abdallahshaban557 commented on #122
hi @amizer12 - Can you please submit a new [GH issue](https://github.com/aws-amplify/amplify-flutter/issues/new?assignees=&labels=&template=BUG-REPORT.yaml) so that we can properly triage this?

[2022-06-01 15:57] abdallahshaban557 commented on #122
@amizer12  - thank you for submitting [this GH issue](https://github.com/aws-amplify/amplify-flutter/issues/1658#issuecomment-1143560828). Our team is investigating this now.

[2022-06-01 16:45] Jordan-Nelson commented on #848
Hello all - I am going to close this out since this was resolved in a previous version of amplify flutter. Please see the message above, and feel free to open a new issue if you are still experiencing any issues.

[2022-06-01 17:02] HuiSF commented on #1643
Hi @thomasklaush Looking at your code snippet and the schema

[code]

You were trying to query all children `ActivityStepEntry` records of parent `ActivityEntry` correct? if so I think the query should be

[code]

[2022-06-01 17:22] lfraker opened #1668 "[GraphQL API] Field-level authorization rule seemingly ignored."
### Description

Not sure if this is an incorrect configuration on my part or a lack of support for this feature in Amplify Flutter, but it seems like GraphQL API field-level authorization rules, which I would expect to override model-level auth rules are being ignored in a case where I attempted to make a field-level, rule read-only: https://docs.amplify.aws/cli/graphql/authorization-rules/#field

[2022-06-01 18:29] haverchuck commented on #1604
Closing this issue due to inactivity. Please feel free to open a new issue if @HuiSF 's response did not help.

[2022-06-01 18:29] #1604 closed

[2022-06-01 19:06] HuiSF commented on #1643
Glad to hear @thomasklaush

It should've never worked, if there is no match on the model id filed with given value it always returns empty list, unless the value happened to match the id of `ActivityStepEntry` model.

Also could you point me which documentation you are referring to?

[2022-06-01 19:14] lfraker commented on #1668
On another issue found that I'm using a dated version of Amplify CLI. Going through an upgrade now to see if this resolves the issue. Will request this to be closed if it does.

[2022-06-01 19:18] HuiSF commented on #1643
Thanks! I'll verify the document

[2022-06-01 19:46] haverchuck commented on #1579
@MMSaad Just to confirm, you are adding your Cognito Hosted UI endpoint to the configuration on the Facebook (or Meta) developer console, like so?

Site URL:  `https://<your-user-pool-domain>`
OAuth Redirect URI: `https://<your-user-pool-domain>/oauth2/idpresponse`

And then setting up the `myapp://` app domain in the Cognito console (or with the Amplify CLI)?

Basically, Facebook will redirect to

[2022-06-01 20:17] HuiSF commented on #1643
**Update**

The nested query listed in [documentation](https://docs.amplify.aws/lib/datastore/relational/q/platform/flutter/) is supposed to work
[code]

**Tested this functionality with different versions**
1. version <= 0.5.0 without fix https://github.com/aws-amplify/amplify-flutter/pull/1600
    * This query predicate doesn't work in iOS which returns empty list (no match)
    * This query pre

[2022-06-01 21:01] haverchuck commented on #1651
@AzharRaeisi I'm assuming in your code you specified multi-auth in the DataStore plugin?

[code]

[2022-06-01 22:31] haverchuck commented on #1651
@AzharRaeisi In your generated `Todo.dart`, what do you have for `modelSchemaDefinition.authRules`?

[2022-06-02 00:33] haverchuck commented on #438
#https://github.com/aws-amplify/amplify-flutter/issues/438

[2022-06-02 00:40] haverchuck commented on #1589
Related to #438

[2022-06-02 05:47] AzharRaeisi commented on #1651
@haverchuck thanks for reply, here is `modelSchemaDefinition.authRules`

[code]

[2022-06-02 11:40] sagar14791 opened #1671 "Amplify how to stop auto sync feature for Specific models"
I am using 2 Configurations for amplify

          //  To save data in offline without starting sync
                 void configureOffline() async {
                    Amplify.addPlugin(AmplifyDataStore(
                      modelProvider: ModelProvider.instance,
                    ));
                    await Amplify.configure(amplifyconfig);
                  }

            // to sync offli

[2022-06-02 11:45] #1563 closed

[2022-06-02 12:53] TinusJ commented on #234
+1 for web support
Thanks for working on this

Any news on this?

[2022-06-02 14:37] crawford-jake opened #1672 "Amplify Subscription: Realtime connection is stale, disconnecting"
### Description

When we create an Amplify subscription the connection is lost **immediately** when the user toggles wifi/cellular. This is a problem for real world users because they are constantly walking in and out of data connections.

From this [issue](https://github.com/aws-amplify/amplify-flutter/issues/1391) we have wrapped all of our Amplify subscriptions in a class to monitor if app life

[2022-06-02 15:12] haverchuck commented on #1668
@lfraker Please confirm - you are seeing this behavior in the AppSync console, in addition to your Flutter application?

[2022-06-02 15:17] haverchuck commented on #1672
@crawford-jake Thanks for bringing this need and your suggestion to our attention!

[2022-06-02 16:15] HuiSF commented on #1671
Hi @sagar14791 thanks for asking! Currently there is no way to configure a specific model to be excluded from the sync engine programmatically.

Is `SALES_LIST` a model? Or a filed of a model?

[2022-06-02 16:30] haverchuck commented on #1439
Closing this issue as a duplicate of #182. We understand this is an important feature, and want to track it under one issue.

[2022-06-02 16:30] #1439 closed

[2022-06-02 16:30] #1589 closed

[2022-06-02 16:31] haverchuck commented on #438
Closing this issue as a duplicate of #182. We understand this is an important feature, and want to track it under one issue.

[2022-06-02 17:34] sagar14791 commented on #1671
it is a field of type list in the "AllRetailerList" model

[2022-06-02 17:52] crawford-jake commented on #1672
@haverchuck Thank you much

[2022-06-02 18:26] wurikiji opened #1673 "[aws_signature_v4] 403 error; The request signature we calculated does not match the signature you provided"
### Description

I am using `aws_signature_v4` to access the file in the private s3 bucket.
But `signedRequest.send()` returns `403` error with a message.
`The request signature we calculated does not match the signature you provided. Check your key and signing method.`

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [X] Storag

[2022-06-02 19:53] wurikiji commented on #1673
Here's my code without sensitive secret data.

[code]

[2022-06-02 22:16] dnys1 commented on #1673
Could you also try passing `chunked: false` to the `S3SignerConfiguration`?

[2022-06-02 23:04] haverchuck commented on #1651
@AzharRaeisi Could you please post your `amplifyconfiguration.dart` (feel free to redact sensitive values).

[2022-06-03 02:08] lfraker commented on #1668
@haverchuck I can confirm this had something to do with publishing with an older version of Amplify CLI. After migrating to the current version and Transformers v2 and republishing, I am now getting the expected unauthorized error in the AppSync Console. Sorry for the confusion, I'm closing this issue.

[2022-06-03 02:08] #1668 closed

[2022-06-03 03:52] wurikiji commented on #1673
Thanks @dnys1 . The combination of two, you replied, solved my problem. (`AWSHttpRequest.raw` and `chunked: false`).

And also I found `{MY_FOLDER}` contains special characters. When I rename the folder without any special characters, I could achieve successful connection only with `chunked: false`, I don't need to use `AWSHttpRequest.raw`.

You can close this issue by solved.

[2022-06-03 04:16] dnys1 commented on #1673
Glad that worked, @wurikiji! Chunking should work in this case, so I'd love to figure out why that's not working for you if you'd like. Can I ask which error did you receive after changing the folder name but before disabling chunking? Was this on the iPhone still?

[2022-06-03 04:26] wurikiji commented on #1673
Actually, I am using a signed request from the `signer.sign` method to play an audio file via `just_audio` plugin.
But the `just_audio` does not support chunked transferring. That's the reason why I still use `chunked: false`.

If I don't use `just_audio` and use `signedRequest.send()` directly then it worked. There is no problem at all :)

[2022-06-03 07:06] AzharRaeisi commented on #1651
[code]

[2022-06-03 07:11] AzharRaeisi commented on #1651
I setup the project recently and even tried using API, but same result with API auth type

[2022-06-03 12:32] Ahmedthedev opened #1679 "Signin with apple name not showing"
### Description

Hi I have created a cognito user pool. And when I try to sign in with apple name is not showing.

The following way attribute mapping is done;
![Capture d’écran 2022-06-03 à 14 09 46](https://user-images.githubusercontent.com/20277998/171850809-be59aedb-6127-4344-8a4d-47a25e4973e2.png)

Attributes:
![Capture d’écran 2022-06-03 à 14 13 20](https://user-images.githubusercontent.

[2022-06-03 15:02] haverchuck commented on #1538
@MeghTrivedi Does your Cognito app client have the `Prevent User Existence Errors` setting enabled?

[2022-06-03 15:05] dnys1 commented on #1673
Ah okay, thanks for letting me know. All the best! :) And please let us know if you face any more issues with the package or would like to see the experience improved in some way.

[2022-06-03 15:05] #1673 closed

[2022-06-03 16:20] HuiSF commented on #1566
Hi @surisakc looking at the resolver, it listed fields in the model schema as
[code]
Which indicates your model should have `familyId` field instead of `owner`... Does this resolver match your model schema?

[2022-06-03 16:31] haverchuck commented on #1651
@AzharRaeisi Apologies for so much back-and-forth. I am using your schema and build specs (although I do not have access to realme physical device), and I cannot reproduce this issue.

Your logs are all for Android - I assume you are seeing the same behavior on iOS? If so, could you post those logs as well?

Do you see this same behavior when you run one of the Android emulators in Android Studio?

[2022-06-03 16:45] haverchuck commented on #1616
@w0da Were you able to test more?

[2022-06-04 00:56] cody1024d commented on #1208
I have another usecase -- dynamic resolution of userpool information.

Say I want to look up what userpool my user should be logging into. I need to first call to an API (which would require a call  to configure), and then re-configure based on the fetched information (userpoolId, etc.)

Unless there's a way to do this that I'm not aware of @Jordan-Nelson

[2022-06-04 04:41] HuiSF commented on #1636
Can you paste the content of `amplifyconfiguration.dart` (please mask out sensitive data fields).
Also the code snippet initiating API and DataStore plugin.

Looking at [the amplify-android implementation](https://github.com/aws-amplify/amplify-android/blob/5eace8336ab4691cf8257af892dc5f5a87eaf1a2/aws-api/src/main/java/com/amplifyframework/api/aws/auth/AuthRuleRequestDecorator.java#L221-L250), it

[2022-06-04 04:50] HuiSF commented on #1566
I think it uses access token by default, might need to set idToken to the HTTP request Authorization header, though amplify-flutter [doesn't support custom header yet](https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/flutter/#adding-headers-to-outgoing-requests).

[2022-06-04 09:26] AzharRaeisi commented on #1651
Apologies same here, if you can't reproduce the exception it mean your data is synchronizing with back-end?

yes, having problem on IOS as I mentioned while opening the issue, logs are clean but if I try to query datastore it emits the exception

yes, same behavior on Android emulators

[2022-06-04 21:59] ianfmc opened #1688 "Application on Android Device Fails"
### Description

Application functions normally on Android and iOS emulator. Application functions normally when tethered via USB or WiFi on Android, and then tethered on iOS. Application functions normally on iOS device (iPhone). Application fails after during authentication and connection to datastore on actual Android device (TCL A509DL). Running Android version 11, security patch level of Apri

[2022-06-04 22:38] veeramneni commented on #234
I was at AWS summit Atlanta and talked to an architect for AppSync and their response was AWS officially does not support Amplify libraries and its outside of them. It was quite confusing as their Amplify studio is heavily dependent on these libraries. I did mention about this and other features like custom id implementation for datastore and he basically said its not in their hand but would pass

[2022-06-06 05:27] gdhananjay commented on #234
Oh, this is again discouraging me to try out amplify. I am using custom document ID in firebase as i can directly look at document which i want. If its not possible with amplify again i have to restructure heavily.  Looks like i have to stick to firebase.
Amplify team , could you please talk on priority on these things. timeline for web/Desktop , custom ID for datastore.
You wrote some nice articl

[2022-06-06 11:11] w0da commented on #1616
I did a few more tests but still couldn't make it trigger any conflict.

My method has been pretty much to use two emulated devices changing the same single field multiple times, while being online or offline.. eg:

[code]

perhaps there is a sync before the mutation is processed increasing the version number on Device 1 just before it is sent?

[2022-06-06 11:38] surisakc commented on #1566
Hi @HuiSF, sorry for not posting the latest schema which has `familyId`.

[code]

[2022-06-06 11:55] surisakc commented on #1566
Hi @HuiSF Thank you for your response. So, for the example that using `identityClaim: "user_id"` in this https://docs.amplify.aws/cli/graphql/authorization-rules/#configure-custom-identity-and-group-claims, does it mean I have to add a custom attribute in Cognito called `user_id` correct? And Cognito will create it to be `custom:user_id`, correct? If so, from the example in the link above, how is

[2022-06-06 12:36] jheimes-silveira opened #1689 "A problem occurred configuring project ':amplify_auth_cognito_android'"
### Description

i'm always getting this error when trying to compile

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

i'm always getting this error when trying to compile

### Screenshots

![Captura de tela 2022-06-06 093509](https://user-images.githubusercontent.com/16032899/1721617

[2022-06-06 13:38] Ahmedthedev commented on #1679
Hello @haverchuck  thanks you for your response.

I solve the problem.

In the iphone > settings > password and security > app using the Apple ID > your App > stop using apple ID

then I retry the process and it's works fine.

[2022-06-06 13:38] #1679 closed

[2022-06-06 13:52] j540 commented on #1006
+1 for this

[2022-06-06 14:07] Jordan-Nelson commented on #1688
Hi @ianfmc - Thanks for taking the time to open the issue. I have a few follow up questions based on the info you have provided.

1. When you are testing on Android tethered via USB, are you testing in release mode? If not, can you attempt in release mode?
2. In the first screen capture, does the app crash after login? I can see that the app closes, but it is hard to tell from the screen recording

[2022-06-06 14:24] Jordan-Nelson commented on #1689
Hi @jheimes-silveira - Thanks for taking the time to open the issue and include the info you have provided. Can you share your `/android/build.gradle` file?

[2022-06-06 14:26] miguelflores1993 commented on #760
Do you know anything about this functionality?

[2022-06-06 14:46] Jordan-Nelson commented on #1575
Hi @filippomenchini - Were you able to try this again with @HuiSF's suggestion?

[2022-06-06 15:06] Jordan-Nelson commented on #1441
@AldrinMathew - Let us know if you are still experiencing this issue. If we do not hear back, we will close this out. Thanks.

[2022-06-06 15:51] ianfmc commented on #1688
Hi Jordan:

Thanks so much for the very detailed response.

1. I hadn't, but I will this morning.
2. It does crash right after the login (not manually closed)
3. Not sure how to do that -- can you recommend good documentation on how to generate the logs and crash reports? I definitely want to set that up
4. Unfortunately, the only actual android device I have is the TCL...I will check with one of

[2022-06-06 16:41] HuiSF opened #1692 "Better experience to control DataStore model synchronization"
### Description

This issue is for tracking possible improvements on model synchronization with DataStore.

1. Make it configurable to specify certain models to be excluded from DataStore sync engine
2. ...

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No r

[2022-06-06 17:14] sadaqatdev opened #1693 "DataStore multiAuth is not working as expected"
### Description

without login public models are not syn in android , iOS works fine

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

create public model and use iam auth and add data exception occur

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [X] Android

### Android

[2022-06-06 18:10] ianfmc commented on #1688
Hi again Jordan:

1. Yes: release mode (please see attached codemagic screenshot).
2. N/A
3. Please let me know
4. Same result (crashes after login page) on a Galaxy 6
<img width="1440" alt="Screen Shot 2022-06-06 at 11 08 37" src="https://user-images.githubusercontent.com/5844059/172220199-0deca73e-2f4b-4b89-b95a-cc233dff10bd.png">
.

[2022-06-06 19:36] Jordan-Nelson commented on #1693
Hi @sadaqatdev - Can you please share your schema (or at least a subset of it with the public/private models)?

[2022-06-06 19:43] Jordan-Nelson commented on #1688
If you are able to reproduce this when your device is tethered via USB, can you run `flutter run --release -d=<your_device_id>` and then capture the logs while you reproduce it? I believe you will get some output when the app crashes. That would be a good starting point.

[2022-06-06 20:34] ianfmc commented on #1688
When I try to run I get the following errors

[code]

When I build, I get the following result:

[code]

[2022-06-06 20:50] ianfmc commented on #1688
I added Sentry. Here's what the error is:

[code]

[2022-06-07 07:21] sadaqatdev commented on #1693
HI @Jordan-Nelson the following is  scheme

type RoomConnectServiceStatus @model @auth(rules: [{allow: private}, {allow: public, provider: iam, operations: [read]}]) {
  id: ID!
  isActivatedstatus: Boolean
  roomIdstatus: String
  serviceIDstatus: String
  currentDeviceUidstatus: String
  updateTimestatus: AWSDateTime
}

type MqttCloudConfig @model @auth(rules: [{allow: private}, {allow: public,

[2022-06-07 08:25] filippomenchini commented on #1575
Hi @Jordan-Nelson , I haven't tried this yet. I will try today and I'll let you know.
I think that @HuiSF solution will work fine for a simple index, I want to try this with an index and relative sorting key also!ù

Thank you!

[2022-06-07 09:11] jack24254029 commented on #1635
How do I startService in Flutter?

[2022-06-07 13:36] mmazurovsky commented on #518
Thank you very much. I can finally change user's temporary password to a permanent one with this method. The naming of this method is not very clear and the docs lack info on this subject

[2022-06-07 13:37] ianfmc commented on #1688
Hi Jordan: so build with '--no-shrink' and run again? Thanks, Ian.

[2022-06-07 13:39] dkliss commented on #1607
Hi @HuiSF @haverchuck

I have done some testing on migrating my older username based login to email based login. I had attempted three different approaches as below.

My third attempt is successful and I can login now with Email. The issue I am having now is how to login with a username, which was what I was using before as my login as username is not available before Login (See Attempt 2).

What

[2022-06-07 16:39] sadaqatdev commented on #1693
yes I configure multi auth , but not working

[2022-06-07 16:45] sadaqatdev commented on #1693
W/amplify:aws-api(23071): 	at com.amplifyframework.api.aws.sigv4.DefaultCognitoUserPoolsAuthProvider.fetchToken(DefaultCognitoUserPoolsAuthProvider.java:98)
W/amplify:aws-api(23071): 	at com.amplifyframework.api.aws.sigv4.DefaultCognitoUserPoolsAuthProvider.getLatestAuthToken(DefaultCognitoUserPoolsAuthProvider.java:104)
W/amplify:aws-api(23071): 	at com.amplifyframework.api.aws.SubscriptionAuthor

[2022-06-07 17:19] Jordan-Nelson commented on #1693
Thanks @sadaqatdev. Can you also provide your amplifyconfig.json (with sensitive info masked or removed)?

[2022-06-07 17:20] Jordan-Nelson commented on #1693
I see you already commented on https://github.com/aws-amplify/amplify-flutter/issues/1220. This could be related, although it looks like that was resolved a while back.

[2022-06-07 17:21] Jordan-Nelson commented on #1688
Correct

[2022-06-07 17:26] sadaqatdev commented on #1693
const amplifyconfig = ''' {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "sisterhelpbg": {
                    "endpointType": "GraphQL",
                    "endpoint": " ",
                    "region": "eu-west-1",
                    "authorizationType": "AWS_IAM"
                }
            }

[2022-06-07 18:38] Jordan-Nelson commented on #1575
@filippomenchini - You should get all the Comments for a specific Post with that query. I confirmed that does work. I am not sure from your original issue if that is what you are hoping to achieve though. Let me know once you have had a chance to try this out.

[2022-06-07 19:02] ragingsquirrel3 commented on #1575
@filippomenchini thanks again for raising this issue. You are correct that while @HuiSF 's suggestion works for simple index, there is no model helper support for custom index as default query always uses (like you pointed out). I'm going to mark this as a feature request and we will consider it in the next round of improvements for model helpers.

[2022-06-07 19:05] ianfmc commented on #1688
I built with --no-shrink and got the following results.

[code]

Doesn't appear to be any change. How can I be sure the build was really --no-shrink? I'm using sentry to find this error.

[2022-06-07 19:15] Jordan-Nelson opened #1695 "Document how to use query predicates with the API category"
### Description

The current API (GraphQL) docs do not have any examples using query predicates. See the [docs on fetching data](https://docs.amplify.aws/lib/graphqlapi/query-data/q/platform/flutter/).

Common use cases should be covered. For example:
- Basic equality operator: `Post.TITLE.eq(title)`
- Fetch by parent ID: `Post.BLOG.eq(blogId)`
- Comparions (gt, lt, etc.)

Docs were recently added

[2022-06-07 19:37] filippomenchini commented on #1575
Yep, that's the problem that I encountered.
It would be really nice to manage this without writing custom queries!
Thanks for the help!

[2022-06-07 19:38] Jordan-Nelson commented on #1688
Yes, sort of. It would be great if we could reveal the source of the issue. Although I suspect that minification and/or obfuscation is removing something that is needed.

I remembered that there was [an issue](https://github.com/aws-amplify/amplify-flutter/issues/828) opened a while back that was very similar to this. It was resolved, but possibly a similar issue has been reintroduced.

Can you sh

[2022-06-07 19:57] oferardi commented on #234
Hi update, my email was transfered to Jeff bezos.
I'm forwarding it also to Adam selipsky

Hope that amazon will take responsibility and will stop laughing on us

[2022-06-07 20:18] Jordan-Nelson commented on #1564
Hi @Lorenzohidalgo - Sorry for the delayed response.

I am not sure why the `@belongsTo` directive removes the ID field. I can see if this is intentional, or possibly an oversight. As a work around, you may be able to make some updates to your schema to use the `@hasOne` directive. I believe the ID field would still be present with a schema such as the one below.

You can find more info about the

[2022-06-07 20:56] ianfmc commented on #1688
[code]

[2022-06-07 21:22] ianfmc commented on #1688
I'm trying a new build with the suggested changes from #828.

[2022-06-07 21:47] ianfmc commented on #1688
Seems to have worked. What exactly did I do? (:

[2022-06-08 05:41] hallowcard13 commented on #835
Having the same problem

[2022-06-08 08:16] amizer12 commented on #1658
Hi, were you able to reproduce it ?

[2022-06-08 08:57] hallowcard13 commented on #1165
@HuiSF

I'm still experiencing this, using amplify-flutter 0.5.1, the physical android i was using was Nokia 5.4 and the default web browser was set to duck duck go, so every time i call ` Amplify.Auth.signOut();`  I'm getting an error message saying 'Timed out while waiting for sign-out ', But when i change the default browser to chrome as you have suggested then i can sign out. So i think the bu

[2022-06-08 13:22] Jordan-Nelson commented on #1607
@dkliss - flow number 3 would be the correct way to sign up & sign in with email based auth. Email is the login identifier in this scenario, so it should be used for sign up confirmation, login, forgot password, etc.

I believe the generated username you are getting back from getCurrentUser is really the user sub, not the username.

With email based auth, you can only sign in with email. I'm not a

[2022-06-08 13:23] Jordan-Nelson commented on #1607
Let us know if that answers your questions.

[2022-06-08 13:23] dkliss commented on #1607
Hi, other than above mentioned points, I also am having some differing results for Android  and iOS (iPhone 13, 15.5)emulator device
When I run  Amplify.Auth.getCurrentUser() after migrating to Email based login.

ISSUE: Different outcomes for following function for iOS and Android.
Future<String> getCognitoUserName() async {
  AppLog.info('Attempting to get CognitoUserName',
      name: 'getCogni

[2022-06-08 13:39] dkliss commented on #1607
@Jordan-Nelson Thanks for your response to my previous query. For my use case, email based login should be good. I am still going through final testing and above issue was another one, which I wanted to know expected behaviour for await Amplify.Auth.getCurrentUser() i.e. would the "username" part will give me a AWS generated string (like iOS) or an email (like Android).

[2022-06-08 13:47] Jordan-Nelson commented on #1607
They are supposed to return the same value. However, there is a known bug that causes the "username" value from getCurrentUser to be different on iOS and Android. You can follow that bug here: https://github.com/aws-amplify/amplify-flutter/issues/201. I believe there are some work around snored in the comments of that issue.

Let me know if you have any other questions.

[2022-06-08 14:43] #1607 closed

[2022-06-08 14:47] crawford-jake commented on #1672
This has become a major blocker for us. Our main flutter page is always in memory and has an Amplify subscription on it. When the user simply toggles their internet connection the stream disconnects without any failure report to the dart subscription. So our UI never updates and we never know to reinitialize.

Besides setting a 30 second timer to dispose of the subscription and re-establish there

[2022-06-08 17:07] Migos17 opened #1696 "While trying to forget device on IOS I receive device name is null which causes forget device to fail."
### Description

If I try to forget device with only passing the device id in  final device = CognitoDevice(id:deviceId),
I receive   device name is null which leads to failure of request.I think it is a problem in the args. In order for forget device to work I have to pass all attributes.

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator

[2022-06-08 17:31] Jordan-Nelson commented on #1672
Hi @crawford-jake - I think this was marked as a feature request by mistake. I am going to attempt to reproduce this.

[2022-06-08 18:11] Jordan-Nelson commented on #1672
@crawford-jake - I have tested this on iOS and Android and was not able to reproduce the issue. I might need a little more info on how you are reproducing this, particularly on iOS.

### Android
When I toggle the wifi off on an Android simulator, the subscription's error callback is called as expected.

### iOS
iOS simulators don't have the controls to toggle off wifi. When I toggle off wifi on th

[2022-06-08 19:09] Jordan-Nelson commented on #1539
I am not sure that you need to do this. I just went through the repro steps you added, but did not make this change. It seems to be using Cognito as the auth provider. I am unsure why it lists IAM in the config. I can look into that and get back to you, but in the mean time can you tell me if it seems to authenticate request correctly without that change?

[2022-06-08 19:15] Jordan-Nelson commented on #1539
I confirmed that I could repro the issue if I make that manual change to the config. I don't think that you should need to make that change though.

From the [CLI docs](https://docs.amplify.aws/cli/restapi/restapi/#create-a-rest-api):

I think that is why it lists IAM in the config.

[2022-06-08 19:27] Jordan-Nelson commented on #1696
Hi @Migos17 - Can you include the full exception you are seeing?

[2022-06-08 20:45] abdullah017 opened #1698 "Error: The non-ASCII character 'ş' (U+015F) can't be used in identifiers, only in strings and comments."
### Description

***I CREATED A NEW PROJECT TO USE GRAPHQL API BUT I GET THIS ERROR WHEN RUNNING;

Launching lib/main.dart on sdk gphone64 arm64 in debug mode...
: Error: The non-ASCII character 'ş' (U+015F) can't be used in identifiers, only in strings and comments.
Try using an US-ASCII letter, a digit, '_' (an underscore), or '$' (a dollar sign).
        şifthrow AmplifyException.fromMap(Map<St

[2022-06-08 20:46] abdullah017 commented on #1698
showing error in method channel file**

/*
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file i

[2022-06-08 22:05] HuiSF commented on #1698
Interesting issue... I checked the source code on the v0.5.1 tag, I don't see that line

https://github.com/aws-amplify/amplify-flutter/blob/2c69e5df924d8387fa034ad4f5723af197074409/packages/amplify/amplify_flutter/lib/src/method_channel_amplify.dart#L117-L124

Did you accidentally modified installed package files? Can you try to clean the project, and rerun `flutter pub get` and return the App?

[2022-06-08 22:26] ahmadsheikh01 commented on #234
+1

[2022-06-08 22:27] abdullah017 commented on #1698
Yes it's an interesting problem, I tried the following and didn't succeed;
flutter clean and flutter pub get

[2022-06-08 22:33] loganSims commented on #416
Just adding my vote for this feature.

[2022-06-09 01:49] Jordan-Nelson commented on #1698
@abdullah017 can you include the contents of your pubspec.yaml and pubspec.lock file?

[2022-06-09 02:59] hallowcard13 opened #1701 "Auth Sign out is not working on android Device"
### Description

Auth Sign out is not working on android Device. when your default web browser is not google chrome

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Setup Authentication plugin
2.  Setup Social sign in with web UI using google
3.  Try to login a user either google sign in o

[2022-06-09 09:57] abdullah017 commented on #1698
PUBSPEC.YAML
[code]
---------------------------------------
[code]

[2022-06-09 11:37] Jordan-Nelson commented on #1698
Thanks.

If you did somehow accidentally change that file in your pub cache, I am not sure if running flutter clean and pub get would be enough.

Can you run 'dart pub cache repair' and then 'flutter clean' and 'pub get'?

[2022-06-09 11:53] abdullah017 commented on #1698
Instead of doing this, I changed the part that says şifthrow to throw and the problem was solved. Thank you!

[2022-06-09 11:54] abdullah017 commented on #1698
Instead of doing this, I changed the part that says şifthrow to throw and the problem was solved. Thank you!

[2022-06-09 11:54] #1698 closed

[2022-06-09 14:38] Jordan-Nelson commented on #1592
@exawizards-koki-fujiwara - A fix was merged to trim the entries from both fields to remove extra spaces. That is most likely what is causing the issue you are seeing. If you have confirmed there are no additional whitespace characters and you still see this issue, please let us know.

[2022-06-09 14:42] #1579 closed

[2022-06-09 14:48] Jordan-Nelson commented on #1539
@dorontal - Let me know if you face any issues with the config as generated by the CLI. I have confirmed that Cognito auth works as expected with the config as generated by the CLI. Unauthenticated users do not have access to the endpoint and authenticated users do.

[2022-06-09 15:16] Jordan-Nelson commented on #129
@droy312 you can safely cast the response to a `CognitoAuthSession`. The response is type `AuthSession` since Amplify is built in a way that would allow for custom implementations. If you are using Cognito, this will be `CognitoAuthSession`.

Here is an example in the docs: https://docs.amplify.aws/lib/auth/access_credentials/q/platform/flutter/

[2022-06-09 15:34] dorontal commented on #1539
I still don't understand how things work as expected with the config as generated by the CLI when your own documentation tells us to add a Cognito section to the config.

@Jordan-Nelson the change to add a Cognito section in order to authenticate API requests with Cognito was recommended to me by one of your teammates -- when I complained abut "Authorization denied" errors before.  As the document

[2022-06-09 15:38] dorontal commented on #1539
I forgot to mention that I did try just leaving the config alone, but then I get another error - an AuthorizationException -  with message "Permission denied".  That's because Amplify Flutter by default uses IAM for REST APIs but I've set up the API to authenticate via Cognito User Pools. This is why we have to make the change in the config for that. This why we get an auth exception.

[2022-06-09 15:57] dorontal commented on #1539
@Jordan-Nelson and @dnys1 please don't close this issue. I believe this issue still stands 100%. The authorization headers that get sent when you authenticate via Cognito User Pools are incomplete, that's all that needs to get fixed. Until that gets fixed, it will not be possible to use lambda functions that require Cognito User Pools authentication.

[2022-06-09 16:50] Jordan-Nelson commented on #1539
Hi @dorontal - Let me sync with @dnys1 and potentially our CLI team and get back to you. It is possible that I am mistaken about the setup here.

[2022-06-09 17:32] HuiSF commented on #1635
Hi @androidcodehunter the fix implemented in android is only for preventing the crash.
Background upload/download is not supported.
We will try to integrate the fix in amplify-android as soon as possible (currently we have an issue exists in amplify-android that breaks an amplify-flutter use cae) and roll out a new version of amplify-flutter to release this fix for amplify-flutter consumers.

[2022-06-09 21:05] Jordan-Nelson commented on #1539
Hi @dorontal - It looks like the Amplify CLI does not fully support Rest + Cognito. As you have said, the auth headers will not be included by default. There is an issue open in the Amplify CLI repo to track this (https://github.com/aws-amplify/amplify-category-api/issues/345). Feel free to give that a 👍 to show your support.

Because of this, a workaround like you are attempting is indeed needed.

[2022-06-09 22:09] Jordan-Nelson commented on #1688
@ianfmc My initial attempt to reproduce this was unsuccessful. I was able to build and app using API & DataStore in release mode and run it. I tested on a Pixel 3a. Have you had a chance to reproduce this on any other devices?

[2022-06-10 01:05] ianfmc commented on #1688
Hi Jordan: I don’t have any other physical devices, but it is running on the Galaxy and the TCL A509DL.

I will try it again, but I’m in the middle of testing for a July release…recommendations?

Sent from my iPhone

[2022-06-10 06:09] justkj7 opened #1708 "DataStore.save() doesn't get the record saved in remote server"
### Description

I deployed my stack in remote server already using ```amplify init && amplify push```
However, when DataStore.save() is invoked, it seems local db is updated but db in remote server is not updated correspondingly.

Here is amplify status using the command.

[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore
-

[2022-06-10 07:14] Jordan-Nelson commented on #1708
Hello @justkj7 - can you confirm you have conflict resolution enabled? You can view the conflict resolution strategy in `amplify/backend/api/{project}/cli-inputs.json`.

[2022-06-10 14:52] dorontal commented on #1539
Hi @Jordan-Nelson thank you very much for this clarification. The option I had taken was option 1 (as described by the documentation link in my previous message) but I did not realize there was a further step 2 to this. Thanks so much for outlining this step 2 of configuring API Gateway with custom authorization. I will try that and will let you know it goes.

[2022-06-10 15:19] Jordan-Nelson commented on #1539
No problem. I think the docs could be improved to make it clear there are additional steps required. Once you have been able to get this set up successfully I can mark this as a docs issue to make that clear.

[2022-06-10 16:52] dorontal commented on #471
@ragingsquirrel3 and @A-Kurimoto I have tried your workaround and believe I followed your instructions very carefully - skipping step 6 here
https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-enable-cognito-user-pool.html
and adding the auth scope `aws.cognito.signin.user.admin` - so now I no longer get a 'Missing authorization header' error, which is great, but I do get a 502

[2022-06-10 16:53] dorontal commented on #1539
Unfortunately when I tried to follow the first workaround (Option 1 above) -- while I no longer get the "missing authorization headers" error, which is a good sign, I get an "internal server error and am currently asking about that here: " https://github.com/aws-amplify/amplify-flutter/issues/471#issuecomment-1152553722

[2022-06-10 21:17] Jordan-Nelson commented on #1539
Are you able to see in the AWS console if the request is reaching lambda?

[2022-06-10 23:47] ianfmc commented on #1688
Hey Jordan: the Galaxy is using version 11. I’m using 1.6.1. See below. Thanks, Ian

Sent from my iPhone

[2022-06-10 23:51] ianfmc commented on #1688
Sorry: 1.6.21

[code]

[2022-06-11 04:00] justkj7 commented on #1708
Hi @Jordan-Nelson  Yes. Here is snippet for conflict resolution in cli-inputs.json.
[code]

[2022-06-11 11:24] fuzzy28 commented on #508
This issue shouldn't be closed as people are facing this

[2022-06-11 17:46] Simon-PumpAndUp opened #1710 "ModelQueriesFactory.get only uses ID, impossible to fetch the entity with a pair of hashKey & rangeKey"
### Description

Hello,

I have the following model:
`hashKey: Int! @primaryKey(sortKeyFields: ["rangeKey"])`

I want to fetch one entity from this model so I went for:
[code]

 **ModelQueries.get** only accepts an ID and I have entities sharing hashKeys. (**reponse.data** is not a list, not sure what happens if I use one of the hashKey as ID, I didn't try.)

The generated model contains both keys

[2022-06-12 03:21] fuzzy28 commented on #401
This works @ken-ng-esotec ! thanks!

Also, anyone has encountered like when authenticating thru google / Facebook, if there's only one account logged in, it automatically registers that account without asking to choose another account?

[2022-06-12 10:57] flodaniel opened #1716 "Merge Accounts in PreSignUp Trigger causes "Already found an entry for username" exception"
### Description

When using the following PreSignUp lambda function to merge two accounts (OAuth and native cognito accounts), and allow users to use either options to signup, an exception is raised in the login flow, when the user initially creates their account. After the first sign up, the flow works as expected.

There are stackoverflow threads and blog posts on how to work around this issue,

[2022-06-12 11:24] Mikopet commented on #248
As I see, there is still no solution for that...
I am using version `0.5.1`

[2022-06-12 19:23] dnys1 commented on #1716
Hi @flodaniel - sorry you are experiencing this issue. Changing the following:

[code]

to this:

[code]

seemed to fix the problem for me. Can you try that and let me know if you run into any other issues?

[2022-06-12 19:47] flodaniel commented on #1716
Hi @dnys1 ,

thanks for the quick reply and specific change suggestion! While the changes fixes the immediate issue, it disables the intended behaviour. I now get two, unlinked cognito users, and when trying to reuse the email, which was initially used for sign up with google, for sign in with email, I have the same issue as without the lambda function --> The user cannot sign in, because he initi

[2022-06-12 19:59] dnys1 commented on #1716
Ah, sorry about that. I missed that difference between the two IDs. I will keep digging!

[2022-06-12 21:13] dnys1 commented on #1716
I found a couple mentions of the same issue:
- https://github.com/aws-amplify/amplify-js/issues/5104
- https://github.com/aws-amplify/amplify-js/issues/9976

It looks like many people have implemented a front-end check to catch the error thrown and retry since it will succeed the second time. Not a great solution, and I will keep searching, but could be a way to work around the issue in the meanti

[2022-06-13 00:09] dnys1 commented on #1716
Okay, so this is a weird one. Here are my findings so far:

### w/out Triggers

First, I tried to reproduce this without triggers and following the federation [instructions](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-identity-federation-consolidate-users.html) in Cognito's docs. The flow for this is:

- Sign up user with username/password
- Get social provider ID

[2022-06-13 07:12] flodaniel commented on #1716
Thanks for doing your own in-depth research on this issue! Really appreciated.

The hacky work around is not an option for us. We already have to deal with the overall bad experience with the hosted web UI instead of native dialogs, and further complicating that user flow is not really something we want to do.

Will you report back in this ticket once you hear from the Cognito team? From what I ha

[2022-06-13 09:12] w0da commented on #1616
Any new information regarding this issue?

[2022-06-13 09:55] Lorenzohidalgo commented on #1564
Hi @Jordan-Nelson,

The Docs state:
[code]

So I understand that the proposed workaround won't work.

[2022-06-13 13:52] crawford-jake commented on #1672
@Jordan-Nelson Thanks for the help. This is probably a non issue and mistake on our part. We were having issues with our backend, i just tried replicating after the backend was solved and it is receiving the onError callback.

[2022-06-13 15:09] dorontal commented on #471
Yup. Just tried this procedure (Option 1, of the @A-Kurimoto solution above) re-did it all from scratch and I still get the "Internal Server Error" when calling
[code]
Specifically, the error reported is
[code]

[2022-06-13 15:58] Jordan-Nelson commented on #1539
@dorontal - I went through the steps, and initially I received an internal server as well. After looking through the API Gateway and Lambda logs, I found that the event was not being forwarded from API Gateway to Lambda. To address this I had to do the following:
- From API Gateway console, go to "resources" (in the side panel) and then select the method that was added previously
- Choose "Integra

[2022-06-13 16:02] Jordan-Nelson commented on #1539
@dorontal - What are you attempting to do in the `updateUser` function?

[2022-06-13 16:02] Jordan-Nelson commented on #1539
Here are the full set of steps that I took:
1. Follow all the required steps under "To create a COGNITO_USER_POOLS authorizer by using the API Gateway console" (4f and 5 are optional) in the [Integrate a REST API with an Amazon Cognito user pool](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-enable-cognito-user-pool.html) docs.
2. Follow steps 1-5 and step 7 under "To con

[2022-06-13 16:52] Jordan-Nelson commented on #1688
@ianfmc - Can you try to upgrade the version of gradle to 6.2+. Projects created with the latest version of flutter use 7.1.4 I believe, so you can likely upgrade to that version if you are using the latest version of flutter.

We had removed a temporary fix that was only needed for gradle version lower than 6.2 in the 0.5.0 release. It looks like this was not clearly called out in the release not

[2022-06-13 16:54] Jordan-Nelson commented on #1564
@Lorenzohidalgo - Ah, I missed that this was a hasMany relationship. Apologies.

[2022-06-13 17:48] dorontal commented on #1539
@Jordan-Nelson, thanks so much. I am working on testing your suggestions and will edit this response once done.

To answer one question - the reason for this `updateUser` lambda in the first place is this: I need to update properties inside the user model that are inaccessible to the user/owner of the user model, e.g, the number of updates in the past 24 hours and other throttling related data.  E

[2022-06-13 18:21] Jordan-Nelson commented on #1539
I had added a new method specifically for "PUT". I would think the default "ANY" would work though.

If you add some logs to your lambda, are you able to see if the `event` has the authorization header?

[code]

Since the request is reaching lambda, I think one of two things is happening. 1) The Lambda is returning an error (possibly because it doesn't have the correct authorization, but possibly

[2022-06-13 18:36] dnys1 commented on #508
Hi @fuzzy28 I have reopened the issue. If you'd be willing, please provide the following information and I'll be happy to investigate:

- Amplify CLI version
- Amplify Flutter library version
- Android version testing on
- `amplifyconfiguration.dart` (can be redacted)

Thank you and sorry you are still experiencing this issue.

[2022-06-13 18:44] dorontal commented on #1539
@Jordan-Nelson Thanks very much again!!  This seems to have solved everything.

1) The lambda is receiving the 'Authorization' header -- it shows up in the cloud-watch logs

2) Indeed those same logs show that the lambda had its own error - that must be what caused the internal server error. The error reported is difficult to understand but probably not related to this issue. Will look into it and

[2022-06-13 18:58] Jordan-Nelson commented on #1564
I wanted to add a clarification here, the parent will always be loaded, assuming the parent exists. So, unless you are sure the parent exists, I would access the parent ID via `nTokenPack.partner?.id`.

[2022-06-13 19:05] Jordan-Nelson commented on #1564
If the parent ID were added to the model, it would have to be optional since the relationship is not required in the schema. So I think `nTokenPack.partner?.id` would be a sufficient replacement for what you were originally looking for - `nTokenPack.partnerID`.

I would have to confirm, but I think `partner` would be non-null if the schema was updated to be required, but it sounds like you do not

[2022-06-13 19:06] dnys1 commented on #1716
I will keep you posted on any developments. Please let me know if you'd like to brainstorm more alternatives in the meantime!

[2022-06-13 19:09] Jordan-Nelson commented on #1564
I see you are using API, not DataStore. I had thought you were using DataStore. The schema and generated models are used for both. Obviously what I mentioned above only applies to DataStore, so you can ignore it.

[2022-06-13 19:19] Jordan-Nelson commented on #1564
Sorry for the confusion. I was having a hard time understanding what you are trying to do since I though this was for DataStore.

I'm going to mark this as a feature request since there isn't currently a way access the nested model ID without creating the full nested model as you had stated.

[2022-06-13 19:23] Jordan-Nelson commented on #1539
Great. I am going to leave this open and mark it as a documentation issue so that we can get a clearer explanation in the docs.

[2022-06-13 19:51] MarlonJD commented on #1651
Hey I'm trying to cognito default + api key for public, no luck for now

[2022-06-14 02:18] MarlonJD opened #1736 "DataStore and GraphQL API Cognito Public Request"
### Description

Hello. I created graphql based api with amplify.
Cognito is the default auth for api.
I updated auth with unauthorized user to user.
My models have public accesses like public for read. When i'm trying to access anything from related model without user signed. It gives me error that i didnt sign in with cognito.
I tried public with provider: iam not works.
I tried public with prov

[2022-06-14 03:39] aniketkambli commented on #1716
hey @dnys1 , i am facing the exact same issue while using google login + cognito in a react web app. I am also using presignup trigger to merge the two user accounts and keep the sub same, let me know if you find any workaround this.

[2022-06-14 14:12] dnys1 commented on #1716
Hi @aniketkambli - I'm sorry you are also facing this issue. At the moment, the only known workaround is the one mentioned above to catch a unique error thrown from your lambda and retry the login.

[2022-06-14 15:23] dnys1 commented on #1736
Hi @MarlonJD - please provide your GraphQL schema, and the error being shown in the console when you get a chance. Thanks, and sorry you are experiencing this issue.

[2022-06-14 15:33] MarlonJD commented on #1736
GraphQL Schema:
[code]

I'm trying to access Universities without cognito user as public. like this:

[code]

and it's giving me this error:
[code]

[2022-06-14 18:30] HuiSF commented on #1566
Hello @surisakc

Sorry for the delay -

This example is for using 3rd-party auth provider (OIDC in the doc) with which you override the identity claim to use the fields listed in the JWT token generated by this 3rd-party, not an attribute managed by Cognito.

Based on the findings and your testing, I think using custom user attributes along with idToken unfortunately _is not doable_ now due to
1.

[2022-06-14 19:36] #1696 closed, assigned to dnys1

[2022-06-14 19:43] surisakc commented on #1566
Hi @HuiSF I was guessing and checking the generated lambda functions in AppSync console which generated from the resolver templates generated by the amplify CLI on my machine under the folder `amplify/backend`, correct?

- Has anyone requested the same business logic as I did i.e. to be able to share models/data among authorized users?
- Is there a complete example on how to create a custom lambda

[2022-06-14 20:15] HuiSF commented on #1566
That's correct.

Not I'm aware of, but this is like a multi-tenants use case there may be similar requests in AppSync but I don't have a list in handy.

Need to search around.

If API plugin APIs work with this custom authorizer, including subscription, then DataStore should work with it too, as DataStore is fully depends on API plugin.

It should work for DataStore as well as the answer to the pr

[2022-06-14 23:23] ianfmc commented on #1688
Hi Jordan: I upgraded. Should I now try to run w/o the workaround? Thanks.

Sent from my iPhone

[2022-06-15 04:03] gpanshu commented on #1271
Session expired event will be thrown on expired token fetch inside fetchAuthSession after this [PR](https://github.com/aws-amplify/amplify-android/pull/1779) is merged in for Android.

[2022-06-15 11:31] Jordan-Nelson commented on #1688
Yes. See if you can run it in release mode without the workaround now.

[2022-06-15 16:11] dnys1 commented on #1736
Hi @MarlonJD - can you confirm you are passing `authModeStrategy: AuthModeStrategy.multiAuth` to the DataStore plugin constructor as outlined [here](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#configure-multiple-authorization-types)? Can you also confirm that when using `Amplify.API` methods, you are using the `apiName` parameter for all non-default auth modes? That

[2022-06-15 16:20] MarlonJD commented on #1736
Yes here's my amplify init code:
[code]

And yes I tried apiName and it's running when I'm trying Amplify.API.* but I cannot run with DataStore anymore if I add multi auth to amplifyconfiguration.dart, It gaves me to give me apiName but there's no configuration for DataStore.* like apiName parameter.

[2022-06-16 06:54] Simon-PumpAndUp commented on #1710
Hi,

Would it be possible to have feedback on this please?

[2022-06-16 16:19] MarlonJD commented on #1438
https://github.com/aws-amplify/amplify-android/issues/1763#issuecomment-1157867774

[2022-06-16 16:56] DavidMills2019 commented on #319
Currently waiting for Amplify push notifications to be implemented as well. Im not sure if it will help any of your use cases, but it might be worth noting that Firebase messaging and the firebase_messaging dart package can be used for push notifications even if you aren't using any other firebase services. It is completely free and covers all of my use cases right now while I use Amplify services

[2022-06-16 17:54] dnys1 commented on #1701
Hi @hallowcard13 - sorry you are facing this issue. Can you let me know which browser you are using on your Android? Is it Chrome or some other browser?

[2022-06-16 18:03] HuiSF commented on #1566
Regarding this point, I'm syncing up with amplify-ios, amplify-android and amplify-cli maintainers to determine the correct behavior - whether the amplify libraries should resolve the custom claim from idToken when nothing can't be resolved from access token.

[2022-06-16 18:26] dnys1 commented on #1701
Also, do you have device tracking or any non-standard features enabled in your user pool?

[2022-06-17 03:46] yazoonic opened #1760 "Datastore - Network Ready is not called when disconnect/connect device network (wifi, airplane)"
### Description

I added the method below before calling amplify configure  yet it is being called when you start the app..  but when disconnect/connect network the status will be false and it will not come back to network ready

StreamSubscription hubSubscription = Amplify.Hub.listen([HubChannel.DataStore], (hubEvent) {
    if (hubEvent.eventName == 'networkStatus') {
        setState(() {

[2022-06-17 08:25] Simon-PumpAndUp commented on #1710
Hi @dnys1, thank you for your input. I saw the merge from @HuiSF but I don't think it solves my UC.

My issue here is that I can't get a unique record from dynamodb through AppSync using:
`Amplify.API.query(request: ModelQueries.get(Party.classType, 'hashKey', rangeKey))`
As the parameter ID takes a single String.

Also, since I can't use two owner type auth rules ([#1590](https://github.com/aws-a

[2022-06-17 08:33] Simon-PumpAndUp commented on #1426
Hi there

I can't get a unique record from dynamodb through AppSync using:
Amplify.API.query(request: ModelQueries.get(Model.classType, 123, "abc"))
As the parameter ID takes a single String.

Also, since I can't use two owner type auth rules (https://github.com/aws-amplify/amplify-ios/issues/1590, https://github.com/aws-amplify/amplify-cli/issues/10110)
I need a way to retrieve data from other us

[2022-06-17 09:10] hiru-vn commented on #1528
Hope this will get fixed soon, we are currently remove signInWithWebUI feature and waiting for this.

[2022-06-17 11:31] surisakc commented on #1566
Hi @HuiSF Thank you for checking! I did more testing and it seems if amplify-android library for flutter could somehow makes the library to work like amplify-ios (for flutter) then it may fix the issue i.e. if amplify-android can support **Test 3** like amplify-ios does.

Here are my tests.

- **Test 1:** `{allow: owner, identityClaim: "cognito:username", ownerField: "users"}` (the claim isn’t in

[2022-06-17 16:03] HuiSF commented on #1760
Hello @yazoonic thanks for opening this issue.

DataStore updates `networkStatus` not depending on network connection, i.e. DataStore does not detection network condition actively, but it attempts reconnect when DataStore APIs (start, save, delete, query, observe, observeQuery etc.) are invoked.

So if you hope to automatically restart DataStore syncing again when device is back online, you may ne

[2022-06-17 18:08] surisakc commented on #1566
Hi @HuiSF

I think this solution works in both iOS and Android to share models among users.

**Schema**
[code]

**3 Custom Subscription Resolvers `project/amplify/backend/api/<api name>/resolvers`**
[code]

**Update the Generated Models**
- `identityClaim: "sub"` only works in Android when sync but not in iOS.
- `identityClaim: "sub::username"` only works in iOS when sync but not in
[code]

[2022-06-17 20:19] Jordan-Nelson opened #1765 "[Authenticator] Cannot confirm sign up when using phone + email config and signing up with phone"
### Description

When phone OR email is chosen to be used as the username, and the user signs up with phone number, they are unable to confirm their sign up. The Confirm Sign Up screen shows "email" as the username even though phone number was used during sign up. As a result, the email validator is used. See the screenshot below where the username is a phone number, but the label says "email".

<

[2022-06-17 20:20] Jordan-Nelson commented on #1765
Note: I am seeing this on /next. I have not confirmed this is present in the latest release.

[2022-06-17 21:09] Jordan-Nelson commented on #1765
The linked PR seems to address it. Need to do more testing and confirm if this also needs to be fixed in main.

[2022-06-18 16:07] hugetiny commented on #234
+1

[2022-06-19 01:29] davidkim1 opened #1771 "DataStore exemption"
### Description

When I use the await Amplify.DataStore.save(<User>) I get the following error.

DataStoreException(message: The operation couldn’t be completed. (SQLite.Result error 0.), recoverySuggestion: The operation couldn’t be completed. (SQLite.Result error 0.), underlyingException: The operation couldn’t be completed. (SQLite.Result error 0.))

I have the following amplify packages:
  # a

[2022-06-20 05:32] yazoonic commented on #663
any update on this? I have the same problem but only when I add record from ios , I got error in Android. but when I add record from android, ios is fine and update record ..

I am SMH here, because in my dev environment it works with no issues.

[2022-06-20 16:14] surisakc commented on #1566
For Android, it doesn't work every time when start the app and login i.e. the datastore isn't sync'ed every time (the Amplify event `modelSynced` isn't fired sometimes).

[2022-06-20 16:27] MarlonJD commented on #816
There's still an issue continues. I cannot list manyToMany's second field. I can get on AppSync console, but it's coming null on ModelQueries.list. even when I'm trying to create with Model mutations.create. it's second field of ManyToMany field becoming null, and i modify the variables and force to create this id. So this is a huge problem...

[2022-06-20 16:50] HuiSF commented on #1771
Hi @davidkim1 could you paste the model schema that you are trying to invoke `save` with?

[2022-06-20 21:15] dnys1 commented on #1696
This has been released with v0.6.0!

[2022-06-20 21:16] dnys1 commented on #1592
This has been released in v0.2.0 of the Authenticator. Please re-open if you continue to experience this issue.

[2022-06-20 21:16] #1592 closed

[2022-06-20 21:43] HuiSF commented on #1566
This error causes subscription to fail, which stops sync engine so you would see the unsuccessful sync. This error is due to the subscription selection set contains field is not defined in GraphQL schema (located in `<projectRoot>/amplify/backend/<your-api-name>/build/schema.graphql`).

[2022-06-20 22:03] surisakc commented on #1566
Here is my schema. The error points to the unknown field argument `users` but the field is in the schema. I also made sure the 3 subscription resolvers had the field `users` in them. The error seems to be from this module `AppSyncClient.java`. Is there anything else in schema I should set?

[code]

Here is one of the three subscription resolvers.

[code]

[2022-06-21 00:12] yazoonic commented on #663
the issue was that my dev database was recreated so fields like created at and updated at was shipped in models being generated ... now issue fixed. Thank you and ignore my comment above.

[2022-06-21 03:07] vgribok commented on #760
Once this issue is fixed, what's the *longest time* an authenticated user can stay *offline* and rely on the DataStore without getting kicked out: is it determined by the [session token max expiration of 36 hours](https://docs.aws.amazon.com/STS/latest/APIReference/API_GetSessionToken.html), [id/access token max expiration time of 1 day](https://docs.aws.amazon.com/cognito/latest/developerguide/am

[2022-06-21 11:55] pieterbergmans commented on #133
Can we get a timeline update, please?  Or, can you at least tell us if you've started working on this?  I'd think if this was in your project management portfolio that you could give us a rough indication of when this we could expect this to be delivered or provide us with milestone delivery dates. Please, anything!

[2022-06-21 11:57] pieterbergmans commented on #234
Can we get a timeline update, please?  Or, can you at least tell us if you've started working on this?  I'd think if this was in your project management portfolio that you could give us a rough indication of when we could expect this to be delivered or provide us with milestone delivery dates. Please, anything!

[2022-06-21 18:36] AmanMasipeddi opened #1784 "Undefined symbols for architecture arm64: "_OBJC_CLASS_$__TtC24amplify_auth_cognito_ios16SwiftAuthCognito""
### Description

Getting this error when running iOS build.

[code]

My pubspec.yaml is:
[code]

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

Run the iOS app.

### Screenshots

_No response_

### Platforms

- [X] iOS
- [ ] Android

### Android Device/Emulator API Level

_No response_

###

[2022-06-21 20:13] HuiSF commented on #1771
Thanks @davidkim1 which model you were trying to save and seeing the exception?
Could you also provide code examples to reproduce this exception?

[2022-06-21 20:15] davidkim1 commented on #1771
For sure! Here is the function to save a User:  (I even changed the values I am passing to strings and respective datatypes to make sure it as a problem with the data I was passing, still get the same error).

Future<void>saveUserProfileDetails() async{
    try {
      loading = true;
        User newUser = User(
            id:userId,
            username:username,
            firstName: firstNam

[2022-06-21 20:23] Aashutosh3804 opened #1786 "Custom Auth Not Triggering lambda functions"
### Description

even though I followed all custom flow step in amplify cli with final config having CUSTOM_AUTH in authenticationFlowType

It only triggers Pre Sign up function all other lambda function are not being triggered like

Define auth challenge Lambda trigger
Create auth challenge Lambda trigger
only Pre sign-up Lambda trigger is being triggered

### Categories

- [ ] Analytics
- [ ] AP

[2022-06-22 00:13] fjnoyp commented on #1784
Hi @AmanMasipeddi thanks for reaching out.

What iOS device are you deploying your app to?

In your example app, under `ios/Podfile` did you put `platform :ios, '11.0'` at the top of the file?

Lastly, can you please provide your `Podfile` here.

[2022-06-22 00:29] AmanMasipeddi commented on #1784
Hi @fjnoyp, Thank you for responding. Here is my podfile of iOS app.

[code]

[2022-06-22 00:30] fjnoyp commented on #1786
Hi [Aashutosh3804](https://github.com/Aashutosh3804) thanks for reaching out.

In your github issue you mentioned you used Authenticator but I don't see it in the pubspec.yaml file you provided.  Are you using that or just using Auth cognito?

Also, did you follow the custom auth setup instructions here?  https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/flutter/#setting-up-cust

[2022-06-22 05:01] Aashutosh3804 commented on #1786
Yeah sorry about that I am not using Authenticator ,I am just using amplify_auth_cognito and amplify_flutter
I have followed all the steps to the point for custom auth flow
This is my config file
[code]
void _otpSent() async {
    try {
      _loading.value = true;

      Map<CognitoUserAttributeKey, String> userAttributes = {
        CognitoUserAttributeKey.phoneNumber: "+9199999999"
        // a

[2022-06-22 06:12] Aashutosh3804 commented on #1786
I got The issue I didn't check for SRP_A thanks for the help

[2022-06-22 06:12] #1786 closed

[2022-06-22 11:41] fjnoyp commented on #1771
Hi @davidkim1 thanks for responding with more information.

1. Do you get the exception when storing this model type or all model types of your schema?
2. Have you ever been able to call .save() without getting an exception?  If you successfully called .save() before, what is the last thing you did before getting the exception?
3. Can you provide your amplifyconfig.dart file?  Please make sure to

[2022-06-22 12:08] fjnoyp commented on #1784
Thanks @AmanMasipeddi your Podfile looks okay.

0) First try updating your Podfile section to this (double check formatting)

[code]

If that doesn't work please answer the questions below:

1) Did building and deploying to iOS ever work for you?  If it did work beforehand, what was the last thing you did before it broke?

2) Can you tell me what version of Xcode you are using?

3) Can you try run

[2022-06-22 18:38] davidkim1 commented on #1771
Hello,
I have only tested with the User model (I will try the other models just now). I have not been able to ever run .save(). Here is my amplifyconfig.dart:

const amplifyconfig = ''' {
    "UserAgent": "aws-amplify-cli/2.0",
    "Version": "1.0",
    "api": {
        "plugins": {
            "awsAPIPlugin": {
                "<AppName(blurred by me)>": {
                    "endpointType": "Gra

[2022-06-22 23:05] Jordan-Nelson commented on #1765
Addressed by https://github.com/aws-amplify/amplify-flutter/pull/1785

[2022-06-23 16:18] ProgramSalamander opened #1806 "Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
### Description

I'm new to amplify, and trying to access datastore using `Amplify.Datastore.query` (just follows the offiical doc).

[code]

But once added this statement, the iOS app exited immediately :(.

The flutter console outputs:
[code]
Does anyone else meet this situation?

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [X] DataStore

[2022-06-23 16:26] fjnoyp commented on #1806
Hi @ProgramSalamander what docs did you follow?  Did you follow the entire Getting Started section of DataStore?

[2022-06-23 16:40] fjnoyp commented on #1771
Hi @davidkim1 are you sure the schema.graphql you provided here is correct?  The data model relations aren't named properly.  For example index is spelled as `Index` when it should be `index.  The same goes for `belongsto` and `manytomany` `hasmany` which should all be lower camel case (`belongsTo`).

[2022-06-23 18:37] MarlonJD commented on #133
Auth is really good to arrive, for me i need GraphQL API support secondary.

[2022-06-23 19:11] abdallahshaban557 commented on #133
@MarlonJD - makes sense! I think we will have support for API-REST, then API-GraphQL after Auth!

[2022-06-23 20:51] davidkim1 commented on #1771
Actually, I just checked on but this is the one I have on my project. (I amplify pulled again just to make sure and I am still getting the same error):

enum PostStatus {
  CREATED
  UPDATED
  DELETED
}

enum ChatItemType {
  TEXT
  IMAGE
}

type ChatItem @model @auth(rules: [{allow: public}]) {
  id: ID!
  senderId: String!
  receiverId: String!
  message: String
  imageUrl: String
  itemType: Ch

[2022-06-23 23:41] fjnoyp commented on #1771
Hmm that's quite strange.  Can you try running `amplify run codegen models` again?  Can you also verify what version of amplify cli you are using via `amplify -v` ?

[2022-06-24 00:52] ProgramSalamander commented on #1806
Hi @fjnoyp , in terms of creating schema, I did not follow the get started guide. I created the schema in Amplify Studio instead of using CLI, and used `amplify pull` to pull the schema to my project.

[2022-06-24 03:32] dorontal commented on #1539
FYI, after a re-deploy of everything with Amplify CLI v 9.0.0, it works, but the only way I got it to work was to add the following four scopes in **Step 7** of the documentation page [Integrate a REST API with an Amazon Cognito user pool](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-enable-cognito-user-pool.html): `email, openid, profile, aws.cognito.signin.user.admin`

[2022-06-24 06:48] gam3boy1 commented on #133
@abdallahshaban557 Do you have a rough timeline for when a beta version for web support (especially auth) will be released?

[2022-06-24 10:07] alsenydiallo commented on #1475
I am experimenting the same exact issue with fetch auth session not returning anything. The app is getting stuck

I am also experimenting this only when I ran on iOS physical device
iPhone 12 Pro Max with OS 15.5

[2022-06-24 14:32] parulgarg004 opened #1812 "Not able to get Amplify.Auth.fetchAuthSession even its showing user is signed in"
### Description

After successfully doing the signUp on some of ios devices, Amplify.Auth.fetchAuthSession is not returning the session.
Same happens after doing signIn.

Due to this none of the apis are working. This issue is not coming on all the devices, it works in ios simulator and few physical devices.

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [X] Auth
- [ ] Aut

[2022-06-24 14:33] parulgarg004 commented on #1812
@haverchuck @dnys1 Can you please help

[2022-06-24 15:10] MarlonJD opened #1814 "GraphQL helper doesn't support query and mutation on the many-to-many connection models"
### Description

Hello everyone. After encountering a lot of problems about DataStore, I removed all DataStore and check realtime datas on AppSync from Amplify on Flutter. Anyways here's is the issue.

**TL; DR**:  ModelQueries.list creating missing document

related schema:
[code]

That's my query, it should work here's is request:
[code]

here's the response, error related to department is null:

[2022-06-24 15:23] HuiSF commented on #1566
Hi @surisakc Thanks for providing the details about the workaround.

So far, I'm unsure if Amplify CLI and GraphQL transformer do have the support of your use case... But looking at your schema and resolver changes it makes sense to me. As long as your custom resolvers are able to ensure correct auth scope for your data, I think it's fine to use it.

I will find some time to do some testing with y

[2022-06-24 15:57] surisakc commented on #1566
Hi @HuiSF Thank you for your response. The issue I had in Amplify Android that was when it called `Amplify.Datastore.query` with `where` clause and join tables that have the same field name like `name` and in `where` clause (after generated to SQL query), it shows something like this.

[code]

Here is the `retreiveData`:

[code]

[2022-06-24 16:53] Ahmedthedev opened #1815 "Signin with apple, 2 cognito user pool but one cannot provide the user name"
### Description

Hi, I have created 2 identical cognito user pool one for test environment and the other for the production,

their configurations are the same however their behaviors are different when I use signInWithApple.

![Capture d’écran 2022-06-24 à 18 42 38](https://user-images.githubusercontent.com/20277998/175602601-f07aa0f0-becd-40f8-9e25-2d3411183fb7.png)

![Capture d’écran 2022-06

[2022-06-24 17:18] fjnoyp commented on #1812
HI @parulgarg004 thanks for providing the `flutter doctor` results.  It looks like you're using an outdated version of Xcode - can you update?  You said some devices iOS were were working while for others it didn't - what ios versions/devices does it work/not work on?

[2022-06-24 18:10] d95sld95 commented on #1440
Seems like it is fixed in the IOS-SDK. When is it expected to be release for Flutter?

[2022-06-24 18:20] fjnoyp commented on #1814
Hi @MarlonJD thank you for posting your issue and providing a detailed explanation of what you did.

It appears you are trying to access the Department field on your Student object.

We do not load the fields (except id) for nested models.  The Student object has a Department field.  The Department field is a nested model so we do not load all fields of that object.  In the error message you recei

[2022-06-24 18:27] MarlonJD commented on #1814
Yes i understand what you mean but this isn't the solution because there is no department id in response. That's the issue. We can add access nested object if it's first level on Amplify.API, so there is no nested object issue in here. İssue is in the graphql document that using for the query. İf there was departmentID it could be. And student already becoming readable and also nested. So i don't

[2022-06-24 18:35] yazoonic opened #1816 "App crash when using datastore with api sync and internet is offline"
### Description

using datastore with api sync for cloud, when you disconnect internet and add entries to data store, it will work momentary then app crash

I/amplify:aws-datastore(27749): Orchestrator transitioning from SYNC_VIA_API to LOCAL_ONLY
I/amplify:aws-datastore(27749): Setting currentState to LOCAL_ONLY
I/amplify:aws-datastore(27749): Stopping subscription processor.
I/amplify:aws-datast

[2022-06-24 19:48] miguelflores1993 commented on #760
my application works many times offline, that is, international roads or routes without internet, it is an uber of trucks.

Most drivers are offline without internet for up to 3 to 5 days.

[2022-06-25 00:08] HuiSF commented on #1816
Hi @yazoonic Thanks for reporting this issue. This is interesting...

We can see the main exception probably is `java.lang.InterruptedException`. This exception raised at multiple spots:

1. amplify-flutter Android implementation [`buildSyncExpression`](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_datastore/android/src/main/kotlin/com/amazonaws/amplify/amplify_datastor

[2022-06-25 00:32] yazoonic commented on #1816
@HuiSF Thanks for looking into this.. just to confirm, I just tested with emulator and I have the same error.
and I use Cognito  for authentication.

[2022-06-25 00:45] HuiSF commented on #1771
Hi @davidkim1 In your code example you were assigning `userId` field manually, are you using unique value for `userId` while testing, looking at your schema and considering the underlying SQL exception, saving model using the same record id is only the problem I can think of...

If you don't want to manage the uniqueness of model id you can omit it from the model constructor, where it will be assi

[2022-06-25 01:18] abdallahshaban557 commented on #133
Hi @gam3boy1 - we do not have exact timelines at this point. We will be able to share additional details in the next month!

[2022-06-25 01:56] ProgramSalamander commented on #1806
Hi @fjnoyp , I tried to run the same app on another non-M1 macbook and this problem not exists. It feels like it's the M1 related issue. Hope this helps.

[2022-06-25 17:08] yazoonic commented on #1816
@HuiSF I can confirm that the issue is not happening when I remove the selective sync expression, Please verify and let me know when this can be resolved

[2022-06-25 17:59] ademirtug opened #1819 "Amazon s3 object access problem"
### Description

Amplify.Storage.list() function can't read any object in a public bucket.
The following is the applied policy:

`
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "ReadObjects",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::mysuperbbucket/*"
        }
    ]
}
`

Any att

[2022-06-26 07:36] parulgarg004 commented on #1812
@fjnoyp I will update the xcode version and let you know the results. Devices on which it worked:
iPhone 6s
iPhone 12 mini
iPad mini
All devices are on same os version.

[2022-06-26 13:53] #1616 closed

[2022-06-26 13:54] #1615 closed

[2022-06-27 06:44] parulgarg004 commented on #1812
@fjnoyp latest flutter doctor results:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel unknown, 3.0.0, on macOS 12.4 21F79 darwin-x64, locale en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.0-rc3)
[✓] Xcode - develop for iOS and macOS (Xcode 13.4.1)
[✓] Chrome - develop for the web
[✓] Android Studio (version 2021.2)
[✓] VS Cod

[2022-06-27 12:22] fjnoyp commented on #1819
Hi @ademirtug

Did you follow the instructions here: https://docs.amplify.aws/lib/storage/existing-resources/q/platform/flutter/

Did you change the `amplifyconfiguration.json` `storage` to use your bucket name instead?

[code]

[2022-06-27 14:19] zamargab commented on #234
This is really sad, I didn't even check if Amplify supports flutter web before setting up my project, I just figured such an important functionality should have already been included, I noticed it was not working then came online to find this thread. I'm really disappointed right now.

[2022-06-27 16:26] zamargab opened #1824 "How to update dynamodb with API without Datastore reference"
### Description

I have Datastore and API configured in my application, I need to update records as soon as app is installed, I tried using code below but it returns an error because Datastore needs time to sync local and cloud database at the time app is installed.

[code]

is there anyway I can update records via API without making reference to the time through datastore?

### Categories

- [ ]

[2022-06-27 18:18] ragingsquirrel3 commented on #1824
@zamargab in addition to ensuring the record has been synced (like you mentioned) you have to keep in mind that any backend w datastore has conflict resolution enabled. To modify records with conflict resolution enabled, you won't be able to use graphql model helpers like `ModelMutations.update` because they will not include conflict resolution fields. Those fields are not included in codegen mode

[2022-06-27 20:17] HuiSF commented on #1816
Thanks for the follow up @yazoonic how many sync expressions you are using? Can you share the code snippet that initialize the DataStore plugin with the sync expressions?

[2022-06-27 20:24] HuiSF commented on #1566
Hi @surisakc for the nested predicate, Amplify libraries don't have a perfect support at this moment.

amplify-ios and amplify-android are working differently on this as well, hence, amplify-flutter can only take a lowest common support as for Flutter consumers both iOS and Android should behave the same. Our current recommendation is to make separate queries to retrieve models when necessary. Bet

[2022-06-27 20:28] HuiSF commented on #1816
OK no problem @yazoonic
Can you also do me a favor?
Could you test with less sync expression in place, see if the crash happens?

This sync expression can be removed as it does the same as the default syncing behavior

Also are you syncing data based on `userId` in your real use cases? If this is true, I recommend you enable owner based auth to control data sync scope instead of using sync express

[2022-06-27 20:34] yazoonic commented on #1816
i will try to do with less eync expression... what do you mean by owner based auth? I have tables defined as below
type Templates @model @auth(rules: [{allow: private}]) {

and how to enable owner based auth?

[2022-06-27 20:36] HuiSF commented on #1816
Please follow this documentation: https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#per-user--owner-based-data-access

When you enable owner based auth, only the models that belong to the currently signed in user will be synced into local database.

[2022-06-27 20:38] yazoonic commented on #1816
oh I think I tired it before and I had a problem with my production app so I rolled back..

I will give it a try in my dev and see.

[2022-06-27 20:44] yazoonic commented on #1816
so the problem with this one that if I pushed this update to my production database.. current app user will lose connectivity until I update the app code and push it to Apple app store which will take 1-2 days to approve ,,,,
so my current app users will have issues accessing the app without the update.
I am trying to find away to work around this.

[2022-06-27 20:51] Jordan-Nelson opened #1827 "Authenticator throws build error when using social providers"
### Description

The Authenticator throws a build error when using social providers, unless localization overrides are provided.

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [X] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

1. Create a new app with the latest auth/authenticator packages
2. add social sign in
3. run it

### Screenshots

<

[2022-06-27 21:01] HuiSF commented on #1816
Hum OK, changing auth to existing data in prod env is troublesome for sure.

[2022-06-27 22:46] #1441 closed

[2022-06-27 23:44] HuiSF commented on #1816
Are you building the apk in release mode? @yazoonic

[2022-06-27 23:47] yazoonic commented on #1816
before I wasnt .. but now I have the release mode on in build gradle and I just use the play button as debug... should I remove the settings for release?

[2022-06-27 23:59] HuiSF commented on #1816
I can't repro this on emulator myself, so I want to determine a possible cause with different permutation...
Are you using Android Studio? Can check the build mode from the menu: Build -> Select Build Variant

Also can you try run the App in a different emulator?

[2022-06-28 07:16] JakubWijata opened #1828 "The user is Logged out before the token expired"
### Description

We using amplify_auth_cognito on the flutter mobile app for authorized users. We configured the token for 1h and refreshToken for 30 days. Recently, we received several reports from users who were logged out before the 30 days expired. We also didn't receive any logs or crashes from these situations. Is there any reason that case occurs? It is important for us that the user is not

[2022-06-28 08:47] MSKoWa opened #1829 "Prevent synchronization of user data"
Hello there,

I would like to only permit the synchronization of the data stored with DataStore if and only if the user bought premium access to the app.
As you can guess, the user must have some kind of authentication because he or she should be able to buy premium access. I do this using the cognito service granting the user an unique ID which is used during the purchasing process.

Now, I have

[2022-06-28 09:28] zamargab commented on #1824
Does this mean if I remove conflict resolutions, I will be able make update to records via API? and what are the implications of removing conflict resolution?

[2022-06-28 09:35] Vladivost commented on #1206
This wouldn't really work if you called global sign out before sign in, since at that point the user wouldn't have a valid access token issued yet, or am I missing something?

[2022-06-28 11:45] andiigtayma opened #1830 "Browser with custom tabs support not found"
We're using Amplify Auth with Google as the provider.
It has been working just fine for all our users however, for one it fails and logs in this message:
`AuthException(message: Sign-in with web UI failed, recoverySuggestion: See attached exception for more details, underlyingException: com.amazonaws.mobileconnectors.cognitoauth.exceptions.CustomTabsNotSupportedException: Browser with custom tabs

[2022-06-28 12:23] pieterbergmans commented on #133
@abdallahshaban557 - If you could provide all the Auth features that you currently provide for Android/iOS and provide them for PC + Mac + Web, that would be great.

[2022-06-28 13:16] yazoonic commented on #1816
@HuiSF do you have anyway to migrate from private to owner auth? I tired multi auth then update to owner and I cant access data

[2022-06-28 15:41] ragingsquirrel3 commented on #1824
You can update via API with conflict resolution enabled, you just have to go through extra effort to send update with correct value for _version as mentioned in aforementioned code example workaround. If you disable conflict resolution, you would be able to update with API more easily (won't need to include _version and model helpers should work) but you would then not be able to use datastore as

[2022-06-28 16:47] ragingsquirrel3 commented on #1830
@andiigtayma there is some discussion of similar issue on https://github.com/aws-amplify/amplify-flutter/issues/863 which points to https://github.com/aws-amplify/amplify-android/issues/678#issuecomment-861032813 so you can see if the installed browsers support custom tabs.

[2022-06-28 17:25] ademirtug commented on #1819
I think i did correctly set up everything.

Ok, wait a second...

[issue 910](https://github.com/aws-amplify/amplify-android/issues/910)

The above guys has also mentioned about the same problem. Does that apply amplify-flutter too?

[2022-06-28 17:44] HuiSF commented on #1829
This is an interesting use case...

Per the current state, as long as API plugin is add and configured with correct configuration, DataStore will attempt data syncing on each DataStore API calls (e.g. save, delete, query etc.). There is no way to stop it permanently and programmatically.

Your workaround is not working due to DynamoDB limitation, that a Scan operation originated from a sync query

[2022-06-28 21:06] MSKoWa commented on #1829
Further, it is written in this Flutter Doc:

https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter/#selectively-syncing-a-subset-of-your-data

that also just subsets of data can be synced by providing certain sync expression when configuring the DataStore plugin. It is also said that these expressions can be re-evaluated at runtime by changing some parameter (in this case it is some thres

[2022-06-29 01:18] rhamnett commented on #1491
@haverchuck what was the issue please?

[2022-06-29 01:32] rhamnett commented on #1362
I am still seeing this issue with 0.6.0

[2022-06-29 02:39] Jordan-Nelson commented on #1830
@andiigtayma - Just to confirm, the device has Chrome installed? Can you check what browser is set as the default on the device (listed in settings)?

[2022-06-29 05:07] andiigtayma commented on #1830
@Jordan-Nelson this worked!
Set the browser to default and the user was able to login.

[2022-06-29 10:30] PeterAkande commented on #133
+1 for desktop support..
Already had my way around it though...

Instead of using amplify, I consumed the rest APIs to do most of what we needed in our product.

[2022-06-29 11:30] ituitis-camlibel18 commented on #234
https://medium.com/@havayaucanat/flutter-how-to-run-aws-amplify-on-web-5e144d84300f
Hi everyone I published a solution for this on medium. Please have a look. If you have any issues feel free to contact.

Note: I consider this solution as a temporary solution. I hope Flutter team publishes an official solution.

[2022-06-29 11:49] wcomicho commented on #234
+1 for web support

[2022-06-29 13:21] fjnoyp commented on #1806
Hi @ProgramSalamander I really appreciate the followup as that's very important to know!

I don't have an M1 macbook to reproduce but I'll check internally to see what we can do.

[2022-06-29 13:32] fjnoyp commented on #1815
Hi @Ahmedthedev thanks for reaching out.

How do you perform the tests between your user pools?

How do you switch between either user pool?

Do you delete your app installed on your device between changing user pools?

[2022-06-29 13:42] fjnoyp commented on #1812
Thanks what devices does it not work on and are they on the same os version?

Are you able to reproduce the issue continuously on the devices in which you have the error?

[2022-06-29 14:45] Jordan-Nelson commented on #1830
Okay. I am actually going to re-open this and mark it as a bug. We should be able to support the case when a supported browser is installed, but not set to the default.

Do you know what browser was set as the default when it was not working?

[2022-06-29 16:55] abdallahshaban557 commented on #133
Hi @gam3boy1 - an alternative could be for you to use our Sigv4 client to sign HTTP requests to talk to AWS services directly. https://pub.dev/packages/aws_signature_v4. You can also try the solution mentioned by @PeterAkande to use REST APIs for your app in the meantime.

@pieterbergmans - Auth is definitely the first category we plan on supporting for web and all desktop (Mac, Windows, Linux).

[2022-06-29 19:59] HuiSF commented on #1814
Hello @MarlonJD

Thanks for reporting this issue and providing the details.

I did some testing, I can see the API GraphQL helper currently supporting only generating GraphQL document with 1 `belongsTo` associated model. In your use case, the generated many-to-many connection model `MainDepartmentStudent` has two `belongsTo` associated models `Department` and `Student`. This cause two issues:

1.

[2022-06-29 21:03] rmbk19 opened #1834 "Amplify DataStore sync failure"
### Description

I did find several git issues with the same problem. However, the workaround there did not solve my issue. The data is updated/fetched locally. The changes in the cloud DB is not reflected back to the app. I am able to observe the following logs but I am not sure how to fix the issue. -
I/amplify:aws-datastore(30159): Orchestrator transitioning from STOPPED to LOCAL_ONLY
I/amplify

[2022-06-29 22:12] MobilyteApps commented on #470
same issue

[2022-06-29 23:01] HuiSF commented on #1834
Thanks for opening this issue @rmbk19

Looking at the Dependencies list, I don't see `amplify_api` is listed. Have you added amplify_api plugin following this instruction? https://docs.amplify.aws/lib/datastore/sync/q/platform/flutter/

[2022-06-30 03:57] andiigtayma commented on #1830
@Jordan-Nelson We had no idea about how the user may have set up their phone.

Before the issue was reported to us, we looked into the logs and found
`AuthException(message: Sign-in with web UI failed, recoverySuggestion: See attached exception for more details, underlyingException: com.amazonaws.mobileconnectors.cognitoauth.exceptions.BrowserNotInstalledException: No browsers installed.`

The use

[2022-06-30 04:01] rmbk19 commented on #1834
@HuiSF, I added the amplify_api dependency like so - amplify_api: ^0.5.0 in the yaml file. I can confirm that the dependency list now has API -

dependencies:
- amplify_analytics_pinpoint 0.5.1 [amplify_analytics_pinpoint_android amplify_analytics_pinpoint_ios amplify_analytics_plugin_interface amplify_core flutter plugin_platform_interface]
- amplify_api 0.5.1 [amplify_api_plugin_interface amplif

[2022-06-30 05:13] rmbk19 commented on #1834
The link that you provided also mentioned that we need to manually configure API too. I might be following an older tutorial. So I tried the same and here is my configureAmplify() -
  final auth = AmplifyAuthCognito();
  final analytics = AmplifyAnalyticsPinpoint();
  final dataStore = AmplifyDataStore(modelProvider: ModelProvider.instance);
  final api = AmplifyAPI();

  try {
    Amplify.addPlug

[2022-06-30 05:55] rmbk19 commented on #1834
There was a stray API plugin in the amplifyconfiguration.dart file which was the reason for the issue. Removed that. I believe the sync is now working! Thanks a lot for your help @HuiSF.

[2022-06-30 05:55] #1834 closed

[2022-06-30 09:36] JakubWijata commented on #1828
@haverchuck
1. Amplify.Auth.signIn
2. It is unlikely. One user reported that situations a few days a row

[2022-06-30 09:37] JakubWijata commented on #1828
@haverchuck

1. Amplify.Auth.signIn
2. It is unlikely. One user reported that situations a few days a row

[2022-06-30 15:48] HuiSF commented on #1834
Happy to help @rmbk19 but you helped yourself, mostly :D Glad that the issue is resolved :)

[2022-06-30 15:56] HuiSF commented on #1819
Hello @ademirtug Thanks for following up.

amplify-flutter has the same limitation mentioned in the issue that you linked.

Currently the storage plugin always prefix objects with
* `public` (`AccessLevel.guest`)
* `protected` (`AccessLevel.protected`)
* `private` (`AccessLevel.private`)

This is by design for the purpose of authentication and access permission.

We have upcoming improvements for

[2022-06-30 17:35] palpatim opened #1840 "TEST ISSUE -- Disregard"
### Description

Testing issue management

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [ ] Android

### Android Device/Emulator API Level

_No response_

### Environment

[code]

### Dependencies

[code]

### Device

[2022-06-30 19:15] Jordan-Nelson commented on #1827
fixed when using the latest version of amplify_auth_cognito (0.6.1) and amplify_authenticator (0.2.1)

[2022-06-30 19:15] #1827 closed

[2022-06-30 19:17] #1765 closed

[2022-06-30 19:17] Jordan-Nelson commented on #1688
@ianfmc were you able to test that out?

[2022-07-01 09:32] salihgueler commented on #1806
Hello @ProgramSalamander I tried to reproduce this error on an M1 macbook with your settings and I could not reproduce it. Can you try to create a new project and do a fresh setup, maybe a problem occurred during the setup. cc:// @fjnoyp

[2022-07-01 13:49] Jordan-Nelson commented on #1142
@rahul-insight - Sorry for the lag in response here.

When you were experiencing this issue, did you have `initAmplify` in the same location, just without the `await`?

Without the await, there would be nothing preventing your app from calling amplify methods before configuration has finished (unless you have some logic elsewhere to prevent this). I would expect `getCurrentUser()` to throw an Exce

[2022-07-01 13:53] Jordan-Nelson commented on #828
@AzharRaeisi - Can you share your `/android/build.gradle` file so that I can see what version of kotlin and gradle is being used in your project?

[2022-07-01 16:52] HuiSF commented on #1760
Hi @yazoonic I wanted to follow up on this issue. Does my last comment make sense to you? Please let me know if you need further help.

[2022-07-01 16:55] yazoonic commented on #1760
@HuiSF  I fixed it using connectivity plus package(thank you). However; this is not the same behavior  when I used AWS amplify for IOS..

my current app in IOS is checking network ready without restart datastore (as far as I remember) ..

[2022-07-01 16:57] yazoonic commented on #1816
@HuiSF yes the crash happening in all devices and simulators.

I have more than 5k records and growing for one table. other tables have less than 200 entries.

I am thinking of something else in migration by enabling multi auth with overriding owner field .. I have to test it though.

[2022-07-01 16:58] HuiSF commented on #1708
Hello @justkj7 sorry for the delayed response. I was trying to repro this issue you were experience.

Could you let me know:
* Is this still happening for you?
* when you say "when DataStore.save() is invoked, it seems local db is updated but db in remote server is not updated correspondingly", was that happening for all models listed in your schema? Or any particular one?
* In your output of `amp

[2022-07-01 17:46] HuiSF commented on #1760
Which version of amplify-ios you are using for your native iOS App? @yazoonic

[2022-07-01 17:49] yazoonic commented on #1760
@HuiSF  1.19.2

[2022-07-01 18:00] HuiSF commented on #1760
Hum OK, all sync engine functionality and low level network communication in amplify-flutter depend on amplify-ios, it should be exactly the same behavior as amplify-ios.

DataStore syncing is resumed on any DataStore API call as well in amplify-ios.

[2022-07-01 18:49] yazoonic commented on #1760
@HuiSF I think you can close the issue till I verify again the behavior on my ios app.. but this will take time maybe next month.

[2022-07-01 18:50] HuiSF commented on #1760
Thanks @yazoonic that sounds good.
Please feel free to reach out anytime if anything that I can help with. 👍

[2022-07-01 18:51] #1760 closed

[2022-07-01 19:05] HuiSF commented on #1708
Hi @justkj7 I see the issue now.

Looking at your schema for `Room` model

[code]

You are creating a Secondary Index on the model id field (this field is the partition key in DynamoDB), where you also specified `createdAt` as the sort key of this index.

When you invoke the `save` API:

[code]

You haven't provided a value for `createdAt` field. In this case, when DataStore tries to sync this new

[2022-07-01 20:11] MarlonJD opened #1844 "iOS build time is very long"
With amplify ios archive/build time is so long. On firebase community created precompiled library for this and this prevent compiling every time the libraries. How can we create like this library? This could help us to save time if we create precompiled library for amplify.

Precompiled library of Firestone iOS sdk:
[https://github.com/intertase/firestore-ios-sdk-frameworks](https://github.com/int

[2022-07-02 04:18] justkj7 commented on #1708
Hi @HuiSF

Thanks a lot for answering my queries. The reason not to specify `createAt` when saving is to make it assigned value by server.
Is there any way to use `createdAt` which value is assigned by server as sorted key?

[2022-07-02 12:17] rhamnett opened #1845 "Cognito returns invalid username / password on CUSTOM_AUTH setup iOS/Android"
### Description

Hello, I've followed a guide which allows me to successfully authenticate with a custom challenge (an ETH wallet signature). I think there is a bug in the flutter package, as the same (working) Cognitp pool returns invalid username/password and cannot get to the "nextStep" of auth.

I will provide detailed steps and proof that the pool is returning the challenge below.

To confirm

[2022-07-03 13:03] ProgramSalamander commented on #1806
Hi @salihgueler @fjnoyp, I just updated to version 0.6.1, and now the problem has gone. Maybe @salihgueler is right, my somewhere-messed project files could cause the crash. Anyway, thank you all for your efforts :)

[2022-07-04 13:57] rhamnett commented on #1845
UpdateL I have implemented a full manual workaround using the HTTP request code above but it'd be preferable to be using the amplify library so hopefully I can aid in getting this fixed.

[2022-07-04 15:17] clementAC commented on #1716
same problem here. As amplify is designed to simplify AWS services usage it could be awesome to have in the federatedSignIn an option like `mergeExistingAccount:true/false`.
There is almost no use case in modern application where you want your user to create multiple accounts with the same email from different auth provider.

[2022-07-04 15:49] filippomenchini opened #1848 "Upload unauthorized error"
### Description

Hi!
I'm experiencing some problems while uploading files to my bucket.

My users usually login the first time they open the app, then I use

[code]
to autologin them everytime they open the app.

The problem arises when a user that has been logged in for more than 30 days tries to upload an object to S3.
To be able to upload the object, the user has to logout and login again.

Loo

[2022-07-04 19:20] abdallahshaban557 commented on #1806
Thank you for getting back to us, @ProgramSalamander!

[2022-07-04 19:20] #1806 closed

[2022-07-05 05:31] Jordan-Nelson commented on #1848
Hello @filippomenchini - What is the refresh token expiration time set to in Cognito? By default it is 30 days, but can be changed to anything between 60 minutes and 10 years.

Once the refresh token expires, fetchAuthSession should throw an exception. The user will have to log back in with their username and password once it has expired.

[2022-07-05 06:30] filippomenchini commented on #1848
Hi @Jordan-Nelson , thank you for your answer!
I'll try with changing the refresh token expiration time.

I didn't get any exception from fetchAuthSession unfortunately. I'll try to play with that to see if I'm, handling the exception in a wrong way.

Thanks again!

[2022-07-05 08:53] mohammadfayiztp commented on #234
+1 for web support

[2022-07-05 13:12] 0xraks opened #1849 "Model Failed to Sync in Content Tab of Amplify Studio"
### Description

Dynamo DB that is created by Amplify has the following fields:

- _lastChangedAt
- __typename
- createdAt
- updatedAt

Any way I can disable it from creating these?

I'm trying to add data from AWS IoT Core to the DynamoDB with an SQL rule:

` SELECT *, (cast(timestamp() as String)) as _lastChangedAt, from 'topic/MQTT'  `

The problem with this is that the IoT Core SQL Rule to add

[2022-07-05 17:40] djorgji commented on #1501
Hi @HuiSF sorry for the radio silence for this long, we have removed our dependency to Datastore as the possible configurations to the datastore did not fit our IoT use case that generates a lot of data and update events all the time. We are just utilizing the API for the time being and working towards rolling out own solution utilizing Hive.

However we have hit a couple of snugs utilizing the Gr

[2022-07-05 19:19] Jordan-Nelson commented on #1848
Okay. You should get an exception. If we can get some reproducible steps then we can create a bug. If you can share the code in which you are calling this function and catching the exception I can see if I can reproduce that.

[2022-07-05 20:23] anthonyaquino83 commented on #1543
Please, how did you fix it? I'm having the same problem.

[2022-07-06 02:47] sundersc commented on #1849
@0xraks - Are there any errors in cloudwatch related to the SQL rule? DynamoDB throws an error when you combine * with other fields. Instead of using *, can you try mentioning the fields explicitly?

For example, the below query would throw an error.
[code]
![image](https://user-images.githubusercontent.com/83315412/177457003-38ca9328-056b-476d-a777-ce9c3878b391.png)

[2022-07-06 08:07] JakubWijata commented on #1828
@haverchuck Do you have any information or potential causes?

[2022-07-06 15:08] dorontal opened #1853 "Unable to upload to S3 - getting 403 AccessDenied errors when uploading to storage"
### Description

After setting up S3 storage via the CLI for Auth users to have all CRUD operations, and trying from the app source code to upload a file (tried with all three `StorageAccessLevel`: `.private` `.protected` or `.guest` and the same issue shows up with any of these), the upload fails with this exception:
[code]

The Flutter client app code that caused this exception follows.. The err

[2022-07-06 15:55] HuiSF commented on #1501
Hello @djorgji Thanks for following up.

Sorry to hear about this. I've heard AppSync subscription now supports runtime filter that functioning on the service side, hopefully this feature can come to DataStore soon, that may help with this type of use case.

`_version`, `_deleted` and `_lastChangedAt` are hidden mandatory fields added to GraphQL schema when conflict detection is enabled for the AP

[2022-07-06 16:54] parad0x96 opened #1855 "How to know when the the user is inserted in DynamoDB ."
### Description

Hello i'm facing an issue with `await Amplify.Datastore.save(user)`
I'm trying to save a user after the sign up then trigger an API call to my backend (django), but what I noticed is there is a delay after saving the user, it takes like 39 seconds before it gets created in `DynamoDB` and my API call to my backend which is a mutation always returns that the item doesnt exist yet !

[2022-07-06 16:57] HuiSF commented on #1853
Hello @dorontal Thanks for reporting this issue.

Quick check: have you signed a user while executing uploading file with `protected` access level?

[2022-07-06 17:03] dorontal commented on #1853
Hi @HuiSF and thank you for the attention to this issue. The answer is yes, a user was signed in at the time of the function call that caused the exception.

My code is set up such that it is only possible to run this upload function when a user is signed in. I know for sure that the user has logged into the app and that `Amplify.Auth.getCurrentUser()` returns a user right before calling the funct

[2022-07-06 17:14] HuiSF commented on #1855
Hi @parad0x96 thanks for opening this issue.

When invoking `Amplify.DataStore.save()`, the process of syncing newly saved record to DynamoDB is asynchronous , many factors are having an impact on the timing, such as how many records are pending to be synced, network condition etc.

For your use case

Are you triggering this API call in the same App that uses this DataStore configuration? This may

[2022-07-06 18:07] HuiSF commented on #1853
Thanks @dorontal I'll try to repro.

[2022-07-06 19:17] Sunsiha opened #1857 "Not able to get any exceptions in iOS"
I have created an application and uploaded to the TestFlight and Appstore also. First time user was able to login and then for next patch release I have uploaded to the TestFlight. Then am not able to signin only. Tried to catch the exception using toast/alert messages, firebase crashlytics. Then connected to the device which i have already installed the app from Testflight. And i run the applicat

[2022-07-06 19:39] HuiSF commented on #1857
Hello @Sunsiha Thanks for reporting this issue.

Can you elaborate on this one a bit more?

* How can you tell you were not able to sign in? Calling a specific auth API? 401'ed on API called etc.?
*  Which API call were you trying to catch possible exception with?

* sign out / re-sign in works as expected in the original version for everyone?
* What's new in your patch release? (new logic? upgrad

[2022-07-06 19:52] Sunsiha commented on #1857
Hello @HuiSF ,
1. How can you tell you were not able to sign in? Calling a specific auth API? 401'ed on API called etc.?

When I click on sign in button am calling the following API;

[code]
This am not getting any response or AmplifyException also.

2. Which API call were you trying to catch possible exception with?
- signIn
- fetchAuthSession

[code]
3. sign out / re-sign in works as expected in

[2022-07-06 20:08] Sunsiha commented on #1857
@HuiSF No it's not working. I tried. Such a weird issue.

Do sign in and sign out still work in the old version?
Nop. To check that only I updated the plugin. But for that also it didn't worked.

[2022-07-06 21:13] HuiSF commented on #1857
[Uninstall App won't clear credentials that are stored in device keychain](https://docs.amplify.aws/lib/info/app-uninstall/q/platform/ios/). If the App bundle id remains the same, it looks up the existing credentials. This could be a cause.

But I need to confirm if anything can cause a silent exception in this scenario.

Can you try to clear the keychain in the testing device see if you can get a

[2022-07-06 21:17] Sunsiha commented on #1857
Actually I have changed the end points(Staging to QA) then it worked.

Can you try to clear the keychain in the testing device see if you can get around of this?

This I will again do one more upload with opposite like QA to Staging. Then will confirm you. Will clear the keychain also if i get the issue means.

But I feel this will be the cause. Just do confirm about a silent exception in this cas

[2022-07-06 22:10] rhamnett commented on #1845
@HuiSF if you are on discord I would be happy to discuss there (rth_btc) so we can try to debug / progress this. Thanks in advance.

[2022-07-06 23:03] HuiSF commented on #1857
I tested this scenario -

1. Setup an Amplify App with userpool 1
2. Signed up a user and signed in, left the user signed in and then uninstalled the App
3. Created userpool 2, swap out the configuration in the App
4. When call `Amplify.Auth.signIn()` below exception was raised

[code]

It looks like this part is working correctly.

[2022-07-07 03:10] frankleng commented on #1716
btw - the workaround doesn't work. it might for Google (tho the error caught wasn't specific enough for us to distinguish), but certainly does not for Apple, FB, etc.
Ultimately we removed Cognito altogether, and moved to Firebase Auth - much better API, auto account merging. if you use API Gateway > Lambda: you can use the same AWS OAuth authorizer.

[2022-07-07 03:36] Sunsiha commented on #1857
Yes. This I also used to get. But only when it is like TestFlight/appstore build am not getting any exception. And the scenario which I mentioned.

[2022-07-07 07:15] sadaqatdev opened #1859 "IOS phone become heated, with this plugin"
### Description

iOS phone become heated when using this plugin , we write clear and concise code .

### Categories

- [ ] Analytics
- [ ] API (REST)
- [X] API (GraphQL)
- [X] Auth
- [ ] Authenticator
- [X] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [X] iOS
- [ ] Android

### Android Device/Emulator API Level

_No response_

###

[2022-07-07 07:19] sadaqatdev commented on #1859
amplify configuration

class ConfigurationService {
  //

  void configureAmplify() async {
    // Add the following lines to your app initialization to add the DataStore plugin
    AmplifyDataStore datastorePlugin = AmplifyDataStore(
        modelProvider: ModelProvider.instance,
        authModeStrategy: AuthModeStrategy.multiAuth,
        syncMaxRecords: 10000,
        syncPageSize: 2,

[2022-07-07 08:57] SilverLinings89 commented on #234
jup, +1, web support would be awesome

[2022-07-07 08:59] SilverLinings89 commented on #133
this would be great because (together with web support) it would be possible to develop against Amplify in a single language for all platforms. Afaik the only alternatives currently would be ionic or react native which are both inferior performance wise.

[2022-07-07 09:24] parad0x96 commented on #1855
@HuiSF  Thank you for the suggestion but I chose to use a DynamoDB  Streams Lambda Trigger for now.
I'm  closing this issue.

[2022-07-07 09:32] 0xraks opened #1860 "Amplify to IoT Core MQTT message"
### Description

Is there a way to publish an MQTT message everytime my amplify updates, without using the pub-sub lib in my app?

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Storage

### Steps to Reproduce

_No response_

### Screenshots

_No response_

### Platforms

- [ ] iOS
- [X] Android

### Android Device/Emulator

[2022-07-07 17:48] rhamnett commented on #1845
Great! what is your handle pls? Also can't seem to post in the channels any more.

[2022-07-07 21:01] HuiSF commented on #1859
Hello @sadaqatdev thanks for opening this issue.

Many factors can cause high CPU usage that may cause overheating. By reading the code example doesn't really help with identifying the actual cause.

Can you provide more information? e.g.

* can you identify which Amplify plugin APIs when you call that may cause overheating? And how are you calling these APIs
* Is the device always overheating jus

[2022-07-07 21:06] HuiSF commented on #1860
Hi @0xraks Thanks for asking this question. Unfortunately, Amplify API plugin now doesn't integrate AWS IoT. You'll need implement your own custom solution.

E.g. You can use the API plugin to make REST call to [publish an MQTT message](https://docs.aws.amazon.com/iot/latest/apireference/API_iotdata_Publish.html).

[2022-07-07 21:08] HuiSF commented on #1814
Thanks for the follow up @MarlonJD I'll find some time to test the datastore issue you described.

[2022-07-07 21:20] HuiSF commented on #1501
Thanks for the follow up @djorgji I understood the pain points.
Better support for this use case is under investigation now, and we have [an issue](https://github.com/aws-amplify/amplify-flutter/issues/1434) for tracking the progress.

As our discussion now shifted from the very original issue of this thread, do you mind if I close this issue, and we will be updating the process in above linked is

[2022-07-07 21:38] HuiSF commented on #1845
Thanks for reporting this issue @rhamnett , with a quick test, it looks like that the issue in aws-sdk-android causes it. I will do more testing and dig into iOS implementation as well.

[2022-07-07 21:39] rhamnett commented on #1845
@HuiSF thanks for looking into it.  I am seeing the same issue with iOS and android though.

[2022-07-07 23:34] HuiSF commented on #1845
Hi @rhamnett please ignore my last comment.

I followed the amplify-flutter doc you linked to create a new sample App running with custom auth. When I invoke `signIn` with only `username` parameter I was able to get correct response.

[code]

This is working in both iOS and Android without any issues.

I'm not certain why it didn't work for you, looking at your `amplifyconfiguration.dart` it has `

[2022-07-07 23:45] FireAndIceFrog commented on #1455
Was this ever resolved?

[2022-07-08 00:21] HuiSF commented on #1845
Issue is reproducible using @rhamnett provided configuration. Investigating.

[2022-07-08 04:43] Sunsiha commented on #1857
This is happening when I install from TestFlight or Appstore.

Test 1:

1. Build App with userpool 1 config, upload it to Testflight , install and sign in.
2. Don't do signout or uninstall.
3. Build App with userpool 2 config, upload it to Testflight. Update it from TestFlight. Try to login(May be you can keep for alert for to catch exceptions).

[2022-07-08 13:02] scottbisaillon commented on #1829
This feature (or lack of currently) is what is stopping me from using the amplify packages. I think being able to turn on/off sync at runtime is critical for any app wanting to offer tiered services. Offline first is already supported (which I think is great and very appealing which is what brought me to solution in the first place) so this seems to be a next logical step.

[2022-07-08 16:27] HuiSF commented on #1455
Hi @FireAndIceFrog - The solution was to regenerated models using `amplify codegen models` with the latest version of Amplify CLI.

[2022-07-08 16:39] HuiSF commented on #1845
Looking at @rhamnett used define challenge trigger implementation from [this blog post](https://davbarrick.medium.com/how-to-build-a-serverless-web3-wallet-login-like-opensea-with-metamask-and-cognito-eb93c723f4de):

[code]

The first if branch fails auth if the auth flow contains flow other than `CUSTOM_CHALLENGE`. However, with Amplify, the auth flow always starts with `SRP_A` flow. Hence, when

[2022-07-08 17:39] rhamnett commented on #1845
As per discord, thanks again for taking the timeout to investigate this. Really appreciated. Hopefully this ticket will serve useful for anyone who stumbles across the same situation.

[2022-07-08 17:39] #1845 closed

[2022-07-08 21:01] #1784 closed

[2022-07-08 21:04] HuiSF commented on #1824
Hello @zamargab while manually inserting conflict detection meta fields `_version`, `_delete` is being required to make API GraphQL and DataStore working together, we are investigating improved support of your use case.

I'm closing this issue in favor of https://github.com/aws-amplify/amplify-flutter/issues/1434 , we will be updating progress on this linked issue. Please feel free to follow up if

[2022-07-08 21:04] #1824 closed

[2022-07-08 23:21] HuiSF commented on #1708
Hi @justkj7 sorry for the delayed response. This issue is very similar to https://github.com/aws-amplify/amplify-flutter/issues/306 which probably requires a fix in the transformer. I've reached out to [amplify-category-api](https://github.com/aws-amplify/amplify-category-api) maintainers for taking a look.

[2022-07-09 16:33] sirwes opened #1863 "Feature Request: specify folder to upload file to"
I'd like to specify which folder a file is uploaded to in my s3 bucket. If the folder doesn't already exist, it should create it automatically.

[2022-07-09 20:00] HuiSF commented on #1863
Hello @sirwes thanks for opening this issue.

I think Amplify-flutter Storage plug-in is capable to achieve what you are asking.

When you invoke `Amplify.Storage.uploadFile()` API you'll provide a value for the `key` parameter. This value doesn't only present the name of the object, but can also present prefix of the object which is an equivalent to the idea of "folder".

E.g.
[code]

This call w

[2022-07-09 21:47] HuiSF commented on #1853
I did a quick testing from setting up the S3 category to run the Android App and upload a file. I don't see any issues, the upload request was properly signed.

What does the s3 trigger you mentioned exactly do?

Also have you tested the App in iOS, did it work?

[2022-07-10 01:13] sanchez-gonzalo94 opened #1864 "Real time subscriptions not working with Owner based scope"
### Description

I am trying to update a data record from Amplify Studio and see the real-time updates in my app.

When my model has @auth set to: `{allow: private}` the real-time subscriptions work perfectly, but when I also add the owner-based scopes (by deploying) the real-time does not seem to work no more.

Note: The record was added with owner-based scopes so "owner" field exists.

### Categ

[2022-07-10 19:58] HuiSF commented on #1864
Hi @sanchez-gonzalo94 thanks for reporting this issue.
Can you pasted the exception log in the Android app when the subscription fails for DataStore?

[2022-07-10 20:06] sanchez-gonzalo94 commented on #1864
Hi @HuiSF  im not getting any exception log.

I use `observeQuery` , whenever I boot up the app the model gets synced correctly but real-time subscription dont seem to work :

**VIEW MODEL:**
[code]

VIEW:
[code]

[2022-07-10 20:16] HuiSF commented on #1864
Thanks for the clarification @sanchez-gonzalo94

To clarify further:

1. DataStore can sync data (if this is true, subscription should've worked otherwise sync engine will force datastore to work in local only mode)
2. `observeQuery` doesn't receive event on `UserWorkoutDatastore` update

My follow up questions:
1. How do you mutate the model and to expect `observeQuery` to receive an event on the

[2022-07-10 20:31] sanchez-gonzalo94 commented on #1864
Yes, Datastore is syncing correctly , in fact when the app starts up the `print` function in the  subscription (`listen`) executes perfectly.

Responding to your follow up questions:
1. I mutate the model from Amplify UI.
2. Since I mutate from Amplify UI, those fields are not present (they only appear in dynamodb).
3. Yes, `@auth(rules: [{allow: private}, {allow: owner}]` .

More info to clarify,

[2022-07-10 20:46] HuiSF commented on #1864
This gave me a clue, that the model you were mutating with Amplify UI, doesn't contain a matching owner field to your currently signed in user in the mobile App (by default is the user sub I think).

Can you check, after mutating in Amplify UI, is the record in DynamoDB contain correct owner field?

I'm not very familiar with Amplify UI but I thought it's just a UI library... Are you actually usin

[2022-07-10 22:33] sanchez-gonzalo94 commented on #1864
So I found something interesting, I opened the console  Amplify Studio (UI) and found out that apperently this is what it uses to update the records.

[code]

So I update the private auth type to: `@auth(rules: [{allow: owner}, {allow: private, provider: **iam**}]` with the IAM role thinking that maybe that could be it. Sadly nothing.

This is the response I get from updating a record the Network

[2022-07-11 01:05] djorgji commented on #1501
I would be ok with closing this if we add `_delete` support to that other issue.

[2022-07-11 02:16] Desync-o-tron opened #1865 "Unable to retrieve Authorization Code after social sign on."
I've configured my app to let me sign in and sign out. I can see logins on my AWS user pool and for the currently signed in user, I can see my username and id with your Flutter API. However, using this library, I cannot access the Authorization Code that is normally returned in the HTTP response on sign-in.

Normally, I can get this code with a get request like this: `https://xxx-temp.auth.us-east

[2022-07-11 04:50] 0xraks commented on #1849
Hi @HuiSF ,
Yes, I've tried the double quotes, but it doesn't help. The IoT core SQL is not allowing me to set an alias with anything beginning with an "-".

So `SELECT timestamp() as lastChangedAt` is OK.
But
`SELECT timestamp() as _lastChangedAt` is not good and throws the error.

Is there any way I can rename "_lastChangedAt" to something like "last_Changed_At" from the Amplify side?

[2022-07-11 09:45] Nut41tank opened #1866 "Received an IO exception while making the request after 10 second"
### Description

Got  ApiException(message: Received an IO exception while making the request., recoverySuggestion: Retry the request., underlyingException: java.net.SocketTimeoutException: timeout) when reaching 10 second are there anyway to increase the default timeout

### Categories

- [ ] Analytics
- [X] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [ ] Stora

[2022-07-11 15:18] dorontal opened #1867 "Datastore - observeQuery() throws exception when more than one Auth (multiauth) is configured in `amplifyconffiguration.dart`"
### Description

When you have more than one Auth configured in `amplifyconfiguration.dart` - the function `Amplify.DataStore.observeQuery()` throws an exception.  You can see in the console errors that are provided from the Android emulator that the failure is due to the fact that Amplify Flutter cannot yet handle multiple Auth in the same configuration file. But the Amplify Flutter documentation

[2022-07-11 16:05] filippomenchini commented on #1848
Hi @Jordan-Nelson sorry for the delay. Here's the code:
[code]
Let me know if there's something wrong with it, thank you! :)

[2022-07-11 16:56] HuiSF commented on #1864
Hi @sanchez-gonzalo94 is your use case relying on following?

* Add/update record in Amplify Studio
* Expect amplify-flutter implemented mobile client to receive updates for above add/update with owner auth

If this is true, I doubt it's going to work...

[Owner auth is per-user](https://docs.amplify.aws/cli/graphql/authorization-rules/#per-user--owner-based-data-access), meaning the records are t

[2022-07-11 17:01] HuiSF commented on #1867
Hello @dorontal thanks for opening this issue.

The exception is self explanatory - `There is more than one API configured for this plugin with matching endpoint type.`. This exception gets thrown when you have multiple keys under `awsAPIPlugin` and using API plugin along with DataStore. DataStore requires only 1 key to be presented under `awsAPIPlugin`.

Why do you need to modify the config file?

[2022-07-11 17:35] dorontal commented on #1867
Hi @HuiSF -

Amplify apps need multi-auth for GraphQL API, for many use cases. Any use case where you need public and private access is such  use-case, I believe.

Your own documentation explains how to add, manually, a new section, see

https://docs.amplify.aws/lib/restapi/authz/q/platform/flutter/#cognito-user-pool-authorization

and see comment here:

https://github.com/aws-amplify/amplify-flut

[2022-07-11 17:52] HuiSF commented on #1849
Unfortunately, I don't think the conflict detection fields are customizable at this moment.

[2022-07-11 18:04] HuiSF commented on #1867
Hi @dorontal thanks for the follow up and more details.

The document listed multi-auth modes configuration for GraphQL and REST APIs is not applicable for DataStore use case at this moment. DataStore relies on single GraphQL API to back the sync engine, and [resolves valid auth method by priority](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#multiple-authorization-t

[2022-07-11 18:10] dorontal commented on #1867
@HuiSF - thanks very much for your response. I just noticed that I don't yet use multi-auth for the GraphQL (just needed multi-auth for the REST, thanks for noticing that I used it there).

So will try running this code in regular (single) Auth and will report.

[2022-07-11 19:22] dorontal commented on #1867
@HuiSF thanks for those flags and the new usage!, but my current version of the library does not allow for the `apiName` flag to be added to the call to `AmplifyDataStore()` - the named parameter `apiName` is undefined for `AmplifyDatastore()` -- I did notice that there is another important named parameter (mentioned in the documentation) that must be added and that is `authModeStrategy`, as in:
[

[2022-07-11 19:29] HuiSF commented on #1867
`authModeStrategy: AuthModeStrategy.multiAuth` this parameter doesn't resolve valid auth between GraphQL API configurations. It still requires 1 GraphQL endpoint to be listed in the configuration file, (so it won't fix the exception you encountered).

`apiName: 'tracktunesCognito'` will be an upcoming improvement (I renamed your issue and marked it as a feature request), please stay tuned.

[2022-07-11 19:53] haverchuck commented on #1866
@Nut41tank I do not believe this is possible at the moment, but seems like a valid feature request.

[2022-07-11 20:43] haverchuck commented on #1865
@Desync-o-tron - We'd like to understand your use case a little better. How do you plan on using the authorization code that is part of the OAuth process here? The signIn API will cause User Pool Tokens and (if you're using an identity pool) AWS Credentials to be cached locally, which you can then use sign to requests. What is the authorization code for?

[2022-07-11 22:00] HuiSF commented on #1867
I think there is misunderstanding here...

The multi-auth modes for GraphQL and REST using Amplify API plugins is conceptually different from multi-auth in DataStore.

The former - configure multiple APIs, each API is with a different auth mode, you choose which API to use in order to choose a specific auth mode.
The latter - DataStore relies on a single GraphQL API, it resolve a usable auth metho

[2022-07-11 22:18] dorontal commented on #1867
This makes sense - that APIs are allowed to use multi Auth already. That's what my app needs. The API section of `amplifyconfiguration.dart` is the only place whereI made the multi-auth change, i.e, API is the only section of the config where I added a Cognito API configuration in addition to the CLI-generated IAM API configuration.

I did not touch any other part of the config file, only the API

[2022-07-11 22:28] sanchez-gonzalo94 commented on #1864
Yes, my use case is that the user creates the record from the app then it syncs to the cloud and then from the backend with another auth type updates the given record and syncs back down to the end users app.

Something like: [owner-and-static-group-combined](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#owner-and-static-group-combined) but instead of a group of users

[2022-07-12 02:21] dorontal commented on #1867
I think I see the misunderstanding: if I ever said "endpoints" I meant "configurations" - there are two configurations of GraphQL, in `amplifyconfiguration.dart` - both use the same API endpoint.

One uses an `authorizationType` of `AWS_IAM`, while the other uses an `authorizationType` of `AMAZON_COGNITO_USER_POOLS`.

Maybe I wasn't clear but it is those two configurations (or whatever they are ca

[2022-07-12 05:12] 0xraks commented on #1849
I used AWS lambdas instead of using IoT-Core rules to insert entries to the DB and now amplify syncs with no Issues.
Thanks All!

[2022-07-12 05:12] #1849 closed

[2022-07-12 05:15] 0xraks commented on #1860
hey @HuiSF ,

I used AWS Lambda function again to trigger a MQTT pub every time my APP inserts new entry to DB. Works great. Thanks!

[2022-07-12 05:15] #1860 closed

[2022-07-12 09:54] zamargab commented on #1467
Do I need to open a new issue on this?

[2022-07-12 15:42] MSKoWa commented on #563
Hi,

I had similar issues. I logged in, logged out, or whatever and my code did not run in the specified callback function where I set a lot of breakpoints. What I had was the following:
[code]

I removed the `async` keyword and it worked again....

[2022-07-12 21:20] HuiSF commented on #1867
Here's a summary of my findings:

1. API plugin (use without DataStore plugin) and DataStore plugin both support multi-auth but they are working in different ways
2. API plugin multi-auth modes is not configurable by Amplify CLI, it requires manual configuration following [this doc](https://docs.amplify.aws/lib/graphqlapi/authz/q/platform/ios/#configure-multiple-authorization-modes). Auth modes in

[2022-07-12 22:17] dorontal commented on #1867
Hi @HuiSF - and thank you so much for your response and for the informative explanation.

It's not that I want to use multi-auth with API plugin , my app is already using multi-auth with API plugin. It has to use multi-Auth, because it provides a services to people who don't even have an account and have never logged in (guests) like the ability to see a limited view of any user's profile or the a

[2022-07-13 04:09] neddstarkk opened #1875 "Calling Amplify.Storage.getUrl returns RangeError"
### Description

On calling the Amplify.Storage.getUrl function, we get a `GetUrl Err: RangeError (index): Invalid value: Valid value range is empty: 0`

### Categories

- [ ] Analytics
- [ ] API (REST)
- [ ] API (GraphQL)
- [ ] Auth
- [ ] Authenticator
- [ ] DataStore
- [X] Storage

### Steps to Reproduce

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/39521271

[2022-07-13 05:37] tree1891 commented on #1689
Same issue

[2022-07-13 09:22] dmytrohurskyi opened #1876 "Auth > "There is already a user which is signed in" on iOS"
### Description

There is a strange issue with sign in behaviour on iOS devices.
I get this auth InvalidStateException with a message "There is already a user which is signed in. Please log out the user before calling showSignIn" every time I try to sign in a user on a few particular iOS devices. I have tested it on several iPhones, but it happens only on two of them. Both have iOS 15.5 installed.

[2022-07-13 12:07] zamarwells opened #1877 "Api Query does not return all query results (GraphQL)"
### Description

I am accessing my database via API and I have noticed that when I query the database from my flutter app, I don't get all the desired query results. At first I thought this issue was because datastore was not syncing, I checkded the admin console, when I navigate to the content area, I can actually see all the desired results. I have also tried to access data through datastore and

[2022-07-13 16:33] HuiSF commented on #1875
Noticing this log:

<img width="552" alt="image" src="https://user-images.githubusercontent.com/10602282/178785016-9012ca10-179f-4bcd-b666-89edb48f133d.png">

It looks like you are invoking `getUrl` API before `Amplify.addPlugins` and `Amplify.configure` calls?
Did you use `await` for wait for above two call to complete before invoking Storage APIs?

[2022-07-13 17:11] dorontal commented on #1853
Hi @HuiSF, and thanks for your attention to this issue. Thanks very much for checking that s3 uploads are okay.

The s3 trigger checks that the file is a valid one and deletes the file if it isn't valid, it also checks that the user has not initiated too many uploads in a time window and doesn't allow the upload to happen if too many uploads have occurred. I see the exact code, this exact trigger,

[2022-07-13 17:47] dorontal commented on #1853
@HuiSF when you tried to reproduce - did you try the CLI setup exactly as I have it above?

The CLI setup is currently the **only** difference between my code and [this documentation](https://docs.amplify.aws/lib/storage/getting-started/q/platform/flutter/#uploading-data-to-your-bucket) - I've even cut & paste their upload code where they generate a dummy file called 'example.txt' and I get the sa

[2022-07-13 17:59] dorontal commented on #981
FYI: This issue may be related to Issue #1853 -- @sirajudheen53 or @orestegaolin - do you no longer have this issue?

[2022-07-13 17:59] dorontal commented on #1853
FYI, this issue may be related to #981

[2022-07-14 07:58] anilkr90251 commented on #1491
@haverchuck I am having the same issue can you provide solution?

[2022-07-14 15:17] dorontal commented on #1651
@AzharRaeisi and @haverchuck - this issue still exists for me too. I raised a similar issue recently, did not see this one at the time - feel free to merge them if you think they are identical which they may be - the one I raised is #1867

[2022-07-14 16:57] HuiSF commented on #1131
This fix for the underlying issue existed in amplify-android has been released with amplify-flutter [v0.6.2](https://github.com/aws-amplify/amplify-flutter/releases/tag/v0.6.2).

Closing this issue. Please feel free to follow up or reopen if anything. Thanks.

[2022-07-14 16:57] #1131 closed

[2022-07-14 17:03] #1440 closed

[2022-07-14 18:42] HuiSF commented on #1736
We've identified the cause for this one due to a lack of support for this kind of use case (multi-auth for API + multi-auth for DataStore in the same App).

Can you paste `modelSchemaDefinition.authRules` info in the generated models? (for the models that represent the intermediate models of many-to-many).

[2022-07-14 18:49] MarlonJD commented on #1736
Thanks for the reply, but i didn't understand that where can I found modelSchemaDefinition.authRules ?

[2022-07-15 07:15] Lorenzohidalgo commented on #1877
I've not yet worked with the premade requests `ModelQueries` but a common error/issue is expecting DynamoDB/AppSync to work as a relational database when querying.

In this case, you are filtering the results of a list request, something you should have in mind is that the filters are applied after the resolver has fetched the first `n` items from DynamoDB (being `n` the limit applied to the numbe

[2022-07-15 07:19] Lorenzohidalgo commented on #234
Any news on this? It's been a really long time without any official update

[2022-07-15 08:30] matthewfx commented on #182
Hey AWS team. Could you please let us know if and when we can expect this to be done? It is a weird experience that Google/Apple sign-in has to be done through a web UI and we've been experiencing drop-offs because of it. I think that should be very high on your priority list. Thank you in advance for any updates on it.

[2022-07-15 18:22] haverchuck commented on #1819
Closing this issue due to inactivity.

[2022-07-15 18:22] #1819 closed

[2022-07-15 18:23] haverchuck commented on #1771
Closing this issue due to inactivity.

[2022-07-15 18:23] #1771 closed

[2022-07-15 18:23] haverchuck commented on #1701
Closing this issue due to inactivity.

[2022-07-15 18:23] #1701 closed